//- 常用參數
include ../layout/_var.pug

ul
    -for(var i = 1;i<5;i++)
        li
            a(href=java)
                figure
                    img.b-lazy(src=blazy data-src=("../../upload/fa2/catalogue/img"+i+"_400_560.jpg"), alt="")
                h6 2018 Devanno catalogue
                p The Japanese texture is established to create awarm feeling in the lines of the job, and  good.