//- 常用參數
include ../layout/_var.pug




doctype html
|
|
<html lang="en">
|
|
+head
|
|
//後端請注意: 下方data-themeColor 請填入這個分館的主題色 同分館的所有頁面都要一樣
body#catalogue.branchCatalogue(data-themeColor="#3e2820")
    include ../layout/_header.pug

    main



    
    include  ../layout/_footer.pug
+script
|
|
</html>