.hide_lightbox.support
    position: fixed
    opacity: 0
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(232,52,52,.9)
    z-index: 11
    overflow-y: scroll
    transition: opacity .5s
    .container
        padding-top: 100px
        padding-bottom: 140px
        position: relative
        +rwdw(1115)
            padding-top: 60px
            padding-bottom: 60px
    .container-inner
        max-width: 1115px
        margin: 0 auto
        position: relative
    .container2
        max-width: 900px
        margin: 0 auto
        margin-top: -7vh
        padding-bottom: 45px
        background-color: #fff
        position: relative
        z-index: 99999
        +rwdw(900)
            margin-top: 0
        .a-list
            padding-top: 60px
            margin-bottom: 40px
            padding-bottom: 35px
            max-width: 595px
            width: 90%
            margin: 0 auto
            border-bottom: 1px solid #000
            &:last-child
                border: none
            &__img
                // max-width: 140px
                max-width: 200px
                max-height: 50px
                margin: 0 auto
                margin-bottom: 45px
            &-inner
                &__title
                    font-size: rem(17px)
                    margin-bottom: 10px
                &__p
                    font-size: rem(15px)
                    line-height: 24px
                    text-align: center
            li
                margin-bottom: 60px
                &:last-child
                    margin-bottom: 0
        .a-list-dl
            &__title
                font-size: rem(15px)
                font-weight: bold
            &__p
                font-size: rem(15px)
            hr
                border: 1px solid #d4d4d4
                height: 16px
                width: 2px
                margin: 0 8px

.hide_lightbox.support.open
    opacity: 1

.hide_lightbox.support.close
    opacity: 0