<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <meta name="format-detection" content="telephone=no">
    <title>TECOEP</title>
    <!-- icon -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/img/favicon/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/favicon/favicon.png">
    <link rel="icon" type="image/x-icon" href="../../assets/img/favicon/favicon.png">
    <!-- 共用CSS -->
    <link rel="stylesheet" href="../../assets/js/vendor/cgpagechange/cgpagechange.css">
    <link rel="stylesheet" href="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="../../assets/js/vendor/slick/slick.css">
    <link rel="stylesheet" href="../../assets/js/vendor/slick/slick-theme.css">
    <!-- 共用CSS end-->
    <!-- 非共用CSS -->
    <!-- 非共用CSS end-->
    <link rel="stylesheet" href="../../assets/css/home/home.css">
</head>

<body id="home" class="index">
    <header>
    </header>
    <main>
        <!-- 後端請注意:此處的圖片如果為深色圖 data-color值為darkBg 如果為淺色圖 darkBg 為空白 -->
        <article class="banner">
            <div class="_slick">
                <ul>
                    <li>
                        <div class="slick_img">
                            <!--圖片 電腦版尺寸1920*1080  手機板尺寸640*900 -->
                            <picture>
                                <!--[if IE 9]><video style="display: none;"><![endif]-->
                                <source srcset="" media="(max-width:900px)">
                                <img data-color="" class="target-image" src="../../upload/f2e/home/banner_slick_img1_1920_1080.jpg" alt="">
                            </picture>
                        </div>
                        <!-- 後端請注意:slogan 需可讓可戶選擇要放在1.右邊:right 2.左邊:left -->
                        <div class="banner_slogan left">
                            <!-- 後端請注意:此處的結構如果沒有填入內容的話請移除 -->
                            <h2>Triggering switch of future</h2>
                            <h4>R&D and manufacturing of global automatic control system.</h4>
                            <!-- 裝飾線條 -->
                            <span></span>
                            <h3>研發、製造全球自動化控制系統</h3>
                            <div class="banner_scrollDown">
                                <p>SCROLL DOWN</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="slick_img">
                            <!--圖片 電腦版尺寸1920*1080  手機板尺寸640*900 -->
                            <picture>
                                <!--[if IE 9]><video style="display: none;"><![endif]-->
                                <source srcset="" media="(max-width:900px)">
                                <img data-color="" src="../../upload/f2e/home/banner_slick_img2_1920_1080.jpg" alt="">
                            </picture>
                        </div>
                        <div class="banner_slogan left">
                            <!-- 後端請注意:此處的結構如果沒有填入內容的話請移除 -->
                            <h2>Triggering switch of future</h2>
                            <h4>R&D and manufacturing of global automatic control system.</h4>
                            <!-- 裝飾線條 -->
                            <span></span>
                            <h3>
                            研發、製造全球自動化控制系統</h3>
                            <div class="banner_scrollDown">
                                <p>SCROLL DOWN</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="slick_img">
                            <!--圖片 電腦版尺寸1920*1080  手機板尺寸640*900 -->
                            <picture>
                                <!--[if IE 9]><video style="display: none;"><![endif]-->
                                <source srcset="" media="(max-width:900px)">
                                <img data-color="darkBg" src="../../upload/f2e/home/banner_slick_img3_1920_1080.jpg" alt="">
                            </picture>
                        </div>
                        <div class="banner_slogan left">
                            <!-- 後端請注意:此處的結構如果沒有填入內容的話請移除 -->
                            <h2>Triggering switch of future</h2>
                            <h4>R&D and manufacturing of global automatic control system.</h4>
                            <!-- 裝飾線條 -->
                            <span></span>
                            <h3>研發、製造全球自動化控制系統</h3>
                            <div class="banner_scrollDown">
                                <p>SCROLL DOWN</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="slick_img">
                            <!--圖片 電腦版尺寸1920*1080  手機板尺寸640*900 -->
                            <picture>
                                <!--[if IE 9]><video style="display: none;"><![endif]-->
                                <source srcset="" media="(max-width:900px)">
                                <img data-color="darkBg" src="../../upload/f2e/home/banner_slick_img4_1920_1080.jpg" alt="">
                            </picture>
                        </div>
                        <div class="banner_slogan left">
                            <!-- 後端請注意:此處的結構如果沒有填入內容的話請移除 -->
                            <h2>Triggering switch of future</h2>
                            <h4>R&D and manufacturing of global automatic control system.</h4>
                            <!-- 裝飾線條 -->
                            <span></span>
                            <h3>研發、製造全球自動化控制系統</h3>
                            <div class="banner_scrollDown">
                                <p>SCROLL DOWN</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </article>
        <article class="product">
            <div class="_title">
                <h2>TECO Products</h2>
                <h3>機電產品</h3>
            </div>
            <div class="_slick">
                <div class="btn">
                    <div>
                        <a href="../product/index.html">
                            <p>產品總覽</p>
                        </a>
                    </div>
                    <div class="openSearch">
                        <p>產品搜尋</p>
                    </div>
                    </ul>
                </div>
                <ul>
                    <!-- 後端請注意:此處圖片建議尺寸270*380 但可相容橫版圖片 圖片會置中超出部分會被剪掉 -->
                    <li>
                        <a href="../product/type.html">
                            <div class="slick_img">
                                <img data-lazy="../../upload/f2e/home/product_slick_img1_270_380.jpg" alt="">
                            </div>
                            <p>馬達產品</p>
                        </a>
                    </li>
                    <li>
                        <a href="../product/type.html">
                            <div class="slick_img">
                                <img data-lazy="../../upload/f2e/home/product_slick_img2_270_380.jpg" alt="">
                            </div>
                            <p>變頻器產品</p>
                        </a>
                    </li>
                    <li>
                        <a href="../product/type.html">
                            <div class="slick_img">
                                <img data-lazy="../../upload/f2e/home/product_slick_img3_270_380.jpg" alt="">
                            </div>
                            <p>開關產品</p>
                        </a>
                    </li>
                    <li>
                        <a href="../product/type.html">
                            <div class="slick_img">
                                <img data-lazy="../../upload/f2e/home/product_slick_img4_270_380.jpg" alt="">
                            </div>
                            <p>減速機產品</p>
                        </a>
                    </li>
                    <li>
                        <a href="../product/type.html">
                            <div class="slick_img">
                                <img data-lazy="../../upload/f2e/home/product_slick_img4_270_380.jpg" alt="">
                            </div>
                            <p>減速機產品</p>
                        </a>
                    </li>
                </ul>
                <div class="arrow">
                    <span class="icon-home-slick-arrow-left"></span>
                    <span class="icon-home-slick-arrow-right"></span>
                </div>
            </div>
        </article>
        <article class="companyIntro">
            <div class="content">
                <div class="row">
                    <!-- 後端請注意:如果此處有影片的話 請在此加上class: openVideoLibox 點擊圖片 開啟影片燈箱-->
                    <div class="row_img openVideoLibox">
                        <div>
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/home/companyIntro_img1_720_480.jpg" alt="">
                            <!-- 裝飾方塊 -->
                            <span></span>
                        </div>
                    </div>
                    <div class="row_text">
                        <h2>創新應用 & 市場節能</h2>
                        <h3>IIoT & Saving Solutions</h3>
                        <span></span>
                        <h4>因應工業物聯網(IIoT)系統整合、創新應用、市場節能趨勢，提供動力傳輸系統性產品銷售服務，以及客製化最佳解決方案</h4>
                        <div class="link">
                            <!-- 後端請注意:請填上正確的網址 -->
                            <a href="../applications/index.html">
                        了解更多
                        </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row_img openVideoLibox">
                        <div>
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/home/companyIntro_img2_720_480.jpg" alt="">
                            <!-- 裝飾方塊 -->
                            <span></span>
                        </div>
                    </div>
                    <div class="row_text">
                        <h2>研究 & 開發能力</h2>
                        <h3>RD capabilities</h3>
                        <span></span>
                        <h4>整合東元集團的機電研發能量，匯聚所內不同領域技術人才，針對未來具革命性、前瞻性之創新技術進行市場研究、開發設計與分析</h4>
                        <div class="link">
                            <!-- 後端請注意:請填上正確的網址 -->
                            <a href="javascript:void(0)">
                        了解更多
                        </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row_img">
                        <div>
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/home/companyIntro_img3_720_480.jpg" alt="">
                            <!-- 裝飾方塊 -->
                            <span></span>
                        </div>
                    </div>
                    <div class="row_text">
                        <h2>客戶服務 & 下載</h2>
                        <h3>Customer service & download</h3>
                        <span></span>
                        <h4>因應工業物聯網(IIoT)系統整合、創新應用、市場節能趨勢，提供動力傳輸系統性產品銷售服務，以及客製化最佳解決方案</h4>
                        <div class="link">
                            <!-- 後端請注意:請填上正確的網址 -->
                            <a href="../service/index.html">
                        了解更多
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article class="news">
            <div class="_title">
                <h2>News & Events</h2>
                <h3>東元新聞與動態</h3>
            </div>
            <!-- 到手機板變slick -->
            <div class="_slick">
                <ul>
                    <!-- 後端請注意: 此處新聞只顯示最新的四個 -->
                    <li>
                        <a href="../news/detail.html">
                            <div class="slick_img_bg">
                                <i class="interBg"></i>
                                <div class="slick_img">
                                    <!-- 後端請注意:此處圖片建議尺寸260*260 但可相容放橫版的圖片 圖片會置中超過的部分會被剪掉 -->
                                    <img data-lazy="../../upload/f2e/home/banner_slick_img1_1920_1080.jpg" alt="">
                                    <span></span>
                                </div>
                            </div>
                            <!-- 時間 -->
                            <h2>2017.12.31</h2>
                            <!-- 標題 -->
                            <p>智慧製造傳產升級 東元帶動產業鏈智動化變革</p>
                        </a>
                    </li>
                    <li>
                        <a href="../news/detail.html">
                            <div class="slick_img_bg">
                                <i class="interBg"></i>
                                <div class="slick_img">
                                    <!-- 後端請注意:此處圖片建議尺寸260*260 但可相容放橫版的圖片 圖片會置中超過的部分會被剪掉 -->
                                    <img data-lazy="../../upload/f2e/home/news_img2_260_260.jpg" alt="">
                                    <span></span>
                                </div>
                            </div>
                            <!-- 時間 -->
                            <h2>2017.12.31</h2>
                            <!-- 標題 -->
                            <p>智慧製造傳產升級 東元帶動產業鏈智動化變革</p>
                        </a>
                    </li>
                    <li>
                        <a href="../news/detail.html">
                            <div class="slick_img_bg">
                                <i class="interBg"></i>
                                <div class="slick_img">
                                    <!-- 後端請注意:此處圖片建議尺寸260*260 但可相容放橫版的圖片 圖片會置中超過的部分會被剪掉 -->
                                    <img data-lazy="../../upload/f2e/home/news_img3_260_260.jpg" alt="">
                                    <span></span>
                                </div>
                            </div>
                            <!-- 時間 -->
                            <h2>2017.12.31</h2>
                            <!-- 標題 -->
                            <p>智慧製造傳產升級 東元帶動產業鏈智動化變革</p>
                        </a>
                    </li>
                    <li>
                        <a href="../news/detail.html">
                            <div class="slick_img_bg">
                                <i class="interBg"></i>
                                <div class="slick_img">
                                    <!-- 後端請注意:此處圖片建議尺寸260*260 但可相容放橫版的圖片 圖片會置中超過的部分會被剪掉 -->
                                    <img data-lazy="../../upload/f2e/home/news_img4_260_260.jpg" alt="">
                                    <span></span>
                                </div>
                            </div>
                            <!-- 時間 -->
                            <h2>2017.12.31</h2>
                            <!-- 標題 -->
                            <p>智慧製造傳產升級 東元帶動產業鏈智動化變革</p>
                        </a>
                    </li>
                </ul>
            </div>
        </article>
    </main>
    <footer>
    </footer>
    <script src="../../assets/js/style.js"></script>
</body>


</html>