@charset "UTF-8";
.container {
  padding-top: constant(safe-area-inset-top);
  padding-right: constant(safe-area-inset-right);
  padding-bottom: constant(safe-area-inset-bottom);
  padding-left: constant(safe-area-inset-left); }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; }

body {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  position: relative;
  font-size: 100%;
  line-height: 1;
  font-weight: normal;
  font-family: 'CenturyGothic-bold','微軟正黑體', 'Microsoft JhengHei', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern';
  -webkit-overflow-scrolling: touch; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

iframe {
  display: block; }

a {
  color: inherit;
  text-decoration: none; }

a:active,
a:hover {
  outline: 0; }

img {
  border: 0;
  display: block;
  max-width: 100%;
  height: auto; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

dl,
menu,
ol,
ul {
  margin: 0; }

ul {
  list-style: none;
  list-style-image: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button,
input {
  line-height: normal; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: none; }

input,
button,
select,
textarea {
  outline: none; }

*:focus {
  outline: none; }

input:focus,
textarea:focus {
  outline: none; }

picture {
  overflow: hidden;
  font-size: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

mark {
  background: #ff0;
  color: #000; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

hr {
  height: 1px;
  border: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated-slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.hide,
.wp1,
.wp2,
.wp3,
.wp4,
.wp5,
.wp6 {
  visibility: hidden; }

.fadeInDown,
.fadeInDown2,
.fadeInUp,
.pulse,
.fadeIn,
.bounceIn {
  visibility: visible !important; }

.delay-02s {
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s; }

.delay-03s {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s; }

.delay-05s {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s; }

.delay-06s {
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s; }

.delay-07s {
  animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s; }

.delay-08s {
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s; }

.delay-09s {
  animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s; }

.delay-10s {
  animation-delay: 1s;
  -webkit-animation-delay: 1s; }

.delay-15s {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s; }

.delay-20s {
  animation-delay: 2s;
  -webkit-animation-delay: 2s; }

.delay-25s {
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s; }

.delay-30s {
  animation-delay: 3s;
  -webkit-animation-delay: 3s; }

.delay-35s {
  animation-delay: 3.5s;
  -webkit-animation-delay: 3.5s; }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(25%);
    transform: translateY(5%); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(25%);
    transform: translateY(25%); }
  to {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0); } }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  animation-duration: .8s;
  -webkit-animation-duration: .8s;
  animation-delay: .2s;
  -webkit-animation-delay: .2s; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  animation-duration: .8s;
  -webkit-animation-duration: .8s;
  animation-delay: .2s;
  -webkit-animation-delay: .2s; }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%); }
  to {
    opacity: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); } }

@keyframes fadeOutUp {
  from {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%); }
  to {
    opacity: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); } }

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp; }

@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%); }
  to {
    opacity: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); } }

@keyframes fadeOutLeft {
  from {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%); }
  to {
    opacity: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); } }

.fadeOutLeft {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp; }

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50%);
    transform: translateX(50%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50%);
    transform: translateX(50%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight; }

@-webkit-keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }

@keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }

.slideOutUp {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp; }

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }

@keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown; }

@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }

@keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp; }

@-webkit-keyframes allin {
  0% { }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1; } }

@keyframes allin {
  0% { }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1; } }

main {
  display: block;
  padding-top: 120px;
  min-height: 100vh; }

.testbox {
  position: relative;
  -webkit-mask-image: url("../../../upload/testsvg.svg");
  mask-image: url("../../../upload/testsvg.svg");
  -ms-mask-image: url("../../../upload/testsvg.svg");
  width: 1000px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .testbox .frame {
    position: relative; }
  .testbox .test1 {
    position: absolute; }
  .testbox .test2 {
    width: 100%;
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

button {
  width: 100px;
  height: 50px; }
