<section class="libox1">
    <div class="liboxClose">
        <span></span>
    </div>
    <div class="_title">
        <div class="en">Delete Account Application</div>
        <div class="ch">刪除帳號申請</div>
        <div class="_text">
            <p>
                親愛的申請者您好，
                <br> 如果您認為不會再使用本網站，可以要求永久刪除本帳號，這代表他人 無法於網站中看到您的帳號以及透過本帳號發佈的所有資訊。 請注意，刪除後將無法重新啟用，或擷取任何已加入的內容，因此在執 行本動作前，建議您先申請本帳號之資料備份。
                <br>
                <br>您提出帳號刪除要求的 14 天後，我們就會開始刪除程序。在這段期間 內，您的帳號會處於停用狀態；您也可以選擇取消刪除帳號。 我們最多可能需要 90 天的時間（自刪除程序啟動時起算），才能刪除 您發佈的所有內容，他人將無法在我們進行刪除時看到這些資訊。
            </p>
        </div>
    </div>
    <div class="button">
        <ul>
            <li class="back">
                <button>
                    <span></span>
                    <p>Back：返回前頁</p>
                </button>
            </li>
            <li class="continue">
                <button>
                    <span></span>
                    <p>Continue：確定刪除</p>
                </button>
            </li>
        </ul>
    </div>
</section>
<section class="libox2">
    <div class="liboxClose">
        <span></span>
    </div>
    <div class="_title">
        <div class="en">Application Success</div>
        <div class="ch">您的帳號已停止刪除</div>
        <div class="_text">
            <p>
                測試文字:巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉
            </p>
        </div>
    </div>
    <div class="button">
        <ul>
            <li class="ok">
                <button>
                    <span></span>
                    <p>OK：確定</p>
                </button>
            </li>
        </ul>
    </div>
</section>