<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="language" content="tw" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="title" content="網站標題名稱" />
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <meta name="copyright" content="作者名子">
    <title>franzaward</title>
    <!-- 共用CSS -->
    <link rel="stylesheet" href="../../assets/js/vendor/cgpagechange/cgpagechange.css">
    <link rel="stylesheet" href="../../assets/js/vendor/jquery.mCustomScrollbar.min.js/jquery.mCustomScrollbar.min.css">
    <!-- 共用CSS end-->
    <!-- 非共用CSS -->
    <link rel="stylesheet" href="../../assets/js/vendor/perfect-scrollbar/perfect-scrollbar.min.css">
    <!-- 非共用CSS end-->
    <!-- 自訂的css -->
    <link rel="stylesheet" href="../../assets/css/member/forgetPassword.css">
</head>

<body id="member" class="forgetPassword">
    <main>
        <article class="header">
            <div class="X">
                <span></span>
            </div>
            <div class="_title">
                <h2>Registered Account</h2>
                <p>申請參賽者帳號</p>
            </div>
            <div class="hdlogo">
                <a href="../home/index.html">
                    <img src="../../assets/img/hdLogo.png" alt="">
                    <h1>franzaward</h1>
                </a>
            </div>
        </article>
        <article class="content">
            <section class="stepNav">
                <ul>
                    <span class="blueLine"></span>
                    <!-- 後端請注意:第一個li 一定要有active checked 這兩個class -->
                    <li class="active checked">
                        <h5>Step1</h5>
                        <p>填寫註冊帳號</p>
                    </li>
                    <li>
                        <h5>Step2</h5>
                        <p>輸入驗證碼</p>
                    </li>
                    <li>
                        <h5>Step3</h5>
                        <p>設定新密碼</p>
                    </li>
                    <li>
                        <h5>Step4</h5>
                        <p>成功完成設定</p>
                    </li>
                </ul>
                <span class="scrollBar"></span>
            </section>
            <section class="tableContent">
                <form class="step1 step active">
                    <div class="_title">
                        <h6>Please fill in your Application Account<span>填寫您的註冊帳號</span></h6>
                        <p>您好，請於下方填寫當初申請時所使用的聯繫信箱及手機號碼，待完成驗證流程後，您將可以自行設定一組新的使用密碼。</p>
                    </div>
                    <div class="account type">
                        <div class="workbox email">
                            <h5>E-mail   註冊聯繫信箱</h5>
                            <input type="text" placeholder="example@franzaward.com">
                        </div>
                        <div class="mobile workbox">
                            <h5>Mobile   聯繫手機號碼</h5>
                            <!-- <input class="countryCode" type="text" placeholder="+886"> -->
                            <div class="dropList countryCode">
                                <span class="selectMenu">
                                    <p>國際碼</p>
                                </span>
                                <ul>
                                    <li>台灣</li>
                                    <li>大陸</li>
                                    <li>美國</li>
                                    <li>英國</li>
                                    <li>法國</li>
                                    <li>瓦甘達</li>
                                    <li>埃及</li>
                                    <li>土耳其</li>
                                    <li>沙烏地阿拉伯</li>
                                </ul>
                            </div>
                            <span></span>
                            <input class="phoneNumb" type="number" placeholder="fill in yout contact number here">
                        </div>
                        <div class="workbox smallCode">
                            <h5>Verification Code   驗證碼</h5>
                            <input type="text" placeholder=" Click on word to refresh the code  點擊驗證碼可再次刷新" data-rwdPlaceholder="點擊驗證碼可再次刷新">
                            <img src="../../assets/img/contactBg/code.png" alt="">
                        </div>
                    </div>
                    <div class="button">
                        <div class="next">
                            <!-- 後端請注意:請在此頁尋找activeStep 有說明可看-->
                            <a href="javascript:void(0)">
                                <p>Next <span>：輸入驗證碼</span></p>
                            </a>
                        </div>
                    </div>
                </form>
                <div class="step2 step">
                    <div class="_title">
                        <h6>Confirm Your Identification<span>驗證操作身分</span></h6>
                        <!-- 後端請注意:下方的span無意義 如果用不到可以刪除 -->
                        <p>為了驗證是否由本人進行操作，我們發送了六位數的驗證碼至您的信箱 <span>example@franzaward.com</span>，若您一直未收到驗證信件，請檢查垃圾信件夾，或點擊重新發送，再嘗試一次。</p>
                    </div>
                    <h3>Enter the verification code  請於下方輸入您的驗證碼</h3>
                    <form class="code">
                        <ul id="vcode">
                            <li>
                                <input type="text" placeholder="0" maxlength="1">
                            </li>
                            <li>
                                <input type="text" placeholder="0" maxlength="1">
                            </li>
                            <li>
                                <input type="text" placeholder="0" maxlength="1">
                            </li>
                            <li>
                                <input type="text" placeholder="0" maxlength="1">
                            </li>
                            <li>
                                <input type="text" placeholder="0" maxlength="1">
                            </li>
                            <li>
                                <input type="text" placeholder="0" maxlength="1">
                            </li>
                        </ul>
                        <div class="note">
                            <p>NOTICE : 驗證碼輸入錯誤</p>
                        </div>
                    </form>
                    <div class="button">
                        <a href="javascript:void(0)" class="toStep3 next">
                            <p>Next<span>：獲得新密碼</span></p>
                        </a>
                        <a href="javascript:void(0)" class="resend">
                            <p>Resend<span>：重新發送驗證碼</span></p>
                        </a>
                        <a href="javascript:void(0)" class="toStep1 prev">
                            <p>Prev<span>：填寫註冊帳號</span></p>
                        </a>
                    </div>
                </div>
                <form class="step3 step">
                    <div class="_title">
                        <h6>Please fill in your new password<span>填寫您的新密碼</span></h6>
                        <!-- 後端請注意:下方的span無意義 如果用不到可以刪除 -->
                        <p>恭喜您完成驗證手續，請於下方填寫您的新密碼，確認送出後即可使用新密碼進行帳號登入。</p>
                    </div>
                    <div class="type">
                        <!-- 後端請注意:如果要讓勾勾變藍色 請在下方workbox加上class checked-->
                        <div class="workbox newPs checked">
                            <h5>New password   欲更換的新密碼</h5>
                            <input type="text" placeholder="請將密碼設定至少8位數以上，並包含英文與數字" data-rwdPlaceholder="密碼至少8位數包含英文與數字">
                            <span class="hook"></span>
                        </div>
                        <!-- 後端請注意:如果要讓勾勾變藍色 請在下方workbox加上class checked-->
                        <div class="workbox newPs">
                            <h5>Confirm Password   再次輸入新密碼</h5>
                            <input type="text" placeholder="請將密碼設定至少8位數以上，並包含英文與數字" data-rwdPlaceholder="密碼至少8位數包含英文與數字">
                            <span class="hook"></span>
                        </div>
                    </div>
                    <div class="button">
                        <div class="next">
                            <!-- 後端請注意:請在此頁尋找activeStep 有說明可看-->
                            <a href="javascript:void(0)">
                                <p>Next<span>：成功設定</span></p>
                            </a>
                            <!-- 後端請注意:下方的a是用來欺騙js的不要刪除 除非你想改js -->
                            <a style="opacity: 0;width: 0;height: 0;"></a>
                        </div>
                    </div>
                </form>
                <div class="step4 step">
                    <div class="_title">
                        <h6>New password has been set successfully<span>新密碼設定成功</span></h6>
                        <p>新密碼已設定成功，現在即可使用新的密碼進行登入。
                            <br>為確保您的帳號安全，建議您每三個月更換一次密碼設定。</p>
                    </div>
                    <div class="button">
                        <div class="finish">
                            <a href="javascript:void(0)">
                                <p>重新登入</p>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </article>
        <article class="goTop">
            <span></span>
            <p>TOP</p>
        </article>
    </main>
    <script src="../../assets/js/style.js"></script>
</body>



</html>