<!-- 提示燈箱 -->
<section>
    <div class="_text">
        <!-- 字大小28 -->
        <p class="s28">Notice</p>
        <!-- 字大小22 -->
        <p class="s22">您確定要刪除本作品嗎</p>
        <!-- 字大小14 -->
        <p class="s14">如您確定刪除，系統不會備份其相關資料，將無法重新復原您的作品。</p>
    </div>
    <ul>
        <li>
            <button>
                <p>Back<span>：返回畫面</span></p>
            </button>
        </li>
        <li>
            <button>
                <p>Delete<span>：確定刪除</span></p>
            </button>
        </li>
    </ul>
</section>