
<section class="liboxBanner">
  <figure>
    <!-- 後端請注意:電腦圖片大小--><img src="../../upload/fa2/about/branch/bgImg_1590_600.jpg" alt=""/>
  </figure>
  <div class="liboxClose"><span></span></div>
  <div class="nav">
    <div class="share">
      <button><span class="icon-share2"></span>
        <p>SHARE</p>
      </button>
      <ul>
        <li><a href="javascript:void(0)"><span class="icon-facebook" style="color:#3b5998"></span></a></li>
        <li><a href="javascript:void(0)"><span class="icon-line" style="color:#00c300"></span></a></li>
        <li><a href="javascript:void(0)"><span class="icon-twitter" style="color:#00aced"></span></a></li>
      </ul>
    </div>
    <div class="breadcrumb">
      <ul itemscope="itemscope" itemtype="https://schema.org/Product">
        <li itemprop="name"><a href="../about/index.html" itemprop="url">About Us</a><span></span>
        </li>
        <li itemprop="name">
          <h1><a href="javascript:void(0)" itemprop="url">The brand</a></h1>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="brand">
  <div class="_title">
    <h6>The Brand</h6>
    <h5>The White Horse logo is symbolic of love; the love between father and son.</h5>
  </div>
  <div class="row">
    <div class="_text">
      <h6>“Horse” might be an excellent representation of emerging to prominence</h6>
      <p>When the co-founder was pondering over what to name the brand, he came across an image of a horse. An idea came to his mind that perhaps “dark horse” might be an excellent representation of emerging to prominence.</p>
      <p>Hence, he turned to his son and asked for his opinion. The five-year-old child replied, “I like white horse more than dark one because it is cuter!”. This was it! The brand name, White Horse Ceramic, was decided!</p>
      <p>The little story showcases the love of a father for his son, which became our identity in which we aim to help our customers build an ideal dream space for their loved ones.</p>
    </div>
    <figure><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/about/branch/rowImg_380_510.jpg" alt=""/></figure>
  </div>
</section>