
<section class="liboxBanner">
  <figure>
    <!-- 後端請注意:電腦圖片大小--><img src="../../upload/fa2/about/milestone/bgImg_1590_600.jpg" alt=""/>
  </figure>
  <div class="liboxClose"><span></span></div>
  <div class="units">
    <ul>
      <li>Milestones</li>
      <li>Awards & Recognition</li>
    </ul>
  </div>
  <div class="nav">
    <div class="share">
      <button><span class="icon-share2"></span>
        <p>SHARE</p>
      </button>
      <ul>
        <li><a href="javascript:void(0)"><span class="icon-facebook" style="color:#3b5998"></span></a></li>
        <li><a href="javascript:void(0)"><span class="icon-line" style="color:#00c300"></span></a></li>
      </ul>
    </div>
    <div class="breadcrumb">
      <ul itemscope="itemscope" itemtype="https://schema.org/Product">
        <li itemprop="name"><a href="../about/index.html" itemprop="url">About Us</a><span></span></li>
        <li itemprop="name">
          <h1><a href="javascript:void(0)" itemprop="url">Milestones</a></h1>
        </li>
        <li itemprop="name">
          <h1><a href="javascript:void(0)" itemprop="url">Awards & Recognition</a></h1>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="showBox">
  <div class="_title">
    <h6>Milestones</h6>
    <p>We lever our strengths in competenciesof production and innovation in product design in order to provide customers.</p>
  </div>
  <div class="boxs">
    <!-- 後端請注意: 下方background-image須讓客戶選擇要不要上-->
    <div class="box" style="background-image: url('')">
      <div class="_text">
        <p class="year">2016</p>
        <p class="words">Comp..rehensive upgrading of production lines by adopting high-level Inkjet Digital Printing Equipment.</p>
      </div>
      <!-- 後端請注意: 下方img須讓客戶選擇要不要上-->
      <figure><img src="" alt=""/></figure>
    </div>
    <!-- 後端請注意: 下方background-image須讓客戶選擇要不要上-->
    <div class="box" style="background-image: url('')">
      <div class="_text">
        <p class="year">2013</p>
        <p class="words">Awarded exclusive patent for nano technology ceramic tile.</p>
      </div>
      <!-- 後端請注意: 下方img須讓客戶選擇要不要上-->
      <figure><img src="" alt=""/></figure>
    </div>
    <!-- 後端請注意: 下方background-image須讓客戶選擇要不要上-->
    <div class="box" style="background-image: url('../../upload/fa2/about/milestone/bgImg_500_200.jpg')">
      <div class="_text">
        <p class="year">2011</p>
        <p class="words">First to deploy advanced Inkjet Digital Printing technology in Taiwan.</p>
      </div>
      <!-- 後端請注意: 下方img須讓客戶選擇要不要上-->
      <figure><img src="" alt=""/></figure>
    </div>
    <!-- 後端請注意: 下方background-image須讓客戶選擇要不要上-->
    <div class="box" style="background-image: url('')">
      <div class="_text">
        <p class="year">2010</p>
        <p class="words">First to introduce “Ten-Years Warranty” to the consumer market in Taiwan.</p>
      </div>
      <!-- 後端請注意: 下方img須讓客戶選擇要不要上-->
      <figure><img src="../../upload/fa2/about/milestone/Img1_150_200.jpg" alt=""/></figure>
    </div>
    <!-- 後端請注意: 下方background-image須讓客戶選擇要不要上-->
    <div class="box" style="background-image: url('')">
      <div class="_text">
        <p class="year">2009</p>
        <p class="words">First to introduce Inkjet Digital Printing Porcelain Tile in Taiwan.</p>
      </div>
      <!-- 後端請注意: 下方img須讓客戶選擇要不要上-->
      <figure><img src="" alt=""/></figure>
    </div>
    <!-- 後端請注意: 下方background-image須讓客戶選擇要不要上-->
    <div class="box" style="background-image: url('../../upload/fa2/about/milestone/bgImg2_500_200.jpg')">
      <div class="_text">
        <p class="year">2008</p>
        <p class="words">Established Subsidiary Brand  Devanno./ Established third plant in Taiwan.</p>
      </div>
      <!-- 後端請注意: 下方img須讓客戶選擇要不要上-->
      <figure><img src="" alt=""/></figure>
    </div>
    <!-- 後端請注意: 下方background-image須讓客戶選擇要不要上-->
    <div class="box" style="background-image: url('')">
      <div class="_text">
        <p class="year">2001</p>
        <p class="words">Deploy Italian Officine Meccaniche S.P.A. and SACMI Press Machines.</p>
      </div>
      <!-- 後端請注意: 下方img須讓客戶選擇要不要上-->
      <figure><img src="../../upload/fa2/about/milestone/Img2_150_200.jpg" alt=""/></figure>
    </div>
    <!-- 後端請注意: 下方background-image須讓客戶選擇要不要上-->
    <div class="box" style="background-image: url('')">
      <div class="_text">
        <p class="year">2000</p>
        <p class="words">Established White Horse Ceramic Industries (Vietnam) Co., Ltd. / Established second manufacturing facility in Malaysia</p>
      </div>
      <!-- 後端請注意: 下方img須讓客戶選擇要不要上-->
      <figure><img src="" alt=""/></figure>
    </div>
    <!-- 後端請注意: 下方background-image須讓客戶選擇要不要上-->
    <div class="box" style="background-image: url('')">
      <div class="_text">
        <p class="year">1999</p>
        <p class="words">White Horse Ceramic Industries Sdn. Bhd. listed on Main Board of Malaysia Exchange.</p>
      </div>
      <!-- 後端請注意: 下方img須讓客戶選擇要不要上-->
      <figure><img src="" alt=""/></figure>
    </div>
    <!-- 後端請注意: 下方background-image須讓客戶選擇要不要上-->
    <div class="box" style="background-image: url('')">
      <div class="_text">
        <p class="year">1992</p>
        <p class="words">Established first manufacturing facility in Malaysia.</p>
      </div>
      <!-- 後端請注意: 下方img須讓客戶選擇要不要上-->
      <figure><img src="" alt=""/></figure>
    </div>
    <!-- 後端請注意: 下方background-image須讓客戶選擇要不要上-->
    <div class="box" style="background-image: url('../../upload/fa2/about/milestone/bgImg3_500_200.jpg')">
      <div class="_text">
        <p class="year">1991</p>
        <p class="words">Established White Horse Ceramic Industries Sdn. Bhd. in Malaysia.</p>
      </div>
      <!-- 後端請注意: 下方img須讓客戶選擇要不要上-->
      <figure><img src="" alt=""/></figure>
    </div>
    <!-- 後端請注意: 下方background-image須讓客戶選擇要不要上-->
    <div class="box" style="background-image: url('')">
      <div class="_text">
        <p class="year">1975</p>
        <p class="words">Full-fledged ceramic tiles manufacturer.</p>
      </div>
      <!-- 後端請注意: 下方img須讓客戶選擇要不要上-->
      <figure><img src="" alt=""/></figure>
    </div>
    <!-- 後端請注意: 下方background-image須讓客戶選擇要不要上-->
    <div class="box" style="background-image: url('')">
      <div class="_text">
        <p class="year">1967</p>
        <p class="words">Produced bowls, plates, artistic plant pots, and mosaic tiles.</p>
      </div>
      <!-- 後端請注意: 下方img須讓客戶選擇要不要上-->
      <figure><img src="" alt=""/></figure>
    </div>
    <!-- 後端請注意: 下方background-image須讓客戶選擇要不要上-->
    <div class="box" style="background-image: url('../../upload/fa2/about/milestone/bgImg4_500_200.jpg')">
      <div class="_text">
        <p class="year">1947</p>
        <p class="words">Company established. Started to produce red bricks and red roof tiles.</p>
      </div>
      <!-- 後端請注意: 下方img須讓客戶選擇要不要上-->
      <figure><img src="" alt=""/></figure>
    </div>
  </div>
</section>
<section class="showBox">
  <div class="_title">
    <h6>Awards & Recognition</h6>
    <p>We lever our strengths in competencies of production and innovation in product design in order to provide customers with best ceramic tiles. </p>
  </div>
  <div class="boxs">
    <!-- 後端請注意: 下方background-image須讓客戶選擇要不要上-->
    <div class="box" style="background-image: url('../../upload/fa2/about/milestone/bgImg5_500_200.jpg')">
      <div class="_text">
        <p class="year">2011- 2018</p>
        <p class="words">Only ceramic tiles manufacturer to have received the Taiwan Excellent Awards from Ministry of Economic Affairs for eight consecutive years</p>
      </div>
      <!-- 後端請注意: 下方img須讓客戶選擇要不要上-->
      <figure><img src="../../upload/fa2/product/series/awardImg1.png" alt=""/></figure>
    </div>
    <!-- 後端請注意: 下方background-image須讓客戶選擇要不要上-->
    <div class="box" style="background-image: url('')">
      <div class="_text">
        <p class="year">2006-2016</p>
        <p class="words">Received Ceramics New Product Award from New Taipei City Yingge Ceramics Museum each year. </p>
      </div>
      <!-- 後端請注意: 下方img須讓客戶選擇要不要上-->
      <figure><img src="" alt=""/></figure>
    </div>
    <!-- 後端請注意: 下方background-image須讓客戶選擇要不要上-->
    <div class="box" style="background-image: url('')">
      <div class="_text">
        <p class="year">2013</p>
        <p class="words">Awarded nanoMark (Dirt-proof) from Ministry of Economic Affairs, Taiwan.</p>
      </div>
      <!-- 後端請注意: 下方img須讓客戶選擇要不要上-->
      <figure><img src="" alt=""/></figure>
    </div>
    <!-- 後端請注意: 下方background-image須讓客戶選擇要不要上-->
    <div class="box" style="background-image: url('')">
      <div class="_text">
        <p class="year">2011</p>
        <p class="words">Awarded nanoMark (Antibacterial) from Ministry of Economic Affairs, Taiwan</p>
      </div>
      <!-- 後端請注意: 下方img須讓客戶選擇要不要上-->
      <figure><img src="../../upload/fa2/about/milestone/awardsImg_90_90.png" alt=""/></figure>
    </div>
    <!-- 後端請注意: 下方background-image須讓客戶選擇要不要上-->
    <div class="box" style="background-image: url('')">
      <div class="_text">
        <p class="year">2010</p>
        <p class="words">First Taiwanese Ceramic Tile manufacturer to attain the Taiwan-made Product MIT Smile recognition.</p>
      </div>
      <!-- 後端請注意: 下方img須讓客戶選擇要不要上-->
      <figure><img src="../../upload/fa2/about/milestone/awardsImg3_70_120.png" alt=""/></figure>
    </div>
    <!-- 後端請注意: 下方background-image須讓客戶選擇要不要上-->
    <div class="box" style="background-image: url('')">
      <div class="_text">
        <p class="year">2008</p>
        <p class="words">Received National Quality Guarantee Golden Award from Chinese Industry, Commerce, Economy, Trade, Science &amp; Technology Development Association (ICET), Taiwan.</p>
      </div>
      <!-- 後端請注意: 下方img須讓客戶選擇要不要上-->
      <figure><img src="" alt=""/></figure>
    </div>
    <!-- 後端請注意: 下方background-image須讓客戶選擇要不要上-->
    <div class="box" style="background-image: url('../../upload/fa2/about/milestone/bgImg6_500_200.jpg')">
      <div class="_text">
        <p class="year">2004</p>
        <p class="words">Attained the Green Mark Certification (Taiwan) - all product series.</p>
      </div>
      <!-- 後端請注意: 下方img須讓客戶選擇要不要上-->
      <figure><img src="" alt=""/></figure>
    </div>
    <!-- 後端請注意: 下方background-image須讓客戶選擇要不要上-->
    <div class="box" style="background-image: url('')">
      <div class="_text">
        <p class="year">1999</p>
        <p class="words">Attained ISO-9001 Certification</p>
      </div>
      <!-- 後端請注意: 下方img須讓客戶選擇要不要上-->
      <figure><img src="../../upload/fa2/about/milestone/awardsImg2_120_120.png" alt=""/></figure>
    </div>
    <!-- 後端請注意: 下方background-image須讓客戶選擇要不要上-->
    <div class="box" style="background-image: url('../../upload/fa2/about/milestone/bgImg7_500_200.jpg')">
      <div class="_text">
        <p class="year">1998</p>
        <p class="words">Received 14th The National Golden Award for Architecture, Taiwan (Exterior Porcelain Wall Tile Series)Honored by the appointment to New Taipei City Yingge Ceramics Museum for Exterior Porcelain Wall Tile.</p>
      </div>
      <!-- 後端請注意: 下方img須讓客戶選擇要不要上-->
      <figure><img src="" alt=""/></figure>
    </div>
    <!-- 後端請注意: 下方background-image須讓客戶選擇要不要上-->
    <div class="box" style="background-image: url('')">
      <div class="_text">
        <p class="year">1997</p>
        <p class="words">Received the International Building &amp; Construction Golden Global Award, Taiwan</p>
      </div>
      <!-- 後端請注意: 下方img須讓客戶選擇要不要上-->
      <figure><img src="" alt=""/></figure>
    </div>
  </div>
</section>