<section class="box">
    <div class="liboxClose"><span></span></div>
    <div class="bg"></div>
    <div class="_img">
        <img src="../../upload/fa2/reservation/liboxImg.png" alt="">
    </div>
    <div class="_text">
        <h2 class="opps">Opps!</h2>
        <h2 class="success">Success!</h2>
        <div class="px22">訂位代碼：<span class="bookingCode">B515A7</span></div>
        <h3 class="success">親愛的顧客，您的預約已經成功，薄多義期待您的光臨。</h3>
        <h4 class="success ps">貼心提醒：座位僅保留10分鐘，用餐時間為2小時</h4>
        <h3 class="noOrder">親愛的顧客您好，本時段不開放線上預約，歡迎來店現場候位，或重新選擇預約條件。</h3>
        <h3 class="noSeat">親愛的顧客您好，本日預約人數已額滿，歡迎來店現場候位，或擇日預約。</h3>
        <div class="storeInf">
            <p>復南店服務專線</p>
            <p>02-7737-8837</p>
        </div>
        <div class="tableContent">
            <!-- 姓名 -->
            <div class="name">
                <h5>預訂大名  Name</h5>
                <h6 class="value">王小明</h6>
            </div>
            <!-- 稱謂 -->
            <div class="salutation">
                <h5>稱謂  Salutation</h5>
                <h6 class="value">先生</h6>
            </div>
            <!-- 電話 -->
            <div class="tel">
                <h5>聯繫電話  Mobile / Tel</h5>
                <h5 class="hidden">聯繫電話 Tel</h5>
                <h6 class="value">0912 345 678</h6>
            </div>
            <!-- 地區 -->
            <div class="region">
                <h5>預定地區  Region</h5>
                <h6 class="value">中部地區</h6>
            </div>
            <!-- 分店 -->
            <div class="store">
                <h5>預定分店 Restaurant</h5>
                <h6 class="value">公益店</h6>
            </div>
            <!-- 日期 -->
            <div class="date">
                <h5>預定日期  Date</h5>
                <h6 class="value">2018/07/12</h6>
            </div>
            <!-- 時間 -->
            <div class="time">
                <h5>預定時間 Time</h5>
                <h6 class="value">14:00 - 15:00</h6>
            </div>
            <!-- 大人 -->
            <div class="adult">
                <h5>大人</h5>
                <h6 class="value" style="text-align: right">5</h6>
                <p>位</p>
            </div>
            <!-- 小孩 -->
            <div class="children">
                <h5>小孩</h5>
                <h6 class="value" style="text-align: right">1</h6>
                <p>位</p>
            </div>
            <!-- 兒童座椅 -->
            <div class="childrenSeat">
                <h5>我需要預備兒童座椅，總共需要</h5>
                <h5 class="hidden">需要兒童座椅</h5>
                <h6 class="value">0</h6>
                <p>張</p>
            </div>
            <div class="birthday nobg">
                <p>是否有當月壽星 Birthday person </p>
                <p class="hidden">是否有當月壽星</p>
                <input type="checkbox" id="birthday">
                <label for="birthday"></label>
            </div>
            <!-- 備註 -->
            <div class="message">
                <h5>備註  Your message for us</h5>
                <h6 class="value">本次聚餐有長輩，希望可以幫我們將座位安排在一樓，不需要上下樓梯的位置，謝謝！</h6>
            </div>
        </div>
        <div class="btn">
            <span><i></i></span>
            <p class="opps">好的，我了解</p>
            <p class="success">確定</p>
        </div>
    </div>
</section>