
<footer>
  <article class="ftContent">
    <section class="ftGotop">
      <p>TOP</p>
    </section>
    <section class="ftLink">
      <div class="link"><a href="javascript:void(0)">
          <p>聯絡我們</p></a><a href="javascript:void(0)">
          <p>下載專區</p></a><a href="javascript:void(0)">
          <p>幾米報報</p></a>
      </div>
      <div class="socialMedia"><a href="javascript:void(0)"><span class="icon-facebook"></span></a><a href="javascript:void(0)"><span class="icon-instagram"></span></a><a href="javascript:void(0)"><span class="icon-wechat"></span></a><a href="javascript:void(0)"><span class="icon-sina-weibo"></span></a></div>
    </section>
    <section class="copyright">
      <p>Copyright © Jimmy S.P.A. Co., Ltd. All Rights Reserved. </p>
      <p>Website designed by <a href="javascript:void(0)">WDD.</a><a class="openPrivacy" href="javascript:void(0)">隱私權政策</a></p>
    </section>
  </article>
</footer>