
<header>
  <!--主內容-->
  <article class="hdContent">
    <section class="left">
      <ul>
        <li><a href="javascript:void(0)">品牌介紹</a></li>
        <li><a href="javascript:void(0)">最新消息</a></li>
        <li><a href="javascript:void(0)">幾米創作</a></li>
      </ul>
    </section>
    <section class="center"><a href="../home/index.html">
        <figure><img src="../../assets/img/logo.png" alt=""/></figure></a>
      <div class="openMenu">
        <div><span></span><span></span><span></span></div>
      </div>
    </section>
    <section class="right">
      <ul>
        <li><a href="javascript:void(0)">探索幾米</a></li>
        <li><a href="javascript:void(0)">授權合作</a></li>
        <li><a href="javascript:void(0)">聯絡我們</a></li>
      </ul>
    </section>
  </article>
  <!--選單-->
  <article class="menuLibox">
    <section>
      <div class="container">
        <div class="circle"></div>
        <div class="language"><span class="icon-sphere"></span><a href="javascript:void(0)">繁體中文</a><a href="javascript:void(0)">日文</a><a href="javascript:void(0)">英文</a></div>
        <nav>
          <div class="left">
            <div>
              <h4>幾米品牌</h4>
              <ul itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                <li class="_subitem" itemprop="name"><a href="javascript:void(0)" itemprop="url">關於幾米</a></li>
                <li class="_subitem" itemprop="name"><a href="javascript:void(0)" itemprop="url">品牌故事</a></li>
              </ul>
            </div>
            <div>
              <h4>探索幾米 </h4>
              <ul itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                <li class="_subitem" itemprop="name"><a href="javascript:void(0)" itemprop="url">影視娛樂</a></li>
                <li class="_subitem" itemprop="name"><a href="javascript:void(0)" itemprop="url">展覽演出</a></li>
                <li class="_subitem" itemprop="name"><a href="javascript:void(0)" itemprop="url">公共藝術</a></li>
                <li class="_subitem" itemprop="name"><a href="javascript:void(0)" itemprop="url">主題空間</a></li>
                <li class="_subitem" itemprop="name"><a href="javascript:void(0)" itemprop="url">公益項目</a></li>
              </ul>
            </div>
          </div>
          <div class="right">
            <ul itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
              <li class="_subitem" itemprop="name"><a href="javascript:void(0)" itemprop="url">最新消息</a></li>
              <li class="_subitem" itemprop="name"><a href="javascript:void(0)" itemprop="url">幾米創作</a></li>
              <li class="_subitem" itemprop="name"><a href="javascript:void(0)" itemprop="url">授權合作</a></li>
              <li class="_subitem" itemprop="name"><a href="javascript:void(0)" itemprop="url">聯絡我們</a></li>
              <li class="_subitem" itemprop="name"><a href="javascript:void(0)" itemprop="url">下載專區</a></li>
              <li class="_subitem" itemprop="name"><a href="javascript:void(0)" itemprop="url">幾米報報</a></li>
            </ul>
          </div>
        </nav>
        <div class="socialMedia"> 
          <ul>
            <li><a href="javascript:void(0)"><span class="icon-facebook"></span></a></li>
            <li><a href="javascript:void(0)"><span class="icon-wechat"></span></a></li>
            <li><a href="javascript:void(0)"><span class="icon-sina-weibo"></span></a></li>
            <li><a href="javascript:void(0)"><span class="icon-instagram"></span></a></li>
          </ul>
          <div class="quotations">
            <p>查看<br>今日語錄</p>
          </div>
        </div>
      </div>
    </section>
  </article>
  <!--今日語錄-->
</header>