//- 常用參數
include ../layout/_var.pug






doctype html
|
|
<html lang="en">
|
|
+head
|
|
body#join.index
    include ../layout/_header.pug

    main
        article.banner 
            section.background(style="background-color:")
                picture
                    // [if IE 9]><video style="display: none;"><![endif]
                    // 後端請注意:手機圖片大小1024_1366
                    source(srcset="" media="(max-width:1024px)")
                    // 後端請注意:電腦圖片大小1920_1080
                    img(src="../../upload/fa2/home/brandsBg4_1920_1080.jpg" alt="")
            section._img
                figure
                    // 後端請注意:圖片大小1800_650
                    img(src="../../upload/fa2/join/bannerImg_1800_650.jpg" alt="")
                // 後端請注意: 須讓客戶選擇文字顏色
                ._title(style="color:#fff")
                    h2 Join us
                    span ////////////////
                    p Embed art into life and close the family with beauty
            section.overview
                span
                h6 overview
                ul
                    li
                        p Employee benefits
                    li
                        p Job information
        article.content
            section.background(style="background-color:")
                picture
                    // [if IE 9]><video style="display: none;"><![endif]
                    // 後端請注意:手機圖片大小1024_1366
                    source(srcset="" media="(max-width:1024px)")
                    // 後端請注意:電腦圖片大小1920_1080
                    img.b-lazy(src=blazy data-src="../../upload/fa2/home/brandsBg4_1920_1080.jpg" alt="")
            section.boxs
                .box
                    figure
                        img.b-lazy(src=blazy data-src="../../upload/fa2/join/detailImg_760_1080.jpg", alt="")
                    ._text
                        h5 Employee benefits
                        h6 Welcome to join the International Tile Group
                        p Baima Kiln, which has won the Taiwan Excellence Award for many years, has the largest and latest equipment  incountry, and has already surpassed its peers.
                        .buttons
                            // 開啟燈箱
                            // 後端請注意: 下方data-src請放入ajax資料的位置
                            a.leanbutton.openDetail(href=java data-src="../join/detail.html")
                                p Read more
                .box
                    figure
                        img.b-lazy(src=blazy data-src="../../upload/fa2/join/detailImg2_760_1080.jpg", alt="")
                    ._text
                        h5 Job information
                        h6 Welcome to join the International Tile Group
                        p Baima Kiln, which has won the Taiwan Excellence Award for many years , has the largest and latest equipment  incountry, and has already surpassed its peers.
                        .buttons
                            // 另開連結
                            a.leanbutton(href="https://www.104.com.tw/jobs/main/" target="_blank")
                                p 104 Human Bank
                            // 另開連結
                            a.leanbutton(href="https://www.1111.com.tw/" target="_blank")
                                p 1111 Human Bank




    include  ../layout/_footer.pug
+script
|
|
</html>