ul
    .grid-size
    // 後端請注意: 此處有四種模式 :
        1.大 big 
        2.中 middle
        3.純文字 textOnly  (基本上大小跟"中"一樣 只是只有背景顏色 沒有圖片)
        4.小 small (後端請注意: 請在後台幫我標註 如果要上小的 就一定要一次上兩個)
    li.big
        a(href="detail.html")
            figure
                // 後端請注意:圖瑱建議尺寸 730*730
                img.b-lazy(src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/index/bigImg_730_730.jpg", alt="")
            ._text
                .dateAndType
                    .date
                        p  SEP. 27
                    .type
                        p 最新消息
                .words
                    h6 MOCA台北當代藝術館15歲啦！快來和我們一起慶祝這特別的日子
    li.small
        a(href="detail.html")
            figure
                // 後端請注意:圖瑱建議尺寸 350*230
                img.b-lazy(src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/index/smallImg_350_230.jpg", alt="")
            ._text
                .dateAndType
                    .date
                        p SEP. 18
                    .type
                        p 新聞發布
                .words
                    // 後端請注意:字數限制
                    h6 藝術移動工作室Portable Studio
    li.small
        a(href="detail.html")
            figure
                // 後端請注意:圖瑱建議尺寸 350*230
                img.b-lazy(src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/index/smallImg_350_230.jpg", alt="")
            ._text
                .dateAndType
                    .date
                        p SEP. 18
                    .type
                        p 新聞發布
                .words
                    // 後端請注意:字數限制
                    h6 藝術移動工作室Portable Studio
    li.small
        a(href="detail.html")
            figure
                // 後端請注意:圖瑱建議尺寸 350*230
                img.b-lazy(src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/index/smallImg2_350_230.jpg", alt="")
            ._text
                .dateAndType
                    .date
                        p AGU. 13  
                    .type
                        p 展演資訊
                .words
                    // 後端請注意:字數限制
                    h6 視覺與肢體共創 <br/>一場獨一無二的身體演出！
    li.textOnly
        a(href="detail.html")
            // 後端請注意:此處的背景顏色要讓客戶自己決定
            ._text(style="background-color: #e83434")
                .dateAndType
                    .date
                        p SEP. 12
                    .type
                        p 園區公告
                .words
                    h6 台北當代藝術館第30期義工錄取名單
                    // 後端請注意:字數限制 65個字以內
                    p 非常感謝大家熱烈報名，最新一期的義工徵選名單出爐囉！歡迎點選附件查看內容，若你也有興趣加入義工行列，可以關注我們的官網最新動態...
    li.big
        a(href="detail.html")
            figure
                // 後端請注意:圖瑱建議尺寸 730*730
                img.b-lazy(src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/index/bigImg2_730_730.jpg", alt="")
            ._text
                .dateAndType
                    .date
                        p JUL. 19  
                    .type
                        p 最新消息
                .words
                    h6 兒童與藝術的對話：當孩子塗鴉時，創意的美學教養從此開始
    li.small
        a(href="detail.html")
            figure
                // 後端請注意:圖瑱建議尺寸 350*230
                img.b-lazy(src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/index/smallImg3_350_230.jpg", alt="")
            ._text
                .dateAndType
                    .date
                        p SEP. 20  
                    .type
                        p 最新消息
                .words
                    // 後端請注意:字數限制
                    h6 薩滿能量市集 x 邊緣工事 <br/> x 南西世足嘉年華
    li.small
        a(href="detail.html")
            figure
                // 後端請注意:圖瑱建議尺寸 350*230
                img.b-lazy(src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/index/smallImg4_350_230.jpg", alt="")
            ._text
                .dateAndType
                    .date
                        p AGU. 24
                    .type
                        p 園區公告
                .words
                    // 後端請注意:字數限制
                    h6 《 自由小屋 》屋主招募計畫
    li.middle
        a(href="detail.html")
            figure
                // 後端請注意:圖瑱建議尺寸 730*350
                img.b-lazy(src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/index/middleImg_730_350.jpg", alt="")
            ._text
                .dateAndType
                    .date
                        p SEP. 22  
                    .type
                        p 園區公告
                .words
                    h6 有著過人勇氣與冒險精神的世界級攝影大師