//- 常用參數
include ../layout/_var.pug

//- 自訂參數
- var socialIcon = ["facebook","instagram","youtube","wechat","sina-weibo"]


doctype html
|
|
<html lang="en">
|
|
+head
|
|
body(id="news" class="detail")
    main
        // 回到前一頁
        article.close(onclick="history.back()")
            p CLOSE
            span
        article.newsContent
            section.socialMedia 
                ul
                    each item in socialIcon
                        li
                            a(href=java)
                                span(class=("icon-" + item))
            section._title
                h1 MOCA台北當代藝術館15歲啦！快來和我們一起慶祝這特別的日子
                .dateAndType
                    .date
                        p.month SEP
                        p.day 27
                        p.year 2018
                    .type 
                        p 最新消息
            section.content
                // 後端請注意:此處有三種模式:
                    1.單一圖片 onlyImg 
                    2.單一文字 onlyText
                    3.個半 half (有可能一半圖片一半文字 或是 都文字 或是 都圖片 至於左右邊的問題就看誰擺在前面)
                .onlyImg
                    figure
                        // 後端請注意: 圖片寬度限定900px 高度不限
                        img.b-lazy(src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/detail/img1.jpg", alt="alt")
                        // 後端請注意: 如果下方的提示文字沒有內容的話請移除
                        b 圖片提示文字
                .onlyText
                    ._text
                        h6 「15藝十」MOCA生日慶特別活動
                        p 什麼是來MOCA一定要做的事？什麼是來MOCA一定要知道的事？你知道嗎？MOCA 15歲生日囉！！快來和我們一起慶祝MOCA 15歲生日快樂！！邀請大家在這特別的時刻，和MOCA一起留下美麗見證！完成闖關活動，就可以獲得限量版年度展覽門票乙張喔！
                .half
                    figure
                        // 後端請注意: 圖片寬度限定900px 高度不限
                        img.b-lazy(src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/detail/halfImg.jpg", alt="alt")
                        // 後端請注意: 如果下方的提示文字沒有內容的話請移除
                        b 圖片提示文字
                    figure
                        // 後端請注意: 圖片寬度限定900px 高度不限
                        img.b-lazy(src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/detail/halfImg2.jpg", alt="alt")
                        // 後端請注意: 如果下方的提示文字沒有內容的話請移除
                        b 圖片提示文字
                .half
                    figure
                        // 後端請注意: 圖片寬度限定900px 高度不限
                        img.b-lazy(src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/detail/halfImg.jpg", alt="alt")
                    figure
                        // 後端請注意: 圖片寬度限定900px 高度不限
                        img.b-lazy(src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/detail/halfImg2.jpg", alt="alt")
                    figure
                        // 後端請注意: 圖片寬度限定900px 高度不限
                        img.b-lazy(src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/detail/halfImg.jpg", alt="alt")
                    figure
                        // 後端請注意: 圖片寬度限定900px 高度不限
                        img.b-lazy(src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/detail/halfImg2.jpg", alt="alt")
                .half
                    ._text
                        h6 豐富又有趣的各種活動等你一起與MOCA同歡！
                        p 活動一 :  藝起闖關 <br/>活動二 : 「藝術生日蛋糕」創作工作坊 <br/> 活動三 : 「黑皮兔MOCA」和我一起切蛋糕！！<br/>活動四 :  小丑魔術氣球表演 <br/>活動五 : 《MOCA15周年生日慶》有獎徵答活動
                        p 可以前往最新活動區獲得更多詳細的內容，有些活動採預約制，請事先完成線上報名作業，以利服務人員統計數量。 <br/>歡迎長期支持當代館的粉絲朋友們，呼朋引伴一起來參加，慶祝MOCA15周年生日快樂！！！
                    figure
                        // 後端請注意: 圖片寬度限定900px 高度不限
                        img.b-lazy(src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/detail/halfImg3.jpg", alt="alt")
                        b 小丑魔術氣球表演
                .half
                    figure
                        // 後端請注意: 圖片寬度限定900px 高度不限
                        img.b-lazy(src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/detail/halfImg3.jpg", alt="alt")
                    ._text
                        h6 豐富又有趣的各種活動等你一起與MOCA同歡！
                        p 活動一 :  藝起闖關 <br/>活動二 : 「藝術生日蛋糕」創作工作坊 <br/> 活動三 : 「黑皮兔MOCA」和我一起切蛋糕！！<br/>活動四 :  小丑魔術氣球表演 <br/>活動五 : 《MOCA15周年生日慶》有獎徵答活動
                        p 可以前往最新活動區獲得更多詳細的內容，有些活動採預約制，請事先完成線上報名作業，以利服務人員統計數量。 <br/>歡迎長期支持當代館的粉絲朋友們，呼朋引伴一起來參加，慶祝MOCA15周年生日快樂！！！
                    ._text
                        h6 豐富又有趣的各種活動等你一起與MOCA同歡！
                        p 活動一 :  藝起闖關 <br/>活動二 : 「藝術生日蛋糕」創作工作坊 <br/> 活動三 : 「黑皮兔MOCA」和我一起切蛋糕！！<br/>活動四 :  小丑魔術氣球表演 <br/>活動五 : 《MOCA15周年生日慶》有獎徵答活動
                        p 可以前往最新活動區獲得更多詳細的內容，有些活動採預約制，請事先完成線上報名作業，以利服務人員統計數量。 <br/>歡迎長期支持當代館的粉絲朋友們，呼朋引伴一起來參加，慶祝MOCA15周年生日快樂！！！
                    figure
                        // 後端請注意: 圖片寬度限定900px 高度不限
                        img.b-lazy(src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/detail/halfImg3.jpg", alt="alt")
        article.recommend
            section._title
                .goTop
                    span.icon-1
                    p TOP
                .words
                    p.en RECOMMEND
                    p.ch 推薦閱讀
            section.slick
                ul
                    - for(var i =0 ;i<3;i++)
                        li
                            figure
                                img(data-lazy="../../upload/fa2/news/index/smallImg2_350_230.jpg", alt="alt")
                            ._text
                                .dateAndType
                                    .date
                                        p.month SEP
                                        p.day 20  
                                        p.year 2018
                                    .type
                                        p 最新消息
                                h6 薩滿能量市集 x 邊緣工事 x 南西世足嘉年華
                                a.buttonType1(href=java)
                                    span.top
                                    p More
                                    span.bottom
                    li
                        figure
                            img(data-lazy="../../upload/fa2/news/index/bigImg_730_730.jpg", alt="alt")
                        ._text
                            .dateAndType
                                .date
                                    p.month SEP
                                    p.day 20  
                                    p.year 2018
                                .type
                                    p 最新消息
                            h6 薩滿能量市集 x 邊緣工事 x 南西世足嘉年華
                            a.buttonType1(href=java)
                                span.top
                                p More
                                span.bottom
                .arrows
                    span.icon-3
                    span.icon-2
+script
|
|
</html>