//css reset

*
  &:focus
    outline: none

article, section, aside, div, ul, ol, li, menu, p, a, nav, link, form, input, textarea, button, select, option, label,
img, map, area, picture, svg, audio, video, table, caption, th, tr, td, thead, tbody, tfoot, address, figure
  margin: 0
  padding: 0
  line-height: 1

//
html
  font-size: 16px

//
body
  width: 100%
  margin: 0
  position: relative
  box-sizing: border-box

header

footer

main
  display: block

//
address
  font-style: inherit

//
ul

li
  list-style-type: none

//
picture
  display: block

img
  width: 100%
  max-width: 100%
  display: block

//
h1, h2, h3, h4, h5, h6
  // font-family: 'MyriadPro-Regular','CenturyGothic','微軟正黑體';
  -webkit-margin-before: 0
  -webkit-margin-after: 0
  margin: 0
  padding: 0
  font-size: inherit
  font-weight: inherit
  line-height: inherit

a
  text-decoration: none
  color: inherit
  display: block

  &:focus
    outline: none

p
  -webkit-margin-before: 0
  -webkit-margin-after: 0
  font-size: inherit
  line-height: inherit
  &:focus
    outline: none

span

strong




//
button
  font: inherit
  background-color: unset
  border: none 


//
input
  font: inherit
  box-sizing: border-box
  border-radius: 0
  -webkit-appearance: none
input[type='number'] 
    -moz-appearance: textfield
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
    -webkit-appearance: none



textarea
  font: inherit
  box-sizing: border-box
  resize: none

input:focus,
select:focus,
textarea:focus,
button:focus
  outline: none

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none
  margin: 0


  