//css variable 變數css

//font-type
=fontT()
  font-family: 'YesevaOneRegular', '微軟正黑體'
=fontO()
  font-family: 'SegoeUIRegular', '微軟正黑體'
//

$fmeF: 'FuturaPT-Book','Microsoft JhengHei',sans-serif;
$fmeFb: 'FuturaPT-Heavy','Microsoft JhengHei',sans-serif;

/*font-size
=fs($sizeValue)
  font-size: $sizeValue + px
  font-size: $sizeValue / 16 + rem
/*font-size

/*transiton
=trans($move: 0s, $wait: 0s, $type: all)
  -webkit-transition: all $move ease $wait
  -moz-transition: all $move ease $wait
  -ms-transition: all $move ease $wait
  -o-transition: all $move ease $wait
  transition: all $move ease $wait
/*transiton

/*keyframe
=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content
/*keyframe
