
<div class="box type2">
  <!-- 後端請注意: 這邊有兩種模式 1. 有圖片 hasImg   2.純文字 textOnly 須讓客戶選擇要哪種模式-->
  <!-- 後端請注意:請在data-src填入新聞內頁燈箱內容的網址-->
  <div class="hasImg" data-src="DetailLibox.html">
    <figure><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/detail/img1_620_420.jpg"/><span></span></figure>
    <div class="date">
      <p class="year">2018   </p>
      <p class="month">APR</p>
      <p class="day">13</p>
    </div>
    <div class="_text">
      <h6>White Horse Tiles "Taiwan excellence award" seven consecutive...</h6>
    </div>
  </div>
  <div class="textOnly" data-src="DetailLibox.html">
    <div class="date">
      <p class="year">2018   </p>
      <p class="month">APR</p>
      <p class="day">13</p>
    </div>
    <div class="_text">
      <h6>White Horse "Taiwan excellence award" seven consecutive</h6>
      <p>Looking at the world, the only compreheselection criteria according to ...</p>
    </div>
  </div>
  <div class="hasImg" data-src="DetailLibox.html">
    <figure><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/detail/img5_620_420.jpg"/><span></span></figure>
    <div class="date">
      <p class="year">2018   </p>
      <p class="month">APR</p>
      <p class="day">13</p>
    </div>
    <div class="_text">
      <h6>White Horse Tiles "Taiwan excellence award" seven consecutive...</h6>
    </div>
  </div>
  <div class="hasImg" data-src="DetailLibox.html">
    <figure><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/detail/img6_620_420.jpg"/><span></span></figure>
    <div class="date">
      <p class="year">2018   </p>
      <p class="month">APR</p>
      <p class="day">13</p>
    </div>
    <div class="_text">
      <h6>White Horse Tiles "Taiwan excellence award" seven consecutive...</h6>
    </div>
  </div>
  <div class="hasImg" data-src="DetailLibox.html">
    <figure><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/detail/img7_620_420.jpg"/><span></span></figure>
    <div class="date">
      <p class="year">2018   </p>
      <p class="month">APR</p>
      <p class="day">13</p>
    </div>
    <div class="_text">
      <h6>White Horse Tiles "Taiwan excellence award" seven consecutive...</h6>
    </div>
  </div>
  <div class="hasImg" data-src="DetailLibox.html">
    <figure><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/detail/img8_620_420.jpg"/><span></span></figure>
    <div class="date">
      <p class="year">2018   </p>
      <p class="month">APR</p>
      <p class="day">13</p>
    </div>
    <div class="_text">
      <h6>White Horse Tiles "Taiwan excellence award" seven consecutive...</h6>
    </div>
  </div>
  <div class="hasImg" data-src="DetailLibox.html">
    <figure><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/detail/img9_620_420.jpg"/><span></span></figure>
    <div class="date">
      <p class="year">2018   </p>
      <p class="month">APR</p>
      <p class="day">13</p>
    </div>
    <div class="_text">
      <h6>White Horse Tiles "Taiwan excellence award" seven consecutive...</h6>
    </div>
  </div>
  <div class="hasImg" data-src="DetailLibox.html">
    <figure><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/detail/img10_620_420.jpg"/><span></span></figure>
    <div class="date">
      <p class="year">2018   </p>
      <p class="month">APR</p>
      <p class="day">13</p>
    </div>
    <div class="_text">
      <h6>White Horse Tiles "Taiwan excellence award" seven consecutive...</h6>
    </div>
  </div>
  <div class="hasImg" data-src="DetailLibox.html">
    <figure><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/detail/img11_620_420.jpg"/><span></span></figure>
    <div class="date">
      <p class="year">2018   </p>
      <p class="month">APR</p>
      <p class="day">13</p>
    </div>
    <div class="_text">
      <h6>White Horse Tiles "Taiwan excellence award" seven consecutive...</h6>
    </div>
  </div>
  <div class="hasImg" data-src="DetailLibox.html">
    <figure><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/detail/img12_620_420.jpg"/><span></span></figure>
    <div class="date">
      <p class="year">2018   </p>
      <p class="month">APR</p>
      <p class="day">13</p>
    </div>
    <div class="_text">
      <h6>White Horse Tiles "Taiwan excellence award" seven consecutive...</h6>
    </div>
  </div>
  <div class="textOnly" data-src="DetailLibox.html">
    <div class="date">
      <p class="year">2018   </p>
      <p class="month">APR</p>
      <p class="day">13</p>
    </div>
    <div class="_text">
      <h6>White Horse Tiles "Taiwan excellence award" seven consecutive</h6>
      <p>Looking at the world, the only compreheselection criteria according to ...</p>
    </div>
  </div>
</div>