<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <meta name="format-detection" content="telephone=no">
    <title>PAPILLON</title>
    <!--[if lt IE 9]><script src="../../assets/js/vendor/html5shiv-master/html5shiv.js"></script><![endif]-->
    <!--讓ie9以下看懂html5標籤-->
    <!-- icon -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/img/ico/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/ico/favicon.png">
    <link rel="icon" type="image/x-icon" href="../../assets/img/ico/favicon.png">
    <!-- 共用CSS -->
    <!-- <link rel="stylesheet" href="../../assets/css/icon-style.css"> -->
    <link rel="stylesheet" href="../../assets/js/vendor/cgpagechange/cgpagechange.css">
    <link rel="stylesheet" href="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="../../assets/js/vendor/slick/slick.css">
    <link rel="stylesheet" href="../../assets/js/vendor/slick/slick-theme.css">
    <!-- 共用CSS end-->
    <!-- 非共用CSS -->
    <!-- 非共用CSS end-->
    <link rel="stylesheet" href="../../assets/css/about_detail.css">
</head>

<body id="about" class="detail design">
    <main>
        <article class="top">
            <div class="_close" onclick="history.back()">
                <p>CLOSE</p>
            </div>
            <div class="_title">
                <h2>SPECIAL DESIGN</h2>
                <p>獨特設計</p>
            </div>
        </article>
        <article class="design_content">
            <!-- 方塊一 -->
            <div class="content_boxs">
                <div class="content_box">
                    <div class="_img">
                        <img src="../../upload/f2e/about/design/img1_450_570.jpg" alt="">
                    </div>
                    <div class="_text">
                        <p>設計師們將時尚與藝術的元素融合在法蝶的商品內，並且不斷創新和挑戰自我去設計出最符合時代潮流的獨特作品。</p>
                    </div>
                </div>
                <!-- 方塊二 -->
                <div class="content_box">
                    <div class="_img">
                        <img src="../../upload/f2e/about/design/img2_510_350.jpg" alt="">
                    </div>
                    <div class="_text">
                        <p>在許多作品中，更能看出設計師精心的巧思，如「相依」定情對戒，男戒以俐落的戒身，呈現男性的剛毅與力量，而女戒是以九枚系鑽組成，傾吐「愛你久久」的濃情密意，如此的設計，展示出一款剛柔並濟的經典對戒。</p>
                    </div>
                </div>
                <!-- 方塊三 -->
                <div class="content_box">
                    <div class="_img">
                        <img src="../../upload/f2e/about/design/img3_270_340.jpg" alt="">
                    </div>
                    <div class="_text">
                        <p>另外，精工師團隊更將設計原稿化作靈魂注入珠寶上，透過對每一細節的精準掌握，最終才能打造出精緻和優雅的作品。他們每一環節是為將珠寶最璀璨的光芒牽引發亮，也更是為襯托出配戴者獨有的迷人特質。</p>
                    </div>
                </div>
            </div>
            <div class="designer">
                <div>
                    <h2>DESIGN</h2>
                    <p>法蝶珠寶的設計團包括國內外才華滿溢的設計師，其中還包含需多美國GIA設計畢業的資深設計師。</p>
                </div>
            </div>
            <!-- 設計師們 -->
            <div class="_slick">
                <ul>
                    <li>
                        <div class="_img">
                            <img src="../../upload/f2e/about/design/designer_320_370.jpg" alt="">
                            <p>音容宛在</p>
                        </div>
                    </li>
               <!--      <li>
                        <div class="_img">
                            <img src="../../upload/f2e/about/design/designer_320_370.jpg" alt="">
                            <p>音容宛在</p>
                        </div>
                    </li>
                    <li>
                        <div class="_img">
                            <img src="../../upload/f2e/about/design/designer_320_370.jpg" alt="">
                            <p>音容宛在</p>
                        </div>
                    </li>
                    <li>
                        <div class="_img">
                            <img src="../../upload/f2e/about/design/designer_320_370.jpg" alt="">
                            <p>音容宛在</p>
                        </div>
                    </li>
                    <li>
                        <div class="_img">
                            <img src="../../upload/f2e/about/design/designer_320_370.jpg" alt="">
                            <p>音容宛在</p>
                        </div>
                    </li>
                    <li>
                        <div class="_img">
                            <img src="../../upload/f2e/about/design/designer_320_370.jpg" alt="">
                            <p>音容宛在</p>
                        </div>
                    </li>
                    <li>
                        <div class="_img">
                            <img src="../../upload/f2e/about/design/designer_320_370.jpg" alt="">
                            <p>音容宛在</p>
                        </div>
                    </li>
                    <li>
                        <div class="_img">
                            <img src="../../upload/f2e/about/design/designer_320_370.jpg" alt="">
                            <p>音容宛在</p>
                        </div>
                    </li>
                    <li>
                        <div class="_img">
                            <img src="../../upload/f2e/about/design/designer_320_370.jpg" alt="">
                            <p>音容宛在</p>
                        </div>
                    </li>
                    <li>
                        <div class="_img">
                            <img src="../../upload/f2e/about/design/designer_320_370.jpg" alt="">
                            <p>音容宛在</p>
                        </div>
                    </li>
                    <li>
                        <div class="_img">
                            <img src="../../upload/f2e/about/design/designer_320_370.jpg" alt="">
                            <p>音容宛在</p>
                        </div>
                    </li>
                    <li>
                        <div class="_img">
                            <img src="../../upload/f2e/about/design/designer_320_370.jpg" alt="">
                            <p>音容宛在</p>
                        </div>
                    </li> -->
                </ul>
            </div>
        </article>
        <article class="_reservation">
            <ul>
                <li class="_goTop">
                    <p>GO TOP</p>
                </li>
                <!-- 連結到預約鑑賞內頁 -->
                <li>
                    <a href="../reservation/index.html">
                        <p>預約鑑賞</p>
                    </a>
                </li>
                <!-- 連結到line  -->
                <!-- 請後端填入連結 -->
                <li>
                    <a href="javascript:void(0);"></a>
                </li>
            </ul>
        </article>
    </main>
    <!-- 共用 -->
    <script src="../../assets/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="../../assets/js/vendor/jquery.easings.min.js"></script>
    <script src="../../assets/js/vendor/cgpagechange/cgpagechange.js"></script>
    <script src="../../assets/js/vendor/waypoints/waypoints.min.js"></script>
    <script src="../../assets/js/vendor/blazy/blazy.min.js"></script>
    <script src="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.js"></script>
    <script src="../../assets/js/vendor/slick/slick.min.js"></script>
    <!-- 共用end -->
    <!-- 非共用 -->
    <!-- 非共用end-->
    <script src="../../assets/js/main.js"></script>
</body>

</html>