<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <meta name="format-detection" content="telephone=no">
    <title>PAPILLON</title>
    <!--[if lt IE 9]><script src="../../assets/js/vendor/html5shiv-master/html5shiv.js"></script><![endif]-->
    <!--讓ie9以下看懂html5標籤-->
    <!-- icon -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/img/ico/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/ico/favicon.png">
    <link rel="icon" type="image/x-icon" href="../../assets/img/ico/favicon.png">
    <!-- 共用CSS -->
    <!-- <link rel="stylesheet" href="../../assets/css/icon-style.css"> -->
    <link rel="stylesheet" href="../../assets/js/vendor/cgpagechange/cgpagechange.css">
    <link rel="stylesheet" href="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="../../assets/js/vendor/slick/slick.css">
    <link rel="stylesheet" href="../../assets/js/vendor/slick/slick-theme.css">
    <!-- 共用CSS end-->
    <!-- 非共用CSS -->
    <!-- 非共用CSS end-->
    <link rel="stylesheet" href="../../assets/css/about_detail.css">
</head>

<body id="about" class="detail quality">
    <main>
        <article class="top">
            <div class="_close" onclick="history.back()">
                <p>CLOSE</p>
            </div>
            <div class="_title">
                <h2>QUALITY ASSURANCE</h2>
                <p>品質堅持</p>
            </div>
            <div class="_img">
                <img src="../../upload/f2e/about/quality/top_img_1024_540.jpg" alt="">
            </div>
        </article>
        <article class="quality_content">
            <section class="fourCs">
                <div class="_text">
                    <div>
                        <h2>鑽石4C標準 <span>THE ‘FOUR Cs’</span></h2>
                        <p>4C標準是GIA所創立的鑽石鑑定系統，組成此標準為下列四種：克拉(Carat)、成色(Color)、淨度(Clarity)、和車工(Cut)。4C標準將各種影響鑽石價值的層面囊擴一起，進而更加精準的評價一枚鑽石，從鑽石的重量、色澤、乾淨度直到切割鑽石的技巧，也令消費者更加清晰所購買的鑽石的珍貴性。也因著此系統的便利性，使4C標準在全世界的鑽石鑑定中廣泛運用。 </p>
                    </div>
                </div>
                <div class="_img">
                    <img src="../../upload/f2e/about/quality/4c_img_410_560.jpg" alt="">
                </div>
            </section>
            <section class="carat">
                <div class="_img">
                    <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/about/quality/carat_img_600_430.jpg" alt="">
                </div>
                <div class="_text">
                    <h2>克拉 CARAT</h2>
                    <p>鑽石的重量是以克拉為單位，一克拉相當0.2g。
                        <br>
                        <br>一克拉同時也等於一百分，也用來描述小於一克拉的鑽石，譬如0.52克拉又被稱為52分。在其它標準為相同的前提下，克拉數越高鑽石越容易聚光，進而綻放出迷人的光彩，此原因也是許多人尋找高克拉數鑽石的主因。
                    </p>
                    <ul>
                        <li>
                            <div class="img_box">
                                <img src="../../upload/f2e/about/quality/carat1.jpg" alt="">
                            </div>
                            <div>
                                <p>0.25ct</p>
                                <span>( 4.1 mm )</span>
                            </div>
                        </li>
                        <li>
                            <div class="img_box">
                                <img src="../../upload/f2e/about/quality/carat2.jpg" alt="">
                            </div>
                            <div>
                                <p>0.5ct</p>
                                <span>( 5.1 mm )</span>
                            </div>
                        </li>
                        <li>
                            <div class="img_box">
                                <img src="../../upload/f2e/about/quality/carat3.jpg" alt="">
                            </div>
                            <div>
                                <p>1ct</p>
                                <span>( 6.4 mm )</span>
                            </div>
                        </li>
                        <li>
                            <div class="img_box">
                                <img src="../../upload/f2e/about/quality/carat4.jpg" alt="">
                            </div>
                            <div>
                                <p>1.5cts</p>
                                <span>( 7.4 mm )</span>
                            </div>
                        </li>
                        <li>
                            <div class="img_box">
                                <img src="../../upload/f2e/about/quality/carat5.jpg" alt="">
                            </div>
                            <div>
                                <p>2cts</p>
                                <span>( 8.1 mm )</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="color">
                <div class="_text">
                    <h2>成色 COLOR</h2>
                    <p>鑽石成色的鑑定標準，對大多數的鑽石而言，取決於該鑽石的無色程度。若一顆鑽石宛如純淨的水一般無色，它將具有很高的價值。GIA的成色鑑定標準是從D(無色透明)到Z(淡黃色)，做出23個等級的系統。主要鑑定方式透過控制的照明與觀測的條件下，將鑽石與不同的比色石進行比對和鑑定。目前全世界受歡迎的等級是從D-M，依照顧客喜好和預算，做出最好的選擇。</p>
                </div>
                <div class="_img">
                    <div class="_list">
                        <ul>
                            <li>
                                <span>D</span>
                                <img src="../../upload/f2e/about/quality/color1.jpg" alt="">
                            </li>
                            <li>
                                <span>E</span>
                                <img src="../../upload/f2e/about/quality/color2.jpg" alt="">
                            </li>
                            <li>
                                <span>F</span>
                                <img src="../../upload/f2e/about/quality/color3.jpg" alt="">
                            </li>
                            <li>
                                <span>G</span>
                                <img src="../../upload/f2e/about/quality/color4.jpg" alt="">
                            </li>
                            <li>
                                <span>H</span>
                                <img src="../../upload/f2e/about/quality/color5.jpg" alt="">
                            </li>
                            <li>
                                <span>I</span>
                                <img src="../../upload/f2e/about/quality/color6.jpg" alt="">
                            </li>
                            <li>
                                <span>J</span>
                                <img src="../../upload/f2e/about/quality/color7.jpg" alt="">
                            </li>
                            <li>
                                <span>K-M</span>
                                <img src="../../upload/f2e/about/quality/color8.jpg" alt="">
                            </li>
                            <li>
                                <span>N-Z</span>
                                <img src="../../upload/f2e/about/quality/color9.jpg" alt="">
                            </li>
                        </ul>
                        <span></span>
                    </div>
                    <div class="explanation">
                        <ul>
                            <li>
                                <span></span>
                                <div>
                                    <p>Colorless</p>
                                    <p>透明無色</p>
                                </div>
                            </li>
                            <li>
                                <span></span>
                                <div>
                                    <p>Near-Colorless</p>
                                    <p>接近無色</p>
                                </div>
                            </li>
                            <li>
                                <span></span>
                                <div>
                                    <p>Noticeable-Color</p>
                                    <p>可視顏色</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="clarityAndCut">
                <!-- 淨度的圖片 -->
                <div class="box">
                    <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/about/quality/clarity_img.jpg" alt="">
                </div>
                <!-- 淨度的文字 -->
                <div class="box">
                    <div class="_text">
                        <h2>淨度 CLARITY</h2>
                        <p>每顆鑽石都是獨一無二的，均有它獨特的內含物，內含物就是鑽石的特徵，永遠找不到一顆一模一樣的鑽石。評鑑鑽石淨度的標準是以特徵的數量、大小、明顯性、本質、位置和顏色來做評估，一般而言，淨度越高也代表價值越高。大多數鑽石的內含物是不能以肉眼辨識的，國際檢驗標準是以十倍放大鏡進行鑑定，從最高級的FL到I3總共11個等級。</p>
                    </div>
                    <div class="_img">
                        <ul>
                            <li>
                                <img src="../../upload/f2e/about/quality/clarity1.jpg" alt="">
                                <div>
                                    <p>FL-IF</p>
                                    <p>完美無暇</p>
                                    <div>
                            </li>
                            <li>
                                <img src="../../upload/f2e/about/quality/clarity2.jpg" alt="">
                                <div>
                                    <p>VVS1-VVS2</p>
                                    <p>極度微量內含物</p>
                                </div>
                            </li>
                            <li>
                                <img src="../../upload/f2e/about/quality/clarity3.jpg" alt="">
                                <div>
                                    <p>VS1-VS2</p>
                                    <p>微量內含物</p>
                                </div>
                            </li>
                            <li>
                                <img src="../../upload/f2e/about/quality/clarity4.jpg" alt="">
                                <div>
                                    <p>SI1-SI2</p>
                                    <p>肉眼可能看見內含物</p>
                                </div>
                            </li>
                            <li>
                                <img src="../../upload/f2e/about/quality/clarity5.jpg" alt="">
                                <div>
                                    <p>SI3</p>
                                    <p>肉眼可看見內含物</p>
                                </div>
                            </li>
                        </ul>
                        </div>
                        </div>
                        <!-- 車工 -->
                        <div class="box">
                            <div class="_text">
                                <h2>車工 CUT</h2>
                                <p>常言：「好事多磨。」而車工是為了牽引出蘊含鑽石內璀璨光輝的重要步驟。每一項環節都極為講究，從鑽石檯子的大小，檯子與腰身的比例等。若有一條細節有毫厘之差將無法完美展現該鑽石應有的光芒。車工評級分為五個等級：極優(Excellent)、優良(Very Good)、良好(Good)、尚可(Fair)、不良(Poor)。</p>
                            </div>
                            <div class="_img">
                                <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/about/quality/cut_img1.jpg" alt="">
                            </div>
                        </div>
                        <!-- 完美車工 -->
                        <div class="box">
                            <div class="_text">
                                <h2>完美車工 Perfect Cut</h2>
                                <p>鑽石車工的最高評價，就是所謂的完美車工。其中最甜蜜浪漫的完美車工，應屬於八心八箭完美車工(Hearts & Arrows Ideal Cut)，此車工會令鑽石內出現燦爛的八心八箭。八心八箭代表愛情八個美麗的意境，邂逅、鍾情、暗示、夢係、初吻、纏綿、默契、山盟，也因著這象徵著愛情的八個意境，八心八箭又被稱為「邱比特車工」。同時精準的八心八箭在實際切割的過程中，極為繁複，相較於一小時左右即可完成的標準車工，完美車工需要花費四天才完工。每顆八心八箭的評價等級最少須具備有三個極優(Excellent)等級評價，除此之外，鑽石裡面的八心八箭也須在光芒、形狀、角度等細節上相互對稱，經過如此諸多嚴苛的條件鑑定皆通過後的美鑽，才能賦予鑽石最高評價「八心八箭完美鑽石」。也因眾多嚴刻的條件，能被評為八心八箭完美車工的鑽石在全球不超過1%，也相印著在全世界中，能尋找到身、心、靈都完全契合的那一位伴侶是如次幸運，而在八心八箭永恆與浪漫的光輝之下，見證這每一對情侶相依相惜的甜蜜愛情。</p>
                            </div>
                            <div class="_img">
                                <img src="../../upload/f2e/about/quality/cut_img2_460_400.jpg" alt="">
                            </div>
                        </div>
                        <!-- 裝飾圖片 -->
                        <div class="box">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/about/quality/cut_img3_530_400.jpg" alt="">
                        </div>
            </section>
            <!-- 證書 -->
            <section class="certificate">
                <div class="_text">
                    <h2>INTERNATIONAL CERTIFICATE</h2>
                    <h3>國際證書</h3>
                    <p>一般所謂的「鑽石鑑定證書」或「鑽石等級證書」，法蝶稱它為「國際鑑定證書」(International Grading Certificate)。這報告是珠寶專家們依照嚴格的分級標準和特定的環境下，仔細觀察與檢測鑽石的總結報告。其中又以GIA(Gemological Institute of America)美國寶石學院所開出的證書最具權威。自1953年起，美國寶石學院所創立的4C鑽石分級系統，也成為國際鑽石分級的指標，也令GIA成為全球最具影響力的寶石分級報告。目前全世界的鑑定所不計其數，各家鑑定機構的分級系統標準皆不同，為滿足每位客戶不同的需求，法蝶的寶石皆經過以下國外知名機構的鑑定：GIA、JII、IGI以及CGL。</p>
                </div>
                <div class="_imgs">
                    <div class="_img">
                        <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/about/quality/certificate1_200_200.jpg" alt="">
                        <i>GIA 認證</i>
                    </div>
                    <div class="_img">
                        <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/about/quality/certificate1_200_200.jpg" alt="">
                        <i>GIA 認證</i>
                    </div>
                    <div class="_img">
                        <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/about/quality/certificate1_200_200.jpg" alt="">
                        <i>GIA 認證</i>
                    </div>
                    <div class="_img">
                        <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/about/quality/certificate2_200_200.jpg" alt="">
                        <i>JII 認證</i>
                    </div>
                    <div class="_img">
                        <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/about/quality/certificate3_200_200.jpg" alt="">
                        <i>IGI 認證</i>
                    </div>
                </div>
            </section>
        </article>
        <article class="_reservation">
            <ul>
                <li class="_goTop">
                    <p>GO TOP</p>
                </li>
                <!-- 連結到預約鑑賞內頁 -->
                <li>
                    <a href="../reservation/index.html">
                        <p>預約鑑賞</p>
                    </a>
                </li>
                <!-- 連結到line  -->
                <!-- 請後端填入連結 -->
                <li>
                    <a href="javascript:void(0);"></a>
                </li>
            </ul>
        </article>
    </main>
    <!-- 共用 -->
    <script src="../../assets/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="../../assets/js/vendor/jquery.easings.min.js"></script>
    <script src="../../assets/js/vendor/cgpagechange/cgpagechange.js"></script>
    <script src="../../assets/js/vendor/waypoints/waypoints.min.js"></script>
    <script src="../../assets/js/vendor/blazy/blazy.min.js"></script>
    <script src="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.js"></script>
    <script src="../../assets/js/vendor/slick/slick.min.js"></script>
    <!-- 共用end -->
    <!-- 非共用 -->
    <!-- 非共用end-->
    <script src="../../assets/js/main.js"></script>
</body>

</html>