<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <meta name="format-detection" content="telephone=no">
    <title>PAPILLON</title>
    <!--[if lt IE 9]><script src="../../assets/js/vendor/html5shiv-master/html5shiv.js"></script><![endif]-->
    <!--讓ie9以下看懂html5標籤-->
    <!-- icon -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/img/ico/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/ico/favicon.png">
    <link rel="icon" type="image/x-icon" href="../../assets/img/ico/favicon.png">
    <!-- 共用CSS -->
    <!-- <link rel="stylesheet" href="../../assets/css/icon-style.css"> -->
    <link rel="stylesheet" href="../../assets/js/vendor/cgpagechange/cgpagechange.css">
    <link rel="stylesheet" href="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="../../assets/js/vendor/slick/slick.css">
    <link rel="stylesheet" href="../../assets/js/vendor/slick/slick-theme.css">
    <!-- 共用CSS end-->
    <!-- 非共用CSS -->
    <!-- 非共用CSS end-->
    <link rel="stylesheet" href="../../assets/css/about_detail.css">
</head>

<body id="about" class="detail service">
    <main>
        <article class="top">
            <div class="_close" onclick="history.back()">
                <p>CLOSE</p>
            </div>
            <div class="_title">
                <h2>GUARANTEE SERVICE</h2>
                <p>售後服務</p>
            </div>
            <div class="text">
                <p>法蝶在各大百貨皆有據點，若您有任何疑問或飾品需要清潔保養，歡迎您至法蝶專櫃，我們將提供最貼心的服務。</p>
            </div>
        </article>
        <article class="service_content">
            <div class="content_box">
                <div class="_img">
                    <img src="../../upload/f2e/about/service/img1_390_260.jpg" alt="">
                </div>
                <div class="_text">
                    <h2>原廠保證書</h2>
                    <p>凡購買任一商品，皆會附上法蝶珠寶品牌原廠保證書，30分以上之鑽石並附有國際鑑定證書。</p>
                </div>
            </div>
            <div class="content_box">
                <div class="_img">
                    <img src="../../upload/f2e/about/service/img2_390_260.jpg" alt="">
                </div>
                <div class="_text">
                    <h2>終身保固維修服務</h2>
                    <p>凡在法蝶購買之商品，憑保證書，初次享有免費改圍，終生另享有免費電鍍或改圍兩次；鉑金戒指享有一次改圍或電鍍(固定圍除外); K金項鍊斷修乙次。</p>
                </div>
            </div>
            <div class="content_box">
                <div class="_img">
                    <img src="../../upload/f2e/about/service/img3_390_260.jpg" alt="">
                </div>
                <div class="_text">
                    <h2>永久清潔保養</h2>
                    <p>若清潔上有困難，歡迎您隨時到全省各大百貨公司的法蝶珠寶專櫃為您保養維護。</p>
                </div>
            </div>
            <div class="content_box">
                <div class="_img">
                    <img src="../../upload/f2e/about/service/img4_390_260.jpg" alt="">
                </div>
                <div class="_text">
                    <h2>以小換大服務</h2>
                    <p>購買30分主石以上之鑽石類商品（圓形明亮式及八心八箭車工）皆享有鑽石「以小換大」服務，詳情請洽各大專櫃。</p>
                </div>
            </div>
        </article>
        <article class="_reservation">
            <ul>
                <li class="_goTop">
                    <p>GO TOP</p>
                </li>
                <!-- 連結到預約鑑賞內頁 -->
                <li>
                    <a href="../reservation/index.html">
                        <p>預約鑑賞</p>
                    </a>
                </li>
                <!-- 連結到line  -->
                <!-- 請後端填入連結 -->
                <li>
                    <a href="javascript:void(0);"></a>
                </li>
            </ul>
        </article>
    </main>
    <!-- 共用 -->
    <script src="../../assets/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="../../assets/js/vendor/jquery.easings.min.js"></script>
    <script src="../../assets/js/vendor/cgpagechange/cgpagechange.js"></script>
    <script src="../../assets/js/vendor/waypoints/waypoints.min.js"></script>
    <script src="../../assets/js/vendor/blazy/blazy.min.js"></script>
    <script src="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.js"></script>
    <script src="../../assets/js/vendor/slick/slick.min.js"></script>
    <!-- 共用end -->
    <!-- 非共用 -->
    <!-- 非共用end-->
    <script src="../../assets/js/main.js"></script>

</body>

</html>