<div class="lbox_style_A lbox_style_talktoauro">
    <div class="lbox__header lbox__header--float">
        <div class="lbox__close lbox__closeBtn">
            <a href="javascript:void(0);">
                <span>
                </span>
            </a>
        </div>
        <ul>
            <li>
                <h5>TALK TO AURO</h5>
            </li>
            <li>
                <h5>案例分享</h5>
            </li>
        </ul>
    </div>
    <!-- 
        電腦版1920X1440 
        手機板1024X1366
    -->
    <div class="banner">
        <!-- <div class="bLazyBg" data-src="../../upload/f2e/talktoauro/talktoauro_lbox_01.jpg" data-src-small="../../upload/f2e/talktoauro/talktoauro_lbox_01_rwd.jpg"></div> -->
        <div>
            <!--  
                如果要放影片用這個
                第一個iframe 如果沒設定寬高 就讓他 100% 100%
                第二個iframe 如果崁入的時候有寬高 就讓他寬高 (怕像數不夠高)
            -->
            <!-- <iframe style="width: 100%;height: 100%;" src="https://www.youtube.com/embed/gfoRbqpn2Oc" frameborder="0" allowfullscreen></iframe> -->
            <iframe width="1024" height="700" src="https://www.youtube.com/embed/gfoRbqpn2Oc" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="title boxw">
        <h4>旅奧華僑張小姐</h4>
        <ul>
            <li>
                <h5>14 Mar. 2016</h5>
            </li>
            <li>
                <h5>案例分享</h5>
            </li>
        </ul>
    </div>
    <div class="hr boxw">
        <hr style="background:#12a0ba; ">
    </div>
    <div class="txt boxw">
        <p>AURO 的用戶廣泛，從建築師、室內設計師、木作職人、油漆職人到 DIY 用戶等等，都有喜愛 AURO 的族群，各種職業背景在選擇與使用天然塗料（註 1）都會有不同的動機與心得，我們將不定期採訪這些用戶，希望這些客觀的使用經驗可以為每一位在選擇塗料時而煩惱的用戶提供有益的參考資訊。
        </p>
    </div>

    <!-- 一張圖放個li 兩張圖兩張li 三張圖會掛掉 -->
    <!-- 
        一張圖
        寬1100
        高600

        如果上兩張圖併排 尺寸要一樣
        寬600
        高建議600上下

        如果另一個是文字
        要用.txt
    -->
    <div class="img boxw">
        <ul>
            <li>
                <div>
                    <img src="../../upload/f2e/talktoauro/talktoauro_lbox_02.jpg">
                </div>
                <div>
                    <h4>使用 AURO 塗料，選擇健康生活方式</h4>
                </div>
            </li>
            <li>
                <div class="txt">
                    <h3 style="color:#12a0ba;">張小姐：第一次開始想使用天然塗料，是為了 讓家人在健康無毒的環境成長。
                    </h3>
                    <p>本次訪問的用戶，旅奧華僑張小姐，在奧地利旅居多年，平 常工作上接觸到很多注重健康飲食與有機生活的人們，潛移 默化下也開始主動關注相關資訊，尋找天然有機的商品。
                        <br>
                        <br> 第一次開始想使用天然塗料的動機，是購屋後準備裝潢房子 時發現建材的選擇多樣，她為了讓家人在健康無毒的環境中 生活成長，她先上網尋找她心中的天然有機建材，並且發現 了 AURO天然塗料。因為 AURO商品資訊透明公開的關係，
                        她可以放心的讓孩子們一起參與塗刷牆壁、為家中的木頭家 具塗上護木油的過程，在逐漸地了解 AURO 後，她成為了 愛用者。
                    </p>
                </div>
            </li>
        </ul>
    </div>

    <div class="img boxw">
        <ul>
            <li>
                <div>
                    <img src="../../upload/f2e/talktoauro/talktoauro_lbox_03.jpg">
                </div>
                <div>
                    <h4>與張小姐的家中訪談</h4>
                </div>
            </li>
        </ul>
    </div>

    <div class="txt boxw">
        <h4 style="color:#12a0ba;">與張小姐的深入訪談</h4>
        <p>張小姐於2016年回到台灣短期居住，住進租屋處時想重新粉刷牆壁但又擔心家人的過敏體質受到影響，她才想到其實台灣也買的到AURO塗料呢！因此，我們認識了張小姐，她也很樂意分享她的使用經驗給我們，以下是訪問摘要：
            <br>
            <br> AURO：請問你一般都在奧地利的哪些地方購買天然塗料（油漆）呢？張小姐：在歐洲有專賣有機商品的賣場，販售類別食衣住行都有，商品都有有機認 證才能上架。我是到當地的有機小店（有點像台灣的五金行）購買，店內有許多各式各樣的材料，可以依色卡選擇顏色，在依照色卡背面的調色比例另外
            購買色漿，可以請老闆幫忙直接調色或帶回家自己調色。
            <br>
            <br> AURO：在眾多天然塗料品牌中，為什麼最後決定使用AURO呢？
            <br> 張小姐：我先在網路上搜尋天然產品，然後找到了 AURO，發現 AURO的成分公開透明，相關文章資訊很豐富，所以我最後選擇 AURO。
            <br>
            <br> AURO：在奧地利大部分都是自己動手刷油漆嗎？
            <br> 張小姐：歐洲人會依照季節定期做居家環境的維護，秋天為冬天做準備，春天整理環境。我自己是請工人來刷油漆，因為面積比較大，不過歐洲的人工貴， 所以小面積的部分還是會自己動手刷。
            <br>
            <br> AURO：那你有用過哪些AURO產品呢？
            <br> 張小姐：我用過AURO植物漆、硬油、戶外家具護木油。戶外家具護木油是用在奧地利家中戶外陽台的木地板。
            <br>
            <br> AURO：會有店員教你如何使用產品嗎? 還是看網路教學影片呢？
            <br> 張小姐：店家老闆都會說明，其實產品包裝上面的說明也很清楚。
            <br>
            <br> AURO：你在台灣的租屋處為什麼還是選擇在重新粉刷AURO天然塗料呢？
            <br> 張小姐：雖然不是自己的房子，但畢竟還是自己在居住，也是每天生活的空間，對於小孩跟自己的健康，這些都是需要堅持的事。
        </p>
    </div>

    <div class="img boxw">
        <ul>
            <li>
                <div>
                    <img src="../../upload/f2e/talktoauro/talktoauro_lbox_04.jpg">
                </div>
                <div>
                    <h4>清爽的藍色與燈具呼應</h4>
                </div>
            </li>
            <li>
                <div>
                    <img src="../../upload/f2e/talktoauro/talktoauro_lbox_05.jpg">
                </div>
                <div>
                    <h4>臥房選用舒適的藍綠色</h4>
                </div>
            </li>
        </ul>
    </div>
    <div class="txt boxw">
        <p>
            許多人使用天然塗料後親身體驗到塗料對於居家環境健康的影響，我們很開心用戶在認識AURO的過程中，也進一步了解選擇天然塗料的重要性。AURO 產品體系完整、施工簡單便利、並且成分完全公開透明，居家裝修時不再需要準備太多防護措施，不僅省下時間、金錢，還可以放心地讓孩子們一起操作，
            拉近親子關係，共同打造一個健康安心的居住空間。
        </p>
    </div>
    <div class="txt remarks  boxw">
        <p>
            註1：塗料泛指油漆、壁漆、木器塗料，塗覆在物件表面，形成粘附牢固、具有一定強度、連續的固態薄膜。這樣形成的膜通稱塗膜，又稱漆膜或塗層。」 早期大多以植物油為主要原料，故被叫做「油漆」。
        </p>
    </div>
    <div class="img boxw">
            <ul>
                <li>
                    <div>
                        <img src="../../upload/f2e/news/news_detail_03.jpg">
                    </div>
                    <div>
                        <h4>自由創作的參與者們</h4>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="../../upload/f2e/news/news_detail_04.jpg">
                    </div>
                    <div>
                        <h4>盡情揮灑手中的顏料</h4>
                    </div>
                </li>
            </ul>
        </div>
        <div class="img boxw">
            <ul>
                <li>
                    <div>
                        <img src="../../upload/f2e/news/news_detail_03.jpg">
                    </div>
                    <div>
                        <h4>自由創作的參與者們</h4>
                    </div>
                </li>
                <li>
                    <div class="txt">
                        <h4>關渡自然公園今年的暑期營隊探險成功！</h4>
                        <p>在暑假的長長假期中要過的充實又愉快，不外乎是參加各式各樣的營隊或是報名各種才藝活動。關渡自然公園將自然體驗式的教學精神帶入暑期營隊的活 動中，讓學員在園區內透過五感探索自然，認識濕地之美 、欣賞野生物的特色 ，進一步啟發對自然環境關注。</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="img boxw">
            <div class="video">
                <img src="../../upload/f2e/product_detail/product_detail_normal_03.jpg" alt="">
                <div class="circle circle--50 circle--video_play"></div>
            </div>
        </div>

    <div class="more">
        <div class="btns_lbox btns_lbox--anti">
            <ul>
                <li class="focus">
                    <a href="javascript:void(0);">
                        <h4>前往德國農場官方網站一探究竟</h4>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <h4>BIOLAND網站</h4>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="recommand boxw">

        <div class="title">
            <h4>You Might Be Interested</h4>
            <h5>你可能會有有興趣</h5>
        </div>
        <!-- 
            吃商品的圖
            300X300
            -->
        <div class="recommand_slick">
            <ul>
                <li>
                    <div class="recommand_box">
                        <div class="recommand_box__img" style="background: #4e9fe6;">
                            <img data-lazy="../../upload/f2e/product_detail/product_detail_01.png">
                        </div>
                        <div class="recommand_box__txt">
                            <h4>石灰漆</h4>
                            <p>High-grade lime paint No.344</p>
                            <div class="btns recommand__btn">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <h4>特色介紹</h4>
                                            <span></span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="javascript:void(0);">
                                            <h4>購買顏色</h4>
                                            <span></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="recommand_box">
                        <div class="recommand_box__img" style="background: #db6b62;">
                            <img data-lazy="../../upload/f2e/product_detail/product_detail_02.png">
                        </div>
                        <div class="recommand_box__txt">
                            <h4>天然顏料</h4>
                            <p>Full-shade tinting colour No.330</p>
                            <div class="btns recommand__btn">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <h4>特色介紹</h4>
                                            <span></span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="javascript:void(0);">
                                            <h4>購買顏色</h4>
                                            <span></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="recommand_box">
                        <div class="recommand_box__img" style="background: #ffffff;">
                            <img data-lazy="../../upload/f2e/product_detail/product_detail_03.png">
                        </div>
                        <div class="recommand_box__txt">
                            <h4>強力底漆（細顆粒）</h4>
                            <p>Grip coat, fine No.505</p>
                            <div class="btns recommand__btn">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <h4>購買產品</h4>
                                            <span></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="recommand_box">
                        <div class="recommand_box__img" style="background: #4e9fe6;">
                            <img data-lazy="../../upload/f2e/product_detail/product_detail_01.png">
                        </div>
                        <div class="recommand_box__txt">
                            <h4>石灰漆</h4>
                            <p>High-grade lime paint No.344</p>
                            <div class="btns recommand__btn">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <h4>特色介紹</h4>
                                            <span></span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="javascript:void(0);">
                                            <h4>購買顏色</h4>
                                            <span></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="recommand_box">
                        <div class="recommand_box__img" style="background: #db6b62;">
                            <img data-lazy="../../upload/f2e/product_detail/product_detail_02.png">
                        </div>
                        <div class="recommand_box__txt">
                            <h4>天然顏料</h4>
                            <p>Full-shade tinting colour No.330</p>
                            <div class="btns recommand__btn">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <h4>特色介紹</h4>
                                            <span></span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="javascript:void(0);">
                                            <h4>購買顏色</h4>
                                            <span></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="recommand_box">
                        <div class="recommand_box__img" style="background: #ffffff;">
                            <img data-lazy="../../upload/f2e/product_detail/product_detail_03.png">
                        </div>
                        <div class="recommand_box__txt">
                            <h4>強力底漆（細顆粒）</h4>
                            <p>Grip coat, fine No.505</p>
                            <div class="btns recommand__btn">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <h4>購買產品</h4>
                                            <span></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>

    <div class="other">
        <ul>
            <li>
                <a href="javascript:void(0);">
                    <div>
                        <ul>
                            <li>
                                <h5>19 Aug. 2016</h5>
                            </li>
                            <li>
                                <h5>品牌活動</h5>
                            </li>
                        </ul>
                        <h4>當 AURO 與油畫藝術家相遇</h4>
                    </div>
                </a>
            </li>
            <li style="background: #ec6565; color:#fff;">
                <a href="javascript:void(0);">
                    <div>
                        <ul>
                            <li>
                                <h5>19 Aug. 2016</h5>
                            </li>
                            <li>
                                <h5>品牌活動</h5>
                            </li>
                        </ul>
                        <h4>本公司榮獲 2016 年新北市優良商號</h4>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <!-- 少一個輪播商品 -->
    <div class="lbox__footer lbox__footer--float">
        <ul>
            <li>
                <a href="javascript:void(0);">
                    <h5>TOP</h5>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <svg x="0px" y="0px" width="5.607px" height="11.996px" viewBox="0 0 5.607 11.996" enable-background="new 0 0 5.607 11.996">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.604,0C5.603,0.038,5.599,0.076,5.599,0.114c0,0.613-0.002,1.228,0.002,1.841
                        c0,0.094-0.028,0.117-0.119,0.116C5.15,2.066,4.817,2.067,4.485,2.074c-0.114,0.002-0.229,0.02-0.341,0.041
                        c-0.211,0.04-0.365,0.212-0.374,0.45C3.753,2.999,3.755,3.435,3.748,3.868C3.746,3.948,3.8,3.934,3.846,3.934
                        c0.543,0,1.086,0,1.629,0c0.038,0,0.076,0,0.132,0C5.534,4.626,5.463,5.307,5.39,5.999c-0.545,0-1.086,0-1.641,0
                        c0,2.006,0,4.001,0,6.001c-0.752,0-1.493,0-2.245,0c0-1.997,0-3.992,0-5.995c-0.503,0-0.994,0-1.497,0
                        C0.006,5.968,0.002,5.938,0.002,5.907c0-0.623,0.001-1.246-0.002-1.869C0,3.95,0.028,3.932,0.11,3.933
                        c0.419,0.004,0.837,0.001,1.256,0.001c0.137,0,0.136,0,0.137-0.133c0.006-0.549,0.001-1.099,0.021-1.647
                        C1.539,1.749,1.624,1.355,1.811,0.99c0.206-0.401,0.526-0.674,0.951-0.81c0.235-0.074,0.485-0.106,0.728-0.158
                        C3.523,0.016,3.557,0.008,3.591,0C4.262,0,4.934,0,5.604,0z" />
                    </svg>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <svg x="0px" y="0px" width="12px" height="11.44px" viewBox="0 0 12 11.44" enable-background="new 0 0 12 11.44">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.999,0c1.528,0.013,2.933,0.412,4.153,1.356
                        c0.899,0.695,1.537,1.572,1.766,2.707c0.226,1.115-0.024,2.131-0.654,3.065c-0.487,0.724-1.132,1.294-1.797,1.845
                        c-1.069,0.885-2.216,1.655-3.438,2.312c-0.103,0.056-0.211,0.106-0.323,0.139c-0.215,0.063-0.356-0.073-0.303-0.293
                        c0.045-0.184,0.122-0.359,0.163-0.543c0.042-0.194,0.073-0.394,0.083-0.592C5.66,9.788,5.552,9.688,5.345,9.669
                        C4.046,9.552,2.856,9.14,1.819,8.334C0.869,7.595,0.233,6.65,0.049,5.446c-0.177-1.153,0.129-2.198,0.833-3.119
                        c0.871-1.14,2.053-1.793,3.426-2.132C4.863,0.059,5.427-0.005,5.999,0z M5.903,4.549c0.042,0.052,0.062,0.074,0.079,0.098
                        c0.365,0.495,0.729,0.99,1.096,1.483c0.109,0.147,0.248,0.202,0.384,0.158c0.143-0.045,0.219-0.163,0.219-0.351
                        c0-0.76,0-1.519-0.002-2.279C7.678,3.457,7.545,3.314,7.364,3.313C7.187,3.311,7.052,3.458,7.052,3.657
                        C7.051,4.078,7.051,4.499,7.049,4.919c0,0.037-0.007,0.073-0.013,0.137c-0.04-0.051-0.063-0.078-0.083-0.106
                        c-0.355-0.482-0.71-0.965-1.066-1.448C5.763,3.334,5.645,3.285,5.496,3.33C5.342,3.377,5.273,3.493,5.273,3.707
                        C5.271,4.446,5.268,5.185,5.268,5.924c0,0.23,0.124,0.373,0.316,0.375c0.196,0.002,0.32-0.134,0.322-0.365
                        c0.002-0.288-0.002-0.575-0.003-0.862C5.902,4.909,5.903,4.747,5.903,4.549z M8.733,3.945c0.284,0,0.551,0.002,0.817,0
                        c0.21-0.003,0.349-0.126,0.353-0.306c0.004-0.191-0.131-0.327-0.345-0.33C9.183,3.305,8.809,3.305,8.434,3.311
                        C8.214,3.314,8.093,3.438,8.092,3.66C8.088,4.424,8.086,5.188,8.088,5.953c0,0.231,0.122,0.345,0.356,0.345
                        c0.375,0.001,0.749,0.001,1.124,0c0.049,0,0.103-0.006,0.148-0.025c0.145-0.061,0.216-0.201,0.185-0.349
                        C9.87,5.775,9.745,5.672,9.577,5.67C9.296,5.667,9.016,5.669,8.73,5.669c0-0.189,0-0.36,0-0.544c0.285,0,0.561,0.002,0.836,0
                        c0.201-0.002,0.34-0.136,0.338-0.32C9.902,4.625,9.771,4.501,9.573,4.493C9.496,4.49,9.419,4.492,9.342,4.492
                        c-0.203,0-0.406,0-0.609,0C8.733,4.3,8.733,4.133,8.733,3.945z M2.738,5.672c0-0.07,0-0.125,0-0.18
                        c-0.001-0.604,0-1.209-0.004-1.814C2.732,3.456,2.608,3.317,2.422,3.315C2.237,3.314,2.107,3.456,2.106,3.674
                        C2.103,4.433,2.102,5.191,2.104,5.95c0,0.23,0.125,0.347,0.356,0.348c0.369,0.001,0.738,0.001,1.107,0
                        c0.055,0,0.114-0.006,0.164-0.027c0.136-0.058,0.211-0.204,0.185-0.337c-0.029-0.147-0.158-0.258-0.318-0.26
                        C3.318,5.669,3.037,5.672,2.738,5.672z M4.831,4.797c-0.002,0-0.005,0-0.008,0c0-0.374,0.004-0.748-0.003-1.122
                        C4.818,3.594,4.793,3.501,4.748,3.434C4.667,3.313,4.535,3.292,4.405,3.34C4.251,3.397,4.202,3.527,4.202,3.684
                        c0,0.749-0.003,1.497-0.003,2.245c0,0.226,0.128,0.369,0.321,0.367c0.188-0.002,0.309-0.138,0.31-0.36
                        C4.833,5.556,4.831,5.177,4.831,4.797z" />
                    </svg>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <svg x="0px" y="0px" width="12px" height="9.822px" viewBox="0 0 12 9.822" enable-background="new 0 0 12 9.822">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.581,7.707C2.465,7.578,1.695,7.037,1.29,5.979
                        c0.365,0.007,0.702,0.04,1.06-0.049C1.14,5.539,0.495,4.74,0.43,3.479C0.764,3.635,1.107,3.73,1.497,3.763
                        C0.408,2.844,0.194,1.752,0.75,0.459C0.966,0.67,1.159,0.858,1.352,1.048c1.232,1.212,2.722,1.852,4.436,1.99
                        c0.026,0.002,0.053,0,0.06,0c0-0.225,0.001-0.438,0-0.653C5.839,1.342,6.656,0.266,7.85,0.048c0.786-0.144,1.511,0.036,2.114,0.589
                        c0.126,0.115,0.251,0.152,0.406,0.094c0.349-0.132,0.697-0.264,1.045-0.398c0.087-0.033,0.172-0.075,0.289-0.127
                        c-0.195,0.554-0.538,0.958-0.966,1.308c0.435-0.023,0.838-0.179,1.262-0.29c-0.022,0.033-0.042,0.069-0.065,0.102
                        c-0.284,0.386-0.612,0.729-0.99,1.023c-0.086,0.066-0.124,0.137-0.125,0.245c-0.01,0.548-0.044,1.093-0.167,1.628
                        c-0.43,1.872-1.396,3.39-2.996,4.476C6.792,9.283,5.835,9.643,4.798,9.758c-0.969,0.107-1.938,0.1-2.891-0.161
                        C1.273,9.424,0.68,9.158,0.111,8.833c-0.031-0.017-0.059-0.038-0.088-0.06C0.019,8.771,0.018,8.762,0,8.725
                        C1.314,8.824,2.504,8.517,3.581,7.707z" />
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div>