<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="description" content="網站描敘">
  <meta name="keywords" content="網站關鍵字">
  <meta name="format-detection" content="telephone=no">
  <title>PAPILLON</title>

  <!--[if lt IE 9]><script src="../../assets/js/vendor/html5shiv-master/html5shiv.js"></script><![endif]--><!--讓ie9以下看懂html5標籤-->

  <!-- icon -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/img/ico/favicon.png">
  <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/ico/favicon.png">
  <link rel="icon" type="image/x-icon" href="../../assets/img/ico/favicon.png">

  <!-- 共用CSS -->
    <!-- <link rel="stylesheet" href="../../assets/css/icon-style.css"> -->
    <link rel="stylesheet" href="../../assets/js/vendor/cgpagechange/cgpagechange.css">
    <link rel="stylesheet" href="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.css">
  <!-- 共用CSS end-->

  <!-- 非共用CSS -->

  <!-- 非共用CSS end-->


  <link rel="stylesheet" href="../../assets/css/shopping_qa.css">

</head>

<body id="shopping_qa" class="shopping_qa">

  <header></header>

  <main>

    <article class="m_box">

      <!--標題-->
      <section class="_top">
        
        <div class="_title">
          <h2>SHOPPING QA</h2>
          <p>購物QA</p>
        </div>
    
      </section>

      <!--下拉選單-->
      <div class="dropMenu">
        <div class="menulist">
          <span class="selectMenu arrow-icon"><p>購物須知</p></span>
        </div>
        <ul tabindex="1" class="dropMenu_box" style="overflow: hidden; outline: none;">
          <li>
            <p>購物須知</p>
          </li>
          <li>
            <p>其它問題</p>
          </li>
        </ul>
      </div>

      <section class="work_1">
        <!--清單 購物需知--><!--預設出現-->
        <ul class="container cont_0 show">
          <li class="list">
            <div class="click_btn">
              <div class="title">
                <p class="num">01</p>
                <p class="text">登入會員</p>
              </div>
              <div class="content">
                <ul class="frame">
                  <li>
                    <p>採取會員制，初次購買請先加入會員，登入即可開始購物。</p>
                  </li>
                  <li>
                    <p>會員登錄後，於「購物車」中檢視所要訂購商品的明細，確認訂單如款式、金額、數量正確後，請按照付款方式進行下一步驟。</p>
                  </li>
                  <li>
                    <p>系統確認訂單後，於帳戶頁面顯示訂單明細即完成訂購。</p>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="list">
            <div class="click_btn">
              <div class="title">
                <p class="num">02</p>
                <p class="text">訂單成立</p>
              </div>
              <div class="content">
                <ul class="frame">
                  <li>
                    <p>訂單確認流程於24小時內系統自動完成。產生訂單確認之E-mail將自動寄送至您註冊之E-mail帳號中，並附有訂單號碼。</p>
                  </li>
                  <li>
                    <p>顧客經由系統登入後，於「會員中心」裡的「訂單查詢」查詢訂單與出貨狀態（如：訂單處理中、已出貨等訊息)。出貨時將會以E-mail通知您。</p>
                  </li>
                  <li>
                    <p>在訂單狀態為已出貨前，均可經由服務系統來做訂單更改。請於週一至週五上班時間連絡客服人員，並註明訂單號碼，我們將於工作時間盡快為您服務。</p>
                  </li>
                  <li>
                    <p>商品會因為使用不同的品牌螢幕以及解析度不同，造成圖片顏色呈現略有不同，請以實品顏色為準！</p>
                  </li>
                  <li>
                    <p>訂購商品會在確認訂單及貨款確認無誤之後，5天內出貨(週末及例假日順延)。</p>
                  </li>
                  <li>
                    <p>若遇有缺貨、斷貨(因與網路商店同步販售少數時候會無庫存)或配送中無法順利送達的情形，導致無法於 5 個工作天內寄送給您，客服人員將會以電話/EMAIL通知您。</p>
                  </li>
                  <li>
                    <p>戒指改圍需要7個工作天後寄出，特殊訂製商品需要30個工作天後寄出。</p>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="list">
            <div class="click_btn">
              <div class="title">
                <p class="num">03</p>
                <p class="text">付款方式</p>
              </div>
              <div class="content">
                <ul class="frame">
                  <li>
                    <p>各家銀行之VISA及MASTER信用卡有開啟3D網路認證皆可使用。</p>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="list">
            <div class="click_btn">
              <div class="title">
                <p class="num">04</p>
                <p class="text">配送方式</p>
              </div>
              <div class="content">
                <ul class="frame">
                  <li>
                    <p>訂單成立後並確認款項，於5日內出貨完畢(不包含假日)。為了保障消費者能在最短的時間內收到完美的商品，以及避免運送過程中的意外，選擇郵局掛號做為合作遞送夥伴，讓您從購買的那一刻，享受最優良的服務品質。</p>
                  </li>
                  <li>
                    <p>郵局：掛號簽收50元。</p>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="list">
            <div class="click_btn">
              <div class="title">
                <p class="num">05</p>
                <p class="text">瑕疵說明</p>
              </div>
              <div class="content">
                <ul class="frame">
                  <li>
                    <p>色差 : 每台電腦皆會有色差，以實物為準。</p>
                  </li>
                  <li>
                    <p>金屬刮痕；金屬產品，或有重疊部分，表面會產生摩擦，有細小刮痕，小凹凸點。</p>
                  </li>
                  <li>
                    <p>尺寸誤差；尺寸可能因測量不同而存在誤差，0.5-1公分屬正常。。</p>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="list">
            <div class="click_btn">
              <div class="title">
                <p class="num">06</p>
                <p class="text">退換貨流程</p>
              </div>
              <div class="content">
                <ul class="frame">
                  <li>
                    <p>線上購物消費者均享有7天鑑賞期之權益，請您務必於貨到7天內(包括周休二日、國定假日等)辦理退換貨，請聯繫法蝶客服，辦理退換貨程序。</p>
                  </li>
                  <li>
                    <p>退貨商品須保持收貨時的完整包裝，商品無配戴痕跡，保持商品原樣，若有活動贈品，需與退貨商品一同寄回，否則恕不接受退貨。</p>
                  </li>
                  <li>
                    <p>商品出貨前都經過專業人員檢查後出貨，退換貨須自行負擔運費。</p>
                  </li>
                  <li>
                    <p>若商品因消費者個人不當使用或人為因素造成故障，毀損，磨損，擦傷，刮傷，髒污，包裝破損不完整者，或是配件不齊者，恕不接受退貨。</p>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="list">
            <div class="click_btn">
              <div class="title">
                <p class="num">07</p>
                <p class="text">退款說明</p>
              </div>
              <div class="content">
                <ul class="frame">
                  <li>
                    <p>法蝶收到客戶所寄回來之發票與商品後，將進行退貨確認流程，確認無誤後會進行退款程序，退款一律以原刷卡之信用卡進行刷退退款，退款日期以各家刷卡銀行為主。 如購買時享有滿額折扣，退款時，將扣除相關折扣，差價退還！</p>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="list">
            <div class="click_btn">
              <div class="title">
                <p class="num">08</p>
                <p class="text">發票寄送</p>
              </div>
              <div class="content">
                <ul class="frame">
                  <li>
                    <p>採用二聯式發票與商品一同寄出。</p>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="list">
            <div class="click_btn">
              <div class="title">
                <p class="num">09</p>
                <p class="text">注意事項</p>
              </div>
              <div class="content">
                <ul class="frame">
                  <li>
                    <p>詐騙集團猖獗，切勿依照他人指示操作ATM自動櫃員機。如遇任何問題疑慮都請與法蝶珠寶客服聯繫。</p>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>

        <!--清單 其他問題--><!--預設隱藏-->
        <ul class="container cont_1">
          <li class="list">
            <div class="click_btn">
              <div class="title">
                <p class="num">01</p>
                <p class="text">登入會員</p>
              </div>
              <div class="content">
                <ul class="frame">
                  <li>
                    <p>採取會員制，初次購買請先加入會員，登入即可開始購物。</p>
                  </li>
                  <li>
                    <p>會員登錄後，於「購物車」中檢視所要訂購商品的明細，確認訂單如款式、金額、數量正確後，請按照付款方式進行下一步驟。</p>
                  </li>
                  <li>
                    <p>系統確認訂單後，於帳戶頁面顯示訂單明細即完成訂購。</p>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="list">
            <div class="click_btn">
              <div class="title">
                <p class="num">02</p>
                <p class="text">訂單成立</p>
              </div>
              <div class="content">
                <ul class="frame">
                  <li>
                    <p>訂單確認流程於24小時內系統自動完成。產生訂單確認之E-mail將自動寄送至您註冊之E-mail帳號中，並附有訂單號碼。</p>
                  </li>
                  <li>
                    <p>顧客經由系統登入後，於「會員中心」裡的「訂單查詢」查詢訂單與出貨狀態（如：訂單處理中、已出貨等訊息)。出貨時將會以E-mail通知您。</p>
                  </li>
                  <li>
                    <p>在訂單狀態為已出貨前，均可經由服務系統來做訂單更改。請於週一至週五上班時間連絡客服人員，並註明訂單號碼，我們將於工作時間盡快為您服務。</p>
                  </li>
                  <li>
                    <p>商品會因為使用不同的品牌螢幕以及解析度不同，造成圖片顏色呈現略有不同，請以實品顏色為準！</p>
                  </li>
                  <li>
                    <p>訂購商品會在確認訂單及貨款確認無誤之後，5天內出貨(週末及例假日順延)。</p>
                  </li>
                  <li>
                    <p>若遇有缺貨、斷貨(因與網路商店同步販售少數時候會無庫存)或配送中無法順利送達的情形，導致無法於 5 個工作天內寄送給您，客服人員將會以電話/EMAIL通知您。</p>
                  </li>
                  <li>
                    <p>戒指改圍需要7個工作天後寄出，特殊訂製商品需要30個工作天後寄出。</p>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="list">
            <div class="click_btn">
              <div class="title">
                <p class="num">03</p>
                <p class="text">付款方式</p>
              </div>
              <div class="content">
                <ul class="frame">
                  <li>
                    <p>各家銀行之VISA及MASTER信用卡有開啟3D網路認證皆可使用。</p>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="list">
            <div class="click_btn">
              <div class="title">
                <p class="num">04</p>
                <p class="text">配送方式</p>
              </div>
              <div class="content">
                <ul class="frame">
                  <li>
                    <p>訂單成立後並確認款項，於5日內出貨完畢(不包含假日)。為了保障消費者能在最短的時間內收到完美的商品，以及避免運送過程中的意外，選擇郵局掛號做為合作遞送夥伴，讓您從購買的那一刻，享受最優良的服務品質。</p>
                  </li>
                  <li>
                    <p>郵局：掛號簽收50元。</p>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="list">
            <div class="click_btn">
              <div class="title">
                <p class="num">05</p>
                <p class="text">瑕疵說明</p>
              </div>
              <div class="content">
                <ul class="frame">
                  <li>
                    <p>色差 : 每台電腦皆會有色差，以實物為準。</p>
                  </li>
                  <li>
                    <p>金屬刮痕；金屬產品，或有重疊部分，表面會產生摩擦，有細小刮痕，小凹凸點。</p>
                  </li>
                  <li>
                    <p>尺寸誤差；尺寸可能因測量不同而存在誤差，0.5-1公分屬正常。。</p>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="list">
            <div class="click_btn">
              <div class="title">
                <p class="num">06</p>
                <p class="text">退換貨流程</p>
              </div>
              <div class="content">
                <ul class="frame">
                  <li>
                    <p>線上購物消費者均享有7天鑑賞期之權益，請您務必於貨到7天內(包括周休二日、國定假日等)辦理退換貨，請聯繫法蝶客服，辦理退換貨程序。</p>
                  </li>
                  <li>
                    <p>退貨商品須保持收貨時的完整包裝，商品無配戴痕跡，保持商品原樣，若有活動贈品，需與退貨商品一同寄回，否則恕不接受退貨。</p>
                  </li>
                  <li>
                    <p>商品出貨前都經過專業人員檢查後出貨，退換貨須自行負擔運費。</p>
                  </li>
                  <li>
                    <p>若商品因消費者個人不當使用或人為因素造成故障，毀損，磨損，擦傷，刮傷，髒污，包裝破損不完整者，或是配件不齊者，恕不接受退貨。</p>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="list">
            <div class="click_btn">
              <div class="title">
                <p class="num">07</p>
                <p class="text">退款說明</p>
              </div>
              <div class="content">
                <ul class="frame">
                  <li>
                    <p>法蝶收到客戶所寄回來之發票與商品後，將進行退貨確認流程，確認無誤後會進行退款程序，退款一律以原刷卡之信用卡進行刷退退款，退款日期以各家刷卡銀行為主。 如購買時享有滿額折扣，退款時，將扣除相關折扣，差價退還！</p>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="list">
            <div class="click_btn">
              <div class="title">
                <p class="num">08</p>
                <p class="text">發票寄送</p>
              </div>
              <div class="content">
                <ul class="frame">
                  <li>
                    <p>採用二聯式發票與商品一同寄出。</p>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="list">
            <div class="click_btn">
              <div class="title">
                <p class="num">09</p>
                <p class="text">注意事項</p>
              </div>
              <div class="content">
                <ul class="frame">
                  <li>
                    <p>詐騙集團猖獗，切勿依照他人指示操作ATM自動櫃員機。如遇任何問題疑慮都請與法蝶珠寶客服聯繫。</p>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </section>
      
    </article>

  </main>

  <footer></footer>

<!-- 共用 -->
  <script src="../../assets/js/vendor/jquery-2.2.4.min.js"></script>
  <script src="../../assets/js/vendor/cgpagechange/cgpagechange.js"></script>
  <script src="../../assets/js/vendor/waypoints/waypoints.min.js"></script>
  <script src="../../assets/js/vendor/jquery.nicescroll/jquery.nicescroll.js"></script>
  <script src="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.js"></script>
<!-- 共用end -->

<!-- 非共用 -->
<!-- 非共用end-->

  <script src="../../assets/js/main.js"></script>

</body>
</html>
