@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?daoztd');
  src:  url('fonts/icomoon.eot?daoztd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?daoztd') format('truetype'),
    url('fonts/icomoon.woff?daoztd') format('woff'),
    url('fonts/icomoon.svg?daoztd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-5:before {
  content: "\e900";
}
.icon-4:before {
  content: "\e901";
}
.icon-3:before {
  content: "\e902";
}
.icon-2:before {
  content: "\e903";
}
.icon-1:before {
  content: "\e904";
}
.icon-uniE905:before {
  content: "\e905";
}
.icon-arrowLeft:before {
  content: "\e906";
}
.icon-arrowRight:before {
  content: "\e907";
}
.icon-book:before {
  content: "\e908";
}
.icon-chain:before {
  content: "\e909";
}
.icon-download:before {
  content: "\e90a";
}
.icon-instagram:before {
  content: "\e90b";
}
.icon-keyboard_arrow_left:before {
  content: "\e90c";
}
.icon-keyboard_arrow_right:before {
  content: "\e90d";
}
.icon-line:before {
  content: "\e90e";
}
.icon-link:before {
  content: "\e90f";
}
.icon-magnifier:before {
  content: "\e910";
}
.icon-wechat:before {
  content: "\e911";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-sina-weibo:before {
  content: "\ea9a";
}
