<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <meta name="format-detection" content="telephone=no">
    <title>TECOEP</title>
    <link rel="stylesheet" href="../../assets/js/vendor/cgpagechange/cgpagechange.css">
    <link rel="stylesheet" href="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="../../assets/js/vendor/slick/slick.css">
    <link rel="stylesheet" href="../../assets/js/vendor/slick/slick-theme.css">
    <!-- 共用CSS end-->
    <!-- 非共用CSS -->
    <!-- 非共用CSS end-->
    <link rel="stylesheet" href="../../assets/css/about/about.css">
</head>

<body id="about" class="index">
    <header>
    </header>
    <main>
        <article class="banner full">
            <div class="banner_img">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="" media="(max-width:900px)">
                    <img data-color="darkBg" src="../../upload/f2e/about/index/banner_img_1920_1080.jpg">
                </picture>
            </div>
            <!-- 後端請注意:此處的文字需可讓客戶自行填入color -->
            <!-- 後端請注意:slogan的位置有兩種right和left需可讓客戶自行選擇 -->
            <div class="banner_slogan">
                <!-- 後端請注意:此處的結構如果沒有填入內容的話請移除 -->
                <h2>About</h2>
                <h4>TECO product industry applications</h4>
                <h3>關於東元電機</h3>
            </div>
            <div class="banner_scrollDown">
                <p>SCROLL DOWN</p>
            </div>
        </article>
        <article class="select_nav">
            <span class="selectInf"><p>東元電機介紹</p><b>INTRODUCTION</b></span>
            <ul>
                <li class="active">
                    <p>東元電機介紹</p>
                    <b>INTRODUCTION</b>
                </li>
                <li>
                    <p>東元電機事記</p>
                    <b>HISTORY</b>
                </li>
                <li>
                    <p>我們的榮耀</p>
                    <b>GLORY</b>
                </li>
            </ul>
        </article>
        <article class="content">
            <!-- 東元機電介紹 -->
            <section class="introduction active">
                <div class="_title">
                    <h2>About<span>SA</span></h2>
                    <h3>東元機電介紹</h3>
                </div>
                <div class="introduction_content">
                    <div class="idea">
                        <div class="left">
                            <div class="_img">
                                <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/about/index/idea_img1_760_450.jpg" alt="">
                            </div>
                            <div class="_text">
                                <h2>工業物聯網(IIoT)的系統整合理念</h2>
                                <h3>Engineering solutions fine</h3>
                                <span></span>
                                <p>東元機電系統營銷事業部，基於公司經營理念「節能、減排、智能、自動」，致力於顧客導向、工業物聯網(IIoT)的系統整合、創新應用與市場節能，整合馬達、減速機及中、低壓變頻器、電子式保護電驛，提供動力傳輸系統性產品銷售服務，以及客製化最佳解決方案，協助客戶達到「安全穩定、降低成本、提高效能」的目標。</p>
                            </div>
                        </div>
                        <div class="right">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/about/index/idea_img2_540_610.jpg" alt="">
                        </div>
                    </div>
                    <div class="center">
                        <div class="_img">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/about/index/center_img_760_450.jpg" alt="">
                        </div>
                        <div class="_text">
                            <h2>擁有自主研發設計中心</h2>
                            <h3>Engineering solutions fine</h3>
                            <span></span>
                            <p>其中馬達乃機電產品之核心一環，擁有自主研發設計中心，承製 1/4HP 到 100,000HP 低中高壓馬達與 14.5kV 超高電壓完整範圍的馬達之實力，且通過多國試驗室認證，並透過全球化生產基地、行銷與服務網絡，布局鏈完整綿密。身為工業產品製造者的領導品牌，積極推展「綠色產品」，推出IE3與IE4超高效率馬達，並搭配全系列510變頻器，節省大量電力，減少能源消耗，為客戶提高整體系統效能。</p>
                        </div>
                    </div>
                    <div class="threeS">
                        <div class="_img">
                            <ul>
                                <li>
                                    <span class="icon-batter"></span>
                                    <div>
                                        <h2>Safe</h2>
                                        <p>保障用電安全</p>
                                    </div>
                                </li>
                                <li>
                                    <span class="icon-van"></span>
                                    <div>
                                        <h2>Saving</h2>
                                        <p>節能效率高</p>
                                    </div>
                                </li>
                                <li>
                                    <span class="icon-robot"></span>
                                    <div>
                                        <h2>Smart</h2>
                                        <p>智慧控制</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="_text">
                            <h2>3S效益的社會責任</h2>
                            <h3>3S benefit social responsibility</h3>
                            <span></span>
                            <p>藉由智慧馬達&智慧變頻器的共同推動，最終給予客戶擁有最高3S效益，Safe:保障用電安全、Saving:節能效率高、Smart:智慧控制，盡到了節能高效的社會責任。</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- 東元機電事記 -->
            <section class="history">
                <div class="_title">
                    <h2>SA<span>History</span></h2>
                    <h3>東元機電事記</h3>
                </div>
                <div class="history_nav">
                    <div class="checked">
                        <p>企業事記</p>
                    </div>
                    <div>
                        <p>產品發展史</p>
                    </div>
                </div>
                <div class="history_content">
                    <!-- 企業事記 -->
                    <div class="years active">
                        <div class="year">
                            <h2>2017</h2>
                            <ul>
                                <li>東元變頻器 F510榮獲2013年台灣精品獎</li>
                                <li>低壓開關產品 電容式電磁接觸器 榮獲2013年台灣精品獎</li>
                                <li>東元電控事業部通過ISO/TS 16949 認證</li>
                            </ul>
                        </div>
                        <div class="year">
                            <h2>2016</h2>
                            <ul>
                                <li>完成MCCB的CNS 14816-2(IEC60947-2)認證</li>
                                <li>轉投資東元科技(越南)責任有限公司，從事電磁開關及無熔線斷路器之生產及銷售，積極拓展越南市場</li>
                                <li>結束轉投資台安國際貿易(上海)有限公司之營運</li>
                                <li>電磁接觸器及電磁開關等系列產品符合ROHS危害物質限用指令規定上市</li>
                            </ul>
                        </div>
                        <div class="year">
                            <h2>2015</h2>
                            <ul>
                                <li>東元變頻器A510榮獲2012年台灣精品獎</li>
                                <li> 東元變頻器E510榮獲2012年台灣精品獎</li>
                                <li>東元交流伺服驅動系統JSDA+榮獲2012年台灣精品獎</li>
                            </ul>
                        </div>
                        <div class="year">
                            <h2>2014</h2>
                            <ul>
                                <li>由香港富維實業FibreLight Reflexion (HK) limited與台安電機合資創立富迅科技(股)公司，同年三月並</li>
                                <li>由中國電器股份有限公司增資入股。從事有關光纖應用的技術研發、產品產銷與技術服務等業務。</li>
                                <li>開發出第一部台灣製400馬力驅動器</li>
                            </ul>
                        </div>
                        <div class="year">
                            <h2>2013</h2>
                            <ul>
                                <li>東元變頻器 F510榮獲2013年台灣精品獎</li>
                                <li>低壓開關產品 電容式電磁接觸器 榮獲2013年台灣精品獎</li>
                                <li>東元電控事業部通過ISO/TS 16949 認證</li>
                            </ul>
                        </div>
                        <div class="year">
                            <h2>2012</h2>
                            <ul>
                                <li>完成MCCB的CNS 14816-2(IEC60947-2)認證</li>
                                <li>轉投資東元科技(越南)責任有限公司，從事電磁開關及無熔線斷路器之生產及銷售，積極拓展越南市場</li>
                                <li>結束轉投資台安國際貿易(上海)有限公司之營運</li>
                                <li>電磁接觸器及電磁開關等系列產品符合ROHS危害物質限用指令規定上市</li>
                            </ul>
                        </div>
                        <div class="year">
                            <h2>2011</h2>
                            <ul>
                                <li>完成MCCB的CNS 14816-2(IEC60947-2)認證</li>
                                <li>轉投資東元科技(越南)責任有限公司，從事電磁開關及無熔線斷路器之生產及銷售，積極拓展越南市場</li>
                                <li>結束轉投資台安國際貿易(上海)有限公司之營運</li>
                                <li>電磁接觸器及電磁開關等系列產品符合ROHS危害物質限用指令規定上市</li>
                            </ul>
                        </div>
                    </div>
                    <!-- 企業發展史 -->
                    <div class="years">
                        <div class="year">
                            <h2>2017</h2>
                            <ul>
                                <li>東元變頻器 F510榮獲2013年台灣精品獎</li>
                                <li>低壓開關產品 電容式電磁接觸器 榮獲2013年台灣精品獎</li>
                                <li>東元電控事業部通過ISO/TS 16949 認證</li>
                            </ul>
                        </div>
                        <div class="year">
                            <h2>2016</h2>
                            <ul>
                                <li>完成MCCB的CNS 14816-2(IEC60947-2)認證</li>
                                <li>轉投資東元科技(越南)責任有限公司，從事電磁開關及無熔線斷路器之生產及銷售，積極拓展越南市場</li>
                                <li>結束轉投資台安國際貿易(上海)有限公司之營運</li>
                                <li>電磁接觸器及電磁開關等系列產品符合ROHS危害物質限用指令規定上市</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- 我們的榮耀 -->
            <section class="awards">
                <div class="_title">
                    <h2>EP<span>AWARDS</span></h2>
                    <h3>我們的榮耀</h3>
                </div>
                <div class="awards_content">
                    <ul>
                        <li>
                            <!-- 後端請注意:圖片最大寬高為700*500 多了會出問題.....-->
                            <div class="_img">
                                <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/about/index/awards_img1_700_500.jpg" alt="">
                                 <div class="hoverBox">
                                <span><i></i></span>
                            </div>
                            </div>
                            <h2>台灣精品獎</h2>
                            <p>電子式無熔線斷路器</p>
                           
                        </li>
                        <li>
                            <div class="_img">
                                <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/about/index/awards_img2_340_480.jpg" alt="">
                                 <div class="hoverBox">
                                <span><i></i></span>
                            </div>
                            </div>
                            <h2>台灣精品獎 </h2>
                            <p>A510馬達驅動器</p>
                           
                        </li>
                        <li>
                            <div class="_img">
                                <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/about/index/awards_img1_700_500.jpg" alt="">
                                 <div class="hoverBox">
                                <span><i></i></span>
                            </div>
                            </div>
                            <h2>台灣精品獎 </h2>
                            <p>L510馬達驅動器</p>
                           
                        </li>
                        <li>
                            <!-- 後端請注意:圖片最大寬高為700*500 多了會出問題.....-->
                            <div class="_img">
                                <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/about/index/awards_img1_700_500.jpg" alt="">
                                   <div class="hoverBox">
                                <span><i></i></span>
                            </div>
                            </div>
                            <h2>台灣精品獎</h2>
                            <p>電子式無熔線斷路器</p>
                         
                        </li>
                        <li>
                            <div class="_img">
                                <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/about/index/awards_img2_340_480.jpg" alt="">
                                <div class="hoverBox">
                                <span><i></i></span>
                            </div>
                            </div>
                            <h2>台灣精品獎 </h2>
                            <p>A510馬達驅動器</p>
                            
                        </li>
                        <li>
                            <div class="_img">
                                <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/about/index/awards_img1_700_500.jpg" alt="">
                                <div class="hoverBox">
                                <span><i></i></span>
                            </div>
                            </div>
                            <h2>台灣精品獎 </h2>
                            <p>L510馬達驅動器</p>
                            
                        </li>
                    </ul>
                </div>
            </section>
        </article>
    </main>
    <footer>
    </footer>
    <script src="../../assets/js/style.js"></script>
</body>

</html>