@import "../base/_reset.scss";
@import "../base/_variable.scss";
@import "../base/_common.scss";

@mixin beforeLine {
    position: absolute;
    top: 0;
    left: -1px;
    @include fakeLine(1px, 100%, #3d8bb2);
    @media all and (max-width: 700px) {
        @include fakeLine( 100%, 1px, #3d8bb2);
    }
}


.registeredLibox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 102, 154, .95);
    color: #fff;
    overflow: auto;
    &.open {
        display: block;
        animation: fadeIn .8s both;
    }
    &.close {
        display: block;
        animation: fadeOut .8s both;
    }
    .header {
        background: none;
        .X {
            span:before,
            span:after {
                background-color: #fff;
            }
        }
        ._title {
            padding-top: 70px;
        }
    }
    .word {
        @include flex-center;
        flex-direction: column;
        p {
            @include font-size(14);
            line-height: 1.5;
            letter-spacing: 1px;
        }
        .numb {
            font-family: 'Quicksand-Regular';
            @include font-size(48);
            margin: 0 15px;
        }
    }
    .category {
        ul {
            @include flex-center;
            flex-wrap: wrap;
            counter-reset: num;
            max-width: 1350px;
            margin: auto;
            @media all and (max-width: 1279px) {
                max-width: 1080px;
            }
            @media all and (max-width: 1024px) {
                max-width: 800px;
            }
            @media all and (max-width: 700px) {
                max-width: 400px;
            }
            li {
                counter-increment: num;
                letter-spacing: 1px;
                line-height: 1.5;
                color: rgba(255, 255, 255, .5);
                margin-top: 80px;
                transition: all .4s ease;
                @media all and (max-width: 1024px) {
                    max-width: 400px;
                    width: 45vw;
                    color: #fff;
                    letter-spacing: 2px;
                }
                @media all and (max-width: 700px) {
                    width: 90vw;
                    margin-top: 0vh;
                    padding: 10px 5vw 25px 5vw;
                }
                a {
                    padding: 15px 50px 25px 50px;
                    @include flex-center;
                    flex-direction: column;
                    position: relative;
                }
                span {
                    @include font-size(60);
                    font-family: 'Quicksand-Light';
                    color: $base_blue;
                    @media all and (max-width: 400px) {
                        @include font-size(54);
                    }
                }
                h3 {
                    @include font-size(22);
                    @media all and (max-width: 400px) {
                        @include font-size(20);
                    }
                }
                h2 {
                    @include font-size(30);
                    @media all and (max-width: 400px) {
                        @include font-size(26);
                    }
                }
                p {
                    @include font-size(18);
                    @media all and (max-width: 400px) {
                        @include font-size(16);
                    }
                }
                &:first-child {
                    @media all and (max-width: 700px) {
                        margin-top: 8vh;
                    }
                    &:before {
                        @include beforeLine;
                    }
                }
                @media all and (min-width: 1280px) {
                    &:nth-child(4n+1):before {
                        @include beforeLine;
                    }
                }
                @media all and (max-width: 1279px) and (min-width: 1025px) {
                    &:nth-child(3n+1):before {
                        @include beforeLine;
                    }
                }
                @media all and (max-width: 1024px) and (min-width: 701px) {
                    &:nth-child(2n+1):before {
                        @include beforeLine;
                    }
                }
                @media all and (max-width: 700px) {
                    &:before {
                        @include beforeLine;
                    }
                }
                &:after {
                    position: absolute;
                    top: 0;
                    right: 0;
                    @include fakeLine(1px, 100%, #3d8bb2);
                    @media all and (max-width: 700px) {
                        top: auto;
                        bottom: -1px;
                        @include fakeLine(100%, 1px, #3d8bb2);
                    }
                }
                &:hover {
                    @media all and (min-width: 1024px) {
                        letter-spacing: 5px;
                        color: #fff;
                    }
                }
            }
        }
    }
    .liboxToTop {
        span {
            background-color: #3d8ab1;
            &:before {
                color: #afcede;
            }
        }
    }
}