
<section>
  <div class="liboxClose"><span></span></div>
  <div class="topNav" style="background-color: #ebeaea">
    <h6>咖啡廳</h6>
    <div class="inf">
      <div class="location">
        <div class="_title">
          <p class="ch">地點樓層</p>
          <p class="en">Location</p>
        </div>
        <div>
          <p>1F (漢來咖啡)、2F (STARBUCKS)、8F (Café del SOL、simtree)</p>
        </div>
      </div>
    </div>
  </div>
  <div class="_slick">
    <ul>
      <!-- 後端請注意 如果是影片的話 請在下方data-videoId填入影片id-->
      <li data-videoId="lwW9G5GaSv0">
        <div>
          <figure><img data-lazy="../../upload/fa2/service/facility/liboxSlickImg.jpg" alt=""/></figure>
          <!-- 後端請注意: 如果下面沒有內容的話 請移除--><b>以純白的印象營造出一種兼具休閒又不失精緻的質感</b>
        </div>
      </li>
      <!-- 後端請注意 如果是影片的話 請在下方data-videoId填入影片id-->
      <li data-videoId="">
        <div>
          <figure><img data-lazy="../../upload/fa2/service/facility/liboxSlickImg.jpg" alt=""/></figure>
          <!-- 後端請注意: 如果下面沒有內容的話 請移除--><b>以純白的印象營造出一種兼具休閒又不失精緻的質感</b>
        </div>
      </li>
    </ul>
    <div class="arrows"> <span class="icon-arrowLeft"></span><span class="icon-arrowRight"></span></div>
  </div>
  <div class="rows">
    <div class="row">
      <div class="_text">
        <h6>誠邀您品嘗1F漢來咖啡 香醇可口</h6>
        <p>在精品林立的百貨大廳，時尚、簡約的Hi-Lai Cafe以純白的印象營造出一種兼具休閒又不失精緻的質感。強調原味、自然、健康的輕食，提供喜歡輕食的人一種吃的 SPA 的全新體驗；精純、香濃的咖啡則讓喜歡思考的人沉浸在醇與純的時空裡靜靜品味；舒適、寬敞的座椅和空間，更是逛街累了的最佳場所。</p>
      </div>
    </div>
    <div class="row">
      <div class="_text">
        <h6>興趣 X simtree 是傳達給消費者的信仰</h6>
        <ul>
          <li>致力于提供一個快樂工作的環境，就同公司的名字“白畫文”，讓工作夥伴自由盡情的揮灑。</li>
          <li>帶領咖啡產業走向第三波的咖啡革命，對於每一件產品非常要求，所以致力于高CP值。</li>
          <li>咖啡飲品、一般飲品、西點、麵包、輕食 & 咖啡豆、手沖器具。</li>
        </ul>
      </div>
    </div>
  </div>
</section>