<!DOCTYPE html>
<html>

<head>
    <title>TECO</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <link href="../../assets/img/favicon-20170414044912706.ico" rel="icon" type="image/x-icon">
    <!--slick-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/slick/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/slick/slick.css" />
    <!--fons-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/fontAwesome/font-awesome.css" />
    <!--semanticwp-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/semanticwp/jquery.semanticwp-modal.min.css" />
    <!--mCustomScrollbar-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/mCustomScrollbar/jquery.mCustomScrollbar.css" />
    <!--style.css-->
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/shop/index.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/shop/checkout.css" />
</head>

<body class="fontM" id="top">
    <header class="menuBar menuFix">
        <div class="inner">
            <div class="logo">
                <a href="../home"><img src="../../assets/img/logo.png"></a>
                <h1 title="TECO東元" class="disNone">TECO東元</h1>
            </div>
            <div class="left">
                <div class="menuBtn">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <a href="javascript:void(0)" class="use_search"><i class="fa fa-search"></i></a>
                <a href="javascript:void(0)">產品專區</a>
                <a href="javascript:void(0)">液晶顯示器</a>
            </div>
            <div class="right">
                <a href="../contact/index.html"><span>客服專線</span></a>
                <a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="../location/index.html"><i class="icon-map" aria-hidden="true"></i></a>
                <a href="../member/index.html"><i class="icon-user" aria-hidden="true"></i></a>
                <a href="../shop/index.html"><i class="icon-cart" aria-hidden="true"></i>

                    <div class="smallcircle" style="display: none"><span>1</span></div>
                </a>
                <!-- 購物車買的數量 -->
            </div>
        </div>
    </header>
    <nav class="navbox">
        <ul>
            <li><a href="../product/detail01.html" title="家用空調">家用空調</a></li>
            <li><a href="../product/detail01.html" title="液晶顯示器">液晶顯示器</a></li>
            <li><a href="#" title="冰箱">冰箱</a></li>
            <li><a href="javascript:void(0)" title="洗衣機">洗衣機</a></li>
            <li><a href="javascript:void(0)" title="精緻廚電">精緻廚電</a></li>
            <li><a href="javascript:void(0)" title="空氣與水">空氣與水</a></li>
            <li><a href="javascript:void(0)" title="除濕乾衣機">除濕乾衣機</a></li>
            <li><a href="../new/index.html" title="產品新知">產品新知</a></li>
            <li><a href="../contact/index.html" title="服務資訊">服務資訊</a></li>
            <div class="inner inner1">
                <div class="list">
                    <div class="txt">
                        <a href="../product/detail01.html">
                            <h3>LCD Monitor</h3>
                            <h4>液晶顯示器</h4>
                        </a>
                    </div>
                    <ul>
                        <li><a href="../product/detail01.html">真4k smart系列</a></li>
                        <li><a href="../product/detail01.html">真4k smart系列</a></li>
                        <li><a href="../product/detail01.html">水燦光影音系列</a></li>
                        <li><a href="../product/detail01.html">水燦光影音 IPS+DTS 系列</a></li>
                        <li><a href="../product/detail01.html">絕色再生廣色域系列</a></li>
                        <li><a href="../product/detail01.html">絕色再生廣色域系列</a></li>
                        <li><a href="../product/detail01.html">晶鑽LED系列</a></li>
                        <li><a href="../product/detail01.html">晶鑽LED系列</a></li>
                        <span><a href="../product/detail01.html"><img src="../../assets/img/icon.png">所有系列</a></span>
                    </ul>
                </div>
                <div class="bg" style=" background-image: url(../../upload/nav01.jpg)">
                    <a href="../product/detail01.html">
                        <div>
                            <p>畫面驚艷 前所未見</p>
                            <h4>絕色再生廣色域 55型</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="inner inner2">
                <div class="list">
                    <div class="txt">
                        <a href="../product/detail01.html">
                            <h3>LCD Monitor</h3>
                            <h4>液晶顯示器</h4>
                        </a>
                    </div>
                    <ul>
                        <li><a href="../product/detail01.html">真4k smart系列</a></li>
                        <li><a href="../product/detail01.html">真4k smart系列</a></li>
                        <li><a href="../product/detail01.html">水燦光影音系列</a></li>
                        <li><a href="../product/detail01.html">水燦光影音 IPS+DTS 系列</a></li>
                        <li><a href="../product/detail01.html">絕色再生廣色域系列</a></li>
                        <li><a href="../product/detail01.html">絕色再生廣色域系列</a></li>
                        <li><a href="../product/detail01.html">晶鑽LED系列</a></li>
                        <li><a href="../product/detail01.html">晶鑽LED系列</a></li>
                        <span><a href="../product/detail01.html"><img src="../../assets/img/icon.png">所有系列</a></span>
                    </ul>
                </div>
                <div class="bg" style=" background-image: url(../../upload/nav01.jpg)">
                    <a href="../product/detail01.html">
                        <div>
                            <p>前所未見 畫面驚艷 </p>
                            <h4>55型 絕色再生廣色域 </h4>
                        </div>
                    </a>
                </div>
            </div>
        </ul>
    </nav>
    <nav class="navmenu">
        <div class="nav-primary">
            <div class="nav-top">
                <div class="nav-close"><span></span><span></span></div>
                <span class="use_search"><i class="fa fa-search"></i></span>
            </div>
            <ul>
                <li>
                    <a href="../product/index.html">
                        <p>product</p>
                        <h4>產品專區</h4>
                    </a>
                </li>
                <li>
                    <a href="../about/index.html">
                        <p>ABOUT</p>
                        <h4>關於東元</h4>
                    </a>
                </li>
                <li>
                    <a href="../new/index.html">
                        <p>what’s news</p>
                        <h4>最新消息</h4>
                    </a>
                </li>
                <li>
                    <a href="../location/index.html">
                        <p>find teco</p>
                        <h4>經銷據點</h4>
                    </a>
                </li>
                <li>
                    <a href="../member/index.html">
                        <p>member</p>
                        <h4>會員中心</h4>
                    </a>
                </li>
                <li>
                    <a href="../shop/index.html">
                        <p>service</p>
                        <h4>購物服務</h4>
                    </a>
                </li>
                <li>
                    <a href="../contact/index.html">
                        <p>contact us</p>
                        <h4>聯絡我們</h4>
                    </a>
                </li>
                <li>
                    <a href="../catalogue/index.html">
                        <p>Catalog</p>
                        <h4>電子型錄</h4>
                    </a>
                </li>
                <li>
                    <a href="../faq/index.html">
                        <p>faq</p>
                        <h4>常見問題</h4>
                    </a>
                </li>
            </ul>
        </div>
        <div class="nav-accent">
            <a href="../product/index.html">
                <h3>product</h3>
                <h4>產品專區</h4>
            </a>
            <div>
                <ul>
                    <li>
                        <div>
                            <a href="../product/detail01.html">
                                <h4>家用空調系列</h4>
                            </a>
                        </div>
                        <ul>
                            <li>
                                <a href="../product/detail01.html">
                                    <p><span>+</span>變頻1對1豪華LV </p>
                                </a>
                            </li>
                            <li>
                                <a href="../product/detail01.html">
                                    <p><span>+</span>定頻1對1GS</p>
                                </a>
                            </li>
                            <li>
                                <a href="../product/detail01.html">
                                    <p><span>+</span>變頻1對1雅適BV</p>
                                </a>
                            </li>
                            <li>
                                <a href="../product/detail01.html">
                                    <p><span>+</span>定頻1對1吊隱冷專</p>
                                </a>
                            </li>
                            <li>
                                <a href="../product/detail01.html">
                                    <p><span>+</span>變頻1對1雅適ZR </p>
                                </a>
                            </li>
                            <li>
                                <a href="../product/detail01.html">
                                    <p><span>+</span>定頻1對多雙胞胎</p>
                                </a>
                            </li>
                            <li>
                                <a href="../product/detail01.html">
                                    <p><span>+</span>變頻1對多</p>
                                </a>
                            </li>
                            <li>
                                <a href="../product/detail01.html">
                                    <p><span>+</span>窗型定頻</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div>
                            <a href="javascript:void(0)">
                                <h4>液晶顯示器系列</h4>
                            </a>
                        </div>
                        <ul>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>水燦光影音 IPS+DTS</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>絕色再生廣色域</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>真4k smart</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>晶鑽LED</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div>
                            <a href="javascript:void(0)">
                                <h4>冰箱系列</h4>
                            </a>
                        </div>
                        <ul>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>節能變頻三門冰箱</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>小鮮綠</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>節能變頻兩門冰箱</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>臥式冷凍櫃</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>經典定頻三門冰箱</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>直立式冷凍櫃</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>經典定頻兩門冰箱</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div>
                            <a href="javascript:void(0)">
                                <h4>空氣與水</h4>
                            </a>
                        </div>
                        <ul>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>掃地機器人</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>清淨機</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>變頻風扇</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>熱水瓶</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>吸塵器</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>開飲機</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>電暖器</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div>
                            <a href="javascript:void(0)">
                                <h4>洗衣機系列</h4>
                            </a>
                        </div>
                        <ul>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>變頻洗衣機</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>滾筒洗衣機</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>定頻洗衣機</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div>
                            <a href="javascript:void(0)">
                                <h4>精緻廚電</h4>
                            </a>
                        </div>
                        <ul>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>烘碗機</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>烤箱</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>和風點心機</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>微風爐</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>變頻電磁爐</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>咖啡機</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>電陶爐</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>隨行杯</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div>
                            <a href="javascript:void(0)">
                                <h4>除濕亁衣機</h4>
                            </a>
                        </div>
                        <ul>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>除濕機</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>亁衣機</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--main-->
    <main id="shop" class="checkout">

        <article class="shoppingCart">
            <section class="_title">
                <p class="en">Shopping Cart</p>
                <p class="ch">我的購物車</p>
            </section>
            <section class="productList">
                <!-- 表頭 -->
                <div class="listhead">
                    <div>
                        <p class="en">Product List</p>
                        <p class="ch">購物清單</p>
                    </div>
                    <div>
                        <p class="en">Price</p>
                        <p class="ch">價格 </p>
                    </div>
                </div>
                <!-- 清單內容開始 -->
                <form>
                    <!-- 後端請注意:此處有兩種格式 
                    1.客製化商品 customizedProuduct 客製化商品包含客製化訂單 ,沒有有選擇數量的按鈕
                    2.普通商品 normalProduct 可選擇數量 -->
                    <!-- 客製化商品 -->
                    <div class="customizedProuduct">
                        <div class="_img">
                            <img src="../../upload/customize/customized/standardImg2_680_240.png" alt="">
                        </div>
                        <div class="name">
                            <!-- 後端請注意:data-src 放燈箱網址 -->
                            <div class="openOrder" data-src="customizeOrderLibox.html">
                                <p>客製化訂單</p>
                                <span>i</span>
                            </div>
                            <a href="javascript:void(0)">
                                <p class="modelNumb">MS63IH-ZR MA63IH-ZR</p>
                                <p class="productName">雅適變頻ZR冷暖/冷專系列 11-13坪</p>
                            </a>
                        </div>
                        <!-- 數量 -->
                        <div class="amount">1</div>
                        <div class="price">66,700</div>
                        <div class="remove">
                            <span></span>
                            <div class='sureLibox'>
                                <div>
                                    <p>確認刪除</p>
                                    <button type='button' class='no'><i></i></button>
                                    <button type='button' class='yes'><i class='iconN-hook'></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 普通商品 -->
                    <div class="normalProduct">
                        <!-- 產品圖片 -->
                        <div class="_img">
                            <img src="../../upload/shop/tvImg_180_120.png" alt="">
                        </div>
                        <!-- 產品名 -->
                        <div class="name">
                            <a href="javascript:void(0)">
                                <p class="modelNumb">TL50U1TRE</p>
                                <p class="productName">TECO東元 21吋 LED 電視機</p>
                            </a>
                        </div>
                        <!-- 數量 -->
                        <div class="amount">
                            1
                        </div>
                        <!-- 價格 -->
                        <div class="price">32,900</div>
                        <div class="remove">
                            <span></span>
                            <div class='sureLibox'>
                                <div>
                                    <p>確認刪除</p>
                                    <button type='button' class='no'><i></i></button>
                                    <button type='button' class='yes'><i class='iconN-hook'></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 普通商品 -->
                    <div class="normalProduct">
                        <!-- 產品圖片 -->
                        <div class="_img">
                            <img src="../../upload/shop/juicerImg_90_160.png" alt="">
                        </div>
                        <!-- 產品名 -->
                        <div class="name">
                            <a href="javascript:void(0)">
                                <p class="modelNumb">XF0602CFB</p>
                                <p class="productName">TECO東元 龍捲風隨行杯果汁機</p>
                                <p class="ps">天空藍</p>
                            </a>
                        </div>
                        <!-- 數量 -->
                        <div class="amount">
                            1
                        </div>
                        <!-- 價格 -->
                        <div class="price">990</div>
                        <div class="remove">
                            <span></span>
                            <div class='sureLibox'>
                                <div>
                                    <p>確認刪除</p>
                                    <button type='button' class='no'><i></i></button>
                                    <button type='button' class='yes'><i class='iconN-hook'></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 普通商品 -->
                    <div class="normalProduct">
                        <!-- 產品圖片 -->
                        <div class="_img">
                            <img src="../../upload/shop/fridgeImg_140_200.png" alt="">
                        </div>
                        <!-- 產品名 -->
                        <div class="name">
                            <a href="javascript:void(0)">
                                <p class="modelNumb">R4801DTXW</p>
                                <p class="productName">TECO東元 定頻雙門冰箱</p>
                            </a>
                        </div>
                        <!-- 數量 -->
                        <div class="amount">
                            1
                        </div>
                        <!-- 價格 -->
                        <div class="price">12,390</div>
                        <div class="remove">
                            <span></span>
                            <div class='sureLibox'>
                                <div>
                                    <p>確認刪除</p>
                                    <button type='button' class='no'><i></i></button>
                                    <button type='button' class='yes'><i class='iconN-hook'></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- 清單內容結束 -->
            </section>
            <!-- 贈品 -->
            <section class="gifts">
                <!-- 表頭 -->
                <div class="listhead">
                    <div>
                        <p class="en">Select Gifts</p>
                        <p class="ch">選擇商品贈品</p>
                    </div>
                </div>
                <form class="giftList">
                    <!-- 後端請注意:這邊有兩種樣式 
                    1.需要選擇的贈品 needSelect  促銷活動附贈的贈品
                    2.不須選擇的贈品 noSelect 商品裡面就有附贈的 -->
                    <!-- 需要選擇的贈品 -->
                    <div class="needSelect">
                        <div class="title">
                            <p>東元家電暖您心，暖心禮，購買指定機種BV/LV/HS冷氣機種，送暖心好禮七選一</p>
                        </div>
                        <!-- 後端請注意:data-src 請填入燈箱ajax的html的位置 -->
                        <div class="openGiftLibox" data-src="giftLibox.html">
                            <div>
                                <span class="icon-cart"></span>
                                <p>前往挑選</p>
                            </div>
                        </div>
                    </div>
                    <!-- 不須選擇的贈品 -->
                    <div class="noSelect">
                        <div class="title">
                            <p>購買液晶顯示器，即贈視訊盒TS1312TRA1 (東元TL43K1TRE顯示器專用)</p>
                        </div>
                    </div>
                    <div class="noSelect">
                        <div class="title">
                            <p>購買冰箱，即贈拆箱定位(401-500公升以下冰箱)</p>
                        </div>
                    </div>
                </form>
            </section>
            <!-- 加購商品 -->
            <section class="purchase">
                <!-- 表頭 -->
                <div class="listhead">
                    <div>
                        <p class="en">Add Purchase</p>
                        <p class="ch">加購商品</p>
                    </div>
                </div>
                <form class="purchaseList">
                    <!-- 活動商品 -->
                    <!-- 後端請注意:活動商品一定要放第一個-->
                    <div class="active">
                        <div class="title">
                            <p>TECO夏日 涼夏好禮，各種經典折扣商品</p>
                        </div>
                        <!-- 後端請注意:data-src 請填入燈箱ajax的html的位置 -->
                        <div class="openPurchaseLibox" data-src="purchaseLibox.html">
                            <div>
                                <span class="icon-cart"></span>
                                <p>前往挑選</p>
                            </div>
                        </div>
                        <ul></ul>
                    </div>
                    <!-- 推薦加購 -->
                    <div class="recommend">
                        <div class="title">
                            <p>購買液晶顯示器，加購【JAZZWAY】40-70吋液晶萬用壁掛架/LED-03+</p>
                        </div>
                        <div class="amount">
                            <button type="button" class="decrease" onclick="decreaseNumb(this)"></button>
                            <!-- 後端請注意: 可設定對大數目為多少，使用者輸入的數字不得超過這個數字 請在max設定這個數字 -->
                            <input type="number" max="" value="0" placeholder="0" onchange="inputChange(this)">
                            <button type="button" class="add" onclick="addNumb(this)"></button>
                        </div>
                        <!-- 後端請注意:data-price 為此項商品的單價 -->
                        <div class="price" data-price="499"></div>
                    </div>
                    <!-- 推薦加購 -->
                    <div class="recommend">
                        <div class="title">
                            <p>購買液晶顯示器，加購買50吋 藍光博士抗藍光液晶螢幕護目鏡( 適用49-50吋 )</p>
                        </div>
                        <div class="amount">
                            <button type="button" class="decrease" onclick="decreaseNumb(this)"></button>
                            <!-- 後端請注意: 可設定對大數目為多少，使用者輸入的數字不得超過這個數字 請在max設定這個數字-->
                            <input type="number" max="" value="0" placeholder="0" onchange="inputChange(this)">
                            <button type="button" class="add" onclick="addNumb(this)"></button>
                        </div>
                        <!-- 後端請注意:data-price 為此項商品的單價 -->
                        <div class="price" data-price="4350"></div>
                    </div>
                </form>
            </section>
            <!-- 優惠卷或禮物卡 -->
            <section class="discount">
                <!-- 表頭 -->
                <div class="listhead">
                    <div>
                        <p class="en">Discount</p>
                        <p class="ch">使用優惠卷或禮物卡</p>
                    </div>
                </div>
                <form class="discountList">
                    <!-- 後端請注意: 滿X折X 和 折扣碼 只能擇一 已選擇的 會有class "active" -->
                    <!-- 滿X折X -->
                    <div class="rebate">
                        <div class="title">
                            <p>滿萬折百</p>
                        </div>
                        <div class="words">
                            <p>因應全台百貨公司周年慶活動開跑，即日起至2018/10/25止，網路商店滿一萬送五百</p>
                        </div>
                        <div class="inputArea">
                            <p>符合滿一萬送五百</p>
                        </div>
                        <div class="price notYou">2,000</div>
                    </div>
                    <!-- 折扣碼 -->
                    <!-- 後端請注意:如果折扣碼輸入正確的話 請在下方code 加上class "success" 如果是失敗的 加上 class "fail" -->
                    <div class="code success">
                        <div class="title">
                            <p>折扣碼</p>
                        </div>
                        <div class="words">
                            <p>活動折扣碼為不定期消費活動所贈送，一次限用一張折扣碼，如需了解更多請至會員中心查看</p>
                        </div>
                        <div class="inputArea">
                            <input type="text" placeholder="請輸入折扣碼">
                            <button type="button" class="ok">ok</button>
                        </div>
                        <div class="price notYou">0</div>
                    </div>
                    <!-- 推薦新客戶 -->
                    <!-- 後端請注意:如果會員碼輸入正確的話 請在下方code 加上class "success" 如果是失敗的 加上 class "fail"  -->
                    <div class="newGuy fail">
                        <div class="title">
                            <p>推薦新客戶</p>
                        </div>
                        <div class="words">
                            <p>推薦客戶贈折扣碼等(新戶註冊成功)</p>
                        </div>
                        <div class="inputArea">
                            <input type="text" placeholder="請輸入會員編號">
                            <button type="button" class="ok">ok</button>
                        </div>
                    </div>
                    <!-- 紅利折抵 -->
                    <div class="bonus">
                        <div class="title">
                            <p>會員紅利折抵</p>
                        </div>
                        <div class="words">
                            <p>會員購買商品後，皆可以從會員紅利點數選擇進行折扣優惠</p>
                        </div>
                        <div class="inputArea">
                            <button type="button" class="decrease" onclick="decreaseNumb(this)">
                                <span></span>
                            </button>
                            <!-- 後端請注意: 請在下方max 及 value 填入使用者目前所擁有的紅利點數值 -->
                            <input type="number" max="111" value="111" placeholder="0" onchange="inputChange(this)">
                            <button type="button" class="add" onclick="addNumb(this)">
                                <span></span>
                            </button>
                        </div>
                        <!-- 後端請注意:data-price 為紅利的兌換比 -->
                        <div class="price" data-price="1">0</div>
                    </div>
                    <div>
                        <div class="title">
                            <p>滿萬折百</p>
                        </div>
                        <div class="words">
                            <p>因應全台百貨公司周年慶活動開跑，即日起至2018/10/25止，網路商店滿一萬送五百</p>
                        </div>
                        <div class="inputArea">
                            <p>符合滿一萬送五百</p>
                        </div>
                        <div class="price">2,000</div>
                    </div>
                </form>
            </section>
        </article>
        <article class="orderDetail">
            <section class="_title">
                <p class="en">ORDER DETAILS</p>
                <p class="ch">訂單價格</p>
            </section>
            <!-- 總金額 -->
            <section class="totalPrice">
                <p>總金額</p>
                <span class="numb"></span>
                <!-- button只有在平板以下出現 -->
                <button><span></span></button>
            </section>
            <!-- 雜項 -->
            <section class="others">
                <div class="gift">
                    <p>已選擇<b></b>項贈品</p>
                    <span class="numb">0</span>
                </div>
                <div class="purchase">
                    <p>加購商品總金額</p>
                    <span class="numb">12,980</span>
                </div>
                <div class="discount">
                    <p>折扣碼總金額</p>
                    <span class="numb">11,880</span>
                </div>
            </section>
            <!-- 運費 -->
            <!-- <section class="freight">
                <p>運費 ( 貨運 / 宅配 )</p>
                <span class="numb">0</span>
            </section> -->
            <section class="buttons">
                <a href="payment.html">
                    <b></b>
                    <span class="iconN-accounts"></span>
                    <p>前往付款</p>
                </a>
            </section>
        </article>
    </main>
    <footer class="footer">
        <div class="inner">
            <div class="left">
                <a href="#top" class="aaGoTop"><i class="fa fa-chevron-circle-up" aria-hidden="true"></i> TOP</a>
            </div>
            <nav class="footernav">
                <ul>
                    <li><a href="../../views/about/index.html" title="關於東元">關於東元</a></li>
                    <li><a href="../../views/product/index.html" title="產品專區">產品專區</a></li>
                    <li><a href="../faq/index.html" title="常見問題">常見問題</a></li>
                    <li><a href="../shop/index.html" title="購物服務">購物服務</a></li>
                    <li><a href="../member/index.html" title="會員中心">會員中心</a></li>
                    <!-- <li><a href="../catalogue/index.html" title="電子型錄">電子型錄</a></li>。 -->
                    <li><a href="../contact/index.html" title="聯絡我們">聯絡我們</a></li>
                    <li><a href="javascript:void(0)" title="人才招募">人才招募</a></li>
                    <li><a href="javascript:void(0)" title="隱私權政策">隱私權政策</a></li>
                </ul>
            </nav>
            <div class="right">
                <a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="javascript:void(0)"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            </div>
        </div>
        <hr class="footer_hr">
        <div class="footercontent">
            <div class="thenew">
                <h4>What's News</h4>
                <p>最新消息</p>
                <ul class="small_slick">
                    <li>
                        <a href="javascript:void(0)">
                            <p>12th,Mar.2017 好康特區</p>
                            <p>年終【美好生活】冰箱 / 洗衣機好禮贈送</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <p>12th,Mar.2017 好康特區</p>
                            <p>年終【美好生活】冰箱 / 洗衣機好禮贈送</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="address">
                <h4>Find TECO</h4>
                <p>經銷據點</p>
                <ul class="footer-dropdown">
                    <span class="for-change" data-info="Subject">請選擇您所在的縣市</span>
                    <input type="hidden" name="Subject">
                    <div class="dropdown-detail-out">
                        <li class="dropdown-detail" name="" style="display: none;"><a href="../location/index.html">台北</a></li>
                        <li class="dropdown-detail" name="" style="display: none;"><a href="javascript:void(0)">台中</a></li>
                        <li class="dropdown-detail" name="" style="display: none;"><a href="javascript:void(0)">高雄</a></li>
                    </div>
                </ul>
            </div>
            <div class="catalog">
                <h4>Catalog</h4>
                <p>電子型錄</p>
                <ul class="footer-dropdown">
                    <span class="for-change" data-info="Subject">請選擇年分</span>
                    <input type="hidden" name="Subject">
                    <div class="dropdown-detail-out">
                        <li class="dropdown-detail" name="" style="display: none;">
                            <a href="javascript:void(0)">2018</a>
                        </li>
                        <li class="dropdown-detail" name="" style="display: none;">
                            <a href="javascript:void(0)">2017</a>
                        </li>
                        <li class="dropdown-detail" name="" style="display: none;">
                            <a href="javascript:void(0)">2016</a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="footerfooter">
            <span>© 2016 TECO. ALL RIGHTS RESERVED.</span>
            <a href="http://www.wddgroup.com" title="網頁設計-威德網頁設計公司">DESIGNED BY WDD</a>
        </div>
    </footer>
    <!--主要jQuery-->
    <script src="../../assets/js/vedor/jquery-1.11.3.min.js"></script>
    <!--共用-->
    <script src="../../assets/js/vedor/slick/slick.js"></script>
    <script src="../../assets/js/vedor/bLazy/bLazy.js"></script>
    <script src="../../assets/js/vedor/waypoints.min.js"></script>
    <script src="../../assets/js/vedor/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../../assets/js/vedor/jquery.easings.min.js"></script>
    <script src="../../assets/js/vedor/semanticwp/jquery.semanticwp-modal.min.js"></script>
    <script src="../../assets/js/vedor/prefixfree.min.js"></script>
    <script src="../../assets/js/vedor/picturefill.min.js"></script>
    <!--非共用-->
    <script src="../../assets/js/vedor/jquery.nicescroll/jquery.nicescroll.min.js"></script>
    <!--main js-->
    <script src="../../assets/js/main.js"></script>
    <script src="../../assets/js/nick.js"></script>
    <script>
        // 增加數字
        function addNumb(ele) {
            var val = parseInt($(ele).parent().find("input[type='number']").val()) + 1
            var max = $(ele).parent().find("input[type='number']").attr("max")
            if (val > max && max !== "") {
                val = $(ele).parent().find("input[type='number']").attr("max")
            }
            $(ele).parent().find("input[type='number']").val(val)
            // 編輯價格
            var price = $(ele).closest("div").parent().find(".price").attr("data-price") * val
            $(ele).closest("div").parent().find(".price").text(price.toLocaleString())

            // 重新計算總金額
            totalPrice()
        }

        // 減少數字
        function decreaseNumb(ele) {
            var val = parseInt($(ele).parent().find("input[type='number']").val()) - 1
            if (val <= 0) {
                $(ele).parent().find("input[type='number']").val(0)
                // 編輯價格-價格歸零
                $(ele).closest("div").parent().find(".price").text("0")
            } else {
                $(ele).parent().find("input[type='number']").val(val)
                // 編輯價格
                var price = $(ele).closest("div").parent().find(".price").attr("data-price") * val
                $(ele).closest("div").parent().find(".price").text(price.toLocaleString())
            }

            // 重新計算總金額
            totalPrice()
        }

        // 手機板數字輸入
        function inputChange(ele) {
            var val = $(ele).val()

            // 編輯價格
            var price = $(ele).closest(".amount").parent().find(".price").attr("data-price") * val
            $(ele).closest(".amount").parent().find(".price").text(price.toLocaleString())

            // 重新計算總金額
            totalPrice()
        }
    </script>
    <script>
        // 刪除選項
        $(document).ready(function () {
            deleteElement()
        });

        function deleteElement() {
            $(".productList .remove,.purchase .remove").each(function () {
                $(this).off().click(function () {
                    $(this).find(".sureLibox").css("display", "block");
                });
            });

            $(".sureLibox .no").off().click(function () {
                $this = $(this)
                $this.closest(".sureLibox").addClass("close");
                setTimeout(function () {
                    $this.closest(".sureLibox").removeClass("close");
                    $this.closest(".sureLibox").css("display", "none");
                }, 400);
            });

            $(".sureLibox .yes").click(function () {
                out(this);
            });
        }

        function out(ele) {
            $(ele).closest(".remove").parent().slideUp({
                diration: 500,
                complete: function () {
                    $(ele).closest(".remove").parent().remove();
                    if ($(window).width() > 1024) {
                        var scrollBottom = $(window).scrollTop() + $(window).height()
                        var footerTop = $("footer").offset().top
                        if (scrollBottom >= footerTop) {
                            $(".orderDetail").addClass("bottom");
                        } else {
                            $(".orderDetail").removeClass("bottom");
                        }
                    }
                    // 重新計算總金額
                    totalPrice()
                }
            });
        }
    </script>
    <script>
        $(document).ready(function () {
            // 總金額
            totalPrice();
        })

        function totalPrice() {
            // 購物商品總金額
            var productTotalPrice = 0
            var products = $(".productList .price")
            for (var i = 0; i < products.length; i++) {
                var productPrice = parseInt($(products[i]).text().replace(/,/, ""))
                var productTotalPrice = productTotalPrice + productPrice
            }

            // 填入贈品數量
            $(".orderDetail .others .gift p b").text($(".gifts .hasSelect").length + $(".gifts .noSelect").length)

            // 加購商品總金額
            var purchaseTotalPrice = 0
            var purchases = $(".purchase .price")
            for (var i = 0; i < purchases.length; i++) {
                var purchaseTotalPrice = purchaseTotalPrice + parseInt($(purchases[i]).text().replace(/,/, ""))
            }
            // 填入加購商品總金額
            $(".orderDetail .others .purchase .numb").text(purchaseTotalPrice.toLocaleString())

            // 折扣金額
            var discountTotal = 0
            var discounts = $(".discount .price:not(.notYou)")
            for (var i = 0; i < discounts.length; i++) {
                var discountTotal = discountTotal + parseInt($(discounts[i]).text().replace(/,/, ""))
            }
            // 填入折扣金額
            $(".orderDetail .others .discount .numb").text(discountTotal.toLocaleString())

            // 總金額
            var totalPrice = productTotalPrice + purchaseTotalPrice - discountTotal
            // 不能為負數
            if (totalPrice < 0) {
                var totalPrice = 0
            }
            // 填入總金額
            $(".orderDetail .totalPrice .numb").text(totalPrice.toLocaleString())

            Waypoint.refreshAll();
        }
    </script>
    <!-- 選擇燈箱 -->
    <script>
        $(document).ready(function () {
            chooseLibox.open_click();
        })

        var chooseLibox = {

            target: "",

            open_click: function () {
                $(".openGiftLibox>div").click(function (e) {
                    chooseLibox.open(this);
                    chooseLibox.target = $(e.target).closest(".needSelect")
                    return chooseLibox.target
                });

                $(".openPurchaseLibox>div").click(function (e) {
                    chooseLibox.open(this);
                    chooseLibox.target = $(e.target).closest(".active").find("ul")
                    return chooseLibox.target
                });
            },

            open: function (ele) {
                $("body").append("<article class='chooseLibox'></article>");
                var src = $(ele).parent().attr("data-src")
                $.ajax({
                        url: src,
                    })
                    .done(function (data) {
                        $(".chooseLibox").html(data);

                        if (!mobile()) {
                            $("body").css({
                                "overflow-y": "hidden",
                                "padding-right": "1rem"
                            });
                        } else {
                            $("body").css("overflow-y", "hidden");
                        }

                        chooseLibox.all();
                    });
            },

            close_click: function () {
                $(".chooseLibox section .topNav .back").click(function () {
                    chooseLibox.close();
                });

                $(".chooseLibox").click(function (e) {
                    if ($(e.target).hasClass("chooseLibox")) {
                        chooseLibox.close();
                    }
                });
            },

            close: function () {
                $(".chooseLibox").addClass("close");
                if (!mobile()) {
                    $("body").css({
                        "overflow-y": "visible",
                        "padding-right": "0"
                    });
                } else {
                    $("body").css("overflow-y", "visible");
                }
                setTimeout(function () {
                    $(".chooseLibox").remove();
                }, 400);
            },

            giftSelect: function () {
                $(".chooseLibox section .checkBox").each(function () {
                    $(this).click(function () {
                        $(this).toggleClass("checked");
                    });
                });
            },

            giftConfirm: function () {
                $(".giftConfirm").off().click(function () {
                    // 以點選的物件
                    $elements = $(".chooseLibox section .checkBox.checked")

                    if ($elements.length != $(".chooseLibox section").attr("data-numb")) {
                        alert("數量不符合")
                    } else {
                        chooseLibox.close();

                        $(chooseLibox.target).find(".hasSelect").remove();

                        $elements.each(function () {
                            // 圖片路徑
                            var img = $(this).find("._img img").attr("src")
                            // 產品編號
                            var modelNumb = $(this).find(".modelNumb").text()
                            // 產品名稱
                            var productName = $(this).find(".productName").text()

                            $(chooseLibox.target).append('<div class="hasSelect"><div class="_img"><img src="'+img+'"alt=""></div><div class="name"><p class = "modelNumb" > ' +modelNumb +'</p><p class="productName">'+productName +'</p></div></div>')
                        });
                        // 重新計算總金額
                        totalPrice()

                    }
                });
            },

            purchaseConfirm: function () {
                $(".purchaseConfirm").off().click(function () {
                    chooseLibox.close();
                    $(chooseLibox.target).find("li").remove();

                    $(".chooseLibox section .amountBox").each(function () {
                        if ($(this).find(".amount input").val() > 0) {
                            // 圖片路徑
                            var img = $(this).find("._img img").attr("src")
                            // 產品編號
                            var modelNumb = $(this).find(".modelNumb").text()
                            // 產品名稱
                            var productName = $(this).find(".productName").text()
                            // 數量
                            var amount = $(this).find(".amount input").val()
                            // 總價
                            var price = $(this).find(".price").text()

                            // 注意:下方程式碼為ES6 ie 可能不支援
                            $(chooseLibox.target).append('<li><div class="_img"><img src="' +img +'" alt=""></div><div class="name"><p class="modelNumb">' +modelNumb +'</p><p class="productName">' +productName +'</p></div><div class="amount">' + amount +'</div><div class="price">' +price +'</div><div class="remove"><span></span><div class="sureLibox"><div><p>確認刪除</p><button type="button" class="no"><i></i></button><button type="button" class="yes"><i class="iconN-hook"></i></button></div></div></div></li>')
                        }
                    });
                    
                    deleteElement();
                    // 重新計算總金額
                    totalPrice()
                });
            },

            all: function () {
                chooseLibox.close_click();
                chooseLibox.giftSelect();
                $(".chooseLibox section").niceScroll();
                chooseLibox.giftConfirm();
                chooseLibox.purchaseConfirm();
                // 價格初始化
                shop.priceInitialize();
            }
        }
    </script>
</body>

</html>