//- 常用參數
include ../layout/_var.pug

-
    var breadcrumbs =[
        {
            title:"首頁",
            link:"../home/index.html"},
        {
            title:"廠商專區",
            link:"../supplier/index.html"},
        {
            title:"修改密碼",
            link:"../supplier/changepassword.html"},
    ]

    var unit = [
        {
            title:"日對帳",
            link:"../supplier/day.html"},
        {
            title:"月對帳",
            link:"../supplier/month.html"},
        {
            title:"進項發票檔",
            link:"../supplier/invoice.html"},
        {
            title:"修改密碼",
            link:"../supplier/changepassword.html"},
        {
            title:"登出",
            link:"javascript:void(0)"},
    ]



doctype html
|
|
<html lang="en">
|
|
+head
|
|
body#supplier.changepassword
    include ../layout/_header.pug

    main
        article.banner
            section.breadcrumbs
                ul
                    each val in breadcrumbs
                        li
                            a(href=val.link )=val.title
            section._title(style="background-image:url('../../upload/fa2/supplier/bannerTitleBg_1670_410.jpg')")
                p.ch 廠商專區
                p.en Supplier area
                p.words 請先選擇登入的身份，再輸入帳號及密碼，以利提供日、月對帳及進項發票輸入等服務，謝謝。
        article.unit
            ul
                each val in unit
                    li(class=(val == unit[3])?"active":"")
                        a(href=val.link)
                            p=val.title
        article.topTitle
            p.en CHANGE PASSWORD
            p.words 第一次登入需修改密碼，密碼需8~12碼，且不能與帳號相同。
        article.content
            section._title
                h6 修改密碼
                .inf
                    p(data-name="專櫃代號：") 238272902
                    p(data-name="專櫃名稱：") 漢神幸福99購
            section.form(style="background-image:url('../../upload/fa2/supplier/changepassword/formBg_1070_460.jpg')")
                form
                    .ps 
                        p 請確實填寫以下所有欄位，以利後續資料查詢，謝謝。
                    .type
                        .typeName
                            p 原始密碼
                        .inputArea
                            input(type="password")
                    .type
                        .typeName
                            p 修改密碼
                        .inputArea
                            input(type="password" placeholder="8~12個英文或數字")
                    .type
                        .typeName
                            p 再次輸入密碼
                        .inputArea
                            input(type="password" placeholder="8~12個英文或數字")
                    .type.code
                        .typeName
                            p 驗證碼
                        .inputArea
                            input(type="text" placeholder="點擊圖片即可更換")
                            //後端請注意: 驗證圖片請放在下方的div裡面
                            div
                                img(src="../../upload/fa2/supplier/index/codeImg.png", alt="")
                    .buttons
                        button(type="reset")
                            span.icon-reset
                            p 重新填寫
                        button(type="button")
                            span.icon-hook
                            p 修改密碼
    include ../layout/_footer.pug
+script
|
|
</html>