@import "../base/_reset.scss";
@import "../base/_variable.scss";
@import "../base/_common.scss";


.p_top:not(:first-child) {
    padding-top: 0;
    transition: 0;
}

.name {
    text-align: center;
    padding: 0 20px;

    .modelNumb {
        color: rgba(0, 0, 0, .7);
        @include font-size(14);
        font-family: 'CenturyGothic-Bold';
    }

    .productName {
        @include font-size(18);
        font-weight: bold;
        margin-top: 5px;
        font-family: "微軟正黑體";
    }
}

.list {
    margin: auto;
    margin-top: 70px;
    max-width: 1550px;
    width: 100%;
    padding: 0 50px;
    @media all and (max-width: 1024px) {
        padding: 0 5vw;
    }
    .nothing{
        @include flex-center;
        flex-direction: column;
        margin-top: 160px;
        h6{
            font-weight: bold;
            @include font-size(22);
            animation: fadeInUp 1.4s both .6s; 
            padding-bottom: 40px;
        }
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0 0 180px;

        @media all and (max-width: 1024px) {
            padding: 0 0 150px;
        }

        @media all and (max-width: 700px) {
            padding: 0 0 100px;
        }

        li {
            width: calc(33.33% - 4px);
            margin: 0 2px 70px;
            // opacity: 0;

            @media all and (max-width: 900px) {
                width: calc(50% - 4px);
            }

            @media all and (max-width:700px) {
                width: 100%;
                margin: 0 0 70px;
            }

            &.show.in {
                // animation: fadeIn 1s both;
                ._img {
                    img {
                        animation: fadeIn 0s both;
                    }
                    span{
                        &:first-child{
                            animation: fadeIn 0s both;
                        }
                        &:last-child{
                            animation:blockShow 0.6s both ;
                        }
                    }
                }
                .name {
                    animation: fadeInUp 1s both 0.8s;

                    @media all and (max-width: 900px) {
                        animation: fadeInUp 1s both .6s;
                    }

                    @media all and (max-width:700px) {
                        animation: fadeInUp 1s both .4s;
                    }
                }

                .buttons>* {
                    &:before {
                        animation: horizontalShow 1.2s both 1s;

                        @media all and (max-width: 900px) {
                            animation: horizontalShow 1.2s both 0.8s;
                        }

                        @media all and (max-width:700px) {
                            animation: horizontalShow 1.2s both 0.6s;
                        }
                    }

                    span,
                    p {
                        animation: fadeInUp .8s both 1.2s;

                        @media all and (max-width: 900px) {
                            animation: fadeInUp .8s both 1.2s;
                        }

                        @media all and (max-width:700px) {
                            animation: fadeInUp .8s both 0.8s;
                        }
                    }
                }
            }

            ._img {
                
                @include flex-center;
                position: relative;
                padding-bottom: 100%;
                overflow: hidden;
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    max-height: calc(100% - 13vw);
                    max-width: calc(100% - 7.7vw);
                    
                    opacity: 0;
                    @media all and (min-width: 1550px) {
                        max-height: calc(100% - 200px);
                        max-width: calc(100% - 120px);
                    }
                }
                span{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    &:first-child{
                        background-color: #f1f1f1;
                        left: 0;
                        opacity: 0;
                        
                    }
                    &:last-child{
                        background-color: #e8e8e8;
                        left: -100%;
                    }
                }
            }

            .name {
                margin-top: 35px;
                opacity: 0;

                @media all and (max-width: 700px) {
                    margin-top: 20px;
                }

                .price {
                    display: none;
                }
            }

            .buttons {
                @include flex-center;
                margin-top: 30px;

                @media all and (max-width: 350px) {
                    flex-direction: column;
                }

                &>* {
                    margin: 0 20px;

                    @media all and (max-width: 350px) {
                        margin: 20px 0 0;
                    }

                    span,
                    p,
                    &:before {
                        animation: none;
                    }
                }
            }
        }
    }
}

@keyframes blockShow{
    0%{
        left: -100%;
        animation-timing-function: linear; 
    }
    40%{
        left: 0%;
        animation-timing-function: linear; 
    }
    60%{
        left: 0%;
        animation-timing-function: linear; 
    }
    100%{
        left: 100%;
        animation-timing-function: linear; 
    }
}

.removeLibox {
    @include basicLibox;
    z-index: 99;
    background-color: rgba(0, 0, 0, .6);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &.open {
        display: flex;
        animation: fadeIn 0.4s both;

        ._title>* {
            animation: fadeInDown 1s both .2s;
        }

        ._img {
            animation: fadeIn 1s both .4s;
        }

        .name>* {
            animation: fadeInDown 1s both .6s;
        }
    }

    &.close {
        display: flex;
        animation: fadeOut 0.4s both .4s;

        section>* {
            animation: fadeOutUp 0.4s both
        }
    }

    section {
        position: relative;
        max-width: 640px;
        width: 100%;
        max-height: 100vh;
        overflow-y: auto;
        background-color: #fff;
        padding: 100px 50px 80px;
        text-align: center;

        @media all and (max-width: 1024px) {
            padding: 100px 5vw 80px
        }

        @media all and (max-width: 640px) {
            height: 100vh;
        }

        .topNav {
            position: absolute;
            width: auto;
            top: 0;
            left: auto;
            right: 0;
            padding: 20px 40px 0 40px;

            @media all and (max-width: 700px) {
                padding: 20px 5vw 0 5vw;
            }

            &:before,
            &:after {
                display: none;
            }

            .back {
                color: #000;
            }
        }

        ._title {
            .en {
                @include font-size(22);
            }

            .ch {
                @include font-size(16);
                font-weight: bold;
            }
        }

        ._img {
            padding: 40px 50px;
            @include flex-center;

            @media all and (max-width: 1024px) {
                padding: 40px 5vw;
            }

            @media all and (max-width: 700px) {
                padding: 30px 5vw;
            }

            img {
                max-height: 300px;
            }
        }

        .name {

            .price {
                font-family: 'CenturyGothic-Bold';
                @include font-size(18);
                margin-top: 5px;
                &:before{
                    content: "$";
                }
            }
        }

        .buttons {
            @include flex-center;
            margin-top: 50px;

            @media all and (max-width: 350px) {
                flex-direction: column;
                margin-top: 30px;
            }

            &>* {
                margin: 0 20px;

                @media all and (max-width: 350px) {
                    margin: 20px 0 0;
                }
            }
        }
    }
}