<div class="lbox_ajax">

    <div class="choose_wrap">
        <div class="goBack lbox__close lbox__closeBtn"></div>
        <div class="choose">
            <h3>REGISTERED</h3>
            <h4>請選擇欲註冊的會員身分</h4>
        </div>
        <div class="choose_vip choose_basic_vip">
            <a href="../member/register_basic.html">
                <h5>BASIC VIP</h5>
                <h6>註冊一般會員</h6>
                <img src="../../upload/f2e/member/choose_basic_vip.png">
                <p>建議一般購買者進行申請，申請後仍可升級為專業用戶</p>
            </a>
        </div>
        <div class="choose_vip choose_pro_vip">
            <a href="../member/register_pro.html">
                <h5>PROFESSIONAL VIP</h5>
                <h6>註冊專業用戶</h6>
                <img src="../../upload/f2e/member/choose_pro_vip.png">
                <p>建議塗料專業人士、油漆工班、設計師、建築師等進行申請</p>
            </a>
        </div>
    </div>

</div>