<article id="shoppingCar" class="lbox_ajax long afs">
    <div class="">
        <header class="header__the4">
            <div class="goBack lbox__close"></div>
            <div class="header__right">
                <div class="header__icon">
                    <ul>
                        <li class="signIn">
                            <a class="cg" href="../member">
                                <svg class="signIn1" x="0px" y="0px" width="14px" height="13.505px" viewBox="0 0 14 13.505">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.039,12.487c3.971,0,7.935,0,11.929,0c-0.066-0.958-0.366-1.83-0.865-2.636
                                            c-0.661-1.066-1.572-1.847-2.721-2.354C9.207,7.421,9.069,7.419,8.89,7.513C7.521,8.226,6.153,8.194,4.855,7.366
                                            C3.548,6.531,2.934,5.288,3.008,3.738c0.095-1.99,1.793-3.653,3.777-3.734c2.071-0.086,3.861,1.368,4.163,3.372
                                            c0.172,1.144-0.105,2.166-0.801,3.082c-0.049,0.064-0.097,0.131-0.156,0.213c0.959,0.472,1.782,1.098,2.445,1.923
                                            c0.999,1.243,1.519,2.664,1.563,4.258c0.013,0.481-0.165,0.653-0.655,0.653c-4.229,0-8.458,0-12.687,0
                                            c-0.504,0-0.675-0.17-0.655-0.683c0.076-1.992,0.847-3.667,2.312-5.02c0.269-0.248,0.572-0.26,0.775-0.047
                                            C3.31,7.988,3.276,8.272,2.983,8.544c-1.115,1.03-1.774,2.293-1.944,3.806C1.035,12.39,1.039,12.431,1.039,12.487z M7.006,7.001
                                            C8.655,6.998,10.002,5.645,10,3.994c-0.003-1.65-1.356-2.996-3.008-2.993C5.341,1.005,3.996,2.356,4,4.008
                                            C4.002,5.657,5.355,7.004,7.006,7.001z"></path>
                                </svg>
                                <svg class="signIn2" x="0px" y="0px" width="12px" height="13.75px" viewBox="0 0 48 54.9" style="enable-background:new 0 0 48 54.9;"
                                    xml:space="preserve">
                                    <path d="M28.6,37.7c-0.6,0-1.1,0.5-1.1,1.1v9.1c0,0.3-0.2,0.5-0.5,0.6l-24,4c-0.2,0-0.4-0.1-0.5-0.1c-0.1-0.1-0.2-0.2-0.2-0.5V2.9
                                                c0-0.2,0.1-0.4,0.2-0.5c0.1-0.1,0.2-0.2,0.5-0.1l24,4c0.3,0,0.5,0.3,0.5,0.6v6.8c0,0.6,0.5,1.1,1.1,1.1c0.6,0,1.1-0.5,1.1-1.1V6.9
                                                c0-1.4-1-2.6-2.4-2.8l-24-4C2.5-0.1,1.7,0.1,1,0.7C0.4,1.2,0,2,0,2.9V52c0,0.9,0.4,1.7,1,2.2c0.5,0.4,1.2,0.7,1.8,0.7
                                                c0.2,0,0.3,0,0.5,0l24-4c1.4-0.2,2.4-1.4,2.4-2.8v-9.1C29.7,38.2,29.2,37.7,28.6,37.7z"></path>
                                    <path d="M47.7,25.5L36.2,14c-0.4-0.4-1.2-0.4-1.6,0c-0.4,0.4-0.4,1.2,0,1.6l9.5,9.5H14.9c-0.6,0-1.1,0.5-1.1,1.1
                                                c0,0.6,0.5,1.1,1.1,1.1h29.2l-9.5,9.5c-0.4,0.4-0.4,1.2,0,1.6c0.2,0.2,0.5,0.3,0.8,0.3c0.3,0,0.6-0.1,0.8-0.3l11.4-11.4
                                                C48.1,26.6,48.1,25.9,47.7,25.5z"></path>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <svg x="0px" y="0px" width="14px" height="12.611px" viewBox="0 0 14 12.611">
                                    <path d="M6.999,12.611l5.836-5.836c1.553-1.553,1.553-4.069,0-5.622c-0.678-0.645-1.495-1.048-2.431-1.146L10.023,0L9.643,0.007
                                    C8.726,0.073,7.863,0.521,7.212,1.153L6.999,1.366L6.786,1.153c-0.678-0.645-1.494-1.048-2.43-1.146L3.975,0L3.594,0.007
                                    c-0.917,0.066-1.778,0.514-2.43,1.146c-1.553,1.553-1.553,4.069,0,5.622L6.999,12.611z M6.999,11.58L1.68,6.26
                                    C0.406,4.931,0.409,3.005,1.676,1.672c0.533-0.519,1.215-0.864,1.957-0.937l0.342-0.006l0.33,0.006
                                    C5.059,0.811,5.729,1.173,6.28,1.678l0.203,0.204l0.516,0.516l0.516-0.516l0.207-0.207c0.534-0.52,1.216-0.866,1.96-0.939
                                    l0.342-0.006l0.33,0.006c0.752,0.075,1.421,0.435,1.972,0.939c1.028,1.053,1.25,2.664,0.495,3.939
                                    c-0.141,0.237-0.312,0.446-0.501,0.646L6.999,11.58z M6.999,11.58"></path>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <svg x="0px" y="0px" width="14px" height="11.012px" viewBox="0 0 14 11.012">
                                    <g>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.595,8.355c-1.241,0-2.482-0.004-3.722,0.004
                                        C3.459,8.361,3.197,8.203,3.031,7.807c-0.975-2.328-1.967-4.65-2.953-6.975C-0.054,0.518-0.02,0.281,0.185,0.127
                                        C0.381-0.023,0.601-0.049,0.798,0.1c0.107,0.082,0.193,0.215,0.247,0.342c0.939,2.197,1.876,4.396,2.8,6.602
                                        c0.093,0.223,0.206,0.291,0.441,0.289c2.366-0.01,4.732-0.006,7.098-0.006c0.404,0,0.634,0.182,0.636,0.5
                                        c0.002,0.338-0.229,0.529-0.646,0.529C10.115,8.357,8.855,8.355,7.595,8.355z"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14,1.732c-0.157,0.354-0.283,0.676-0.447,0.977
                                        c-0.04,0.074-0.2,0.119-0.306,0.119c-1.53,0.008-3.059,0.006-4.588,0.006c-1.837,0-3.675-0.004-5.512,0.004
                                        C2.93,2.84,2.818,2.777,2.744,2.572c-0.1-0.277-0.233-0.541-0.366-0.84C6.266,1.732,10.108,1.732,14,1.732z"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.164,3.607c-0.156,0.354-0.291,0.689-0.457,1.01
                                        c-0.036,0.068-0.187,0.105-0.285,0.107c-1.115,0.008-2.231,0.004-3.347,0.004c-1.692,0-3.385-0.004-5.078,0.006
                                        c-0.209,0-0.331-0.043-0.406-0.254C3.49,4.191,3.35,3.918,3.213,3.607C6.53,3.607,9.82,3.607,13.164,3.607z"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.328,5.488c-0.16,0.359-0.304,0.701-0.469,1.033
                                        c-0.026,0.051-0.145,0.08-0.221,0.08C9.332,6.607,7.026,6.607,4.72,6.6c-0.077,0-0.191-0.057-0.223-0.119
                                        C4.34,6.164,4.205,5.838,4.05,5.488C6.818,5.488,9.551,5.488,12.328,5.488z"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.437,8.992c0.575,0,1.036,0.457,1.026,1.016c-0.009,0.545-0.473,1-1.023,1.004
                                        c-0.566,0.004-1.033-0.453-1.035-1.016C9.403,9.43,9.854,8.99,10.437,8.992z"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.62,9.986c0.004-0.576,0.446-1,1.036-0.994C5.224,8.996,5.662,9.43,5.664,9.99
                                        c0.001,0.564-0.458,1.021-1.025,1.021C4.067,11.01,3.616,10.557,3.62,9.986z"></path>
                                    </g>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <svg x="0px" y="0px" width="14px" height="14.008px" viewBox="0 0 14 14.008">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.809,10.103c-3.328,2.045-6.333,0.606-7.684-1.188
                                    C-0.509,6.744-0.353,3.71,1.528,1.728c1.874-1.975,4.913-2.297,7.156-0.76c2.516,1.724,3.039,4.49,1.441,7.885
                                    c1.099,1.089,2.214,2.201,3.34,3.305c0.47,0.46,0.792,0.941,0.257,1.545c-0.417,0.472-0.929,0.396-1.542-0.214
                                    C11.063,12.376,9.955,11.254,8.809,10.103z M5.554,1.311c-2.347,0-4.255,1.916-4.247,4.265C1.315,7.886,3.202,9.783,5.51,9.803
                                    c2.347,0.021,4.28-1.884,4.289-4.225C9.809,3.23,7.899,1.312,5.554,1.311z"></path>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <article class="banner_wrap">
            <div class="banner_the4">
                <div class="banner_the4__title movein">
                    <h4 class="txtin">Shopping Cart</h4>
                    <h5 class="txtin2">您的購物車</h5>
                    <hr>
                    <h6>現有
                        <span>3</span> 項商品在購物車中等待您的購買！</h6>
                </div>
            </div>
        </article>
        <article class="content_wrap">
            <div class="the4__content">
                <div class="the4__inner">
                    <div class="shopping">
                        <div class="shopping__list">
                            <h4 class="shopping__abc">YOUR PRODUCTS　商品清單</h4>
                            <div class="yourProduct_list">
                                <ul>
                                    <li class="notProduct">
                                        <h5>OOPS</h5>
                                        <p>您目前尚未選擇任何商品</p>
                                        <ul class="list">
                                            <li class="on focus">
                                                <a href="javascript:void(0);" tabindex="0">
                                                    <div class="circle circle--40 circle--about_bit">
                                                        <span></span>
                                                    </div>
                                                    <h6>快去逛逛</h6>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <div class="yourProduct">
                                            <span class="delyourProduct"></span>
                                            <div class="img">
                                                <div class="color" style="background: #d14b4d;"></div>
                                            </div>
                                            <div class="txt_wrap">
                                                <div class="txt">
                                                    <div>
                                                        <h6 class="fw700">天然植物漆</h6>
                                                        <h5>厄瓜多紅</h5>
                                                        <h6>High-grade lime paint No.123</h6>
                                                    </div>
                                                    <ul>
                                                        <li>
                                                            <h6>原價 NT$1,200</h6>
                                                        </li>
                                                        <li>
                                                            <h6>會員優惠 NT$ 800</h6>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="other">
                                                    <div class="number">
                                                        <div class="number_inner capacity ">
                                                            <div>
                                                                <h5>容　量</h5>
                                                            </div>
                                                            <select class="dropdown dropdown_capacity">
                                                                <option value="1">0.05L</option>
                                                                <option value="2">0.1L</option>
                                                            </select>
                                                        </div>
                                                        <div class="number_inner quantity">
                                                            <div>
                                                                <h5>數　量</h5>
                                                            </div>
                                                            <select class="dropdown dropdown_quantity">
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                                <option value="6">6</option>
                                                                <option value="7">7</option>
                                                                <option value="8">8</option>
                                                                <option value="9">9</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="amount">
                                                        <h6>NT$
                                                            <span>2400</span>
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                    <li>
                                        <div class="yourProduct">
                                            <span class="delyourProduct"></span>
                                            <div class="img">
                                                <img src="../../upload/f2e/talktoauro/talktoauro_lbox_06.png" alt="">
                                            </div>
                                            <div class="txt_wrap">
                                                <div class="txt">
                                                    <div>
                                                        <h6 class="fw700">天然植物漆</h6>
                                                        <h5>厄瓜多紅</h5>
                                                        <h6>High-grade lime paint No.123</h6>
                                                    </div>
                                                    <ul>
                                                        <li>
                                                            <h6>原價 NT$1,200</h6>
                                                        </li>
                                                        <li>
                                                            <h6>會員優惠 NT$ 800</h6>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="other">
                                                    <div class="number">
                                                        <div class="number_inner capacity ">
                                                            <div>
                                                                <h5>容　量</h5>
                                                            </div>
                                                            <select class="dropdown dropdown_capacity">
                                                                <option value="1">0.05L</option>
                                                                <option value="2">0.1L</option>
                                                            </select>
                                                        </div>
                                                        <div class="number_inner quantity">
                                                            <div>
                                                                <h5>數　量</h5>
                                                            </div>
                                                            <select class="dropdown dropdown_quantity">
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                                <option value="6">6</option>
                                                                <option value="7">7</option>
                                                                <option value="8">8</option>
                                                                <option value="9">9</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="amount">
                                                        <h6>NT$
                                                            <span>2400</span>
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                    <li>
                                        <div class="yourProduct">
                                            <span class="delyourProduct"></span>
                                            <div class="img">
                                                <div class="color" style="background: #d14b4d;"></div>
                                            </div>
                                            <div class="txt_wrap">
                                                <div class="txt">
                                                    <div>
                                                        <h6 class="fw700">天然植物漆</h6>
                                                        <h5>厄瓜多紅</h5>
                                                        <h6>High-grade lime paint No.123</h6>
                                                    </div>
                                                    <ul>
                                                        <li>
                                                            <h6>原價 NT$1,200</h6>
                                                        </li>
                                                        <li>
                                                            <h6>會員優惠 NT$ 800</h6>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="other">
                                                    <div class="number">
                                                        <div class="number_inner capacity ">
                                                            <div>
                                                                <h5>容　量</h5>
                                                            </div>
                                                            <select class="dropdown dropdown_capacity">
                                                                <option value="1">0.05L</option>
                                                                <option value="2">0.1L</option>
                                                            </select>
                                                        </div>
                                                        <div class="number_inner quantity">
                                                            <div>
                                                                <h5>數　量</h5>
                                                            </div>
                                                            <select class="dropdown dropdown_quantity">
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                                <option value="6">6</option>
                                                                <option value="7">7</option>
                                                                <option value="8">8</option>
                                                                <option value="9">9</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="amount">
                                                        <h6>NT$
                                                            <span>2400</span>
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                    <li>
                                        <div class="yourProduct">
                                            <span class="delyourProduct"></span>
                                            <div class="img">
                                                <img src="../../upload/f2e/talktoauro/talktoauro_lbox_06.png" alt="">
                                            </div>
                                            <div class="txt_wrap">
                                                <div class="txt">
                                                    <div>
                                                        <h6 class="fw700">天然植物漆</h6>
                                                        <h5>厄瓜多紅</h5>
                                                        <h6>High-grade lime paint No.123</h6>
                                                    </div>
                                                    <ul>
                                                        <li>
                                                            <h6>原價 NT$1,200</h6>
                                                        </li>
                                                        <li>
                                                            <h6>會員優惠 NT$ 800</h6>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="other">
                                                    <div class="number">
                                                        <div class="number_inner capacity ">
                                                            <div>
                                                                <h5>容　量</h5>
                                                            </div>
                                                            <select class="dropdown dropdown_capacity">
                                                                <option value="1">0.05L</option>
                                                                <option value="2">0.1L</option>
                                                            </select>
                                                        </div>
                                                        <div class="number_inner quantity">
                                                            <div>
                                                                <h5>數　量</h5>
                                                            </div>
                                                            <select class="dropdown dropdown_quantity">
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                                <option value="6">6</option>
                                                                <option value="7">7</option>
                                                                <option value="8">8</option>
                                                                <option value="9">9</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="amount">
                                                        <h6>NT$
                                                            <span>2400</span>
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <div class="shopping__total">
                            <div class="yourTotal">

                                <div class="total_content">
                                    <div class="total_title">
                                        <div>
                                            <h5>TOTAL PRICE　目前合計金額</h5>
                                            <h4>NT$
                                                <span>3,300</span>
                                            </h4>
                                        </div>
                                        <hr>
                                    </div>
                                    <div class="total_both">
                                        <h6>MORE HELP 理想的顏色和風格都找到了嗎？</h6>
                                        <ul>
                                            <li>
                                                <div class="circle circle--60">

                                                    <svg x="0px" y="0px" width="18px" height="20px" viewBox="0 0 14.998 14.998">
                                                        <g>
                                                            <rect id="color_first" x="2" y="2.021" fill="#FF2E47" width="2.991" height="2.991"></rect>
                                                            <rect x="7.004" y="2.021" fill="#FF6C00" width="2.991" height="2.991"></rect>
                                                            <rect x="12.007" y="2.021" fill="#A7CDF7" width="2.991" height="2.991"></rect>
                                                            <rect x="7.004" y="7.014" fill="#3EC527" width="2.991" height="2.991"></rect>
                                                            <rect x="12.007" y="7.014" fill="#FFD101" width="2.991" height="2.991"></rect>
                                                            <rect x="7.004" y="12.007" fill="#EB9EEC" width="2.991" height="2.991"></rect>
                                                            <rect x="2" y="7" fill="#EFB07F" width="2.991" height="2.991"></rect>
                                                            <rect x="2" y="12.007" fill="#CBB0F8" width="2.991" height="2.991"></rect>
                                                            <rect x="12.007" y="12.007" fill="#9CDFE4" width="2.991" height="2.991"></rect>
                                                        </g>
                                                    </svg>
                                                </div>
                                                <h5>靈感選色器</h5>
                                            </li>
                                            <li>
                                                <div class="circle circle--60">
                                                    <svg class="house" x="0px" y="0px" width="28px" height="20.412px" viewBox="0 0 28 20.412" enable-background="new 0 0 28 20.412"
                                                        xml:space="preserve">
                                                        <g>
                                                            <path d="M27.637,9.399L14.491,0.155c-0.006-0.005-0.013-0.007-0.02-0.012c-0.026-0.018-0.053-0.031-0.08-0.045
                                                                        c-0.023-0.012-0.046-0.024-0.071-0.035c-0.024-0.01-0.05-0.017-0.075-0.024c-0.027-0.009-0.055-0.018-0.084-0.023
                                                                        c-0.025-0.004-0.052-0.007-0.078-0.009C14.056,0.005,14.028,0,14,0s-0.057,0.005-0.084,0.007
                                                                        c-0.026,0.002-0.053,0.005-0.079,0.009c-0.027,0.006-0.055,0.015-0.082,0.023c-0.026,0.008-0.052,0.015-0.077,0.024
                                                                        c-0.022,0.011-0.046,0.021-0.068,0.034c-0.028,0.015-0.056,0.028-0.082,0.047c-0.007,0.004-0.014,0.006-0.02,0.011L6.894,4.808
                                                                        V2.189c0-0.353-0.287-0.64-0.642-0.64S5.61,1.837,5.61,2.189v3.52l-5.248,3.69c-0.385,0.271-0.479,0.805-0.207,1.19
                                                                        c0.167,0.237,0.432,0.363,0.7,0.363c0.17,0,0.341-0.05,0.49-0.155l1.271-0.895v9.653c0,0.473,0.384,0.855,0.855,0.855
                                                                        s0.855-0.383,0.855-0.855V8.701L14,1.899l9.672,6.802v10.855c0,0.473,0.383,0.855,0.854,0.855s0.855-0.383,0.855-0.855V9.903
                                                                        l1.271,0.895c0.149,0.105,0.32,0.155,0.491,0.155c0.269,0,0.533-0.126,0.699-0.363C28.116,10.204,28.022,9.671,27.637,9.399z"
                                                            />
                                                            <path d="M17.116,9.227h-6.233c-0.354,0-0.642,0.287-0.642,0.642v7.017c0,0.354,0.287,0.642,0.642,0.642h6.233
                                                                        c0.354,0,0.642-0.287,0.642-0.642V9.868C17.758,9.514,17.471,9.227,17.116,9.227z M16.476,12.735h-1.834v-2.228h1.834V12.735z
                                                                        M13.358,10.508v2.228h-1.834v-2.228H13.358z M11.524,14.019h1.834v2.225h-1.834V14.019z M14.642,16.243v-2.225h1.834v2.225H14.642z"
                                                            />
                                                        </g>
                                                    </svg>
                                                </div>
                                                <h5>空間模擬器</h5>
                                            </li>
                                        </ul>
                                    </div>

                                </div>


                                <div class="total_btns">
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <h5>返回</h5>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" class="the4box2" data-lbox="../../views/layout/my_wishlist_oops.html">
                                                <h5>確認新增</h5>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="thegotop">
                        <a href="javascript:void(0);">
                            <h6>TOP</h6>
                        </a>
                    </div>
                </div>
            </div>
        </article>
    </div>
</article>