<div class="lbox_ajax long">

    <div class="viplbox_address step1">
        <!-- 
            step1 新增
            step2 觀看
            step3 修改 
        -->
        <div class="goBack goBack1 lbox__closeBtn lbox__close "></div>
        <div class="goBack goBack2 lbox__closeBtn vipBtn2"  class="vipBtn" data-lbox="../layout/viplbox_address_oops.html"></div>
        
        <div class="title title1">
            <h3>NEW ADDRESS</h4>
            <h4>新增一筆新的地址</h5>
        </div>
        <div class="title title2">
            <h3>ADDRESS DETAIL</h4>
            <h4>地址簿詳細內容</h5>
        </div>
        <div class="title title3">
            <h3>EDIT ADDRESS</h4>
            <h4>編輯地址內容</h5>
        </div>
        <div class="address3">
            <ul>
                <li>
                    <div class="img">
                        <img src="../../assets/img/address/address02.svg">
                    </div>
                    <h5>公司用地址</h5>
                </li>
                <li class="focus">
                    <div class="img">
                        <img src="../../assets/img/address/address01.svg">
                    </div>
                    <h5>住宅用地址</h5>
                </li>
                <li>
                    <div class="img">
                        <img src="../../assets/img/address/address03.svg">
                    </div>
                    <h5>送禮用地址</h5>
                </li>
            </ul>
        </div>


        <div class="theform">
            <ul>
                <li class="w100 br">
                    <label for="mobile">TITLE 地址簿名稱</label>
                    <input id="mobile" type="text" placeholder="ex. 台中的家">
                </li>
                <li class="w100">
                    <label for="mail">ADDRESSEE 收件人</label>
                    <input id="mail" type="text" placeholder="ex. Ming Wang">
                </li>

                <li class="w100">
                    <label for="occupation">SALUTATION 稱謂</label>
                    <div class="form_dropdown">
                        <select class="dropdown dropdown_vip">
                            <option value="1">先生</option>
                            <option value="2">小姐</option>
                        </select>
                    </div>
                </li>

                <li class="w100">
                    <label for="name">PHONE 聯繫電話</label>
                    <input id="name" type="text" placeholder="ex. 0912 345 678">
                </li>

                <li class="w100 br">
                    <label for="name">E-MAIL 聯繫信箱</label>
                    <input id="name" type="text" placeholder="ex. service@auro.com">
                </li>

                <li class="w100">
                    <label for="corporation_add">ADDRESS 寄件住址</label>
                    <div class="form_dropdown">
                        <select class="dropdown dropdown_vip" data-placeholder="國家">
                            <option value=""></option>
                            <option value="1">台灣</option>
                            <option value="2">美國</option>
                            <option value="3">日本</option>
                        </select>
                    </div>
                    <div class="form_dropdown">
                        <select class="dropdown dropdown_vip" data-placeholder="省/洲">
                            <option value=""></option>
                            <option value="1">台灣省</option>
                            <option value="2">台灣省</option>
                            <option value="3">日本</option>

                        </select>
                    </div>
                    <div class="form_dropdown">
                        <select class="dropdown dropdown_vip" data-placeholder="縣市">
                            <option value=""></option>
                            <option value="1">南投縣</option>
                            <option value="2">台中縣</option>
                            <option value="3">台南縣</option>
                        </select>
                    </div>
                </li>
                <li class="w100">
                    <input id="" type="text" placeholder="請輸入詳細地址">
                </li>

            </ul>
        </div>

        <div class="add_btms add_btms1">
            <ul>
                <li>
                    <a href="javascript:void(0);">
                        <h5>返回</h5>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <h5>確認新增</h5>
                    </a>
                </li>
            </ul>
        </div>
        
        <div class="add_btms add_btms2">
            <ul>
                <li>
                    <a href="javascript:void(0);">
                        <h5>編輯地址</h5>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <h5>返回</h5>
                    </a>
                </li>
            </ul>
        </div>

        <div class="add_btms add_btms3">
            <ul>
                <li>
                    <a href="javascript:void(0);">
                        <h5>取消修改</h5>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <h5>儲存修改</h5>
                    </a>
                </li>
            </ul>
        </div>


    </div>

</div>