<div class="lbox_ajax">

    <div class="memberterms_wrap">
        <div class="goBack lbox__close lbox__closeBtn"></div>
        <div class="memberterms">
            <h3>ADDITIONAL PURCHASE</h3>
            <h4>加購商品</h4>
        </div>
        <div class="hr">
            <div></div>
        </div>

        <div class="yourProduct_list_lbox">
            <ul>
                <li>
                    <div class="yourProduct">
                        <span class="delyourProduct"></span>
                        <div class="img">
                            <img src="../../upload/f2e/talktoauro/talktoauro_lbox_06.png" alt="">
                        </div>
                        <div class="txt_wrap">
                            <div class="txt">
                                <div>
                                    <h6 class="fw700">天然植物漆</h6>
                                    <h5>厄瓜多紅</h5>
                                    <h6>High-grade lime paint No.123</h6>
                                </div>
                                <ul>
                                    <li>
                                        <h6>原價 NT$1,200</h6>
                                    </li>
                                    <li>
                                        <h6>會員優惠 NT$ 800</h6>
                                    </li>
                                </ul>
                            </div>
                            <div class="other">
                                <div class="number">
                                    <div class="number_inner capacity ">
                                        <div>
                                            <h5>容　量</h5>
                                        </div>
                                        <select class="dropdown dropdown_capacity">
                                            <option value="1">0.05L</option>
                                            <option value="2">0.1L</option>
                                        </select>
                                    </div>
                                    <div class="number_inner quantity">
                                        <div>
                                            <h5>數　量</h5>
                                        </div>
                                        <select class="dropdown dropdown_quantity">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="amount">
                                    <h6>+ NT$
                                        <span>2400</span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="yourProduct">
                        <span class="delyourProduct"></span>
                        <div class="img">
                            <img src="../../upload/f2e/talktoauro/talktoauro_lbox_06.png" alt="">
                        </div>
                        <div class="txt_wrap">
                            <div class="txt">
                                <div>
                                    <h6 class="fw700">天然植物漆</h6>
                                    <h5>厄瓜多紅</h5>
                                    <h6>High-grade lime paint No.123</h6>
                                </div>
                                <ul>
                                    <li>
                                        <h6>原價 NT$1,200</h6>
                                    </li>
                                    <li>
                                        <h6>會員優惠 NT$ 800</h6>
                                    </li>
                                </ul>
                            </div>
                            <div class="other">
                                <div class="number">
                                    <div class="number_inner capacity ">
                                        <div>
                                            <h5>容　量</h5>
                                        </div>
                                        <select class="dropdown dropdown_capacity">
                                            <option value="1">0.05L</option>
                                            <option value="2">0.1L</option>
                                        </select>
                                    </div>
                                    <div class="number_inner quantity">
                                        <div>
                                            <h5>數　量</h5>
                                        </div>
                                        <select class="dropdown dropdown_quantity">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="amount">
                                    <h6>+ NT$
                                        <span>2400</span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="yourProduct">
                        <span class="delyourProduct"></span>
                        <div class="img">
                            <img src="../../upload/f2e/talktoauro/talktoauro_lbox_06.png" alt="">
                        </div>
                        <div class="txt_wrap">
                            <div class="txt">
                                <div>
                                    <h6 class="fw700">天然植物漆</h6>
                                    <h5>厄瓜多紅</h5>
                                    <h6>High-grade lime paint No.123</h6>
                                </div>
                                <ul>
                                    <li>
                                        <h6>原價 NT$1,200</h6>
                                    </li>
                                    <li>
                                        <h6>會員優惠 NT$ 800</h6>
                                    </li>
                                </ul>
                            </div>
                            <div class="other">
                                <div class="number">
                                    <div class="number_inner capacity ">
                                        <div>
                                            <h5>容　量</h5>
                                        </div>
                                        <select class="dropdown dropdown_capacity">
                                            <option value="1">0.05L</option>
                                            <option value="2">0.1L</option>
                                        </select>
                                    </div>
                                    <div class="number_inner quantity">
                                        <div>
                                            <h5>數　量</h5>
                                        </div>
                                        <select class="dropdown dropdown_quantity">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="amount">
                                    <h6>+ NT$
                                        <span>2400</span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="yourProduct">
                        <span class="delyourProduct"></span>
                        <div class="img">
                            <img src="../../upload/f2e/talktoauro/talktoauro_lbox_06.png" alt="">
                        </div>
                        <div class="txt_wrap">
                            <div class="txt">
                                <div>
                                    <h6 class="fw700">天然植物漆</h6>
                                    <h5>厄瓜多紅</h5>
                                    <h6>High-grade lime paint No.123</h6>
                                </div>
                                <ul>
                                    <li>
                                        <h6>原價 NT$1,200</h6>
                                    </li>
                                    <li>
                                        <h6>會員優惠 NT$ 800</h6>
                                    </li>
                                </ul>
                            </div>
                            <div class="other">
                                <div class="number">
                                    <div class="number_inner capacity ">
                                        <div>
                                            <h5>容　量</h5>
                                        </div>
                                        <select class="dropdown dropdown_capacity">
                                            <option value="1">0.05L</option>
                                            <option value="2">0.1L</option>
                                        </select>
                                    </div>
                                    <div class="number_inner quantity">
                                        <div>
                                            <h5>數　量</h5>
                                        </div>
                                        <select class="dropdown dropdown_quantity">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="amount">
                                    <h6>+ NT$
                                        <span>2400</span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="memberterms_btms">
            <ul>
                <li>
                    <a href="javascript:void(0);">
                        <h5>返回上一步</h5>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <h5>確認加購</h5>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>