<div class="detail">
    <div class="team_close">
        <span></span>
        <span></span>
    </div>
    <div class="team_slick_bg">
        <div class="team_slick">
            <ul>
                <li>
                    <div>
                    	<div class="slick_img"><img src="../../upload/cuisine/team/chef.jpg"></div>
                    <div class="slick_text">
                        <p>Chef Jimmy</p>
                        <p>Born in Yilan in the kitchen family, since the small determined to become a professional chef, 17 years old will enter the restaurant industry, has served the major domestic five-star hotel, have visited Tokyo, France, Italy, Germany, Denmark, Spain and so on Home Michelin three-star restaurant, to experience the different countries of the food culture, so that their own cooking can be with the international standards, provided to the thirty-two Museum of the most delicious and healthy dishes.</p>
                    </div>
                    </div>
                </li>
                <li>
                    <div>
                    	<div class="slick_img"><img src="../../upload/cuisine/team/chef.jpg"></div>
                    <div class="slick_text">
                        <p>Chef Jimmy</p>
                        <p>Born in Yilan in the kitchen family, since the small determined to become a professional chef, 17 years old will enter the restaurant industry, has served the major domestic five-star hotel, have visited Tokyo, France, Italy, Germany, Denmark, Spain and so on Home Michelin three-star restaurant, to experience the different countries of the food culture, so that their own cooking can be with the international standards, provided to the thirty-two Museum of the most delicious and healthy dishes.</p>
                    </div>
                    </div>
                </li>
                <li>
                    <div>
                    	<div class="slick_img"><img src="../../upload/cuisine/team/chef.jpg"></div>
                    <div class="slick_text">
                        <p>Chef Jimmy</p>
                        <p>Born in Yilan in the kitchen family, since the small determined to become a professional chef, 17 years old will enter the restaurant industry, has served the major domestic five-star hotel, have visited Tokyo, France, Italy, Germany, Denmark, Spain and so on Home Michelin three-star restaurant, to experience the different countries of the food culture, so that their own cooking can be with the international standards, provided to the thirty-two Museum of the most delicious and healthy dishes.</p>
                    </div>
                    </div>
                </li>
                <li>
                   <div>
                   	 <div class="slick_img"><img src="../../upload/cuisine/team/chef.jpg"></div>
                    <div class="slick_text">
                        <p>Chef Jimmy</p>
                        <p>Born in Yilan in the kitchen family, since the small determined to become a professional chef, 17 years old will enter the restaurant industry, has served the major domestic five-star hotel, have visited Tokyo, France, Italy, Germany, Denmark, Spain and so on Home Michelin three-star restaurant, to experience the different countries of the food culture, so that their own cooking can be with the international standards, provided to the thirty-two Museum of the most delicious and healthy dishes.</p>
                    </div>
                   </div>
                </li>
            </ul>
            <span class="icon-arrow-left01 slick_prev"></span>
            <span class="icon-arrow-right01 slick_next"></span>
        </div>
    </div>
</div>