<div class="detail">
    <div class="detail_nav">
        <div>
            <div class="back">
                <ul>
                    <li>
                        <p>CUISINE</p>
                    </li>
                    <li>
                        <p id="back" style="cursor: pointer;">BACK</p>
                    </li>
                </ul>
            </div>
            <div class="detail_menu_icom">
                <div class="cuisine">
                    <p>CUISINE</p>
                </div>
                <div class="icom_box">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="detail_banner">
        <div class="detail_banner_img">
                                    <picture>
                                <!--[if IE 9]><video style="display: none;"><![endif]-->
                                <source srcset="../../upload/cuisine/restaurant/banner.jpg" media="(max-width: 1024px)">
                                <img src="../../upload/cuisine/restaurant/banner.jpg">
                            </picture>
        </div>
        <div class="detail_slogan">
            <p>The 32 Restaurant</p>
        </div>
        <div class="banner_slideup">
            <p>DELICIOUS</p>
        </div>
    </div>
    <div class="detail_content">
        <div class="detail_title_bg">
            <div class="detail_title">
                <h4>Sauce, Give The Italian Food Soul</h4>
                <p>~Sample slogan The five senses of man are in charge of the soul of man~</p>
            </div>
        </div>
        <!-- detail_row1 -->
        <div class="detail_row">
            <div class="detail_row_img">
                <div>
                    <img class="b-lazy" src="../../upload/cuisine/restaurant/img1.jpg" data-src="../../upload/cuisine/restaurant/img1.jpg">
                </div>
            </div>
            <div class="detail_row_text_bg">
                <div class="detail_row_text">
                    <div class="detail_text_title">
                        <p>Restaurant Design Atmosphere, Construction Timber</p>
                    </div>
                    <p>The room is designed with a warm atmosphere, like a secret space in the forest, and through the OPEN KITCHEN, the chefs are looking for the meal and the distance, so that you can feel Came to The Restaurant, like back to their own general easy and a little mysterious.</p>
                    <div class="photo">
                        <p>photo gallery</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- detail_row2 -->
        <div class="detail_row">
            <div class="detail_row_img">
                <div>
                    <img class="b-lazy" src="../../upload/cuisine/restaurant/img2.jpg" data-src="../../upload/cuisine/restaurant/img2.jpg">
                </div>
            </div>
            <div class="detail_row_text_bg">
                <div class="detail_row_text">
                    <div class="detail_text_title">
                        <p>Spring, Wood, Trees, Stone</p>
                    </div>
                    <p>And in the outdoor space can be overlooking the whole piece of "spring, wood, trees, stone," intertwined natural scenery, in the three layers of water in the water bowl pouring hot springs, smoke misty, large water wall Ren Shanquan water gurgling , The earth brewing energy naturally dumping, so you feel in Taipei City, there is such a peach blossom source.</p>
                    <div class="photo">
                        <p>photo gallery</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- detail_row3 -->
        <div class="detail_row">
            <div class="detail_row_img">
                <div>
                    <img class="b-lazy" src="../../upload/cuisine/restaurant/img3.jpg" data-src="../../upload/cuisine/restaurant/img3.jpg">
                </div>
            </div>
            <div class="detail_row_text_bg">
                <div class="detail_row_text">
                    <div class="detail_text_title">
                        <p>Taiwanese Style Ingredients and Continental High-Level Classic Ingredients</p>
                    </div>
                    <p>We offer exquisite Italian cuisine, which integrates Taiwan's seasonal ingredients and European classic ingredients.
                        <br>
                        <br>The Restaurant's table is always stunning and feels the characteristics of Taiwan's customs; Specialties, fresh seafood, or Australia, the top of the Japanese species and cattle, can not be met the fragrance of the rich and rich Italian Alba white truffles, calm and thick fragrance of the French Perigone black pine road, crisp and delicious French 32 + White asparagus, etc., in Jimmy chef very skilled cooking, with a unique way to play the ultimate flavor of the original flavor of ingredients, showing the original vitality of ingredients.
                        <br>
                        <br><strong>Chef season limited ingredients</strong> :
                        <br>
                        <br>white truffle. Black truffle. White asparagus</p>
                    <div class="photo">
                        <p>photo gallery</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="detail_ft">
        <div class="ft_lastorder">
            <div class="lastorder_top">
                <p>LAST ORDER</p>
            </div>
            <div class="lastorder_text">
                <div>
                    <ul>
                        <li>
                            <p><strong>LUNCH</strong> : 12:00 am ~ 14:00 pm</p>
                        </li>
                        <li>
                            <p><strong>AFTERNOON TEA</strong> : 15:00 pm ~ 17:00 pm</p>
                        </li>
                        <li>
                            <p><strong>DINNER</strong> : 18:00 pm ~ 22:00 pm</p>
                        </li>
                    </ul>
                    <p>Last time: 30 minutes before the end of each period</p>
                </div>
            </div>
        </div>
        <div class="make_a_reservation ">
            <a href="javascript:void(0);">
                <p class="_contact">MAKE A RESERVATION</p>
            </a>
        </div>
        <div class="ft_menu">
            <div class="ft_menu_prev">
                <div class="ft_hover">
                    <div>
                        <h5>Menu</h5>
                        <ul>
                            <li>
                                <p>Lunch Menu</p>
                            </li>
                            <li>
                                <p>Afternoon Tea Menu</p>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <p>Dinner Menu</p>
                            </li>
                            <li>
                                <p>Chef Special Meal Menu</p>
                            </li>
                        </ul>
                        <p>Season Meal Menu</p>
                    </div>
                </div>
                <img class="b-lazy" src="../../upload/cuisine/restaurant/ft_img1.jpg" data-src="../../upload/cuisine/restaurant/ft_img1.jpg">
            </div>
            <div class="ft_menu_next">
                <div class="ft_hover">
                    <div>
                        <h5>Menu</h5>
                        <ul>
                            <li>
                                <p>Lunch Menu</p>
                            </li>
                            <li>
                                <p>Afternoon Tea Menu</p>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <p>Dinner Menu</p>
                            </li>
                            <li>
                                <p>Chef Special Meal Menu</p>
                            </li>
                        </ul>
                        <p>Season Meal Menu</p>
                    </div>
                </div>
                <img class="b-lazy" src="../../upload/cuisine/restaurant/ft_img2.jpg" data-src="../../upload/cuisine/restaurant/ft_img2.jpg">
            </div>
        </div>
    </div>
</div>
<div class="photo_libox">
</div>