<div class="libox_close">
    <span></span>
    <span></span>
</div>
<h5><p>Restaurant Design Atmosphere, Construction Timber</p></h5>
<div class="libox_slick_bg" style="overflow: hidden;">
<div class="libox_slick">
    <ul>
        <li>
          <div>
                <img src="../../upload/cuisine/restaurant/libox/img1.jpg">
          </div>
            <div class="libox_text">
                <div>
                <p>photo title</p>
                <p>Here, find gorgeous flamboyant signs, nor the magnificent decorative furnishings, each as building materials...</p>
                </div>
            </div>
        </li>
        <li>
            <img src="../../upload/cuisine/restaurant/libox/img1.jpg">
            <div class="libox_text">
                <p>photo title</p>
                <p>Here, find gorgeous flamboyant signs, nor the magnificent decorative furnishings, each as building materials...</p>
            </div>
        </li>
        <li>
            <img src="../../upload/cuisine/restaurant/libox/img1.jpg">
            <div class="libox_text">
                <p>photo title</p>
                <p>Here, find gorgeous flamboyant signs, nor the magnificent decorative furnishings, each as building materials...</p>
            </div>
        </li>
    </ul>
    <span class="icon-arrow-left01 slick_prev"></span>
    <span class="icon-arrow-right01 slick_next"></span>
</div></div>