<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="description" content="網站描敘">
  <meta name="keywords" content="網站關鍵字">
  <meta name="format-detection" content="telephone=no">
  <title>PAPILLON</title>

  <!--[if lt IE 9]><script src="../../assets/js/vendor/html5shiv-master/html5shiv.js"></script><![endif]--><!--讓ie9以下看懂html5標籤-->

  <!-- icon -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/img/ico/favicon.png">
  <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/ico/favicon.png">
  <link rel="icon" type="image/x-icon" href="../../assets/img/ico/favicon.png">

  <!-- 共用CSS -->
    <!-- <link rel="stylesheet" href="../../assets/css/icon-style.css"> -->
    <link rel="stylesheet" href="../../assets/js/vendor/cgpagechange/cgpagechange.css">
    <link rel="stylesheet" href="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.css">
  <!-- 共用CSS end-->

  <!-- 非共用CSS -->

  <!-- 非共用CSS end-->


  <link rel="stylesheet" href="../../assets/css/member.css">

</head>

<body id="member" class="member member_address">

  <header></header>

  <main>

    <article class="m_box">

      <!--標題-->
      <section class="_top">
        
        <div class="_title">
          <h2>ADDRESS BOOK</h2>
          <p>您的地址簿</p>
        </div>
    
      </section>

      <!--麵包屑-->
      <article class="detail_nav">
        
        <!--麵包屑-->
        <div class="series">
            <span><a href="../member/member_guide.html">會員中心</a></span>
            <span>您的地址簿</span>
        </div>

        <!--返回鍵-->
        <div class="_back">
          <a href="../member/member_guide.html">
            <span></span>
            <p>BACK</p>
          </a>
        </div>

      </article>

      <!---->
      <article class="box_1">

        <!--state_1 = 新增地址-->
        <!--state_2 = 既有地址-->
        <ul class="frame">
          <li class="list state_1 btn_add open_btn">
            <div class="add_tetx">
              <span class="icon-bold-plus"></span>
              <h2>Add Address</h2>
              <p>新增地址</p>
            </div>
          </li>
          <li class="list state_2">
            <form class="member_form block">

              <p class="title">台中的家</p>
              <ul class="login_member">
                <li>
                  <label for="">MOBILE</label>
                  <p class="text">0912345678</p>
                </li>
                <li>
                  <label for="">NAME</label>
                  <p class="text">周纖芷</p>
                </li>
                <li>
                  <label for="">ADDRESS</label>
                  <p class="text">106 台北市大安區忠孝東路四段45號</p>
                </li>
              </ul>
              <!--繼續 付款 按鈕-->
              <div class="form_btn">
                <a href="javascript:void(0)" class="gray two btn_delete open_btn">
                  <div>
                    <p>刪除</p>
                  </div>
                </a>
                <a href="javascript:void(0)" class="black two btn_edit open_btn">
                  <div>
                    <p>編輯</p>
                  </div>
                </a>
              </div>

            </form>
          </li>
          <li class="list state_2">
            <form class="member_form block">

              <p class="title">老婆的家</p>
              <ul class="login_member">
                <li>
                  <label for="">MOBILE</label>
                  <p class="text">0912345678</p>
                </li>
                <li>
                  <label for="">NAME</label>
                  <p class="text">昆靈</p>
                </li>
                <li>
                  <label for="">ADDRESS</label>
                  <p class="text">106 台北市大安區忠孝東路四段45號</p>
                </li>
              </ul>
              <!--繼續 付款 按鈕-->
              <div class="form_btn">
                <a href="javascript:void(0)" class="gray two btn_delete open_btn">
                  <div>
                    <p>刪除</p>
                  </div>
                </a>
                <a href="javascript:void(0)" class="black two btn_edit open_btn">
                  <div>
                    <p>編輯</p>
                  </div>
                </a>
              </div>

            </form>
          </li>
          <li class="list state_2">
            <form class="member_form block">

              <p class="title">公司</p>
              <ul class="login_member">
                <li>
                  <label for="">MOBILE</label>
                  <p class="text">0912345678</p>
                </li>
                <li>
                  <label for="">NAME</label>
                  <p class="text">周節淪</p>
                </li>
                <li>
                  <label for="">ADDRESS</label>
                  <p class="text">106 台北市大安區忠孝東路四段45號</p>
                </li>
              </ul>
              <!--繼續 付款 按鈕-->
              <div class="form_btn">
                <a href="javascript:void(0)" class="gray two btn_delete open_btn">
                  <div>
                    <p>刪除</p>
                  </div>
                </a>
                <a href="javascript:void(0)" class="black two btn_edit open_btn">
                  <div>
                    <p>編輯</p>
                  </div>
                </a>
              </div>

            </form>
          </li>
          <li class="list state_2">
            <form class="member_form block">

              <p class="title">老家</p>
              <ul class="login_member">
                <li>
                  <label for="">MOBILE</label>
                  <p class="text">0912345678</p>
                </li>
                <li>
                  <label for="">NAME</label>
                  <p class="text">葉慧渼</p>
                </li>
                <li>
                  <label for="">ADDRESS</label>
                  <p class="text">106 台北市大安區忠孝東路四段45號</p>
                </li>
              </ul>
              <!--繼續 付款 按鈕-->
              <div class="form_btn">
                <a href="javascript:void(0)" class="gray two btn_delete open_btn">
                  <div>
                    <p>刪除</p>
                  </div>
                </a>
                <a href="javascript:void(0)" class="black two btn_edit open_btn">
                  <div>
                    <p>編輯</p>
                  </div>
                </a>
              </div>

            </form>
          </li>
          <li class="list state_2">
            <form class="member_form block">

              <p class="title">老婆公司</p>
              <ul class="login_member">
                <li>
                  <label for="">MOBILE</label>
                  <p class="text">0912345678</p>
                </li>
                <li>
                  <label for="">NAME</label>
                  <p class="text">周節淪</p>
                </li>
                <li>
                  <label for="">ADDRESS</label>
                  <p class="text">106 台北市大安區忠孝東路四段45號</p>
                </li>
              </ul>
              <!--繼續 付款 按鈕-->
              <div class="form_btn">
                <a href="javascript:void(0)" class="gray two btn_delete open_btn">
                  <div>
                    <p>刪除</p>
                  </div>
                </a>
                <a href="javascript:void(0)" class="black two btn_edit open_btn">
                  <div>
                    <p>編輯</p>
                  </div>
                </a>
              </div>

            </form>
          </li>
        </ul>

      </article>

      <!--紅利點數使用說明 bonus rule-->
      <article class="address_box">

        <section class="box">

          <!--關閉按鈕-->
          <div class="_close close_btn">
            <a href="javascript:void(0)">
              <p>CLOSE</p>
            </a>
          </div>

          <!--新增地址-->
          <section class="adbox adbox_1">
            <!--標題-->
            <section class="_top">
                
              <div class="_title">
                <h2>ADD ADDRESS</h2>
                <p>新增地址</p>
              </div>
            
            </section>

            <!--表格-->
            <form class="member_form">
              <ul class="adbox_form login_member">
                <li>
                  <label for="">ADDRESS BOOK</label>
                  <input type="text" name="" value="" placeholder="請輸入地址簿名稱">
                </li>
                <li>
                  <label for="">NAME</label>
                  <input type="text" name="" value="" placeholder="請填寫您的姓名">
                </li>
                <li class="dropMenu">
                  <label for="">CITY</label>
                  <div class="menulist">
                    <span class="selectMenu arrow-icon"><p>請選擇您居住的縣市</p></span>
                  </div>
                  <ul tabindex="1" class="dropMenu_box">
                    <li>
                      <p>台北市</p>
                    </li>
                    <li>
                      <p>新北市</p>
                    </li>
                    <li>
                      <p>桃園市</p>
                    </li>
                    <li>
                      <p>台中市</p>
                    </li>
                    <li>
                      <p>台南市</p>
                    </li>
                    <li>
                      <p>高雄市</p>
                    </li>
                    <li>
                      <p>宜蘭縣</p>
                    </li>
                    <li>
                      <p>花蓮縣</p>
                    </li>
                    <li>
                      <p>台東縣</p>
                    </li>
                    <li>
                      <p>澎湖縣</p>
                    </li>
                  </ul>
                </li>
                <li>
                  <label for="">MOBILE</label>
                  <input type="number" name="" value="" placeholder="請填寫您的手機號碼">
                </li>
                <li>
                  <label for="">POST CODE</label>
                  <input type="number" name="" value="" placeholder="請輸入您的郵遞區號">
                </li>
                <li>
                  <label for="">ADDRESS</label>
                  <input type="text" name="" value="" placeholder="請輸入您的住址">
                </li>
              </ul>
            </form>
          
            <!--繼續 付款 按鈕-->
            <div class="form_btn">
              <a href="javascript:void(0)" class="gray two close_btn">
                <div>
                  <p>取消</p>
                </div>
              </a>
              <a href="javascript:void(0)" class="black two close_btn">
                <div>
                  <p>新增</p>
                </div>
              </a>
            </div>
          </section>

          <!--編輯地址-->
          <section class="adbox adbox_2">
            <!--標題-->
            <section class="_top">
                
              <div class="_title">
                <h2>EDIT ADDRESS</h2>
                <p>編輯地址</p>
              </div>

            </section>

            <!--表格-->
            <form class="member_form">
              <ul class="adbox_form login_member">
                <li>
                  <label for="">ADDRESS BOOK</label>
                  <input type="text" name="" value="" placeholder="台中的家">
                </li>
                <li>
                  <label for="">MOBILE</label>
                  <input type="number" name="" value="" placeholder="0912345678">
                </li>
                <li>
                  <label for="">NAME</label>
                  <input type="text" name="" value="" placeholder="昆靈">
                </li>
                <li class="dropMenu">
                  <label for="">CITY</label>
                  <div class="menulist">
                    <span class="selectMenu arrow-icon"><p>台中市</p></span>
                  </div>
                  <ul tabindex="1" class="dropMenu_box">
                    <li>
                      <p>台北市</p>
                    </li>
                    <li>
                      <p>新北市</p>
                    </li>
                    <li>
                      <p>桃園市</p>
                    </li>
                    <li>
                      <p>台中市</p>
                    </li>
                    <li>
                      <p>台南市</p>
                    </li>
                    <li>
                      <p>高雄市</p>
                    </li>
                    <li>
                      <p>宜蘭縣</p>
                    </li>
                    <li>
                      <p>花蓮縣</p>
                    </li>
                    <li>
                      <p>台東縣</p>
                    </li>
                    <li>
                      <p>澎湖縣</p>
                    </li>
                  </ul>
                </li>
                <li>
                  <label for="">POST CODE</label>
                  <input type="number" name="" value="" placeholder="104">
                </li>
                <li>
                  <label for="">ADDRESS</label>
                  <input type="text" name="" value="" placeholder="西屯區忠孝東路四段45號">
                </li>
              </ul>
            </form>

            <!--繼續 付款 按鈕-->
            <div class="form_btn">
              <a href="javascript:void(0)" class="gray two close_btn">
                <div>
                  <p>取消</p>
                </div>
              </a>
              <a href="javascript:void(0)" class="black two close_btn">
                <div>
                  <p>更新</p>
                </div>
              </a>
            </div>
          </section>

          <!--刪除地址-->
          <section class="adbox adbox_3">

            <!--標題-->
            <section class="_top">
                
              <div class="_title">
                <h2>REMOVE ADDRESS</h2>
                <p>刪除地址</p>
              </div>
            
            </section>

            <!--表格-->
            <form class="member_form">
              <ul class="adbox_form login_member">
                <li>
                  <label for="">ADDRESS BOOK</label>
                  <p class="text">台中的家</p>
                </li>
                <li>
                  <label for="">MOBILE</label>
                  <p class="text">0912345678</p>
                </li>
                <li>
                  <label for="">NAME</label>
                  <p class="text">昆靈</p>
                </li>
                <li class="dropMenu">
                  <label for="">CITY</label>
                  <p class="text">台中市</p>
                </li>
                <li>
                  <label for="">POST CODE</label>
                  <p class="text">104</p>
                </li>
                <li>
                  <label for="">ADDRESS</label>
                  <p class="text">西屯區忠孝東路四段45號</p>
                </li>
              </ul>
            </form>
            
            <!--繼續 付款 按鈕-->
            <div class="form_btn">
              <a href="javascript:void(0)" class="gray two close_btn">
                <div>
                  <p>取消</p>
                </div>
              </a>
              <a href="javascript:void(0)" class="black two close_btn">
                <div>
                  <p>確定刪除</p>
                </div>
              </a>
            </div>

          </section>

        </section>

      </article>
      
    </article>

  </main>

  <footer></footer>

<!-- 共用 -->
  <script src="../../assets/js/vendor/jquery-2.2.4.min.js"></script>
  <script src="../../assets/js/vendor/cgpagechange/cgpagechange.js"></script>
  <script src="../../assets/js/vendor/waypoints/waypoints.min.js"></script>
  <script src="../../assets/js/vendor/jquery.nicescroll/jquery.nicescroll.js"></script>
  <script src="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.js"></script>
<!-- 共用end -->

<!-- 非共用 -->
<!-- 非共用end-->

  <script src="../../assets/js/member.js"></script>
  <script src="../../assets/js/main.js"></script>

</body>
</html>
