<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="description" content="網站描敘">
  <meta name="keywords" content="網站關鍵字">
  <meta name="format-detection" content="telephone=no">
  <title>PAPILLON</title>

  <!--[if lt IE 9]><script src="../../assets/js/vendor/html5shiv-master/html5shiv.js"></script><![endif]--><!--讓ie9以下看懂html5標籤-->

  <!-- icon -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/img/ico/favicon.png">
  <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/ico/favicon.png">
  <link rel="icon" type="image/x-icon" href="../../assets/img/ico/favicon.png">

  <!-- 共用CSS -->
    <!-- <link rel="stylesheet" href="../../assets/css/icon-style.css"> -->
    <link rel="stylesheet" href="../../assets/js/vendor/cgpagechange/cgpagechange.css">
    <link rel="stylesheet" href="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.css">
  <!-- 共用CSS end-->

  <!-- 非共用CSS -->
  <!-- 非共用CSS end-->


  <link rel="stylesheet" href="../../assets/css/member.css">

</head>

<body id="member" class="member orderDetail_frame">

  <main>

    <article class="m_box">

      <!--關閉按鈕 若是member_order來就返回member_order，若是member_return來就返回member_return-->
      <div class="_close">
        <a href="../member/member_order.html">
          <p>CLOSE</p>
        </a>
      </div>

      <!--標題-->
      <section class="_top">
          
          <div class="_title">
            <h2>ORDER DETAIL</h2>
            <p>訂單明細</p>
          </div>
      
      </section>
  
      <!--訂單nav-->
      <section class="order_nav">

        <p class="serial_number">訂單編號 : 201711270001</p>

        <!--按鈕-->
        <div class="form_btn">
          <a href="javascript:void(0)" class="black">
            <div>
              <p>購買明細</p>
            </div>
          </a>
          <a href="javascript:void(0)" class="gray">
            <div>
              <p>收件人 / 宅配 / 發票資訊</p>
            </div>
          </a>
          <a href="javascript:void(0)" class="gray">
            <div>
              <p>備註留言</p>
            </div>
          </a>
        </div>

      </section>
  
      <!--購買明細(預設show)-->
      <article class="order_nav_frame detail_content">

        <!--商品明細-->
        <section class="order_nav_detail order_navBox">

          <!--title-->
          <div class="order_li_title">
            <p class="title">Product Details</p>
            <p class="vice">商品明細</p>
          </div>

          <!--列表-->
          <div class="order_list_box">
            <ul class="order_ul">
                
                <li class="order_li">
      
                  <!--圖 140*140-->
                  <div class="img box_1">
                    <picture>
                      <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/member/detail-1.jpg" alt="">
                    </picture>
                  </div>

                  <!--資訊-->
                  <div class="info box_2">
                    <p class="s_number">DR52727</p>
                    <p class="name">THE HEART OF THE ROSE</p>
                    <p class="vice">玫瑰心情</p>
                    <p class="size">尺寸 : 7 號</p>
                  </div>

                  <!--數量-->
                  <div class="quantity box_3">
                    <p>數量 : 1</p>
                  </div>

                  <!--金額-->
                  <div class="num_word box_4">
                    <p>NT$ 55,000</p>
                  </div>                

                </li>

                <li class="order_li">
                    
                  <!--圖 140*140-->
                  <div class="img box_1">
                    <picture>
                      <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/member/detail-2.jpg" alt="">
                    </picture>
                  </div>

                  <!--資訊-->
                  <div class="info box_2">
                    <p class="s_number">DR5273S6</p>
                    <p class="name">HEART COMMUNION</p>
                    <p class="vice">心心相映</p>
                    <p class="size"><span>女仕</span>尺寸 : 7 號</p>
                  </div>

                  <!--數量-->
                  <div class="quantity box_3">
                    <p>數量 : 1</p>
                  </div>

                  <!--金額-->
                  <div class="num_word box_4">
                    <p>NT$ 12,000</p>
                  </div>                

                </li>

                <li class="order_li">
                    
                  <!--圖 140*140-->
                  <div class="img box_1">
                    <picture>
                      <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/member/detail-2.jpg" alt="">
                    </picture>
                  </div>

                  <!--資訊-->
                  <div class="info box_2">
                    <p class="s_number">DR5273M12</p>
                    <p class="name">HEART COMMUNION</p>
                    <p class="vice">心心相映</p>
                    <p class="size"><span>紳士</span>尺寸 : 12 號</p>
                  </div>

                  <!--數量-->
                  <div class="quantity box_3">
                    <p>數量 : 1</p>
                  </div>

                  <!--金額-->
                  <div class="num_word box_4">
                    <p>NT$ 15,000</p>
                  </div>                

                </li>

                <li class="order_li">
                    
                  <!--圖 140*140-->
                  <div class="img box_1">
                    <picture>
                      <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/member/detail-3.jpg" alt="">
                    </picture>
                  </div>

                  <!--資訊-->
                  <div class="info box_2">
                    <p class="s_number">DR5273M12</p>
                    <p class="name">YOUR FAIRY TALE</p>
                    <p class="vice">妳的童話</p>
                  </div>

                  <!--數量-->
                  <div class="quantity box_3">
                    <p>數量 : 1</p>
                  </div>

                  <!--金額-->
                  <div class="num_word box_4">
                    <p>NT$ 12,000</p>
                  </div>                

                </li>

              </ul>
          </div>

        </section>

        <!--優惠折抵-->
        <section class="order_nav_discount order_navBox">

          <!--title-->
          <div class="order_li_title">
            <p class="title">Discount</p>
            <p class="vice">優惠折抵</p>
          </div>

          <!--列表-->
          <div class="order_list_box">
            <ul class="order_ul">
                
              <li class="order_li">
    
                <!--title-->
                <div class="title box_1">
                  <p>全館折扣</p>
                </div>

                <!--notice-->
                <div class="notice box_2">
                  <p>即日起至2017年12月25日止，慶祝聖誕節，期間網路商店全面9折，趕快挑選一份禮物給另一伴神秘驚喜吧！</p>
                </div>

                <!--數量-->
                <div class="num_word box_3">
                  <p>10%</p>
                </div>

                <!--金額-->
                <div class="num_word minus box_4">
                  <p>NT$ 9,400</p>
                </div>                

              </li>

              <li class="order_li">
                  
                <!--title-->
                <div class="title box_1">
                  <p>滿千送百</p>
                </div>

                <!--notice-->
                <div class="notice box_2">
                  <p>因應全台百貨公司周年慶活動開跑，即日起至2017年12月15日止，期間網路商店滿8000送500。</p>
                </div>

                <!--數量-->
                <div class="num_word box_3">
                  <p>10 BOUT</p>
                </div>

                <!--金額-->
                <div class="num_word minus box_4">
                  <p>NT$ 5,000</p>
                </div>                

              </li>

              <li class="order_li">
                  
                <!--title-->
                <div class="title box_1">
                  <p>活動折扣碼</p>
                </div>

                <!--notice-->
                <div class="notice box_2">
                  <p>活動折扣碼為全台各據點不定時消費活動所贈送之優惠卷，該優惠卷折扣碼只能使用一次。</p>
                </div>

                <!--數量-->
                <div class="num_word box_3">
                  <p>A987B11S</p>
                </div>

                <!--金額-->
                <div class="num_word minus box_4">
                  <p>NT$ 1,000</p>
                </div>                

              </li>

              <li class="order_li">
                  
                <!--title-->
                <div class="title box_1">
                  <p>會員紅利折抵</p>
                </div>

                <!--notice-->
                <div class="notice box_2">
                  <p>會員購買商品，皆可以從會員紅利點數選擇進行折扣優惠。</p>
                </div>

                <!--數量-->
                <div class="num_word box_3">
                  <p>- 19,850 BP</p>
                </div>

                <!--金額-->
                <div class="num_word minus box_4">
                  <p>NT$ 19,850</p>
                </div>                

              </li>

              </ul>
          </div>

        </section>

        <!--紅利回饋-->
        <section class="order_nav_bonus order_navBox">

          <!--title-->
          <div class="order_li_title">
            <p class="title">Bonus</p>
            <p class="vice">紅利回饋</p>
          </div>

          <!--列表-->
          <div class="order_list_box">
            <ul class="order_ul">
                
              <li class="order_li">
    
                <!--title-->
                <div class="title box_1">
                  <p>好友推薦</p>
                </div>

                <!--notice-->
                <div class="notice box_2">
                  <p>於7天鑑賞期過後，雙方即可享有該訂單最後總金額的1%紅利回饋點數，同一個好友編號只能輸入一次。</p>
                </div>

                <!--數量-->
                <div class="num_word box_3">
                  <p>1%</p>
                </div>

                <!--金額-->
                <div class="num_word box_4">
                  <p>588 BP</p>
                </div>                

              </li>

              <li class="order_li">
                  
                <!--title-->
                <div class="title box_1">
                  <p>購買回饋</p>
                </div>

                <!--notice-->
                <div class="notice box_2">
                  <p>於7天鑑賞期過後，購買訂單最後總金額的2%，我們將會回饋購買紅利點數至您的會員帳戶。</p>
                </div>

                <!--數量-->
                <div class="num_word box_3">
                  <p>2%</p>
                </div>

                <!--金額-->
                <div class="num_word box_4">
                  <p>1175 BP</p>
                </div>                

              </li>

              </ul>
          </div>

        </section>

        <!--商品總金額-->
        <section class="total">
          <div class="box">
            <p class="title">商品總金額</p>
            <p class="number">NT$ 58,750</p>
          </div>
        </section>

      </article>

      <!--收件人/宅配/發票資訊-->
      <article class="order_nav_info detail_content">

        <!--商品運送-->
        <section class="order_nav_shipping order_navBox">

          <!--title-->
          <div class="order_li_title">
            <p class="title">Shipping</p>
            <p class="vice">商品運送</p>
          </div>

          <!--列表-->
          <div class="order_list_box">
            <ul class="order_ul">
                
                <li class="order_li">
      
                  <!--title-->
                  <div class="title box_1">
                    <p>宅配資訊</p>
                  </div>
  
                  <!--notice-->
                  <div class="notice box_2">
                    <p>宅配貨號 :     20171102017535</p>
                    <p>宅配公司 :     黑貓宅急便</p>
                  </div>                

                </li>

                <li class="order_li">
                    
                  <!--title-->
                  <div class="title box_1">
                    <p>預定到貨日</p>
                  </div>
  
                  <!--notice-->
                  <div class="notice box_2">
                    <p>日期 :     2017/11/02</p>
                    <p>時段 :     上午</p>
                  </div>                

                </li>

                <li class="order_li">
                    
                  <!--title-->
                  <div class="title box_1">
                    <p>收件人資訊</p>
                  </div>
  
                  <!--notice-->
                  <div class="notice box_2">
                    <p>收件人姓名 :     周節淪</p>
                    <p>收件人住址 :     106 台北市大安區忠孝東路四段45號</p>
                    <p>收件人電話 :     02 - 12345678</p>
                    <p>收件人手機 :     0912345678</p>
                  </div>                

                </li>

              </ul>
          </div>
          
        </section>

        <!--發票資訊-->
        <section class="order_nav_shipping order_navBox">
            
          <!--title-->
          <div class="order_li_title">
            <p class="title">Invoice</p>
            <p class="vice">發票資訊</p>
          </div>

          <!--列表-->
          <div class="order_list_box">
            <ul class="order_ul">
                
                <li class="order_li">
      
                  <!--title-->
                  <div class="title box_1">
                    <p>發票內容</p>
                  </div>
  
                  <!--notice-->
                  <div class="notice box_2">
                    <p>發票 :     三聯式發票</p>
                    <p>發票抬頭 :     節崴洱有限公司</p>
                    <p>統一編號 :     12341234</p>
                  </div>                

                </li>

                <li class="order_li">
                    
                  <!--title-->
                  <div class="title box_1">
                    <p>發票收件人</p>
                  </div>
  
                  <!--notice-->
                  <div class="notice box_2">
                    <p>收件人姓名 :     周節淪</p>
                    <p>收件人住址 :     106 台北市大安區忠孝東路四段45號</p>
                    <p>收件人電話 :     02 - 12345678</p>
                    <p>收件人手機 :     0912345678</p>
                  </div>                

                </li>

              </ul>
          </div>
          
        </section>

      </article>

      <!--備註留言-->
      <article class="order_nav_message detail_content">

        <!---->
        <section class="order_nav_remarks order_navBox">

          <form>
            <textarea rows="" cols="" placeholder="這裡可以輸入您取消訂單的備註說明"></textarea>
            <div class="btn">
              <span class="icon-enter_arrow"></span>
              <input type="button" id="sent" value="" class="send">
            </div>
          </form>

        </section>

        <!--"小幫手"就在li上加official ， "會員"就在li上加client-->
        <section class="order_nav_talk order_navBox">

          <ul class="talk_box">

            <li class="talk_list official">

              <div class="identity">
                <p class="who">小幫手</p>
                <p class="date">2017/12/03</p>
              </div>

              <div class="text">
                <p class="hello">親愛的會員您好 : </p>
                <p>我們已經完成您的需求調整，並且已經確認商品外觀沒有損壞，款項也在稍早退還到您的帳戶了，在麻煩您幫我們確認一下，期待下次能夠在為您服務，感謝您。</p>
              </div>

            </li>

            <li class="talk_list official">
                
              <div class="identity">
                <p class="who">小幫手</p>
                <p class="date">2017/12/01</p>
              </div>

              <div class="text">
                <p class="hello">親愛的會員您好 : </p>
                <p>我們已經收到您的需求，並且有專人會盡快跟您聯繫後續退貨以及退款的事項。</p>
              </div>

            </li>

            <li class="talk_list client">
                
              <div class="identity">
                <p class="who">會員</p>
                <p class="date">2017/12/01</p>
                <p class="red">退換貨申請</p>
              </div>

              <div class="text">
                <p>不好意思，我已經收到項鍊了。</p>
                <p>但是商品的顏色跟我想像中的有落差，所以我要申請退貨。</p>
              </div>

            </li>

            <li class="talk_list client">
                
              <div class="identity">
                <p class="who">會員</p>
                <p class="date">2017/11/28</p>
              </div>

              <div class="text">
                <p>我有收到你們的退還款項了。</p>
                <p>感謝你們的服務，真得很抱歉。</p>
              </div>

            </li>
            
          </ul>
            
        </section>

      </article>
      
    </article>

  </main>

<!-- 共用 -->
  <script src="../../assets/js/vendor/jquery-2.2.4.min.js"></script>
  <script src="../../assets/js/vendor/cgpagechange/cgpagechange.js"></script>
  <script src="../../assets/js/vendor/blazy/blazy.min.js"></script>
  <script src="../../assets/js/vendor/waypoints/waypoints.min.js"></script>
  <script src="../../assets/js/vendor/jquery.nicescroll/jquery.nicescroll.js"></script>
  <script src="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.js"></script>
<!-- 共用end -->

<!-- 非共用 -->
<!-- 非共用end-->

  <script src="../../assets/js/member.js"></script>
  <script src="../../assets/js/main.js"></script>

</body>
</html>
