<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="description" content="網站描敘">
  <meta name="keywords" content="網站關鍵字">
  <meta name="format-detection" content="telephone=no">
  <title>PAPILLON</title>

  <!--[if lt IE 9]><script src="../../assets/js/vendor/html5shiv-master/html5shiv.js"></script><![endif]--><!--讓ie9以下看懂html5標籤-->

  <!-- icon -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/img/ico/favicon.png">
  <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/ico/favicon.png">
  <link rel="icon" type="image/x-icon" href="../../assets/img/ico/favicon.png">

  <!-- 共用CSS -->
    <!-- <link rel="stylesheet" href="../../assets/css/icon-style.css"> -->
    <link rel="stylesheet" href="../../assets/js/vendor/cgpagechange/cgpagechange.css">
    <link rel="stylesheet" href="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.css">
  <!-- 共用CSS end-->

  <!-- 非共用CSS -->
    <link rel="stylesheet" href="../../assets/js/vendor/datedropper/datedropper.min.css">
  <!-- 非共用CSS end-->


  <link rel="stylesheet" href="../../assets/css/member.css">

</head>

<body id="member" class="memberAccount_frame">

  <header></header>

  <main>

    <article class="m_box">

      <!--標題-->
      <section class="_top">
        
        <div class="_title">
          <h2>ACCOUNT</h2>
          <p>會員資料管理</p>
        </div>
    
      </section>

      <!--麵包屑-->
      <article class="detail_nav">

        <!--麵包屑-->
        <div class="series">
            <span><a href="../member/member_guide.html">會員中心</a></span>
            <span>會員資料管理</span>
        </div>

        <!--返回鍵-->
        <div class="_back">
          <a href="../member/member_guide.html">
            <span></span>
            <p>BACK</p>
          </a>
        </div>

      </article>

      <!--設定大頭貼-->
      <article class="work_1">

        <!---->
        <section class="member_section">
            
          <!--自拍照 306*226-->
          <div class="member_selfie">
            <a href="javascript:void(0)">
              <picture>
                <img src="../../upload/f2e/member/head-1.jpg" alt="">
              </picture>
            </a>
          </div>

          <!--編號、管理-->
          <div class="member_block">

            <div class="notify">
              <p>設定您的大頭貼</p>
            </div>

            <div class="member_serial">
              <p>會員編號：A100001</p>
            </div>

            <!--編輯 移除 按鈕-->
            <div class="form_btn">
              <a href="javascript:void(0)" class="black two set_pic">
                <div>
                  <p>編輯照片</p>
                </div>
              </a>
              <a href="javascript:void(0)" class="gray two">
                <div>
                  <p>移除照片</p>
                </div>
              </a>
            </div>

          </div>

        </section>

        <!--大頭貼設定PHOTO SETTING-->
        <section class="set_picture">

          <section class="set_box">

            <!--標題-->
            <section class="_top">
              
              <div class="_title">
                <h2>PHOTO SETTING</h2>
                <p>大頭貼設定</p>
              </div>
          
            </section>

            <!--自拍照 306*226-->
            <div class="member_selfie">
              <a href="javascript:void(0)">
                <picture>
                  <img src="../../upload/f2e/member/head-2.jpg" alt="">
                </picture>
              </a>
            </div>

            <!--上傳按鈕 規則-->
            <section class="upload">

              <!--form_btn-->
              <div class="form_btn">
                <a href="javascript:void(0)" class="black one">
                  <div>
                    <p>上傳照片</p>
                  </div>
                </a>
              </div>

              <div class="notify">
                <p>圖片尺寸請限制在 306px * 226px</p>
                <p>圖片的格式為 Jpg / png / gif</p>
              </div>

            </section>

            <!--form_btn 儲存 離開 按鈕-->
            <div class="form_btn">
              <a href="javascript:void(0)" class="black two close_pic">
                <div>
                  <p>儲存設定</p>
                </div>
              </a>
              <a href="javascript:void(0)" class="gray two close_pic">
                <div>
                  <p>離開設定</p>
                </div>
              </a>
            </div>

          </section>

        </section>

      </article>

      <!--會員帳號資料詳細設定-->
      <article class="work_2">

        <!---->
        <ul class="account_detail_box">
          
          <!--Account 帳號設定-->
          <li class="list">

            <div class="detail">
              <p class="title">Account</p>
              <p class="vice">帳號設定</p>
              <p class="text">若您需要重新設定電子郵件帳號、手機號碼以及密碼，我們會再重新驗證您的修改設定，已確認是否為您本人所有。</p>
            </div>

            <div class="option">

              <form class="member_form">
                <ul class="login_member">
                  <li>
                    <label for="">EMAIL</label>
                    <input type="password" name="" value="" placeholder="請填寫您的電子郵件">
                  </li>
                  <li>
                    <label for="">MOBILE</label>
                    <input type="number" name="" value="" placeholder="請填寫您的手機號碼">
                  </li>
                  <li class="form_btn">
                    <!--變更郵件及手機號碼 變更密碼 按鈕-->
                    <a href="../member/member_join.html" class="black two">
                      <div>
                        <p>變更郵件及手機號碼</p>
                      </div>
                    </a>
                    <a href="../member/member_password.html" class="black two">
                      <div>
                        <p>變更密碼</p>
                      </div>
                    </a>
                  </li>
                </ul>
              </form>

            </div>

          </li>

          <!--Basic Information 您的基本資料-->
          <li class="list">
            
            <div class="detail">
              <p class="title">Basic Information</p>
              <p class="vice">您的基本資料</p>
              <p class="text">還沒設定你的生日嗎?</p>
              <p class="text">在生日當天登入網站，將獲得法蝶珠寶送給您的生日禮，快來設定喔。</p>
            </div>

            <div class="option">

              <form class="member_form">
                <ul class="login_member">
                  <li>
                    <label for="">NAME</label>
                    <input type="text" name="" value="" placeholder="請填寫您的姓名">
                  </li>
                  <li class="dropMenu">
                    <label for="">GENDER</label>
                    <div class="menulist">
                      <span class="selectMenu arrow-icon"><p>請選擇您的性別</p></span>
                    </div>
                    <ul tabindex="1" class="dropMenu_box">
                        <li>
                            <p>紳士</p>
                        </li>
                        <li>
                            <p>淑女</p>
                        </li>
                    </ul>
                  </li>
                  <li class="calender">
                    <span class="arrow-icon"></span>
                    <label for="">BIRTHDAY</label>
                    <input type="text" name="" value="" placeholder="請選擇您的出生日期" data-init-set="false" data-min-year="1917" data-lock="to" data-large-default="true" data-large-mode="true" data-auto-lang="true" data-lang="zh">
                    <!-- <input type="text" data-max-year="" data-min-year="" data-lang="zh" class="_date" data-large-mode="true" data-init-set="false" data-translate-mode="true" data-lock="from" placeholder="請選擇您的出生日期"> -->
                    <!--data-lock="to" 不能選今日之後的日期 data-lock="from" 不能選擇今日之前的日期-->
                    <!--data-large-default="true" 預設為大月曆-->
                    <!--data-min-year="1917" 可選擇的最早年份-->
                    <!--data-modal="true" 月曆至中背景黑色-->
                    <!--data-init-set="false" 預設不會先顯示日期(原本會顯示今日日期)-->
                  </li>
                </ul>
              </form>

            </div>

          </li>

          <!--Shipping Address 您的收件地址-->
          <li class="list">
            
            <div class="detail">
              <p class="title">Shipping Address</p>
              <p class="vice">您的收件地址</p>
              <p class="text">設定您的收件地址，將可以加快您購物的速度喔。</p>
            </div>

            <div class="option">

              <form class="member_form">
                <ul class="login_member">
                  <li class="dropMenu">
                    <label for="">CITY</label>
                    <div class="menulist">
                      <span class="selectMenu arrow-icon"><p>請選擇您居住的縣市</p></span>
                    </div>
                    <ul tabindex="1" class="dropMenu_box">
                      <li>
                          <p>台北市</p>
                      </li>
                      <li>
                          <p>新北市</p>
                      </li>
                      <li>
                          <p>桃園市</p>
                      </li>
                      <li>
                          <p>台中市</p>
                      </li>
                      <li>
                          <p>台南市</p>
                      </li>
                      <li>
                          <p>高雄市</p>
                      </li>
                      <li>
                          <p>宜蘭縣</p>
                      </li>
                      <li>
                          <p>花蓮縣</p>
                      </li>
                      <li>
                          <p>台東縣</p>
                      </li>
                      <li>
                          <p>澎湖縣</p>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <label for="">POSTAL CODE</label>
                    <input type="number" name="" value="" placeholder="請輸入您的郵遞區號">
                  </li>
                  <li>
                    <label for="">ADDRESS</label>
                    <input type="text" name="" value="" placeholder="請輸入您的住址">
                  </li>
                </ul>
              </form>

            </div>

          </li>

        </ul>

        <!--form_btn 跳頁 送出更新 離開設定 按鈕-->
        <div class="form_btn">
          <a href="../member/member_guide.html" class="black two">
            <div>
              <p>送出更新</p>
            </div>
          </a>
          <a href="../member/member_guide.html" class="gray two">
            <div>
              <p>離開設定</p>
            </div>
          </a>
        </div>

      </article>
      
    </article>

  </main>

  <footer></footer>

<!-- 共用 -->
  <script src="../../assets/js/vendor/jquery-2.2.4.min.js"></script>
  <script src="../../assets/js/vendor/cgpagechange/cgpagechange.js"></script>
  <script src="../../assets/js/vendor/waypoints/waypoints.min.js"></script>
  <script src="../../assets/js/vendor/jquery.nicescroll/jquery.nicescroll.js"></script>
  <script src="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.js"></script>
<!-- 共用end -->

<!-- 非共用 -->
  <script src="../../assets/js/vendor/datedropper/datedropper.min.js"></script>
<!-- 非共用end-->

  <script src="../../assets/js/member.js"></script>
  <script src="../../assets/js/main.js"></script>

</body>
</html>
