<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="description" content="網站描敘">
  <meta name="keywords" content="網站關鍵字">
  <meta name="format-detection" content="telephone=no">
  <title>PAPILLON</title>

  <!--[if lt IE 9]><script src="../../assets/js/vendor/html5shiv-master/html5shiv.js"></script><![endif]--><!--讓ie9以下看懂html5標籤-->

  <!-- icon -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/img/ico/favicon.png">
  <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/ico/favicon.png">
  <link rel="icon" type="image/x-icon" href="../../assets/img/ico/favicon.png">

  <!-- 共用CSS -->
    <!-- <link rel="stylesheet" href="../../assets/css/icon-style.css"> -->
    <link rel="stylesheet" href="../../assets/js/vendor/cgpagechange/cgpagechange.css">
    <link rel="stylesheet" href="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.css">
  <!-- 共用CSS end-->

  <!-- 非共用CSS -->

  <!-- 非共用CSS end-->


  <link rel="stylesheet" href="../../assets/css/member.css">

</head>

<body id="member" class="member member_guide">

  <header></header>

  <main>

    <article class="m_box">

      <!--標題-->
      <section class="_top">
        
        <div class="_title">
          <h2>MEMBER CENTER</h2>
          <p>會員中心</p>
        </div>
    
      </section>

      <!--work_1-->
      <article class="work_1">

        <!---->
        <section class="box_1">
            
          <!--自拍照-->
          <div class="selfie">
            <a href="javascript:void(0)">
              <picture>
                <img src="../../upload/f2e/member/head-1.jpg" alt="">
              </picture>
            </a>
          </div>

          <!--會員姓名、祝賀詞、編號、管理-->
          <div class="block">
              
            <div class="notify">
              <p class="name">周節淪<span>，歡迎您回來。</span></p>
              <p>今天是您的生日，祝您生日快樂。</p>
            </div>

            <div class="serial">
              <p>會員編號：A100001</p>
            </div>

            <ul class="link">
              <li class="red">
                <a href="../member/member_account.html">
                  <p>會員資料管理</p>
                </a>
              </li>
              <li>
                <a href="../member/index.html">
                  <p>會員登出</p>
                </a>
              </li>
            </ul>

          </div>

        </section>
          
        <!--紅利點數-->
        <section class="box_2">
  
          <p class="title">BONUS POINTS</p>
  
          <!--標題-->
          <section class="_top">
            
            <div class="_title">
              <h2>您的紅利點數</h2>
            </div>
        
          </section>
  
          <!--點數-->
          <p class="point">19,850<span>BP</span></p>

          <!---->
          <p class="change">1BP ＝ 1元</p>

          <!--日期-->
          <p class="date">使用期限 : 2020 / 11 / 29</p>
  
          <!--跳頁按鈕-->
          <div class="form_btn">
            <a href="../member/member_bonus.html" class="black one">
              <div>
                <p>紅利點數管理</p>
              </div>
            </a>
          </div>
  
        </section>

      </article>

      <!--work_2-->
      <article class="work_2">

        <!--方塊排列-->
        <section class="box_1">
          <ul class="frame clearfix">
            <!--regular 固定樣式 寬高不變  img = 560*370-->
            <!--commer 非固定樣式 寬可從block的style:width更改-->
            <li class="list regular">

              <div class="block">
                <div class="img">
                  <picture>
                    <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/member/guide-01.jpg" alt="">
                  </picture>
                  <div class="count">
                    <p><span>3</span>件精品收藏</p>
                  </div>
                </div>

                <div class="text">
                  <p class="title">我的最愛收藏</p>
                  <a href="../member/member_favorite.html" class="link">
                    <span></span>
                    <p>瀏覽您收藏的最愛精品</p>
                  </a>
                </div>
              </div>

            </li>
            <li class="list regular">
                
              <div class="block">
                <div class="img">
                  <picture>
                    <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/member/guide-02.jpg" alt="">
                  </picture>
                </div>

                <div class="text">
                  <p class="title">您的購買 / 退換貨紀錄</p>
                  <a href="../member/member_order.html" class="link">
                    <span></span>
                    <p>購買記錄</p>
                  </a>
                  <a href="../member/member_return.html" class="link">
                    <span></span>
                    <p>退換貨記錄</p>
                  </a>
                </div>
              </div>

            </li>
            <li class="list regular">
                
              <div class="block">
                <div class="img">
                  <picture>
                    <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/member/guide-03.jpg" alt="">
                  </picture>
                </div>

                <div class="text">
                  <p class="title">您的地址簿</p>
                  <a href="../member/member_address.html" class="link">
                    <span></span>
                    <p>瀏覽您的地址簿</p>
                  </a>
                </div>
              </div>

            </li>
            <li class="list commer">
              <div class="block" style="width:75%;">
                <div class="img">
                  <picture>
                    <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/member/guide-04.jpg" alt="">
                  </picture>
                </div>
                <div class="text">
                  <p class="title">2017 秋冬新款</p>
                  <a href="javascript:void(0)" class="link">
                    <span></span>
                    <p>READ MORE</p>
                  </a>
                </div>
              </div>

            </li>
            <li class="list commer">
              <div class="block" style="width:80%;">
                <div class="img">
                  <picture>
                    <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/member/guide-05.jpg" alt="">
                  </picture>
                </div>
                <div class="text">
                  <p class="title">2017法蝶擁抱愛週年慶</p>
                  <p class="info">輕時尚美學，揭示著一種輕靈、精巧的風格品味，可以低調優雅，也可以獨具個性。表現在珠寶的設計上，不僅開拓了珠寶....</p>
                  <a href="javascript:void(0)" class="link">
                    <span></span>
                    <p>READ MORE</p>
                  </a>
                </div>
              </div>

            </li>
          </ul>
        </section>

      </article>
      
    </article>

  </main>

  <footer></footer>

<!-- 共用 -->
  <script src="../../assets/js/vendor/jquery-2.2.4.min.js"></script>
  <script src="../../assets/js/vendor/cgpagechange/cgpagechange.js"></script>
  <script src="../../assets/js/vendor/blazy/blazy.min.js"></script>
  <script src="../../assets/js/vendor/waypoints/waypoints.min.js"></script>
  <script src="../../assets/js/vendor/jquery.nicescroll/jquery.nicescroll.js"></script>
  <script src="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.js"></script>
<!-- 共用end -->

<!-- 非共用 -->
<!-- 非共用end-->

  <script src="../../assets/js/member.js"></script>
  <script src="../../assets/js/main.js"></script>

</body>
</html>
