<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <meta name="format-detection" content="telephone=no">
    <title>TECOEP</title>
    <link rel="stylesheet" href="../../assets/js/vendor/cgpagechange/cgpagechange.css">
    <link rel="stylesheet" href="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="../../assets/js/vendor/slick/slick.css">
    <link rel="stylesheet" href="../../assets/js/vendor/slick/slick-theme.css">
    <!-- 共用CSS end-->
    <!-- 非共用CSS -->
    <!-- 非共用CSS end-->
    <link rel="stylesheet" href="../../assets/css/storehold/storehold.css">
</head>

<body id="storehold" class="index">
    <header>
    </header>
    <main>
        <article class="worldMap">
            <div class="worldBg">
                <img src="../../upload/f2e/storeHold/earth_1350_660.png" alt="">
            </div>
            <div class="box asia">
                <div class="_img">
                    <div class="link">
                        <span></span>
                        <p>亞洲</p>
                    </div>
                    <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/storeHold/Asia_1350_660.png" alt="">
                </div>
            </div>
            <div class="box africa">
                <div class="_img">
                    <div class="link">
                        <span></span>
                        <p>非洲</p>
                    </div>
                    <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/storeHold/Africa_1350_660.png" alt="">
                </div>
            </div>
            <div class="box america">
                <div class="_img">
                    <div class="link">
                        <span></span>
                        <p>美洲</p>
                    </div>
                    <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/storeHold/America_1350_660.png" alt="">
                </div>
            </div>
            <div class="box europe">
                <div class="_img">
                    <div class="link">
                        <span></span>
                        <p>歐洲</p>
                    </div>
                    <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/storeHold/Europe_1350_660.png" alt="">
                </div>
            </div>
            <div class="box australia">
                <div class="_img">
                    <div class="link">
                        <span></span>
                        <p>大洋洲</p>
                    </div>
                    <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/storeHold/Australia_1350_660.png" alt="">
                </div>
            </div>
        </article>
        <article class="content">
            <div class="_title">
                <h2>Global<span>Location</span></h2>
                <h3>全球據點</h3>
                <div class="menulist">
                    <span class="selectMenu"><p>ALL</p></span>
                    <ul>
                        <!-- 後端請注意:已點選的li上加上class active 將字變橘色 -->
                        <li class="checked">
                            <p>ALL</p>
                        </li>
                        <li>
                            <p>亞洲</p>
                        </li>
                        <li>
                            <p>非洲</p>
                        </li>
                        <li>
                            <p>美洲</p>
                        </li>
                        <li>
                            <p>歐洲</p>
                        </li>
                        <li>
                            <p>大洋洲</p>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 表格內容 -->
            <section class="storeList">
                <div class="heading">
                    <p class="headingCountry">
                        國家
                    </p>
                    <div>
                        <p class="headingCity">
                            服務城市
                        </p>
                        <p class="headingServies">
                            服務項目
                        </p>
                        <p class="headingInf">
                            聯絡資訊
                        </p>
                        <p class="headingMap">
                            地圖
                        </p>
                    </div>
                </div>
                <!-- 區域 -->
                <!-- 請後端由此開始更換內容 -->
                <div class="area">
                    <!-- 國家 -->
                    <div class="country">
                        <!-- 國家名稱 -->
                        <div class="countryName">
                            <p>台灣</p>
                        </div>
                        <div class="citys">
                            <!-- 城市 -->
                            <div class="city">
                                <div class="cityName">
                                    <p>全省</p>
                                </div>
                                <div class="serviesItem">
                                    <!-- 後端請注意此處的p要可新增 -->
                                    <p>服務</p>
                                    <p>銷售</p>
                                    <p>製造</p>
                                </div>
                                <div class="inf">
                                    <!-- 公司名稱 -->
                                    <h2>東元電機股份有限公司(工業自動化與控制/安川)</h2>
                                    <!-- 地址 -->
                                    <h3>台北市南港區園區街3-1號10樓</h3>
                                    <ul>
                                        <li>
                                            <!-- 項目名稱 -->
                                            <span>Contact</span>
                                            <!-- 項目內容 -->
                                            <p>張小姐</p>
                                        </li>
                                        <li>
                                            <!-- 項目名稱 -->
                                            <span>Tel</span>
                                            <!-- 項目內容 -->
                                            <p>02-6615-9111#1706</p>
                                        </li>
                                        <li>
                                            <!-- 項目名稱 -->
                                            <span>Fax</span>
                                            <!-- 項目內容 -->
                                            <p>02-6615-0933</p>
                                        </li>
                                        <li>
                                            <!-- 項目名稱 -->
                                            <span>Mail</span>
                                            <!-- 項目內容 -->
                                            <p>saservice@teco.com.tw</p>
                                        </li>
                                        <li>
                                            <!-- 項目名稱 -->
                                            <span>Web</span>
                                            <!-- 項目內容 -->
                                            <p><a href="javascript:void(0)">globalsa.teco.com.tw</a></p>
                                        </li>
                                    </ul>
                                    <div class="mapIcon">
                                        <a href="javascript:void(0)" target="_blank">MAP</a>
                                    </div>
                                </div>
                            </div>
                            <div class="city">
                                <div class="cityName">
                                    <p>全省</p>
                                </div>
                                <div class="serviesItem">
                                    <!-- 後端請注意此處的p要可新增 -->
                                    <p>服務</p>
                                </div>
                                <div class="inf">
                                    <!-- 公司名稱 -->
                                    <h2>東元電機股份有限公司(低壓開關產品)</h2>
                                    <!-- 地址 -->
                                    <h3>新竹縣湖口鄉鳳山村中華路15號</h3>
                                    <ul>
                                        <li>
                                            <!-- 項目名稱 -->
                                            <span>Contact</span>
                                            <!-- 項目內容 -->
                                            <p>范先生</p>
                                        </li>
                                        <li>
                                            <!-- 項目名稱 -->
                                            <span>Tel</span>
                                            <!-- 項目內容 -->
                                            <p>03-598-1711#166</p>
                                        </li>
                                        <li>
                                            <!-- 項目名稱 -->
                                            <span>Mail</span>
                                            <!-- 項目內容 -->
                                            <p>saservice@teco.com.tw</p>
                                        </li>
                                        <li>
                                            <!-- 項目名稱 -->
                                            <span>Web</span>
                                            <!-- 項目內容 -->
                                            <p><a href="javascript:void(0)">globalsa.teco.com.tw</a></p>
                                        </li>
                                    </ul>
                                    <div class="mapIcon">
                                        <a href="javascript:void(0)" target="_blank">MAP</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 國家 -->
                    <div class="country">
                        <!-- 國家名稱 -->
                        <div class="countryName">
                            <p>台灣</p>
                        </div>
                        <div class="citys">
                            <!-- 城市 -->
                            <div class="city">
                                <div class="cityName">
                                    <p>全省</p>
                                </div>
                                <div class="serviesItem">
                                    <!-- 後端請注意此處的p要可新增 -->
                                    <p>服務</p>
                                    <p>銷售</p>
                                    <p>製造</p>
                                </div>
                                <div class="inf">
                                    <!-- 公司名稱 -->
                                    <h2>東元電機股份有限公司(工業自動化與控制/安川)</h2>
                                    <!-- 地址 -->
                                    <h3>台北市南港區園區街3-1號10樓</h3>
                                    <ul>
                                        <li>
                                            <!-- 項目名稱 -->
                                            <span>Contact</span>
                                            <!-- 項目內容 -->
                                            <p>張小姐</p>
                                        </li>
                                        <li>
                                            <!-- 項目名稱 -->
                                            <span>Tel</span>
                                            <!-- 項目內容 -->
                                            <p>02-6615-9111#1706</p>
                                        </li>
                                        <li>
                                            <!-- 項目名稱 -->
                                            <span>Fax</span>
                                            <!-- 項目內容 -->
                                            <p>02-6615-0933</p>
                                        </li>
                                        <li>
                                            <!-- 項目名稱 -->
                                            <span>Mail</span>
                                            <!-- 項目內容 -->
                                            <p>saservice@teco.com.tw</p>
                                        </li>
                                        <li>
                                            <!-- 項目名稱 -->
                                            <span>Web</span>
                                            <!-- 項目內容 -->
                                            <p><a href="javascript:void(0)">globalsa.teco.com.tw</a></p>
                                        </li>
                                    </ul>
                                    <div class="mapIcon">
                                        <a href="javascript:void(0)" target="_blank">MAP</a>
                                    </div>
                                </div>
                            </div>
                            <div class="city">
                                <div class="cityName">
                                    <p>全省</p>
                                </div>
                                <div class="serviesItem">
                                    <!-- 後端請注意此處的p要可新增 -->
                                    <p>服務</p>
                                </div>
                                <div class="inf">
                                    <!-- 公司名稱 -->
                                    <h2>東元電機股份有限公司(低壓開關產品)</h2>
                                    <!-- 地址 -->
                                    <h3>新竹縣湖口鄉鳳山村中華路15號</h3>
                                    <ul>
                                        <li>
                                            <!-- 項目名稱 -->
                                            <span>Contact</span>
                                            <!-- 項目內容 -->
                                            <p>范先生</p>
                                        </li>
                                        <li>
                                            <!-- 項目名稱 -->
                                            <span>Tel</span>
                                            <!-- 項目內容 -->
                                            <p>03-598-1711#166</p>
                                        </li>
                                        <li>
                                            <!-- 項目名稱 -->
                                            <span>Mail</span>
                                            <!-- 項目內容 -->
                                            <p>saservice@teco.com.tw</p>
                                        </li>
                                        <li>
                                            <!-- 項目名稱 -->
                                            <span>Web</span>
                                            <!-- 項目內容 -->
                                            <p><a href="javascript:void(0)">globalsa.teco.com.tw</a></p>
                                        </li>
                                    </ul>
                                    <div class="mapIcon">
                                        <a href="javascript:void(0)" target="_blank">MAP</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
        </article>
    </main>
    <footer>
    </footer>
    <script src="../../assets/js/style.js"></script>
</body>

</html>