<div class="detail">
    <div class="detail_nav">
        <div>
            <div class="back">
                <ul>
                    <li>
                        <p>HOT SPRING</p>
                    </li>
                    <li>
                        <p class="back1" style="cursor: pointer;">BACK</p>
                    </li>
                </ul>
            </div>
            <div class="detail_menu_icom">
                <div class="hotspring">
                    <p>hotspring</p>
                </div>
                <div class="icom_box">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="detail_banner">
        <div class="detail_banner_img">
            <picture>
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source srcset="../../upload/hot spring/room/banner.jpg" media="(max-width: 1024px)">
                <img class="b-lazy" src="../../upload/hot spring/room/banner.jpg" data-src="../../upload/hot spring/room/banner.jpg">
            </picture>
        </div>
        <div class="detail_slogan">
            <p>Hot Spring
                <br>in
                <br>Guest Room</p>
        </div>
        <div class="banner_slideup">
            <p>ENJOY 32</p>
        </div>
    </div>
    <div class="detail_content">
        <div class="detail_title">
            <div>
                <h4>Accmmodation</h4>
                <p>The two Japanese rooms are designed by a Japanese interior designer Mr. Shobu with a Japanese Zen genre. The internationally well-known Chinese cypress is used to build the indoor and outdoor spring tubs.</p>
            </div>
        </div>
        <div class="detail_menu_list">
            <ul>
                <li>
                    <a href="javascript:void(0);">
                        <p>Matsu</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <p>Sakura</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <p>Azure</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <p>Jade</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <p>Crystal</p>
                    </a>
                </li>
            </ul>
        </div>
        <!-- rooms開始 -->
        <div class="rooms">
            <div class="room_img_bg">
                <div class="room_img">
                    <img class="b-lazy" src="../../upload/hot spring/room/img1.jpg" data-src="../../upload/hot spring/room/img1.jpg">
                    <div class="hover_box">
                        <div class="hover_text">
                            <p>Matsu Suite</p>
                            <p>A good slogan for this rooms</p>
                        </div>
                        <div class="learn_more">
                            <a href="javascript:void(0);">
                                <p>learn more</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="room_img_bg">
                <div class="room_img">
                    <img class="b-lazy" src="../../upload/hot spring/room/img2.jpg" data-src="../../upload/hot spring/room/img2.jpg">
                    <div class="hover_box">
                        <div class="hover_text">
                            <p>Sakura Suite</p>
                            <p>A good slogan for this rooms</p>
                        </div>
                        <div class="learn_more">
                            <a href="javascript:void(0);">
                                <p>learn more</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="room_img_bg">
                <div class="room_img">
                    <img class="b-lazy" src="../../upload/hot spring/room/img3.jpg" data-src="../../upload/hot spring/room/img3.jpg">
                    <div class="hover_box">
                        <div class="hover_text">
                            <p>Azure Suite</p>
                            <p>A good slogan for this rooms</p>
                        </div>
                        <div class="learn_more">
                            <a href="javascript:void(0);">
                                <p>learn more</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="room_img_bg">
                <div class="room_img">
                    <img class="b-lazy" src="../../upload/hot spring/room/img4.jpg" data-src="../../upload/hot spring/room/img4.jpg">
                    <div class="hover_box">
                        <div class="hover_text">
                            <p>Jade Suite</p>
                            <p>A good slogan for this rooms</p>
                        </div>
                        <div class="learn_more">
                            <a href="javascript:void(0);">
                                <p>learn more</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="room_img_bg">
                <div class="room_img">
                    <img class="b-lazy" src="../../upload/hot spring/room/img5.jpg" data-src="../../upload/hot spring/room/img5.jpg">
                    <div class="hover_box">
                        <div class="hover_text">
                            <p>Crystal Suite</p>
                            <p>A good slogan for this rooms</p>
                        </div>
                        <div class="learn_more">
                            <a href="javascript:void(0);">
                                <p>learn more</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- rooms結束 -->
    </div>
    <div class="detail_ft"></div>
</div>