<div class="detail">
    <div class="detail_nav">
        <div>
            <div class="back">
                <ul>
                    <li>
                        <p>HOT SPRING</p>
                    </li>
                    <li>
                        <p class="back1" style="cursor: pointer;">BACK</p>
                    </li>
                </ul>
            </div>
            <div class="detail_menu_icom">
                <div class="hotspring">
                    <p>hotspring</p>
                </div>
                <div class="icom_box">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="detail_banner">
        <div class="detail_banner_img">
            <picture>
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source srcset="../../upload/hot spring/detail/banner.jpg" media="(max-width: 1024px)">
                <img src="../../upload/hot spring/detail/banner.jpg">
            </picture>

        </div>
        <div class="detail_slogan">
            <p>public
                <br>hot spring</p>
        </div>
        <div class="banner_slideup">
            <p>ENJOY</p>
        </div>
    </div>
    <div class="detail_content">
        <div class="detail_menu_bg">
            <div class="detail_menu">
                <ul>
                    <li>
                        <p>Public Hot Spring</p>
                    </li>
                    <li>
                        <p class="facilities">Facilities & Services</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="detail_slick_bg">
            <div class="detail_slick">
                <!-- ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓slick內容↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ -->
                <ul>
                    <li>
                        <div class="detail_slick_img">
                            <img src="../../upload/hot spring/detail/img1.jpg">
                            <div class="detail_room_hover">
                                <div class="detail_room_inf">
                                    <p>photo information, the guests in this Japanese room can embrace exclusive...</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="detail_slick_img">
                            <img src="../../upload/hot spring/detail/img1.jpg">
                            <div class="detail_room_hover">
                                <div class="detail_room_inf">
                                    <p>photo information, the guests in this Japanese room can embrace exclusive...</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑slick內容↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑-->
                <!-- 訂房按鈕 -->
                <a href="javascript:void(0);">
                    <div class="revervation">
                        <p>MAKE A RESERVATION</p>
                    </div>
                </a>
                <!-- slick箭頭//////// -->
                <span class="icon-arrow-left01 slick_prev"></span>
                <span class="icon-arrow-right01 slick_next"></span>
            </div>
        </div>
        <div class="room_text">
            <div class="_text">
                <div>
                    <p>Beitou’s original green and white springs and natural cold water mountain spring—making a choice
                        among the options for bathing enjoyment at Villa 32 is a process fraught with exquisite
                        indecision. </p>
                    <p>In addition to cooling excessively hot water with natural cold water before storing it, the
                        biggest difference between Villa 32 and other hot spring destinations is that we have
                        absolutely no spring water recycling filter system, faithfully providing the original, pure
                        natural charm of Beitou hot springs.</p>
                </div>
            </div>
            <span></span>
            <div class="make_a_reservation">
                <a href="javascript:void(0);">
                    <p>MAKE A RESERVATION</p>
                </a>
            </div>
        </div>
    </div>
    <div class="detail_ft">
        <div class="ft_slideup">
            <p>Facilities & Services</p>
        </div>
        <div class="ft_rule_bg">
            <div class="ft_rule">
                <div class="rule_left">
                    <ul>
                        <li>
                            <p>four indoor spring pools</p>
                        </li>
                        <li>
                            <p>four outdoor spring pools</p>
                        </li>
                        <li>
                            <p>grooming area / make-up area / shower Zen room / relaxation area / lounge</p>
                        </li>
                        <li>
                            <p>Evian mineral water / Dermalogica Tea bag / magazines</p>
                        </li>
                        <li>
                            <p>shower rope / slippers / hairdryer</p>
                        </li>
                    </ul>
                </div>
                <span></span>
                <div class="rule_right">
                    <ul>
                        <li>
                            <p>Business hours: 10:00~23:00</p>
                        </li>
                        <li>
                            <p>4 hours for use (single entry)</p>
                        </li>
                        <li>
                            <p>Public spring areas are divided into male and female areas which would be exchanged
                                every two week.</p>
                        </li>
                        <li>
                            <p>Once a month on Monday is closed for general maintenance. Villa 32 would not deliver
                                notice about the closing days in advance. A reservation via phone is suggested.
                                <br>+886-2-6611-8888</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="ft_precautions">
            <div class="precautions_top">
                <p>Precautions</p>
            </div>
            <div class="precautions_text">
                <p>The public soup for the naked bath, please do not wear clothing bath, and please with the on-site
                    management approach. Remind you that the whole building is only for VIPs over 16 years old.
                    <br>The public soup for the naked bath, do not wear clothes bath, and please cooperate with on-site
                    management approach. Volkswagen Nude Soup Area Prohibit the use of mobile phones, camera and
                    photography Please put your mobile phone and photographic equipment received in the locker</p>
            </div>
        </div>
        <div class="ft_room">
            <div class="ft_room_prev">
                <div class="ft_hover">
                    <p>Hot Spring in the Guest Rooms</p>
                </div>
                <img src="../../upload/hot spring/detail/ft_img1.jpg">
            </div>
            <div class="ft_room_next">
                <div class="ft_hover">
                    <p>Hot Spring in the Guest Rooms</p>
                </div>
                <img src="../../upload/hot spring/detail/ft_img2.jpg">
            </div>
        </div>
    </div>
</div>