<div class="detail">
                <div class="detail_nav">
                  <div>
                        <div class="back">
                        <ul>
                            <li>
                                <p>ACCMMODATION</p>
                            </li>
                            <li>
                                <p id="back" style="cursor: pointer;">BACK</p>
                            </li>
                        </ul>
                    </div>
                    <div class="detail_menu_icom">
                        <div class="accmmodation1">
                            <p>ACCMMODATION</p>
                        </div>
                        <div class="icom_box">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="detail_banner">
                    <div class="detail_banner_img">
                        <picture>
                                <!--[if IE 9]><video style="display: none;"><![endif]-->
                                <source srcset="../../upload/hot spring/room/detail/detail_banner.jpg" media="(max-width: 1024px)">
                                <img class="b-lazy" src="../../upload/hot spring/room/detail/detail_banner.jpg" data-src="../../upload/hot spring/room/detail/detail_banner.jpg">
                            </picture>
                    </div>
                    <div class="detail_slogan">
                        <p>Azure Suite</p>
                    </div>
                    <div class="banner_slideup">
                        <p>DISCOVER</p>
                    </div>
                </div>
                <div class="detail_content">
                    <div class="detail_menu_bg">
                        <div class="detail_menu">
                            <ul>
                                <li>
                                    <a href="javascript:void(0);">
                                        <p>Discover Azure Suite</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <p class="facilities">Facilities & Services</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="detail_slick_bg">
                        <div class="detail_slick">
                            <!-- ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓slick內容↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ -->
                            <ul>
                                <li>
                                    <div class="detail_slick_img">
                                    <img src="../../upload/stay/detail/room_img.jpg" alt="">
                                        <div class="detail_room_hover">
                                            <div class="detail_room_inf">
                                                <p>photo information, the guests in this Japanese room can embrace exclusive...</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="detail_slick_img">
                                    <img src="../../upload/stay/detail/room_img.jpg" alt="">
                                        <div class="detail_room_hover">
                                            <div class="detail_room_inf">
                                                <p>photo information, the guests in this Japanese room can embrace exclusive...</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <!-- ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑slick內容 ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑-->
                            <!-- 訂房按鈕 -->
                            <a href="javascript:void(0);">
                                <div class="revervation">
                                    <p>MAKE A RESERVATION</p>
                                </div>
                            </a>
                            <!-- slick箭頭//////// -->
                            <span class="icon-arrow-left01 slick_prev"></span>
                            <span class="icon-arrow-right01 slick_next"></span>
                        </div>
                    </div>
                    <div class="room_text">
                        <div class="_text">
                            <p>The two Japanese rooms are designed by a Japanese interior designer Mr. Shobu with a Japanese Zen genre. The internationally well-known Chinese cypress is used to build the indoor and outdoor spring tubs.</p>
                        </div>
                        <div><span></span></div>
                        <div class="make_a_reservation">
                            <a href="javascript:void(0);">
                                <p>MAKE A RESERVATION</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="detail_ft">
                    <div class="ft_slideup">
                        <p>FACILITIES & SERVICES</p>
                    </div>
                    <!-- 訂房規定 -->
                    <div class="ft_rule_bg">
                        <div class="ft_rule">
                            <div class="rule_left">
                                <ul>
                                    <li>
                                        <p>Check-in time: after 15:00, Check-out time: before 12:00</p>
                                    </li>
                                    <li>
                                        <p>In-room check-in service</p>
                                    </li>
                                    <li>
                                        <p>Chef's exquisite breakfast room service or in the restaurant can enjoy, according to the needs of VIP services</p>
                                    </li>
                                    <li>
                                        <p>Careful record of VIP preferences tailored services</p>
                                    </li>
                                    <li>
                                        <p>Planning for special days - there are only three or two important moments</p>
                                    </li>
                                    <li>
                                        <p>Salvatore Ferragamo, Italy, the provision of quality bath products</p>
                                    </li>
                                </ul>
                            </div>
                            <span></span>
                            <div class="rule_right">
                                <ul>
                                    <li>
                                        <p>Free access to mini bar: San Pellegrino bubble mineral water, evian mineral water, Singapore TWG tea bag, Italy Nespresso capsule coffee, SNYDER'S cookies, Snickers chocolate, Coke, Sprite, bessie byer & Tree Top juice</p>
                                    </li>
                                    <li>
                                        <p>Free use of public indoor and outdoor hot spring pools, cold spring, oven, steam room, dressing area, relaxation area, shower area, meditation room, rest area and reading area</p>
                                    </li>
                                    <li>
                                        <p>Wi-Fi throughout the building.</p>
                                    </li>
                                    <li>
                                        <p>An intimate turndown service</p>
                                    </li>
                                    <li>
                                        <p>Afternoon tea in the room</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- 注意事項 -->
                    <div class="ft_precautions">
                        <div class="precautions_top">
                            <p>PRECAUTIONS</p>
                        </div>
                        <div class="precautions_text">
                            <p>Precautions:Limit per room per stay for 2 guests. Japanese-style room is limited at most to three, Continental room without an extra bed.
                                <br>( Japanese-style room of an extra bed, is not applicable to package tour ).
                                <br>The arrangement is subject to site conditions overtime.</p>
                        </div>
                    </div>
                    <!-- 其他房間縮影 -->
                    <div class="ft_room">
                        <div class="ft_room_prev">
                            <a href="javascript:void(0);">
                                <div class="ft_hover">
                                    <p>Jade Suite</p>
                                </div>
                                <img src="../../upload/stay/detail/ft_img1.jpg"></a>
                        </div>
                        <div class="ft_room_next">
                            <a href="javascript:void(0);">
                                <div class="ft_hover">
                                    <p>Jade Suite</p>
                                </div>
                                <img src="../../upload/stay/detail/ft_img2.jpg"></a>
                        </div>
                    </div>
                </div>
            </div>