<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <meta name="format-detection" content="telephone=no">
    <title>PAPILLON</title>
    <!--[if lt IE 9]><script src="../../assets/js/vendor/html5shiv-master/html5shiv.js"></script><![endif]-->
    <!--讓ie9以下看懂html5標籤-->
    <!-- icon -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/img/ico/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/ico/favicon.png">
    <link rel="icon" type="image/x-icon" href="../../assets/img/ico/favicon.png">
    <!-- 共用CSS -->
    <!-- <link rel="stylesheet" href="../../assets/css/icon-style.css"> -->
    <link rel="stylesheet" href="../../assets/js/vendor/cgpagechange/cgpagechange.css">
    <link rel="stylesheet" href="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.css">
            <link rel="stylesheet" href="../../assets/js/vendor/slick/slick.css">
    <link rel="stylesheet" href="../../assets/js/vendor/slick/slick-theme.css">
    <!-- 共用CSS end-->
    <!-- 非共用CSS -->
    <!-- 非共用CSS end-->
    <link rel="stylesheet" href="../../assets/css/storehold.css">
</head>

<body id="storehold" class="index">
    <header>
    </header>
    <main>
        <article class="_title">
            <h2>LOOKING FOR STORES</h2>
            <h3>尋找法蝶</h3>
            <h4>立即篩選您想了解的法蝶門市詳細資訊，並歡迎蒞臨門市選購您喜歡的商品。</h4>
            <div class="select">
                <div class="All">
                    <p>全台門市</p>
                </div>
                <div class="menulist">
                    <span class="selectMenu"><p>選擇區域</p></span>
                    <ul>
                        <li>
                            <p>台北市</p>
                        </li>
                        <li>
                            <p>新北市</p>
                        </li>
                        <li>
                            <p>桃園市</p>
                        </li>
                        <li>
                            <p>新竹市</p>
                        </li>
                        <li>
                            <p>台中市</p>
                        </li>
                        <li>
                            <p>高雄市</p>
                        </li>
                        <li>
                            <p>士林夜市</p>
                        </li>
                    </ul>
                </div>
            </div>
        </article>
        <article class="_content">
            <div class="_list_name">
                <p>區域</p>
                <p>門市資訊</p>
            </div>
            <div class="_areas">
                <!-- 地區 -->
                <div class="_area">
                    <div class="_area_name">
                        <h2>Taipei City</h2>
                        <p>台北市</p>
                    </div>
                    <ul>
                        <li>
                            <!-- 樓層資訊 -->
                            <p class="floor">遠東SOGO忠孝館4F</p>
                            <!-- 地址 -->
                            <p class="address">106 台北市大安區忠孝東路四段45號4F</p>
                            <!-- 電話 -->
                            <p class="tel">+886-2-2740-3043</p>
                            <!-- 活動消息 ps:可有可無 須由客戶決定 -->
                            <p class="action">週年慶</p>
                            <span class="icon-mapdot2"></span>
                        </li>
                        <li>
                            <!-- 樓層資訊 -->
                            <p class="floor">遠東SOGO天母店3F</p>
                            <!-- 地址 -->
                            <p class="address">111 台北市士林區中山北路六段77號3F</p>
                            <!-- 電話 -->
                            <p class="tel">+886-2-2835-8665</p>
                            <!-- 活動消息 後端請注意:此處可有可無 須由客戶決定 -->
                            <p class="action">週年慶</p>
                            <span class="icon-mapdot2"></span>
                        </li>
                        <li>
                            <!-- 樓層資訊 -->
                            <p class="floor">天母大葉高島屋1F</p>
                            <!-- 地址 -->
                            <p class="address">111 台北市忠誠路二段55號1F</p>
                            <!-- 電話 -->
                            <p class="tel">+886-2-2832-3260</p>
                            <!-- 活動消息 ps:可有可無 須由客戶決定 -->
                            <p class="action">優惠活動</p>
                            <span class="icon-mapdot2"></span>
                        </li>
                    </ul>
                </div>
                <div class="_area">
                    <div class="_area_name">
                        <h2>New Taipei City</h2>
                        <p>新北市</p>
                    </div>
                    <ul>
                        <li>
                            <!-- 樓層資訊 -->
                            <p class="floor">Mega City板橋大遠百3F</p>
                            <!-- 地址 -->
                            <p class="address">201 新北市板橋區新站路28號</p>
                            <!-- 電話 -->
                            <p class="tel">+886-2-2958-8338</p>
                            <!-- 活動消息 ps:可有可無 須由客戶決定 -->
                            <p class="action">優惠活動</p>
                            <span class="icon-mapdot2"></span>
                        </li>
                        <li>
                            <!-- 樓層資訊 -->
                            <p class="floor">遠東SOGO新北店3F</p>
                            <!-- 地址 -->
                            <p class="address">201 新北市板橋區新站路28號</p>
                            <!-- 電話 -->
                            <p class="tel">+886-2-2958-8338</p>
                            <!-- 活動消息 ps:可有可無 須由客戶決定 -->
                            <p class="action">優惠活動</p>
                            <span class="icon-mapdot2"></span>
                        </li>
                    </ul>
                </div>
                <div class="_area">
                    <div class="_area_name">
                        <h2>Taoyuan City</h2>
                        <p>桃園市</p>
                    </div>
                    <ul>
                        <li>
                            <!-- 樓層資訊 -->
                            <p class="floor">遠東SOGO中壢店4F</p>
                            <!-- 地址 -->
                            <p class="address">320 桃園市中壢區元化路357號4F</p>
                            <!-- 電話 -->
                            <p class="tel">+886-3-427-9913</p>
                            <!-- 活動消息 ps:可有可無 須由客戶決定 -->
                            <p class="action">優惠活動</p>
                            <span class="icon-mapdot2"></span>
                        </li>
                        <li>
                            <!-- 樓層資訊 -->
                            <p class="floor">新光三越中壢店3F</p>
                            <!-- 地址 -->
                            <p class="address">320 桃園市中壢區元化路357號4F</p>
                            <!-- 電話 -->
                            <p class="tel">+886-3-427-9913</p>
                            <!-- 活動消息 ps:可有可無 須由客戶決定 -->
                            <p class="action">優惠活動</p>
                            <span class="icon-mapdot2"></span>
                        </li>
                    </ul>
                </div>
                <div class="_area">
                    <div class="_area_name">
                        <h2>Hsinchu City</h2>
                        <p>新竹市</p>
                    </div>
                    <ul>
                        <li>
                            <!-- 樓層資訊 -->
                            <p class="floor">遠東SOGO中壢店4F </p>
                            <!-- 地址 -->
                            <p class="address">300 新竹市中央路239號</p>
                            <!-- 電話 -->
                            <p class="tel">+886-3-545-6250</p>
                            <!-- 活動消息 ps:可有可無 須由客戶決定 -->
                            <p class="action">優惠活動</p>
                            <span class="icon-mapdot2"></span>
                        </li>
                        <li>
                            <!-- 樓層資訊 -->
                            <p class="floor">新光三越中壢店3F</p>
                            <!-- 地址 -->
                            <p class="address">300 新竹市西大路323號2F</p>
                            <!-- 電話 -->
                            <p class="tel">+886-3-523-8613</p>
                            <!-- 活動消息 ps:可有可無 須由客戶決定 -->
                            <p class="action">優惠活動</p>
                            <span class="icon-mapdot2"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </article>
        <article class="_libox">
            <div class="_libox_content_bg">
                <div class="_libox_content">
                    <div class="_close">
                        <p>CLOSE</p>
                    </div>
                    <div class="_libox_title">
                        <h2>LOOKING FOR STORES</h2>
                        <!-- 櫃位 -->
                        <h3>遠東SOGO忠孝館4F</h3>
                        <!-- 區域 -->
                        <h4>台北市</h4>
                        <div class="socialMedia">
                            <!-- 請後端填上連結 -->
                            <p>SHARE</p>
                            <!-- facebook連結 -->
                            <a href="javascript:void(0);">
                            <span class="icon-facebook"></span>
                        </a>
                            <!-- twitter連結 -->
                            <a href="javascript:void(0);">
                            <span class="icon-twitter"></span>
                        </a>
                        </div>
                    </div>
                    <div class="_inf">
                        <!-- 地址 -->
                        <p>106台北市大安區忠孝東路四段45號4F</p>
                        <!-- 電話 -->
                        <p>電話 : <span>+886-2-2740-3043</span></p>
                        <!-- 傳真 -->
                        <p>傳真 : <span>+886-2-2740-3043</span></p>
                        <!-- 營業時間 -->
                        <ul class="opentime">
                            <li>
                                <p>平時及例假日:<span>11:00 - 21:30</span></p>
                            </li>
                            <li>
                                <p>例假日前一天:<span>11:00 - 22:00</span></p>
                            </li>
                        </ul>
                    </div>
                    <div class="line">
                        <h2><strong>LINE@ </strong> 生活圈</h2>
                        <p>店家 Line@ 生活圈，請掃描或點擊 QR code</p>
                        <a href="javascript:void(0);">
                    <img src="../../upload/f2e/storehold/QRcode_150_150.jpg" alt="">
                    </a>
                    </div>
                    <div class="activities">
                        <div class="_img">
                            <img src="../../upload/f2e/storehold/activities_img_550_320.jpg" alt="">
                        </div>
                        <div class="_text">
                            <h2>週年慶</h2>
                            <p><span>遠百的禮券回饋多以當日單筆／單櫃消費滿額為發放標準，以化妝品為例，若是在不同專櫃都是小額消費，會有基本的 10 % 禮券回饋，但如果單櫃單筆消費滿萬，無論百貨本身或銀行有加碼回饋，回饋率也會提高，這是跟隔壁的新光三越中港店禮券計算比較不同的地方，而此次台中大遠百的另一個亮點是，海底撈火鍋 TopCity 店開幕了！台中人對火鍋的接受度多元，有各式各樣的火鍋店在此紮根，此次超夯的海底撈火鍋在大遠百插旗，是否能吸引更多客源，拭目以待，但肯定的是，臺灣大道在週年慶期間又要塞塞塞了，出門逛週年慶，記得多找幾個停車備案喔，來看 2017 年的台中大遠百週年慶禮券回饋方式吧！</span></p>
                        </div>
                    </div>
                    <div class="_googleMap">
                        <!-- 地圖最大寬高550*220px -->
                        <div>
                            <!-- 後端請注意:此處的圖片僅為了交是googlemap大小請在之後刪除 -->
                            <img src="../../upload/f2e/storehold/googleMap_550_220.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="_reservation">
                <ul>
                    <li class="_goTop">
                        <p>GO TOP</p>
                    </li>
                    <!-- 連結到預約鑑賞內頁 -->
                    <li>
                        <a href="../reservation/index.html">
                            <p>預約鑑賞</p>
                        </a>
                    </li>
                    <!-- 連結到line  -->
                    <!-- 請後端填入連結 -->
                    <li>
                        <a href="javascript:void(0);"></a>
                    </li>
                </ul>
            </div>
        </article>
    </main>
    <footer>
    </footer>
    <!-- 共用 -->
    <script src="../../assets/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="../../assets/js/vendor/jquery.easings.min.js"></script>
    <script src="../../assets/js/vendor/cgpagechange/cgpagechange.js"></script>
    <script src="../../assets/js/vendor/waypoints/waypoints.min.js"></script>
    <script src="../../assets/js/vendor/blazy/blazy.min.js"></script>
    <script src="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.js"></script>
    <script src="../../assets/js/vendor/slick/slick.min.js"></script>
    <!-- 共用end -->
    <!-- 非共用 -->
    <!-- 非共用end-->
    <script src="../../assets/js/main.js"></script>
</body>

</html>