@import "_variable.scss";

body {
    width: 100vw;
    overflow-x: hidden;
}

header {
    width: 100%;
}

._overlay{
    -webkit-overflow-scrolling: touch;
}

._top {
    margin-top: 80px;
    ._title {
        letter-spacing: 1px;
        text-align: center;
    }
    ._title h2 {
        font-family: 'Cinzel-Regular', '微軟正黑體';
        font-size: 2rem;

        animation: fadeInDown .8s both;
    }
    ._title h2:after {
        content: "";
        height: 1px;
        width: 0px;
        background-color: #d2b055;
        margin-left: 50%;
        margin-top: 5px;

        display: block;

        animation: titleLine .5s both 1s;
    }
    ._title p {
        font-family: 'Cinzel-Regular', '微軟正黑體';
        font-size: 1.125rem;
        margin-top: 15px;

        animation: fadeInDown .8s both .4s;
    }
}

#home .papillon_video ._top {
    width: 100%;
    color: #fff;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    @media #{$phone} {
        top: 44%;
    }
    @media (max-height:767px) and (orientation : landscape) {
        top: 40%;
    }
    @media (max-height:570px) and (orientation : landscape) {
        top: 38%;
    }
    &.show {
        .logo {
            animation: fadeInDown .8s both;
        }
        ._title h2 {
            animation: fadeInDown .8s both .4s;
        }
        ._title h2:after {
            animation: titleLine_home .5s both 1s;
        }
        ._title p {
            animation: fadeInDown .8s both .8s;
        }
    }
    .logo {
        @include font-size(96);
        text-align: center;
        color: $base_color;
        margin-bottom: 40px;
        opacity: 0;
        @media #{$phone} {
            @include font-size(64);
            margin-bottom: 20px;
        }
        @media (max-height:570px) and (orientation : landscape) {
            @include font-size(80);
            margin-bottom: 20px;
        }
        @media (max-height:460px) and (orientation : landscape) {
            @include font-size(48);
            margin-bottom: 15px;
        }
    }
    ._title h2 {
        @include font-size(58);
        position: relative;
        opacity: 0;
        animation: none;
        @media #{$phone} {
            @include font-size(36);
        }
        @media (max-height:570px) and (orientation : landscape) {
            @include font-size(42);
        }
        @media (max-height:460px) and (orientation : landscape) {
            @include font-size(24);
        }
    }
    ._title h2:after {
        width: 30px;
        margin: 0;

        position: absolute;
        left: 50%;
        bottom: -6px;
        transform: translateX(-50%);

        animation: none;
    }
    ._title p {
        margin-top: 30px;
        opacity: 0;
        animation: none;
        @media (max-height:460px) and (orientation : landscape) {
            @include font-size(14);
            margin-top: 20px;
        }
    }
}


.select {
    margin: auto;
    margin-top: 30px;
    max-width: 520px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    letter-spacing: 1px;
    @media #{$phone} {
        margin-top: 8vh;
    }
    .All,
    .menulist {
        width: calc(50% - 1px);
        @include flex-center;
        font-family: "微軟正黑體";
    }
    .All {
        background-color: #000;
        color: #fff;
        @include font-size(15);
        cursor: pointer;
        transition: all .5s ease;
        @media #{$phone} {
            @include font-size(14);
        }
        p {
            &:before {
                font-family: 'icomoon';
                content: "\e911";
                margin-right: 20px;
            }
        }
    }
    .menulist {
        position: relative;
        .selectMenu {
            position: relative;
            @include font-size(15);
            height: 100%;
            width: 100%;
            background-color: #d9d9d9;
            @include flex-center;
            color: #171717;
            cursor: pointer;
            transition: all .5s ease;
            padding: 0 30px;
            @media #{$phone} {
                padding: 0 30px 0 0;
                @include font-size(14);
            }
            @media #{$iphone5} {
                padding: 0 5px 0 0;
            }
            &:after {
                font-family: 'icomoon';
                content: "\e90b";
                position: absolute;
                top: calc(50% - 7.5px);
                right: 15px;
                transition: all .8s ease;
                @media #{$iphone5} {
                    position: relative;
                    top: auto;
                    right: auto;
                    margin-left: 5px;
                }
            }
            &:before {
                font-family: 'icomoon';
                margin: 0 20px 0 10px;
                font-weight: bold;
                @media #{$iphone5} {
                    margin: 0 10px;
                }
            }
            p {
                line-height: 1.5;
            }
            &.open {
                &:after {
                    transform: rotateX(180deg);
                    transition: all .8s ease;
                }
            }
        }
        ul {
            display: none;
            position: absolute;
            width: 100%;
            top: 100%;
            left: 0;
            background-color: #303030;
            padding: 10px 5px;
            li {
                margin: 5px 0;
                cursor: pointer;
                @media #{$pad_pro} {
                    padding: 5px 0;
                }
                p {
                    color: rgba(255, 255, 255, .5);
                    @include font-size(12);
                    font-family: "微軟正黑體";
                    text-align: center;
                    line-height: 1.5;
                    letter-spacing: 1px;
                    transition: all .3s ease;
                }
                &:hover {
                    p {
                        color: rgba(255, 255, 255, 1);
                        transition: all .3s ease;
                    }
                }
            }
        }
    }
    &.black {
        .All {
            background-color: #d9d9d9;
            color: #171717;
            transition: all .5s ease;
        }
        .menulist {
            .selectMenu {
                background-color: #000;
                color: #fff;
                transition: all .5s ease;
            }
        }
    }
}








// 選擇區域按鈕----------------------------
.socialMedia {
    @include flex-center;
    p {
        font-family: 'Raleway-Bold';
        @include font-size(12);
        letter-spacing: .5px;
        color: #808080;
        margin-right: 16px;
    }
    a {
        span {
            color: #303030;
            @include font-size(14);
            @include flex-center;
            width: 20px;
            height: 20px;
            transition: all .4s ease;
            border-radius: 2.5px;
            &.icon-facebook {
                &:hover {
                    color: #fff;
                    background-color: #3b5998;
                    transition: all .4s ease;
                }
            }
            &.icon-twitter {
                &:hover {
                    color: #5aaceb;
                    transition: all .4s ease;
                }
            }
        }
        &:not(:last-child) {
            margin-right: 8px;
        }
    }
}



// 沒有footer的預約鑑賞----------------------
._reservation {
    width: 270px;
    height: 50px;
    @media #{$phone} {
        width: 100%;
        height: 45px;
    }
    position: fixed;
    bottom: -50px;
    left: calc(100vw - 1rem - 270px);
    @media #{$pad_pro} {
        left: calc(100vw - 270px);
    }
    @media #{$phone} {
        left: 0;
    }
    background-color: #d80b18;
    @include flex-center;
    transition: all .8s ease;

    &._hideUp {
        bottom: 0px;
        transition: all .8s ease;
    }
    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media #{$phone} {
            width: 100%;
            height: 100%;
        }
        li {
            color: #fff;
            @include flex-center;
            cursor: pointer;
            height: 100%;
            @media #{$phone} {
                @include flex-center;
                width: 33.33%;
            }
            &:not(:last-child) {
                @media #{$phone} {
                    position: relative;
                }
                &:after {
                    content: "●";
                    @include font-size(12);
                    transform: scale(.2);
                    margin: 0 10px;
                    @media #{$phone} {
                        position: absolute;
                        top: calc(50% - 2.4px);
                        right: -2.4px;
                        margin: 0;
                    }
                }
            }
            &:nth-child(1) {

                p {
                    @include font-size(12);
                    font-family: 'Raleway-regular';
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    &:before {
                        font-family: 'icomoon';
                        content: "\e906";
                        margin-right: 5px;
                    }
                }
                &:hover {
                    p {
                        &:before {
                            animation: gotop 1s both infinite;
                        }
                    }
                }
            }
            &:nth-child(2) {
                p {
                    @include font-size(14);
                    font-family: "微軟正黑體";
                }
            }
            &:nth-child(3) {
                a {
                    &:before {
                        font-family: 'icomoon';
                        content: "\e914";
                        @include font-size(24);
                        font-weight: 400;
                    }
                }
            }
        }
    }
}



// gotop hover動畫
@keyframes gotop {
    0% {}
    50% {
        transform: translateY(-100%);
    }
    51% {
        transform: translateY(100%);
    }
    100% {}
}


// 紅色圓圈加白色十字---------------------
.more {
    display: flex;
    a {
        @include font-size(12);
        display: flex;
        align-items: center;
        span {
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #d80b18;
            position: relative;
            margin-right: 10px;
            font-size: 0;
            border: none;
            &:before,
            &:after {
                content: "";
                display: block;
                background-color: #fff;
                position: absolute;
            }
            &:before {
                height: 2px;
                width: 10px;
                top: calc(50% - 1px);
                left: calc(50% - 5px);
            }
            &:after {
                height: 10px;
                width: 2px;
                left: calc(50% - 1px);
                top: calc(50% - 5px);
            }
        }
        &:hover {
            span {
                transform: rotateZ(180deg);
                transition: all .4s ease;
            }
        }
    }
}






/* -------------未登入燈箱---------------------------*/

.logInYet {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    .logInYetBox {
        width: 690px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include flex-center;
        flex-direction: column;
        overflow: hidden;
        @media all and (max-width: 700px) {
            width: 100vw;
        }
        ._title {
            text-align: center;
            h2 {
                @include _title_h2;
                &:after {
                    @include _title_h2_line;
                }
            }
            p {
                @include _title_p;
            }
        }
        ._text {
            margin-top: 80px;
            max-width: 420px;
            p {
                @include font-size(14);
                letter-spacing: 1px;
                line-height: 1.5;
                @media all and (max-width: 700px) {
                    padding: 0 10vw;
                }
            }
        }
        ._btn {
            margin-top: 80px;
             @media all and(max-width: 700px) {
                width: 100%;
             }
            ul {
                display: flex;
                justify-content: space-between;
                align-items:center;
                li {
                    margin:2px;
                    width: 170px;
                    height: 40px;
                    @media all and(max-width: 700px) {
                        width: 50%;
                    }
                    button,
                    a {
                        @include flex-center;
                        @include font-size(14);
                        letter-spacing: 1px;
                        border: none;
                        width: 100%;
                        height: 100%;
                    }
                    button {
                        background-color: #cccccc;
                        color: #171717;
                    }
                    a {
                        background-color: #303030;
                        color: #fff;
                    }
                }
            }
        }
    }
}





/* 進場動畫*/

.logInYet {
    animation: fadeIn .4s both;
    .logInYetBox {
        animation: logInYetBoxOpen .8s both;
        ._title {
            h2 {
                animation: fadeInDown .8s both .4s;
                &:after {
                    animation: titleLine .4s both .8s;
                }
            }
            p {
                animation: fadeInDown .8s both .6s;
            }
        }
        ._text {
            animation: fadeInDown .8s both .8s;
        }
        ._btn {
            animation: fadeInUp .8s both .8s;
        }
    }
}




/* 退場動畫*/

.logInYet {
    &.close {
        animation: fadeOut .4s both 1s;
        .logInYetBox {
            animation: logInYetBoxClose .8s both .5s;
            ._title {
                h2 {
                    animation: fadeOutUp .5s both;
                }
                p {
                    animation: fadeOutUp .5s both;
                }
            }
            ._text {
                animation: fadeOutUp .5s both;
            }
            ._btn {
                animation: fadeOutUp .5s both;
            }
        }
    }
}

@keyframes logInYetBoxOpen {
    0% {
        height: 0;
        opacity: 0;
    }
    100% {
        opacity: 1;
        height: 490px;
    }
}

@media all and (max-width: 700px) {
    @keyframes logInYetBoxOpen {
        0% {
            height: 0;
            opacity: 0;
        }
        100% {
            opacity: 1;
            height: 100vh;
        }
    }
}

@keyframes logInYetBoxClose {
    0% {
        opacity: 1;
        height: 490px;
    }
    100% {
        height: 0;
        opacity: 0;
    }
}

@media all and (max-width: 700px) {
    @keyframes logInYetBoxClose {
        0% {
            opacity: 1;
            height: 100vh;
        }
        100% {
            height: 0;
            opacity: 0;
        }
    }
}





/* lightBoxFrame */
.lightBoxFrame {
    &.open .privacy_frame {
        opacity: 1;
        visibility: visible;
        @include trans(.3s);
        .privacy_workbox {
            transform: translateX(0%);
            @include trans(.6s,.3s);
            ._top {
                margin: 80px 0 70px 0;
            }
        }
        ._close {
            a:before {
                animation: closeLine .8s both .4s;
            }
        }
        ._top {
            h2 {
                animation: fadeInDown .8s both 1s;
            }
            h2:after {
                animation: titleLine .5s both 2s;
            }
            p {
                animation: fadeInDown .8s both 1.4s;
            }
        }
        .animate {
            animation: fadeInDown 1.2s both 1.6s;
        }
    }
    &.close .privacy_frame {
        opacity: 0;
        visibility: hidden;
        @include trans(.3s,.6s); 
        .privacy_workbox {
            transform: translateX(100%);
            @include trans(.6s,.3s);
        }
        ._close {
            a:before {
                animation: closeLineOut .6s both;
            }
        }
        ._top {
            h2 {
                animation: fadeOutUp .6s both;
            }
            h2:after {
                animation: fadeOutUp .6s both;
            }
            p {
                animation: fadeOutUp .6s both;
            }
        }
        .animate {
            animation: fadeOutUp .6s both;
        }
    }
}
.lightBoxFrame .lbox {

}



/* privacy */
.privacy_frame {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    visibility: hidden;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 12;

    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.privacy_frame .privacy_workbox {
    width: 50%;
    margin-left: auto;
    padding: 0 10% 180px 10%;
    background-color: #fff;

    transform: translateX(100%);
    @media #{$pad_V} {
        width: 100%;
    }
    @media #{$phone} {
        padding: 0 20px 80px 20px;
    }
    ._close {
        cursor: pointer;
        width: 50px;
        height: 84px;
        margin: auto;
        a:before {
            content: "";
            width: 1px;
            background-color: #d2b055;
            margin: auto;
            animation: closeLine .8s both .2s;
    
            display: block;
        }
        a:hover p {
            color: $base_color;
        }
        p {
            @include font-size(12);
            letter-spacing: .5px;
            text-align: center;
            padding-top: 12px;
            @include trans(.5s);
        }
    }
    .content {
        p {
            @include font-size(13);
            line-height: 1.6;
            color: #4c4c4c;
        }
        .out_title {
            @include font-size(18);
            color: #000;
            margin-bottom: 10px;
        }
        .out_side {
            .out_list {
                margin-bottom: 40px;
            }
            .paragraph {
                margin-bottom: 10px;
            }
        }
        .in_side {
            li {
                padding-left: 50px;
                margin-bottom: 14px;
                position: relative;
                &:last-child {
                    margin-bottom: 0;
                }
                &:before {
                    content: '';
                    width: 6px;
                    height: 3px;
                    background-color: $base_red;

                    position: absolute;
                    left: 30px;
                    top: 10px;

                    display: block;
                }
            }
        }
    }
}