#storeHold.detail main
    .banner
        ._title,button
            text-shadow: 0 0 10px rgba(255,255,255,.5)
        &.whiteWords 
            ._title,button
                text-shadow: 0 0 10px rgba(0,0,0,.5)
        form
            .dropDown
                .selectMenu
                    background-color: #109249
    .result .list ul li .box .buttons 
        a,button
            &:hover  span
                background-color: #636363