#storeHold.index main article
    @media all and (max-width: 1440px)
        padding: 100px 50px 50px 
    @media all and (max-width: 900px)
        padding: 100px 5vw 40px
    .content
        form
            @media all and (max-width: 700px)
                padding: 20px 0
            .box
                padding: 40px 0 50px
                @media all and (max-width: 1440px)
                    padding: 30px 0 40px
                .dropDown .selectMenu 
                    background-color: #33ad69