@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kpc50n');
  src:  url('fonts/icomoon.eot?kpc50n#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kpc50n') format('truetype'),
    url('fonts/icomoon.woff?kpc50n') format('woff'),
    url('fonts/icomoon.svg?kpc50n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-thin-down:before {
  content: "\e900";
}
.icon-arrow-thin-left:before {
  content: "\e901";
}
.icon-arrow-thin-right:before {
  content: "\e902";
}
.icon-arrow-thin-up:before {
  content: "\e903";
}
.icon-home:before {
  content: "\e904";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-half:before {
  content: "\e9d8";
}
.icon-star-full:before {
  content: "\e9d9";
}
