<div class="detail">
    <div class="detail_close">
        <div>
            <span></span>
            <span></span>
        </div>
        <p>CLOSE</p>
    </div>
    <div class="intro_slick">
        <ul>
            <li>
                <div class="intro_slick_img">
                    <picture>
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="../../upload/product/product_detail_intro/img1.jpg" media="(max-width: 1024px)">
                        <img src="../../upload/product/product_detail_intro/img1.jpg">
                    </picture>
                </div>
            </li>
            <li>
                <div class="intro_slick_img">
                    <picture>
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="../../upload/product/product_detail_intro/img1.jpg" media="(max-width: 1024px)">
                        <img src="../../upload/product/product_detail_intro/img1.jpg">
                    </picture>
                </div>
            </li>
            <li>
                <div class="intro_slick_img">
                    <picture>
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="../../upload/product/product_detail_intro/img1.jpg" media="(max-width: 1024px)">
                        <img src="../../upload/product/product_detail_intro/img1.jpg">
                    </picture>
                </div>
            </li>
            <li>
                <div class="intro_slick_img">
                    <picture>
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="../../upload/product/product_detail_intro/img1.jpg" media="(max-width: 1024px)">
                        <img src="../../upload/product/product_detail_intro/img1.jpg">
                    </picture>
                </div>
            </li>
        </ul>
        <div class="intro_slick_arrow">
            <span class="icon-arrow-left"></span>
            <span class="icon-arrow-right"></span>
        </div>
    </div>
    <div class="intro_content">
        <div class="intro_title">
            <div>
                <h2><span>Englineered Stone 3 in 1</span></h2>
                <p><span>崗石系列三合一</span></p>
            </div>
        </div>
        <!-- menu_list -->
        <div class="menu_list_bg">
            <div class="menu_list">
                <a href="javascript:void(0)" class="selectMenu">系列介紹</a>
                <ul>
                    <li>
                        <p>適用場所</p>
                    </li>
                    <li>
                        <p>產品特色</p>
                    </li>
                    <li>
                        <p>規格比較</p>
                    </li>
                    <li>
                        <p>型錄下載</p>
                    </li>
                </ul>
            </div>
        </div>
        <!-- place -->
        <div class="place">
            <div class="content_title">
                <h2><span>Place</span>適用場所</h2>
            </div>
            <ul>
                <li>
                    <p>飯店</p>
                </li>
                <li>
                    <p>主題餐廳</p>
                </li>
                <li>
                    <p>會館走道</p>
                </li>
                <li>
                    <p>湯屋浴池</p>
                </li>
                <li>
                    <p>湯屋浴池</p>
                </li>
                <li>
                    <p>休閒農莊步道</p>
                </li>
                <li>
                    <p>別墅庭園</p>
                </li>
                <li>
                    <p>別墅庭園</p>
                </li>
            </ul>
            <div class="place_ps">
                <h2><span>備註</span></h2>
                <p><span>場所地面要求耐久、耐候、耐酸鹼的設計</span></p>
            </div>
        </div>
        <!-- features -->
        <div class="features">
            <div class="content_title">
                <h2><span>Features</span>產品特色</h2>
            </div>
            <div class="info">
                <h2>磁磚特性</h2>
                <ul>
                    <li>
                        <h2>歐洲崗石設計</h2>
                        <p>豐富石材紋理呈現出自然面貌</p>
                    </li>
                    <li>
                        <h2>石英色料磚體</h2>
                        <p>坯體與瓷磚表面顏色一致，進階造磚工藝</p>
                    </li>
                    <li>
                        <h2>數位噴墨印刷</h2>
                        <p>完整復刻出天然岩的面貌</p>
                    </li>
                    <li>
                        <h2>多道釉料塗層</h2>
                        <p>抗污，清潔便利</p>
                    </li>
                </ul>
            </div>
            <div class="crafts">
                <h2>柏拉圖工藝</h2>
                <ul>
                    <li>
                        <h2>同步歐洲 ‧ 天然崗石</h2>
                        <p>引進歐洲崗石設計，不重複的自然石材設計更增添原始氣息。</p>
                    </li>
                    <li>
                        <h2>歐洲工藝 ‧ 耐久設計</h2>
                        <p>石英色料坯體經多工處理調和成與瓷磚表面花色一致，即使表面印刷經久磨耗，顯露出坯體顏色因與表面印刷色相近，減少瓷磚表面與坯體顏色落差，增加瓷磚使用年限之耐久設計</p>
                    </li>
                    <li>
                        <h2>足動安全 ‧ 附加防滑</h2>
                        <p>磚面附加防滑功能，防滑效果經CNS 97375 之 C.S.R. 測試達0.55以上</p>
                    </li>
                    <li>
                        <h2>數位印刷 ‧ 抗污易潔</h2>
                        <p>引進歐洲崗石設計，不重複的自然石材設計更增添原始氣息</p>
                    </li>
                    <li>
                        <h2>組合變化 ‧ 便利設計</h2>
                        <p>依據國內公共空間需求推出3種產品規格，以方便使用者按空間比例選用或搭配組合</p>
                    </li>
                </ul>
            </div>
        </div>
        <!-- standard -->
        <div class="standard">
            <div class="content_title">
                <h2><span>Standard</span>規格比較表</h2>
            </div>
            <!-- standard表格開始 -->
            <div class="standard_table">
                <div class="table1">
                    <div class="table1_title">
                        <ul>
                            <li>
                                <h2>規格</h2>
                                <p>( mm )</p>
                            </li>
                            <li>
                                <h2>厚度</h2>
                                <p>( mm )</p>
                            </li>
                        </ul>
                    </div>
                    <div class="table1_types">
                        <!-- type1 -->
                        <div class="table1_type">
                            <ul class="show_table">
                                <!-- 規格 -->
                                <li>
                                    <p>300 x 300</p>
                                </li>
                                <!-- 厚度 -->
                                <li>
                                    <p>9.5</p>
                                </li>
                            </ul>
                            <ul class="hidden_table">
                                <li>
                                    <h2>包裝數量</h2>
                                    <p>(片 / 件 )</p>
                                </li>
                                <li>
                                    <h2>施工用量</h2>
                                    <p>(片 / 坪 )</p>
                                </li>
                                <li>
                                    <h2>換算數量</h2>
                                    <p>(片 / m2 )</p>
                                </li>
                            </ul>
                        </div>
                        <!-- type2 -->
                        <div class="table1_type">
                            <ul class="show_table">
                                <!-- 規格 -->
                                <li>
                                    <p>300 x 300</p>
                                </li>
                                <!-- 厚度 -->
                                <li>
                                    <p>9.5</p>
                                </li>
                            </ul>
                            <ul class="hidden_table">
                                <li>
                                    <h2>包裝數量</h2>
                                    <p>(片 / 件 )</p>
                                </li>
                                <li>
                                    <h2>施工用量</h2>
                                    <p>(片 / 坪 )</p>
                                </li>
                                <li>
                                    <h2>換算數量</h2>
                                    <p>(片 / m2 )</p>
                                </li>
                            </ul>
                        </div>
                        <!-- type3 -->
                        <div class="table1_type">
                            <ul class="show_table">
                                <!-- 規格 -->
                                <li>
                                    <p>300 x 300</p>
                                </li>
                                <!-- 厚度 -->
                                <li>
                                    <p>9.5</p>
                                </li>
                            </ul>
                            <ul class="hidden_table">
                                <li>
                                    <h2>包裝數量</h2>
                                    <p>(片 / 件 )</p>
                                </li>
                                <li>
                                    <h2>施工用量</h2>
                                    <p>(片 / 坪 )</p>
                                </li>
                                <li>
                                    <h2>換算數量</h2>
                                    <p>(片 / m2 )</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="table2">
                    <div class="table2_title">
                        <p>包裝</p>
                        <ul>
                            <li>
                                <h2>包裝數量 </h2>
                                <p>( 片 / 件 )</p>
                            </li>
                            <li>
                                <h2>施工用量</h2>
                                <p>( 片 / 坪 )</p>
                            </li>
                            <li>
                                <h2>換算數量</h2>
                                <p>( 片 / m2 )</p>
                            </li>
                        </ul>
                    </div>
                    <!-- table2_types -->
                    <div class="table2_types">
                        <!-- type1 -->
                        <div class="table2_type">
                            <div class="hidden_span">
                                <span></span>
                            </div>
                            <ul>
                                <li>
                                    <p>14</p>
                                </li>
                                <li>
                                    <p>36</p>
                                </li>
                                <li>
                                    <p>11</p>
                                </li>
                            </ul>
                        </div>
                        <!-- type2 -->
                        <div class="table2_type">
                            <div class="hidden_span">
                                <span></span>
                            </div>
                            <ul>
                                <li>
                                    <p>14</p>
                                </li>
                                <li>
                                    <p>36</p>
                                </li>
                                <li>
                                    <p>11</p>
                                </li>
                            </ul>
                        </div>
                        <!-- type3 -->
                        <div class="table2_type">
                            <div class="hidden_span">
                                <span></span>
                            </div>
                            <ul>
                                <li>
                                    <p>14</p>
                                </li>
                                <li>
                                    <p>36</p>
                                </li>
                                <li>
                                    <p>11</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- standard表格結束 -->
        </div>
        <!-- catalog -->
        <div class="catalog">
        	<div class="content_title">
            <h2><span>Catalog</span>型錄下載</h2>
        </div>
            <a href="javascript:void(0)">
                <p>2018 崗石三合一最新型錄</p>
                <span></span>
            </a>
        </div>
    </div>
</div>