<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <meta name="format-detection" content="telephone=no">
    <title>PAPILLON</title>
    <!--[if lt IE 9]><script src="../../assets/js/vendor/html5shiv-master/html5shiv.js"></script><![endif]-->
    <!--讓ie9以下看懂html5標籤-->
    <!-- icon -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/img/ico/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/ico/favicon.png">
    <link rel="icon" type="image/x-icon" href="../../assets/img/ico/favicon.png">
    <!-- 共用CSS -->
    <!-- <link rel="stylesheet" href="../../assets/css/icon-style.css"> -->
    <link rel="stylesheet" href="../../assets/js/vendor/cgpagechange/cgpagechange.css">
    <link rel="stylesheet" href="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.css">
            <link rel="stylesheet" href="../../assets/js/vendor/slick/slick.css">
    <link rel="stylesheet" href="../../assets/js/vendor/slick/slick-theme.css">
    <!-- 共用CSS end-->
    <!-- 非共用CSS -->
    <!-- 非共用CSS end-->
    <link rel="stylesheet" href="../../assets/css/news.css">
</head>

<body id="news" class="index">
    <header>
    </header>
    <main>
        <article class="_top">
            <div class="_title">
                <h2>WHAT'S NEW</h2>
                <p>最新消息</p>
            </div>
            <div class="select">
                <div class="All">
                    <p>全部訊息</p>
                </div>
                <div class="menulist">
                    <span class="selectMenu"><p>選擇分類</p></span>
                    <ul>
                        <!-- 後端注意:此處需可讓客戶新增內容 -->
                        <li>
                            <p>優惠活動</p>
                        </li>
                        <li>
                            <p>媒體專訪</p>
                        </li>
                        <li>
                            <p>法蝶動態</p>
                        </li>
                    </ul>
                </div>
            </div>
        </article>
        <!-- 最新消息內容 -->
        <article class="content">
            <div class="grid">
                <div class="box grid-item">
                    <a href="detail.html">
                        <!-- img的width 會隨機決定 -->
                        <div class="box_img">
                            <!-- 圖片橫版寬高450*300 -->
                            <!-- img的width 會隨機決定 -->
                            <img src="../../upload/f2e/news/img1_450_300.jpg" alt="" style="width: 100%">
                        </div>
                        <div class="box_text">
                            <!-- 日期 -->
                            <h4>May 26, 2017</h4>
                            <!-- 標題 -->
                            <h3>2017法蝶擁抱愛週年慶</h3>
                            <!-- 此內文字數限制50字多餘的部分會變點點 -->
                            <p>輕時尚美學，揭示著一種輕靈、精巧的風格品味，可以低調優雅，也可以獨具個性。表現在珠寶的設計上，不僅開拓了珠寶輕時尚美學，揭示著一種輕靈、精巧的風格品味，可以低調優雅，也可以獨具個性。表現在珠寶的設計上，不僅開拓了珠寶</p>
                        </div>
                    </a>
                </div>
                <div class="box grid-item">
                    <a href="detail.html">
                        <div class="box_img" style="">
                            <!-- 圖片直版寬高240*345 -->
                            <img src="../../upload/f2e/news/img2_240_345.jpg" alt="">
                        </div>
                        <div class="box_text">
                            <!-- 日期 -->
                            <h4>May 26, 2017</h4>
                            <!-- 標題 -->
                            <h3>情人節特輯，喬治哥的寶貝 許允樂最愛法蝶珠寶</h3>
                            <!-- 此內文行數兩行以內多餘的部分會變點點 -->
                            <p>輕時尚美學，揭示著一種輕靈、精巧的風格品味，可以低調優雅，也可以獨具個性。表現在珠寶的設計上，不僅開拓了珠寶輕時尚美學，揭示著一種輕靈、精巧的風格品味，可以低調優雅，也可以獨具個性。表現在珠寶的設計上，不僅開拓了珠寶</p>
                        </div>
                    </a>
                </div>
                <div class="box grid-item">
                    <a href="detail.html">
                        <div class="box_img">
                            <img src="../../upload/f2e/news/img3_240_345.jpg" alt="">
                        </div>
                        <div class="box_text">
                            <!-- 日期 -->
                            <h4>May 26, 2017</h4>
                            <!-- 標題 -->
                            <h3>『我的幸福，我做主』分享拍照贈夏季必備復古玫瑰金鎖骨鍊</h3>
                            <!-- 此內文行數兩行以內多餘的部分會變點點 -->
                            <p>輕時尚美學，揭示著一種輕靈、精巧的風格品味，可以低調優雅，也可以獨具個性。表現在珠寶的設計上，不僅開拓了珠寶輕時尚美學，揭示著一種輕靈、精巧的風格品味，可以低調優雅，也可以獨具個性。表現在珠寶的設計上，不僅開拓了珠寶</p>
                        </div>
                    </a>
                </div>
                <div class="box grid-item">
                    <a href="detail.html">
                        <div class="box_img">
                            <img src="../../upload/f2e/news/img4_450_300.jpg" alt="">
                        </div>
                        <div class="box_text">
                            <!-- 日期 -->
                            <h4>May 26, 2017</h4>
                            <!-- 標題 -->
                            <h3>求婚戒指，法蝶珠寶都幫您準備好了!</h3>
                            <!-- 此內文行數兩行以內多餘的部分會變點點 -->
                            <p>輕時尚美學，揭示著一種輕靈、精巧的風格品味，可以低調優雅，也可以獨具個性。表現在珠寶的設計上，不僅開拓了珠寶輕時尚美學，揭示著一種輕靈、精巧的風格品味，可以低調優雅，也可以獨具個性。表現在珠寶的設計上，不僅開拓了珠寶</p>
                        </div>
                    </a>
                </div>
                <div class="box grid-item">
                    <a href="detail.html">
                        <div class="box_img">
                            <img src="../../upload/f2e/news/img5_450_300.jpg" alt="">
                        </div>
                        <div class="box_text">
                            <!-- 日期 -->
                            <h4>May 26, 2017</h4>
                            <!-- 標題 -->
                            <h3>你，獨一無二，公益手作活動</h3>
                            <!-- 此內文行數兩行以內多餘的部分會變點點 -->
                            <p>輕時尚美學，揭示著一種輕靈、精巧的風格品味，可以低調優雅，也可以獨具個性。表現在珠寶的設計上，不僅開拓了珠寶輕時尚美學，揭示著一種輕靈、精巧的風格品味，可以低調優雅，也可以獨具個性。表現在珠寶的設計上，不僅開拓了珠寶</p>
                        </div>
                    </a>
                </div>
                <div class="box grid-item">
                    <a href="detail.html">
                        <div class="box_img">
                            <img src="../../upload/f2e/news/img6_240_345.jpg" alt="">
                        </div>
                        <div class="box_text">
                            <!-- 日期 -->
                            <h4>May 26, 2017</h4>
                            <!-- 標題 -->
                            <h3>貝兒公主的唯一選擇 玫瑰心情優惠中!</h3>
                            <!-- 此內文行數兩行以內多餘的部分會變點點 -->
                            <p>輕時尚美學，揭示著一種輕靈、精巧的風格品味，可以低調優雅，也可以獨具個性。表現在珠寶的設計上，不僅開拓了珠寶輕時尚美學，揭示著一種輕靈、精巧的風格品味，可以低調優雅，也可以獨具個性。表現在珠寶的設計上，不僅開拓了珠寶</p>
                        </div>
                    </a>
                </div>
                <div class="box grid-item">
                    <a href="detail.html">
                        <div class="box_img">
                            <img src="../../upload/f2e/news/img7_450_300.jpg" alt="">
                        </div>
                        <div class="box_text">
                            <!-- 日期 -->
                            <h4>May 26, 2017</h4>
                            <!-- 標題 -->
                            <h3>春雷響萬物生，珠寶巡迴展</h3>
                            <!-- 此內文行數兩行以內多餘的部分會變點點 -->
                            <p>輕時尚美學，揭示著一種輕靈、精巧的風格品味，可以低調優雅，也可以獨具個性。表現在珠寶的設計上，不僅開拓了珠寶輕時尚美學，揭示著一種輕靈、精巧的風格品味，可以低調優雅，也可以獨具個性。表現在珠寶的設計上，不僅開拓了珠寶</p>
                        </div>
                    </a>
                </div>
                <div class="box grid-item">
                    <a href="detail.html">
                        <div class="box_img">
                            <img src="../../upload/f2e/news/img8_450_300.jpg" alt="">
                        </div>
                        <div class="box_text">
                            <!-- 日期 -->
                            <h4>May 26, 2017</h4>
                            <!-- 標題 -->
                            <h3>拍照、分享，法蝶送您擁抱愛珍珠墜</h3>
                            <!-- 此內文行數兩行以內多餘的部分會變點點 -->
                            <p>輕時尚美學，揭示著一種輕靈、精巧的風格品味，可以低調優雅，也可以獨具個性。表現在珠寶的設計上，不僅開拓了珠寶輕時尚美學，揭示著一種輕靈、精巧的風格品味，可以低調優雅，也可以獨具個性。表現在珠寶的設計上，不僅開拓了珠寶</p>
                        </div>
                    </a>
                </div>
            </div>
        </article>
    </main>
    <footer id="foo">
    </footer>
    <!-- 共用 -->
    <script src="../../assets/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="../../assets/js/vendor/jquery.easings.min.js"></script>
    <script src="../../assets/js/vendor/cgpagechange/cgpagechange.js"></script>
    <script src="../../assets/js/vendor/waypoints/waypoints.min.js"></script>
    <script src="../../assets/js/vendor/blazy/blazy.min.js"></script>
    <script src="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.js"></script>
    <script src="../../assets/js/vendor/slick/slick.min.js"></script>
    <!-- 共用end -->
    <!-- 非共用 -->
    <script src="../../assets/js/vendor/masonry/masonry.pkgd.min.js"></script>
    <script src="../../assets/js/main.js"></script>
</body>

</html>