@import "_variable.scss";

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 6;
}

.darkBg {
    .header {
        color: #fff;
        text-shadow: 1px 1px 30px rgba(0, 0, 0, .5);
        transition: all .6s ease;
        .hdLinkList ul li:not(:last-child):after {
            background-color: rgba(255, 255, 255, .4);
            transition: all .6s ease;
        }
        .menu ul li.openMenu div span {
            background-color: #fff;
            box-shadow: 1px 1px 30px rgba(0, 0, 0, .5);
        }
    }
}


.header {
    padding: 3vh 0 2vh 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: calc(50px + 1rem + 2.5vw);
    text-shadow: 1px 1px 30px rgba(255, 255, 255, .5);
    transition: all .6s ease;
    position: relative;
    @media all and (max-width: 1279px) {
        padding-right:50px;
    }
    @media all and (max-width: 1024px) {
        padding: 2.5vh 5vw;
    }
    @media all and (max-width: 1024px) and ( min-aspect-ratio:1/1) {
        padding: 8px 5vw 0 5vw;
        height: calc(30px + 4vw);
    }
    @media all and (max-width: 700px) and ( max-aspect-ratio:1/1) {
        padding: 8px 5vw 0 5vw;
        height: calc(30px + 6vh);
    }
    @media all and (max-width: 700px) and ( min-aspect-ratio:1/1) {
        padding: 8px 5vw 0 5vw;
        height: calc(30px + 6vw);
    }
    /*header上方裝飾線條設定*/
    &:before,
    &:after {
        content: "";
        display: block;
        height: 8px;
        position: absolute;
        top: 0;
    }
    &:before {
        width: 0%;
        background-color: $base_blue;
        left: 0;
    }
    &:after {
        width: 0;
        background-color: $base_orange;
        right: 0;
        @media all and (max-width: 1024px) {
            width: calc(250px + 5vw);
        }
        @media all and (max-width: 700px) {
            width: 20%;
        }
    }
    /*hover效果設定*/
    &:hover,&.white {
        @media all and (min-width: 1025px) {
            background-color: #fff;
            color: #000;
            transition: all .6s ease;
            text-shadow: none;
        }
    }
    /*浮動header設定*/
    &.prepare {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        text-shadow: none;
        &.fixed {
            display: flex;
            color: #000;
            animation: headerFixed .4s both;
        }
    }
}






/*header的logo*/

.header {
    .hd_logo {
        padding-left: 2.5vw;
        @media all and (max-width: 1279px) {
            padding-left: 0;
        }
        @media all and (max-width: 700px) {
            width: 100px;
        }
    }
}





/*header的中間的連結列表*/

.header {
    .hdLinkList {
        height: 100%;
        padding-left: 5vw;
        @media all and (max-width: 1279px) {
            padding-left: 0;
        }
        @media all and (max-width: 1024px) {
            display: none;
        }
        ul {
            // height: 100%;
            @include flex-center;
            li {
                @include flex-center;
                &:not(:last-child) {
                    margin-right: 20px;
                    &:after {
                        content: "";
                        display: block;
                        width: 3px;
                        height: 16px;
                        background-color: #e1e1e1;
                        margin-left: 20px;
                        transition: all .6s ease;
                    }
                }
                a {
                    transition: all 0s;
                    height: 100%;
                    @include flex-center;
                    p {
                        letter-spacing: 1px;
                        @include font-size(18);
                    }
                }
                &:hover {
                    color: #005098;
                    transition: all .4s ease;
                }
            }
        }
    }
    /*hover效果設定*/
    &:hover,&.white {
        @media all and (min-width: 1025px) {
            .hdLinkList ul li:not(:last-child):after {
                background-color: #e1e1e1;
                transition: all .6s ease;
            }
        }
    }
    /*浮動header設定*/
    &.prepare.fixed .hdLinkList ul li:not(:last-child):after {
        background-color: #e1e1e1;
    }
}






/*header右側列表*/

.header {
    .menu {
        ul {
            display: flex;
            li {
                cursor: pointer;
                @include flex-center;
                &:not(:last-child) {
                    margin-right: 30px;
                    @media all and (max-width: 700px) {
                        margin-right: 6vw;
                    }
                }
                span {
                    margin-right: 5px;
                    &:before {
                        @include font-size(14);
                        @media all and (max-width: 700px) {
                            @include font-size(20);
                        }
                    }
                }
                p {
                    font-weight: bold;
                    @include font-size(14);
                    @media all and (max-width: 700px) {
                        display: none;
                    }
                }
                /*漢堡選單設定*/
                &.openMenu {
                    div {
                        width: 36px;
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        height: 18px;
                        position: relative;
                        span {
                            position: absolute;
                            display: block;
                            height: 3px;
                            width: 16px;
                            margin-right: 0;
                            background-color: #000;
                            box-shadow: 1px 1px 30px rgba(255, 255, 255, .5);
                            transition: all .6s ease;
                            &:nth-child(1),
                            &:nth-child(2) {
                                top: 0;
                            }
                            &:nth-child(3),
                            &:nth-child(4) {
                                top: 7px;
                            }
                            &:nth-child(5),
                            &:nth-child(6) {
                                top: 14px;
                            }
                            &:nth-child(odd) {
                                left: 0;
                            }
                            &:nth-child(even) {
                                right: 0;
                            }
                        }
                    }
                    &.close div span {
                        &:nth-child(1),
                        &:nth-child(2),
                        &:nth-child(3),
                        &:nth-child(4),
                        &:nth-child(5),
                        &:nth-child(6) {
                            top: 14px;
                            transition: all .8s ease;
                            width: 36px;
                            background-color: $base_orange;
                        }
                    }
                }
                &:hover {
                    color: #005098;
                    &.openMenu div span {
                        transition: all .2s ease;
                        background-color: #005098;
                    }
                }
            }
        }
    }
    /*hover效果設定*/
    &:hover,&.white {
        @media all and (min-width: 1025px) {
            .menu ul li.openMenu div span {
                background-color: #000;
                box-shadow: none;
            }
        }
    }
    /*浮動header設定*/
    &.prepare {
        &.fixed .menu ul li.openMenu div span {
            background-color: #000;
            box-shadow: none;
        }
    }
}














/* header浮動動畫:背景由透明變白*/

@keyframes headerFixed {
    0% {
        background-color: transparent;
    }

    100% {
        background-color: #fff;
    }
}






/* 進場動畫*/

.header {
    &:before {
        animation: header_before 1.2s both;
    }
    &:after {
        animation: header_after 1s both .4s;
    }
    .hd_logo {
        animation: fadeInDown 1s both;
    }
    .hdLinkList {
        ul {
            li {
                &:nth-child(1) {
                    animation: fadeInDown 1s both .1s;
                }
                &:nth-child(2) {
                    animation: fadeInDown 1s both .2s;
                }
                &:nth-child(3) {
                    animation: fadeInDown 1s both .3s;
                }
                &:nth-child(4) {
                    animation: fadeInDown 1s both .4s;
                }
                &:nth-child(5) {
                    animation: fadeInDown 1s both .5s;
                }
            }
        }
    }
    .menu {
        ul {
            li {
                &:nth-child(3) {
                    animation: fadeInDown 1s both .6s;
                }
                &:nth-child(2) {
                    animation: fadeInDown 1s both .7s;
                }
                &:nth-child(1) {
                    animation: fadeInDown 1s both .8s;
                }
            }
        }
    }
}

@keyframes header_before {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes header_after {
    0% {
        width: 0;
    }

    100% {
        width: calc(300px + 1rem + 2.5vw);
    }
}

@media all and (max-width: 1024px) {
    @keyframes header_after {
        0% {
            width: 0;
        }
        100% {
            width: calc(250px + 5vw);
        }
    }
}

@media all and (max-width: 700px) {
    @keyframes header_after {
        0% {
            width: 0;
        }
        100% {
            width: 20%;
        }
    }
}




/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓產品搜尋燈箱↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/

.searchLibox {
    @include libox;
    background-color: rgba(0, 0, 0, .8);
    .mCSB_container {
        margin-right: 0;
    }

    .searchBox {
        height: 100vh;
        width: 60vw;
        background-color: #fff;
        position: absolute;
        right: 0;
        top: 0;
        @media all and (max-width: 1024px) {
            width: 80vw;
        }
        @media all and (max-width: 900px) {
            width: 90vw;
        }
        @media all and (max-width: 700px) {
            width: 100vw;
        }
        .close {
            position: fixed;
            top: 50%;
            left: 40vw;
            transform: translate(-50%, -50%);
            @include close;
            @media all and (max-width: 1024px) {
                left: 20vw;
            }
            @media all and (max-width: 900px) {
                left: 10vw;
            }
            @media all and (max-width:700px) {
                left: auto;
                right: 0;
                top: 0;
                transform: translate(0%);
                z-index: 3;
                width: 14vw;
                height: 14vw;
                max-height: 80px;
                max-width: 80px;
            }
            span {
                @include close_span;
                &:before {
                    @include close_span_before;
                }
                &:after {
                    @include close_span_after;
                }
            }
        }
        .searchNav {
            width: 60vw;
            position: fixed;
            top: 0;
            left: 40vw;
            z-index: 2;
            @media all and (max-width: 1024px) {
                width: 80vw;
                left: 20vw;
            }
            @media all and (max-width: 900px) {
                width: 90vw;
                left: 10vw;
            }
            @media all and (max-width:700px) {
                width: 100vw;
                left: 0;
            }
            ul {
                @include flex-center;
                li {
                    width: 33.33%;
                    position: relative;
                    @include flex-center;
                    padding: 3vh 0;
                    max-height: 80px;
                    background-color: #e5e5e5;
                    cursor: pointer;
                    @include font-size(18);
                    letter-spacing: 1px;
                    font-family: MyriadPro-Regular, 微軟正黑體;
                    font-weight: bold;
                    transition: all .4s ease;
                    @media all and (max-width: 700px) {
                        width: 0;
                        display: none;
                        padding: 0;
                        height: 14vw;
                    }
                    p {
                        @media all and (max-width: 700px) {
                            width: 100%;
                            height: 100%;
                            @include flex-center;
                            padding-top: 5px;
                        }
                    }
                    &.active {
                        @media all and (max-width: 700px) {
                            width: 100%;
                            display: flex;
                        }
                    }
                    &:nth-child(1),
                    &:nth-child(3) {
                        color: #999999;
                        &.active {
                            color: $base_orange;
                            transition: all .4s ease;
                        }
                    }
                    &:nth-child(2) {
                        color: #999999;
                        span {
                            display: none;
                            @media all and (max-width: 700px) {
                                display: block;
                                &:before {
                                    content: "\e90e";
                                    font-family: 'icomoon';
                                    position: absolute;
                                    top: 50%;
                                    left: 10vw;
                                    transform: translate(-50%, -50%);
                                }
                            }
                        }
                        &:before,
                        &:after {
                            content: "";
                            display: block;
                            position: absolute;
                            z-index: 1;
                            height: 100%;
                            width: 50px;
                            top: 0;
                            background: transparent url('../../img/searchNav.png') center center no-repeat;
                            @media all and (max-width: 700px) {
                                display: none;
                            }
                        }
                        &:before {
                            left: 0;
                            transform: translateX(-50%);
                        }
                        &:after {
                            right: 0;
                            transform: translateX(50%);
                        }
                        &.active {
                            transition: all .4s ease;
                            color: $base_blue;
                        }
                    }
                }
            }
        }
    }
}





/*表格左邊設定*/

@mixin nameBox {
    width: calc(37% - 3px);
    margin-right: 3px;
    @include flex-center;
    padding: 20px 0 15px 0;
    @include font-size(15);
    align-items: flex-start;
    @media all and (max-width: 1024px) {
        width: calc(35% - 3px);
    }

    @media all and (max-width:700px) {
        width: calc(37% - 3px);
    }

    @media all and (max-width:500px) {
        @include font-size(14);
    }
}

@mixin nameBox_span {
    width: 32%;
    text-align: center;
    line-height: 1.5;
}

@mixin nameBox_p {
    width: 68%;
    line-height: 1.5;
    font-family: CenturyGothic, 微軟正黑體;
}







/*表格右邊寬度*/

@mixin listBoxWidth {
    width: 63%;
    @include font-size(15);
    font-family: CenturyGothic, 微軟正黑體;
    @media all and (max-width: 1024px) {
        width:65%;
    }

    @media all and (max-width: 700px) {
        width: 63%;
    }

    @media all and (max-width: 500px) {
        @include font-size(14);
    }
}




/*表格右邊padding*/

@mixin listBoxPadding {
    padding: 20px 30px 15px 45px;
    @media all and (max-width: 1024px) {
        padding: 20px 15px 15px 15px;
    }

    @media all and (max-width: 500px) {
        padding: 20px 15px 15px 15px;
    }
}


.searchContent {
    margin: auto;
    margin-top: 210px;
    max-width: 880px;
    padding: 0 3.125vw 100px 3.125vw;
    @media all and (max-width: 700px) {
        padding: 0 5vw 100px 5vw;
        margin-top: 19vh;
    }
    /*共同設定*/
    .selectProduct,
    .selectScale,
    .searchResult {
        letter-spacing: 1px;
        @include flex-center;
        flex-direction: column;
        display: none;
        &.active {
            display: flex;
        }
        ._title {
            text-align: center;
            h2 {
                @include font-size(32);
                line-height: 1.5;
            }
            p {
                @include font-size(18);
                line-height: 1.5;
                @include flex-center;
                font-family: "微軟正黑體";
            }
        }
        .heading {
            width: 100%;
            @include flex-center;
            margin-top: 30px;
            p {
                font-weight: bold;
                line-height: 1.5;
            }
            .headingLeft,
            .headingRight {
                position: relative;
                padding-top: 28px;
                &:before,
                &:after {
                    content: "";
                    display: block;
                    width: 100%;
                    background-color: #000;
                    position: absolute;
                    left: 0%;
                }
                &:before {
                    height: 8px;
                    top: 0;
                }
                &:after {
                    height: 1px;
                    bottom: 0;
                }
            }
            .headingLeft {
                @include nameBox;
                span {
                    @include nameBox_span;
                }
                p {
                    @include nameBox_p;
                }
            }
            .headingRight {
                @include listBoxWidth;
                @include listBoxPadding;
            }
        }
    }
}




/*選擇產品及選擇規格設定*/

.selectProduct,
.selectScale {
    .listContent {
        width: 100%;
        .list {
            display: flex;
            .itemName,
            .selectedType,
            .selectList {
                position: relative;
                &:after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: $base_gray;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
            .itemName {
                @include nameBox;
                span {
                    @include nameBox_span;
                }
                p {
                    @include nameBox_p;
                }
            }
            .selectedType {
                @include listBoxWidth;
                @include flex-space-between;
                @include listBoxPadding;
            }
            .selectList {
                @include listBoxWidth;
                position: relative;
                cursor: pointer;
                .selectMenu {
                    @include flex-space-between;
                    width: 100%;
                    @include listBoxPadding;
                    color: #999999;
                    p {
                        line-height: 1.5;
                    }
                    .hiddenText {
                        display: none;
                        color: red;
                    }
                    &:after {
                        font-family: 'icomoon';
                        content: "\e905";
                        color: $base_blue;
                        @include font-size(12);
                        transition: all .5s ease;
                    }
                    &.checked {
                        color: #000;
                    }
                    &.open {
                        &:after {
                            color: $base_orange;
                            transform: rotateX(180deg);
                            transition: all .5s ease;
                        }
                    }
                }
                ul {
                    display: none;
                    width: 100%;
                    max-height: 155px;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    z-index: 2;
                    background-color: #2b2b2b;
                    overflow: hidden;
                    padding: 10px 0;
                    li {
                        padding: 5px 0 5px 45px;
                        color: #fff;
                        transition: all .2s ease;
                        position: relative;
                        z-index: 3;
                        @media all and (max-width: 1024px) {
                            padding: 5px 0 5px 15px;
                        }
                        p {
                            line-height: 1.5;
                        }
                        &:hover {
                            color: rgba(234, 87, 3, .8);
                            transition: all .3s ease;
                        }
                        &.checked {
                            color: $base_orange;
                        }
                    }
                }
            }
        }
    }
}




/*搜尋結果設定*/

.searchResult {
    .listContent {
        width: 100%;
        .productList {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            overflow: hidden;
            .productName {
                @include nameBox;
                border-bottom: 1px solid $base_gray;
                span {
                    @include nameBox_span;
                    color: #848484;
                    font-family: "微軟正黑體";
                }
                p {
                    @include nameBox_p;
                }
            }
            .productType {
                @include listBoxWidth;
                @include listBoxPadding;
                @include flex-space-between;
                border-bottom: 1px solid $base_gray;
                @media all and (max-width: 500px) {
                    padding:0 0 0 15px;
                }
                p {
                    line-height: 1.5;
                    transition: all .5s ease;
                    @media all and(max-width: 500px) {
                        padding: 20px 0 15px 0;
                    }
                }
                ul {
                    @include flex-center;
                    li {
                        &:first-child,
                        &:last-child a {
                            @include flex-center;
                            @media all and (max-width: 600px) {
                                padding: 20px 2vw 15px 2vw;
                            }
                            p {
                                color: #929191;
                                @include font-size(13);
                                transition: all .4s ease;
                                @media all and(max-width: 600px) {
                                    display: none;
                                }
                            }
                            &:before {
                                font-family: 'icomoon';
                                color: #004179;
                                @include font-size(12);
                                margin-right: 5px;
                            }
                            &:hover {
                                p {
                                    color: #000;
                                }
                            }
                        }
                        &:first-child {
                            margin-right: 2vw;
                            cursor: pointer;
                            @media all and (max-width: 350px) {
                                margin:0 2vw;
                            }
                            &:before {
                                content: "\e905";
                                transition: all .5s ease;
                            }
                        }
                        &:last-child a {
                            &:before {
                                content: "\e900";
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
            .detailInf {
                width: 100%;
                display: none;
                position: relative;
                &:before,
                &:after {
                    content: "";
                    display: block;
                    height: 3px;
                    margin-left: 50%;
                    width: 0;
                    transition: all .8s ease;
                }
                &:before {
                    background-color: $base_orange;
                }
                &:after {
                    background-color: #000;
                }
                li {
                    display: flex;
                    .infName {
                        @include nameBox;
                        border-bottom: 1px solid $base_gray;
                        span {
                            @include nameBox_span;
                        }
                        p {
                            @include nameBox_p;
                            line-height: 1.5;
                        }
                    }
                    .infText {
                        @include listBoxWidth;
                        border-bottom: 1px solid $base_gray;
                        @include listBoxPadding;
                        p {
                            line-height: 1.5;
                        }
                    }
                }
            }
            &.openInf {
                .productName,
                .productType {
                    border-bottom: none;
                }
                .productType {
                    &>p {
                        color: $base_orange;
                        transition: all .5s ease;
                    }
                    ul {
                        .seeDetailInf {
                            p {
                                color: #000;
                            }
                            &:before {
                                transform: rotateX(180deg);
                                transition: all .5s ease;
                                color: $base_orange;
                            }
                        }
                    }
                }
                .detailInf {
                    &:before,
                    &:after {
                        margin-left: 0;
                        width: 100%;
                        transition: all .8s ease;
                    }
                }
            }
        }
    }
}




/* 按鈕設定*/

.selectProduct,
.selectScale,
.searchResult {
    .listContent {
        ._btn {
            margin-top: 45px;
            ul {
                margin: auto;
                max-width: 380px;
                @include flex-space-between;
                li {
                    width: calc(50% - 6px);
                    button {
                        width: 100%;
                        height: 40px;
                        border: none;
                        font-family: "微軟正黑體";
                        font-weight: bold;
                        letter-spacing: 1px;
                        @include font-size(13);
                        color: #fff;
                    }
                }
            }
        }
    }
}




/*選擇產品及搜尋的果的按鈕顏色:黑色和橘色*/

.selectProduct,
.searchResult {
    .listContent {
        ._btn {
            li {
                &:first-child {
                    button {
                        background-color: #000;
                    }
                }
                &:last-child {
                    button {
                        background-color: $base_orange;
                    }
                }
            }
        }
    }
}





/*選擇規格的按鈕顏色:黑色和藍色*/

.selectScale {
    .listContent {
        ._btn {
            li {
                &:first-child {
                    button {
                        background-color: #000;
                    }
                }
                &:last-child {
                    button {
                        background-color: $base_blue;
                    }
                }
            }
        }
    }
}




/* 進場動畫*/

.searchLibox {
    &.open {
        display: block;
        animation: fadeIn .4s both;
        .searchBox {
            animation: searchBoxIn 1.2s both;
            .searchNav {
                animation: slideInDown .8s both 1.2s;
            }
            .close {
                animation: searchLibox_close_in .8s both 1.2s;
                @media all and (max-width: 700px) {
                    animation: slideInDown .8s both 1.2s;
                }
            }
            .selectProduct,
            .selectScale,
            .searchResult {
                ._title {
                    h2,
                    p {
                        animation: fadeInDown 2s both;
                    }
                }
                .headingLeft,
                .headingRight {
                    animation: fadeInDown 2s both .4s;
                    &:before,
                    &:after {
                        animation: width100 1.2s both .8s;
                    }
                }
                ._btn {
                    animation: fadeInUp 2s both .8s;
                }
            }
            .selectProduct,
            .selectScale {
                .list {
                    .itemName,
                    .selectedType {
                        animation: fadeInDown 1.5s both .6s;
                        &:after {
                            animation: width100 1.2s both .8s;
                        }
                    }
                    .selectList {
                        .selectMenu {
                            animation: fadeInDown 1.5s both .6s;
                        }
                        &:after {
                            animation: width100 1.2s both .8s;
                        }
                    }
                }
            }
            .searchResult {
                .productList {
                    .productName,
                    .productType {
                        animation: fadeInDown 1.5s both .6s;
                    }
                }
            }
        }
    }
}

@keyframes searchBoxIn {
    0% {
        width: 0;
    }

    100% {
        width: 60vw;
    }
}

@media all and (max-width: 1024px) {
    @keyframes searchBoxIn {
        0% {
            width: 0;
        }
        100% {
            width: 80vw;
        }
    }
}

@media all and (max-width: 900px) {
    @keyframes searchBoxIn {
        0% {
            width: 0;
        }
        100% {
            width: 90vw;
        }
    }
}

@media all and (max-width: 700px) {
    @keyframes searchBoxIn {
        0% {
            width: 0;
        }
        100% {
            width: 100vw;
        }
    }
}

@keyframes searchLibox_close_in {
    0% {
        opacity: 0;
        transform: translate(-100%, -50%);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@media all and (max-width: 700px) {
    @keyframes searchLibox_close_in {
        0% {
            opacity: 0;
            transform: translateY(-50%);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}


@keyframes width100 {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}




/*退場動畫*/

.searchLibox {
    &.close {
        display: block;
        animation: fadeOut .4s both 1s;
        .searchBox {
            animation: searchBoxOut .8s both .5s;
        }
        .searchNav {
            animation: slideOutUp .5s both;
        }
        .close {
            animation: searchLibox_close_out .5s both;
            @media all and (max-width: 700px) {
                animation: slideOutUp .5s both;
            }
        }
        .selectProduct,
        .selectScale,
        .searchResult {
            ._title {
                h2,
                p {
                    animation: fadeOutUp .5s both;
                }
            }
            .headingLeft,
            .headingRight {
                animation: fadeOutUp .5s both;
            }
            ._btn {
                animation: fadeOutUp .5s both;
            }
        }
        .selectProduct,
        .selectScale {
            .list {
                .itemName,
                .selectedType {
                    animation: fadeOutUp .5s both;
                }
                .selectList {
                    .selectMenu {
                        animation: fadeOutUp .5s both;
                    }
                    &:after {
                        animation: fadeOutUp .5s both;
                    }
                }
            }
        }
        .searchResult {
            .productList {
                .productName,
                .productType,
                .detailInf {
                    animation: fadeOutUp .5s both;
                }
                .detailInf {
                    animation: fadeOut .5s both;
                }
            }
        }
    }
}

@keyframes searchLibox_close_out {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    100% {
        opacity: 0;
        transform: translate(-100%, -50%);
    }
}



@keyframes searchBoxOut {
    0% {
        width: 60vw;
    }

    100% {
        width: 0;
    }
}

@media all and (max-width: 1024px) {
    @keyframes searchBoxOut {
        0% {
            width: 80vw;
        }
        100% {
            width: 0;
        }
    }
}

@media all and (max-width: 900px) {
    @keyframes searchBoxOut {
        0% {
            width: 90vw;
        }
        100% {
            width: 0;
        }
    }
}

@media all and (max-width: 700px) {
    @keyframes searchBoxOut {
        0% {
            width: 100vw;
        }
        100% {
            width: 0;
        }
    }
}



/*↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑產品搜尋燈箱↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑*/


/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓menu_box↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/

.menu_box {
    display: none;
    position: fixed;
    top: 8px;
    left: 0;
    width: 100vw;
    max-height: calc(100vh - 8px);
    padding: 5.7vw 0 1.5vw 0;
    overflow: hidden;
    background-color: #f2f2f2;
    @media all and (max-width: 1024px) {
        padding: 5vh 0 1vh 0;
    }
    @media all and (max-height: 1100px) and (max-width: 1024px) {
        height: 100vh;
    }
}

.menuClose {
    display: block;
    position: absolute;
    top: calc(3vh - 9px);
    right: calc(49px + 1rem + 2.5vw);
    height: 24px;
    @include flex-center;
    flex-direction: column;
    cursor: pointer;
    @media all and (max-width: 1024px) {
        right: calc(5vw - 1px);
        top: calc(2.5vh + 0px);
        position: fixed;
    }
    @media all and(max-width: 1024px) and(min - aspect - ratio: 1 / 1) {
        top: calc(2.5vh + 6px);
        right: calc(5vw - 1px);
    }
    @media all and (max-width: 900px) {
        right: calc(5vw - 1px);
    }
    @media all and(max-width: 700px) {
        right: calc(5vw - 1px);
        top: calc(2.5vh + 9px);
    }
    @media all and(max-width: 350px) {
        top: calc(2.5vh + 8px);
    }
    p {
        font-family: 'MyriadPro-Semibold';
        @include font-size(12);
        letter-spacing: 1px;
        line-height: 1.5;
        @include flex-center;
        flex-direction: column;
    }
    span {
        display: block;
        width: 36px;
        height: 4px;
        background-color: $base_orange;
    }
}

.menu_units {
    max-width: 1360px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    @media all and (max-width: 1440px) {
        padding: 0 5vw;
    }
}

.menu_unit {
    width: 33.33%;
    @include flex-left;
    margin-bottom: 4vw;
    @media all and (max-width: 1024px) {
        width: 50%;
        margin-bottom: 4vh;
    }
    @media all and (max-width: 700px) {
        width: 100%;
    }

    .unit_title {
        letter-spacing: 1px;
        h2,
        p {
            padding-left: 20px;
        }
        h2 {
            color: #276cbb;
            font-family: 'MyriadPro-Semibold';
            @include font-size(20);
            line-height: 1.5;
            position: relative;
            white-space: nowrap;
            text-transform: uppercase;
            &:before {
                @include fakeLine(5px,
                5px,
                $base_orange);
                position: absolute;
                top: calc(50% - 2.5px);
                left: 0;
            }
        }
        p {
            @include font-size(20);
        }
    }
    ul {
        @include flex-space-between;
        flex-wrap: wrap;
        padding: 0 20px;
        width: 100%;
        margin-top: 40px;
        @media all and (max-width: 1024px) {
            margin-top: 4vh;
        }
        li {
            width: 50%;
            margin: 8px 0;
            letter-spacing: 1px;
            @include font-size(16);
            line-height: 1.5;
            color: #656565;
            a {
                position: relative;
                padding: 0 16px;
                transition: all .4s ease;
                display: flex;
                &:before,
                &:after {
                    position: absolute;
                    top: 12px;
                    transform: translateY(-50%);
                }
                &:before {
                    @include fakeLine(8px,
                    2px,
                    $base_orange);
                    left: 0;
                }
                &:after {
                    @include fakeLine(2px,
                    0px,
                    $base_orange);
                    left: 3px;
                    transition: all .4s ease;
                }
                &:hover {
                    color: #000;
                    &:after {
                        height: 8px;
                    }
                }
            }
        }
    }
}

.menu_box {
    &.open {
        display: block;
        animation: fadeIn 1s both;
        .menuClose p {
            animation: fadeInDown .8s both .2s;
        }
        .menu_unit {
            .unit_title {
                animation: fadeInDown .8s both .4s;
            }
            ul li {
                animation: fadeInLeft .8s both;
            }
        }
    }

    &.close {
        display: block;
        animation: fadeOut .8s both .4s;
        .menu_unit .unit_title,
        .menu_unit ul li a,
        .menuClose p {
            animation: fadeOutUp .4s both;
        }
        .menuClose span {
            animation: fadeOut .4s both;
        }
    }
}





/*↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑menu_box↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑*/


/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓hover_content↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/

.hover_content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    color: #000;
    text-shadow: none;
    @media all and(max-width: 1024px) {
        display: none;
    }
    .hover_box,
    .product_hover {
        background-color: #ececec;
        width: 100%;
        display: none;
        &.active {
            display: flex;
            animation: fadeIn .4s both;
        }
        &.out {
            display: flex;
            animation: fadeOut .4s both;
        }
    }
    .product_hover {
        padding: 50px 0 30px 0;
        justify-content: center;
        align-items: flex-start;
        letter-spacing: 1px;
        .productType .typeName a,
        .latestProduct h2 {
            @include font-size(17);
            display: flex;
            align-items: center;
            justify-content: flex-start;
            &:before {
                margin-right: 10px;
                @include fakeLine(8px,
                2px,
                $base_orange);
            }
        }
        .productList_bg {
            width: calc(100vw - 450px);
            max-width:960px;
            max-height: calc(95vh - 200px);
        }
        .mCSB_scrollTools .mCSB_draggerRail {
            background-color: #e0e0e0;
            height:4px;
            margin: 2px auto;
        }
        .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
            background-color: #ccc;
            margin:2px auto;
        }
        .productList {
            display: flex;
            flex-wrap:wrap;
            .productType {
                width: 25%;
                margin-bottom: 40px;
                @media all and (max-width: 1280px){
                    width: 33.33%;
                }
                &:not(:last-child) {
                    padding-right: 4vw;
                }
                ul {
                    max-height: 60vh;
                    overflow: auto;
                    margin-top: 1.5vw;
                    @media all and (min-width: 1921px){
                        margin-top: 25px;
                    }
                    li {
                        margin: 10px 0;
                        color: #676767;
                        line-height: 1.5;
                        padding-left: 18px;
                        @include font-size(14);
                        font-family: "微軟正黑體";
                    }
                }
            }
        }
        .latestProduct {
            width: 320px;
            ._img,
            span,
            p {
                padding-left: 15px;
            }
            ._img {
                margin-top: 25px;
            }
            span {
                display: block;
                margin-top: 20px;
                font-weight: bold;
                font-family: "微軟正黑體";
                @include font-size(16);
                line-height: 1.5;
            }
            p {
                margin-top: 10px;
                color: #676767;
                @include font-size(14);
                font-family: "微軟正黑體";
                line-height: 1.5;
            }
        }
    }
    .hover_box {
        padding: 50px 0;
        ul {
            max-width: 440px;
            margin: auto;
            @include flex-space-between;
            flex-wrap: wrap;
            li {
                width: 50%;

                line-height: 1.5;
                @include font-size(17);
                letter-spacing: 1px;
                font-family: "微軟正黑體";
                margin-bottom: 20px;
                a {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    &:before {
                        margin: 0 8px 0 0;
                        @include fakeLine(8px,
                        2px,
                        $base_orange);
                    }
                }
            }
        }
    }
}




/*↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑hover_content↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑*/