<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"/>
  <meta name="language" content="tw"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <meta name="title" content="網站標題名稱"/>
  <meta name="description" content="網站描敘"/>
  <meta name="keywords" content="網站關鍵字"/>
  <meta name="copyright" content="作者名子"/>
  <link rel="icon" type="image/png" sizes="96x96" href="../../assets/img/ico/favicon-96x96.png"/>
  <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/ico/favicon-32x32.png"/>
  <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/ico/favicon-16x16.png"/>
  <title>moca</title>
  <link rel="stylesheet" href="../../assets/css/style.css"/>
</head>

<body class="index" id="news">
  <header>
    <article class="hdContent">
      <section class="logo"><a href="../home/index.html"><img class="en" src="../../assets/img/hdLogo1.png" alt="">
          <!-- 只有在首頁會出現↓--><img class="ch" src="../../assets/img/hdLogo2.png" alt=""></a></section>
      <section class="linkList">
        <ul>
          <li><a href="javascript:void(0)">
              <p class="en">Plan your visit</p>
              <p class="ch">參觀資訊</p></a></li>
          <li><a href="javascript:void(0)">
              <p class="en">Exhibitions and events</p>
              <p class="ch">展覽活動</p></a></li>
          <li><a href="javascript:void(0)">
              <p class="en">MOCArt shop</p>
              <p class="ch">藝術商店</p></a></li>
          <li><a href="javascript:void(0)">
              <p class="en">Discover MOCA</p>
              <p class="ch">探索當代</p></a></li>
        </ul>
      </section>
      <section class="buttons">
        <!-- 後端請注意: 如果圍閉館時間的話 請在下方openExhibit 加上class "close"-->
        <div class="openExhibit">
          <p>TODAY’S ON</p>
          <p>CLOSED TODAY</p>
          <buttton class="closeBTn"><span></span></buttton>
        </div>
        <div class="menuBt">
          <div><span></span><span></span><span></span>
          </div>
        </div>
        <!-- 只有在首頁會出現↓-->
        <ul>
          <li><a href="javascript:void(0)">
              <p>時間票價</p></a></li>
          <li><a href="javascript:void(0)">
              <p>會員登入</p></a></li>
          <li><a href="javascript:void(0)">
              <p>EN</p></a></li>
          <li><a href="javascript:void(0)"><span class="icon-magnifier"></span></a></li>
        </ul>
      </section>
      <section class="exhibitLibox">
        <div class="open">
          <div class="date">
            <div class="box">
              <!-- 今日時間 -->
              <!--後端請注意: 今日時間已填上不需更改-->
              <div class="dotay"> 
                <p class="month"> </p>
                <p class="day"> </p>
                <p class="year"> </p>
              </div>
              <div class="openingHours">
                <p data-name="今日開放時間">10AM - 6PM</p>
              </div>
            </div>
          </div>
          <div class="tableContent">
            <div class="type">
              <div class="typeName">
                <p class="en">Exhibition</p>
                <p class="ch">展覽</p>
              </div>
              <ul>
                <li>
                  <div class="time">
                    <!-- 開放時間-->
                    <h6> <span>10:00</span><span>18:00</span></h6>
                    <p>CUBE</p>
                  </div>
                  <div class="_text">
                    <p class="ch">穿越正義:科技@潛殖</p>
                    <p class="en">Trans-Justice: Para-Colonial@Technology</p>
                  </div>
                </li>
                <li>
                  <div class="time">
                    <!-- 開放時間-->
                    <h6> <span>10:00</span><span>18:00</span></h6>
                    <p>STUDIO</p>
                  </div>
                  <div class="_text">
                    <p class="ch">華麗轉身─老靈魂的魅力重生</p>
                    <p class="en">The Charismatic Rebirth of Yore</p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="type">
              <div class="typeName">
                <p class="en">Events</p>
                <p class="ch">活動</p>
              </div>
              <ul>
                <li>
                  <div class="time">
                    <!-- 開放時間-->
                    <h6> <span>11:45 </span><span>12:45</span></h6>
                    <p>每日導覽</p>
                  </div>
                  <div class="_text">
                    <p class="ch">MOCA當代公共藝術街區散步</p>
                    <p class="en">MOCA Public Art Street Walk</p>
                  </div>
                </li>
                <li>
                  <div class="time">
                    <!-- 開放時間-->
                    <h6> <span>13:00 </span><span>16:30</span></h6>
                    <p>每日導覽</p>
                  </div>
                  <div class="_text">
                    <p class="ch">MOCA X 罐子書館—琉球Piras沖繩文創市集</p>
                    <p class="en">MOCA X Bottle Bookstore--- Okinawa Piras Market</p>
                  </div>
                </li>
                <li>
                  <div class="time">
                    <!-- 開放時間-->
                    <h6> <span>13:00 </span><span>16:30</span></h6>
                    <p>每日導覽</p>
                  </div>
                  <div class="_text">
                    <p class="ch">MOCA X 罐子書館—琉球Piras沖繩文創市集</p>
                    <p class="en">MOCA X Bottle Bookstore--- Okinawa Piras Marke</p>
                  </div>
                </li>
                <li>
                  <div class="time">
                    <!-- 開放時間-->
                    <h6> <span>13:00 </span><span>16:30</span></h6>
                    <p>每日導覽</p>
                  </div>
                  <div class="_text">
                    <p class="ch">MOCA X 罐子書館—琉球Piras沖繩文創市集</p>
                    <p class="en">MOCA X Bottle Bookstore--- Okinawa Piras Market</p>
                  </div>
                </li>
                <li>
                  <div class="time">
                    <!-- 開放時間-->
                    <h6> <span>13:00 </span><span>16:30</span></h6>
                    <p>每日導覽</p>
                  </div>
                  <div class="_text">
                    <p class="ch">MOCA X 罐子書館—琉球Piras沖繩文創市集</p>
                    <p class="en">MOCA X Bottle Bookstore--- Okinawa Piras Market</p>
                  </div>
                </li>
                <li>
                  <div class="time">
                    <!-- 開放時間-->
                    <h6> <span>13:00 </span><span>16:30</span></h6>
                    <p>每日導覽</p>
                  </div>
                  <div class="_text">
                    <p class="ch">MOCA X 罐子書館—琉球Piras沖繩文創市集</p>
                    <p class="en">MOCA X Bottle Bookstore--- Okinawa Piras Market</p>
                  </div>
                </li>
                <li>
                  <div class="time">
                    <!-- 開放時間-->
                    <h6> <span>13:00 </span><span>16:30</span></h6>
                    <p>每日導覽</p>
                  </div>
                  <div class="_text">
                    <p class="ch">MOCA X 罐子書館—琉球Piras沖繩文創市集</p>
                    <p class="en">MOCA X Bottle Bookstore--- Okinawa Piras Market</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="close"></div>
      </section>
    </article>
  </header>
  <main>
    <article class="test">
      <ul> 
        <li data-src="indexContent.html" data-ajaxTarget="ajaxContent" onclick="ajax(this)">最新消息</li>
        <li data-src="indexContent.html" data-ajaxTarget="ajaxContent" onclick="ajax(this)">園區公告</li>
        <li data-src="indexContent.html" data-ajaxTarget="ajaxContent" onclick="ajax(this)">展演資訊</li>
        <li data-src="indexContent.html" data-ajaxTarget="ajaxContent" onclick="ajax(this)">新聞發布</li>
      </ul>
    </article>
    <article class="ajaxContent">
      <section class="_title">
        <p class="en">News Overview <span>消息總覽</span></p>
        <p class="ch">讓你掌握最即時的當代動態</p>
        <div class="year">
          <!-- 後端請注意:下方data-src請放入ajax內容的位置-->
          <div class="ajax active" data-src="2018.html" data-ajaxTarget="masonry" onclick="ajax(this);">
            <p>2018</p>
          </div>
          <!--後端請注意:下方data-src請放入ajax內容的位置-->
          <div class="ajax" data-src="2018.html" data-ajaxTarget="masonry" onclick="ajax(this);">
            <p>2017</p>
          </div>
          <!--後端請注意:下方data-src請放入ajax內容的位置-->
          <div class="ajax" data-src="2018.html" data-ajaxTarget="masonry" onclick="ajax(this);">
            <p>2016</p>
          </div>
          <div class="dropDown"><span class="selectMenu">
              <p>YEAR  其他年分</p></span>
            <ul>
              <!--後端請注意:下方data-src請放入ajax內容的位置-->
              <li data-src="2018.html" data-ajaxTarget="masonry" onclick="ajax(this);">
                <p>2018</p>
              </li>
              <!--後端請注意:下方data-src請放入ajax內容的位置-->
              <li data-src="2018.html" data-ajaxTarget="masonry" onclick="ajax(this);">
                <p>2017</p>
              </li>
              <!--後端請注意:下方data-src請放入ajax內容的位置-->
              <li data-src="2018.html" data-ajaxTarget="masonry" onclick="ajax(this);">
                <p>2016</p>
              </li>
              <!--後端請注意:下方data-src請放入ajax內容的位置-->
              <li data-src="2018.html" data-ajaxTarget="masonry" onclick="ajax(this);">
                <p>2015</p>
              </li>
              <!--後端請注意:下方data-src請放入ajax內容的位置-->
              <li data-src="2018.html" data-ajaxTarget="masonry" onclick="ajax(this);">
                <p>2014</p>
              </li>
              <!--後端請注意:下方data-src請放入ajax內容的位置-->
              <li data-src="2018.html" data-ajaxTarget="masonry" onclick="ajax(this);">
                <p>2013</p>
              </li>
              <!--後端請注意:下方data-src請放入ajax內容的位置-->
              <li data-src="2018.html" data-ajaxTarget="masonry" onclick="ajax(this);">
                <p>2012</p>
              </li>
              <!--後端請注意:下方data-src請放入ajax內容的位置-->
              <li data-src="2018.html" data-ajaxTarget="masonry" onclick="ajax(this);">
                <p>2011</p>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class="masonry">
        <!-- ---------------------由此開始ajax或include--------------------->
        <ul>
          <div class="grid-size"></div>
          <!-- 後端請注意: 此處有四種模式 :
          1.大 big 
          2.中 middle
          3.純文字 textOnly  (基本上大小跟"中"一樣 只是只有背景顏色 沒有圖片)
          4.小 small (後端請注意: 請在後台幫我標註 如果要上小的 就一定要一次上兩個)
          -->
          <li class="big"><a href="detail.html">
              <figure>
                <!-- 後端請注意:圖瑱建議尺寸 730*730--><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/index/bigImg_730_730.jpg" alt="">
              </figure>
              <div class="_text">
                <div class="dateAndType">
                  <div class="date">
                    <p> SEP. 27</p>
                  </div>
                  <div class="type">
                    <p>最新消息</p>
                  </div>
                </div>
                <div class="words">
                  <h6>MOCA台北當代藝術館15歲啦！快來和我們一起慶祝這特別的日子</h6>
                </div>
              </div></a></li>
          <li class="small"><a href="detail.html">
              <figure>
                <!-- 後端請注意:圖瑱建議尺寸 350*230--><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/index/smallImg_350_230.jpg" alt="">
              </figure>
              <div class="_text">
                <div class="dateAndType">
                  <div class="date">
                    <p>SEP. 18</p>
                  </div>
                  <div class="type">
                    <p>新聞發布</p>
                  </div>
                </div>
                <div class="words">
                  <!-- 後端請注意:字數限制-->
                  <h6>藝術移動工作室Portable Studio</h6>
                </div>
              </div></a></li>
          <li class="small"><a href="detail.html">
              <figure>
                <!-- 後端請注意:圖瑱建議尺寸 350*230--><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/index/smallImg_350_230.jpg" alt="">
              </figure>
              <div class="_text">
                <div class="dateAndType">
                  <div class="date">
                    <p>SEP. 18</p>
                  </div>
                  <div class="type">
                    <p>新聞發布</p>
                  </div>
                </div>
                <div class="words">
                  <!-- 後端請注意:字數限制-->
                  <h6>藝術移動工作室Portable Studio</h6>
                </div>
              </div></a></li>
          <li class="small"><a href="detail.html">
              <figure>
                <!-- 後端請注意:圖瑱建議尺寸 350*230--><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/index/smallImg2_350_230.jpg" alt="">
              </figure>
              <div class="_text">
                <div class="dateAndType">
                  <div class="date">
                    <p>AGU. 13  </p>
                  </div>
                  <div class="type">
                    <p>展演資訊</p>
                  </div>
                </div>
                <div class="words">
                  <!-- 後端請注意:字數限制-->
                  <h6>視覺與肢體共創 <br/>一場獨一無二的身體演出！</h6>
                </div>
              </div></a></li>
          <li class="textOnly"><a href="detail.html">
              <!-- 後端請注意:此處的背景顏色要讓客戶自己決定-->
              <div class="_text" style="background-color: #e83434">
                <div class="dateAndType">
                  <div class="date">
                    <p>SEP. 12</p>
                  </div>
                  <div class="type">
                    <p>園區公告</p>
                  </div>
                </div>
                <div class="words">
                  <h6>台北當代藝術館第30期義工錄取名單</h6>
                  <!-- 後端請注意:字數限制 65個字以內-->
                  <p>非常感謝大家熱烈報名，最新一期的義工徵選名單出爐囉！歡迎點選附件查看內容，若你也有興趣加入義工行列，可以關注我們的官網最新動態...</p>
                </div>
              </div></a></li>
          <li class="big"><a href="detail.html">
              <figure>
                <!-- 後端請注意:圖瑱建議尺寸 730*730--><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/index/bigImg2_730_730.jpg" alt="">
              </figure>
              <div class="_text">
                <div class="dateAndType">
                  <div class="date">
                    <p>JUL. 19  </p>
                  </div>
                  <div class="type">
                    <p>最新消息</p>
                  </div>
                </div>
                <div class="words">
                  <h6>兒童與藝術的對話：當孩子塗鴉時，創意的美學教養從此開始</h6>
                </div>
              </div></a></li>
          <li class="small"><a href="detail.html">
              <figure>
                <!-- 後端請注意:圖瑱建議尺寸 350*230--><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/index/smallImg3_350_230.jpg" alt="">
              </figure>
              <div class="_text">
                <div class="dateAndType">
                  <div class="date">
                    <p>SEP. 20  </p>
                  </div>
                  <div class="type">
                    <p>最新消息</p>
                  </div>
                </div>
                <div class="words">
                  <!-- 後端請注意:字數限制-->
                  <h6>薩滿能量市集 x 邊緣工事 <br/> x 南西世足嘉年華</h6>
                </div>
              </div></a></li>
          <li class="small"><a href="detail.html">
              <figure>
                <!-- 後端請注意:圖瑱建議尺寸 350*230--><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/index/smallImg4_350_230.jpg" alt="">
              </figure>
              <div class="_text">
                <div class="dateAndType">
                  <div class="date">
                    <p>AGU. 24</p>
                  </div>
                  <div class="type">
                    <p>園區公告</p>
                  </div>
                </div>
                <div class="words">
                  <!-- 後端請注意:字數限制-->
                  <h6>《 自由小屋 》屋主招募計畫</h6>
                </div>
              </div></a></li>
          <li class="middle"><a href="detail.html">
              <figure>
                <!-- 後端請注意:圖瑱建議尺寸 730*350--><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/index/middleImg_730_350.jpg" alt="">
              </figure>
              <div class="_text">
                <div class="dateAndType">
                  <div class="date">
                    <p>SEP. 22  </p>
                  </div>
                  <div class="type">
                    <p>園區公告</p>
                  </div>
                </div>
                <div class="words">
                  <h6>有著過人勇氣與冒險精神的世界級攝影大師</h6>
                </div>
              </div></a></li>
        </ul>
      </section>
    </article>
  </main>
  <footer>
    <section class="goTop"><span class="icon-uniE906"></span></section>
    <section class="logo"><a href="../home/index.html"><img src="../../assets/img/ftLogo.png" alt=""></a></section>
    <section class="linkList">
      <ul>
        <li><a href="javascript:void(0)">About </a><a href="javascript:void(0)">認識我們</a><a href="javascript:void(0)">探索當代</a><a href="javascript:void(0)">最新消息</a></li>
        <li><a href="javascript:void(0)">Exhibition</a><a href="javascript:void(0)">展覽資訊</a><a href="javascript:void(0)">歷年展覽</a><a href="javascript:void(0)">語音導覽 </a></li>
        <li><a href="javascript:void(0)">Visit</a><a href="javascript:void(0)">主題參觀</a><a href="javascript:void(0)">公共藝術</a><a href="javascript:void(0)">線上預約</a></li>
        <li><a href="javascript:void(0)">Service</a><a href="javascript:void(0)">會員中心</a><a href="javascript:void(0)">申請專區</a><a href="javascript:void(0)">人才招募</a></li>
        <li><a href="javascript:void(0)">Support</a><a href="javascript:void(0)">贊助單位</a><a href="javascript:void(0)">贊助表單</a></li>
      </ul>
    </section>
    <section class="middle">
      <div class="openTime">
        <h6>Open</h6>
        <p>每日開放時間 10AM - 06PM</p>
        <p>週二至週日開放  每周一休館 </p>
      </div>
      <div class="Newsletter">
        <h6>Newsletter</h6>
        <form>
          <input type="text" placeholder="請輸入您的電子信箱">
          <button type="button"><span class="icon-mail"></span></button>
        </form>
      </div>
      <div class="socialMedia">
        <h6>Follow</h6>
        <ul>
          <li><a href="javascript:void(0)"><span class="icon-wechat"></span></a></li>
          <li><a href="javascript:void(0)"><span class="icon-sina-weibo"></span></a></li>
          <li><a href="javascript:void(0)"><span class="icon-youtube"></span></a></li>
          <li><a href="javascript:void(0)"><span class="icon-facebook"></span></a></li>
          <li><a href="javascript:void(0)"><span class="icon-instagram"></span></a></li>
        </ul>
      </div>
    </section>
    <section class="informatioin">
      <div class="left">
        <p class="address">NO.39 Chang-An West Road Taipei, Taiwan 103</p>
        <p class="tel" data-name="Tel ">+886 2-2552-3721</p>
        <p class="fax" data-name="Fax ">+886 2-2559-3874</p>
        <p class="mail" data-name="Mail - ">services@mocataipei.org.tw</p>
      </div>
      <div class="right">
        <div class="liboxs">
          <div class="openPrivacy">
            <p>Privacy Policy / </p>
          </div>
          <div class="openCopyright">
            <p>Copyright Notice</p>
          </div>
        </div>
        <div class="sponsor"><a href="javascript:void(0)"><img src="../../assets/img/culturalBureau.png" alt=""></a><a href="javascript:void(0)"><img src="../../assets/img/foundation.png" alt=""></a></div>
      </div>
      <div class="copyright">
        <p>© Taipei MOCA. All rights reserved.</p>
        <p>Designed by <a>WDD.</a></p>
      </div>
    </section>
  </footer>
</body>
<!-- 套件js:我把它弄成一包-->
<script src="../../assets/js/nick.js"></script>
<!-- 自訂的 js-->
<script src="../../assets/js/main.js"></script>
<script>
  function ajax(target){
      if(!$(target).hasClass("active")){
  
          //加上標示已啟動的class
          $(target).addClass("active").siblings().removeClass("active").find("ul li").removeClass("active")
          // ajax內容位置
          var src = $(target).attr("data-src")
          // ajax內容放置的地方
          var box = "." + $(target).attr("data-ajaxTarget")
  
          // 計算移動時間
          var time = Math.floor(($(window).scrollTop()/($("body").innerHeight()-$(window).height()))*1000+400)
          $("html,body").animate({
              scrollTop: 0
          }, time, 'easeOutCubic');
  
          // 滑動同時加入移除動畫
          $(box + ">*").addClass("out")
  
          setTimeout(function () {
              $.ajax({
                  // 載入資料
                      url: src,
                  })
                  .done(function (data) {
                      // 移除原本的內容
                      $(box + ">*").remove()
                      // 將資料塞入結構
                      $(box).html(data);
                      // 重新啟動入場動畫
                      _Blazy.newsW();
                      _waypoint.newsW();
                      news.all();
                      // 重啟下拉選單
                      dropDown();
                  });
          }, 1000);
      }
  }
</script>
</html>