<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="language" content="tw" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="title" content="網站標題名稱" />
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <meta name="copyright" content="作者名子">
    <title>bite2eat</title>
    <!-- icon -->
    <!--    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/img/ico/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/ico/favicon.png">
    <link rel="icon" type="image/x-icon" href="../../assets/img/ico/favicon.png"> -->
    <!-- 共用CSS -->
    <link rel="stylesheet" href="../../assets/js/vendor/cgpagechange/cgpagechange.css">
    <link rel="stylesheet" href="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.css">
    <!-- 共用CSS end-->
    <!-- 非共用CSS -->
    <!-- 非共用CSS end-->
    <link rel="stylesheet" href="../../assets/css/storehold/storehold.css">
</head>

<body id="storehold" class="index">
    <header></header>
    <main>
        <article class="banner short">
            <section class="banner_img">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="../../upload/fa2/storehold/index/bannerImg_rwd_1024_1325.jpg" media="(max-width:1023px)">
                    <!-- 後端請注意:如果圖片是淺色圖的話請在data-color 填入 whiteBg 深色圖請空白-->
                    <img data-color="" src="../../upload/fa2/storehold/index/bannerImg_1920_745.jpg" alt="">
                </picture>
            </section>
            <section class="banner_text">
                <h5>美味據點</h5>
                <h3>Find Bite 2 Eat</h3>
            </section>
            <section class="smallImg_area">
                <!-- 後端請注意:此處的規則和首頁的一樣 -->
                <div class="smallImg bottom_left_left" data-X="-30%" data-Y="20%">
                    <img src="../../upload/fa2/storehold/index/banner_smallImg1_410_210.png" alt="">
                </div>
                <div class="smallImg bottom_right_right" data-X="15%" data-Y="20%">
                    <img src="../../upload/fa2/storehold/index/banner_smallImg2_350_330.png" alt="">
                </div>
            </section>
        </article>
        <article class="content">
            <section class="bg">
            </section>
            <section class="_title">
                <h5>透過下方的據點選擇，尋找距離您最近的薄多義。<br>每間薄多義都有自己獨特的空間與菜色，歡迎您們前來感受各式各樣的多元體驗！</h5>
                <div class="dropDown">
                    <div class="list area">
                        <span class="selectList"><p>ALL  全台地區</p></span>
                        <ul>
                            <li>ALL 全台地區</li>
                        </ul>
                        <!-- 後請注意:select手機板才會出現 -->
                        <select name="" id="">
                            <option>ALL 全台地區</option>
                        </select>
                        <span class="icon-▼"></span>
                    </div>
                    <div class="list store">
                        <span class="selectList"><p>ALL  所有分店</p></span>
                        <ul>
                            <li>ALL 所有分店</li>
                        </ul>
                        <!-- 後請注意:select手機板才會出現 -->
                        <select name="" id="">
                            <option>ALL 所有分店</option>
                        </select>
                        <span class="icon-▼"></span>
                    </div>
                </div>
            </section>
            <section class="stores">
                <div class="storeNav">
                    <div class="_img"> 
                        <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/storehold/index/storeNavImg_330_460.png" alt="">
                        <span><i></i></span>
                    </div>
                </div>
                <div class="box">
                    <a href="../storehold/detail.html">
                        <div class="_img">
                            <!-- 後端請注意:此處的圖片與首頁共用 -->
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/storehold/index/storeImg1_875_645.jpg" alt="">
                        <span class="hoverBox"><i></i></span>
                        </div>
                        <!-- 後端請注意:text有三個位置給客戶選擇1.左left 2.中center 3.右right -->
                        <div class="_text">
                            <h2>fu-nan</h2>
                            <p>台北復南店</p>
                        </div>
                    </a>
                    <div class="smallImg">
                        <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/storehold/index/storesmallImg1_310_345.png" alt="">
                    </div>
                </div>
                <div class="box">
                    <a href="../storehold/detail.html">
                        <div class="_img">
                            <!-- 後端請注意:此處的圖片與首頁共用 -->
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/storehold/index/storeImg2_875_645.jpg" alt="">
                        <span class="hoverBox"><i></i></span>
                        </div>
                        <div class="_text">
                            <h2>att</h2>
                            <p>台北 ATT 店</p>
                        </div>
                    </a>
                    <div class="smallImg">
                        <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/storehold/index/storesmallImg2_160_315.png" alt="">
                    </div>
                </div>
                <div class="box">
                    <a href="../storehold/detail.html">
                        <div class="_img">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/storehold/index/storeImg3_875_645.jpg" alt="">
                        <span class="hoverBox"><i></i></span>
                        </div>
                        <div class="_text">
                            <h2>banqiao</h2>
                            <p>新北板橋店</p>
                        </div>
                    </a>
                    <div class="smallImg">
                        <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/storehold/index/storesmallImg3_125_165.png" alt="">
                    </div>
                </div>
                <div class="box">
                    <a href="../storehold/detail.html">
                        <div class="_img">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/storehold/index/storeImg4_875_645.jpg" alt="">
                        <span class="hoverBox"><i></i></span>
                        </div>
                        <div class="_text">
                            <h2>train station</h2>
                            <p>桃園站前店</p>
                        </div>
                    </a>
                    <div class="smallImg">
                        <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/storehold/index/storesmallImg4_130_280.png" alt="">
                    </div>
                </div>
                <div class="box">
                    <a href="../storehold/detail.html">
                        <div class="_img">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/storehold/index/storeImg5_875_645.jpg" alt="">
                        <span class="hoverBox"><i></i></span>
                        </div>
                        <div class="_text">
                            <h2>zhu-bei</h2>
                            <p>新竹竹北店</p>
                        </div>
                    </a>
                    <div class="smallImg">
                        <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/storehold/index/storesmallImg5_110_170.png" alt="">
                    </div>
                </div>
                <div class="box">
                    <a href="../storehold/detail.html">
                        <div class="_img">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/storehold/index/storeImg6_875_645.jpg" alt="">
                        <span class="hoverBox"><i></i></span>
                        </div>
                        <div class="_text">
                            <h2>gong-yi</h2>
                            <p>台中公益店</p>
                        </div>
                    </a>
                    <div class="smallImg">
                        <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/storehold/index/storesmallImg6_210_160.png" alt="">
                    </div>
                </div>
                <div class="box">
                    <a href="../storehold/detail.html">
                        <div class="_img">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/storehold/index/storeImg7_875_645.jpg" alt="">
                        <span class="hoverBox"><i></i></span>
                        </div>
                        <div class="_text">
                            <h2>chong-xue</h2>
                            <p>台南崇學店</p>
                        </div>
                    </a>
                    <div class="smallImg">
                        <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/storehold/index/storesmallImg7_140_250.png" alt="">
                    </div>
                </div>
                <div class="box">
                    <a href="../storehold/detail.html">
                        <div class="_img">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/storehold/index/storeImg8_875_645.jpg" alt="">
                            <span class="hoverBox"><i></i></span>
                        </div>
                        <div class="_text">
                            <h2>yu-cheng</h2>
                            <p>高雄裕誠店</p>
                        </div>
                        
                    </a>
                    <div class="smallImg">
                        <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/storehold/index/storesmallImg8_110_210.png" alt="">
                    </div>
                </div>
                <div class="box">
                    <a href="../storehold/detail.html">
                        <div class="_img">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/storehold/index/storeImg9_875_645.jpg" alt="">
                            <span class="hoverBox"><i></i></span>
                        </div>
                        <div class="_text">
                            <h2>wen-hen</h2>
                            <p>高雄文橫店</p>
                        </div>
                        
                    </a>
                    <div class="smallImg">
                        <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/storehold/index/storesmallImg9_240_230.png" alt="">
                    </div>
                </div>
            </section>
        </article>
        <article class="cover">
            <section class="cover2"></section>
        </article>
    </main>
    <footer></footer>
</body>
<script src="../../assets/js/style.js"></script>

</html>