#home.index main section._title
    flex-direction: column
    +title
    

#home.index .banner
        position: relative
        height: 100vh
        overflow: hidden
        z-index: 1
        @media all and (max-width: 1024px)
            height: calc(100vh - 50px) 
        &.white
            ._slick 
                .slick-dots li
                    &.slick-active
                        border: 2px solid #fff
                    &:before
                        background-color: #fff
                .slogan
                    color: #fff
                    span
                        background-color: #fff
            .bannerScrollDown
                color: #fff
        ._slick
            position: relative
            &>ul
                .slick-dots
                    bottom: 50px
                    left: auto
                    right: 50px
                    animation: fadeIn 2s both 1s
                    @media all and (max-width: 700px)
                        flex-direction: column
                        right: 0
                        bottom: 20px
                    li
                        border: 2px solid transparent
                        @media all and (max-width: 700px)
                            margin: 10px !important
                        &.slick-active
                            border: 2px solid #000
                        &:before
                            +fakeLine(100%,100%,#000)
                li
                    position: relative
                    &.up
                        .slogan
                            .type 
                                animation: fadeOutUp .6s both 
                            h5
                                animation: fadeOutUp .8s both 
                            p
                                animation: fadeOutUp .6s both 
                    &.down
                        .slogan
                            .type 
                                animation: fadeInUp .8s both
                            h5
                                animation: fadeInUp 1s both .2s
                            p
                                animation: fadeInUp .8s both .2s
                    picture
                        height: 100vh
                        +flex-center
                        overflow: hidden
                        @media all and (max-width: 1024px)
                            height: calc(100vh - 50px)
                        img
                            @media all and (min-width: 1921px)
                                width: 100%
                            @media all and (max-aspect-ratio: 1505/800) and (min-width: 1025px)
                                height: 100%
                                max-width: none
                            @media all and (max-aspect-ratio: 585/800) and (max-width: 1024px)
                                height: 100%
                                max-width: none
                    .slogan
                        position: absolute
                        top: calc(50% + 9.25vh)
                        left: 5.7vw
                        padding: 0 90px
                        max-width: 720px
                        width: 94.3vw
                        transform: translateY(-50%)
                        +flex-left
                        overflow: hidden
                        transition: all 1s ease .1s
                        @media all and (min-width: 1921px)
                            left: 110px
                        @media all and (max-width: 1440px)
                            padding: 0 50px
                        @media all and (max-width: 700px)
                            padding: 0 5vw
                            top: 50%
                        &.right
                            align-items: flex-end
                            text-align: right
                            left: auto
                            right: 5.7vw
                        h6
                            font-size: px(20)
                            animation: fadeInUp 1s both .2s
                            @media all and (max-width: 1440px)
                                font-size: px(18)
                            @media all and (max-width: 1300px)
                                font-size: px(16)
                        span
                            margin: 5px 0 15px
                            width: 0
                            display: block
                            height: 3px
                            background-color: #000
                            animation: w100 0.6s both .4s
                            transition: all 1s ease 0.1s
                        h5
                            font-size: px(80)
                            line-height: 1.2
                            animation: fadeInLeft 1.2s both .4s
                            @media all and (max-width: 1440px)
                                font-size: px(60)
                            @media all and (max-width: 1300px)
                                font-size: px(50)
                            @media all and (max-width: 400px)
                                font-size: px(40)
                        p
                            font-size: px(22)
                            margin-top: 10px
                            animation: fadeInUp 1s both .8s
                            @media all and (max-width: 1440px)
                                font-size: px(20)
                            @media all and (max-width: 1300px)
                                font-size: px(18)
                            @media all and (max-width: 400px)
                                font-size: px(16)
        .bannerScrollDown
            position: absolute
            bottom: 45px
            left: 50%
            transform: translateX(-50%)
            +flex-center
            flex-direction: column
            cursor: pointer
            transition: all .8s ease
            @media all and (max-width: 700px)
                bottom: 20px
            span
                animation: fadeInDown 2s both 1.1s
            p
                margin-bottom: 10px
                font-size: px(14)
                animation: fadeInDown 2s both 1s
                @media all and (max-width: 700px)
                    margin-bottom: 5px
                    font-size: px(12)

#home.index .news
    padding: 110px 50px 150px
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    opacity: 0
    @media all and (max-width: 1024px)
        padding: 110px 5vw 150px
    @media all and (max-width: 700px)
        padding: 100px 5vw
    &.b-loaded
        animation: fadeIn .6s both 
    ._title
        +flex-center
    ._slick
        margin: 65px auto 0
        max-width: 1480px
        @media all and (max-width: 700px)
            margin: 40px auto 0

#home.index .living
    padding: 100px 50px 150px
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    opacity: 0
    @media all and (max-width: 1024px)
        padding: 100px 5vw
    &.b-loaded
        animation: fadeIn .6s both 
    ._title
        .words
            margin: 35px auto 0
            max-width: 360px
    .content
        max-width: 1225px
        margin: 40px auto 0
        ul
            display: flex
            flex-wrap: wrap
            li
                max-width: 300px
                width: calc(25% - 6px)
                margin: 0 3px 6px
                position: relative
                overflow: hidden
                height: 290px
                @media all and (max-width: 1575px)
                    height: calc(24.16vw - 94px)
                @media all and (max-width: 1024px)
                    width: calc(33.33% - 6px)
                    height: calc(32.219vw - 40px)
                @media all and (max-width: 700px)
                    width: calc(50% - 6px)
                    height: calc(48.33vw - 26px)
                &.fb:before
                    background-color: #537f9d
                    content: "\e903"
                &.ig:before
                    background-color: #ae4a3d
                    content: "\e904"
                &.hasVideo:hover 
                    a
                        background-color: #000
                    img
                        opacity: 0.25
                    &:after
                        transform: translate(-50%,-50%) scale(1)
                        opacity: 1
                        transition: all .4s ease .1s
                &:hover
                    figure img
                        transform: scale(1.05)
                    &:before
                        height: 70px
                        @media all and (max-width: 700px)
                            height: 50px
                &.Down.show.in 
                    &:before
                        animation: fadeInDown .8s both .6s
                    a
                        animation: slideInDown 1s both .2s
                &.Up.show.in 
                    &:before
                        animation: fadeInUp .8s both .6s
                    a
                        animation: slideInUp 1s both .2s
                &.Left.show.in
                    &:before
                        animation: fadeInLeft .8s both .6s
                    a
                        animation: slideInLeft 1s both .2s
                &.Right.show.in 
                    &:before
                        animation: fadeInRight .8s both .6s
                    a
                        animation: slideInRight 1s both .2s
                a
                    width: 100%
                    height: 100%
                    display: block
                    transform: translateY(101%)
                figure
                    overflow: hidden
                    img
                        transition: opacity .4s ease,transform .8s ease
                &:before
                    font-family: 'icomoon'
                    +flex-center
                    width: 60px
                    height: 45px
                    position: absolute
                    bottom: calc(100% - 70px)
                    right: 0
                    color: #fff
                    font-size: px(20)
                    z-index: 1
                    transition: all .5s ease
                    opacity: 0
                    @media all and (max-width: 700px)
                        width: 40px
                        height: 30px
                        font-size: px(16)
                        bottom: calc(100% - 50px)
                &:after
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%,-50%) scale(0.5)
                    font-family: 'icomoon'
                    +fakeLine(35px,40px,#fff)
                    content: "\ea1c"
                    +flex-center
                    border-radius: 50%
                    padding: 0 0 0 5px
                    opacity: 0
                    transition: all .4s ease


#home.index .dishes
    section
        display: flex
        overflow: hidden
        @media all and(max-width: 840px)
            flex-direction: column !important
        &:nth-child(odd)
            ._title b
                left: 0px
                transform: rotateY(180deg) 
                @media all and (max-width: 840px)
                    left: calc(50% - 15px)
                    transform: rotateY(0) 
            @media all and (min-width: 841px)
                .big
                    transform: scale(1.2) translate(20%,0)
                    &:after
                        left: 0
                &.show
                    ._title b
                        left: -20px
        &:nth-child(even)
            ._title b
                right: 0
                @media all and (max-width: 840px)
                    right: calc(50% - 15px)
            
            @media all and (min-width: 841px)
                .big
                    transform: scale(1.2) translate(-20%,0)
                    &:after
                        right: 0
                &.show
                    ._title b
                        right: -20px
        &.show
            ._title 
                ul li.active
                    letter-spacing: 4px
                    opacity: 1
                @media all and (max-width: 840px)
                    b
                        bottom: -15px
            .big
                opacity: 1
                transform: scale(1) translate(0,0)
                transition: width 1.3s cubic-bezier(.45, .05, .3, .93), transform 1.3s cubic-bezier(.45, .05, .3, .93)
                &:after
                    @media all and (min-width: 841px)
                        width: 0
                    @media all and (max-width: 840px)
                        height: 0
        ._title
            color: #fff
            +flex-center
            position: relative
            text-align: center
            z-index: 1
            &>div
                padding: 30px 10px
                max-height: 100%
                width: 100%
                @media all and (max-width: 1024px)
                    padding: 40px 10px 30px
            .ch
                +title_ch
                font-weight: normal
            .en
                +title_en
                @media all and (max-width: 1279px) and (min-width: 1025px)
                    font-size: px(24)
                &:after
                    background-color: #fff
            ul
                margin: 40px 0 0 
                li
                    transition: all .4s ease
                    opacity: .5
                    &:not(:last-child)
                        margin-bottom: 35px
                        @media all and (max-width: 1366px)
                            margin-bottom: 25px
                        @media all and (max-width: 840px)
                            margin-bottom: 0
                    &.slick-center
                        opacity: 1
                    p
                        font-size: px(20)
                        @media all and (max-width: 1366px)
                            font-size: px(18)
                        @media all and (max-width: 1279px)
                            font-size: px(16)
                    span
                        font-size: px(16)
                        opacity: 0.7
                        @media all and (max-width: 1366px)
                            font-size: px(14)
                        @media all and (max-width: 1279px)
                            font-size: px(12)
            b
                position: absolute
                z-index: 1
                top: 50%
                width: 0
                height: 0
                border-style: solid
                border-width: 17.5px 0 17.5px 20px
                transition: all 1s ease
                @media all and (max-width: 840px)
                    border-width: 15px 15px 0 15px
                    top: auto
                    bottom: 0
        .big
            width: 50%
            position: relative
            overflow: hidden
            font-size: 0
            opacity: 0
            will-change: transform, width
            @media all and (max-width: 840px)
                transform: scale(1.2) translate(0,-20%)
            &:after
                +fakeLine(101%,101%,#fff)
                position: absolute
                top: 0
                transition: all 1.3s cubic-bezier(.45, .05, .3, .93) 
                @media all and (max-width: 840px)
                    left: 0
                    bottom: -1px
                    top: auto
            img
                width: 100%
                height: 100%
                @media all and (min-width: 841px)
                    position: absolute
                    top: 0
                    left: 0
                    animation-duration: .4s 
                    animation-name: fadeIn
                    animation-fill-mode: both 
    .type1
        &>*
            height: calc(41.66vw - 111.25px)
            @media all and(max-width: 1024px)
                height: 41.66vw
            @media all and(max-width: 840px)
                height: auto
                width: 100% !important
        ._title
            width: 24.5%
            order: 2
            @media all and(max-width: 840px)
                order: 1
        .small
            width: 25.5%
            order: 3
            @media all and(max-width: 840px)
                display: none
            img
                height: 100%
        .big
            order: 1
            @media all and(max-width: 840px)
                order: 2
        &:nth-child(even)
            flex-direction: row-reverse
    .type2
        &>*
            height: calc(27.97vw - 74px)
            @media all and(max-width: 1024px)
                height: 27.97vw
            @media all and(max-width: 840px)
                height: auto 
                width: 100% !important
        ._title
            width: 50%
        &:nth-child(odd)
            flex-direction: row-reverse


#home.index .explore
    padding: 120px 30px 150px
    @media all and (max-width: 1024px)
        padding: 120px 5vw 150px
    @media all and (max-width: 400px)
        padding: 120px 5vw 100px
    .masonry
        max-width: 1440px
        width: 100%
        margin: 50px auto 0
        .grid-sizer
            width: 25%
            @media all and (max-width: 800px)
                width: 50%
        .big,.middle,.small
            @media all and (max-width: 400px)
                &:not(:last-child)
                    padding: 0 0 45px
            &.show.in
                a:before
                    animation: slideOutDown 1s both
        .big,.middle
            width: 50%
            @media all and (max-width: 800px)
                width: 100%
        .big
            figure
                height: 700px
                @media all and (max-width: 1750px)
                    height: calc(48.61vw - 158px)
                @media all and (max-width: 1024px)
                    height: 43.75vw
                @media all and (max-width: 800px)
                    height: 87.5vw
                @media all and (max-width: 400px)
                    height: auto
        .middle
            margin-bottom: 1px
            figure
                height: 300px
                @media all and (max-width: 1750px)
                    height: calc(20.83vw - 68.125px)
                @media all and (max-width: 1024px)
                    height: 18.75vw
                @media all and (max-width: 800px)
                    height: 37.5vw
                @media all and (max-width: 400px)
                    height: auto
        .small
            width: 25%
            @media all and (max-width: 800px)
                width: 50%
            @media all and (max-width: 400px)
                width: 100%
            figure
                height: 500px
                @media all and (max-width: 1750px)
                    height: calc(34.72vw - 113px)
                @media all and (max-width: 1024px)
                    height: 31.25vw
                @media all and (max-width: 800px)
                    height: 62.5vw
                @media all and (max-width: 400px)
                    height: auto
        
        a
            position: relative
            display: block
            overflow: hidden
            &:hover figure img
                @media all and (min-width: 1025px)
                    transform: scale(1.09) translate(-50%,-50%)
            &:before
                +fakeLine(100%,100%,#fff)
                position: absolute
                top: 0
                left: 0
                z-index: 1
            &:after
                position: absolute
                top: 0
                left: 0
                +fakeLine(101%,101%,transparent)
                border: 20px solid #fff
                box-sizing: border-box
                @media all and (max-width: 1440px)
                    border: 10px solid #fff
                @media all and (max-width: 1280px)
                    border: 5px solid #fff
                @media all and (max-width: 400px)
                    display: none
            figure
                overflow: hidden
                position: relative
                @media all and (max-width: 400px)
                    +flex-center
                    margin-top: 5px
                img
                    transition: all 1s ease
                    transform-origin: 0 0
                    @media all and (min-width: 401px)
                        position: absolute
                        top: 50%
                        left: 50%
                        transform: translate(-50%,-50%)
                &.widthNot img
                    width: 100%
                    height: auto
                &.heightNot img
                    height: 100%
                    max-width: none
                    width: auto
            ._text
                position: absolute
                padding: 60px
                text-shadow: 0 0 20px rgba(255,255,255,.5) 
                @media all and (max-width: 1440px)
                    padding: 40px
                @media all and (max-width: 1280px) 
                    padding: 25px
                @media all and (max-width: 400px) 
                    padding: 5px
                    position: relative
                    top: auto !important
                    bottom: auto !important
                    left: auto !important
                    right: auto !important
                    text-align: center !important
                    padding: 15px 5px
                    &.white
                        color: #000 !important
                        text-shadow: none !important
                        .type:after
                            background-color: #000 !important
                    .type
                        &:after
                            margin-right: auto !important
                            margin-left: auto !important
                .type
                    font-size: px(15)
                    &:after
                        margin: 10px 0  5px
                        +fakeLine(17px,1px,#000)
                .en
                    font-size: px(28)
                    @media all and (max-width: 1440px)
                        font-size: px(24)
                .ch
                    font-size: px(18)
                    @media all and (max-width: 1440px)
                        font-size: px(16)
                &.white
                    color: #fff
                    text-shadow: 0 0 20px rgba(0,0,0,.5) 
                    .type:after
                        background-color: #fff
                &.leftDown
                    left: 0
                    bottom: 0
                &.rightDown
                    right: 0
                    bottom: 0
                    text-align: right
                    .type:after
                        margin-right: 0
                        margin-left: auto
                &.leftUp
                    left: 0
                    top: 0
                &.rightUp
                    right: 0
                    top: 0
                    text-align: right
                    .type:after
                        margin-right: 0
                        margin-left: auto
#home.index .member
    padding: 0 0 150px
    @media all and (max-width: 1150px) and (min-width: 1025px)
        padding: 0 
    @media all and (max-width: 900px)
        padding: 0 
    ._title
        width: 100%
        padding: 160px 90px 200px
        background-position: center
        background-size: cover
        background-repeat: no-repeat
        background-attachment: fixed
        opacity: 0
        @media screen\0 
            background-attachment: scroll
        @media \0screen\,screen\9 
            background-attachment: scroll
        @media all and (max-width: 1440px)
            padding: 120px 50px 160px
        @media all and (max-width: 1279px) and (min-width: 1025px)
            padding: 120px 30px 140px
        @media all and (max-width: 900px) 
            padding: 100px 30px
            min-height: 350px
            +flex-center
        &.b-loaded.show
            animation: fadeIn 1s both 
        ._text
            width: 50%
            @media all and (max-width: 1279px) and (min-width: 1025px)
                padding: 0 20px
            @media all and (max-width: 900px) 
                width: 100%
            .words
                max-width: 400px
                margin: 35px auto 0
                letter-spacing: 0.5px
    .content
        position: relative
        .row
            display: flex
            @media all and (max-width: 1150px) and (min-width: 1025px)
                flex-direction: column !important
            @media all and (max-width: 900px)
                flex-direction: column !important
            figure
                width: calc(50% + 65px)
                max-width: 900px
                position: relative
                overflow: hidden
                @media all and (min-width: 1921px)
                    height: 535px
                @media all and (max-width: 1920px)
                    height: calc(29.72vw - 40px)
                @media all and (max-width: 1150px) and (min-width: 1025px)
                    width: 100%
                    height: calc(59.44vw - 148px)
                @media all and (max-width: 1024px)
                    height: 59.44vw
                @media all and (max-width: 900px)
                    width: 100%
                &:after
                    transition: all 1s ease 
                    position: absolute
                    top: -1px
                    +fakeLine(200%,101%,#d9d9d9)
            ._text
                width: calc(50% - 65px)
                +flex-center
                background-size: cover
                background-repeat: no-repeat
                background-position: center
                @media all and (min-width: 1921px)
                    width: calc(100% - 900px)
                @media all and (max-width: 1150px) and (min-width: 1025px)
                    width: 100%
                @media all and (max-width: 900px)
                    width: 100%
                &.show
                    @media all and (min-width: 1151px)
                        h6
                            animation: fadeInUp 1s both .6s
                        .ch
                            animation: fadeInUp 1s both .4s
                        .en
                            animation: fadeInUp 1s both .4s
                        ul
                            animation: fadeInUp 1.5s both .2s
                    @media all and (max-width: 1150px)
                        h6
                            animation: fadeInUp 1s both
                        .ch
                            animation: fadeInUp 1s both .2s
                        .en
                            animation: fadeInUp 1s both .2s
                        ul
                            animation: fadeInUp 1.5s both .4s
                &>div
                    +flex-left
                    max-width: 100%
                    padding: 30px 30px 20px
                    @media all and (max-width: 1150px) and (min-width: 1025px)
                        padding: 30px 30px 80px
                    @media all and (max-width: 1024px) and (min-width: 901px)
                        padding: 20px 10px 10px 20px
                    @media all and (max-width: 900px)
                        width: auto
                        padding: 20px 5vw 70px
                    &>*
                        opacity: 0
                h6,.ch,.en
                    padding: 0 45px
                    @media all and (max-width: 1600px)
                        padding: 0 25px
                    @media all and (max-width: 700px)
                        padding: 0 10px
                h6
                    font-size: px(15)
                    &:after
                        +fakeLine(0px,1px,#666666)
                        margin: 10px 0 5px
                .ch
                    font-size: px(28)
                    @media all and (max-width: 1440px)
                        font-size: px(24)
                .en
                    font-size: px(18)
                    @media all and (max-width: 1440px)
                        font-size: px(16)
                ul
                    display: flex
                    margin: 60px 0 0
                    max-width: 100%
                    padding: 0 0 10px
                    @media all and (max-width: 1440px)
                        margin: 40px 0 0 
                    @media all and (max-width: 700px)
                        margin: 40px 0 0 -15px
                        max-width: calc(100% + 15px + 5vw)
                    
                    li 
                        position: relative
                        display: flex
                        align-items: center
                        &:not(:first-child)
                            &:before
                                position: absolute
                                top: 50%
                                left: 0
                                transform: translateY(-50%)
                                +fakeLine(1px,50px,#cacaca)
                        a
                            +flex-center
                            flex-direction: column
                            padding: 0 40px
                            @media all and (max-width: 1600px)
                                padding: 0 20px
                            &:hover
                                span
                                    color: $base_gold
                                    img
                                        &:first-child:not(:last-child)
                                            opacity: 0
                                        &:last-child:not(:first-child)
                                            opacity: 1
                                p
                                    color: #000
                        span
                            font-size: px(40)
                            color: #a8a8a8
                            margin-bottom: 15px
                            position: relative
                            transition: all .4s ease
                            @media all and (max-width: 1440px)
                                font-size: px(36)
                            @media all and (max-width: 1024px)
                                color: $base_gold
                            @media all and (max-width: 1024px) and (min-width: 901px)
                                margin-bottom: 5px
                            @media all and (max-width: 700px)
                                font-size: px(32)
                                margin-bottom: 8px
                            img
                                transition: all .4s ease
                                &:last-child:not(:first-child)
                                    position: absolute
                                    top: 0
                                    left: 0
                                    opacity: 0
                        p
                            color: #9d9d9d
                            font-size: px(16)
                            white-space: nowrap
                            transition: all .4s ease
                            @media all and (max-width: 1024px)
                                color: #000
                            @media all and (max-width: 700px)
                                font-size: px(14)
            &:nth-child(odd)
                margin-top: -40px
                @media all and (max-width: 900px)
                    margin-top: 0
                figure:after
                    left: -1px
                    transform: skewX(30deg) translateX(-20%)
                figure.show.in:after
                    transform: skewX(30deg) translateX(80%)
                ._text
                    margin-top: 40px
                    @media all and (max-width: 1150px) and (min-width: 1025px)
                        margin-top: 0
                    @media all and (max-width: 900px)
                        margin-top: 0
            &:nth-child(even)
                flex-direction: row-reverse
                figure:after
                    right: -1px
                    transform: skewX(-30deg) translateX(20%)
                figure.show.in:after
                    transform: skewX(-30deg) translateX(-80%)
                ._text
                    padding: 0 0 0 1vw
                    margin-bottom: 40px
                    @media all and (min-width: 1921px)
                        padding: 0 0 0 40px
                    @media all and (max-width: 1150px) and (min-width: 1025px)
                        margin-bottom: 0
                    @media all and (max-width: 900px)
                        margin-bottom: 0