<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <meta name="format-detection" content="telephone=no">
    <title>PAPILLON</title>
    <!--[if lt IE 9]><script src="../../assets/js/vendor/html5shiv-master/html5shiv.js"></script><![endif]-->
    <!--讓ie9以下看懂html5標籤-->
    <!-- icon -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/img/ico/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/ico/favicon.png">
    <link rel="icon" type="image/x-icon" href="../../assets/img/ico/favicon.png">
    <!-- 共用CSS -->
    <!-- <link rel="stylesheet" href="../../assets/css/icon-style.css"> -->
    <link rel="stylesheet" href="../../assets/js/vendor/cgpagechange/cgpagechange.css">
    <link rel="stylesheet" href="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="../../assets/js/vendor/slick/slick.css">
    <link rel="stylesheet" href="../../assets/js/vendor/slick/slick-theme.css">
    <!-- 共用CSS end-->
    <!-- 非共用CSS -->
    <!-- 非共用CSS end-->
    <link rel="stylesheet" href="../../assets/css/product.css">
</head>

<body id="product" class="index">
    <header>
    </header>
    <main>
        <!-- 產品標題 -->
        <article class="product_title">
            <h2>WEDDING RING</h2>
            <p>婚戒</p>
        </article>
        <!-- 上方主要廣告 -->
        <article class="content">
            <div class="topAd">
                <!-- <a href="../product/product_inf.html"> -->
                <!-- 後端請注意:此處要讓客戶是否要放youtube網址 -->
                <a href="https://www.youtube.com/?gl=TW&hl=zh-tw" target="_blank">
                    <div class="topAd_img">
                        <img src="../../upload/f2e/product/topAdImg_1500_670.jpg" alt="">
                        <!-- 後端請注意:如果有影片連結的話請在span加上class="_video" -->
                        <span class="icon-play _video"></span>
                    </div>
                    <!-- 文字位置 有四種 分別是 左上left_top , 右上right_top , 左下left_down ,右下right_down -->
                    <!-- 文字的顏色 需要讓客戶可以自填 style="color:;"-->
                    <div class="topAd_text left_down" style="color: #fff;">
                        <h2>ETERNAL LOVE</h2>
                        <p>見證屬於我們兩人的
                            <br> 璀璨愛情誓約
                        </p>
                    </div>
                </a>
            </div>
            <!-- 產品 -->
            <div class="products grid">
                <!-- type1:大圖配小圖 -->
                <div class="type1 grid-item">
                    <a href="../product/product_series.html">
                        <div class="type1_bigImg">
                            <!-- 大圖 --><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/product/type1_bigImg_800_810.jpg" alt="">
                            <!-- 後端請注意:如果有影片連結的話請在span加上class="_video" -->
                            <span class="icon-play"></span>
                        </div>
                        <!-- 小圖位置 有兩種 分別是 左left , 右right -->
                        <div class="type1_smallImg left">
                            <!-- 小圖 --><img src="../../upload/f2e/product/type1_smallImg_280_280.jpg" alt="">
                        </div>
                        <!-- 文字位置 有四種 分別是 左上left_top , 右上right_top , 左下left_down ,右下right_down -->
                        <div class="_text left_top" style="color: #fff">
                            <h2>BRILLIANT DEBUT</h2>
                            <p>2017 秋冬新款</p>
                        </div>
                    </a>
                </div>
                <!-- type2:只有小圖 -->
                <div class="type2 grid-item">
                    <a href="javascript:void(0);">
                        <div class="type2_img">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/product/type2_img1_800_410.jpg" alt="">
                            <!-- 後端請注意:如果有影片連結的話請在span加上class="_video" -->
                            <span class="icon-play"></span>
                        </div>
                        <!-- 文字位置 有四種 分別是 左上left_top , 右上right_top , 左下left_down ,右下right_down -->
                        <div class="_text right_top" style="color: #fff">
                            <h2>Cherish life</h2>
                            <p>珍愛一生</p>
                        </div>
                    </a>
                </div>
                <!-- type2:只有小圖 -->
                <div class="type2 grid-item">
                    <a href="javascript:void(0);">
                        <div class="type2_img">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/product/type2_img2_800_410.jpg" alt="">
                            <!-- 後端請注意:如果有影片連結的話請在span加上class="_video" -->
                            <span class="icon-play"></span>
                        </div>
                        <!-- 文字位置 有四種 分別是 左上left_top , 右上right_top , 左下left_down ,右下right_down -->
                        <div class="_text right_down" style="color: #000">
                            <h2>Artistic impact</h2>
                            <p>古典。現代</p>
                        </div>
                    </a>
                </div>
                <!-- type3:只有大圖 -->
                <div class="type3 grid-item">
                    <a href="javascript:void(0);">
                        <div class="type3_img">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/product/type3_img_800_900.jg.jpg" alt="">
                            <!-- 後端請注意:如果有影片連結的話請在span加上class="_video" -->
                            <span class="icon-play"></span>
                        </div>
                        <!-- 文字位置 有四種 分別是 左上left_top , 右上right_top , 左下left_down ,右下right_down -->
                        <div class="_text left_down" style="color: #000">
                            <h2>CLASSICAL ART</h2>
                            <p>新古典藝術
                                <br> 與現代藝術的交織
                            </p>
                        </div>
                    </a>
                </div>
                <!-- type1:大圖配小圖 -->
                <div class="type1 grid-item">
                    <a href="javascript:void(0);">
                        <div class="type1_bigImg">
                            <!-- 大圖 --><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/product/type1_bigImg2_800_810.jpg" alt="">
                            <!-- 後端請注意:如果有影片連結的話請在span加上class="_video" -->
                            <span class="icon-play"></span>
                        </div>
                        <div class="type1_smallImg right">
                            <!-- 小圖 --><img src="../../upload/f2e/product/type1_smallImg2_280_280.jpg" alt="">
                        </div>
                        <!-- 文字位置 有四種 分別是 左上left_top , 右上right_top , 左下left_down ,右下right_down -->
                        <div class="_text right_top" style="color: #000">
                            <h2>BRILLIANT DEBUT</h2>
                            <p>2017 秋冬新款</p>
                        </div>
                    </a>
                </div>
            </div>
        </article>
    </main>
    <footer>
    </footer>
    <!-- 共用 -->
    <script src="../../assets/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="../../assets/js/vendor/jquery.easings.min.js"></script>
    <script src="../../assets/js/vendor/cgpagechange/cgpagechange.js"></script>
    <script src="../../assets/js/vendor/waypoints/waypoints.min.js"></script>
    <script src="../../assets/js/vendor/blazy/blazy.min.js"></script>
    <script src="../../assets/js/vendor/jquery.nicescroll/jquery.nicescroll.js"></script>
    <script src="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.js"></script>
    <!-- 共用end -->
    <!-- 非共用 -->
    <script src="../../assets/js/vendor/masonry/masonry.pkgd.min.js"></script>
    <!-- 非共用end-->
    <script src="../../assets/js/main.js"></script>
</body>

</html>