<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <meta name="format-detection" content="telephone=no">
    <title>PAPILLON</title>
    <!--[if lt IE 9]><script src="../../assets/js/vendor/html5shiv-master/html5shiv.js"></script><![endif]-->
    <!--讓ie9以下看懂html5標籤-->
    <!-- icon -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/img/ico/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/ico/favicon.png">
    <link rel="icon" type="image/x-icon" href="../../assets/img/ico/favicon.png">
    <!-- 共用CSS -->
    <!-- <link rel="stylesheet" href="../../assets/css/icon-style.css"> -->
    <link rel="stylesheet" href="../../assets/js/vendor/cgpagechange/cgpagechange.css">
    <link rel="stylesheet" href="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="../../assets/js/vendor/slick/slick.css">
    <link rel="stylesheet" href="../../assets/js/vendor/slick/slick-theme.css">
    <!-- 共用CSS end-->
    <!-- 非共用CSS -->
    <!-- 非共用CSS end-->
    <link rel="stylesheet" href="../../assets/css/product_inf.css">
</head>
<!-- 後端請注意:如果有尺寸的話請在body加上class="hasSize" -->
<!-- 後端請注意:如果沒有貨的話請在body加上class="out" -->

<body id="product" class="productInf hasSize">
    <header>
    </header>
    <main>
        <article class="top_nav">
            <!-- 商品分類 -->
            <div class="series">
                <span><a href="../product/index.html">婚戒</a></span>
                <span><a href="../product/product_series.html">鑽石戒指</a></span>
                <!-- 最後一個span不用加a連結 -->
                <span>愛在巴塞隆納系列</span>
            </div>
            <!-- 回到上一頁按鈕 -->
            <div class="_back" onclick="history.back()">
                <span></span>
                <p>BACK</p>
            </div>
        </article>
        <!-- 產品簡略資訊 -->
        <article class="product_inf">
            <div class="_slick">
                <ul>
                    <li>
                        <div class="_slick_img">
                            <img src="../../upload/f2e/product/product_inf/inf_slick_img1_800_730.jpg" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="_slick_img">
                            <img src="../../upload/f2e/product/product_inf/inf_slick_img1_800_730.jpg" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="_slick_img">
                            <img src="../../upload/f2e/product/product_inf/inf_slick_img2_800_730.jpg" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="_slick_img">
                            <img src="../../upload/f2e/product/product_inf/inf_slick_img1_800_730.jpg" alt="">
                        </div>
                    </li>
                </ul>
                <div class="_arrow">
                    <span class="icon-slick-arrow-left"></span>
                    <span class="icon-slick-arrow-right"></span>
                </div>
                <!-- slick頁數 -->
                <div class="slick_page">
                    <p><span>1</span><span> / </span><span></span></p>
                </div>
            </div>
            <div class="_text_bg">
                <div class="_text">
                    <!-- 批號 -->
                    <p class="_number">DR5272</p>
                    <div class="_title">
                        <h3>Love Barcelona</h3>
                        <h2>愛在巴塞隆納系列</h2>
                    </div>
                    <div class="socialMedia">
                        <p>SHARE</p>
                        <!-- facebook 後端請加連結-->
                        <a href="">
                        <span class="icon-facebook"></span>
                        </a>
                        <!-- twitter 後端請加連結-->
                        <a href="">
                        <span class="icon-twitter"></span>
                        </a>
                    </div>
                    <!-- 材質 -->
                    <div class="material">
                        <p>鉑金，鑽石</p>
                    </div>
                    <div class="seedetail">
                        <span></span>
                        <p>探索細節</p>
                    </div>

                    <!-- 後端請注意: 如果商品不必分性別 <div class="gender">   不必出現-->
                    <div class="gender">
                        <!-- 後端請注意:span裡的文字內容須由後端填入作為預設值 -->
                        <span class="selectMenu"><p>紳士</p><b></b></span>
                        <ul>
                            <li>
                                <p>紳士</p>
                            </li>
                            <li>
                                <p>女仕</p>
                            </li>
                        </ul>
                    </div>
                    <!-- 價格   後端請注意: 如果是特價 請加class: special -->
                    <ul class="price">
                        <li>
                            <h2>售價</h2>
                            <p>NT$ <span>12,000</span></p>
                        </li>
                        <li>
                            <h2>特惠價</h2>
                            <p>NT$ <span>12,000</span></p>
                        </li>
                    </ul>
                    <!-- 按鈕 -->
                    <ul class="_btn">
                        <li>
                            <button>加入購物</button>
                        </li>
                        <li>
                            <button>加入最愛</button>
                        </li>
                    </ul>
                </div>
            </div>
        </article>
        <!-- 產品詳細介紹 -->
        <article class="product_intro">
            <!-- 樣式一 -->
            <section class="type1">
                <div class="type1_box">
                    <div class="_text">
                        <h2>設計概念</h2>
                        <p>愛在巴塞隆納，帶妳穿越時空，瞬間聽見Gran Teatre del Liceu格蘭德爾利索歌劇院傳來的歌聲，在著名建築師安東尼‧高第的Palau Guell桂爾宮感受巴塞隆納的浪漫氣息。愛在巴塞隆納線戒適合任何時候配戴，並可以搭配其他鑽石戒指做造型的變化!</p>
                    </div>
                    <div class="_table">
                        <h2>精雕細琢</h2>
                        <ul>
                            <li>
                                <h3>Cut / 車工</h3>
                                <p>八心八箭完美車工</p>
                            </li>
                            <li>
                                <h3>Color / 成色</h3>
                                <p>F</p>
                            </li>
                            <li>
                                <h3>Clarity / 淨度</h3>
                                <p>VVS1</p>
                            </li>
                            <li>
                                <h3>Carat / 重量</h3>
                                <p>0.30~0.49克拉</p>
                            </li>
                            <li>
                                <h3>貴金屬材質</h3>
                                <p>K金</p>
                            </li>
                            <li>
                                <h3>寶石</h3>
                                <p>天然鑽石</p>
                            </li>
                        </ul>
                    </div>
                    <div class="_img">
                        <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/product/product_inf/type1_img_1320_580.jpg" alt="">
                    </div>
                </div>
            </section>
            <!-- 樣式二 -->
            <section class="type2">
                <div class="type2_box">
                    <div class="_text">
                        <h2>魅力引爆</h2>
                        <p>輕時尚美學，揭示著一種輕靈、精巧的風格品味，可以低調優雅，也可以獨具個性。表現在珠寶的設計上，不僅開拓了珠寶的可能性，同時，亦能展露現代都會女性與眾不同的性格與魅力。為現代都會女性量身打造一款獨具魅力的「喜悅」之美。 都會女性的真正「喜悅」是什麼？是瞭解自己的內在，是懂得寵愛自己，是敢於為自己做決定，是有能力創造屬於自己的自主生活。</p>
                    </div>
                    <div class="imgs">
                        <div class="_img1">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/product/product_inf/type2_img1_450_450.jpg" alt="">
                            <i>高品質切割鑽石</i>
                        </div>
                        <div class="_img2">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/product/product_inf/type2_img2_450_450.jpg" alt="">
                            <i>法蝶的玫瑰金是18K金</i>
                        </div>
                    </div>
                </div>
            </section>
        </article>
        <!-- 推薦商品 -->
        <article class="mayLike">
            <div class="_title">
                <h2>YOU MAY LIKE IT</h2>
                <p>您或許會喜歡</p>
            </div>
            <div class="_slick">
                <ul>
                    <li>
                        <!-- 連結到其他產品 -->
                        <a href="../product/product_inf.html">
                            <div class="_slick_img">
                                <img src="../../upload/f2e/product/product_inf/mayLike_img1_280_280.jpg">
                            </div>
                            <h2>THE HEART OF THE ROSE</h2>
                            <h3>玫瑰心情</h3>
                        </a>
                    </li>
                    <li>
                        <!-- 連結到其他產品 -->
                        <a href="../product/product_inf.html">
                            <div class="_slick_img">
                                <img src="../../upload/f2e/product/product_inf/mayLike_img2_280_280.jpg">
                            </div>
                            <h2>I BELONG TO YOU</h2>
                            <h3>我屬於你</h3></a>
                    </li>
                    <li>
                        <!-- 連結到其他產品 -->
                        <a href="../product/product_inf.html">
                            <div class="_slick_img">
                                <img src="../../upload/f2e/product/product_inf/mayLike_img3_280_280.jpg">
                            </div>
                            <h2>YOUR FAIRY TALE</h2>
                            <h3>妳的童話</h3>
                        </a>
                    </li>
                    <li>
                        <!-- 連結到其他產品 -->
                        <a href="../product/product_inf.html">
                            <div class="_slick_img">
                                <img src="../../upload/f2e/product/product_inf/mayLike_img4_280_280.jpg">
                            </div>
                            <h2>LOVE CPDE</h2>
                            <h3>愛情密語</h3>
                        </a>
                    </li>
                    <li>
                        <!-- 連結到其他產品 -->
                        <a href="../product/product_inf.html">
                            <div class="_slick_img">
                                <img src="../../upload/f2e/product/product_inf/mayLike_img1_280_280.jpg">
                            </div>
                            <h2>THE HEART OF THE ROSE</h2>
                            <h3>玫瑰心情</h3>
                        </a>
                    </li>
                    <li>
                        <!-- 連結到其他產品 -->
                        <a href="../product/product_inf.html">
                            <div class="_slick_img">
                                <img src="../../upload/f2e/product/product_inf/mayLike_img2_280_280.jpg">
                            </div>
                            <h2>I BELONG TO YOU</h2>
                            <h3>我屬於你</h3>
                        </a>
                    </li>
                    <li>
                        <!-- 連結到其他產品 -->
                        <a href="../product/product_inf.html">
                            <div class="_slick_img">
                                <img src="../../upload/f2e/product/product_inf/mayLike_img3_280_280.jpg">
                            </div>
                            <h2>YOUR FAIRY TALE</h2>
                            <h3>妳的童話</h3>
                        </a>
                    </li>
                    <li>
                        <!-- 連結到其他產品 -->
                        <a href="../product/product_inf.html">
                            <div class="_slick_img">
                                <img src="../../upload/f2e/product/product_inf/mayLike_img4_280_280.jpg">
                            </div>
                            <h2>LOVE CODE</h2>
                            <h3>愛情密語</h3>
                        </a>
                    </li>
                </ul>
                <div class="_arrow">
                    <span class="icon-slick-arrow-left"></span>
                    <span class="icon-slick-arrow-right"></span>
                </div>
            </div>
        </article>
        <!-- 幸福好評 -->
        <article class="praise">
            <div class="_title">
                <h2>HAPPY PRAISE</h2>
                <p>幸福好評</p>
            </div>
            <div class="_slick">
                <ul>
                    <li>
                        <!-- 連結到幸福好評內頁 -->
                        <a href="../witness/detail.html">
                            <div class="_slick_img">
                                <img src="../../upload/f2e/product/product_inf/praise_img1_280_280.jpg">
                                <span></span>
                            </div>
                            <p>重積 & 慧喬</p>
                        </a>
                    </li>
                    <li>
                        <!-- 連結到幸福好評內頁 -->
                        <a href="../witness/detail.html">
                            <div class="_slick_img">
                                <img src="../../upload/f2e/product/product_inf/praise_img2_280_280.jpg">
                                <span></span>
                            </div>
                            <p>堡建 & Irene</p>
                        </a>
                    </li>
                    <li>
                        <!-- 連結到幸福好評內頁 -->
                        <a href="../witness/detail.html">
                            <div class="_slick_img">
                                <img src="../../upload/f2e/product/product_inf/praise_img3_280_280.jpg">
                                <span></span>
                            </div>
                            <p>Jay & Hannah</p>
                        </a>
                    </li>
                    <li>
                        <!-- 連結到幸福好評內頁 -->
                        <a href="../witness/detail.html">
                            <div class="_slick_img">
                                <img src="../../upload/f2e/product/product_inf/praise_img4_280_280.jpg">
                                <span></span>
                            </div>
                            <p>節淪 & 崑靈</p>
                        </a>
                    </li>
                    <li>
                        <!-- 連結到幸福好評內頁 -->
                        <a href="../witness/detail.html">
                            <div class="_slick_img">
                                <img src="../../upload/f2e/product/product_inf/praise_img5_280_280.jpg">
                                <span></span>
                            </div>
                            <p>Rain & 泰熙</p>
                        </a>
                    </li>
                    <li>
                        <!-- 連結到幸福好評內頁 -->
                        <a href="../witness/detail.html">
                            <div class="_slick_img">
                                <img src="../../upload/f2e/product/product_inf/praise_img1_280_280.jpg">
                                <span></span>
                            </div>
                            <p>重積 & 慧喬</p>
                        </a>
                    </li>
                    <li>
                        <!-- 連結到幸福好評內頁 -->
                        <a href="../witness/detail.html">
                            <div class="_slick_img">
                                <img src="../../upload/f2e/product/product_inf/praise_img2_280_280.jpg">
                                <span></span>
                            </div>
                            <p>堡建 & Irene</p>
                        </a>
                    </li>
                    <li>
                        <!-- 連結到幸福好評內頁 -->
                        <a href="../witness/detail.html">
                            <div class="_slick_img">
                                <img src="../../upload/f2e/product/product_inf/praise_img3_280_280.jpg">
                                <span></span>
                            </div>
                            <p>Jay & Hannah</p>
                        </a>
                    </li>
                    <li>
                        <!-- 連結到幸福好評內頁 -->
                        <a href="../witness/detail.html">
                            <div class="_slick_img">
                                <img src="../../upload/f2e/product/product_inf/praise_img4_280_280.jpg">
                                <span></span>
                            </div>
                            <p>節淪 & 崑靈</p>
                        </a>
                    </li>
                    <li>
                        <!-- 連結到幸福好評內頁 -->
                        <a href="../witness/detail.html">
                            <div class="_slick_img">
                                <img src="../../upload/f2e/product/product_inf/praise_img5_280_280.jpg">
                                <span></span>
                            </div>
                            <p>Rain & 泰熙</p>
                        </a>
                    </li>
                </ul>
                <div class="_arrow">
                    <span class="icon-slick-arrow-left"></span>
                    <span class="icon-slick-arrow-right"></span>
                </div>
            </div>
        </article>
        <!-- 後端請注意:如果沒有貨的話請在body加上class="out" -->
        <!-- 沒有貨燈箱 -->
        <article class="_libox">
            <div class="workbox_bg">
                <div class="workbox">
                    <div class="_title">
                        <h2>INFORMATION</h2>
                        <p>商品訊息</p>
                    </div>
                    <div class="_text">
                        <p>親愛的顧客您好，目前商品並無現貨，如果您仍有商品需求，並且願意等候商品訂製時間，歡迎加入法蝶珠寶Line生活圈與我們聯繫，請掃描或點擊下方 QR code 加入我們，法蝶珠寶感謝您。</p>
                    </div>
                    <div class="QRcode">
                        <!-- line連結 -->
                        <!-- 請後端填上連結 -->
                        <a href="javascript:void(0);">
                    <img src="../../upload/f2e/product/product_inf/QRcode.jpg" alt="">
                    </a>
                    </div>
                    <button class="close">
                        已經了解商品訊息
                    </button>
                </div>
            </div>
        </article>
        <!-- 後端請注意:如果有尺寸的話請在body加上class="hasSize" -->
        <!-- 選擇尺寸燈箱 -->
        <article class="sizeLibox">
            <div class="_content">
                <div class="_close">
                    <p>CLOSE</p>
                </div>
                <div class="_title">
                    <h2>SELECT SIZE</h2>
                    <p>商品尺寸</p>
                </div>
                <div class="changBtn" id="changBtn">
                    <ul>
                        <li>
                            選擇尺寸
                        </li>
                        <li>
                            尺寸說明
                        </li>
                    </ul>
                </div>
                <section class="selectSize">
                    <div class="_text">
                        <p>親愛的顧客，您可已從下幫的尺寸表，選擇適合您的尺寸，如果您不知道要如何選擇，可以透過戒圍說明瞭解適合您的尺寸。</p>
                    </div>
                    <div class="sizechoice">
                        <ul>
                            <!-- 後端請注意:有可能會有尺寸沒貨的情形 在那個尺寸所屬的li 加上class="noproduct"-->
                            <li>4</li>
                            <li class="noproduct">5</li>
                            <li>6</li>
                            <li class="noproduct">7</li>
                            <li>8</li>
                            <li>9</li>
                            <li>10</li>
                            <li>11</li>
                            <li>12</li>
                            <li>13</li>
                            <li class="noproduct">14</li>
                            <li>15</li>
                            <li>16</li>
                            <li>17</li>
                            <li>18</li>
                            <li>19</li>
                            <li>20</li>
                            <li>21</li>
                            <li>22</li>
                        </ul>
                    </div>
                    <div class="_btn">
                        <div class="hiddenMessage">
                            <p>您選擇了尺寸　<span></span></p>
                            <p>您尚未選擇尺寸</p>
                        </div>
                        <ul>
                            <li>
                                <button class="reduce"></button>
                                <p>購買數量</p>
                                <button class="add"></button>
                            </li>
                            <li>
                                <button>加入購物</button>
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="sizeDescription">
                    <div class="_text">
                        <p>法蝶珠寶使用的是國際圍，在選購戒指時可透過下表確認您的指圍；若您不知道所需戒圍的大小，可自行測量指圍周長，對照下表找到您對應的「國際圍」。
                            <br>
                            <br>你可以將平常戴的戒指用尺量出內圍直徑是幾公分。
                            <br>※依照下圖標示（1公分=10mm）
                            <br> Ex : 如果你量出內圍直徑是1.5公分，也就是15.0mm，8號戒指。</p>
                    </div>
                    <!-- 說明圖片 -->
                    <div class="_img">
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <!-- 平板以下圖片 -->
                            <source srcset="" media="(max-width: 1024px)">
                            <!-- 電腦版圖片 -->
                            <img src="../../upload/f2e/product/product_inf/size_550_250.jpg" alt="">
                        </picture>
                    </div>
                    <!-- 尺寸表格 -->
                    <!-- 看到時候需要讓哪個資料隱藏 就使用  例:$(".diameter").css("display","none"); 讓它消失 -->
                    <div class="sizeForm">
                        <div class="tableName">
                            <p class="diameter">內圍直徑</p>
                            <p class="perimeter">圖尺繞圈</p>
                            <p class="sizeNumb">國際戒圍</p>
                        </div>
                        <ul>
                            <li>
                                <p class="diameter">13.8 mm</p>
                                <p class="perimeter">43.3 mm</p>
                                <p class="sizeNumb">5</p>
                            </li>
                            <li>
                                <p class="diameter">14.1 mm</p>
                                <p class="perimeter">44.3 mm</p>
                                <p class="sizeNumb">6</p>
                            </li>
                            <li>
                                <p class="diameter">14.5 mm</p>
                                <p class="perimeter">45.5 mm</p>
                                <p class="sizeNumb">7</p>
                            </li>
                            <li>
                                <p class="diameter">15.0 mm</p>
                                <p class="perimeter">47.1 mm</p>
                                <p class="sizeNumb">8</p>
                            </li>
                            <li>
                                <p class="diameter">15.5 mm</p>
                                <p class="perimeter">48.7 mm</p>
                                <p class="sizeNumb">9</p>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </article>
    </main>
    <footer>
    </footer>
    <!-- 共用 -->
    <script src="../../assets/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="../../assets/js/vendor/jquery.easings.min.js"></script>
    <script src="../../assets/js/vendor/cgpagechange/cgpagechange.js"></script>
    <script src="../../assets/js/vendor/waypoints/waypoints.min.js"></script>
    <script src="../../assets/js/vendor/blazy/blazy.min.js"></script>
    <script src="../../assets/js/vendor/jquery.nicescroll/jquery.nicescroll.js"></script>
    <script src="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.js"></script>
    <script src="../../assets/js/vendor/slick/slick.min.js"></script>
    <!-- 共用end -->
    <!-- 非共用 -->
    <!-- 新增的js -->
    <script src="../../assets/js/vendor/picturefill.min.js"></script>
    <script>
    document.createElement("picture");
    </script>
    <!-- 非共用end-->
    <script src="../../assets/js/main.js"></script>
</body>

</html>