@import "../base/_reset.scss";
@import "../base/_variable.scss";
@import "../base/_common.scss";

.shoppingCart {
    counter-reset: num1;

    .gifts,
    .purchase,
    .discount,
    .productList {
        counter-increment: num1;
        padding-bottom: 90px;

        @media all and (max-width: 600px) {
            padding-bottom: 70px;
        }

        &.show {
            .listhead {
                div:first-child:before {
                    animation: fadeInUp 1s both 0.6s;
                }
            }
        }

        .listhead {
            div:first-child:before {
                content: "0"counter(num1);
                display: block;
                font-family: 'CenturyGothic-Bold';
                @include font-size(16);
                line-height: 1.5;
                margin-right: 10px;
                opacity: 0;
            }
        }

        &:after {
            display: none;
        }
    }

    .productList .customizedProuduct .amount,
    .productList .normalProduct .amount {
        @media all and (max-width: 600px) {
            width: auto;
        }
        &:before{
            content: "X";
        }
    }
}

.gifts .giftList .needSelect .openGiftLibox,
.purchase .purchaseList .active .openPurchaseLibox {
    display: flex;
    padding: 0 40px;
    width: 190px;

    @media all and (max-width: 1100px) {
        width: 100%;
        justify-content: flex-end;
        padding: 0;
        margin-bottom: 20px;
    }

    @media all and (max-width: 600px) {
        justify-content: center;
    }

    div {
        position: relative;
        padding: 0 10px 5px 10px;
        @include flex-center;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.7);

        span {
            margin-right: 10px;
        }

        p {
            @include font-size(14);

            font-weight: bold;
        }

        &:before,
        &:after {
            position: absolute;
            bottom: 0;
            left: 0;
        }

        &:before {
            @include fakeLine(100%, 1px, #000);
            transition: all .6s ease;
        }

        &:after {
            @include fakeLine(0%, 1px, #000);
        }

        &:hover {
            &:before {
                transition: all 0s ease;
                width: 0;
            }

            &:after {
                animation: navmeun 1.2s ease infinite;
            }
        }
    }
}

.gifts {
    &.show {

        .needSelect,
        .noSelect {
            animation: fadeInUp 1s both;
        }
    }

    .giftList {
        counter-reset: num2;

        .needSelect,
        .noSelect {
            counter-increment: num2;
            position: relative;
            position: relative;
            opacity: 0;

            &:after {
                position: absolute;
                bottom: 0;
                left: 0;

                @include fakeLine(100%, 2px, #f2f2f2);
            }

            .title {
                @include font-size(18);

                font-family: "微軟正黑體";
                display: flex;

                @media all and (max-width: 1100px) {
                    @include font-size(16);
                }

                &:before {
                    content: counter(num2) " . ";
                    font-family: 'CenturyGothic';
                    width: 25px;
                    margin-right: 5px;
                    line-height: 1.5;
                }

                p {
                    width: calc(100% - 30px);
                }
            }
        }

        .needSelect {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            .title {
                padding: 50px 40px;
                width: calc(100% - 190px);

                @media all and (max-width: 1100px) {
                    width: 100%;
                    padding: 50px 10px 20px 10px;
                }
            }

            .hasSelect {
                width: 100%;
                margin: 1px 0;
                padding: 30px 40px;
                display: flex;
                align-items: center;
                background-color: #f2f2f2;
                animation: fadeIn 1s both;

                @media all and (max-width: 600px) {
                    padding: 20px 5vw 20px 35px;
                }

                ._img {
                    width: 160px;
                    padding: 0 20px;

                    @include flex-center;

                    @media all and (max-width: 600px) {
                        display:none;
                    }
                }

                .name {
                    .modelNumb {
                        color: rgba(0, 0, 0, 0.6);
                        font-family: 'CenturyGothic-Bold';

                        @include font-size(14);
                    }

                    .productName {
                        @include font-size(18);

                        color: rgba(0, 0, 0, 0.9);

                        @media all and (max-width: 1100px) {
                            @include font-size(16);
                        }
                    }
                }
            }
        }

        .noSelect {
            padding: 50px 40px;

            @media all and (max-width: 1100px) {
                padding: 50px 10px;
            }

            @media all and (max-width: 600px) {
                padding: 30px 10px;
            }
        }
    }
}

.purchase {
    &.show {

        .active,
        .recommend {
            animation: fadeInUp 1s both 1s;

        }
    }

    .purchaseList {
        counter-reset: num3;

        .active,
        .recommend {
            counter-increment: num3;
            position: relative;
            opacity: 0;

            &:after {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);

                @include fakeLine(100%, 2px, #f2f2f2);
            }

            .title {
                display: flex;
                @include font-size(18);
                font-family: "微軟正黑體";

                &:before {
                    content: counter(num3) " .";
                    font-family: 'CenturyGothic';
                    line-height: 1.5;
                    margin-right: 5px;
                    width: 25px;
                }

                p {
                    width: calc(100% - 30px);
                }
            }
        }

        .active ul li,
        .recommend {
            padding-right: 7vw;

            @media all and (max-width: 600px) {
                flex-wrap: wrap;
            }

            @media all and (min-width: 1921px) {
                padding-right: 140px;
            }

            @media all and (max-width: 1024px) {
                padding-right: 70px;
            }

            @media all and (max-width: 600px) {
                padding-right: 20px;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            .amount {
                width: 16%;

                @media all and (max-width: 1100px) {
                    width: 22%;
                }

                @media all and (max-width: 600px) {
                    width: 60px;
                }
            }

            .price {
                width: 14%;
                text-align: right;
                padding: 0 5px;

                @include font-size(22);

                font-family: 'CenturyGothic-Bold';

                @media all and (max-width: 1400px) {
                    @include font-size(18);
                }

                @media all and (max-width: 1100px) {
                    width: 18%;
                    padding: 0;
                }

                @media all and (max-width: 600px) {
                    width: calc(100% - 100px);
                }

                &:before {
                    content: "+ $";
                }
            }
        }

        .active {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            z-index: 1;

            .title {
                padding: 50px 40px;
                width: calc(100% - 190px);

                @media all and (max-width: 1100px) {
                    padding: 50px 10px 10px 10px;
                    width: 100%;
                }

                @media all and (max-width: 600px) {
                    padding: 30px 10px 10px 10px;
                }
            }

            ul {
                width: 100%;

                li {
                    display: flex;
                    align-items: center;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    padding-left: 20px;
                    position: relative;
                    background-color: #f2f2f2;
                    margin: 2px 0;
                    animation: fadeIn 1s;

                    @media all and (max-width: 600px) {
                        padding-left: 40px;
                    }

                    ._img {
                        width: 180px;
                        padding: 0 20px;

                        @include flex-center;

                        @media all and (max-width: 1100px) {
                            display: none;
                        }
                    }

                    .name {
                        width: calc(70% - 180px);

                        @media all and (max-width: 1100px) {
                            padding: 0 0 0 20px;
                            width: 60%;
                        }

                        @media all and (max-width: 600px) {
                            width: 100%;
                            padding: 0 0 20px 0;
                        }
                    }

                    .amount {
                        @media all and (max-width: 600px) {
                            width: auto;
                        }
                        &:before{
                            content:"X";
                        }
                    }

                    .remove {
                        position: absolute;
                        top: calc(50% - 15px);
                        right: calc(3.5vw - 15px);
                        cursor: pointer;

                        @media all and (min-width: 1921px) {
                            right: 55px;
                        }

                        @media all and (max-width: 1024px) {
                            right: 10px;
                        }

                        @media all and (max-width: 600px) {
                            display: none;
                        }

                        span {
                            position: relative;
                            display: block;
                            transform: rotate(45deg);
                            width: 30px;
                            height: 30px;
                            border: 1px solid #9d9d9d;
                            border-radius: 50%;
                            transition: all .4s ease;

                            &:before,
                            &:after {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                transition: all .4s ease;
                            }

                            &:before {
                                @include fakeLine(12px, 1px, #acacac);
                            }

                            &:after {
                                @include fakeLine(1px, 12px, #acacac);
                            }
                        }

                        &:hover span {
                            background-color: #000;
                            border: 1px solid #000;

                            &:before,
                            &:after {
                                background-color: #fff;
                            }
                        }
                    }
                }
            }
        }

        .recommend {
            display: flex;
            align-items: center;
            padding-top: 50px;
            padding-bottom: 50px;
            padding-left: 40px;
            z-index: 0;

            @media all and (max-width: 1100px) {
                padding-left: 10px;
            }

            @media all and (max-width: 600px) {
                flex-wrap: wrap;
                padding-top: 30px;
                padding-bottom: 30px;
            }

            .title {
                width: 70%;

                @media all and (max-width: 1100px) {
                    width: 60%;
                }

                @media all and (max-width: 600px) {
                    width: 100%;
                    padding: 0 0 20px 0;
                }
            }

            .amount {
                @media all and (max-width: 600px) {
                    margin-left: 30px;
                }
            }
        }
    }
}

.discount {
    &.show {
        form.discountList>div {
            animation: fadeInDown 1s both;
        }
    }

    form.discountList>div {
        padding: 40px 7vw 40px 2vw;
        display: flex;
        align-items: center;
        position: relative;
        flex-wrap: wrap;
        opacity: 0;
        @media all and (min-width: 1921px) {
            padding: 40px 140px 40px 45px;
        }

        @media all and (max-width: 1024px) {
            padding: 30px 70px 30px 10px;
        }

        @media all and (max-width: 600px) {
            padding: 20px;
            justify-content: space-between;
        }

        &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            @include fakeLine(100%, 2px, #f2f2f2)
        }

        .title {
            width: 180px;
            @include font-size(18);

            @media all and (max-width: 1440px) {
                @include font-size(16);
                width: 150px;
            }

            @media all and (max-width: 1279px) {
                width: 100%;
                margin-bottom: 20px;
            }
        }

        .words {
            width: calc(88% - 440px);
            @include font-size(14);

            @media all and (max-width: 1440px) {
                width: calc(88% - 410px);
            }

            @media all and (max-width: 1279px) {
                width: calc(88% - 260px);
            }

            @media all and (max-width: 600px) {
                width: 100%;
            }
        }

        .inputArea {
            width: 180px;
            margin: 0 40px;
            height: 40px;
            display: flex;
            background-color: #858585;
            @include flex-center;

            @media all and (max-width: 600px) {
                margin: 20px 0;
                width: 60%;
                p {
                    width: 100%;
                    text-align: left !important;
                }
            }

            &>p {
                color: #388bd7 !important;
            }

            button {
                width: 40px;
                height: 40px;
                border: none;
                background-color: transparent;
                @include flex-center;
            }

            .ok {
                border-left: 1px solid #fff;
                color: #fff;
                letter-spacing: 1px;
            }

            input,
            input::placeholder {
                width: calc(100% - 40px);
                background-color: transparent;
                border: none;
                color: #fff;
                letter-spacing: 1px;
                transition: all .4s ease;
            }

            input:focus::placeholder {
                opacity: 0;
            }

            p,
            input {
                font-family: "微軟正黑體";
                font-weight: bold;
                @include font-size(14);
                text-align: center;
                transition: all .4s ease;
            }

        }

        .price {
            width: 12%;
            text-align: right;
            font-family: 'CenturyGothic-Bold';
            @include font-size(22);

            @media all and (max-width: 1400px) {
                @include font-size(18);
            }

            @media all and (max-width: 600px) {
                width: 40%;
            }

            &:before {
                content: "- $";
                margin-right: 5px;
            }
        }
    }

    .rebate,
    .code {
        transition: all .5s ease;
        &>* {
            opacity: 0.4;
            
        }

        &:not(.active) {
            cursor: pointer;
        }

        &:hover,
        &.active {
            color: #fff;
            background-color: #252525;
            p {
                color: #fff;
            }
        }

        &:hover>* {
            opacity: 0.8;
            
        }

        &.active>* {
            opacity: 1;
        }
    }
    form.discountList>div {
        &.success:before,
        &.fail:before {
            position: absolute;
            top: calc(50% - 6px);
            right: calc(3.5vw - 6px);
            font-family: 'icomoon-nick';
            @include font-size(12);

            @media all and (min-width: 1921px) {
                right: calc(70px - 6px);
            }

            @media all and (max-width: 1024px) {
                right: calc(35px - 6px);
            }

            @media all and (max-width: 600px) {
                top: 25px;
                right: 20px;
            }
        }
        &.success {
            &:before {
                content: "\e902";
                color: #005098;
            }
        }
        &.fail {
            &:before {
                content: "\e913";
                color: #f93838;
            }
        }
    }
    .code:before {
        color: #fff !important;
    }
    
    .bonus {
        .inputArea {
            button {
                &.decrease span:before {
                    @include fakeLine(10px, 2px, #fff);
                }
                &.add span {
                    @include cross(10px, 10px);
                    &:before {
                        @include cross_before(100%, #fff);
                    }
                    &:after {
                        @include cross_after(100%, #fff);
                    }
                }
            }
            input {
                width: calc(100% - 80px);
            }
        }
    }
}

.orderDetail {
    .totalPrice {
        @media all and (max-width: 600px) {
            justify-content: space-between;

            .numb {
                margin-left: 0;
            }
        }
    }


    .freight {
        max-width: 330px;
        width: 100%;
        padding: 10px 25px 0 25px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        overflow: hidden;

        @media all and (max-height: 730px) and (min-width:1025px) {
            padding: 10px 5px 0 5px;
        }

        @media all and (max-width: 1024px) {
            max-width: none;
        }

        @media all and (max-width: 600px) {
            padding: 10px 10px 0 10px;
        }

        @media all and (max-width: 350px) {
            padding: 10px 5px 0 5px;
        }

        p {
            @include font-size(16);
            font-weight: bold;
            color: rgba(0, 0, 0, .8);

            @media all and (min-width: 1025px) {
                animation: fadeInDown 1s both 1s;
            }

            @media all and (max-height: 730px) and (min-width:1025px) and (max-width:1279px) {
                max-width: calc(100% - 110px);
            }
        }

        .numb {
            @include font-size(20);
            font-family: 'CenturyGothic-Bold';
            color: rgba(0, 0, 0, .6);
            min-width: 100px;
            text-align: right;
            margin-left: auto;
            margin-right: 0;
            padding: 10px 0;

            @media all and (min-width: 1025px) {
                animation: slideInUp 1s both 1s;
            }
            &:before{
                content: "+$";
            }
        }
    }

    .buttons {
        @media all and (max-height: 730px) and (min-width:1025px) {
            margin-top: 30px;
        }
    }
}


.chooseLibox {
    @include basicLibox;
    background-color: rgba(0, 0, 0, .8);
    z-index: 100;
    @include flex-center;
    animation: fadeIn .8s both;

    @media all and (max-width: 1170px) {
        background-color: #fff;
    }

    &.close {
        animation: fadeOut .4s both;
    }

    section {
        background-color: #fff;
        width: 100%;
        max-width: 1170px;
        padding: 100px 50px 0;
        position: relative;
        max-height: 100vh;

        @media all and (max-width: 1170px) {
            position: static;
        }

        @media all and (max-width: 1024px) {
            padding: 100px 5vw;
        }

        .topNav {
            position: absolute;
            width: auto;
            top: 0;
            left: auto;
            right: 0;
            padding: 20px 40px 0 40px;

            @media all and (max-width: 700px) {
                padding: 20px 5vw 0 5vw;
            }

            &:before,
            &:after {
                display: none;
            }

            .back {
                color: #000;
            }
        }

        ._title {
            text-align: center;
            width: 100%;
            max-width: 750px;
            margin: auto;

            .en {
                @include font-size(22);
            }

            .ch {
                @include font-size(16);
                font-weight: bold;
            }

            &:after {
                @include fakeLine(100%, 4px, #545454);
                margin: 20px auto 0 auto;
            }
        }

        form {
            @include flex-center;
            flex-direction: column;
            max-width: 750px;
            width: 100%;
            margin: auto;
        }

        .checkBox,
        .amountBox {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            padding: 30px 0;
            position: relative;
            margin-top: -3px;
            transition: all .4s ease;
            border: 3px solid transparent;

            @media all and (max-width: 600px) {
                padding: 30px 10px;
            }

            ._img {
                width: 160px;
                @include flex-center;
                padding: 0 20px;

                @media all and (max-width: 600px) {
                    display: none;
                }
            }

            .amount {
                width: 100px;

                @media all and (max-width: 600px) {
                    width: 16vw;
                }
            }

            .name {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 20px 0 0;

                .modelNumb {
                    font-family: 'CenturyGothic-Bold';
                    @include font-size(14);
                    opacity: 0.6;
                }

                .productName {
                    @include font-size(18);

                    @media all and (max-width: 450px) {
                        @include font-size(16);
                    }
                }
            }

            &:after {
                position: absolute;
                bottom: 0;
                left: 0;
                @include fakeLine(100%, 2px, #f2f2f2);
            }
        }

        .checkBox {
            cursor: pointer;

            .name {
                width: calc(100% - 260px);

                @media all and (max-width: 600px) {
                    width: calc(100% - 16vw);
                }
            }

            &.checked,
            &.checked:hover {
                color: #005098;
                border: 3px solid #0d5595;
            }

            &:hover {
                border: 3px solid rgba(13, 85, 149, .5);
                color: #005098;
            }
            .amount:before{
                content: "X";
            }
        }

        .amountBox {
            .name {
                width: calc(80% - 260px);

                @media all and (max-width: 600px) {
                    width: calc(80% - 16vw);
                }

                @media all and (max-width:450px) {
                    width: 100%;
                    margin-bottom: 20px;
                }
            }

            .price {
                width: 20%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                @include font-size(22);
                font-family: 'CenturyGothic-Bold';
                padding: 0 50px 0 0;

                @media all and (max-width: 1024px) {
                    padding: 0 5vw 0 0;
                }

                @media all and (max-width:450px) {
                    width: calc(100% - 16vw);
                    padding: 0;
                }

                &:before {
                    content: "+$";
                }

            }

            &:hover {
                border: 3px solid #0d5595;
                color: #005098;

                input {
                    color: #005098;
                }
            }
        }

        form>button {
            margin: 45px 0 100px;
            border: none;
            background-color: transparent;
            @include flex-center;
            position: relative;
            padding: 0 10px 10px 10px;
            color: rgba(0, 0, 0, .7);

            span {
                margin-right: 10px;
            }

            p {
                @include font-size(14);
                font-weight: bold;
                font-family: CenturyGothic, 微軟正黑體;
            }

            &:before,
            &:after {
                position: absolute;
                bottom: 0;
                left: 0;
            }

            &:before {
                @include fakeLine(100%, 1px, #000);
                transition: all .6s ease;
            }

            &:after {
                @include fakeLine(0%, 1px, #000);
            }

            &:hover {
                &:before {
                    transition: all 0s ease;
                    width: 0;
                }

                &:after {
                    animation: navmeun 1.2s ease infinite;
                }
            }
        }
    }
}


