<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <meta name="format-detection" content="telephone=no">
    <title>TECOEP</title>
    <!--[if lt IE 9]><script src="../../assets/js/vendor/html5shiv-master/html5shiv.js"></script><![endif]-->
    <!--讓ie9以下看懂html5標籤-->
    <!-- icon -->
    <!--    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/img/ico/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/ico/favicon.png">
    <link rel="icon" type="image/x-icon" href="../../assets/img/ico/favicon.png"> -->
    <!-- 共用CSS -->
    <!-- <link rel="stylesheet" href="../../assets/css/icon-style.css"> -->
    <link rel="stylesheet" href="../../assets/js/vendor/cgpagechange/cgpagechange.css">
    <link rel="stylesheet" href="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="../../assets/js/vendor/slick/slick.css">
    <link rel="stylesheet" href="../../assets/js/vendor/slick/slick-theme.css">
    <!-- 共用CSS end-->
    <!-- 非共用CSS -->
    <!-- 非共用CSS end-->
    <link rel="stylesheet" href="../../assets/css/applications/detail.css">
</head>

<body id="applications" class="detail">
    <header></header>
    <main>
        <article class="banner short">
            <div class="banner_img">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="" media="(max-width:900px)">
                    <img data-color="darkBg" src="../../upload/f2e/applications/detail/banner_img_1920_750.jpg">
                </picture>
            </div>
            <div class="banner_slogan">
                <!-- 後端請注意:此處的結構如果沒有填入內容的話請移除 -->
                <h2>E510系列在印刷機上的應用</h2>
                <h3>機械工具產業應用</h3>
            </div>
        </article>
        <article class="product_nav">
            <span class="selectInf"><p>產業應用介紹</p><b>INTRODUCTION</b></span>
            <ul>
                <li>
                    <p>產業應用介紹</p>
                    <b>INTRODUCTION</b>
                </li>
                <li>
                    <p>相關應用產品</p>
                    <b>PRODUCTS</b>
                </li>
            </ul>
        </article>
        <article class="content">
            <div class="top_nav show">
                <div class="_series">
                    <span>
                        <a href="../applications/index.html">產業應用</a>
                    </span>
                    <span>東元A510系列應用於沖床</span>
                </div>
                <div class="_back" onclick="history.back()">
                    <span></span>
                    <p>BACK</p>
                </div>
            </div>
            <div class="_title">
                <h2>Introduction</h2>
                <h3>東元電控高性能電流向量變頻器</h3>
            </div>
            <div class="_slick">
                <!-- 後端請注意:有些圖片要可開啟影片燈箱 請在class加上openVideoLibox  燈箱結構在最底下的article-->
                <ul>
                    <li>
                        <div class="slick_img">
                            <img data-lazy="../../upload/f2e/applications/detail/slickImg1_1240_700.jpg" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="slick_img">
                            <img data-lazy="../../upload/f2e/applications/detail/slickImg1_1240_700.jpg" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="slick_img">
                            <img data-lazy="../../upload/f2e/applications/detail/slickImg1_1240_700.jpg" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="slick_img">
                            <img data-lazy="../../upload/f2e/applications/detail/slickImg1_1240_700.jpg" alt="">
                        </div>
                    </li>
                </ul>
            </div>
            <!--內容開始 -->
        </article>
        <article class="textContent">
            <!-- type1:圖文相存 圖片在右 -->
            <!-- type2:圖文相存 圖片在左 -->
            <div class="withImg left">
                <div class="_text">
                    <h2>設備特點</h2>
                    <p>素有資通訊界奧林匹克大會之稱的「世界資訊科技大會」，台灣在睽違17年後再次獲得主辦權，於9月10-13日在臺北世貿舉行。全球工業馬達前三大廠東元電機，此次積極參與，不但成為贊助廠商之一，並且召集旗下關係企業東訊公司、安華機電工程、東捷資訊等，以智慧工廠為主題，共同展出整合方案，利用物聯網、大數據，透過軟硬體整合、虛實結合，將智能馬達、智慧產線，到廠區節能節電、和針對機電設備的智慧型健康管理等集團內智能產品加以整合，東元集團要為工廠生產線提供邁向智能化的最佳解決方案。
                        <br>
                        <br> 將智能馬達、智慧產線，到廠區節能節電、和針對機電設備的智慧型健康管理等集團內智能產品加以整合，東元集團要為工廠生產線提供邁向智能化的最佳解決方案。
                    </p>
                </div>
                <div class="_img">
                    <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/applications/detail/withImg1_900_670.jpg" alt="">
                </div>
            </div>
            <!-- type3:純文字 -->
            <div class="onlyWord">
                <h2>機台規格</h2>
                <p>東元集團近年來投入IoT、M2M的相關技術發展，SAS跟PAS雲端運算技術研發、以及服務平台的開發運用，已獲得相當成果，今年六月於中壢廠啟用「馬達固定子自動化生產中心」，即為東元集團內首座「馬達彈性生產智動化產線」，使機台數量減少30%，成本降10%，整體效率提昇3倍以上。這次東元電機參加「世界資訊科技大會」，除將參與智慧製造論壇，與國際大廠分享本身經驗之外，也將在展區(D718)展示東元集團獨特的智能馬達系統、機電設備健康管理系統、工廠能源管理系統，及MES、ERP相關智慧製造的運用整合，提供智慧工廠的解決方案。</p>
            </div>
            <!-- type4:純圖片 -->
            <div class="onlyImg">
                <div class="_img">
                    <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/applications/detail/onlyImg1_900_550.jpg" alt="">
                    <b>印刷機細部</b>
                </div>
                <div class="_img">
                    <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/applications/detail/onlyImg2_900_550.jpg" alt="">
                    <b>印刷機細部</b>
                </div>
            </div>
            <!-- type5:一半圖一半字 -->
            <div class="half">
                <div class="_text">
                    <h2>變頻器選擇</h2>
                    <ul>
                        <li>本機使用變頻器E510-202</li>
                        <li>可配合各種像塑膠硬度的需要，調整改變馬達的速度，並提供高轉距輸出，以達到像塑膠硬度呈型最精確的需求</li>
                        <li>提供各種豐富的配套產品，一次性提供設備所需的運動裝置</li>
                        <li>提供過載保護，可提升整體設備妥善率</li>
                        <li>可低速配合加入藥劑，避免讓原料溢出</li>
                    </ul>
                </div>
                <div class="_img">
                    <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/applications/detail/halfImg1_900_550.jpg" alt="">
                    <b>印刷機細部</b>
                </div>
            </div>
            <div class="onlyWord">
                <h2>應用場合</h2>
                <p>一般混鍊機，混合密鍊機</p>
            </div>
            <div class="onlyWord">
                <h2>成功導入</h2>
                <p>台南市某領導廠商成功導入A510系列400V 及100HP/125HP及250HP</p>
            </div>
        </article>
        <article class="productSlick">
            <div class="_title">
                <span></span>
                <h2>Products</h2>
                <p>相關應用產品</p>
            </div>
            <div class="_slick">
                <ul>
                    <li>
                        <a href="../product/detail.html">
                            <div class="_img">
                                <img data-lazy="../../upload/f2e/product/series/img1.png" alt="">
                            </div>
                            <h2>A510S</h2>
                            <!-- 後端請注意:字數限制40 -->
                            <p>七種馬達控制模式符合各式張力、位置、速度、轉矩輕重載的全方面應用...</p>
                        </a>
                    </li>
                    <li>
                        <a href="../product/detail.html">
                            <div class="_img">
                                <img data-lazy="../../upload/f2e/product/series/img2.png" alt="">
                            </div>
                            <h2>F510</h2>
                            <!-- 後端請注意:字數限制40 -->
                            <p>F510系列為風水力專用變頻器，傳承東元第五代馬達控制核心技術，搭配精確的馬...</p>
                        </a>
                    </li>
                    <li>
                        <a href="../product/detail.html">
                            <div class="_img">
                                <img data-lazy="../../upload/f2e/product/series/img3.png" alt="">
                            </div>
                            <h2>A510</h2>
                            <!-- 後端請注意:字數限制40 -->
                            <p>透過最新Auto-tune技術可大幅減少調機時間，輕鬆安裝，雙額定設計+六種...</p>
                        </a>
                    </li>
                    <li>
                        <a href="../product/detail.html">
                            <div class="_img">
                                <img data-lazy="../../upload/f2e/product/series/img1.png" alt="">
                            </div>
                            <h2>A510S</h2>
                            <!-- 後端請注意:字數限制40 -->
                            <p>七種馬達控制模式符合各式張力、位置、速度、轉矩輕重載的全方面應用...</p>
                        </a>
                    </li>
                </ul>
                <div class="arrow">
                    <span class="icon-home-slick-arrow-left"></span>
                    <span class="icon-home-slick-arrow-right"></span>
                </div>
            </div>
        </article>
    </main>
    <footer></footer>
    <script src="../../assets/js/style.js"></script>
</body>

</html>