<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <meta name="format-detection" content="telephone=no">
    <title>TECOEP</title>
    <link rel="stylesheet" href="../../assets/js/vendor/cgpagechange/cgpagechange.css">
    <link rel="stylesheet" href="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="../../assets/js/vendor/slick/slick.css">
    <link rel="stylesheet" href="../../assets/js/vendor/slick/slick-theme.css">
    <!-- 共用CSS end-->
    <!-- 非共用CSS -->
    <!-- 非共用CSS end-->
    <link rel="stylesheet" href="../../assets/css/applications/applications.css">
</head>

<body id="applications" class="index">
    <header>
    </header>
    <main>
        <article class="banner full">
            <div class="banner_img">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="" media="(max-width:900px)">
                    <img data-color="darkBg" src="../../upload/f2e/applications/index/banner_img_1920_1080.jpg">
                </picture>
            </div>
            <!-- 後端請注意:此處的文字需可讓客戶自行填入color -->
            <!-- 後端請注意:slogan的位置有兩種right和left需可讓客戶自行選擇 -->
            <div class="banner_slogan">
                <!-- 後端請注意:此處的結構如果沒有填入內容的話請移除 -->
                <h2>Applications</h2>
                <h4>TECO product industry applications</h4>
                <h3>產業應用範疇</h3>
            </div>
            <div class="banner_scrollDown">
                <p>SCROLL DOWN</p>
            </div>
        </article>
        <article class="content">
            <div class="_title">
                <h2>Applications<span>Guide</span></h2>
                <h3>產業應用總覽</h3>
                <div class="menulist">
                    <span class="selectMenu"><p>應用總覽</p></span>
                    <ul>
                        <li class="six">
                        </li>
                        <!-- 後端請注意:li請從此處開始新增 上方的li為格式上需要勿刪除-->
                        <!-- 到第5個li會自動跳行 -->
                        <li class="checked">
                            <p>應用總覽</p>
                        </li>
                        <li>
                            <p>工業控制</p>
                        </li>
                        <li>
                            <p>機械工具</p>
                        </li>
                        <li>
                            <p>物料搬運設備</p>
                        </li>
                        <li>
                            <p>泵，壓縮機和風扇</p>
                        </li>
                        <li>
                            <p>紡織機械</p>
                        </li>
                        <li>
                            <p>塑料和強盜機械</p>
                        </li>
                        <li>
                            <p>製造和裝配</p>
                        </li>
                    </ul>
                </div>
            </div>
            <section class="applicationBoxs">
                <ul>
                    <li>
                        <a href="../applications/detail.html">
                            <div class="_img">
                                <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/applications/index/img1_310_415.jpg" alt="">
                            </div>
                            <div class="_text">
                                <h2>AC電機驅動A510產業應用</h2>
                                <p>Industrial Control</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../applications/detail.html">
                            <div class="_img">
                                <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/applications/index/img2_310_415.jpg" alt="">
                            </div>
                            <div class="_text">
                                <h2>E510系列在刀塔上的應用</h2>
                                <p>Machine Tools</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../applications/detail.html">
                            <div class="_img">
                                <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/applications/index/img3_310_415.jpg" alt="">
                            </div>
                            <div class="_text">
                                <h2>E510系列在數控磨床上的應用</h2>
                                <p>Machine Tools</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../applications/detail.html">
                            <div class="_img">
                                <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/applications/index/img4_310_415.jpg" alt="">
                            </div>
                            <div class="_text">
                                <h2>E510系列在帶式鋸切機上的應用</h2>
                                <p>Machine Tools</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../applications/detail.html">
                            <div class="_img">
                                <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/applications/index/img5_310_415.jpg" alt="">
                            </div>
                            <div class="_text">
                                <h2>A510系列在印刷機上的應用</h2>
                                <p>Machine Tools</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../applications/detail.html">
                            <div class="_img">
                                <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/applications/index/img6_310_415.jpg" alt="">
                            </div>
                            <div class="_text">
                                <h2>塑料機械</h2>
                                <p>Material Handling Equipment</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../applications/detail.html">
                            <div class="_img">
                                <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/applications/index/img7_310_415.jpg" alt="">
                            </div>
                            <div class="_text">
                                <h2>製造和裝配</h2>
                                <p>Material Handling Equipment</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../applications/detail.html">
                            <div class="_img">
                                <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/applications/index/img8_310_415.jpg" alt="">
                            </div>
                            <div class="_text">
                                <h2>工業4.0</h2>
                                <p>Pumps, Compressors & Fans</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </section>
        </article>
    </main>
    <footer>
    </footer>

    <script src="../../assets/js/style.js"></script>
</body>

</html>