@charset "utf-8";

@font-face {
    font-family: 'CenturyGothic-Bold';
    src: url("CenturyGothic");
    src: url("../../../assets/font/CenturyGothic/bold/CenturyGothic-Bold.woff2") format("woff2"), url("../../../assets/font/CenturyGothic/bold/CenturyGothic-Bold.woff") format("woff"), url("../../../assets/font/CenturyGothic/bold/CenturyGothic-Bold.ttf") format("truetype"), url("../../../assets/font/CenturyGothic/bold/CenturyGothic-Bold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'icomoon-nick';
    src: url('../../../assets/font/allicon/icomoon-nick.eot?lkmqvz');
    src: url('../../../assets/font/allicon/icomoon-nick.eot?lkmqvz#iefix') format('embedded-opentype'),
        url('../../../assets/font/allicon/icomoon-nick.ttf?lkmqvz') format('truetype'),
        url('../../../assets/font/allicon/icomoon-nick.woff?lkmqvz') format('woff'),
        url('../../../assets/font/allicon/icomoon-nick.svg?lkmqvz#icomoon-nick') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="iconN-"],
[class*=" iconN-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon-nick' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconN-cancelSucess:before {
    content: "\e929";
}

.iconN-service:before {
    content: "\e92a";
}

.iconN-billList:before {
    content: "\e924";
}

.iconN-exchange:before {
    content: "\e925";
}

.iconN-money:before {
    content: "\e926";
}

.iconN-returned:before {
    content: "\e927";
}

.iconN-user:before {
    content: "\e928";
}

.iconN-lock:before {
    content: "\e923";
}

.iconN-apply:before {
    content: "\e918";
}

.iconN-backUp:before {
    content: "\e919";
}

.iconN-editImg:before {
    content: "\e91a";
}

.iconN-key:before {
    content: "\e91b";
}

.iconN-message:before {
    content: "\e91c";
}

.iconN-people2:before {
    content: "\e91d";
}

.iconN-record:before {
    content: "\e91e";
}

.iconN-removeImg:before {
    content: "\e91f";
}

.iconN-repair:before {
    content: "\e920";
}

.iconN-star:before {
    content: "\e921";
}

.iconN-trashcan:before {
    content: "\e922";
}

.iconN-resend:before {
    content: "\e917";
}

.iconN-people:before {
    content: "\e916";
}

.iconN-paying:before {
    content: "\e912";
}

.iconN-house:before {
    content: "\e914";
}

.iconN-order:before {
    content: "\e915";
}

.iconN-X:before {
    content: "\e913";
}

.iconN-accounts:before {
    content: "\e90f";
}

.iconN-gift:before {
    content: "\e910";
}

.iconN-pay:before {
    content: "\e911";
}

.iconN-hook2:before {
    content: "\e90e";
}

.iconN-edit:before {
    content: "\e90d";
}

.iconN-caution:before {
    content: "\e90c";
}

.iconN-situation:before {
    content: "\e90b";
}

.iconN-left:before {
    content: "\e909";
}

.iconN-right:before {
    content: "\e90a";
}

.iconN-download:before {
    content: "\e908";
}

.iconN-top:before {
    content: "\e907";
}

.iconN-up:before {
    content: "\e906";
}

.iconN-sun:before {
    content: "\e905";
}

.iconN-return:before {
    content: "\e900";
}

.iconN-air_conditioning:before {
    content: "\e901";
}

.iconN-hook:before {
    content: "\e902";
}

.iconN-measure:before {
    content: "\e903";
}

.iconN-roof:before {
    content: "\e904";
}

.iconN-cart:before {
    content: "\e93a";
}

.iconN-zoom-in:before {
    content: "\e987";
}

.iconN-eye:before {
    content: "\e9ce";
}

.iconN-eye-blocked:before {
    content: "\e9d1";
}





/* ===============  iphone X 修正全螢幕時內容與系統保留區重疊的問題  =============== */

.container {
    padding-top: constant(safe-area-inset-top);
    padding-right: constant(safe-area-inset-right);
    padding-bottom: constant(safe-area-inset-bottom);
    padding-left: constant(safe-area-inset-left);
}

/* ===============  HTML5 display definitions  =============== */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

/* ===============  Base  =============== */

html {
    width: 100%;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    position: relative;
    font-size: 100%;
    line-height: 1;
    letter-spacing: 1px;
    font-weight: normal;
    font-family: 'CenturyGothic', '微軟正黑體', 'Microsoft JhengHei', Arial, sans-serif;

    /*text-rendering: optimizeLegibility; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: 'liga', 'kern';
    -webkit-overflow-scrolling: touch;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

iframe {
    display: block;
}

a {
    color: inherit;
    text-decoration: none; // -webkit-transition: all .5s ease;
    // -moz-transition: all .5s ease;
    // -o-transition: all .5s ease;
    // -ms-transition: all .5s ease;
    // transition: all .5s ease;
}

a:active,
a:hover {
    outline: 0;
}

img {
    border: 0;
    display: block;

    /*流動圖片設定*/
    max-width: 100%;
    height: auto;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

dl,
menu,
ol,
ul {
    margin: 0;
}

ul {
    list-style: none;
    list-style-image: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ===============  Forms  =============== */

form {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px;
}

button,
input,
select,
textarea {
    font-family: 'CenturyGothic', '微軟正黑體', 'Microsoft JhengHei', Arial, sans-serif;
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
    letter-spacing: 1px;
}

button,
input {
    line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible;
}

button[disabled],
input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input[type="text"]::placeholder {
    transition: all .4s ease;
}

input[type="text"]:focus::placeholder {
    opacity: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: none;

    &::-webkit-scrollbar {
        width: 2px;
    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px #c2c2c2;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px #878787;
    }
}

/*去除input藍色框框*/

input,
button,
select,
textarea {
    outline: none;
}

*:focus {
    outline: none;
}

input:focus,
textarea:focus {
    outline: none;
}

/*placeholder 點一下後快速消失*/

// input:focus:placeholder {
//     color: transparent;
// }
// input:focus::-webkit-input-placeholder {
//     color: transparent;
// }
// input:focus:-moz-placeholder {
//     color: transparent;
// }
// input:focus::-moz-placeholder {
//     color: transparent;
// }
// input:focus:-ms-input-placeholder {
//     color: transparent;
// }

/*去除異常空格*/

picture {
    overflow: hidden;
    font-size: 0;
}

/* ===============  Typography  =============== */

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

mark {
    background: #ff0;
    color: #000;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: none;
}

q:before,
q:after {
    content: '';
    content: none;
}

small {
    font-size: 75%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

hr {
    height: 1px;
    border: none;
}

/* ===============  Global  =============== */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;

    @media screen and (min-width: 0\0) {
        max-width: 100%;
    }
}

p {
    @media screen and (min-width: 0\0) {
        max-width: 100%;
    }
}

/*----------------------動畫區-------------------*/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated-slow {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.hide,
.wp1,
.wp2,
.wp3,
.wp4,
.wp5,
.wp6 {
    visibility: hidden;
}

.fadeInDown,
.fadeInDown2,
.fadeInUp,
.pulse,
.fadeIn,
.bounceIn {
    visibility: visible !important;
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translateY(25%);
        transform: translateY(5%);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translateY(25%);
        transform: translateY(25%);
    }

    to {
        opacity: 1;
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    animation-duration: .8s;
    -webkit-animation-duration: .8s;
    animation-delay: .2s;
    -webkit-animation-delay: .2s;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: .8s;
    -webkit-animation-duration: .8s;
    animation-delay: .2s;
    -webkit-animation-delay: .2s;
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-25%);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-25%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

.fadeInLeft {
    animation-name: fadeInLeft;
    animation-duration: .8s;
    -webkit-animation-duration: .8s;
    animation-delay: .2s;
    -webkit-animation-delay: .2s;
}

@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(25%);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(25%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

.fadeInRight {
    animation-name: fadeInRight;
    animation-duration: .8s;
    -webkit-animation-duration: .8s;
    animation-delay: .2s;
    -webkit-animation-delay: .2s;
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@-webkit-keyframes fadeOutUp {
    from {
        opacity: 1;
        transform: translateY(0%);
    }

    to {
        opacity: 0;
        transform: translateY(-50%);
    }
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
        transform: translateY(0%);
    }

    to {
        opacity: 0;
        transform: translateY(-50%);
    }
}

.fadeOutUp {
    -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
}

@-webkit-keyframes fadeOutDown {
    from {
        opacity: 1;
        transform: translateY(0%);
    }

    to {
        opacity: 0;
        transform: translateY(50%);
    }
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
        transform: translateY(0%);
    }

    to {
        opacity: 0;
        transform: translateY(50%);
    }
}

.fadeOutDown {
    -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
}

@-webkit-keyframes fadeOutLeft {
    from {
        opacity: 1;
        transform: translateX(0%);
    }

    to {
        opacity: 0;
        transform: translateX(-50%);
    }
}

@keyframes fadeOutLeft {
    from {
        opacity: 1;
        transform: translateX(0%);
    }

    to {
        opacity: 0;
        transform: translateX(-50%);
    }
}

.fadeOutLeft {
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
}

@-webkit-keyframes fadeOutRight {
    from {
        opacity: 1;
        transform: translateX(0%);
    }

    to {
        opacity: 0;
        transform: translateX(50%);
    }
}

@keyframes fadeOutRight {
    from {
        opacity: 1;
        transform: translateX(0%);
    }

    to {
        opacity: 0;
        transform: translateX(50%);
    }
}

.fadeOutRight {
    -webkit-animation-name: fadeOutRight;
    animation-name: fadeOutRight;
}

/* 由左滑入*/

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

// 由右滑入
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

@keyframes slideOutUp {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-100%);
    }
}

.slideOutUp {
    -webkit-animation-name: slideOutUp;
    animation-name: slideOutUp;
}

@keyframes slideOutDown {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(100%);
    }
}

.slideOutDown {
    -webkit-animation-name: slideOutDown;
    animation-name: slideOutDown;
}

@keyframes slideOutLeft {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.slideOutLeft {
    -webkit-animation-name: slideOutLeft;
    animation-name: slideOutLeft;
}

@keyframes slideOutRight {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}

.slideOutRight {
    -webkit-animation-name: slideOutRight;
    animation-name: slideOutRight;
}

@keyframes slideInDown {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}

.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
}

@keyframes slideInUp {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
}

@keyframes allin {
    0% {}

    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes marginLeftIn {
    0% {
        margin-left: -100%;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes marginLeftOut {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -100%;
    }
}

@keyframes marginRightIn {
    0% {
        margin-left: 100%;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes marginRightOut {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: 100%;
    }
}

@keyframes w100 {
    0% {}

    100% {
        width: 100%;
    }
}

@keyframes h100 {
    0% {}

    100% {
        height: 100%;
    }
}

@keyframes w0 {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

@keyframes h0 {
    0% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

/* 水平線方式出現 ps:ie不支援*/

@keyframes horizontalShow {
    0% {
        -webkit-clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
        clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
    }

    100% {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

/* 垂直線方式出現 ps:ie不支援*/

@keyframes verticalShow {
    0% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
        clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
    }

    100% {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@mixin flipInY($px: 400px) {
    @keyframes flipInY {
        0% {
            transform: perspective($px) rotate3d(0, 1, 0, 90deg);
            animation-timing-function: ease-in;
            opacity: 0;
        }

        40% {
            transform: perspective($px) rotate3d(0, 1, 0, -20deg);
            animation-timing-function: ease-in;
        }

        60% {
            transform: perspective($px) rotate3d(0, 1, 0, 10deg);
            opacity: 1;
        }

        80% {
            transform: perspective($px) rotate3d(0, 1, 0, -5deg);
        }

        100% {
            transform: perspective($px);
        }
    }
}

@keyframes goTop {
    0% {
        -webkit-transform: translateY(50%) scale(0.6);
        transform: translateY(50%) scale(0.6);
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(-50%) scale(0.6);
        transform: translateY(-50%) scale(0.6);
        opacity: 0;
    }
}

@-ms-keyframes goTop {
    0% {
        -ms-transform: translate(-4px, 5%) scale(0.6);
        transform: translate(-4px, 5%) scale(0.6);
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        -ms-transform: translate(-4px, -50%) scale(0.6);
        transform: translate(-4px, -50%) scale(0.6);
        opacity: 0;
    }
}

@keyframes goTopHover {
    0% {
        -webkit-transform: translateY(50%) scale(0.6);
        transform: translateY(50%) scale(0.6);
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(0%) scale(0.6);
        transform: translateY(0%) scale(0.6);
    }
}

@-ms-keyframes goTopHover {
    0% {
        -ms-transform: translate(-4px, 50%) scale(0.6);
        transform: translate(-4px, 50%) scale(0.6);
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        -ms-transform: translate(-4px, 0%) scale(0.6);
        transform: translate(-4px, 0%) scale(0.6);
    }
}

@keyframes flash {

    from,
    50%,
    to {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}


@keyframes hidden {
    0% {
        overflow: hidden;
    }

    100% {
        overflow: visible;
    }
}


@keyframes rolling {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes radar {
    0% {
        -webkit-clip-path: polygon(50% 50%, 49% 0%, 49% 0%, 49% 0%, 49% 0%, 49% 0%, 49% 0%);
        clip-path: polygon(50% 50%, 49% 0%, 49% 0%, 49% 0%, 49% 0%, 49% 0%, 49% 0%);
    }

    12.5% {
        -webkit-clip-path: polygon(50% 50%, 49% 0%, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0);
        clip-path: polygon(50% 50%, 49% 0%, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0);
    }

    37.5% {
        -webkit-clip-path: polygon(50% 50%, 49% 0%, 100% 0, 100% 100%, 100% 100%, 100% 100%, 100% 100%);
        clip-path: polygon(50% 50%, 49% 0%, 100% 0, 100% 100%, 100% 100%, 100% 100%, 100% 100%);
    }

    62.5% {
        -webkit-clip-path: polygon(50% 50%, 49% 0%, 100% 0, 100% 100%, 0 100%, 0 100%, 0 100%);
        clip-path: polygon(50% 50%, 49% 0%, 100% 0, 100% 100%, 0 100%, 0 100%, 0 100%);
    }

    87.5% {
        -webkit-clip-path: polygon(50% 50%, 49% 0%, 100% 0, 100% 100%, 0 100%, 0 0, 0 0);
        clip-path: polygon(50% 50%, 49% 0%, 100% 0, 100% 100%, 0 100%, 0 0, 0 0);
    }

    100% {
        -webkit-clip-path: polygon(50% 50%, 49% 0%, 100% 0, 100% 100%, 0 100%, 0 0, 50% 0);
        clip-path: polygon(50% 50%, 49% 0%, 100% 0, 100% 100%, 0 100%, 0 0, 50% 0);
    }
}

@keyframes radarReverse {
    0% {
        -webkit-clip-path: polygon(50% 50%, 49% 0%, 100% 0, 100% 100%, 0 100%, 0 0, 50% 0);
        clip-path: polygon(50% 50%, 49% 0%, 100% 0, 100% 100%, 0 100%, 0 0, 50% 0);
    }

    12.5% {
        -webkit-clip-path: polygon(50% 50%, 49% 0%, 100% 0, 100% 100%, 0 100%, 0 0, 0 0);
        clip-path: polygon(50% 50%, 49% 0%, 100% 0, 100% 100%, 0 100%, 0 0, 0 0);
    }

    37.5% {
        -webkit-clip-path: polygon(50% 50%, 49% 0%, 100% 0, 100% 100%, 0 100%, 0 100%, 0 100%);
        clip-path: polygon(50% 50%, 49% 0%, 100% 0, 100% 100%, 0 100%, 0 100%, 0 100%);
    }

    62.5% {
        -webkit-clip-path: polygon(50% 50%, 49% 0%, 100% 0, 100% 100%, 100% 100%, 100% 100%, 100% 100%);
        clip-path: polygon(50% 50%, 49% 0%, 100% 0, 100% 100%, 100% 100%, 100% 100%, 100% 100%);
    }

    87.5% {
        -webkit-clip-path: polygon(50% 50%, 49% 0%, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0);
        clip-path: polygon(50% 50%, 49% 0%, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0);
    }

    100% {
        -webkit-clip-path: polygon(50% 50%, 49% 0%, 49% 0%, 49% 0%, 49% 0%, 49% 0%, 49% 0%);
        clip-path: polygon(50% 50%, 49% 0%, 49% 0%, 49% 0%, 49% 0%, 49% 0%, 49% 0%);
    }
}


@keyframes spanBorder {
    0% {
        border: 7px solid transparent;
    }

    100% {
        border: 7px solid #c1c1c1;
    }
}