<!-- 燈箱內容 -->
<section style="">
    <div class="box-modal" id="exampleModal2">
        <div class="boxmodal_top">
            <span id="top"></span>
            <div>
                <div><a href="javascript:;"><i class="fa fa-angle-down"></i>服務資訊  /  產品需求表單</a></div>
                <div class="swpmodal-close"><a href="javascript:;">X BACK</a></div>
            </div>
        </div>
        <div class="title">
            <h4>Opinion</h4>
            <h5>意見交流表單</h5>
            <p>以顧客滿意服務為宗旨，提供專業的<br>商品諮詢、維修查詢與電話訂購服務。歡迎您與我們聯絡</p>
        </div>
        <div class="content">
            <form action="" method="get" class="form">
                <ul>
                    <li class="two">
                        <label>姓　　名</label>
                        <input type="text" placeholder="王東元">
                    </li>
                    <li class="two">
                        <label>電　　話</label>
                        <input type="text" placeholder="02 - 23456789">
                    </li>

                    <li class="two">
                        <label>手機號碼</label>
                        <input type="text" placeholder="0912 345 678">
                    </li>
                    <li class="two">
                        <label>電子信箱</label>
                        <input type="text" placeholder="123@gmail.com">
                    </li>
                    <li class="one">
                        <label>連絡地址</label>
                        <input type="text" placeholder="台北市南港區三重路19-9號5樓">
                    </li>
                    <li class="one">
                        <label>意見標題</label>
                        <input type="text" placeholder="空氣清淨機意見">
                    </li>
                    <li class="one">
                        <label>意見內容</label>
                        <textarea rows="8" cols="80" placeholder="請寫下您的需求與建議.."></textarea>
                    </li>
                    <li class="one">
                        <label>驗 證 碼</label>
                        <input type="text" placeholder="">
                        <div class="testimg"><img src="../../assets/img/again.png" alt=""><img src="../../assets/img/testimg.jpg"></div>
                    </li>
                </ul>
                <div>
                    <div><input type="reset" value="X　RESET"></div>
                    <div><img src="../../assets/img/check.png"><input type="submit" value="SEND"></div>
                </div>
            </form>
        </div>
    </div>
</section>
