<!-- 燈箱內容 -->
<section style="">
    <div class="box-modal" id="exampleModal3">

        <div class="search_close_wrap swpmodal-close">
            <div class="search_close">
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="title">
            <h4>Search</h4>
            <h5>產品搜尋</h5>
        </div>
        <div class="content">
            <div class="search_input">
                <div class="search_icon"><i class="fa fa-search"></i></div>
                <input type="text" placeholder="請輸入您搜尋的內容">
                <div class="search_ok"><p>OK</p></div>
            </div>
            <div class="search_hot">
                <h6><i class="fa fa-star"></i>熱門搜尋：</h6>
                <ul>
                    <li><a href="javascript:void(0);"><p>定頻GS系列</p></a></li>
                    <li><a href="javascript:void(0);"><p>真實4K+Smart</p></a></li>
                    <li><a href="javascript:void(0);"><p>TL46U1TRE</p></a></li>
                    <li><a href="javascript:void(0);"><p>定頻GS系列</p></a></li>
                    <li><a href="javascript:void(0);"><p>真實4K+Smart</p></a></li>
                    <li><a href="javascript:void(0);"><p>TL46U1TRE</p></a></li>
                    <li><a href="javascript:void(0);"><p>定頻GS系列</p></a></li>
                    <li><a href="javascript:void(0);"><p>真實4K+Smart</p></a></li>
                    <li><a href="javascript:void(0);"><p>TL46U1TRE</p></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>