<!-- 燈箱內容 -->

<section style="">

    <div class="box-modal" id="exampleModal2">

        <!-- <div class="box-modal_close swpmodal-close">&times;</div> -->

        <div class="boxmodal_top">

            <span id="top"></span>

            <div>

                <div><a href="javascript:;"><i class="fa fa-angle-down"></i>服務資訊  /  產品需求表單</a></div>

                <div class="swpmodal-close"><a href="javascript:;">X BACK</a></div>

            </div>

        </div>

        <div class="boxmodal_inner">

            <h3>2017 / 02 / 01</h3>

            <h4>【金雞報喜】家用空調，好禮4選1！</h4>

        </div>

        <div class="boxmodal_slick">

            <ul class="new_slick">

                <li><img src="../../upload/new_inner03.jpg"></li>

                <li><img src="../../upload/new_inner03.jpg"></li>

                <li><img src="../../upload/new_inner03.jpg"></li>

            </ul>

        </div>

        <div class="boxmodal_video">

            <video preload controls loop>

                <source src="../../upload/video01.mp4" type="video/mp4" />

            </video>

            <iframe src="https://www.youtube.com/embed/i6-KbjNotkY" frameborder="0" allowfullscreen></iframe>

        </div>



        <div class="boxmodal_txt">

            <p>

                <h4>活動期間:106/02/01-106/04/30</h4>

                <h4>活動辦法:購買2.8KW以上之家用空調，享好禮4選1!</h4>

                <p>活動限定機種</p>

                <br>

                <img src="../../upload/new_inner01.jpg">

                <h4>活動贈品(4選1)</h4>

                <p>1.東元14吋DC遙控立扇 市價1.880元</p>

                <p>2.東元14吋DC遙控立扇 市價1.880元</p>

                <p>3.東元14吋DC遙控立扇 市價1.880元</p>

                <p>4.東元14吋DC遙控立扇 市價1.880元</p>

                <p>活動數量有限送完為止</p>

                <br>

                <img src="../../upload/new_inner02.jpg">

                <h4>注意事項</h4>

                <p>1.本活動限新品適用(不含福利品)</p>

                <p>2.本活動限新品適用(不含福利品)</p>

                <p>3.本活動限新品適用(不含福利品)</p>

                <p>4.本活動限新品適用(不含福利品)</p>

            </p>

        </div>

        <div class="boxmodal_bottom">

            <div>

                <a href="javascript:;"><i class="fa fa-twitter" aria-hidden="true"></i></a>

                <a href="javascript:;"><i class="fa fa-facebook" aria-hidden="true"></i></a>

                <a href="javascript:;"><i class="fa fa-instagram" aria-hidden="true"></i></a>

                <a href="javascript:;"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>

            </div>

            <div>

                <div>

                    <a href="javascript:;">

                        <div><img src="../../assets/img/TECO_arrow-02.svg"></div>

                        <div>

                            <p>2017 / 02 / 01</p>

                            <h4>東元家電DC扇，線上登錄享馬達保固六年 !</h4>

                        </div>

                    </a>

                </div>

                <div>

                    <a href="javascript:;">

                        <div><img src="../../assets/img/TECO_arrow-01.svg"></div>

                        <div>

                            <p>2017 / 02 / 01</p>

                            <h4>年終【美好生活】冰箱 / 洗衣機好禮贈送</h4>

                        </div>

                    </a>

                </div>

            </div>

        </div>

        <div class="boxmodal_footer gotop">

            <a href="#top">TOP<div class="icon-arrow-left"></div></a>

        </div>

    </div>

</section>

