@import "../base/_reset.scss";
@import "../base/_variable.scss";
@import "../base/_header.scss";
@import "../base/_footer.scss";
@import "../base/_common.scss";


.banner {
    .banner_slogan {
        h2 {
            @include banner_slogan_h2;

        }
        h3 {
            @include banner_slogan_h3;
        }
    }
}



.content {
    padding: 0vh 100px 0 100px;
    @media all and (max-width: 1024px) {
        padding: 0vh 5vw 0 5vw;
    }
    @media all and (max-width: 700px) {
        padding: 0vh 5vw 0 5vw;
    }
    .top_nav {
        ._series {
            animation: fadeInUp 1s both 1s;
        }
        ._back {
            animation: fadeInRight 1s both 1s;
        }
    }
    ._title {
        max-width: 900px;
        margin: auto;
        margin-top: 10vh;
        @media all and (max-width: 1024px) {
            margin-top: 8vh;
        }
        @media all and (max-width: 700px) {
            margin-top: 10vh;
        }
        h2 {
            @include title_h2;
            span {
                @include title_h2_span;
            }
        }
        h3 {
            @include title_h3;
        }
    }
}


.dropLists {
    display: flex;
    justify-content: space-between;
    max-width: 1620px;
    margin: auto;
    margin-top: 60px;
    padding: 0 100px;
    position: relative;
    z-index: 1;
    @media all and (max-width: 1620px) {
        padding:0;
    }
    @media all and (max-width: 700px) {
        margin-top: 8vh;
        @include flex-center;
        flex-direction: column;
    }
    .dropList {
        letter-spacing: 1px;
        width: calc(33.33% - 7px);
        position: relative;
        border-bottom: 2px solid #373737;
        @media all and (max-width: 700px) {
            max-width: 300px;
            width: 100%;
            border: 1px solid #e4e4e4;
        }
        .mCSB_container {
            margin-right: 0;
        }
        .selectMenu {
            @include flex-center;
            position: relative;
            padding: 15px 40px;
            cursor: pointer;
            color: rgba(0, 0, 0, .5);
            width: 100%;
            height: 100%;
            @media all and (max-width: 1024px) {
                padding: 15px 5vw;
            }
            @media all and (max-width: 700px) {
                @include font-size(14);
                padding: 15px 8vw;
            }
            p {
                font-family: "微軟正黑體";
                font-weight: bold;
            }
            &:after {
                font-family: 'icomoon';
                content: "\e905";
                @include font-size(12);
                position: absolute;
                top: 50%;
                right: 30px;
                transform: translateY(-50%);
                color: #4a494a;
                transition: all .5s ease;
                @media all and (max-width: 1024px) {
                    right:2vw;
                }
            }
            &.open {
                &:after {
                    transition: all .5s ease;
                    transform: translateY(-50%) rotateX(180deg);
                }
            }
            &.active {
                color: #000;
            }
        }
        ul {
            display: none;
            width: 100%;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #2b2b2b;
            padding: 10px 0;
            max-height: 200px;
            overflow-y: auto;
            @media all and (max-width: 700px) {
                max-height: 181px;
                position: relative;
                top: auto;
                left: auto;
            }
            li {
                font-family: "微軟正黑體";
                @include flex-center;
                cursor: pointer;
                color: #fff;
                padding: 10px 40px;
                transition: all .3s ease;
                @media all and (max-width: 1024px) {
                    padding: 10px 5vw;
                }
                @media all and (max-width: 700px) {
                    @include font-size(14);
                    padding: 10px 8vw;
                }
                &.checked {
                    color: $base_orange;
                }
                &:hover {
                    color: $base_orange;
                    transition: all .3s ease;
                }
            }
        }
    }
}




.downloadContent {
    @media all and (max-width: 700px) {
        margin-top: 8vh;
    }
}








/* 進場動畫*/

.content {
    ._title {
        h2 {
            animation: fadeInDown 1.8s both;
        }
        h3 {
            animation: fadeInDown 1.8s both .2s;
        }
    }
    .dropList {
        animation: fadeIn 1.8s both.4s;
        .selectMenu {
            animation: fadeInDown 1.8s both .4s;
        }
    }
}