<!DOCTYPE html>
<html>

<head>
    <title>TECO</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <link href="../../assets/img/favicon-20170414044912706.ico" rel="icon" type="image/x-icon">
    <!--slick-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/slick/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/slick/slick.css" />
    <!--fons-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/fontAwesome/font-awesome.css" />
    <!--semanticwp-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/semanticwp/jquery.semanticwp-modal.min.css" />
    <!--mCustomScrollbar-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/mCustomScrollbar/jquery.mCustomScrollbar.css" />
    <!--style.css-->
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/test/test2.css" />
</head>

<body class="fontM" id="top">
    <main id="test" class="index">
        <article class="testbox1">
            <section>
                <div class="srcbox">
                    <img class="customizeImg" src="" alt="">
                    <img class="productImg" src="../../upload/test5.png" alt="">
                    <img class="frame" src="../../upload/testsvg.png" alt="">
                </div>
                <div id="canvas"></div>
            </section>
            <div class="upload">
                <input type="file" accept="image/gif, image/jpeg, image/png">
                <label for="upload">上傳檔案</label>
            </div>
            <button type="button" class="zoomIn">+</button>
            <button type="button" class="zoomOut">-</button>
            <button type="button" class="reset">reset</button>
            <button type="button" class="downLoad">download</button>
            <img class="testImg" src="" alt="">
            <div class="data"></div>
        </article>
        <article class="testbox2">
            <div class="bgs">
                <ul>
                    <li><img src="../../upload/test/test2Bg_1920_1020.jpg" alt=""></li>
                    <li><img src="../../upload/test/test2Bg2_1920_1020.jpg" alt=""></li>
                </ul>
            </div>
            <div id="canvas"></div>
        </article>
    </main>
    <!--主要jQuery-->
    <script src="../../assets/js/vedor/jquery-1.11.3.min.js"></script>
    <!--共用-->
    <script src="../../assets/js/vedor/slick/slick.js"></script>
    <script src="../../assets/js/vedor/bLazy/bLazy.js"></script>
    <script src="../../assets/js/vedor/waypoints.min.js"></script>
    <script src="../../assets/js/vedor/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../../assets/js/vedor/jquery.easings.min.js"></script>
    <script src="../../assets/js/vedor/semanticwp/jquery.semanticwp-modal.min.js"></script>
    <script src="../../assets/js/vedor/prefixfree.min.js"></script>
    <script src="../../assets/js/vedor/picturefill.min.js"></script>
    <!--非共用-->
    <script src="../../assets/js/vedor/pixi.min.js"></script>
    <script src="../../assets/js/vedor/pixi-viewport/pixi-viewport.min.js"></script>
    <!--main js-->
    <script src="../../assets/js/main.js"></script>
    <script src="../../assets/js/test.js"></script>
</body>

</html>