<!-- 產品詳細資料燈箱 -->
<section>
    <div class="liboxClose">
        <span></span>
    </div>
    <div class="_title">
        <p class="en">INSPIRATION FOR YOU</p>
        <p class="ch">共有<span class="numb">4</span>件商品符合當前選色</p>
        <div class="words">
            <p>提醒您電腦色票為近似色，您可致電或透過購買小樣確認真實顏色，販售的產品將依實際油漆顏色為主。</p>
        </div>
    </div>
    <div class="_slick">
        <ul>
            <li>
                <!-- 後端請注意:下方的背景顏色為油漆產品的顏色，要讓客戶決定 -->
                <div class="_img" style="background-color:#b34b4c ">
                    <img src="../../upload/f2e/space/productImg_160_130.png" alt="">
                </div>
                <div class="_text">
                    <p class="material">天然植物漆</p>
                    <p class="paintColor">厄瓜多紅</p>
                    <p class="serialNumber">High-grade lime paint No.321</p>
                </div>
                <a href="javascript:void(0)">
                    <p>前往購買</p>
                </a>
            </li>
            <li>
                <!-- 後端請注意:下方的背景顏色為油漆產品的顏色，要讓客戶決定 -->
                <div class="_img" style="background-color:#b34b4c ">
                    <img src="../../upload/f2e/space/productImg2_60_160.png" alt="">
                </div>
                <div class="_text">
                    <p class="material">石灰漆</p>
                    <p class="paintColor">厄瓜多紅</p>
                    <p class="serialNumber">High-grade lime paint No.321</p>
                </div>
                <a href="javascript:void(0)">
                    <p>前往購買</p>
                </a>
            </li>
            <li>
                <!-- 後端請注意:下方的背景顏色為油漆產品的顏色，要讓客戶決定 -->
                <div class="_img" style="background-color:#b34b4c ">
                    <img src="../../upload/f2e/space/productImg_160_130.png" alt="">
                </div>
                <div class="_text">
                    <p class="material">天然植物漆</p>
                    <p class="paintColor">厄瓜多紅</p>
                    <p class="serialNumber">High-grade lime paint No.321</p>
                </div>
                <a href="javascript:void(0)">
                    <p>前往購買</p>
                </a>
            </li>
            <li>
                <!-- 後端請注意:下方的背景顏色為油漆產品的顏色，要讓客戶決定 -->
                <div class="_img" style="background-color:#b34b4c ">
                    <img src="../../upload/f2e/space/productImg2_60_160.png" alt="">
                </div>
                <div class="_text">
                    <p class="material">石灰漆</p>
                    <p class="paintColor">厄瓜多紅</p>
                    <p class="serialNumber">High-grade lime paint No.321</p>
                </div>
                <a href="javascript:void(0)">
                    <p>前往購買</p>
                </a>
            </li>
        </ul>
        <div class="arrow">
            <span class="arrow_left"><img src="../../assets/img/arrow_left.png" alt=""></span>
            <span class="arrow_right"><img src="../../assets/img/arrow_right.png" alt=""></span>
        </div>
    </div>
    <div class="back">
        <p>返回上一步</p>
    </div>
</section>