<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="language" content="tw" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="title" content="網站標題名稱" />
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <meta name="copyright" content="作者名子">
    <title>franzaward</title>
    <!-- 共用CSS -->
    <link rel="stylesheet" href="../../assets/js/vendor/cgpagechange/cgpagechange.css">
    <link rel="stylesheet" href="../../assets/js/vendor/jquery.mCustomScrollbar.min.js/jquery.mCustomScrollbar.min.css">
    <!-- 共用CSS end-->
    <!-- 非共用CSS -->
    <!-- 非共用CSS end-->
    <!-- 自訂的css -->
    <link rel="stylesheet" href="../../assets/css/juge/message.css">
</head>

<body id="juge" class="message">
    <header></header>
    <main>
        <article class="topTitle">
            <div class="h2">Judge Center</div>
            <p>評選專區</p>
        </article>
        <article class="leftNav">
            <section class="link">
                <!-- 使用者名 -->
                <div class="userName">
                    <!-- 後端請注意:下面的span如果用不到可以移除 -->
                    <p>Hi, <span>William</span>!</p>
                </div>
                <div class="overview">
                    <a href="../juge/overview.html">OVERVIEW</a>
                </div>
                <ul>
                    <li>
                        <a href="../juge/announcement.html">
                            <p>ANNOUNCEMENT</p>
                            <p>評審公告</p>
                        </a>
                    </li>
                    <li>
                        <a href="../juge/information.html">
                            <p>INFORMATION</p>
                            <p>學籍資訊</p>
                        </a>
                    </li>
                    <li class="selectionNav">
                        <a href="javascript:void(0)">
                            <p>SELECTION</p>
                            <p>評選作品管理</p>
                            <span>4</span>
                        </a>
                    </li>
                    <li>
                        <a href="../juge/message.html">
                            <p>MESSAGE</p>
                            <p>相關訊息</p>
                        </a>
                    </li>
                </ul>
            </section>
            <section class="logOut">
                <div class="linkMenu">
                    <div class="open">
                        <div>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <p>CONTESTANT SERVICE</p>
                    </div>
                    <div class="back">
                        <span></span>
                        <p>BACK</p>
                    </div>
                </div>
                <a href="javascript:void(0)">
                    <p>LOG OUT</p>
                </a>
            </section>
            <section class="categories">
                <span class="bgBox"></span>
                <div class="blue">
                    <div class="blueClose">
                        <span></span>
                    </div>
                    <h6>
                        CATEGORIES
                    </h6>
                    <ul>
                        <li>
                            <a href="../juge/selection_check.html">
                                <!-- 比賽名稱 -->
                                <div class="projectName">
                                    <span>Porcelain Ceramic PRODUCT</span>
                                    <span>陶瓷設計組</span>
                                </div>
                                <!-- 目前階段 -->
                                <div class="stage">
                                    <span>初選階段</span>
                                </div>
                                <!-- 結束時間 -->
                                <div class="end">
                                    until
                                    <span>May.16</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="../juge/selection_point.html">
                                <!-- 比賽名稱 -->
                                <div class="projectName">
                                    <span>Project of Rising Star</span>
                                    <span>法藍瓷光點計畫</span>
                                </div>
                                <!-- 目前階段 -->
                                <div class="stage">
                                    <span>初選階段</span>
                                </div>
                                <!-- 結束時間 -->
                                <div class="end">
                                    until
                                    <span>Aug.16</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="../juge/selection_point.html">
                                <!-- 比賽名稱 -->
                                <div class="projectName">
                                    <span>Project of Rising Star</span>
                                    <span>法藍瓷光點計畫</span>
                                </div>
                                <!-- 目前階段 -->
                                <div class="stage">
                                    <span>初選階段</span>
                                </div>
                                <!-- 結束時間 -->
                                <div class="end">
                                    until
                                    <span>Aug.16</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="../juge/selection_point.html">
                                <!-- 比賽名稱 -->
                                <div class="projectName">
                                    <span>Project of Rising Star</span>
                                    <span>法藍瓷光點計畫</span>
                                </div>
                                <!-- 目前階段 -->
                                <div class="stage">
                                    <span>初選階段</span>
                                </div>
                                <!-- 結束時間 -->
                                <div class="end">
                                    until
                                    <span>Aug.16</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="../juge/selection_point.html">
                                <!-- 比賽名稱 -->
                                <div class="projectName">
                                    <span>Project of Rising Star</span>
                                    <span>法藍瓷光點計畫</span>
                                </div>
                                <!-- 目前階段 -->
                                <div class="stage">
                                    <span>初選階段</span>
                                </div>
                                <!-- 結束時間 -->
                                <div class="end">
                                    until
                                    <span>Aug.16</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="../juge/selection_point.html">
                                <!-- 比賽名稱 -->
                                <div class="projectName">
                                    <span>Project of Rising Star</span>
                                    <span>法藍瓷光點計畫</span>
                                </div>
                                <!-- 目前階段 -->
                                <div class="stage">
                                    <span>初選階段</span>
                                </div>
                                <!-- 結束時間 -->
                                <div class="end">
                                    until
                                    <span>Aug.16</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="../juge/selection_point.html">
                                <!-- 比賽名稱 -->
                                <div class="projectName">
                                    <span>Project of Rising Star</span>
                                    <span>法藍瓷光點計畫</span>
                                </div>
                                <!-- 目前階段 -->
                                <div class="stage">
                                    <span>初選階段</span>
                                </div>
                                <!-- 結束時間 -->
                                <div class="end">
                                    until
                                    <span>Aug.16</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="../juge/selection_point.html">
                                <!-- 比賽名稱 -->
                                <div class="projectName">
                                    <span>Project of Rising Star</span>
                                    <span>法藍瓷光點計畫</span>
                                </div>
                                <!-- 目前階段 -->
                                <div class="stage">
                                    <span>初選階段</span>
                                </div>
                                <!-- 結束時間 -->
                                <div class="end">
                                    until
                                    <span>Aug.16</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </article>
        <article class="content">
            <section class="_title">
                <h6>Account & Basic information <span>帳號與基本資料管理</span></h6>
            </section>
            <section class="messageContent">
                <div class="addMessage">
                    <a href="javascript:void(0)">
                        <p>Add A New Message <b>新增一則訊息</b></p>
                        <span></span>
                    </a>
                </div>
                <div class="messages">
                    <ul>
                        <li>
                            <a class="openMessage" href="javascript:void(0)">
                                <div class="picture">
                                    <div class="_img">
                                        <img src="../../upload/fa2/member/information/picture_550_550.jpg" alt="">
                                    </div>
                                    <span>0</span>
                                </div>
                                <div class="_text">
                                    <!-- 主旨 -->
                                    <div class="subject">
                                        <p>Artwork 作品相關問題</p>
                                    </div>
                                    <!-- 日期 -->
                                    <div class="date">
                                        <p>13th. AUG. 2018</p>
                                    </div>
                                    <!-- 內文 -->
                                    <!-- 文字限制:超過130字會變... -->
                                    <div class="words">
                                        <p>法藍瓷：若您有任何問題可點選「客戶服務」中的「聯絡我們」，填寫你欲詢問的事項後按確認送出，您也可聯繫服務您的專責法藍瓷天使或是請於上班時間 (週一至週五 9:00-18:00...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="nomessage">
                    <span class="icon-leaf"></span>
                    <p>No Message</p>
                    <p>您目前沒有任何訊息記錄</p>
                </div>
            </section>
        </article>
        </main>
    <footer></footer>
    <script src="../../assets/js/style.js"></script>
</body>

</html>