<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="language" content="tw" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="title" content="網站標題名稱" />
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <meta name="copyright" content="作者名子">
    <title>franzaward</title>
    <!-- 共用CSS -->
    <link rel="stylesheet" href="../../assets/js/vendor/cgpagechange/cgpagechange.css">
    <link rel="stylesheet" href="../../assets/js/vendor/jquery.mCustomScrollbar.min.js/jquery.mCustomScrollbar.min.css">
    <!-- 共用CSS end-->
    <!-- 非共用CSS -->
    <!-- 非共用CSS end-->
    <!-- 自訂的css -->
    <link rel="stylesheet" href="../../assets/css/juge/selection.css">
</head>

<body id="juge" class="selection check">
    <header data-nobanner="true"></header>
    <main>
        <article class="topTitle">
            <div class="h2">Judge Center</div>
            <p>評選專區</p>
        </article>
        <article class="leftNav">
            <section class="link">
                <!-- 使用者名 -->
                <div class="userName">
                    <!-- 後端請注意:下面的span如果用不到可以移除 -->
                    <p>Hi, <span>William</span>!</p>
                </div>
                <div class="overview">
                    <a href="../juge/overview.html">OVERVIEW</a>
                </div>
                <ul>
                    <li>
                        <a href="../juge/announcement.html">
                            <p>ANNOUNCEMENT</p>
                            <p>評審公告</p>
                        </a>
                    </li>
                    <li>
                        <a href="../juge/information.html">
                            <p>INFORMATION</p>
                            <p>學籍資訊</p>
                        </a>
                    </li>
                    <li class="selectionNav">
                        <a href="javascript:void(0)">
                            <p>SELECTION</p>
                            <p>評選作品管理</p>
                            <span>4</span>
                        </a>
                    </li>
                    <li>
                        <a href="../juge/message.html">
                            <p>MESSAGE</p>
                            <p>相關訊息</p>
                        </a>
                    </li>
                </ul>
            </section>
            <section class="logOut">
                <div class="linkMenu">
                    <div class="open">
                        <div>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <p>CONTESTANT SERVICE</p>
                    </div>
                    <div class="back">
                        <span></span>
                        <p>BACK</p>
                    </div>
                </div>
                <a href="javascript:void(0)">
                    <p>LOG OUT</p>
                </a>
            </section>
            <section class="categories">
                <span class="bgBox"></span>
                <div class="blue">
                    <div class="blueClose">
                        <span></span>
                    </div>
                    <h6>
                        CATEGORIES
                    </h6>
                    <ul>
                        <li>
                            <a href="../juge/selection_check.html">
                                <!-- 比賽名稱 -->
                                <div class="projectName">
                                    <span>Porcelain Ceramic PRODUCT</span>
                                    <span>陶瓷設計組</span>
                                </div>
                                <!-- 目前階段 -->
                                <div class="stage">
                                    <span>初選階段</span>
                                </div>
                                <!-- 結束時間 -->
                                <div class="end">
                                    until
                                    <span>May.16</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="../juge/selection_point.html">
                                <!-- 比賽名稱 -->
                                <div class="projectName">
                                    <span>Project of Rising Star</span>
                                    <span>法藍瓷光點計畫</span>
                                </div>
                                <!-- 目前階段 -->
                                <div class="stage">
                                    <span>初選階段</span>
                                </div>
                                <!-- 結束時間 -->
                                <div class="end">
                                    until
                                    <span>Aug.16</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="../juge/selection_point.html">
                                <!-- 比賽名稱 -->
                                <div class="projectName">
                                    <span>Project of Rising Star</span>
                                    <span>法藍瓷光點計畫</span>
                                </div>
                                <!-- 目前階段 -->
                                <div class="stage">
                                    <span>初選階段</span>
                                </div>
                                <!-- 結束時間 -->
                                <div class="end">
                                    until
                                    <span>Aug.16</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="../juge/selection_point.html">
                                <!-- 比賽名稱 -->
                                <div class="projectName">
                                    <span>Project of Rising Star</span>
                                    <span>法藍瓷光點計畫</span>
                                </div>
                                <!-- 目前階段 -->
                                <div class="stage">
                                    <span>初選階段</span>
                                </div>
                                <!-- 結束時間 -->
                                <div class="end">
                                    until
                                    <span>Aug.16</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="../juge/selection_point.html">
                                <!-- 比賽名稱 -->
                                <div class="projectName">
                                    <span>Project of Rising Star</span>
                                    <span>法藍瓷光點計畫</span>
                                </div>
                                <!-- 目前階段 -->
                                <div class="stage">
                                    <span>初選階段</span>
                                </div>
                                <!-- 結束時間 -->
                                <div class="end">
                                    until
                                    <span>Aug.16</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="../juge/selection_point.html">
                                <!-- 比賽名稱 -->
                                <div class="projectName">
                                    <span>Project of Rising Star</span>
                                    <span>法藍瓷光點計畫</span>
                                </div>
                                <!-- 目前階段 -->
                                <div class="stage">
                                    <span>初選階段</span>
                                </div>
                                <!-- 結束時間 -->
                                <div class="end">
                                    until
                                    <span>Aug.16</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="../juge/selection_point.html">
                                <!-- 比賽名稱 -->
                                <div class="projectName">
                                    <span>Project of Rising Star</span>
                                    <span>法藍瓷光點計畫</span>
                                </div>
                                <!-- 目前階段 -->
                                <div class="stage">
                                    <span>初選階段</span>
                                </div>
                                <!-- 結束時間 -->
                                <div class="end">
                                    until
                                    <span>Aug.16</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="../juge/selection_point.html">
                                <!-- 比賽名稱 -->
                                <div class="projectName">
                                    <span>Project of Rising Star</span>
                                    <span>法藍瓷光點計畫</span>
                                </div>
                                <!-- 目前階段 -->
                                <div class="stage">
                                    <span>初選階段</span>
                                </div>
                                <!-- 結束時間 -->
                                <div class="end">
                                    until
                                    <span>Aug.16</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </article>
        <article class="selectionContent">
            <section class="project">
                <div class="projectName">Franz Risin Star Project <span>法藍瓷光點計畫</span></div>
                <div class="projectInf">
                    <!-- 階段 -->
                    <div class="stage">
                        <p>Primary Election 初選階段</p>
                        <div class="start">
                            <div class="month">JUN.</div>
                            <div class="day">01ST</div>
                        </div>
                        <div class="end">
                            <div class="month">JUL.</div>
                            <div class="day">31ST</div>
                        </div>
                    </div>
                    <!-- 總作品數 -->
                    <div class="totalPieces">
                        <p>TOTAL PIECES</p>
                        <span class="numb">201</span>
                    </div>
                </div>
            </section>
            <section class="selectNav">
                <div class="rule" onclick="juge.ajaxRuleLibox(this)" data-src="../../views/juge/ruleLibox_check.html">
                    <p>Selection Rule 規則說明</p>
                </div>
                <div class="chang">
                    <div class="grid active">
                        <p>GRID 格狀排列</p>
                    </div>
                    <div class="line">
                        <p>LINE 列表排列</p>
                    </div>
                </div>
            </section>
            <section class="tables">
                <!-- 格狀排列 -->
                <div class="gridArray">
                    <ul>
                        <!-- 後端請注意:請在已評分完的作品的li上 加上相對應的class 1.checked (獲選) 2.fail (落選)-->
                        <li class="checked">
                            <a href="../juge/score_check.html">
                                <div class="_img">
                                    <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/juge/selection/productImg1_550_500.jpg" alt="">
                                    <div class="hoverBox">
                                        <div class="hook"></div>
                                    </div>
                                </div>
                                <!-- 英文作品名 -->
                                <p class="en">VENIN VOIR</p>
                                <!-- 中文作品名 -->
                                <p class="ch">不完美的完美</p>
                            </a>
                        </li>
                        <!-- 後端請注意:請在已評分完的作品的li上 加上相對應的class 1.checked (獲選) 2.fail (落選)-->
                        <li class="fail">
                            <a href="../juge/score_check.html">
                                <div class="_img">
                                    <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/juge/selection/productImg2_550_500.jpg" alt="">
                                    <div class="hoverBox">
                                        <div class="hook"></div>
                                    </div>
                                </div>
                                <!-- 英文作品名 -->
                                <p class="en">VENIN VOIR</p>
                                <!-- 中文作品名 -->
                                <p class="ch">好事多磨 擂茶茶具組</p>
                            </a>
                        </li>
                         <li class="fail">
                            <a href="../juge/score_check.html">
                                <div class="_img">
                                    <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/juge/selection/productImg2_550_500.jpg" alt="">
                                    <div class="hoverBox">
                                        <div class="hook"></div>
                                    </div>
                                </div>
                                <!-- 英文作品名 -->
                                <p class="en">VENIN VOIR</p>
                                <!-- 中文作品名 -->
                                <p class="ch">好事多磨 擂茶茶具組</p>
                            </a>
                        </li>
                         <li class="fail">
                            <a href="../juge/score_check.html">
                                <div class="_img">
                                    <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/juge/selection/productImg2_550_500.jpg" alt="">
                                    <div class="hoverBox">
                                        <div class="hook"></div>
                                    </div>
                                </div>
                                <!-- 英文作品名 -->
                                <p class="en">VENIN VOIR</p>
                                <!-- 中文作品名 -->
                                <p class="ch">好事多磨 擂茶茶具組</p>
                            </a>
                        </li>
                         <li class="fail">
                            <a href="../juge/score_check.html">
                                <div class="_img">
                                    <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/juge/selection/productImg2_550_500.jpg" alt="">
                                    <div class="hoverBox">
                                        <div class="hook"></div>
                                    </div>
                                </div>
                                <!-- 英文作品名 -->
                                <p class="en">VENIN VOIR</p>
                                <!-- 中文作品名 -->
                                <p class="ch">好事多磨 擂茶茶具組</p>
                            </a>
                        </li>

                         <li class="fail">
                            <a href="../juge/score_check.html">
                                <div class="_img">
                                    <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/juge/selection/productImg2_550_500.jpg" alt="">
                                    <div class="hoverBox">
                                        <div class="hook"></div>
                                    </div>
                                </div>
                                <!-- 英文作品名 -->
                                <p class="en">VENIN VOIR</p>
                                <!-- 中文作品名 -->
                                <p class="ch">好事多磨 擂茶茶具組</p>
                            </a>
                        </li>
                         <li class="fail">
                            <a href="../juge/score_check.html">
                                <div class="_img">
                                    <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/juge/selection/productImg2_550_500.jpg" alt="">
                                    <div class="hoverBox">
                                        <div class="hook"></div>
                                    </div>
                                </div>
                                <!-- 英文作品名 -->
                                <p class="en">VENIN VOIR</p>
                                <!-- 中文作品名 -->
                                <p class="ch">好事多磨 擂茶茶具組</p>
                            </a>
                        </li> <li class="fail">
                            <a href="../juge/score_check.html">
                                <div class="_img">
                                    <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/juge/selection/productImg2_550_500.jpg" alt="">
                                    <div class="hoverBox">
                                        <div class="hook"></div>
                                    </div>
                                </div>
                                <!-- 英文作品名 -->
                                <p class="en">VENIN VOIR</p>
                                <!-- 中文作品名 -->
                                <p class="ch">好事多磨 擂茶茶具組</p>
                            </a>
                        </li>
                        
                    </ul>
                </div>
                <!-- 列表排列 -->
                <div class="lineArray">
                    <ul>
                        <!-- 後端請注意:請在已評分完的作品的li上 加上相對應的class 1.checked (獲選) 2.fail (落選)-->
                        <li class="checked">
                            <a href="../juge/score_check.html">
                                <span class="numb"></span>
                                <!-- 作品圖片 -->
                                <div class="_img">
                                    <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/juge/selection/productImg1_550_500.jpg" alt="">
                                </div>
                                <!-- 作品名稱 -->
                                <div class="designName">
                                    <p class="en">VENIN VOIR</p>
                                    <p class="ch">不完美的完美</p>
                                </div>
                                <span class="icon-hook"></span>
                            </a>
                        </li>
                        <!-- 後端請注意:請在已評分完的作品的li上 加上相對應的class 1.checked (獲選) 2.fail (落選)-->
                        <li class="fail">
                            <a href="../juge/score_check.html">
                                <span class="numb"></span>
                                <div class="_img">
                                    <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/juge/selection/productImg2_550_500.jpg" alt="">
                                </div>
                                <div class="designName">
                                    <p class="en"></p>
                                    <p class="ch">好事多磨 擂茶茶具組</p>
                                </div>
                                <span class="icon-hook"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </article>
    </main>
    <footer></footer>
    <script src="../../assets/js/style.js"></script>
</body>

</html>