
<section>
  <div class="liboxClose"><span></span></div>
  <div class="_title">
    <p>Series packing form</p><span style="background-color:#448aca"></span>
  </div>
  <div class="table">
    <div>
      <p class="series">Claro series</p>
      <p class="productName">Glazed wall tile </p>
    </div>
    <table>
      <thead>
        <tr>
          <td>Size<b>(cm)</b></td>
          <td>PCS<b>/box</b></td>
          <td>M2<b>/box</b></td>
          <td>KG<b>/box</b></td>
          <td>BOX<b>/plt</b></td>
          <td>M2<b>/plt</b></td>
          <td>KG<b>/plt</b></td>
          <td>M2<b>/con</b></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-name="Size(cm)">
            <p>30x60</p>
          </td>
          <td data-name="PCS/box">
            <p>8</p>
          </td>
          <td data-name="M2/box">
            <p>1.14</p>
          </td>
          <td data-name="KG/box">
            <p>25.28</p>
          </td>
          <td data-name="BOX/plt">
            <p>60</p>
          </td>
          <td data-name="M2/plt">
            <p>86.4</p>
          </td>
          <td data-name="KG/plt">
            <p>1516.8</p>
          </td>
          <td data-name="M2/con">
            <p>1325</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="ps">
    <p>This product is not repaired with magnetic tiles, with 3mm construction with standard, stronger earthquake resistance.</p>
  </div>
</section>