
<section>
  <div class="liboxClose"><span></span></div>
  <div class="_title">
    <p>Tile inspection report</p><span style="background-color:#22ac38"></span>
  </div>
  <div class="table">
    <div>
      <p class="series">Claro series</p>
      <p class="productName">Glazed wall tile </p>
    </div>
    <table>
      <thead>
        <tr>
          <td>Size<b>(cm)</b>
          </td>
          <td>Dimension
          </td>
          <td>Size allowance
          </td>
          <td>Water absorption
          </td>
          <td>Bend breaking load(n)
          </td>
          <td>Abrasion resistance
          </td>
          <td>Stains resistance
          </td>
          <td>Chemical resistance
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-name="Size(no trimming)">
            <p>30x60</p><b>(no trimming)</b>
          </td>
          <td data-name="Dimension">
            <p>300x600x9.5</p>
          </td>
          <td data-name="Size allowance">
            <p>±1</p>
          </td>
          <td data-name="Water absorption">
            <p>0.05%</p>
          </td>
          <td data-name="Bend breaking load(n)">
            <p>3838.3</p>
          </td>
          <td data-name="Abrasion resistance">
            <p>level 4</p>
          </td>
          <td data-name="Stains resistance">
            <p>level 5</p>
          </td>
          <td data-name="Chemical resistance">
            <p>level A</p>
          </td>
        </tr>
        <tr>
          <td data-name="Size(no trimming)">
            <p>30x60</p><b>(no trimming)</b>
          </td>
          <td data-name="Dimension">
            <p>300x600x9.5</p>
          </td>
          <td data-name="Size allowance">
            <p>±1</p>
          </td>
          <td data-name="Water absorption">
            <p>0.05%</p>
          </td>
          <td data-name="Bend breaking load(n)">
            <p>3838.3</p>
          </td>
          <td data-name="Abrasion resistance">
            <p>level 4</p>
          </td>
          <td data-name="Stains resistance">
            <p>level 5</p>
          </td>
          <td data-name="Chemical resistance">
            <p>level A</p>
          </td>
        </tr>
        <tr>
          <td data-name="Size(no trimming)">
            <p>30x60</p><b>(no trimming)</b>
          </td>
          <td data-name="Dimension">
            <p>300x600x9.5</p>
          </td>
          <td data-name="Size allowance">
            <p>±1</p>
          </td>
          <td data-name="Water absorption">
            <p>0.05%</p>
          </td>
          <td data-name="Bend breaking load(n)">
            <p>3838.3</p>
          </td>
          <td data-name="Abrasion resistance">
            <p>level 4</p>
          </td>
          <td data-name="Stains resistance">
            <p>level 5</p>
          </td>
          <td data-name="Chemical resistance">
            <p>level A</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="ps">
    <p>This product is not repaired with magnetic tiles, with .</p>
    <p>This product is not repaired with magnetic tiles, with 3mm construction with standard, stronger earthquake resistance.</p>
  </div>
</section>