<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
</head>

<body id="news">
    <header id="header"></header>
    <main class="news">
        <article class="banner_wrap">
            <!-- 1920X600 -->
            <div class="banner">
                <div class="banner__img">
                    <picture>
                        <!-- <source media="(max-width: 600px)" data-srcset="../../upload/f2e/course01_rwd.jpg" /> -->
                        <img class="b-lazy" src="../../assets/img/load_16x5.svg" data-src="../../upload/f2e/news/news_banner.jpg" />
                    </picture>
                </div>
                <div class="banner__title">
                    <h4>News</h4>
                    <h5>品牌動態</h5>
                </div>
            </div>
        </article>
        <article class="nav_wrap">
            <div class="navbit">
                <ul>
                    <li>
                        <a href="javascript:void(0);">
                            <h4>最新總覽</h4>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <h4>產品訊息</h4>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <h4>購物優惠</h4>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <h4>品牌活動</h4>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="nav-search-btn circle circle--40 circle--search">
                <svg x="0px" y="0px" width="14px" height="14.008px" viewBox="0 0 14 14.008">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.809,10.103c-3.328,2.045-6.333,0.606-7.684-1.188
                    C-0.509,6.744-0.353,3.71,1.528,1.728c1.874-1.975,4.913-2.297,7.156-0.76c2.516,1.724,3.039,4.49,1.441,7.885
                    c1.099,1.089,2.214,2.201,3.34,3.305c0.47,0.46,0.792,0.941,0.257,1.545c-0.417,0.472-0.929,0.396-1.542-0.214
                    C11.063,12.376,9.955,11.254,8.809,10.103z M5.554,1.311c-2.347,0-4.255,1.916-4.247,4.265C1.315,7.886,3.202,9.783,5.51,9.803
                    c2.347,0.021,4.28-1.884,4.289-4.225C9.809,3.23,7.899,1.312,5.554,1.311z" />
                </svg>
            </div>
            <div class="nav-search">
                <input type="text" placeholder="請輸入您欲搜尋的關鍵字">
                <div class="nav-search__btn">
                    <ul>
                        <li class="nav-search__btn-ok">
                            <a href="javascript:void(0);">
                                <h4>OK</h4>
                            </a>
                        </li>
                        <li class="nav-search__btn-cancel">
                            <a href="javascript:void(0);">
                                <h4>Cancel</h4>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </article>
        <article class="content_wrap">
            <!-- 
                    照片 大張 1100 X 700 寬固定高隨意 別差太多就好
                    照片 小張 470  X 500 寬固定高隨意 別差太多就好 
                -->
            <div class="news__content">
                <div class="news__inner">
                    <ul>
                        <li class="w100">
                            <div class="news_box">
                                <div class="news_box__img">
                                    <picture>
                                        <!-- <source media="(max-width: 600px)" data-srcset="../../upload/f2e/course01_rwd.jpg" /> -->
                                        <img class="b-lazy" src="../../upload/f2e/news/news_01.jpg" data-src="../../upload/f2e/news/news_01.jpg" />
                                    </picture>
                                </div>
                                <div class="news_box__txt">
                                    <a href="javascript:void(0);" class="lboxBtn" data-lbox="../news/lbox.html">
                                        <h4>當 AURO 與油畫藝術家相遇</h4>
                                        <p>俄羅斯畫家 Sergueê Toutounov，1958年出生於莫斯科的一個藝術世家，童年時在父親的指導下，進行了系統性的繪畫基礎訓練...</p>
                                        <div class="news_box__data">
                                            <ul>
                                                <li>
                                                    <h5>14 Mar. 2016</h5>
                                                </li>
                                                <li>
                                                    <h5>品牌活動</h5>
                                                </li>
                                            </ul>
                                            <div class="news_box__btn">
                                                <h5>EXPLORE</h5>
                                                <div class="circle circle--40 circle--add">
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="w50">
                            <div class="news_box">
                                <div class="news_box__img">
                                    <picture>
                                        <img class="b-lazy" src="../../upload/f2e/news/news_01.jpg" data-src="../../upload/f2e/news/news_02.jpg" />
                                    </picture>
                                </div>
                                <div class="news_box__txt">
                                    <a href="javascript:void(0);" class="lboxBtn" data-lbox="../news/lbox.html">
                                        <h4>2017年228連假期間營業公告</h4>
                                        <div class="news_box__data">
                                            <ul>
                                                <li>
                                                    <h5>14 Mar. 2016</h5>
                                                </li>
                                                <li>
                                                    <h5>產品訊息</h5>
                                                </li>
                                            </ul>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="w50 wtxt">
                            <div class="news_box">
                                <div class="news_box__txt" style="background: #98c7e0;">
                                    <a href="javascript:void(0);" class="lboxBtn" data-lbox="../news/lbox.html">
                                        <ul>
                                            <li>
                                                <h5>14 Mar. 2016</h5>
                                            </li>
                                            <li>
                                                <h5>品牌活動</h5>
                                            </li>
                                        </ul>
                                        <h4>本公司榮獲 2016 年新北市優良商號</h4>
                                        <p>新北市商業會於 2016 年 11月 16日舉辦第 70 屆商人 節慶祝活動，喬和工程有限公司榮獲本年度「優良商號」殊榮...</p>
                                        <div class="news_box__data">
                                            <div class="news_box__btn">
                                                <h5>EXPLORE</h5>
                                                <div class="circle circle--40 circle--add circle--add2">
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="w50">
                            <div class="news_box">
                                <div class="news_box__img">
                                    <picture>
                                        <img class="b-lazy" src="../../upload/f2e/news/news_01.jpg" data-src="../../upload/f2e/news/news_03.jpg" />
                                    </picture>
                                </div>
                                <div class="news_box__txt">
                                    <a href="javascript:void(0);" class="lboxBtn" data-lbox="../news/lbox.html">
                                        <h4>光觸媒漆產品介紹</h4>
                                        <div class="news_box__data">
                                            <ul>
                                                <li>
                                                    <h5>14 Mar. 2016</h5>
                                                </li>
                                                <li>
                                                    <h5>產品訊息</h5>
                                                </li>
                                            </ul>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="w50">
                            <div class="news_box">
                                <div class="news_box__img">
                                    <picture>
                                        <img class="b-lazy" src="../../upload/f2e/news/news_01.jpg" data-src="../../upload/f2e/news/news_04.jpg" />
                                    </picture>
                                </div>
                                <div class="news_box__txt">
                                    <a href="javascript:void(0);" class="lboxBtn" data-lbox="../news/lbox.html">
                                        <h4>2016 關渡自然公園藝術季 - 來自真實的故事</h4>
                                        <div class="news_box__data">
                                            <ul>
                                                <li>
                                                    <h5>14 Mar. 2016</h5>
                                                </li>
                                                <li>
                                                    <h5>品牌活動</h5>
                                                </li>
                                            </ul>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="w100">
                            <div class="news_box">
                                <div class="news_box__img">
                                    <picture>
                                        <!-- <source media="(max-width: 600px)" data-srcset="../../upload/f2e/course01_rwd.jpg" /> -->
                                        <img class="b-lazy" src="../../upload/f2e/news/news_01.jpg" data-src="../../upload/f2e/news/news_05.jpg" />
                                    </picture>
                                </div>
                                <div class="news_box__txt">
                                    <a href="javascript:void(0);" class="lboxBtn" data-lbox="../news/lbox.html">
                                        <h4>2016 關渡自然公園 濕地探險家</h4>
                                        <p>俄羅斯畫家 Sergueê Toutounov，1958年出生於莫斯科的一個藝術世家，童年時在父親的指導下，進行了系統性的繪畫基礎訓練...</p>
                                        <div class="news_box__data">
                                            <ul>
                                                <li>
                                                    <h5>19 Aug. 2016</h5>
                                                </li>
                                                <li>
                                                    <h5>品牌活動</h5>
                                                </li>
                                            </ul>
                                            <div class="news_box__btn">
                                                <h5>EXPLORE</h5>
                                                <div class="circle circle--40 circle--add">
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="news__more">
                    <div class="circle circle--40 circle--bit">
                    </div>
                    <p>更多訊息</p>
                    <hr>
                </div>
            </div>
        </article>
    </main>
    <footer id="footer"></footer>
    <!--主要jQuery-->
    <script src="../../assets/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="../../assets/js/vendor/slick/slick.js"></script>
    <script src="../../assets/js/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="../../assets/js/vendor/blazy.js"></script>
    <script src="../../assets/js/vendor/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="../../assets/js/vendor/masonry/masonry.pkgd.min.js"></script>
    <script src="../../assets/js/vendor/masonry/imagesloaded.pkgd.min.js"></script>
    <script src="../../assets/js/vendor/cgpagechange.js"></script>
    <script src="../../assets/js/vendor/lbox.js"></script>
    <!-- 主要 -->
    <script src="../../assets/js/main.js"></script>
    <!-- 個別 -->
    <script src="../../assets/js/news.js"></script>
</body>

</html>