section(style="background-image:url('../../upload/fa2/card/detail/liboxBg_900_670.jpg')")
    .box
        .liboxClose
            span
        ._title
            figure
                img(src="../../upload/fa2/card/detail/applicationImg1.png", alt="")
            p.ch 申請條件
            p.en Condition
        ._text
            p (一)勞保卡。(勞工保險被保險人投保資料表或以勞動保障卡查詢列印之明細資料，但不包括勞保屬於工會組織者)
            p (二)最新年度扣繳憑單或國稅局各式報稅憑單證明等。
            p (三)近期薪資單。(如任職公司組織型態屬獨資、合夥之小型商店行號者，薪資單需加蓋公司大小章或發票章，密封式薪資單則可免蓋章)
            p (四)薪資轉帳戶。(近 2 個月資料往來含存摺封面及內頁)
            p (五)近期在職薪資證明書或聘僱薪資證明書。(需蓋有公司大小章或發票章)
            p (六)活存往來明細。(近 2 個月往來資料含存摺封面及內頁)
        ._text
            a(href=java) 其他詳情請洽中國信託官網為準
        ._text
            p (一)勞保卡。(勞工保險被保險人投保資料表或以勞動保障卡查詢列印之明細資料，但不包括勞保屬於工會組織者)
            p (二)最新年度扣繳憑單或國稅局各式報稅憑單證明等。
            p (三)近期薪資單。(如任職公司組織型態屬獨資、合夥之小型商店行號者，薪資單需加蓋公司大小章或發票章，密封式薪資單則可免蓋章)
            p (四)薪資轉帳戶。(近 2 個月資料往來含存摺封面及內頁)
            p (五)近期在職薪資證明書或聘僱薪資證明書。(需蓋有公司大小章或發票章)
            p (六)活存往來明細。(近 2 個月往來資料含存摺封面及內頁)
        ._text
            a(href=java) 其他詳情請洽中國信託官網為準
        ._text
            p (一)勞保卡。(勞工保險被保險人投保資料表或以勞動保障卡查詢列印之明細資料，但不包括勞保屬於工會組織者)
            p (二)最新年度扣繳憑單或國稅局各式報稅憑單證明等。
            p (三)近期薪資單。(如任職公司組織型態屬獨資、合夥之小型商店行號者，薪資單需加蓋公司大小章或發票章，密封式薪資單則可免蓋章)
            p (四)薪資轉帳戶。(近 2 個月資料往來含存摺封面及內頁)
            p (五)近期在職薪資證明書或聘僱薪資證明書。(需蓋有公司大小章或發票章)
            p (六)活存往來明細。(近 2 個月往來資料含存摺封面及內頁)
        ._text
            a(href=java) 其他詳情請洽中國信託官網為準
        ._text
            p (一)勞保卡。(勞工保險被保險人投保資料表或以勞動保障卡查詢列印之明細資料，但不包括勞保屬於工會組織者)
            p (二)最新年度扣繳憑單或國稅局各式報稅憑單證明等。
            p (三)近期薪資單。(如任職公司組織型態屬獨資、合夥之小型商店行號者，薪資單需加蓋公司大小章或發票章，密封式薪資單則可免蓋章)
            p (四)薪資轉帳戶。(近 2 個月資料往來含存摺封面及內頁)
            p (五)近期在職薪資證明書或聘僱薪資證明書。(需蓋有公司大小章或發票章)
            p (六)活存往來明細。(近 2 個月往來資料含存摺封面及內頁)
        ._text
            a(href=java) 其他詳情請洽中國信託官網為準