<section>
    <div class="liboxClose">
        <span></span>
    </div>
    <div class="topNav">
        <p>CREAT A NEW MESSAGE</p>
        <span class="icon-leaf"></span>
    </div>
    <div class="_text">
        <p class="en">Feel Free to tell us your need!</p>
        <p class="ch">建立一筆新訊息</p>
        <p class="word">活動中若有任何需求或想法，都可以透過本訊息和我們聯繫，填寫你欲詢問的主旨，輸入內容後確認送出，若您的是緊急需求，建議您撥打專線 02-2767-0118，與客服人員直接聯繫。</p>
    </div>
    <form>
        <div class="workbox">
            <div class="dropList">
                <span class="selectMenu">
                    <p>Select Subject <b>請選擇您的訊息主旨</b></p>
                </span>
                <ul>
                    <li>作品相關問題</li>
                    <li>其他</li>
                </ul>
            </div>
        </div>
        <div class="workbox textarea">
            <textarea placeholder="Message Content 請輸入您的訊息內容..."></textarea>
        </div>
        <button type="button">Send 確認送出</button>
    </form>
</section>