<section>
    <div class="liboxClose">
        <span></span>
    </div>
    <div class="subject">
        <p class="en">Artwork</p>
        <p class="ch">作品相關問題</p>
    </div>
    <div class="conversation">
        <div class="date">
            <p>10th. AUG. 2018</p>
        </div>
        <!-- 端請注意:請在未讀的訊息上加上class "notyet" -->
        <div class="worker notyet">
            <div class="_img">
                <img src="../../upload/fa2/member/information/picture_550_550.jpg" alt="">
            </div>
            <div class="_text">
                <p>將來您可至申請者服務中心進行編輯，目前本專區尚未開放，我們可以先手動為您更新，請將修改內容告訴我們</p>
            </div>
        </div>
        <!-- ps:如果你發現有個對話框一直是紅色就表示你加錯div了! 笨蛋!! -->
        <div class="guest">
            <div class="_img">
                <img src="../../upload/fa2/member/information/picture_550_550.jpg" alt="">
            </div>
            <div class="_text">
                <p>將來您可至申請者服務中心進行編輯，目前本專區尚未開放，我們可以先手動為您更新，請將修改內容告訴我們</p>
            </div>
        </div>
    </div>
    <form>
        <textarea placeholder="Message Content 請輸入您的訊息內容..." data-rwdPlaceholder="請輸入您的訊息內容..." rows="10"></textarea>
        <button type="button">Send <span>確認送出</span></button>
    </form>
</section>