<section class="burgerMenu">
    <div>
        <span></span>
        <span></span>
        <span></span>
    </div>
</section>
<section class="hdLogo">
    <a href="../home/index.html">
        <img src="../../assets/img/hdLogo.png" alt="">
    </a>
</section>
<section class="hdLink">
    <ul>
        <li>
            <a href="../news/index.html">
                <p class="en">News</p>
                <p class="ch">新訊新知</p>
            </a>
        </li>
        <li>
            <a href="../about/index.html">
                <p class="en">about</p>
                <p class="ch">關於光點計劃</p>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)">
                <p class="en">Competition</p>
                <p class="ch">關於法藍瓷新秀獎</p>
            </a>
        </li>
       <!--  <li>
            <a href="javascript:void(0)">
                <p class="en">Gallery</p>
                <p class="ch">光點藝廊</p>
            </a>
        </li> -->
        <!--         <li>
            <a href="javascript:void(0)">
                <p class="en">FRANZ CSR</p>
                <p class="ch">關於法藍瓷CSR</p>
            </a>
        </li> -->
        <li>
            <!-- 後端請注意:data-anchor 為要連結到競賽頁面的裡的哪個連結 -->
            <a href="../competition/detail.html" data-toDownload="true">
                <p class="en">Downloads</p>
                <p class="ch">下載專區</p>
            </a>
        </li>
        <!-- <li>
            <a href="javascript:void(0)">
                <p class="en">Contact</p>
                <p class="ch">聯絡我們</p>
            </a>
        </li> -->
    </ul>
</section>
<article class="navMenu">
    <!-- 後端請注意:下方的文字顏色需要讓客戶決定 -->
    <span class="bg"></span>
    <section style="background:linear-gradient(to left, #1582c7 0%, #72389a 35%, #1582c7 65%, #72389a 100%);">
        <div class="liboxClose">
            <span></span>
        </div>
        <div class="logo">
            <a href="../home/index.html">
                <img src="../../upload/fa2/hdLogo3_100_55.png" alt="">
            </a>
        </div>
        <!-- 左邊 -->
        <div class="left">
            <div class="lang">
                <ul>
                    <li class="active">
                        <a href="javascript:void(0)">中文</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">ENGLISH</a>
                    </li>
                </ul>
            </div>
            <div class="link">
                <ul>
                    <li>
                        <a href="../about/index.html">
                            <p class="en">ABOUT</p>
                            <p class="ch">關於光點計劃</p>
                        </a>
                    </li>
                    <li>
                        <a href="../news/index.html">
                            <p class="en">NEWS</p>
                            <p class="ch">新知新訊</p>
                        </a>
                    </li>
                    <li>
                        <a href="../gallery/index.html">
                            <p class="en">GALLERY</p>
                            <p class="ch">光點藝廊</p>
                        </a>
                    </li>
                    <li class="QA fromMenu">
                        <a href="javascript:void(0)">
                            <p class="en">Q&A</p>
                            <p class="ch">相關問題</p>
                        </a>
                    </li>
                    <li>
                        <a href="../contact/index.html">
                            <p class="en">CONTACT</p>
                            <p class="ch">聯絡我們</p>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="../service/index.html">
                            <p class="en">CONTESTANT SERVICE</p>
                            <p class="ch">參賽者中心</p>
                        </a>
                    </li>
                    <li>
                        <a href="../juge/index.html">
                            <p class="en">JUDGE CENTER</p>
                            <p class="ch">評審中心</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="login">
                <p>welcome, Lin!</p>
                <a href="javascript:void(0)">Log out</a>
            </div>
            <div class="faceBook">
                <a href="javascript:void(0)">
                    <p>FOLLOW FRANZ RSP</p>
                    <span class="icon-facebook"></span>
                </a>
            </div>
        </div>
        <!-- 切換按鈕 -->
        <div class="rwdChangeButton">
            <p>SING UP</p>
            <span></span>
        </div>
        <!-- 右側圓圈圈 -->
        <div class="right">
            <div class="circleBox">
                <div class="circle">
                    <div class="first">
                        <div class="text">
                            <p>Project of Rising Star</p>
                            <p>法藍瓷光點計畫</p>
                        </div>
                    </div>
                    <div class="white">
                        <div class="circleClose">
                            <span></span>
                        </div>
                        <div class="year">2018 competition</div>
                        <div class="text">
                            <p class="en">Project of Rising Star</p>
                            <p class="ch">法藍瓷光點計畫</p>
                        </div>
                        <div class="introduction">
                            <a href="../competition/detail.html">INTRODUCTION</a>
                        </div>
                        <div class="sign">
                            <a href="../service/signup.html">SIGN UP</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="circleBox">
                <div class="circle">
                    <div class="first">
                        <div class="text">
                            <p>Project of Rising Star</p>
                            <p>法藍瓷光點計畫</p>
                        </div>
                    </div>
                    <div class="white">
                        <div class="circleClose">
                            <span></span>
                        </div>
                        <div class="year">2018 competition</div>
                        <div class="text">
                            <p class="en">Project of Rising Star</p>
                            <p class="ch">法藍瓷光點計畫</p>
                        </div>
                        <div class="introduction">
                            <a href="../competition/detail.html">INTRODUCTION</a>
                        </div>
                        <div class="sign">
                            <a href="../service/signup.html">SIGN UP</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="circleBox">
                <div class="circle">
                    <div class="first">
                        <div class="text">
                            <p>Project of Rising Star</p>
                            <p>法藍瓷光點計畫</p>
                        </div>
                    </div>
                    <div class="white">
                        <div class="circleClose">
                            <span></span>
                        </div>
                        <div class="year">2018 competition</div>
                        <div class="text">
                            <p class="en">Project of Rising Star</p>
                            <p class="ch">法藍瓷光點計畫</p>
                        </div>
                        <div class="introduction">
                            <a href="../competition/detail.html">INTRODUCTION</a>
                        </div>
                        <div class="sign">
                            <a href="../service/signup.html">SIGN UP</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="circleBox">
                <div class="circle">
                    <div class="first">
                        <div class="text">
                            <p>Project of Rising Star</p>
                            <p>法藍瓷光點計畫</p>
                        </div>
                    </div>
                    <div class="white">
                        <div class="circleClose">
                            <span></span>
                        </div>
                        <div class="year">2018 competition</div>
                        <div class="text">
                            <p class="en">Project of Rising Star</p>
                            <p class="ch">法藍瓷光點計畫</p>
                        </div>
                        <div class="introduction">
                            <a href="../competition/detail.html">INTRODUCTION</a>
                        </div>
                        <div class="sign">
                            <a href="../service/signup.html">SIGN UP</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="circleBox">
                <div class="circle">
                    <div class="first">
                        <div class="text">
                            <p>Project of Rising Star</p>
                            <p>法藍瓷光點計畫</p>
                        </div>
                    </div>
                    <div class="white">
                        <div class="circleClose">
                            <span></span>
                        </div>
                        <div class="year">2018 competition</div>
                        <div class="text">
                            <p class="en">Project of Rising Star</p>
                            <p class="ch">法藍瓷光點計畫</p>
                        </div>
                        <div class="introduction">
                            <a href="../competition/detail.html">INTRODUCTION</a>
                        </div>
                        <div class="sign">
                            <a href="../service/signup.html">SIGN UP</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="circleBox">
                <div class="circle">
                    <div class="first">
                        <div class="text">
                            <p>Project of Rising Star</p>
                            <p>法藍瓷光點計畫</p>
                        </div>
                    </div>
                    <div class="white">
                        <div class="circleClose">
                            <span></span>
                        </div>
                        <div class="year">2018 competition</div>
                        <div class="text">
                            <p class="en">Project of Rising Star</p>
                            <p class="ch">法藍瓷光點計畫</p>
                        </div>
                        <div class="introduction">
                            <a href="../competition/detail.html">INTRODUCTION</a>
                        </div>
                        <div class="sign">
                            <a href="../service/signup.html">SIGN UP</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="back"></div>
    </section>
</article>