<section class='box'>
    <div class='top'>
        <h2>Notice</h2>
        <h3>請登入參賽者帳號</h3>
        <p>您必須擁有申請者帳號才可進行報名，請先進行登入或註冊。</p>
        <div class="X">
            <span></span>
        </div>
    </div>
    <div class='bottom'>
        <ul>
            <li>
                <a href='../service/index.html'>
                    <span></span>
                    <p> Sign up： 註冊帳號 </p>
                </a>
            </li>
            <li>
                <a href='../service/index.html'>
                    <p> Log in： 登入帳號 </p>
                </a>
            </li>
        </ul>
    </div>
</section>