<section class='box'>
    <div class='top'>
        <h2>Notice</h2>
        <h3>操作尚未完成</h3>
        <p>當前的操作流程尚未完成， 離開畫面後系統將不會儲存您先前的紀 錄， 您確定要繼續嗎？</p>
    </div>
    <div class='bottom'>
        <ul>
            <li>
                <a href='../home/index.html'>
                    <p> Continue： 確定離開 </p>
                </a>
            </li>
            <li>
                <button class='liboxClose'>
                    <p> Cancel： 返回畫面 </p>
                </button>
            </li>
        </ul>
    </div>
</section>