//- 常用參數
include ../layout/_var.pug


doctype html
|
|
<html lang="en">
|
|
+head
|
|
body#winform.detail
    main
        article.banner
            section._slick
                    ul
                        -for(var i = 0 ;i< 3;i++)
                            li
                                figure
                                    img(src="../../upload/fa2/winform/bannerImg_1024_630.jpg", alt="")
+script
|
|
</html>