<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="language" content="tw" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="title" content="網站標題名稱" />
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <meta name="copyright" content="作者名子">
    <title>bite2eat</title>
    <!-- icon -->
    <!--    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/img/ico/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/ico/favicon.png">
    <link rel="icon" type="image/x-icon" href="../../assets/img/ico/favicon.png"> -->
    <!-- 共用CSS -->
    <link rel="stylesheet" href="../../assets/js/vendor/cgpagechange/cgpagechange.css">
    <link rel="stylesheet" href="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.css">
    <!-- 共用CSS end-->
    <!-- 非共用CSS -->
    <link rel="stylesheet" href="../../assets/js/vendor/perfect-scrollbar/perfect-scrollbar.min.css">
    <!-- 非共用CSS end-->
    <link rel="stylesheet" href="../../assets/css/menu/detail.css">
</head>

<body id="menu" class="detail">
    <main>
        <article class="header">
            <section class="booking">
                <span class="icon-reservation_nav_b"></span>
                <h2>立即預約</h2>
                <h3>RESERVE</h3>
            </section>
            <section class="backAndMenu">
                <div class="back">
                    <a href="../menu/index.html">
                        <p>
                            back <span>餐點總覽</span>
                        </p>
                    </a>
                </div>
                <div class="burger">
                    <div>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </section>
            <section class="hd_logo">
                <a href="../home/index.html">
                    <span></span>
                </a>
            </section>
            <section class="dish_nav">
                <ul>
                    <li class="active"><span>pizza</span> 披薩</li>
                    <li><span>pasta</span> 義大利麵</li>
                    <li><span>risotto</span> 燉飯</li>
                    <li><span>steak</span> 排餐</li>
                    <li><span>side dishes</span> 法利亞小點</li>
                    <li><span>soup & appetizer</span> 開胃點心</li>
                    <li><span>dessert</span> 甜點</li>
                    <li><span>set meal</span> 套餐</li>
                </ul>
            </section>
        </article>
        <article class="banner short">
            <section class="banner_img">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="../../upload/fa2/menu/detail/bannerImg1_rwd_1024_1325.jpg" media="(max-width:1023px)">
                    <!-- 後端請注意:如果圖片是淺色圖的話請在data-color 填入 whiteBg 深色圖請空白-->
                    <img data-color="" src="../../upload/fa2/menu/detail/bannerImg1_1920_745.jpg" alt="">
                </picture>
            </section>
            <section class="banner_text">
                <h5>葷食菜單與套餐介紹</h5>
                <h3>non-vegetarian & set meal</h3>
            </section>
        </article>
        <article class="content">
            <section class="dish_menu">
                <div class="_title">
                    <h5>Which one do you want</h5>
                    <p>今天想吃什麼呢？</p>
                </div>
                <ul>
                    <li class="pizza active">
                        <!-- 後端請注意:須讓客戶可選hover動畫型態 1.topRightTilt向右上傾斜 2.top向上 3.topLeftTilt向左上傾斜 統一由最後一個img進行動畫  第一個圖片為icon初始灰色狀態-->
                        <div class="_img topRightTilt">
                            <img src="../../upload/fa2/menu/detail/pizza.svg" alt="">
                            <img src="../../upload/fa2/menu/detail/pizza_big.svg" alt="">
                            <img src="../../upload/fa2/menu/detail/pizza_small.svg" alt="">
                        </div>
                        <div class="_text">
                            <p>pizza</p>
                            <p>披薩</p>
                        </div>
                    </li>
                    <li class="pasta">
                        <div class="_img top">
                            <img src="../../upload/fa2/menu/detail/pasta.svg" alt="">
                            <img src="../../upload/fa2/menu/detail/pasta_big.svg" alt="">
                            <img src="../../upload/fa2/menu/detail/pasta_small.svg" alt="">
                        </div>
                        <div class="_text">
                            <p>pasta</p>
                            <p>義大利麵</p>
                        </div>
                    </li>
                    <li class="risotto">
                        <div class="_img top">
                            <img src="../../upload/fa2/menu/detail/risotto.svg" alt="">
                            <img src="../../upload/fa2/menu/detail/risotto_big.svg" alt="">
                            <img src="../../upload/fa2/menu/detail/risotto_small.svg" alt="">
                        </div>
                        <div class="_text">
                            <p>risotto</p>
                            <p>燉飯</p>
                        </div>
                    </li>
                    <li class="steak">
                        <div class="_img top">
                            <img src="../../upload/fa2/menu/detail/steak.svg" alt="">
                            <img src="../../upload/fa2/menu/detail/steak_big.svg" alt="">
                            <img src="../../upload/fa2/menu/detail/steak_small.svg" alt="">
                        </div>
                        <div class="_text">
                            <p>steak</p>
                            <p>排餐</p>
                        </div>
                    </li>
                    <li class="side">
                        <div class="_img top">
                            <img src="../../upload/fa2/menu/detail/side.svg" alt="">
                            <img src="../../upload/fa2/menu/detail/side_big.svg" alt="">
                            <img src="../../upload/fa2/menu/detail/side_small.svg" alt="">
                        </div>
                        <div class="_text">
                            <p>side dishes</p>
                            <p>法利亞小點</p>
                        </div>
                    </li>
                    <li class="soup">
                        <div class="_img top">
                            <img src="../../upload/fa2/menu/detail/soup.svg" alt="">
                            <img src="../../upload/fa2/menu/detail/soup_big.svg" alt="">
                            <img src="../../upload/fa2/menu/detail/soup_small.svg" alt="">
                        </div>
                        <div class="_text">
                            <p>soup & appetizer</p>
                            <p>開胃點心</p>
                        </div>
                    </li>
                    <li class="dessert">
                        <div class="_img leftTurn">
                            <img src="../../upload/fa2/menu/detail/dessert.svg" alt="">
                            <img src="../../upload/fa2/menu/detail/dessert_big.svg" alt="">
                            <img src="../../upload/fa2/menu/detail/dessert_small.svg" alt="">
                        </div>
                        <div class="_text">
                            <p>dessert</p>
                            <p>甜點</p>
                        </div>
                    </li>
                    <li class="set">
                        <div class="_img horizon">
                            <img src="../../upload/fa2/menu/detail/set.svg" alt="">
                            <img src="../../upload/fa2/menu/detail/set_big.svg" alt="">
                            <img src="../../upload/fa2/menu/detail/set_small.svg" alt="">
                        </div>
                        <div class="_text">
                            <p>set meal</p>
                            <p>套餐</p>
                        </div>
                    </li>
                </ul>
            </section>
            <!-- 後端請注意:請從這裡開始換資料 -->
            <!-- 後端請注意:須讓客戶可選擇咖啡色的字 在class
            上加brownWords -->
            <section class="dish_content theOne ">
                <div class="dishImg">
                    <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/menu/detail/dishImg1_1240_435.png" alt="">
                </div>
                <div class="dish_detail" style="background-color:#3b718f;">
                    <div class="_title">
                        <h2>pasta</h2>
                        <h3>義大利麵</h3>
                        <p>義大利麵（義大利語：Pasta），泛指所有源自義大利的麵食。在義大利，一般會用「Pasta」來稱呼各種由麵粉及水、有時或會加入雞蛋.狹義的義式麵體是由杜蘭麵粉所製，廣義則可包括由其他穀物為原料所製成的麵體。</p>
                        <!-- 後端請注意:如果菜色沒有分類只有一種的話 此處ul移除 -->
                        <ul>
                            <li class="active">
                                <!-- 後端起請注意:此處要讓客戶可選擇 有四種 1.saefood 2.chicken 3.vegetable 4.pork-->
                                <!-- <span class="seafood"></span> -->
                                <div class="_img">
                                    <img src="../../upload/fa2/menu/detail/seafoodS.svg" alt="">
                                </div>
                                <!-- 英文 -->
                                <h5><span>SEA FOOD</span></h5>
                                <!-- 中文 -->
                                <p>海鮮</p>
                            </li>
                            <li>
                                <!-- 後端起請注意:此處要讓客戶可選擇 有四種 1.saefood 2.chicken 3.vegetable 4.pork-->
                                <!-- <span class="chicken"></span> -->
                                <div class="_img">
                                    <img src="../../upload/fa2/menu/detail/chickenS.svg" alt="">
                                </div>
                                <!-- 英文 -->
                                <h5><span>CHICKEN & DUCK</span></h5>
                                <!-- 中文 -->
                                <p>雞鴨</p>
                            </li>
                            <li>
                                <!-- 後端起請注意:此處要讓客戶可選擇 有四種 1.saefood 2.chicken 3.vegetable 4.pork-->
                                <!-- <span class="vegetable"></span> -->
                                <div class="_img">
                                    <img src="../../upload/fa2/menu/detail/vegS.svg" alt="">
                                </div>
                                <!-- 英文 -->
                                <h5><span>VEGETABLE</span></h5>
                                <!-- 中文 -->
                                <p>鮮蔬</p>
                            </li>
                            <li>
                                <!-- 後端起請注意:此處要讓客戶可選擇 有四種 1.saefood 2.chicken 3.vegetable 4.pork-->
                                <!-- <span class="pork"></span> -->
                                <div class="_img">
                                    <img src="../../upload/fa2/menu/detail/meatS.svg" alt="">
                                </div>
                                <!-- 英文 -->
                                <h5><span>BEEF & PORK</span></h5>
                                <!-- 中文 -->
                                <p>豬牛</p>
                            </li>
                        </ul>
                    </div>
                    <div class="dish_type">
                        <div class="dishes" data-bgcolor="#3b718f">
                            <div class="typeName">
                                <div class="icon">
                                    <!-- <span class="seafood" style="color: #3b718f"></span> -->
                                    <div class="_img">
                                        <img src="../../upload/fa2/menu/detail/seafood.svg" alt="">
                                    </div>
                                </div>
                                <div class="_text">
                                    <!-- 英文 -->
                                    <h5>Sea Food</h5>
                                    <!-- 中文 -->
                                    <p>海鮮</p>
                                </div>
                            </div>
                            <!-- 後端請注意:每個區塊有他自己的data-bgcolor -->
                            <!-- 後端請注意:這裡的自由度很高要小心 內容是空白的div請移除-->
                            <ul>
                                <li class="dish">
                                    <div class="psAndSpicy">
                                        <!-- 圓形標註 -->
                                        <!-- 後端請注意:如果沒有請移除  -->
                                        <div class="ps">
                                            <!-- 內容最多只能四個字元 -->
                                            <p>hot</p>
                                        </div>
                                        <!-- 辣度 -->
                                        <div class="spicy">
                                            <!-- 後端請注意:此處需可讓客戶決定要有幾個span符號-->
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="dishName">
                                        <!-- 英文 -->
                                        <h5>Spaghetti in XO silver anchovy Sauce</h5>
                                        <!-- 中文 -->
                                        <p>XO 銀帶飛魚麵</p>
                                        <h4>
                                            混和起司、蜂蜜、馬茲瑞拉
                                        </h4>
                                        <h3>
                                            Cheese, Honey, Mozzarella
                                        </h3>
                                        <!-- 價格 -->
                                        <div class="dishPrice">
                                            NTD 119
                                        </div>
                                    </div>
                                    <!-- 開啟詳細介紹燈箱 -->
                                    <!-- 後端請注意:openDetailLibox不一定每個都有 須讓客戶決定 如果沒有請移除-->
                                    <div class="openDetailLibox" style="color:#3b718f ">
                                        <p>DETAIL 詳細介紹</p>
                                    </div>
                                </li>
                                <li class="dish">
                                    <div class="dishName">
                                        <!-- 英文 -->
                                        <h5>Spaghetti w/ Sakura Shrimp and Clams</h5>
                                        <!-- 中文 -->
                                        <p>櫻花蝦蛤蜊麵</p>
                                        <!-- 價格 -->
                                        <div class="dishPrice">
                                            NTD 179
                                        </div>
                                    </div>
                                </li>
                                <li class="dish">
                                    <div class="dishName">
                                        <!-- 英文 -->
                                        <h5>Spaghetti w/ Clams & White Wine Sauce</h5>
                                        <!-- 中文 -->
                                        <p>白酒香草蛤蜊麵</p>
                                        <!-- 價格 -->
                                        <div class="dishPrice">
                                            NTD 179
                                        </div>
                                        <!-- 辣度 -->
                                    </div>
                                </li>
                                <li class="dish">
                                    <div class="psAndSpicy">
                                        <!-- 圓形標註 -->
                                        <!-- 後端請注意:如果沒有請移除  -->
                                        <div class="ps">
                                            <!-- 內容最多只能四個字元 -->
                                            <p>復南限定</p>
                                        </div>
                                    </div>
                                    <div class="dishName">
                                        <!-- 英文 -->
                                        <h5>Spaghetti w/ Smoked Salmon in Creamy Lemon Sauce</h5>
                                        <!-- 中文 -->
                                        <p>檸檬奶油燻鮭麵</p>
                                        <!-- 價格 -->
                                        <div class="dishPrice">
                                            NTD 199
                                        </div>
                                    </div>
                                </li>
                                <li class="dish">
                                    <div class="psAndSpicy">
                                        <!-- 圓形標註 -->
                                        <!-- 後端請注意:如果沒有請移除  -->
                                        <div class="ps">
                                            <!-- 內容最多只能四個字元 -->
                                            <p>new</p>
                                        </div>
                                    </div>
                                    <div class="dishName">
                                        <!-- 英文 -->
                                        <h5>Spaghetti w/ Sakura shrimps in Creamy Sauce</h5>
                                        <!-- 中文 -->
                                        <p>櫻花奶油麵</p>
                                        <!-- 價格 -->
                                        <div class="dishPrice">
                                            NTD 199
                                        </div>
                                    </div>
                                </li>
                                <li class="dish">
                                    <div class="dishName">
                                        <!-- 英文 -->
                                        <h5>Spaghetti w/ Clams & Pesto Sauce</h5>
                                        <!-- 中文 -->
                                        <p>青醬蛤蜊麵</p>
                                        <!-- 價格 -->
                                        <div class="dishPrice">
                                            NTD 199
                                        </div>
                                    </div>
                                </li>
                                <li class="dish">
                                    <div class="psAndSpicy">
                                        <!-- 辣度 -->
                                        <div class="spicy">
                                            <!-- 後端請注意:此處需可讓客戶決定要有幾個span符號-->
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="dishName">
                                        <!-- 英文 -->
                                        <h5>Spaghetti w/ Prawns & Pesto Sauce</h5>
                                        <!-- 中文 -->
                                        <p>青醬鮮蝦麵</p>
                                        <!-- 價格 -->
                                        <div class="dishPrice">
                                            NTD 199
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="mobileCross">
                            </div>
                        </div>
                        <div class="dishes" data-bgcolor="#2a5f7c">
                            <div class="typeName">
                                <div class="icon">
                                    <!-- <span class="chicken" style="color: #2a5f7c"></span>
                                     -->
                                    <div class="_img">
                                        <img src="../../upload/fa2/menu/detail/chicken.svg" alt="">
                                    </div>
                                </div>
                                <div class="_text">
                                    <!-- 英文 -->
                                    <h5>Chicken & Duck</h5>
                                    <!-- 中文 -->
                                    <p>雞鴨</p>
                                </div>
                            </div>
                            <!-- 後端請注意:每個區塊有他自己的data-bgcolor 請開顏色選擇器給他 -->
                            <!-- 後端請注意:這裡的自由度很高要小心 -->
                            <ul>
                                <li class="dish">
                                    <div class="psAndSpicy">
                                        <!-- 圓形標註 -->
                                        <!-- 後端請注意:如果沒有請移除  -->
                                        <div class="ps">
                                            <p>hot</p>
                                        </div>
                                        <!-- 辣度 -->
                                        <div class="spicy">
                                            <!-- 後端請注意:此處需可讓客戶決定要有幾個span符號-->
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="dishName">
                                        <!-- 英文 -->
                                        <h5>Spaghetti w/ Chicken in Creamy Garlic Sauce</h5>
                                        <!-- 中文 -->
                                        <p>香蒜奶油雞肉麵</p>
                                        <!-- 價格 -->
                                        <div class="dishPrice">
                                            NTD 199
                                        </div>
                                    </div>
                                </li>
                                <li class="dish">
                                    <div class="dishName">
                                        <!-- 英文 -->
                                        <h5>Spaghetti w/ Herbs Chicken & Tomato Sauce</h5>
                                        <!-- 中文 -->
                                        <p>茄汁香草雞肉麵</p>
                                        <!-- 價格 -->
                                        <div class="dishPrice">
                                            NTD 199
                                        </div>
                                    </div>
                                </li>
                                <li class="dish">
                                    <div class="psAndSpicy">
                                        <!-- 辣度 -->
                                        <div class="spicy">
                                            <!-- 後端請注意:此處需可讓客戶決定要有幾個span符號-->
                                        </div>
                                    </div>
                                    <div class="dishName">
                                        <!-- 英文 -->
                                        <h5>Spaghetti w/ Chicken & Pesto Sauce</h5>
                                        <!-- 中文 -->
                                        <p>青醬雞肉麵</p>
                                        <!-- 價格 -->
                                        <div class="dishPrice">
                                            NTD 209
                                        </div>
                                    </div>
                                </li>
                                <li class="dish">
                                    <div class="psAndSpicy">
                                        <!-- 圓形標註 -->
                                        <!-- 後端請注意:如果沒有請移除  -->
                                        <div class="ps">
                                            <p>復南限定</p>
                                        </div>
                                    </div>
                                    <div class="dishName">
                                        <!-- 英文 -->
                                        <h5>Spicy Spaghetti w/ Smoked Duck Breast & Garlic Chips</h5>
                                        <!-- 中文 -->
                                        <p>燻嫩鴨胸蒜辣麵</p>
                                        <!-- 價格 -->
                                        <div class="dishPrice">
                                            NTD 209
                                        </div>
                                    </div>
                                </li>
                                <li class="dish">
                                    <div class="psAndSpicy">
                                        <!-- 圓形標註 -->
                                        <!-- 後端請注意:如果沒有請移除  -->
                                        <div class="ps">
                                            <p>NEW</p>
                                        </div>
                                        <!-- 辣度 -->
                                        <div class="spicy">
                                            <!-- 後端請注意:此處需可讓客戶決定要有幾個span符號-->
                                        </div>
                                    </div>
                                    <div class="dishName">
                                        <!-- 英文 -->
                                        <h5>Spaghetti w/ Chicken & Walnut in Creamy Pommery Mustard Sauce</h5>
                                        <!-- 中文 -->
                                        <p>法式芥末子奶醬佐核果雞肉麵</p>
                                        <!-- 價格 -->
                                        <div class="dishPrice">
                                            NTD 229
                                        </div>
                                    </div>
                                </li>
                                <li class="dish">
                                    <div class="dishName">
                                        <!-- 英文 -->
                                        <h5>Spicy Spagheti w/ Mushrooms, Chicken & Garlic Chips</h5>
                                        <!-- 中文 -->
                                        <p>蒜辣野菇雞肉麵</p>
                                        <!-- 價格 -->
                                        <div class="dishPrice">
                                            NTD 239
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="mobileCross">
                            </div>
                        </div>
                        <div class="dishes" data-bgcolor="#184965">
                            <div class="typeName">
                                <div class="icon">
                                    <!--  <span class="vegetable" style="color: #2a5f7c"></span> -->
                                    <div class="_img">
                                        <img src="../../upload/fa2/menu/detail/veg.svg" alt="">
                                    </div>
                                </div>
                                <div class="_text">
                                    <!-- 英文 -->
                                    <h5>Vagetable</h5>
                                    <!-- 中文 -->
                                    <p>鮮蔬</p>
                                </div>
                            </div>
                            <!-- 後端請注意:每個區塊有他自己的data-bgcolor -->
                            <!-- 後端請注意:這裡的自由度很高要小心 -->
                            <ul>
                                <li class="dish">
                                    <div class="psAndSpicy">
                                        <!-- 圓形標註 -->
                                        <!-- 後端請注意:如果沒有請移除  -->
                                        <div class="ps">
                                            <p>HOT</p>
                                        </div>
                                        <!-- 辣度 -->
                                        <div class="spicy">
                                            <!-- 後端請注意:此處需可讓客戶決定要有幾個span符號-->
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="dishName">
                                        <!-- 英文 -->
                                        <h5>Spicy Spaghetti w/ Garlic Chips & Olive Oil</h5>
                                        <!-- 中文 -->
                                        <p>香蒜辣味麵</p>
                                        <!-- 價格 -->
                                        <div class="dishPrice">
                                            NTD 119
                                        </div>
                                    </div>
                                    <!-- 開啟詳細介紹燈箱 -->
                                    <!-- 後端請注意:openDetailLibox不一定每個都有 須讓客戶決定 如果沒有請移除-->
                                    <div class="openDetailLibox" style="color: #2a5f7c">
                                        <p>DETAIL 詳細介紹</p>
                                    </div>
                                </li>
                                <li class="dish">
                                    <div class="dishName">
                                        <!-- 英文 -->
                                        <h5>Spaghetti w/ Mixed Vegetable, Basil & Olive Oil</h5>
                                        <!-- 中文 -->
                                        <p>義式橄欖油蔬菜麵</p>
                                        <!-- 價格 -->
                                        <div class="dishPrice">
                                            NTD 179
                                        </div>
                                    </div>
                                </li>
                                <li class="dish">
                                    <div class="dishName">
                                        <!-- 英文 -->
                                        <h5>Spaghetti w/ Clams & White Wine Sauce</h5>
                                        <!-- 中文 -->
                                        <p>奶油牛肝菌菇麵</p>
                                        <!-- 價格 -->
                                        <div class="dishPrice">
                                            NTD 179
                                        </div>
                                    </div>
                                </li>
                                <li class="dish">
                                    <div class="psAndSpicy">
                                        <!-- 圓形標註 -->
                                        <!-- 後端請注意:如果沒有請移除  -->
                                        <div class="ps">
                                            <p>復南限定</p>
                                        </div>
                                    </div>
                                    <div class="dishName">
                                        <!-- 英文 -->
                                        <h5>Bavette w/ truffle butter and mushrooms</h5>
                                        <!-- 中文 -->
                                        <p>松露奶油野菇細扁麵</p>
                                        <!-- 價格 -->
                                        <div class="dishPrice">
                                            NTD 199
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="mobileCross">
                            </div>
                        </div>
                        <div class="dishes" data-bgcolor="#0c3a53">
                            <div class="typeName">
                                <div class="icon">
                                    <!-- <span class="pork" style="color: #0c3a53"></span> -->
                                    <div class="_img">
                                        <img src="../../upload/fa2/menu/detail/meat.svg" alt="">
                                    </div>
                                </div>
                                <div class="_text">
                                    <!-- 英文 -->
                                    <h5>Pork & Beef</h5>
                                    <!-- 中文 -->
                                    <p>豬牛</p>
                                </div>
                            </div>
                            <!-- 後端請注意:每個區塊有他自己的data-bgcolor -->
                            <!-- 後端請注意:這裡的自由度很高要小心 -->
                            <ul>
                                <li class="dish">
                                    <div class="psAndSpicy">
                                        <!-- 圓形標註 -->
                                        <!-- 後端請注意:如果沒有請移除  -->
                                        <div class="ps">
                                            <p>HOT</p>
                                        </div>
                                        <!-- 辣度 -->
                                        <div class="spicy">
                                            <!-- 後端請注意:此處需可讓客戶決定要有幾個span符號-->
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="dishName">
                                        <!-- 英文 -->
                                        <h5>Spicy Spaghetti w/ Bacon, Garlic, Mushrooms & S</h5>
                                        <!-- 中文 -->
                                        <p>蒜辣培根菠菜野菇麵</p>
                                        <!-- 價格 -->
                                        <div class="dishPrice">
                                            NTD 119
                                        </div>
                                    </div>
                                    <!-- 開啟詳細介紹燈箱 -->
                                    <!-- 後端請注意:openDetailLibox不一定每個都有 須讓客戶決定 如果沒有請移除-->
                                    <div class="openDetailLibox" style="color: #0c3a53">
                                        <p>DETAIL 詳細介紹</p>
                                    </div>
                                </li>
                                <li class="dish">
                                    <div class="dishName">
                                        <!-- 英文 -->
                                        <h5>Spaghetti w/ Raw Egg & Bacon in Creamy Sauce</h5>
                                        <!-- 中文 -->
                                        <p>義大利培根奶油蛋黃麵</p>
                                        <!-- 價格 -->
                                        <div class="dishPrice">
                                            NTD 179
                                        </div>
                                    </div>
                                </li>
                                <li class="dish">
                                    <div class="dishName">
                                        <!-- 英文 -->
                                        <h5>Linguine w/ Bacon, Mixed Cheese & Balsamic Reduction</h5>
                                        <!-- 中文 -->
                                        <p>巴薩酒醋乳酪培根細扁麵</p>
                                        <!-- 價格 -->
                                        <div class="dishPrice">
                                            NTD 179
                                        </div>
                                    </div>
                                </li>
                                <li class="dish">
                                    <div class="psAndSpicy">
                                        <!-- 圓形標註 -->
                                        <!-- 後端請注意:如果沒有請移除  -->
                                        <div class="ps">
                                            <p>
                                                復南限定
                                            </p>
                                        </div>
                                    </div>
                                    <div class="dishName">
                                        <!-- 英文 -->
                                        <h5>Fettuccine Bolognese</h5>
                                        <!-- 中文 -->
                                        <p>波隆納肉醬鳥巢麵</p>
                                        <!-- 價格 -->
                                        <div class="dishPrice">
                                            NTD 199
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="mobileCross">
                            </div>
                        </div>
                        <div class="goTop">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="nextImg ">
                    <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/menu/detail/dishImg2_1225_500.png" alt=" ">
                </div>
                <div class="next ">
                    <div class="bg ">
                        <img src="../../upload/fa2/menu/detail/nextBg_1720_330.jpg" alt=" ">
                    </div>
                    <div class="_text">
                        <p>NEXT</p>
                        <h2>risotto</h2>
                        <h3>燉飯</h3>
                    </div>
                </div>
            </section>
        </article>
    </main>
</body>
<script src="../../assets/js/style.js"></script>
</html>