<section class="_img">
    <img src="../../upload/fa2/menu/detail/detail_libox_img_960_1080_.jpg" alt="">
    <div class="liboxClose">
        <span></span>
    </div>
</section>
<!-- 後端請注意:此處的背景色要讓客戶可選 -->
<section class="inf" style="background-color:#8c243a ">
    <div class="liboxClose">
        <span></span>
    </div>
    <div class="box">
        <!-- 英文名 -->
        <div class="enName" style="background-color: #8c243a ">
            <h2>
            	Pizza with wine pickled berries
            </h2>
        </div>
        <div class="_text">
            <!-- 中文名 -->
            <h3>酒漬莓果加佐內披薩</h3>
            <!-- 內容物中文 -->
            <h4>綜合莓果、蘭姆酒、瑞可塔啟思</h4>
            <!-- 內容物英文 -->
            <h4>Mixed Berries, Rum, Ricotta Cheese</h4>
            <!-- 辣度 -->
            <div class="spicy">
                <span></span>
            </div>
            <!-- 文字介紹 -->
            <div class="intro">
                <p>源自義大利街頭小吃，採用蘭姆酒烹調過的綜合莓果，除了保有莓果本身的酸甜滋味外，更增添淡淡的酒香氣息；搭配上經典自製 ricotta cheese，讓其不膩口又更增添風味，並用餅皮包覆著滿滿的餡料，最後鋪上一層華麗糖衣，讓每口都充滿酸甜的戀愛滋味。</p>
            </div>
            <div class="socialMedia">
                <p>share to</p>
                <ul>
                    <li class="facebook">
                        <!-- facebook -->
                        <a href="javascript:void(0)"></a>
                    </li>
                    <li class="line">
                        <!-- line -->
                        <a href="javascript:void(0)"></a>
                    </li>
                    <li class="twitter">
                        <!-- twitter -->
                        <a href="javascript:void(0)"></a>
                    </li>
                </ul>
            </div>
            <!-- 價格 -->
            <div class="_price">NTD 199</div>
        </div>
    </div>
</section>