<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="language" content="tw" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="title" content="網站標題名稱" />
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <meta name="copyright" content="作者名子">
    <title>bite2eat</title>
    <!-- icon -->
    <!--    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/img/ico/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/ico/favicon.png">
    <link rel="icon" type="image/x-icon" href="../../assets/img/ico/favicon.png"> -->
    <!-- 共用CSS -->
    <link rel="stylesheet" href="../../assets/js/vendor/cgpagechange/cgpagechange.css">
    <link rel="stylesheet" href="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.css">
    <!-- 共用CSS end-->
    <!-- 非共用CSS -->
    <!-- 非共用CSS end-->
    <link rel="stylesheet" href="../../assets/css/menu/menu.css">
</head>

<body id="menu" class="index">
    <header></header>
    <main>
        <article class="banner short">
            <section class="banner_img">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="../../upload/fa2/menu/index/bannerImg_rwd_1024_1325.jpg" media="(max-width:1023px)">
                    <!-- 後端請注意:如果圖片是淺色圖的話請在data-color 填入 whiteBg 深色圖請空白-->
                    <img data-color="" src="../../upload/fa2/menu/index/bannerImg1_1920_745.jpg" alt="">
                </picture>
            </section>
            <section class="banner_text">
                <h5>菜色介紹</h5>
                <h3>Ready 2 Eat</h3>
            </section>
            <section class="smallImg_area">
                <!-- 後端請注意:此處的規則和首頁的一樣 -->
                <div class="smallImg bottom_right_right" data-X="40%" data-Y="16%">
                    <img src="../../upload/fa2/menu/index/smallImg/bannerSmallimg1_350_245.png" alt="">
                </div>
                <div class="smallImg bottom_left_left" data-X="10%" data-Y="26%">
                    <img src="../../upload/fa2/menu/index/smallImg/bannerSmallimg2_350_245.png" alt="">
                </div>
            </section>
        </article>
        <article class="content">
            <section class="titileWord">
                <p>歡樂聚餐就在薄多藝！我們提供各式主餐，涵蓋手工窯烤PIzza、義大利麵、燉飯、排餐、各式小點等，並有四種不同價位的套餐搭配選擇。
                    <br>
                    <br> 除了葷食外也貼心提供素食用餐者專屬菜單，打造所有人都能滿足的美好聚餐！
                </p>
            </section>
            <section class="whiteBoard">
                <div class="menuType">
                    <div class="type meat active">
                        <div class="bigImg">
                            <!-- 後端請注意 -->
                            <a href="../menu/detail.html">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/menu/index/bigImg1_640_750.jpg" alt="">
                            </a>
                        </div>
                        <div class="_inf">
                            <div class="_imgs">
                                <div class="_img">
                                    <img src="../../upload/fa2/menu/index/textImg1_350_320.png" alt="">
                                </div>
                            </div>
                            <div class="_text" style="background-color:#dca75b;margin-top: -90px; ">
                                <span></span>
                                <span></span>
                                <div class="_bg">
                                    <!-- 後端請注意 -->
                                    <a href="../menu/detail.html">
                                        <img src="../../upload/fa2/menu/index/textBgWhite_390_220.png" alt="">
                                </a>
                                </div>
                                <!-- 英文 -->
                                <h2>non-vegetarian & set meal</h2>
                                <!-- 中文 -->
                                <p>葷食菜單與套餐介紹</p>
                            </div>
                            <div class="textSmallImg">
                                <img src="../../upload/fa2/menu/index/textSmallImg1_130_35.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="type vegetarian">
                        <div class="bigImg">
                            <!-- 後端請注意 -->
                            <a href="../menu/detail.html">
                                <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/menu/index/bigImg2_640_750.jpg" alt="">
                        </a>
                        </div>
                        <div class="_inf">
                            <div class="_imgs" style="padding-bottom: 70px">
                                <div class="_img">
                                    <img src="../../upload/fa2/menu/index/textImg2_330_440.png" alt="">
                                </div>
                            </div>
                            <div class="_text" style="background-color: #265e44; margin-top: -240px; ">
                                <span></span>
                                <span></span>
                                <div class="_bg">
                                    <!-- 後端請注意 -->
                                    <a href="../menu/detail.html">
                                    <img src="../../upload/fa2/menu/index/textBgGold_390_220.png" alt="">
                                </a>
                                </div>
                                <!-- 英文 -->
                                <h2>vegetarian & set meal</h2>
                                <!-- 中文 -->
                                <p>素食菜單與套餐介紹</p>
                            </div>
                            <div class="textSmallImg">
                                <img src="../../upload/fa2/menu/index/textSmallImg2_60_50.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="type beverage">
                        <div class="bigImg">
                            <!-- 後端請注意 -->
                            <a href="../menu/detail.html">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/menu/index/bigImg3_640_750.jpg" alt="">
                        </a>
                        </div>
                        <div class="_inf">
                            <div class="_imgs" style="padding-bottom: 20px;">
                                <div class="_img">
                                    <img src="../../upload/fa2/menu/index/textImg3_360_380.png" alt="">
                                </div>
                            </div>
                            <div class="_text" style="background-color: #286b8d;margin-top: -200px;">
                                <span></span>
                                <span></span>
                                <div class="_bg">
                                    <!-- 後端請注意 -->
                                    <a href="../menu/detail.html">
                                    <img src="../../upload/fa2/menu/index/textBgGold_390_220.png" alt="">
                                </a>
                                </div>
                                <!-- 英文 -->
                                <h2>beverage</h2>
                                <!-- 中文 -->
                                <p>飲品介紹</p>
                            </div>
                            <div class="textSmallImg">
                                <img src="../../upload/fa2/menu/index/textSmallImg3_70_45.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ps">
                    <h2>
                        <span>Precautions </span>用餐需知
                    </h2>
                    <ul>
                        <li>
                            <p>內用酌收 10%服務費 10% of service sharge will be added to your bill</p>
                        </li>
                        <li>
                            <p>每人最低消費 NT200 Minimum charge NT200 per person</p>
                        </li>
                </div>
            </section>
        </article>
        <article class="cover">
            <section class="cover2"></section>
        </article>
        <article class="menu_nav">
            <div class="img">
                <img src="../../upload/fa2/menu/index/menu_nav_180_290.png" alt="">
            </div>
            <div class="scroll-next">
                <span></span>
            </div>
        </article>
    </main>
    <footer></footer>
</body>
<script src="../../assets/js/style.js"></script>

</html>