<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <meta name="format-detection" content="telephone=no">
    <title>TECOEP</title>
    <link rel="stylesheet" href="../../assets/js/vendor/cgpagechange/cgpagechange.css">
    <link rel="stylesheet" href="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.css">
    <!-- 共用CSS end-->
    <!-- 非共用CSS -->
    <!-- 非共用CSS end-->
    <link rel="stylesheet" href="../../assets/css/service/contact.css">
</head>

<body id="service" class="contact">
    <main>
        <article class="_img">
            <img src="../../upload/f2e/service/contact/img1_840_1080.jpg" alt="">
        </article>
        <article class="liscontent">
            <div class="_title">
                <h2>Request<span>Form</span></h2>
                <h3>諮詢表單</h3>
                <p>我們很樂意幫助您解決問題。你可以讓我們知道你的要求。 我們會立即回复。</p>
            </div>
            <form action="" class="form">
                <div class="Sbox">
                    <p class="must">企業名稱</p>
                    <input type="text" placeholder="東元集團機電事業部">
                </div>
                <div class="Sbox">
                    <p>企業網址</p>
                    <input type="text" placeholder="http://tecocsr.teco.com.tw">
                </div>
                <div class="Sbox">
                    <p class="must">聯 絡 人</p>
                    <input type="text" placeholder="王東元">
                </div>
                <div class="Sbox">
                    <p>性 別</p>
                    <div class="radio">
                        <input type="radio" name="sex">
                        <label for=""></label>
                        先生
                    </div>
                    <div class="radio">
                        <input type="radio" name="sex">
                        <label for=""></label>
                        小姐
                    </div>
                </div>
                <div class="Sbox">
                    <p class="must">聯絡地址</p>
                    <input type="text" placeholder="台北市南康區袁慈街3-1號10樓">
                </div>
                <div class="Sbox">
                    <p class="must">聯絡電話</p>
                    <input type="text" placeholder="02-123456789">
                </div>
                <div class="Sbox">
                    <p>傳真號碼</p>
                    <input type="text" placeholder="02-123456789">
                </div>
                <div class="Sbox">
                    <p class="must">電子郵件</p>
                    <input type="text" placeholder="saservice@teco.com.tw">
                </div>
                <div class="Sbox">
                    <p class="must">諮詢主旨</p>
                    <div class="dropList">
                        <span class="selectMenu"><p>選擇主旨</p></span>
                        <ul>
                            <li>產品詢價</li>
                            <li>產品詢價</li>
                            <li>產品詢價</li>
                            <li>產品詢價</li>
                        </ul>
                    </div>
                </div>
                <div class="Sbox">
                    <p class="must">產品類別</p>
                    <div class="dropList">
                        <span class="selectMenu"><p>選擇產品</p></span>
                        <ul>
                            <li>開關產品</li>
                            <li>變頻器產品</li>
                            <li>馬達產品</li>
                            <li>減速機產品</li>
                        </ul>
                    </div>
                </div>
                <div class="Lbox">
                    <p class="must">諮詢內容</p>
                    <textarea placeholder="請寫下您的意見內容"></textarea>
                </div>
                <div class="_btn">
                    <button type="button">確認送出</button>
                    <button type="reset" class="reset">清除內容</button>
                </div>
            </form>
        </article>
        <article class="close" onclick="history.back()">
            <span></span>
        </article>
    </main>
    <script src="../../assets/js/style.js"></script>
</body>

</html>