<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <meta name="format-detection" content="telephone=no">
    <title>TECOEP</title>
   
    <link rel="stylesheet" href="../../assets/js/vendor/cgpagechange/cgpagechange.css">
    <link rel="stylesheet" href="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="../../assets/js/vendor/slick/slick.css">
    <link rel="stylesheet" href="../../assets/js/vendor/slick/slick-theme.css">
    <!-- 共用CSS end-->
    <!-- 非共用CSS -->
    <!-- 非共用CSS end-->
    <link rel="stylesheet" href="../../assets/css/service/download.css">
</head>

<body id="service" class="download">
    <header>
    </header>
    <main>
        <article class="banner short">
            <div class="banner_img">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="" media="(max-width:900px)">
                    <img data-color="" src="../../upload/f2e/service/download/banner_img_1920_750.jpg">
                </picture>
            </div>
            <div class="banner_slogan left">
                <h2>Service</h2>
                <h3>客戶服務</h3>
            </div>
        </article>
        <article class="content">
            <div class="top_nav">
                <div class="_series">
                    <span>
                        <a href="../service/index.html">客戶服務</a>
                    </span>
                    <span>型錄下載</span>
                </div>
                <div class="_back" onclick="history.back()">
                    <span></span>
                    <p>BACK</p>
                </div>
            </div>
            <div class="_title">
                <h2>Catalogs<span>Download</span></h2>
                <h3>下載專區</h3>
            </div>
            <div class="dropLists">
                <div class="dropList">
                    <span class="selectMenu active"><p>型錄下載服務</p></span>
                    <ul>
                        <li class="checked">型錄下載服務</li>
                        <li>手冊下載服務</li>
                    </ul>
                </div>
                <div class="dropList">
                    <span class="selectMenu"><p>選擇產品</p></span>
                    <ul>
                        <li>ALL</li>
                        <li>變頻器</li>
                        <li>開關商品</li>
                        <li>緩速機</li>
                    </ul>
                </div>
                <div class="dropList">
                    <span class="selectMenu"><p>選擇系列</p></span>
                    <ul>
                        <li>ALL</li>
                        <li>大大大大大大大大</li>
                        <li>中中中中中中中中</li>
                        <li>小小小小小小小小</li>
                    </ul>
                </div>
            </div>
            <div class="downloadContent">
                <div class="heading">
                    <p class="NO">NO</p>
                    <p class="name">File Name</p>
                    <p class="description">Description</p>
                    <p class="file">File</p>
                </div>
                <ul>
                    <li>
                        <span></span>
                        <h2>A510 中文型錄</h2>
                        <p>A510系列 高性能電流向量變頻器 </p>
                        <!-- 後端請注意:此處icon有三種 1.pdf 2.doc 3.cad  加上相對應的class即可 不加就直接採用預設值-->
                        <a class="pdf" href="javascript:void(0)"></a>
                    </li>
                    <li>
                        <span></span>
                        <h2>A510 中文使用手冊 v05</h2>
                        <p>A510系列 高性能電流向量變頻器使用說明書 </p>
                        <!-- 後端請注意:此處icon有三種 1.pdf 2.doc 3.cad  加上相對應的class即可 不加就直接採用預設值-->
                        <a class="" href="javascript:void(0)"></a>
                    </li>
                    <li>
                        <span></span>
                        <h2>A510(s)/F510 JN5-CM-PDP使用手冊</h2>
                        <p>A510(s)/F510 通訊協定手冊(Profibus) </p>
                        <!-- 後端請注意:此處icon有三種 1.pdf 2.doc 3.cad  加上相對應的class即可 不加就直接採用預設值-->
                        <a class="pdf" href="javascript:void(0)"></a>
                    </li>
                    <li>
                        <span></span>
                        <h2>CE 宣告書--A510</h2>
                        <p>A510 EC-Declaration of conformity</p>
                        <!-- 後端請注意:此處icon有三種 1.pdf 2.doc 3.cad  加上相對應的class即可 不加就直接採用預設值-->
                        <a class="doc" href="javascript:void(0)"></a>
                    </li>
                    <li>
                        <span></span>
                        <h2>JN5-CM-TCPIP使用手冊</h2>
                        <p>510 系列通訊協定手冊(TCP/IP) </p>
                        <!-- 後端請注意:此處icon有三種 1.pdf 2.doc 3.cad  加上相對應的class即可 不加就直接採用預設值-->
                        <a class="cad" href="javascript:void(0)"></a>
                    </li>
                    <li>
                        <span></span>
                        <h2>510 系列通訊協定手冊(TCP/IP) </h2>
                        <p>510 系列通訊協定手冊(DeviceNet)</p>
                        <!-- 後端請注意:此處icon有三種 1.pdf 2.doc 3.cad  加上相對應的class即可 不加就直接採用預設值-->
                        <a class="" href="javascript:void(0)"></a>
                    </li>
                    <li>
                        <span></span>
                        <h2>A510(s)_IP20_frame 1</h2>
                        <p>A510(s) 外觀尺寸圖(IP20 框號1)</p>
                        <!-- 後端請注意:此處icon有三種 1.pdf 2.doc 3.cad  加上相對應的class即可 不加就直接採用預設值-->
                        <a class="pdf" href="javascript:void(0)"></a>
                    </li>
                    <li>
                        <span></span>
                        <h2>A510(s)_IP20_frame 2</h2>
                        <p>A510(s) 外觀尺寸圖(IP20 框號2)</p>
                        <!-- 後端請注意:此處icon有三種 1.pdf 2.doc 3.cad  加上相對應的class即可 不加就直接採用預設值-->
                        <a class="cad" href="javascript:void(0)"></a>
                    </li>
                    <li>
                        <span></span>
                        <h2>A510(s)_IP20_frame 3</h2>
                        <p>A510(s) 外觀尺寸圖(IP20 框號3)</p>
                        <!-- 後端請注意:此處icon有三種 1.pdf 2.doc 3.cad  加上相對應的class即可 不加就直接採用預設值-->
                        <a class="doc" href="javascript:void(0)"></a>
                    </li>
                    <li>
                        <span></span>
                        <h2>A510(s)_IP20_frame 4</h2>
                        <p>A510(s) 外觀尺寸圖(IP20 框號4)</p>
                        <!-- 後端請注意:此處icon有三種 1.pdf 2.doc 3.cad  加上相對應的class即可 不加就直接採用預設值-->
                        <a class="" href="javascript:void(0)"></a>
                    </li>
                </ul>
            </div>
            </div>
        </article>
    </main>
    <footer>
    </footer>
    <script src="../../assets/js/style.js"></script>
</body>

</html>