<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick-theme.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">

</head>

<body id="register">
    <header class="header__member">
        <div class="goBack"></div>
        <div class="navline__member">
            <ul>
                <li>
                    <a href="javascript:void(0);">
                        <h4>MEMBER CENTER</h4>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <h4>會員註冊</h4>
                    </a>
                </li>
            </ul>
        </div>
        <div class="flow">
            <ul>
                <li class="on">
                    <h5>STEP 1 填寫會員資料</h5>
                </li>
                <li class="on">
                    <h5>STEP 2 輸入驗證碼</h5>
                </li>
                <li class="on">
                    <h5>STEP 3 完成註冊</h5>
                </li>
            </ul>
        </div>
    </header>
    <main>
        <article class="banner_wrap">
            <div class="banner_member">
                <div class="banner_member__title movein">
                    <h4 class="txtin">Success!</h4>
                    <h5 class="txtin2">成功註冊會員</h5>
                </div>
            </div>
        </article>
        <article class="content_wrap">
            <div class="register__content">
                <div class="register__inner">
                    <div class="thelogo">
                        <svg x="0px" y="0px" viewBox="0 0 56.2 50.6" style="enable-background:new 0 0 56.2 50.6;" xml:space="preserve">
                            <g>
                                <path class="diamond01" d="M45,11.3c0.2,0,0.5-0.1,0.7-0.3l4.7-4.7c0.4-0.4,0.4-1,0-1.3c-0.4-0.4-1-0.4-1.3,0l-4.7,4.7c-0.4,0.4-0.4,1,0,1.3
                                    C44.5,11.2,44.8,11.3,45,11.3z" />
                                <path class="diamond01" d="M10.6,11c0.2,0.2,0.4,0.3,0.7,0.3s0.5-0.1,0.7-0.3c0.4-0.4,0.4-1,0-1.3L7.2,5c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,1,0,1.3
                                    L10.6,11z" />
                                <path class="diamond01" d="M28.1,6.6c0.5,0,0.9-0.4,0.9-0.9V0.9c0-0.5-0.4-0.9-0.9-0.9s-0.9,0.4-0.9,0.9v4.7C27.2,6.1,27.6,6.6,28.1,6.6z"
                                />

                                <path class="diamond02" d="M37,6.5c0.1,0,0.2,0.1,0.4,0.1c0.4,0,0.7-0.2,0.9-0.6l1.1-2.6c0.2-0.5,0-1-0.5-1.2c-0.5-0.2-1,0-1.2,0.5l-1.1,2.6
                                    C36.3,5.7,36.5,6.3,37,6.5z" />
                                <path class="diamond02" d="M49.9,17.3c0.2,0.3,0.5,0.5,0.8,0.5c0.1,0,0.3,0,0.4-0.1l2.5-1.3c0.5-0.2,0.6-0.8,0.4-1.3c-0.2-0.5-0.8-0.6-1.3-0.4
                                    L50.2,16C49.8,16.3,49.6,16.8,49.9,17.3z" />
                                <path class="diamond02" d="M18,6c0.1,0.4,0.5,0.6,0.9,0.6c0.1,0,0.2,0,0.4-0.1c0.5-0.2,0.7-0.7,0.5-1.2l-1.1-2.6c-0.2-0.5-0.7-0.7-1.2-0.5
                                    c-0.5,0.2-0.7,0.7-0.5,1.2L18,6z" />
                                <path class="diamond02" d="M2.6,16.4l2.5,1.3c0.1,0.1,0.3,0.1,0.4,0.1c0.3,0,0.7-0.2,0.8-0.5c0.2-0.5,0.1-1-0.4-1.3l-2.5-1.3c-0.5-0.2-1-0.1-1.3,0.4
                                    C2,15.6,2.2,16.2,2.6,16.4z" />

                                <path d="M56.2,26c-0.1-0.4-0.5-0.7-0.9-0.7H45v-7.5c0,0,0,0,0,0v0c0,0,0-0.1,0-0.1c0-0.1,0-0.1,0-0.2c0,0,0,0,0,0
                                    c0,0,0-0.1-0.1-0.1c0-0.1-0.1-0.1-0.1-0.2c0,0,0,0,0,0l-7.5-7.5c0,0,0,0,0,0c-0.1-0.1-0.1-0.1-0.2-0.1c0,0-0.1-0.1-0.1-0.1
                                    c0,0,0,0,0,0c-0.1,0-0.1,0-0.2,0c-0.1,0-0.1,0-0.2,0h-8.4h0h0h-8.4c-0.1,0-0.1,0-0.2,0c0,0-0.1,0-0.1,0c0,0,0,0,0,0
                                    c-0.1,0-0.1,0.1-0.2,0.1c0,0-0.1,0.1-0.1,0.1c0,0,0,0,0,0l-7.5,7.5c0,0,0,0,0,0c0,0-0.1,0.1-0.1,0.2c0,0.1-0.1,0.1-0.1,0.2
                                    c0,0,0,0,0,0c0,0.1,0,0.1,0,0.2c0,0.1,0,0.1,0,0.2v7.5H0.9c-0.4,0-0.8,0.3-0.9,0.7c-0.1,0.4,0,0.8,0.3,1c0.2,0.2,6,4.4,3.4,12.1
                                    c-0.1,0.3,0,0.6,0.1,0.8c0.2,0.2,0.5,0.4,0.8,0.4h5.7c-0.2,1.5-0.5,3-0.9,4.4c-0.1,0.3,0,0.6,0.1,0.8c0.2,0.2,0.5,0.4,0.8,0.4h4.3
                                    l4.4,4.4c0.2,0.2,0.4,0.3,0.7,0.3h8.4h0h0h8.4c0.2,0,0.5-0.1,0.7-0.3l4.4-4.4h4.3c0.3,0,0.6-0.1,0.8-0.4c0.2-0.2,0.2-0.6,0.1-0.8
                                    c-0.5-1.4-0.8-2.9-0.9-4.4h5.7c0.3,0,0.6-0.1,0.8-0.4c0.2-0.2,0.2-0.6,0.1-0.8c-2.6-7.7,3.2-11.9,3.4-12.1
                                    C56.2,26.8,56.3,26.4,56.2,26z M43.1,30h-5.6v-8.7l5.6-2.2V30z M35.6,30h-15v-9l2.3-2.3h10.5l2.3,2.3V30z M36.9,12l5.5,5.5
                                    l-5.5,2.1l-2.1-2.1L36.9,12z M28.1,11.3L28.1,11.3L28.1,11.3h7.1L33,16.9h-9.8l-2.2-5.6H28.1z M19.3,12l2.1,5.5l-2.1,2.1l-5.5-2.1
                                    L19.3,12z M18.7,21.3V30h-5.6V19.2L18.7,21.3z M5.9,38.4c1.3-5.4-0.9-9.2-2.7-11.3h8V30h-0.9c-0.3,0-0.6,0.1-0.8,0.4
                                    c-0.2,0.2-0.2,0.6-0.1,0.8c0.8,2.4,1.1,4.8,1.1,7.2H5.9z M36.2,48.8h-8h0h0h-8l-2.8-2.8H39L36.2,48.8z M11.6,44.1
                                    c1.1-4,1.1-8.2,0-12.2h33.1c-1.1,4-1.1,8.2,0,12.2H11.6z M50.3,38.4h-4.5c-0.1-2.4,0.3-4.9,1.1-7.2c0.1-0.3,0-0.6-0.1-0.8
                                    c-0.2-0.2-0.5-0.4-0.8-0.4H45v-2.8h8C51.3,29.2,49,33.1,50.3,38.4z" />
                                <path d="M34.7,33.8h-2.8c-0.5,0-0.9,0.4-0.9,0.9v7.5c0,0.5,0.4,0.9,0.9,0.9s0.9-0.4,0.9-0.9v-2.8h1.9c1.6,0,2.8-1.3,2.8-2.8
                                    S36.2,33.8,34.7,33.8z M34.7,37.5h-1.9v-1.9h1.9c0.5,0,0.9,0.4,0.9,0.9S35.2,37.5,34.7,37.5z"
                                />
                                <path d="M28.1,33.8c-0.5,0-0.9,0.4-0.9,0.9v7.5c0,0.5,0.4,0.9,0.9,0.9s0.9-0.4,0.9-0.9v-7.5C29.1,34.2,28.6,33.8,28.1,33.8z"
                                />
                                <path d="M25.6,33.8c-0.5-0.2-1,0.1-1.2,0.5l-1.9,5.2l-1.9-5.2c-0.2-0.5-0.7-0.7-1.2-0.5c-0.5,0.2-0.7,0.7-0.5,1.2l2.8,7.5
                                    c0.1,0.4,0.5,0.6,0.9,0.6s0.7-0.2,0.9-0.6l2.8-7.5C26.4,34.5,26.1,34,25.6,33.8z" />
                            </g>
                        </svg>
                    </div>
                    <div class="txt">
                        <p>歡迎您成為 AURO會員，現在您可以盡情開始購物，享受我們提供的會員服務。期待您能夠透過AURO，打造出屬於最天然的生活品質！
                        </p>
                    </div>



                    <div class="thebtns">
                        <ul class="list">

                            <li class="">
                                <a href="javascript:void(0);">
                                    <div class="circle circle--40 circle--about_bit">
                                        <span></span>
                                    </div>
                                    <h6>開始購物</h6>
                                </a>
                            </li>
                            <li class="focus">
                                <a href="../member/index.html">
                                    <div class="circle circle--40 circle--v">
                                        <span></span>
                                    </div>
                                    <h6>登入會員</h6>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="thegotop">
                        <a href="javascript:void(0);">
                            <h6>TOP</h6>
                        </a>
                    </div>
                </div>
            </div>
        </article>
    </main>

    <!--主要jQuery-->
    <script src="../../assets/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="../../assets/js/vendor/slick/slick.js"></script>
    <script src="../../assets/js/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="../../assets/js/vendor/blazy.js"></script>
    <script src="../../assets/js/vendor/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="../../assets/js/vendor/masonry/masonry.pkgd.min.js"></script>
    <script src="../../assets/js/vendor/masonry/imagesloaded.pkgd.min.js"></script>
    <script src="../../assets/js/vendor/cgpagechange.js"></script>
    <script src="../../assets/js/vendor/lbox.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <!-- 主要 -->
    <script src="../../assets/js/main.js"></script>
    <!-- 個別 -->
    <script src="../../assets/js/member.js"></script>
    <script>

        var x = [
            {
                "id": 1,
                "text": "TAIWAN +886"
            },
            {
                "id": 2,
                "text": "China +86",
            },
            {
                "id": 3,
                "text": "American +1",
            }
        ];

        $(".nationality").select2({
            data: x,
            // placeholder: 'Select an option',
            minimumResultsForSearch: Infinity,
            theme: "dropdownC",
            width: "100%"
        });

        // 要修改值 清掉再綁
        // $("select").select2('destroy');
        // $("select").select2({
        //     data: y,
        //     // placeholder: 'Select an option',
        //     minimumResultsForSearch: Infinity,
        //     theme: "dropdownC",
        //     width: "100%"
        // });



    </script>
</body>

</html>