<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick-theme.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">

</head>

<body id="register">
    <header class="header__member">
        <div class="goBack"></div>
        <div class="navline__member">
            <ul>
                <li>
                    <a href="javascript:void(0);">
                        <h4>MEMBER CENTER</h4>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <h4>會員註冊</h4>
                    </a>
                </li>
            </ul>
        </div>
        <div class="flow">
            <ul>
                <li class="on">
                    <h5>STEP 1 填寫會員資料</h5>
                </li>
                <li class="on">
                    <h5>STEP 2 輸入驗證碼</h5>
                </li>
                <li>
                    <h5>STEP 3 完成註冊</h5>
                </li>
            </ul>
        </div>
    </header>
    <main>
        <article class="banner_wrap">
            <div class="banner_member">
                <div class="banner_member__title movein">
                    <h4 class="txtin">Verfication Has Been Sent!</h4>
                    <h5 class="txtin2">驗證碼已發送，請於下方輸入</h5>
                </div>
            </div>
        </article>
        <article class="content_wrap">
            <div class="register__content">
                <div class="register__inner">
                    <!-- 加err 會跳驗證碼錯誤 -->
                    <div class="theverfication">
                        <ul>
                            <li>
                                <input type="text" placeholder="0" maxlength="1">
                            </li>
                            <li>
                                <input type="text" placeholder="0" maxlength="1">
                            </li>
                            <li>
                                <input type="text" placeholder="0" maxlength="1">
                            </li>
                            <li>
                                <input type="text" placeholder="0" maxlength="1">
                            </li>
                            <li>
                                <input type="text" placeholder="0" maxlength="1">
                            </li>
                            <li>
                                <input type="text" placeholder="0" maxlength="1">
                            </li>
                        </ul>
                    </div>
                    <div class="txt">
                        <p>為了驗證註冊是否為您本人，我們發送了六位數的驗證碼簡訊至您的手機 0912-345-678，請務必於 五分鐘內完成驗證，若您一直未收到驗證簡訊，請點擊重新發送，再嘗試一次。</p>
                        <a href="javascript:void(0);" class="problem_q2">
                            <h6>Still fail to receive the message?   還是沒收到簡訊</h6><span class="circle circle--15 circle--product_q problem_q"></span>
                        </a>
                        <div class="problem_a__wrap">
                            <div class="problem_a">
                                <div class="problem_a__title">
                                    <h4>我一直收不到密碼查詢簡訊</h4>
                                </div>
                                <div class="problem_a__info">
                                    <ul>
                                        <li>
                                            <p>常見問題<span class="problem_a__info_l"></span>會員相關</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="problem_a__txt">
                                    <p>用於塗料及亮光漆，為高度不透明且無毒性的白色顏料，由天然礦物製成 （例如，金紅石），也做於催化反應的顏料，擁有特殊的分散結構可分解 有害物質。
                                    </p>
                                </div>
                                <div class="problem_a__close">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 這會跳逾時 -->
                    <div class="thetime registered_btn" data-lbox="../layout/viplbox_circle_toolong.html"></div>
                    <div class="thetime">
                        <div class="time_wrap">
                            <h4>0</h4>
                            <h4 class="time01">5</h4>
                            <h4>:</h4>
                            <h4 class="time02">0</h4>
                            <h4 class="time03">0</h4>
                        </div>
                        <h5>剩餘驗證時間</h5>
                    </div>

                    <div class="thebtns">
                        <ul class="list">
                            <li class="">
                                <a href="../member/register_basic.html">
                                    <div class="circle circle--40 circle--vr">
                                        <span></span>
                                    </div>
                                    <h6>上一步</h6>
                                </a>
                            </li>
                            <li class="focus">
                                <a href="../member/register_pro_step3.html">
                                    <div class="circle circle--40 circle--v">
                                        <span></span>
                                    </div>
                                    <h6>確認送出</h6>
                                </a>
                            </li>
                            <li class="">
                                <a href="javascript:void(0);">
                                    <div class="circle circle--40 circle--about_bit">
                                        <span></span>
                                    </div>
                                    <h6>重新發送</h6>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="thegotop">
                        <a href="javascript:void(0);">
                            <h6>TOP</h6>
                        </a>
                    </div>
                </div>
            </div>
        </article>
    </main>

    <!--主要jQuery-->
    <script src="../../assets/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="../../assets/js/vendor/slick/slick.js"></script>
    <script src="../../assets/js/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="../../assets/js/vendor/blazy.js"></script>
    <script src="../../assets/js/vendor/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="../../assets/js/vendor/masonry/masonry.pkgd.min.js"></script>
    <script src="../../assets/js/vendor/masonry/imagesloaded.pkgd.min.js"></script>
    <script src="../../assets/js/vendor/cgpagechange.js"></script>
    <script src="../../assets/js/vendor/lbox.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <!-- 主要 -->
    <script src="../../assets/js/main.js"></script>
    <!-- 個別 -->
    <script src="../../assets/js/member.js"></script>
    <script>

        var x = [
            {
                "id": 1,
                "text": "TAIWAN +886"
            },
            {
                "id": 2,
                "text": "China +86",
            },
            {
                "id": 3,
                "text": "American +1",
            }
        ];

        $(".nationality").select2({
            data: x,
            // placeholder: 'Select an option',
            minimumResultsForSearch: Infinity,
            theme: "dropdownC",
            width: "100%"
        });

        // 要修改值 清掉再綁
        // $("select").select2('destroy');
        // $("select").select2({
        //     data: y,
        //     // placeholder: 'Select an option',
        //     minimumResultsForSearch: Infinity,
        //     theme: "dropdownC",
        //     width: "100%"
        // });



    </script>
</body>

</html>