<section class="topNav">
    <div class="back" onclick="infManageLibox.close(this)">
        <span></span>
        <p>CLOSE</p>
    </div>
</section>
<section class="backUp">
    <div class="_title">
        <p class="en">Download</p>
        <p class="ch">備份帳號申請</p>
    </div>
    <div class="words">
        <p>親愛的會員您好，您提出申請後，我們需要約7天工作日來執行您的備份，完成後將寄發通知至您的聯繫信箱，屆時即可回到帳號中心進行資料下載。</p>
    </div>
    <div class="buttons">
        <button class="withLine" onclick="infManageLibox.close(this)">
            <span class="iconN-backUp"></span>
            <p>確認備份</p>
        </button>
    </div>
</section>