<section class="topNav">
    <div class="back" onclick="infManageLibox.close(this)">
        <span></span>
        <p>CLOSE</p>
    </div>
</section>
<section class="deletAccount">
    <div class="_title">
        <p class="en">Delete Account</p>
        <p class="ch">刪除帳號申請</p>
    </div>
    <div class="words">
        <p>親愛的會員您好，如果您有移除會員需求，基於保障會員資料安全協議， 我們將盡快與您聯繫並瞭解原因，經確認之後將會盡快移除您於本會所建立 的資料，為避免疑除後未來無法回復資料，建議您在等待期間可以先進行 資料備份。<br><br>
            您提出帳號刪除要求的14天後，我們就會開始刪除程序，在這段期間內，您的帳號會處於停用狀態;您也可以選擇取消刪除帳號。我們最多可能需要90天的時間(自刪除程序啟動時起算)，才能刪除您發佈的所有內容，他人將無法在我們進行刪除時看到這些資訊。</p>
    </div>
    <div class="buttons">
        <button class="withLine" onclick="infManageLibox.close(this)">
            <span class="iconN-trashcan"></span>
            <p>確認刪除</p>
        </button>
    </div>
</section>