<section class="topNav">
    <div class="back" onclick="infManageLibox.close(this)">
        <span></span>
        <p>CLOSE</p>
    </div>
</section>
<section class="stopAccount">
    <div class="_title">
        <p class="en">Block Up</p>
        <p class="ch">停用帳號</p>
    </div>
    <div class="words">
        <p>親愛的會員您好，如果停用帳號，代表他人將無法看見您於網站中的活動資訊，或搜尋您的個人檔案，在擁有用於登入帳號(電子郵件或手機號碼)的使用權限之前提，您隨時可至帳號服務中心重新啟用帳號。</p>
    </div>
    <div class="buttons">
        <button class="withLine" onclick="infManageLibox.close(this)">
            <span class="iconN-lock"></span>
            <p>確定申請停用</p>
        </button>
    </div>
</section>