<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="language" content="tw" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="title" content="網站標題名稱" />
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <meta name="copyright" content="作者名子">
    <title>placido</title>
    <!--Link Favicon.ico-->
    <link rel="shortcut icon" type="image/x-icon" href="../../assset/img/favicon/favicon.ico">
    <link rel="apple-touch-icon" href="../../assset/img/favicon/favicon.png" sizes="100*100">
    <!-- 套件的css -->
    <link rel="stylesheet" href="../../assset/js/vendor/slick-1.6.0/slick/slick.css">
    <link rel="stylesheet" href="../../assset/js/vendor/slick-1.6.0/slick/slick-theme.css">
    <link rel="stylesheet" href="../../assset/js/vendor/perfect-scrollbar/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" href="../../assset/css/icom-style.css">
    <link rel="stylesheet" href="../../assset/js/vendor/animate/animate.css">
    <!-- cssreset -->
    <link rel="stylesheet" href="../../assset/css/mystyle.css">
    <!-- 自訂的css -->
    <link rel="stylesheet" href="../../assset/css/main.css">
    <link rel="stylesheet" href="../../assset/css/home.css">
</head>

<body>
    <header></header>
    <main>
        <!-- ////////////banner開始/////////////////////////// -->
        <article class="banner">
            <div class="favorite">
                <div>
                    <p>我的最愛</p>
                    <span class="icon-heart"></span>
                </div>
            </div>
            <div class="scrolldown">
                <div>
                    <p>往下捲動</p>
                    <span class="icon-arrow-down"></span>
                </div>
            </div>
            <div class="banner_slick">
                <ul>
                    <li>
                        <picture>
                                <!--[if IE 9]><video style="display: none;"><![endif]-->
                                <source srcset="../../upload/home/banner.jpg"  media="(max-width: 1024px)">
                                <img src="../../upload/home/banner.jpg">
                            </picture>
                    </li>
                    <li>
                        <img src="../../upload/home/banner.jpg">
                    </li>
                </ul>
                <!-- slick箭頭 -->
                <div class="arrow">
                    <span class="icon-arrow-left"></span>
                    <span class="icon-arrow-right"></span>
                </div>
            </div>
            <div class="banner_slogan">
                <div>
                    <h4>EMOTIONAL VALUE
                    <br>CRAFT BOUTIQUE</h4>
                    <p>重新定義你的生活美學</p>
                </div>
            </div>
        </article>
        <!-- ////////////banner結束/////////////////////////// -->
        <!-- ////////////style開始/////////////////////////// -->
        <article class="_style">
            <div class="style_text">
                <div class="_title">
                    <div>
                        <h4>PLACIDO
                        <br>STYLE</h4>
                        <p>柏拉圖風格</p>
                    </div>
                </div>
                <!-- menu_list -->
                <div class="menu_list">
                    <ul>
                        <li>
                            <a href="javascript:void(0);">
                                <h4>客廳</h4>
                                <p>Living room</p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <h4>浴室</h4>
                                <p>Bathroom</p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <h4>商業空間</h4>
                                <p>Commercial space</p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <h4>戶外</h4>
                                <p>Outdoor</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- style_slick -->
            <div class="style_slick_bg">
                <div class="style_slick">
                    <ul>
                        <li><img src="../../upload/home/img1.jpg"></li>
                        <li><img src="../../upload/home/img1.jpg"></li>
                    </ul>
                </div>
                <!-- slick箭頭 -->
                <div class="arrow">
                    <span class="icon-arrow-left"></span>
                    <span class="icon-arrow-right"></span>
                </div>
                <!-- 下拉式按鈕 -->
                <div class="style_slidedown">
                    <p>BRAND STORY</p>
                </div>
            </div>
            <!-- slick_nav -->
            <div class="style_slick_nav_bg">
                <ul><li>
                <div class="style_slick_nav">
                    <ul>
                        <li>
                            <span></span>
                            <a href="javascript:void(0);">
                            <img src="../../upload/home/type1.jpg">
                            <div>
                                <p>風尚實木</p>
                            <p>L66042</p>
                            </div>
                            </a>
                            <span></span>
                        </li>
                        <!-- <li>
                            <span></span>
                            <a href="javascript:void(0);">
                            <img src="../../upload/home/type2.jpg">
                            <div>
                                <p>拉法岩</p>
                            <p>L66042</p>
                           </div>
                            </a>
                            <span></span>
                        </li>
                        <li>
                            <span></span>
                            <a href="javascript:void(0);">
                            <img src="../../upload/home/type3.jpg">
                            <div>
                                <p>天際</p>
                            <p>L66042</p>
                            </div>
                            </a>
                            <span></span>
                        </li>
                        <li>
                            <span></span>
                            <a href="javascript:void(0);">
                            <img src="../../upload/home/type1.jpg">
                            <div>
                                <p>風尚實木</p>
                            <p>L66042</p>
                            </div>
                            </a>
                            <span></span>
                        </li>
                        <li>
                            <span></span>
                            <a href="javascript:void(0);">
                            <img src="../../upload/home/type2.jpg">
                            <div>
                                <p>拉法岩</p>
                            <p>L66042</p>
                           </div>
                            </a>
                            <span></span>
                        </li>
                        <li>
                            <span></span>
                            <a href="javascript:void(0);">
                            <img src="../../upload/home/type3.jpg">
                            <div>
                                <p>天際</p>
                            <p>L66042</p>
                            </div>
                            </a>
                            <span></span>
                        </li> -->
                    </ul>
                </div>
                </li>
                <li>
                <div class="style_slick_nav">
                    <ul>
                        <li>
                            <span></span>
                            <a href="javascript:void(0);">
                            <img src="../../upload/home/type1.jpg">
                            <div>
                                <p>風尚實木</p>
                            <p>L66042</p>
                            </div>
                            </a>
                            <span></span>
                        </li>
                        <li>
                            <span></span>
                            <a href="javascript:void(0);">
                            <img src="../../upload/home/type2.jpg">
                            <div>
                                <p>拉法岩</p>
                            <p>L66042</p>
                           </div>
                            </a>
                            <span></span>
                        </li>
                        <li>
                            <span></span>
                            <a href="javascript:void(0);">
                            <img src="../../upload/home/type3.jpg">
                            <div>
                                <p>天際</p>
                            <p>L66042</p>
                            </div>
                            </a>
                            <span></span>
                        </li>
                        <li>
                            <span></span>
                            <a href="javascript:void(0);">
                            <img src="../../upload/home/type1.jpg">
                            <div>
                                <p>風尚實木</p>
                            <p>L66042</p>
                            </div>
                            </a>
                            <span></span>
                        </li>
                        <li>
                            <span></span>
                            <a href="javascript:void(0);">
                            <img src="../../upload/home/type2.jpg">
                            <div>
                                <p>拉法岩</p>
                            <p>L66042</p>
                           </div>
                            </a>
                            <span></span>
                        </li>
                        <li>
                            <span></span>
                            <a href="javascript:void(0);">
                            <img src="../../upload/home/type3.jpg">
                            <div>
                                <p>天際</p>
                            <p>L66042</p>
                            </div>
                            </a>
                            <span></span>
                        </li>
                    </ul>
                </div>
                </li>
            </ul>
            </div>
        </article>
        <!-- ////////////style結束/////////////////////////// -->
        <!-- ////////////story開始/////////////////////////// -->
        <article class="story">
            <div class="story_slick_bg">
                <div class="story_slick">
                    <ul>
                        <li>
                            <div class="story_slick_img">
                                <img src="../../upload/home/img2.jpg">
                            </div>
                        </li>
                        <li>
                            <div class="story_slick_img">
                                <img src="../../upload/home/img2.jpg">
                            </div>
                        </li>
                        <li>
                            <div class="story_slick_img">
                                <img src="../../upload/home/img2.jpg">
                            </div>
                        </li>
                        <li>
                            <div class="story_slick_img">
                                <img src="../../upload/home/img2.jpg">
                            </div>
                        </li>
                    </ul>
                    <div class="story_text_box">
                        <div class="story_text">
                            <div>
                                <h2>BRAND STORY</h2>
                                <h3>真正具有美學的空間感受要能與你的心靈對話</h3>
                                <p>致力於歐洲磁磚國產化的昌達陶瓷，在董事長王峰銘巧手雕琢下，百分百採用歐洲進口設備及原料，創造自有品牌「柏拉圖磁磚」，創造建築美學新典範，成為業界標竿...</p>
                            </div>
                        </div>
                        <span><p>柏拉圖品牌故事</p></span>
                    </div>
                </div>
            </div>
            <div class="story_down">
                <span></span>
                <p>MORE INFORMATION</p>
            </div>
        </article>
        <!-- ////////////story結束/////////////////////////// -->
        <!-- ////////////video開始/////////////////////////// -->
        <article class="video">
            <div class="row">
                <div class="row_video_bg">
                    <div class="row_video">
                        <img class="b-lazy" id="video" src="../../upload/home/img3.jpg" data-src="../../upload/home/img3.jpg">
                        <span class="icon-play"></span>
                    </div>
                </div>
                <div class="row_text_bg">
                    <span></span>
                    <div class="row_text">
                        <h2>IMAGE<br>ADVERTISING</h2>
                        <div>
                            <h3>為美而生</h3>
                            <p>柏拉圖美學瓷磚 - 形象影片</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row_video_bg">
                    <div class="row_video">
                        <img class="b-lazy" src="../../upload/home/img4.jpg" data-src="../../upload/home/img4.jpg">
                        <span class="icon-find"></span>
                    </div>
                </div>
                <div class="row_text_bg">
                    <span></span>
                    <div class="row_text">
                        <h2>DOWNLOAD<br>CATALOG</h2>
                        <div>
                            <h3>2017最新型錄</h3>
                            <p>觀看更多型錄</p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article class="video_libox">
            <div class="libox_bg">
                <div class="libox_close">
                    <div>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="libox">
                    <!-- youtube影片 -->
                    <iframe src="https://www.youtube.com/embed/yn5o4xhJPP0?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </article>
        <!-- ////////////video結束/////////////////////////// -->
    </main>
    <footer></footer>
</body>
<!-- jquery js -->
<script src="../../assset/js/vendor/jquery.1.11.3.min.js"></script>
<script src="../../assset/js/vendor/jquery.easings.min.js"></script>
<!-- 套件 js -->
<script src="../../assset/js/vendor/slick-1.6.0/slick/slick.min.js"></script>
<script src="../../assset/js/vendor/waypoints.min.js"></script>
<script src="../../assset/js/vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
<script src="../../assset/js/vendor/perfect-scrollbar/js/perfect-scrollbar.min.js"></script>
<script src="../../assset/js/vendor/prefixfree.min.js"></script>
<script src="../../assset/js/vendor/picturefill.min.js"></script>
<script src="../../assset/js/vendor/blazy/blazy.min.js"></script>
<!-- 轉場特效 js -->
<script src="../../assset/js/vendor/cgpagechange.js"></script>
<!-- 自訂的 js -->
<script src="../../assset/js/main.js"></script>
<script src="../../assset/js/home.js"></script>

</html>