@import "base/_reset.scss";
@import "base/_variable.scss";
@import "base/_header.scss";
@import "base/_footer.scss";
@import "base/_common.scss";

._title {
    margin-top: 70px;
    text-align: center;
    letter-spacing: 1px;
    padding: 0 5vw;
    position: relative;
    z-index: 1;
    h2 {
        @include font-size(32);
        font-family: 'Cinzel-Regular';
        line-height: 1.5;
        &:after {
            content: "";
            display: block;
            height: 1px;
            width: 0px;
            background-color: #d2b055;
            margin-left: 50%;
        }
    }
    h3 {
        margin-top: 15px;
        @include font-size(18);
        font-family: "微軟正黑體";
    }

    .countup {
        margin-top: 70px;
        p {
            font-family: "微軟正黑體";
            @include font-size(14);
            color: rgba(0, 0, 0, .8);
            span {
                font-family: 'Raleway-Medium';
                @include font-size(40);
                margin: 0 15px;
            }
        }
    }
    .select {
        .menulist {
            .selectMenu {
                &:before {
                    content: "\e912";
                }
            }
        }
    }
}


.couples {
    max-width: 1190px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 55px;
    padding: 0 20px;
    @media #{$pad_pro} {
        padding: 0 5vw;
    }
    ul {
        display: flex;
        flex-wrap: wrap;

        li {
            width: calc(20% - 70px);
            letter-spacing: 1px;
            text-align: center;
            margin: 0 35px 85px 35px;
            opacity: 0;
            @media #{$pad_pro} {
                margin: 0 20px 85px 20px;
                width: calc(25% - 40px);
            }
            ._img {
                position: relative;
                border: 0;
                max-width: 160px;
                max-height: 160px;
                font-size: 0;
                margin: auto;
                img {
                    border-radius: 50%;
                    box-shadow: 6px 6px 14px rgba(0, 0, 0, .5);
                }
                span {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background-color: rgba(88, 68, 16, .8);
                    opacity: 0;
                    position: absolute;
                    top: 1px;
                    left: 0;
                    transition: all .4s ease;
                    &:before {
                        position: absolute;
                        top: calc(50% - .5px);
                        content: "";
                        display: block;
                        height: 1px;
                        background-color: #fff;
                        -moz-animation: position1-2 .4s both;
                        -o-animation: position1-2 .4s both;
                        -webkit-animation: position1-2 .4s both; // 該死的ie的特別設定
                        width: 0;
                        left: calc(50% - 8.5px);
                        transition: all .4s ease;
                    }
                    &:after {
                        position: absolute;
                        left: calc(50% - .5px);
                        content: "";
                        display: block;
                        width: 1px;
                        background-color: #fff;
                        -moz-animation: position2-2 .4s both;
                        -o-animation: position2-2 .4s both;
                        -webkit-animation: position2-2 .4s both; // 該死的ie的特別設定
                        top: calc(50% - 8.5px);
                        height: 0;
                        transition: all .4s ease;
                    }
                }
            }
            h2 {
                font-family: "微軟正黑體";
                @include font-size(15);
                margin-top: 25px;
                font-weight: bold;
            }
            p {
                font-family: "微軟正黑體";
                @include font-size(15);
                color: #404040;
                margin-top: 12px;
            }
            &:hover {
                ._img {
                    span {
                        opacity: 1;
                        transition: all .4s ease;
                        &:before {
                            -moz-animation: position1-1 .4s both .2s;
                            -o-animation: position1-1 .4s both .2s;
                            -webkit-animation: position1-1 .4s both .2s; // 該死的ie的特別設定
                            width: 17px;
                            transition: all .4s ease .2s;
                        }
                        &:after {
                            -moz-animation: position2-1 .4s both .2s;
                            -o-animation: position2-1 .4s both .2s;
                            -webkit-animation: position2-1 .4s both .2s; // 該死的ie的特別設定
                            transition: all .4s ease .2s;
                            height: 17px;
                        }
                    }
                }
            }
        }
    }
}

@keyframes position1-1 {
    0% {
        width: 0;
        left: 50%;
    }
    100% {
        width: 17px;
        left: calc(50% - 8.5px);
    }
}

@keyframes position1-2 {
    0% {
        width: 17px;
        left: calc(50% - 8.5px);
    }
    100% {
        width: 0;
        left: 50%;
    }
}


@keyframes position2-1 {
    0% {
        height: 0;
        top: 50%;
    }
    100% {
        height: 17px;
        top: calc(50% - 8.5px);
    }
}

@keyframes position2-2 {
    0% {
        height: 17px;
        top: calc(50% - 8.5px);
    }
    100% {
        height: 0;
        top: 50%;
    }
}


@media only screen and (max-width: 700px) {
    ._title {
        h2 {
            @include font-size(28);
        }
        .countup {
            margin-top: 6vh;
        }
        .select {
            margin-top: 8vh;
            .All {
                @include font-size(14);
            }
            .menulist {
                .selectMenu {
                    @include font-size(14);
                }
            }
        }
    }
    .couples {
        margin-top: 12vh;
        ul {
            li {
                width: calc(50% - 40px);
                margin: 0 20px 8vh 20px;
                h2 {
                    @include font-size(14);
                    margin-top: 20px;
                }
                p {
                    @include font-size(14);
                }
            }
        }
    }
}


@media only screen and (max-width: 350px) {
    .couples {
        padding: 0;
        ul {
            li {
                width: calc(50% - 30px);
                margin: 0 15px 10vh 15px;
            }
        }
    }
} // 進場動畫-------------------------------------------------------
// _title------------------------------------
._title {

    h2 {
        animation: fadeInDown .6s both;
        display: block;
        &:after {
            animation: titleLine .6s both .4s;
        }
    }
    h3 {

        animation: fadeInUp .6s both .4s;
        display: block;
    }
    .countup {
        animation: fadeIn .8s both .8s;
    }
    .select {
        animation: fadeInUp .8s both .6s;
    }
} // .couples----------------------------------------
// 電腦尺寸
// @media only screen and (min-width: 1025px) {
    .couples {
        ul {
            li {
                &.show {
                    animation: fadeIn 1s both;
                }
            }
        }
    }