//- 常用參數
include ../layout/_var.pug


doctype html
|
|
<html lang="en">
|
|
+head
|
|
body#test.book
    
    main
        article.pic   
            figure
                img(src="", alt="")
            input(type="file")
        article.table
            ul


+script
|
|
</html>