<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="language" content="tw" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="title" content="網站標題名稱" />
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <meta name="copyright" content="作者名子">
    <title>bite2eat</title>
    <!-- icon -->
    <!--    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/img/ico/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/ico/favicon.png">
    <link rel="icon" type="image/x-icon" href="../../assets/img/ico/favicon.png"> -->
    <!-- 共用CSS -->
    <link rel="stylesheet" href="../../assets/js/vendor/cgpagechange/cgpagechange.css">
    <link rel="stylesheet" href="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.css">
    <!-- 共用CSS end-->
    <!-- 非共用CSS -->
    <link rel="stylesheet" href="../../assets/js/vendor/datedropper/datedropper.min.css">
    <link rel="stylesheet" href="../../assets/js/vendor/datedropper/my-style.css">
    <link rel="stylesheet" href="../../assets/css/reservation/reservationLibox.css">
    <!-- 非共用CSS end-->
    <link rel="stylesheet" href="../../assets/css/about/about.css">
</head>

<body id="about" class="index">
    <header></header>
    <main>
        <article class="banner short">
            <section class="banner_img">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="../../assets/img/about/bannerImg_rwd_1024_1325.jpg" media="(max-width:1023px)">
                    <!-- 後端請注意:如果圖片是淺色圖的話請在data-color 填入 whiteBg 深色圖請空白-->
                    <img data-color="" src="../../assets/img/about/bannerImg_1920_745.jpg" alt="">
                </picture>
            </section>
            <section class="banner_text">
                <h5>品牌故事</h5>
                <h3>About <br>Bite 2 Eat</h3>
            </section>
        </article>
        <article class="content">
            <section class="top">
                <div class="_imgs">
                    <div class="_img">
                        <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../assets/img/about/topImg1_380_475.jpg" alt=""></div>
                    <div class="_img">
                        <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../assets/img/about/topImg2_250_340.jpg" alt="">
                    </div>
                </div>
                <div class="_text">
                    <h2>spirit of bite 2 eat</h2>
                    <h3>來自南部的熱情，堅持 affordable gourmet - 人人負擔的起的美食</h3>
                    <p>在薄多義遇見來自義大利的經典美好及不矯飾的隨性，在每一處不經 意的細節，都可以感受到薄多義對傳統的堅持；義大利百年窯場手工 打造的烤窯，披薩師傅感受溫溼度讓麵糰是當發酵的每一分專注，披 薩在搖鐘旋轉、升起，以讓均勻受熱的每一步精算。
                    </p>
                    <p> 老師傅手工打磨，焊接的每一把木椅、牆上、角落哩，一筆一刷與人 群映襯的手繪創作，細心呵護餐點直到送入顧客口中剛剛好的溫度及 口感。
                    </p>
                    <p> 跟著我們一起探索永遠讓你意想不到的薄多義吧！
                    </p>
                </div>
            </section>
            <section class="botttom">
                <div class="bg">
                    <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../assets/img/about/mapBgImg_1070_765.png" alt="">
                </div>
                <div class="onlyImg">
                    <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../assets/img/about/onlyImg_250_330.jpg" alt="">
                </div>
                <div class="wordWithImg">
                    <div class="_img">
                        <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../assets/img/about/wordWithImg1_635_545.png" alt="">
                    </div>
                    <div class="_img">
                        <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../assets/img/about/wordWithImg2_405_465.png" alt="">
                    </div>
                    <div class="_text">
                        <p>Enjoy</p>
                        <p>Have fun</p>
                        <p>in bite 2 eat</p>
                    </div>
                </div>
            </section>
        </article>
        <article class="cover">
            <section class="cover2"></section>
        </article>
    </main>
    <footer></footer>

    <script src="../../assets/js/style.js"></script>
</body>


</html>