//- 常用參數
include ../layout/_var.pug

-   
    var slick =[
        {
            img:"../../upload/fa2/about/rowImg2_860_540.jpg",
            videoId:"G_rGByqvB2k",
            b:"民眾可以稍作停留  感受片刻的自在悠閒氣氛"},
        {
            img:"../../upload/fa2/about/rowImg2_860_540.jpg",
            videoId:"",
            b:""},
    ]

section
    .liboxClose
        span
    //後端請注意: 此處要給客戶上背景顏色或是圖片
    .topNav(style="background-color: ;background-image:url('../../upload/fa2/about/specialLiboxBg_1400_390.jpg')")
        h6 廣場噴水池
        .inf
            .location
                ._title
                    p.ch 樓層地點
                    p.en Location
                div
                    p 1F百貨正門口前廣場
    ._slick
        ul
            each val in slick
                // 後端請注意 如果是影片的話 請在下方data-videoId填入影片id
                li(data-videoId=val.videoId)
                    div
                        figure
                            img(data-lazy=val.img, alt="")
                        if (val.b!=="")
                            // 後端請注意: 如果下面的b沒有內容的話 請移除
                            // 後端請注意: 如果下面的b沒有內容的話 請移除
                            // 後端請注意: 如果下面的b沒有內容的話 請移除
                            b=val.b
        .arrows 
            span.icon-arrowLeft
            span.icon-arrowRight
    .rows
        .row
            ._text
                h6 全館創新佈置  持續超越想像，不斷發現驚喜
                p 在熱鬧的廣場中，設置一座沁涼的噴水，低平地的設計，除了讓小朋友們欣賞美麗的水舞秀更能親近玩耍，也讓民眾可以稍作停留感受片刻的自在悠閒氣氛。以「跳脫框架，顛覆傳統」的方式，針對不同業種設計各種氛圍全新賣場，不論是工業風的家電區、華麗的珠寶區、叢林內衣區，潮流男裝區等，希望讓消費者在漢神可以「持續超越想像，不斷發現驚喜」。