
<ul>
  <li><a href="javascript:void(0)">
      <figure><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/catalogue/img1_400_560.jpg" alt=""/></figure>
      <h6>2018 Devanno catalogue</h6>
      <p>The Japanese texture is established to create awarm feeling in the lines of the job, and  good.</p></a></li>
  <li><a href="javascript:void(0)">
      <figure><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/catalogue/img2_400_560.jpg" alt=""/></figure>
      <h6>2018 Devanno catalogue</h6>
      <p>The Japanese texture is established to create awarm feeling in the lines of the job, and  good.</p></a></li>
  <li><a href="javascript:void(0)">
      <figure><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/catalogue/img3_400_560.jpg" alt=""/></figure>
      <h6>2018 Devanno catalogue</h6>
      <p>The Japanese texture is established to create awarm feeling in the lines of the job, and  good.</p></a></li>
  <li><a href="javascript:void(0)">
      <figure><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/catalogue/img4_400_560.jpg" alt=""/></figure>
      <h6>2018 Devanno catalogue</h6>
      <p>The Japanese texture is established to create awarm feeling in the lines of the job, and  good.</p></a></li>
</ul>