<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
</head>

<body id="vip">
    <header id="header"></header>
    <main>
        <article class="banner_wrap">
            <div class="banner_vip">
                <div class="banner_vip__title movein">
                    <h4 class="txtin">My Wishlist</h4>
                    <h5 class="txtin2">我的收藏</h5>
                </div>
            </div>
        </article>

        <article class="nav_wrap nav_vip">
            <div class="navbit">
                <ul>
                    <li>
                        <a href="../vip/index.html">
                            <h4>會員總覽</h4>
                        </a>
                    </li>
                    <li>
                        <a href="../vip/info.html">
                            <h4>會員資料管理</h4>
                        </a>
                    </li>
                    <li>
                        <!-- 專業用戶 -->
                        <a href="../vip/company.html">
                            <h4>企業資料管理</h4>
                        </a>
                        <!-- 一般用戶未申請 -->
                        <!-- <a href="javascript:void(0);" class="vipBtn" data-lbox="../layout/viplbox_circle_oops1.html">
                                <h4>會員資料管理</h4>
                            </a> -->
                        <!-- 審查中 -->
                        <!-- <a href="javascript:void(0);" class="vipBtn" data-lbox="../layout/viplbox_circle_oops2.html">
                                <h4>會員資料管理</h4>
                            </a> -->
                    </li>
                    <li>
                        <a href="../vip/bill.html">
                            <h4>訂單查詢</h4>
                        </a>
                    </li>
                    <li>
                        <a href="../vip/address.html">
                            <h4>我的地址簿 </h4>
                        </a>
                    </li>
                    <li class="focus">
                        <a href="../vip/love.html">
                            <h4>我的收藏</h4>
                        </a>
                    </li>
                    <li>
                        <a href="../vip/redpoint.html">
                            <h4>紅利點數管理 </h4>
                        </a>
                    </li>
                    <li class="vip_signout">
                        <a href="javascript:void(0);" class="vipBtn" data-lbox="../layout/viplbox_circle_logout.html">
                            <h4>會員登出</h4>
                        </a>
                    </li>
                </ul>
            </div>
        </article>

        <article class="content_wrap ">
            <div class="vip__content">
                <div class="vip__inner vip_love">
                    <div class="title">
                        <div class="img">
                            <svg x="0px" y="0px" viewBox="0 0 612 792" enable-background="new 0 0 612 792" xml:space="preserve">
                                <g class="favorite_svg">
                                    <path d="M469.616,428.473h-22.482v-22.481c0-6.245-4.995-11.241-11.24-11.241s-11.241,4.996-11.241,11.241v22.481h-22.481
                                    c-6.245,0-11.241,4.996-11.241,11.241s4.996,11.24,11.241,11.24h22.481v22.482c0,6.244,4.996,11.24,11.241,11.24
                                    s11.24-4.996,11.24-11.24v-22.482h22.482c6.244,0,11.24-4.995,11.24-11.24S475.861,428.473,469.616,428.473z"></path>
                                    <path d="M539.559,373.518c-4.996-1.249-9.992,1.249-12.489,6.245l-11.241,22.481c-2.498,4.996,0,12.49,4.996,14.987
                                    c1.249,1.249,3.747,1.249,4.996,1.249l0,0v76.188c0,6.245,4.995,11.241,11.24,11.241s11.241-4.996,11.241-11.241V384.76
                                    C547.053,379.763,543.306,374.767,539.559,373.518z"></path>
                                </g>
                                <path d="M579.527,319.812H283.519c-3.747,0-8.743,2.498-9.992,6.245s-1.249,8.742,1.249,11.24l51.208,59.951
                                c6.245,7.494,9.991,13.739,11.24,16.237v113.657c0,11.24,4.996,19.983,13.739,26.229c-28.727,22.481-57.453,38.718-78.686,48.71
                                c-18.734-8.743-41.217-22.481-66.196-39.967c24.979-24.98,47.462-54.955,53.706-86.18c4.996-27.478-2.497-52.457-23.73-72.441
                                c-12.489-12.49-29.976-19.983-48.71-19.983s-36.221,7.493-48.71,19.983l-8.743,8.743l-7.494-8.743
                                c-12.489-13.739-29.976-19.983-48.71-19.983c-7.494,0-16.236,1.249-22.481,3.747c-6.245-14.988-12.49-29.976-14.988-46.213
                                c-8.742-46.212,4.996-87.429,39.968-122.399c19.983-19.984,47.461-31.225,76.188-31.225c29.976,0,57.453,11.24,78.686,32.474
                                l34.972,36.22c3.747,3.747,11.241,3.747,14.988,0l34.971-36.22c21.232-21.233,48.71-32.474,78.686-32.474
                                c28.727,0,56.204,11.24,76.188,31.225c23.73,23.73,36.22,48.71,39.967,77.437h22.481c-3.747-33.723-19.983-64.947-47.461-92.425
                                c-24.979-24.979-57.453-38.718-92.425-38.718c-34.971,0-68.693,13.738-93.673,38.718l-27.478,27.478L244.8,203.657
                                c-24.979-24.979-58.702-38.718-93.674-38.718c-34.971,1.249-67.444,14.987-92.424,39.967
                                c-39.968,39.968-54.955,87.429-44.964,141.135c3.747,17.485,8.743,34.972,17.486,52.457c-2.498,1.249-4.996,2.498-6.245,4.996
                                c-19.983,19.984-28.727,44.964-23.73,72.441c11.24,62.448,87.429,119.901,124.897,137.388c1.249,1.249,2.498,1.249,4.996,1.249
                                s2.498,0,4.996-1.249c14.987-6.245,34.972-18.735,54.955-36.221c28.727,21.232,57.453,37.47,77.437,47.461
                                c1.249,1.249,2.498,1.249,4.996,1.249s2.498,0,4.996-1.249c26.229-11.24,63.697-34.972,101.167-64.946h201.086
                                c17.485,0,32.473-14.988,32.473-32.474V352.286C612,333.551,597.012,319.812,579.527,319.812z M131.143,590.841
                                c-36.221-17.485-98.669-69.942-108.661-118.652c-3.747-19.984,2.498-37.47,17.485-53.707c8.743-8.742,19.984-13.738,32.474-13.738
                                c12.49,0,24.979,4.996,33.723,13.738l17.485,17.486c2.498,2.498,4.996,3.747,7.494,3.747s6.245-1.249,7.494-3.747l17.485-17.486
                                c8.743-8.742,21.232-13.738,33.723-13.738c12.489,0,23.73,4.996,32.474,13.738c14.987,14.988,21.232,32.475,17.485,53.707
                                C229.812,520.898,167.364,573.355,131.143,590.841z M590.767,527.143h-1.249c0,6.245-4.996,11.24-11.24,11.24H370.947
                                c-6.245,0-11.24-4.995-11.24-11.24V412.237c0-8.743-9.992-22.482-17.486-28.727l-33.723-42.466h271.029
                                c6.244,0,11.24,4.996,11.24,11.241V527.143z"></path>
                            </svg>
                        </div>
                        <h3>您目前有
                            <span>07</span>件收藏品</h3>
                        <h4>TOTAL PRODUCTS</h4>
                        <!--  當沒商品時再開啟 -->
                        <div class="thebtns" style="display: none;">
                            <ul class="list">
                                <li class="focus">
                                    <a href="javascript:void(0);">
                                        <div class="circle circle--40 circle--about_bit">
                                            <span></span>
                                        </div>
                                        <h6>快去逛逛</h6>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="love_list">
                        <ul>
                            <li>
                                <div class="recommand_box">
                                    <div class="recommand_box__img" style="background: #4e9fe6;">
                                        <img class="b-lazy b-loaded" src="../../upload/f2e/product_detail/product_detail_01.png">
                                    </div>
                                    <div class="recommand_box__txt">
                                        <h4>石灰漆</h4>
                                        <p>High-grade lime paint No.344</p>
                                        <div class="btns recommand__btn">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);" class="vipBtn" data-lbox="../layout/viplbox_circle_circle_love.html">
                                                        <h4>移除商品</h4>
                                                        <span></span>
                                                    </a>
                                                </li>
                                                <li class="focus">
                                                    <a href="javascript:void(0);">
                                                        <h4>前往購買</h4>
                                                        <span></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="recommand_box">
                                    <div class="recommand_box__img" style="background: #4e9fe6;">
                                        <img class="b-lazy b-loaded" src="../../upload/f2e/product_detail/product_detail_01.png">
                                    </div>
                                    <div class="recommand_box__txt">
                                        <h4>石灰漆</h4>
                                        <p>High-grade lime paint No.344</p>
                                        <div class="btns recommand__btn">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <h4>移除商品</h4>
                                                        <span></span>
                                                    </a>
                                                </li>
                                                <li class="focus">
                                                    <a href="javascript:void(0);">
                                                        <h4>前往購買</h4>
                                                        <span></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="recommand_box">
                                    <div class="recommand_box__img" style="background: #4e9fe6;">
                                        <img class="b-lazy b-loaded" src="../../upload/f2e/product_detail/product_detail_01.png">
                                    </div>
                                    <div class="recommand_box__txt">
                                        <h4>石灰漆</h4>
                                        <p>High-grade lime paint No.344</p>
                                        <div class="btns recommand__btn">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <h4>移除商品</h4>
                                                        <span></span>
                                                    </a>
                                                </li>
                                                <li class="focus">
                                                    <a href="javascript:void(0);">
                                                        <h4>前往購買</h4>
                                                        <span></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="recommand_box">
                                    <div class="recommand_box__img" style="background: #4e9fe6;">
                                        <img class="b-lazy b-loaded" src="../../upload/f2e/product_detail/product_detail_01.png">
                                    </div>
                                    <div class="recommand_box__txt">
                                        <h4>石灰漆</h4>
                                        <p>High-grade lime paint No.344</p>
                                        <div class="btns recommand__btn">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <h4>移除商品</h4>
                                                        <span></span>
                                                    </a>
                                                </li>
                                                <li class="focus">
                                                    <a href="javascript:void(0);">
                                                        <h4>前往購買</h4>
                                                        <span></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="recommand_box">
                                    <div class="recommand_box__img" style="background: #4e9fe6;">
                                        <img class="b-lazy b-loaded" src="../../upload/f2e/product_detail/product_detail_01.png">
                                    </div>
                                    <div class="recommand_box__txt">
                                        <h4>石灰漆</h4>
                                        <p>High-grade lime paint No.344</p>
                                        <div class="btns recommand__btn">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <h4>移除商品</h4>
                                                        <span></span>
                                                    </a>
                                                </li>
                                                <li class="focus">
                                                    <a href="javascript:void(0);">
                                                        <h4>前往購買</h4>
                                                        <span></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="recommand_box">
                                    <div class="recommand_box__img" style="background: #4e9fe6;">
                                        <img class="b-lazy b-loaded" src="../../upload/f2e/product_detail/product_detail_01.png">
                                    </div>
                                    <div class="recommand_box__txt">
                                        <h4>石灰漆</h4>
                                        <p>High-grade lime paint No.344</p>
                                        <div class="btns recommand__btn">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <h4>移除商品</h4>
                                                        <span></span>
                                                    </a>
                                                </li>
                                                <li class="focus">
                                                    <a href="javascript:void(0);">
                                                        <h4>前往購買</h4>
                                                        <span></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="recommand_box">
                                    <div class="recommand_box__img" style="background: #4e9fe6;">
                                        <img class="b-lazy b-loaded" src="../../upload/f2e/product_detail/product_detail_01.png">
                                    </div>
                                    <div class="recommand_box__txt">
                                        <h4>石灰漆</h4>
                                        <p>High-grade lime paint No.344</p>
                                        <div class="btns recommand__btn">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <h4>移除商品</h4>
                                                        <span></span>
                                                    </a>
                                                </li>
                                                <li class="focus">
                                                    <a href="javascript:void(0);">
                                                        <h4>前往購買</h4>
                                                        <span></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </article>

    </main>
    <footer id="footer"></footer>
    <!--主要jQuery-->
    <script src="../../assets/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="../../assets/js/vendor/slick/slick.js"></script>
    <script src="../../assets/js/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="../../assets/js/vendor/blazy.js"></script>
    <script src="../../assets/js/vendor/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="../../assets/js/vendor/masonry/masonry.pkgd.min.js"></script>
    <script src="../../assets/js/vendor/masonry/imagesloaded.pkgd.min.js"></script>
    <script src="../../assets/js/vendor/cgpagechange.js"></script>
    <script src="../../assets/js/vendor/lbox.js"></script>
    <!-- 主要 -->
    <script src="../../assets/js/main.js"></script>
    <!-- 個別 -->
    <script src="../../assets/js/vip.js"></script>
</body>

</html>