<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick-theme.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">

</head>

<body id="register">
    <header class="header__member">
        <div class="goBack"></div>
        <div class="navline__member">
            <ul>
                <li>
                    <a href="javascript:void(0);">
                        <h4>ACCOUNT MANAGEMENT</h4>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <h4>更換密碼</h4>
                    </a>
                </li>
            </ul>
        </div>
        <div class="flow">
            <ul>
                <li class="on">
                    <h5>STEP 1 填寫新舊密碼</h5>
                </li>
                <li class="on">
                    <h5>STEP 2 輸入驗證碼</h5>
                </li>
                <li class="on">
                    <h5>STEP 3 完成密碼更換</h5>
                </li>
            </ul>
        </div>
    </header>
    <main>
        <article class="banner_wrap">
            <div class="banner_member">
                <div class="banner_member__title movein">
                    <h4 class="txtin">Success!</h4>
                    <h5 class="txtin2">請重新登入會員</h5>
                </div>
            </div>
        </article>
        <article class="content_wrap">
            <div class="register__content">
                <div class="register__inner">
                    <div class="thelogo">
                        <svg x="0px" y="0px" viewBox="0 0 612 792" enable-background="new 0 0 612 792" xml:space="preserve">
                            <path class="thumbs" d="M377.113,316.267c0.594-10.413,6.465-42.021,12.93-70.035c2.154-6.465,3.232-12.93,5.387-20.472
                            c6.465-24.781,9.697-75.423-16.161-108.824C365.26,99.697,343.711,90,318.929,90c-39.865,0-39.865,28.015-39.865,52.796
                            c0,86.197-24.782,112.057-49.563,136.838c-11.853,11.853-23.704,24.782-32.324,43.099c-7.542,15.085-10.774,30.169-15.085,43.099
                            c-8.619,32.324-12.929,42.021-39.866,42.021h-23.704c-7.542,0-7.542,26.937,0,26.937h23.704c47.409,0,57.106-31.246,65.726-61.416
                            c3.232-11.852,7.543-25.858,12.93-38.788c6.465-15.085,16.162-24.782,28.015-36.634C275.831,269.936,306,238.69,306,142.796
                            c0-26.937,0-26.937,12.929-26.937c17.24,0,30.169,5.388,38.789,17.239c16.162,20.472,18.317,59.261,11.853,86.197
                            c-2.155,6.465-3.232,12.93-5.388,19.395c-11.853,45.254-21.55,81.888-7.542,108.824c8.619,17.239,14.007,47.408,9.697,77.577
                            c-4.311,24.782-17.24,58.184-56.028,77.578c-6.465,3.232-9.697,10.774-6.465,18.316c2.155,4.31,7.542,7.542,11.852,7.542
                            c2.155,0,4.311,0,6.465-1.077c49.563-24.781,65.726-65.726,71.113-96.972c6.465-35.557-1.078-67.881-8.62-88.353
                            C384.655,342.127,376.519,326.68,377.113,316.267z"></path>
                            <path d="M612,384.333v-1.263c0-66.803-91.585-66.803-146.536-66.803L369,316.166l8.833,25.96h88.709
                            c60.338,0,119.599,3.232,119.599,39.866v26.937c0,16.162-5.388,26.938-12.93,26.938h-12.93H442.838
                            c-1.078-2.155-4.311-9.697-4.311-26.938c0-24.781,11.853-26.937,12.93-26.937h79.732c7.542,0,12.93-6.465,12.93-12.93
                            s-6.465-12.93-12.93-12.93h-78.654c-14.008,0-39.866,10.775-39.866,52.796c0,17.24,2.154,29.092,6.464,36.634
                            c-2.154,3.232-5.387,7.543-6.464,12.93c-4.311,9.697-5.388,22.627-5.388,36.634c0,21.55,5.388,38.789,12.93,49.563
                            c-4.31,7.543-6.465,19.395-6.465,36.634c0,20.472,6.465,30.169,12.93,35.557v18.316c0,10.775,7.542,26.938,23.704,39.866H289.838
                            c-30.169,0-48.486-8.619-66.803-18.316c-20.472-10.774-43.099-21.55-78.655-21.55h-23.704c-7.542,0-7.542,26.938,0,26.938h23.704
                            c30.169,0,48.486,8.619,66.803,18.316c20.472,10.774,43.099,21.55,78.655,21.55h235.965c1.077,0,1.077,0,2.154,0
                            c2.155,0,2.371,0.14,4.777-0.704l0.719-0.266c23.704-5.387,38.68-38.896,38.68-61.523c0-4.311-1.077-8.62-2.154-11.853
                            c5.387-4.31,10.774-10.774,15.084-18.316c5.388-11.853,9.697-26.937,9.697-42.021c0-10.774-1.077-17.239-3.232-23.704
                            c12.93-11.853,22.627-33.401,22.627-67.88c0-16.162-4.31-25.859-8.619-31.247c5.387-8.619,6.465-20.229,6.465-34.236V384.333z
                            M537.655,663.212c-4.31,8.619-8.619,10.774-11.852,11.852c-52.796-2.154-73.268-32.323-73.268-39.866v-11.852l91.584,11.852
                            C545.197,639.508,544.119,651.359,537.655,663.212z M559.204,599.641c-4.311,8.619-9.697,9.697-12.93,9.697L441.76,595.331
                            c-1.077-1.077-2.154-4.31-2.154-14.007c0-26.937,3.232-26.937,12.93-26.937h113.134
                            C567.823,564.085,566.746,585.635,559.204,599.641z M558.126,528.528H439.606c-2.155-2.154-7.543-14.007-7.543-33.401
                            s5.388-31.246,6.465-33.401h119.599h12.93h11.853v1.078c1.077,2.154,2.154,6.464,2.154,12.929
                            C585.063,501.592,578.598,528.528,558.126,528.528z"></path>
                            <path d="M119.599,687.993H12.93c-6.465,0-12.93-5.387-12.93-12.93V408.929C0,401.387,6.465,396,12.93,396h106.669
                            c7.542,0,12.93,6.465,12.93,12.93v266.134C132.529,682.606,127.141,687.993,119.599,687.993z M26.937,662.134h79.732V422.937H26.937
                            V662.134z"></path>
                        </svg>
                    </div>
                    <div class="txt">
                        <p>親愛的會員您好，恭喜您完成更換密碼的驗證手續，您的會員密碼已經完成更新，為確保您的會員帳號安全，請使用新的密碼進行重新登入。
                        </p>
                    </div>

                    <div class="thebtns">
                        <ul class="list">

                            <li class="focus">
                                <a href="../member/index.html">
                                    <div class="circle circle--40 circle--v">
                                        <span></span>
                                    </div>
                                    <h6>重新登入</h6>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="thegotop">
                        <a href="javascript:void(0);">
                            <h6>TOP</h6>
                        </a>
                    </div>
                </div>
            </div>
        </article>
    </main>

    <!--主要jQuery-->
    <script src="../../assets/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="../../assets/js/vendor/slick/slick.js"></script>
    <script src="../../assets/js/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="../../assets/js/vendor/blazy.js"></script>
    <script src="../../assets/js/vendor/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="../../assets/js/vendor/masonry/masonry.pkgd.min.js"></script>
    <script src="../../assets/js/vendor/masonry/imagesloaded.pkgd.min.js"></script>
    <script src="../../assets/js/vendor/cgpagechange.js"></script>
    <script src="../../assets/js/vendor/lbox.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <!-- 主要 -->
    <script src="../../assets/js/main.js"></script>
    <!-- 個別 -->
    <script src="../../assets/js/member.js"></script>
    <script>

        var x = [
            {
                "id": 1,
                "text": "TAIWAN +886"
            },
            {
                "id": 2,
                "text": "China +86",
            },
            {
                "id": 3,
                "text": "American +1",
            }
        ];

        $(".nationality").select2({
            data: x,
            // placeholder: 'Select an option',
            minimumResultsForSearch: Infinity,
            theme: "dropdownC",
            width: "100%"
        });

        // 要修改值 清掉再綁
        // $("select").select2('destroy');
        // $("select").select2({
        //     data: y,
        //     // placeholder: 'Select an option',
        //     minimumResultsForSearch: Infinity,
        //     theme: "dropdownC",
        //     width: "100%"
        // });



    </script>
</body>

</html>