<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick-theme.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">

</head>

<body id="register">
    <header class="header__member">
        <div class="goBack"></div>
        <div class="navline__member">
            <ul>
                <li>
                    <a href="javascript:void(0);">
                        <h4>ACCOUNT MANAGEMENT</h4>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <h4>更換密碼</h4>
                    </a>
                </li>
            </ul>
        </div>
        <div class="flow">
            <ul>
                <li class="on">
                    <h5>STEP 1 填寫新舊密碼</h5>
                </li>
                <li>
                    <h5>STEP 2 輸入驗證碼</h5>
                </li>
                <li>
                    <h5>STEP 3 完成密碼更換</h5>
                </li>
            </ul>
        </div>
    </header>
    <main>
        <article class="banner_wrap">
            <div class="banner_member">
                <div class="banner_member__title movein">
                    <h4 class="txtin">Change Your Password</h4>
                    <h5 class="txtin2">更換您的密碼</h5>
                </div>
            </div>
        </article>
        <article class="content_wrap">
            <div class="register__content">
                <div class="register__inner">
                    <div class="thelogo">
                        <svg x="0px" y="0px" viewBox="0 0 87 97.1" style="enable-background:new 0 0 87 97.1;" xml:space="preserve">
                            <path class="personW" d="M84.9,11.5c-1.4-1.4-3.2-2.1-5.1-2.1c-0.1,0-0.2,0-0.4,0c-0.7,0-1.5,0.1-2.2,0.1c-3,0-7.7-0.3-13.3-1.6
                            c-8.1-2-14.4-5.4-16.7-6.8c-1.1-0.7-2.4-1-3.7-1c-1.3,0-2.6,0.4-3.7,1c-2.3,1.4-8.6,4.9-16.7,6.8C17.5,9.2,12.8,9.4,9.8,9.4
                            c-0.8,0-1.5,0-2.2-0.1c-0.1,0-0.2,0-0.4,0c-1.9,0-3.8,0.8-5.1,2.1C0.7,12.9,0,14.7,0,16.7c0.1,6,0.9,22,6.6,39.4
                            c7.8,23.9,26,36,33.4,40.1c1.1,0.6,2.3,0.9,3.4,0.9c1.2,0,2.4-0.3,3.4-0.9C54.4,92.1,72.6,80,80.4,56c5.7-17.4,6.5-33.3,6.6-39.4
                            C87,14.7,86.3,12.9,84.9,11.5z M76.2,54.7c-7.6,23.5-26.2,34.8-31.4,37.6c-0.4,0.2-0.9,0.3-1.3,0.3c-0.4,0-0.9-0.1-1.3-0.3
                            c-5.1-2.8-23.7-14.2-31.4-37.6C5.4,38,4.6,22.8,4.4,16.6c0-1.5,1.2-2.8,2.7-2.8c0,0,0.1,0,0.1,0c0.7,0,1.5,0.1,2.5,0.1
                            c3.5,0,8.5-0.3,14.4-1.8c8.6-2.1,15.2-5.7,18-7.3c0.4-0.3,0.9-0.4,1.4-0.4c0.5,0,1,0.1,1.4,0.4c2.8,1.7,9.4,5.2,18,7.3
                            c5.8,1.4,10.9,1.8,14.4,1.8c0.9,0,1.8,0,2.5-0.1c0,0,0.1,0,0.1,0c1.5,0,2.8,1.2,2.7,2.8C82.4,22.8,81.6,38,76.2,54.7z"
                            />
                            <g>
                                <path d="M43.5,20.6c-8.1,0-14.4,6.3-14.4,14.4c0,5.3,2.3,9.8,6.4,12.4v7.7l2.6,2v0.7l-2.6,2.9v3l2.6,2.4v0.6l-2.6,2v7.6h8l5.4-6.3
                                V48.8c5.7-1.9,9-7,9-13.9C57.9,26.9,51.6,20.6,43.5,20.6z M38.6,73.4v-3l2.6-2v-3.4l-2.6-2.4v-0.5l2.6-2.9v-3.4l-2.6-2v-8l-0.8-0.4
                                c-3.6-1.9-5.6-5.6-5.6-10.1c0-6.4,5-11.3,11.3-11.3s11.3,5,11.3,11.3c0,3.5-1,9.5-7.8,11.2l-1.2,0.3V69l-3.7,4.3H38.6z"
                                />
                                <path d="M48.9,31.1c0-3-2.4-5.4-5.4-5.4s-5.4,2.4-5.4,5.4s2.4,5.4,5.4,5.4S48.9,34.1,48.9,31.1z M43.5,33.4c-1.3,0-2.3-1-2.3-2.3
                                s1-2.3,2.3-2.3s2.3,1,2.3,2.3S44.8,33.4,43.5,33.4z" />
                            </g>
                        </svg>
                    </div>
                    <div class="txt">
                        <p>親愛的會員您好，請填寫您欲更換的新密碼，並輸入當前使用的會員密碼。我們將會發送一組驗證碼至您的新手機，以確認此操作為您本人進行。</p>
                    </div>
                    <div class="theform">
                        <ul>

                            <li class="w100">
                                <label for="password">PASSWORD 設定密碼</label>
                                <input id="password" type="password" placeholder="請將密碼設定至少8位數以上，並包含英文與數字">
                            </li>

                            <li class="w100 br">
                                <label for="password2">PASSWORD CONFIRM 再次輸入您的密碼</label>
                                <input id="password2" type="password">
                            </li>

                            <li class="w100">
                                <label for="password">PASSWORD 當前使用密碼</label>
                                <input id="password" type="password">
                            </li>

                        </ul>
                    </div>

                    <div class="thebtns">
                        <ul class="list">
                            <li class="focus">
                                <a href="../vip/member_change_password2.html">
                                    <div class="circle circle--40 circle--v">
                                        <span></span>
                                    </div>
                                    <h6>確認送出</h6>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="thegotop">
                        <a href="javascript:void(0);">
                            <h6>TOP</h6>
                        </a>
                    </div>
                </div>
            </div>
        </article>
    </main>

    <!--主要jQuery-->
    <script src="../../assets/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="../../assets/js/vendor/slick/slick.js"></script>
    <script src="../../assets/js/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="../../assets/js/vendor/blazy.js"></script>
    <script src="../../assets/js/vendor/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="../../assets/js/vendor/masonry/masonry.pkgd.min.js"></script>
    <script src="../../assets/js/vendor/masonry/imagesloaded.pkgd.min.js"></script>
    <script src="../../assets/js/vendor/cgpagechange.js"></script>
    <script src="../../assets/js/vendor/lbox.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <!-- 主要 -->
    <script src="../../assets/js/main.js"></script>
    <!-- 個別 -->
    <script src="../../assets/js/member.js"></script>

</body>

</html>