#supplier.changepassword
    .content
        padding: 65px 40px 120px
        @media (max-width: 1024px)
            padding: 65px 4vw 120px
        @media (max-width: 700px)
            padding: 65px 4vw 80px
        ._title
            +flex-center
            flex-direction: column
            animation: fadeInUp 1s both 1s
            h6 
                font-size: px(25)
                font-weight: bold
                @media (max-width: 700px)
                    font-size: px(22)
            .inf
                display: flex
                flex-wrap: wrap
                align-items: center
                background-color: #e5e5e5
                max-width: 870px
                width: 100%
                position: relative
                margin: 20px 0 50px
                &:after
                    +fakeLine(1px,32px,#aaaaaa)
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%,-50%)
                    @media (max-width: 700px)
                        width: 100px
                        height: 1px
                p
                    width: 50%
                    font-size: px(17)
                    text-align: center
                    font-weight: bold
                    @media (max-width: 700px)
                        width: 100%
                        font-size: px(16)
                    &:nth-child(odd)
                        padding: 15px 60px 15px 50px
                        @media (max-width: 1024px)
                            padding: 15px 6vw 15px 5vw
                        @media (max-width: 700px)
                            padding: 15px 5vw 10px
                    &:nth-child(even)
                        padding: 15px 50px 15px 60px
                        @media (max-width: 1024px)
                            padding: 15px 5vw 15px 6vw
                        @media (max-width: 700px)
                            padding: 10px 5vw 15px
                    &:before
                        font-weight: normal
                        color: #4e4c4c
                        content: attr(data-name)
        .form
            max-width: 1070px
            width: 100%
            margin: auto
            padding: 45px 40px 80px
            +flex-center
            box-shadow: 0 0 50px 5px rgba(0,0,0,0.1)
            animation: fadeInUp 1s both 1s
            @media (max-width: 1024px)
                padding: 45px 4vw 80px
            form
                max-width: 700px
                display: flex
                justify-content: center
                flex-wrap: wrap
                .ps
                    +flex-center
                    margin: 0 0 45px
                    color: #595959
                    font-size: px(15)
                    font-weight: bold
                    &:before
                        content: "i"
                        width: 30px
                        height: 30px
                        +flex-center
                        color: #fff
                        border-radius: 50%
                        background-color: #707070
                        margin: 0 10px 0 0
                        font-size: px(18)
                        font-weight: normal
                    p
                        width: calc(100% - 40px)
                .type
                    width: calc(50% - 30px)
                    +flex-center
                    padding: 0 0 5px
                    border-bottom: 2px solid #959595
                    @media (max-width: 1070px), (max-width: 1320px) and (min-width: 1025px)
                        width: calc(50% - 1vw)
                    @media (max-width: 700px)
                        width: 100%
                    &:nth-of-type(odd)
                        margin: 0 30px 40px 0
                        @media (max-width: 1070px), (max-width: 1320px) and (min-width: 1025px)
                            margin: 0 1vw 40px 0
                        @media (max-width: 700px)
                            margin: 0 0 40px
                    &:nth-of-type(even)
                        margin: 0 0 40px 30px
                        @media (max-width: 1070px), (max-width: 1320px) and (min-width: 1025px)
                            margin: 0 0 40px 1vw
                        @media (max-width: 700px)
                            margin: 0 0 40px
                    .typeName
                        width: 120px
                        text-align: center
                        font-size: px(15)
                        font-weight: bold
                        border-right: 1px solid #a0a0a0
                        @media (max-width: 700px)
                            letter-spacing: 0.5px
                            padding: 0 10px 0 5px
                            width: 110px
                    .inputArea
                        padding: 0 10px
                        width: calc(100% - 120px)
                        @media (max-width: 700px)
                            padding: 0 5px 0 10px
                            width: calc(100% - 110px)
                        input
                            font-size: px(15)
                            border: none
                            width: 100%
                            background-color: transparent
                    &.code 
                        .inputArea
                            position: relative
                            display: flex
                            justify-content: space-between
                            input
                                width: calc(100% - 70px)
                                @media (max-width: 700px)
                                    width: calc(100% - 65px)
                                @media (max-width: 374px)
                                    width: 100%
                            div
                                cursor: pointer
                                width: 60px
                                @media (max-width: 374px)
                                    position: absolute
                                    top: calc(100% + 15px)
                                    right: 0
                .buttons
                    max-width: 390px
                    width: 100%
                    display: flex
                    justify-content: space-between
                    margin: 60px 0 0
                    button
                        +formButton