<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="language" content="tw" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="title" content="網站標題名稱" />
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <meta name="copyright" content="作者名子">
    <title>franzaward</title>
    <!-- 共用CSS -->
    <link rel="stylesheet" href="../../assets/js/vendor/cgpagechange/cgpagechange.css">
    <link rel="stylesheet" href="../../assets/js/vendor/jquery.mCustomScrollbar.min.js/jquery.mCustomScrollbar.min.css">
    <!-- 共用CSS end-->
    <!-- 非共用CSS -->
    <link rel="stylesheet" href="../../assets/js/vendor/slick/slick-theme.css">
    <link rel="stylesheet" href="../../assets/js/vendor/slick/slick.css">
    <!-- 非共用CSS end-->
    <!-- 自訂的css -->
    <link rel="stylesheet" href="../../assets/css/about/detail.css">
</head>

<body id="about" class="detail">
    <!-- 後端請注意:下方的背景顏色要可以讓客戶選擇 -->
    <main style="background-color: #484b37;">
        <article class="topNav">
            <section class="back" onclick="history.back()">
                <span></span>
            </section>
            <section class="hdLogo" style="transform: none;">
                <a href="../home/index.html">
                    <img src="../../upload/fa2/hdLogo3_100_55.png" alt="">
                </a>
            </section>
        </article>
        <article class="shareAndInf">
            <section class="left">
                <div class="socialMedia">
                    <ul>
                        <!-- facebook -->
                        <li>
                            <a class="facebook" href="javascript:void(0)"></a>
                        </li>
                        <!-- 推特 -->
                        <li>
                            <a class="twitter" href="javascript:void(0)"></a>
                        </li>
                        <!-- line -->
                        <li>
                            <a class="line" href="javascript:void(0)"></a>
                        </li>
                    </ul>
                </div>
                <div class="inf">
                    <div class="year">
                        <p>YEAR：2010</p>
                    </div>
                    <div class="day">
                        <p>06.26th - 09.26th</p>
                    </div>
                    <div class="location">
                        <p>台北市立美術館｜台灣・台北市</p>
                    </div>
                </div>
            </section>
            <section class="right">
                <p class="en">Manet to Picasso: Masterpieces from the Philadelphia Museum of Art</p>
                <p class="ch">馬內到畢卡索－費城美術館經典展</p>
            </section>
        </article>
        <article class="_slick">
            <ul>
                <li>
                    <div class="_img" onclick="about.zoom(this)">
                        <!-- 圖片建議高度460px,寬度不限 -->
                        <img src="../../upload/fa2/about/detail/slickImg1.jpg" alt="">
                    </div>
                </li>
                <li>
                    <div class="_img" onclick="about.zoom(this)">
                        <!-- 圖片建議高度460px,寬度不限 -->
                        <img src="../../upload/fa2/about/detail/slickImg2.jpg" alt="">
                    </div>
                </li>
                <li>
                    <div class="_img" onclick="about.zoom(this)">
                        <!-- 圖片建議高度460px,寬度不限 -->
                        <img src="../../upload/fa2/about/detail/slickImg3.jpg" alt="">
                    </div>
                </li>
                <li>
                    <div class="_img" onclick="about.zoom(this)">
                        <!-- 圖片建議高度460px,寬度不限 -->
                        <img src="../../upload/fa2/about/detail/slickImg4.jpg" alt="">
                    </div>
                </li>
            </ul>
            <div class="arrow">
                <span class="icon-slickLeft"></span>
                <span class="icon-slickRight"></span>
            </div>
        </article>
        <article class="content">
            <section class="paragraphs">
                <div class="paragraph_sec">
                    <div class="text_block">
                        <p>2010年眾所期盼的台灣年度藝文盛事「馬內到畢卡索－費城美術館經典展」，於6月26日起至9月26日止對各界觀眾開放。主辦單位台北市立美術館館長陳文玲、費城美術館館長堤莫斯‧魯伯（Timothy
                            Rub）以及法藍瓷有限公司總裁陳立恒共同在開幕記者會上為國人引介這項展覽的全貌，宣告這項重量級的藝術饗宴揭幕，精彩紛的畫作與雕塑在展覽期間與國人面對面接觸。
                            <br>
                            <br>該次也是台灣的北美館首度與美國重量級美術館共同合作「馬內到畢卡索－費城美術館經典展」，展出包括馬內、竇加、莫內、雷諾瓦、塞尚、梵谷、高更、羅丹、馬諦斯、畢卡索、夏卡爾、莫迪里亞尼、米羅、杜象、歐姬芙等58件油畫與雕塑作品，實為台美博物館界交流的重要標記。
                            <br>
                            <br>成立於1876年的費城美術館收藏近22萬5千件藝術史上頗具代表性的作品，並且是美國重要文化地標之一。藏品涵蓋了中世紀及文藝復興時期的繪畫與雕塑、中國瓷器、建築裝置到當代藝術，其中又以豐富的印象派及後印象派藏品，以及畢卡索、馬諦斯與杜象的收藏著稱，另外也收藏許多美國本土畫家的精采作品。無論在藝術史的研究、展覽呈現與策展理念上皆極具創新思維，曾兩度獲得策畫威尼斯雙年展美國館。
                            <br>
                            <br>「馬內到畢卡索－費城美術館經典展」內容呈現出這段時期的藝術家們，經過對古典的藝術典範的反思之後，主張藝術家創作的主體性，強調與時俱進，以呈現現代生活與個人內在感受為主的「新藝術」風格，並以創新的技法表現。馬內首先背離了古典道德的包袱，以放縱的筆觸，大膽的將當時巴黎仕女奧林匹亞的胴體橫陳於觀眾的眼前，成為現代繪畫的奠基者；而畢卡索則以其一生豐沛的實驗精神與質量豐饒的創作，在現代主義中佔據了最前列的位置。在風景畫上，最具代表性者為印象派畫家的作品，以當時的觀光景點、家鄉、工業及城市風景為主題，他們走出戶外寫生，將注意力放在個人生活的時刻，並以細碎、繽紛的色點與色塊，捕捉變化多端、轉瞬即逝的景色，體現了現代繪畫中畫家內在自我對外在自然的探索，代表的藝術家為莫內、畢沙羅、西斯來等人。
                        </p>
                    </div>
                </div>
                <div class="paragraph_sec">
                    <div class="paragraph_objblock_frame wrap">
                        <div class="paragraph_objblock_list">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg"
                                data-src="../../upload/fa2/about/detail/contentImg1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="paragraph_sec">
                    <div class="text_block">
                        <p>這次展出的人物畫多半以女性為主角，呈現出豐富且多變的現代女性形象。畫中的女性不再侷限於傳統繪畫中的居家空間以符合女子「宜室宜家」的刻板形象，而從事了更多舞蹈、歌劇、音樂、閱讀等社交及文化生產活動，如馬內、竇加、雷諾瓦、卡塞特等藝術家的作品。馬諦斯畫中主角的宮女扮像，以及使用他收集自亞洲、北非及大洋洲的裝飾品，如非洲植物、波斯地毯、摩爾式屏風、香爐與阿拉伯紋飾壁紙等來佈置場景，使馬諦斯成為當時西方藝術家在對東方殖民地及異國文化充滿興趣與想像下，將其融入創作的代表人物之一，與之相同者還包括如高更、畢卡索與莫廸尼亞尼。展覽中雷諾瓦女體畫與竇加、馬諦斯與羅丹的裸女雕刻則呈現出與古典裸女傳統的延續關係。
                        </p>
                    </div>
                </div>
                <div class="paragraph_sec flex_col">
                    <div class="paragraph_objblock_frame wrap">
                        <div class="paragraph_objblock_list w_50">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg"
                                data-src="../../upload/fa2/about/detail/contentImg2.jpg" alt="">
                        </div>
                        <div class="paragraph_objblock_list w_50">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg"
                                data-src="../../upload/fa2/about/detail/contentImg3.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="paragraph_sec">
                    <div class="text_block">
                        <p>法藍瓷在十年的陶瓷設計大賽(Franz
                            Award)間，激蕩了來自全球上萬名的設計新秀，為了嘉惠更多設計人才，大賽從2018年起轉型為「法藍瓷光點計畫」獎學金，每屆以高達300萬新台幣的總獎金，規劃提供百位學生新台幣30,000元獎學金，為更多勇於追夢的設計新銳注入滿滿勇氣，更將聯合世界頂尖陶瓷聯盟院校，盼彙聚設計能量打造閃亮未來。
                        </p>
                    </div>
                </div>
            </section>
            <section class="socialMedia">
                <ul>
                    <ul>
                        <!-- facebook -->
                        <li>
                            <a class="facebook" href="javascript:void(0)"></a>
                        </li>
                        <!-- 推特 -->
                        <li>
                            <a class="twitter" href="javascript:void(0)"></a>
                        </li>
                        <!-- line -->
                        <li>
                            <a class="line" href="javascript:void(0)"></a>
                        </li>
                    </ul>
                </ul>
            </section>
            <section class="sponsors">
                <div class="organizer">
                    <p>ORGANIZER 主辦單位</p>
                    <ul>
                        <li>
                            <a href="https://www.franzcollection.com.tw/zh-tw" target="_blank">
                                <img src="../../upload/fa2/sponsors1_80_70.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="http://www.ccia.org.tw/" target="_blank">
                                <img src="../../upload/fa2/sponsors3_80_50.png" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="partner">
                    <p>PARTNER 合作單位</p>
                    <ul>
                        <li>
                            <a href="http://www.wddgroup.com/" target="_blank">
                                <img src="../../upload/fa2/sponsors2_130_30.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="https://britishceramicsbiennial.com/" target="_blank">
                                <img src="../../upload/fa2/british_logo.png" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="goTop">
                <span></span>
                <p>TOP</p>
            </section>
        </article>
    </main>
    <script src="../../assets/js/style.js"></script>
</body>

</html>