<div class="detail">
    <div class="detail_nav">
        <div>
            <div class="back">
                <ul>
                    <li>
                        <p>SPA</p>
                    </li>
                    <li>
                        <p class="back_button" style="cursor: pointer;">BACK</p>
                    </li>
                </ul>
            </div>
            <div class="detail_menu_icom">
                <div class="cuisine">
                    <p>SPA</p>
                </div>
                <div class="icom_box">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="detail_banner">
        <div class="detail_banner_img">
            <picture>
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source srcset="../../upload/spa/detail_treatment/banner.jpg" media="(max-width: 1024px)">
                <img src="../../upload/spa/detail_treatment/banner.jpg">
            </picture>
        </div>
        <div class="detail_slogan">
            <p>Treatment</p>
        </div>
        <div class="banner_slideup">
            <p>SPA SERVICE</p>
        </div>
    </div>
    <div class="detail_content">
        <div class="detail_title_bg">
            <div class="detail_title">
                <h4>Sample slogan</h4>
                <p>~Demo Title The five senses of man are in charge of the soul of man~</p>
            </div>
        </div>
        <!-- row1 -->
        <div class="detail_row">
            <div class="detail_row_img"><img class="b-lazy" src="../../upload/spa/detail_treatment/img1.jpg" data-src="../../upload/spa/detail_treatment/img1.jpg"></div>
            <div class="detail_row_text_bg">
                <div class="detail_row_text">
                    <div class="detail_text_title">
                        <h5>Face Revitalizing</h5>
                        <p>Here, find gorgeous flamboyant signs, nor the magnificent decorative furnishings, each as building materials...</p>
                    </div>
                    <div class="more">
                        <p>learn more</p>
                    </div>
                </div>
            </div>
            <div class="moreLibox">
                <div class="whiteBox">
                    <div class="liboxClose"></div>
                    <div class="_title">
                        <h5>Face Revitalizing</h5>
                        <p>We specially combine the most popular treatments to enhance the results of the treatment and allow you to get deep relaxation from it. Let our aroma therapist take you on a journey of experience beyond imagination.</p>
                    </div>
                    <div class="serviceAndPrice">
                        <h6>Service & Price</h6>
                        <ul>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Living face</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>60</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 2,300</strong></p>
                                </div>
                            </li>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Acne Treatment</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>15</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 800</strong></p>
                                </div>
                            </li>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Potent moisturizing</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>15</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 800</strong></p>
                                </div>
                            </li>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Improved Sensitivity</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>15</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 800</strong></p>
                                </div>
                            </li>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Oil control pox 30</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>30</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 1,300</strong></p>
                                </div>
                            </li>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Whitening Spot 30</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>30</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 2,000</strong></p>
                                </div>
                            </li>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Regenerate skin care 30</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>30</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 2,000</strong></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- row2 -->
        <div class="detail_row">
            <div class="detail_row_img">
                <img class="b-lazy" src="../../upload/spa/detail_treatment/img2.jpg" data-src="../../upload/spa/detail_treatment/img2.jpg">
            </div>
            <div class="detail_row_text_bg">
                <div class="detail_row_text">
                    <div class="detail_text_title">
                        <h5>Purify Detoxification</h5>
                        <p>Here, find gorgeous flamboyant signs, nor the magnificent decorative furnishings, each as building materials...</p>
                    </div>
                    <div class="more">
                        <p>learn more</p>
                    </div>
                </div>
            </div>
            <div class="moreLibox">
                <div class="whiteBox">
                    <div class="liboxClose"></div>
                    <div class="_title">
                        <h5>Face Revitalizing</h5>
                        <p>We specially combine the most popular treatments to enhance the results of the treatment and allow you to get deep relaxation from it. Let our aroma therapist take you on a journey of experience beyond imagination.</p>
                    </div>
                    <div class="serviceAndPrice">
                        <h6>Service & Price</h6>
                        <ul>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Living face</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>60</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 2,300</strong></p>
                                </div>
                            </li>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Acne Treatment</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>15</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 800</strong></p>
                                </div>
                            </li>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Potent moisturizing</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>15</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 800</strong></p>
                                </div>
                            </li>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Improved Sensitivity</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>15</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 800</strong></p>
                                </div>
                            </li>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Oil control pox 30</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>30</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 1,300</strong></p>
                                </div>
                            </li>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Whitening Spot 30</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>30</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 2,000</strong></p>
                                </div>
                            </li>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Regenerate skin care 30</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>30</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 2,000</strong></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- row3 -->
        <div class="detail_row">
            <div class="detail_row_img">
                <img class="b-lazy" src="../../upload/spa/detail_treatment/img3.jpg" data-src="../../upload/spa/detail_treatment/img3.jpg">
            </div>
            <div class="detail_row_text_bg">
                <div class="detail_row_text">
                    <div class="detail_text_title">
                        <h5>Relieve Aroma</h5>
                        <p>Here, find gorgeous flamboyant signs, nor the magnificent decorative furnishings, each as building materials...</p>
                    </div>
                    <div class="more">
                        <p>learn more</p>
                    </div>
                </div>
            </div>
            <div class="moreLibox">
                <div class="whiteBox">
                    <div class="liboxClose"></div>
                    <div class="_title">
                        <h5>Face Revitalizing</h5>
                        <p>We specially combine the most popular treatments to enhance the results of the treatment and allow you to get deep relaxation from it. Let our aroma therapist take you on a journey of experience beyond imagination.</p>
                    </div>
                    <div class="serviceAndPrice">
                        <h6>Service & Price</h6>
                        <ul>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Living face</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>60</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 2,300</strong></p>
                                </div>
                            </li>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Acne Treatment</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>15</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 800</strong></p>
                                </div>
                            </li>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Potent moisturizing</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>15</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 800</strong></p>
                                </div>
                            </li>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Improved Sensitivity</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>15</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 800</strong></p>
                                </div>
                            </li>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Oil control pox 30</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>30</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 1,300</strong></p>
                                </div>
                            </li>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Whitening Spot 30</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>30</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 2,000</strong></p>
                                </div>
                            </li>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Regenerate skin care 30</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>30</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 2,000</strong></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- row4 -->
        <div class="detail_row">
            <div class="detail_row_img">
                <img class="b-lazy" src="../../upload/spa/detail_treatment/img4.jpg" data-src="../../upload/spa/detail_treatment/img4.jpg">
            </div>
            <div class="detail_row_text_bg">
                <div class="detail_row_text">
                    <div class="detail_text_title">
                        <h5>Meridian Energy</h5>
                        <p>Here, find gorgeous flamboyant signs, nor the magnificent decorative furnishings, each as building materials...</p>
                    </div>
                    <div class="more">
                        <p>learn more</p>
                    </div>
                </div>
            </div>
            <div class="moreLibox">
                <div class="whiteBox">
                    <div class="liboxClose"></div>
                    <div class="_title">
                        <h5>Face Revitalizing</h5>
                        <p>We specially combine the most popular treatments to enhance the results of the treatment and allow you to get deep relaxation from it. Let our aroma therapist take you on a journey of experience beyond imagination.</p>
                    </div>
                    <div class="serviceAndPrice">
                        <h6>Service & Price</h6>
                        <ul>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Living face</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>60</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 2,300</strong></p>
                                </div>
                            </li>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Acne Treatment</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>15</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 800</strong></p>
                                </div>
                            </li>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Potent moisturizing</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>15</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 800</strong></p>
                                </div>
                            </li>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Improved Sensitivity</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>15</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 800</strong></p>
                                </div>
                            </li>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Oil control pox 30</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>30</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 1,300</strong></p>
                                </div>
                            </li>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Whitening Spot 30</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>30</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 2,000</strong></p>
                                </div>
                            </li>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Regenerate skin care 30</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>30</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 2,000</strong></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- row5 -->
        <div class="detail_row">
            <div class="detail_row_img">
                <img class="b-lazy" src="../../upload/spa/detail_treatment/img5.jpg" data-src="../../upload/spa/detail_treatment/img5.jpg">
            </div>
            <div class="detail_row_text_bg">
                <div class="detail_row_text">
                    <div class="detail_text_title">
                        <h5>Meet Happiness</h5>
                        <p>Here, find gorgeous flamboyant signs, nor the magnificent decorative furnishings, each as building materials...</p>
                    </div>
                    <div class="more">
                        <p>learn more</p>
                    </div>
                </div>
            </div>
            <div class="moreLibox">
                <div class="whiteBox">
                    <div class="liboxClose"></div>
                    <div class="_title">
                        <h5>Face Revitalizing</h5>
                        <p>We specially combine the most popular treatments to enhance the results of the treatment and allow you to get deep relaxation from it. Let our aroma therapist take you on a journey of experience beyond imagination.</p>
                    </div>
                    <div class="serviceAndPrice">
                        <h6>Service & Price</h6>
                        <ul>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Living face</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>60</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 2,300</strong></p>
                                </div>
                            </li>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Acne Treatment</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>15</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 800</strong></p>
                                </div>
                            </li>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Potent moisturizing</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>15</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 800</strong></p>
                                </div>
                            </li>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Improved Sensitivity</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>15</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 800</strong></p>
                                </div>
                            </li>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Oil control pox 30</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>30</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 1,300</strong></p>
                                </div>
                            </li>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Whitening Spot 30</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>30</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 2,000</strong></p>
                                </div>
                            </li>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Regenerate skin care 30</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>30</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 2,000</strong></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- row6 -->
        <div class="detail_row">
            <div class="detail_row_img">
                <img class="b-lazy" src="../../upload/spa/detail_treatment/img6.jpg" data-src="../../upload/spa/detail_treatment/img6.jpg">
            </div>
            <div class="detail_row_text_bg">
                <div class="detail_row_text">
                    <div class="detail_text_title">
                        <h5>Featured Combinations</h5>
                        <p>Here, find gorgeous flamboyant signs, nor the magnificent decorative furnishings, each as building materials...</p>
                    </div>
                    <div class="more">
                        <p>learn more</p>
                    </div>
                </div>
            </div>
            <div class="moreLibox">
                <div class="whiteBox">
                    <div class="liboxClose"></div>
                    <div class="_title">
                        <h5>Face Revitalizing</h5>
                        <p>We specially combine the most popular treatments to enhance the results of the treatment and allow you to get deep relaxation from it. Let our aroma therapist take you on a journey of experience beyond imagination.</p>
                    </div>
                    <div class="serviceAndPrice">
                        <h6>Service & Price</h6>
                        <ul>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Living face</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>60</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 2,300</strong></p>
                                </div>
                            </li>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Acne Treatment</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>15</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 800</strong></p>
                                </div>
                            </li>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Potent moisturizing</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>15</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 800</strong></p>
                                </div>
                            </li>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Improved Sensitivity</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>15</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 800</strong></p>
                                </div>
                            </li>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Oil control pox 30</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>30</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 1,300</strong></p>
                                </div>
                            </li>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Whitening Spot 30</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>30</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 2,000</strong></p>
                                </div>
                            </li>
                            <li>
                                <!-- 療程名稱 -->
                                <div class="serviceName">
                                    <p>Regenerate skin care 30</p>
                                </div>
                                <!-- 療程時間 -->
                                <div class="serviceTime">
                                    <p><strong>30</strong> min</p>
                                </div>
                                <!-- 療程價格 -->
                                <div class="servicePrice">
                                    <p><strong>NT$ 2,000</strong></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="make_a_reservation">
        <span></span>
        <a href="javascript:void(0);">
            <p class="_contact">MAKE A RESERVATION</p>
        </a>
    </div>
</div>