<div class="detail">
    <div class="detail_nav">
        <div>
            <div class="back">
                <ul>
                    <li>
                        <p>SPA</p>
                    </li>
                    <li>
                        <p class="back_button" style="cursor: pointer;">BACK</p>
                    </li>
                </ul>
            </div>
            <div class="detail_menu_icom">
                <div class="cuisine">
                    <p>SPA</p>
                </div>
                <div class="icom_box">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="detail_banner">
        <div class="detail_banner_img">
            <picture>
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source srcset="../../upload/spa/detail_product/banner.jpg" media="(max-width: 1024px)">
                <img src="../../upload/spa/detail_product/banner.jpg">
            </picture>
        </div>
        <div class="detail_slogan">
            <p>The SPA Products</p>
        </div>
        <div class="banner_slideup">
            <p>EXPERIENCE</p>
        </div>
    </div>
    <div class="detail_content">
        <div class="detail_title_bg">
            <div class="detail_title">
                <h4>Dermalogica & Arte Verde</h4>
                <p>~Sample slogan The five senses of man are in charge of the soul of man~</p>
            </div>
        </div>
        <!-- row1 -->
        <div class="detail_row">
            <div class="detail_row_img">
                <img class="b-lazy" src="../../upload/spa/detail_product/img1.jpg" data-src="../../upload/spa/detail_product/img1.jpg">
            </div>
            <div class="detail_row_text">
                <div>
                    <h5>Dermalogica</h5>
                    <p>Dermalogica is a skin care product developed by the International Institute of Dermatology, and is known throughout the world as the "best choice for professional skin therapists." The story of dermalogica deka began in 1986 with the International Institute of Skin Research (IDI, International Dermal Institute founder Jane Wurwand that the lack of quality skin care products on the market.</p>
                    <span><p class="learn">learn more</p></span>
                </div>
            </div>
        </div>
        <!-- row2 -->
        <div class="detail_row">
            <div class="detail_row_img">
                  <img class="b-lazy" src="../../upload/spa/detail_product/img2.jpg" data-src="../../upload/spa/detail_product/img2.jpg">
            </div>
            <div class="detail_row_text">
                <div>
                    <h5>Arte Verde</h5>
                    <p>Arte Verde products include single / compound essential oils, vegetable oils, pure dew and quilt, and condensate. Commodities from the organic, natural rhythm of agricultural law and traditional farming methods such as planting, and through the organic certification of Austria...</p>
                    <span><p class="learn">learn more</p></span>
                </div>
            </div>
        </div>
    </div>
    <div class="make_a_reservation">
        <span></span>
        <a href="javascript:void(0);">
            <p class="_contact">MAKE A RESERVATION</p>
        </a>
    </div>
</div>
<!-- 內頁 -->
<div class="dermalogica">
    <div class="close_icom">
        <span></span><span></span>
    </div>
    <div class="detail_top">
        <p>SPA</p>
    </div>
    <div class="detail_title">
        <div>
            <p>Dermalogica</p>
        </div>
    </div>
    <div class="detail_slick_bg">
        <div class="detail_slick">
            <ul>
                <li>
                    <img src="../../upload/spa/detail_product/detail/img.jpg">
                    <div class="detail_slick_hover">
                        <p></p>
                    </div>
                </li>
                <li>
                    <img src="../../upload/spa/detail_product/detail/img.jpg">
                    <div class="detail_slick_hover">
                        <p></p>
                    </div>
                </li>
            </ul>
            <span class="icon-arrow-left01 slick_prev"></span>
            <span class="icon-arrow-right01 slick_next"></span>
            <!-- 訂房按鈕 -->
            <a href="javascript:void(0);">
                <div class="revervation">
                    <p class="_contact">MAKE A RESERVATION</p>
                </div>
            </a>
        </div>
    </div>
    <div class="detail_text">
        <p>Dermalogica is a skin care product developed by the International Institute of Dermatology, and is known throughout the world as the "best choice for professional skin therapists." The story of dermalogica deka began in 1986 with the International Institute of Skin Research (IDI, International Dermal Institute founder Jane Wurwand that the lack of quality skin care products on the market.
            <br>
            <br>Later, under the continuous research and development of the International Institute of Dermatology, dermalogica deka skin care system available, more breakthroughs in the process of product synthesis in the process of discarding harmful elements of the skin, including: artificial colors, artificial flavors, denatured alcohol, lanolin And mineral oil. Although these ingredients can cause problems on the skin, but because of the lower cost, the general manufacturers in the manufacture of skin care products in the process of adding the above ingredients.
            <br>
            <br>At the same time, the International Institute of Dermatology also requires the nursing center to receive a high level of professional training to ensure that consumers can obtain reliable and honest service, to lift their concerns about the fashionable fashion trap.
            <br>
            <br>Dermalogica has always been committed to the professional skin care concept, with the actual and not the packaging, a high degree of focus on skin care education and development of a unique and new ingredients for the formulation of outstanding commitment. More than 20 years to sit tight in the global professional skin care brand brand champion, and by the media, ladies and artists unanimously respected!</p>
    </div>
    <div class="detail_ft">
        <span></span>
        <div class="social_media_icom">
            <a href="javascript:void(0);"><span class="icon-facebook"></span></a>
            <a href="javascript:void(0);"><span class="icon-twitter"></span></a>
            <a href="javascript:void(0);"><span class="icon-instagram_logo"></span></a>
            <a href="javascript:void(0);"><span class="icon-pinterest_logo"></span></a>
            <a href="javascript:void(0);"><span class="icon-youtube_logo"></span></a>
        </div>
        <a href="javascript:void(0);">
            <p class="_contact">MAKE A RESERVATION</p>
        </a>
    </div>
</div>
<!-- 內頁 -->