<div class="detail">
    <div class="detail_nav">
        <div>
            <div class="back">
                <ul>
                    <li>
                        <p>SPA</p>
                    </li>
                    <li>
                        <p class="back_button" style="cursor: pointer;">BACK</p>
                    </li>
                </ul>
            </div>
            <div class="detail_menu_icom">
                <div class="cuisine">
                    <p>SPA</p>
                </div>
                <div class="icom_box">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="detail_banner">
        <div class="detail_banner_img">
            <picture>
                                <!--[if IE 9]><video style="display: none;"><![endif]-->
                                <source srcset="../../upload/spa/detail_aromatherapist/banner.jpg" media="(max-width: 1024px)">
                                <img src="../../upload/spa/detail_aromatherapist/banner.jpg">
                            </picture>
        </div>
        <div class="detail_slogan">
            <p>Aromatherapist</p>
        </div>
        <div class="banner_slideup">
            <p>PROFESSION & CONSIDERATE</p>
        </div>
    </div>
    <div class="detail_content">
        <div class="detail_title_bg">
            <div class="detail_title">
                <h4>Villa32’s Aromatherapist</h4>
                <p>~Sample slogan The five senses of man are in charge of the soul of man~</p>
            </div>
        </div>
        <!-- row1 -->
        <div class="detail_row">
            <div class="detail_row_img">
                <img class="b-lazy" src="../../upload/spa/detail_aromatherapist/img1.jpg" data-src="../../upload/spa/detail_aromatherapist/img1.jpg">
            </div>
            <div class="detail_row_text">
                <div>
                	<h5>Penny</h5>
                <p>As if the wind of the South in general, warm, warm, generous, action to send the Pei Hua, the distribution of the unique nature of the South and trust, positive and full of innocence.
                    <br>
                    <br>Trust and Benedict McGregor Geshe ("When the Monk meets the Diamond") on the "empty" teaching; in practice continue to confirm. In order to share the law of victory, the heart to lead the book will be, nursing home public service activities ... ... so that the warm and constant flow of care.
                    <br>
                    <br>Born in social welfare department, based on social work and psychological counseling, and learn traditional Chinese medicine and meridian massage therapy, several kinds of aromatherapy professional skills, period can provide body, heart comprehensive integration. Former Chinese medicine clinic physician research assistant, the elderly Foundation social workers, foot health massage therapist, Montessori about massage therapist. Is now the top SPA aromatherapy massage therapist.</p>
                </div>
            </div>
        </div>
        <!-- row2 -->
        <div class="detail_row">
            <div class="detail_row_img">
                <img class="b-lazy" src="../../upload/spa/detail_aromatherapist/img2.jpg" data-src="../../upload/spa/detail_aromatherapist/img2.jpg">
            </div>
            <div class="detail_row_text">
               <div>
               	 <h5>Apple</h5>
                <p>As if the wind of the South in general, warm, warm, generous, action to send the Pei Hua, the distribution of the unique nature of the South and trust, positive and full of innocence.
                    <br>
                    <br>Trust and Benedict McGregor Geshe ("When the Monk meets the Diamond") on the "empty" teaching; in practice continue to confirm. In order to share the law of victory, the heart to lead the book will be, nursing home public service activities ... ... so that the warm and constant flow of care.
                    <br>
                    <br>Born in social welfare department, based on social work and psychological counseling, and learn traditional Chinese medicine and meridian massage therapy, several kinds of aromatherapy professional skills, period can provide body.</p>
               </div>
            </div>
        </div>
        <!-- row3 -->
        <div class="detail_row">
            <div class="detail_row_img">
                <img class="b-lazy" src="../../upload/spa/detail_aromatherapist/img3.jpg" data-src="../../upload/spa/detail_aromatherapist/img3.jpg">
            </div>
            <div class="detail_row_text">
               <div>
               	 <h5>Penny</h5>
                <p>As if the wind of the South in general, warm, warm, generous, action to send the Pei Hua, the distribution of the unique nature of the South and trust, positive and full of innocence.
                    <br>
                    <br>Trust and Benedict McGregor Geshe ("When the Monk meets the Diamond") on the "empty" teaching; in practice continue to confirm. In order to share the law of victory, the heart to lead the book will be, nursing home public service activities ... ... so that the warm and constant flow of care.
                    <br>
                    <br>Born in social welfare department, based on social work and psychological counseling, and learn traditional Chinese medicine and meridian massage therapy, several kinds of aromatherapy professional skills, period can provide body, heart comprehensive integration. Former Chinese medicine clinic physician research assistant, the elderly Foundation social workers, foot health massage therapist, Montessori about massage therapist. Is now the top SPA aromatherapy massage therapist.</p>
               </div>
            </div>
        </div>
        <!-- row4 -->
        <div class="detail_row">
            <div class="detail_row_img">
                <img class="b-lazy" src="../../upload/spa/detail_aromatherapist/img4.jpg" data-src="../../upload/spa/detail_aromatherapist/img4.jpg">
            </div>
            <div class="detail_row_text">
                <div>
                	<h5>Apple</h5>
                <p>As if the wind of the South in general, warm, warm, generous, action to send the Pei Hua, the distribution of the unique nature of the South and trust, positive and full of innocence.
                    <br>
                    <br>Trust and Benedict McGregor Geshe ("When the Monk meets the Diamond") on the "empty" teaching; in practice continue to confirm. In order to share the law of victory, the heart to lead the book will be, nursing home public service activities ... ... so that the warm and constant flow of care.
                    <br>
                    <br>Born in social welfare department, based on social work and psychological counseling, and learn traditional Chinese medicine and meridian massage therapy, several kinds of aromatherapy professional skills, period can provide body.</p>
                </div>
            </div>
        </div>
        <!-- row5 -->
        <div class="detail_row">
            <div class="detail_row_img">
                <img class="b-lazy" src="../../upload/spa/detail_aromatherapist/img5.jpg" data-src="../../upload/spa/detail_aromatherapist/img5.jpg">
            </div>
            <div class="detail_row_text">
                <div>
                	<h5>Penny</h5>
                <p>As if the wind of the South in general, warm, warm, generous, action to send the Pei Hua, the distribution of the unique nature of the South and trust, positive and full of innocence.
                    <br>
                    <br>Trust and Benedict McGregor Geshe ("When the Monk meets the Diamond") on the "empty" teaching; in practice continue to confirm. In order to share the law of victory, the heart to lead the book will be, nursing home public service activities ... ... so that the warm and constant flow of care.
                    <br>
                    <br>Born in social welfare department, based on social work and psychological counseling, and learn traditional Chinese medicine and meridian massage therapy, several kinds of aromatherapy professional skills, period can provide body, heart comprehensive integration. Former Chinese medicine clinic physician research assistant, the elderly Foundation social workers, foot health massage therapist, Montessori about massage therapist. Is now the top SPA aromatherapy massage therapist.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="make_a_reservation">
        <span></span>
        <a href="javascript:void(0);">
            <p class="_contact">MAKE A RESERVATION</p>
        </a>
    </div>
</div>