@font-face {
  font-family: 'icomoon-nick';
  src:  url('fonts/icomoon-nick.eot?lkmqvz');
  src:  url('fonts/icomoon-nick.eot?lkmqvz#iefix') format('embedded-opentype'),
    url('fonts/icomoon-nick.ttf?lkmqvz') format('truetype'),
    url('fonts/icomoon-nick.woff?lkmqvz') format('woff'),
    url('fonts/icomoon-nick.svg?lkmqvz#icomoon-nick') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="iconN-"], [class*=" iconN-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon-nick' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconN-cancelSucess:before {
  content: "\e929";
}
.iconN-service:before {
  content: "\e92a";
}
.iconN-billList:before {
  content: "\e924";
}
.iconN-exchange:before {
  content: "\e925";
}
.iconN-money:before {
  content: "\e926";
}
.iconN-returned:before {
  content: "\e927";
}
.iconN-user:before {
  content: "\e928";
}
.iconN-lock:before {
  content: "\e923";
}
.iconN-apply:before {
  content: "\e918";
}
.iconN-backUp:before {
  content: "\e919";
}
.iconN-editImg:before {
  content: "\e91a";
}
.iconN-key:before {
  content: "\e91b";
}
.iconN-message:before {
  content: "\e91c";
}
.iconN-people2:before {
  content: "\e91d";
}
.iconN-record:before {
  content: "\e91e";
}
.iconN-removeImg:before {
  content: "\e91f";
}
.iconN-repair:before {
  content: "\e920";
}
.iconN-star:before {
  content: "\e921";
}
.iconN-trashcan:before {
  content: "\e922";
}
.iconN-resend:before {
  content: "\e917";
}
.iconN-people:before {
  content: "\e916";
}
.iconN-paying:before {
  content: "\e912";
}
.iconN-house:before {
  content: "\e914";
}
.iconN-order:before {
  content: "\e915";
}
.iconN-X:before {
  content: "\e913";
}
.iconN-accounts:before {
  content: "\e90f";
}
.iconN-gift:before {
  content: "\e910";
}
.iconN-pay:before {
  content: "\e911";
}
.iconN-hook2:before {
  content: "\e90e";
}
.iconN-edit:before {
  content: "\e90d";
}
.iconN-caution:before {
  content: "\e90c";
}
.iconN-situation:before {
  content: "\e90b";
}
.iconN-left:before {
  content: "\e909";
}
.iconN-right:before {
  content: "\e90a";
}
.iconN-download:before {
  content: "\e908";
}
.iconN-top:before {
  content: "\e907";
}
.iconN-up:before {
  content: "\e906";
}
.iconN-sun:before {
  content: "\e905";
}
.iconN-return:before {
  content: "\e900";
}
.iconN-air_conditioning:before {
  content: "\e901";
}
.iconN-hook:before {
  content: "\e902";
}
.iconN-measure:before {
  content: "\e903";
}
.iconN-roof:before {
  content: "\e904";
}
.iconN-cart:before {
  content: "\e93a";
}
.iconN-zoom-in:before {
  content: "\e987";
}
.iconN-eye:before {
  content: "\e9ce";
}
.iconN-eye-blocked:before {
  content: "\e9d1";
}
