@charset "utf-8";

.detail {
    z-index: 5;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    overflow: scroll;
    background-color: #fff;
}



/*detail_nav開始--------------------------------*/

.detail_nav {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
}

.detail_nav>div {
    position: relative;
}

.back {
    position: absolute;
    top: 50px;
    left: 3vw;
}

.back ul {
    display: flex;
}

.back ul li {
    display: inline-flex;
    align-items: center;
}

.back ul li:nth-child(1) {
    padding-right: 18px;
}

.back ul li:nth-child(1):after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color: rgba(255, 255, 255, .5);
    margin-left: 18px;
}

.back ul li p {
    display: inline-block;
    color: #fff;
    font-family: 'TrajanPro-Regular';
    font-size: .75rem;
    letter-spacing: 1px;
}



/*detail選單按鈕開始--------------------------*/

.detail_menu_icom {
    position: absolute;
    top: 50px;
    left: 95vw;
    overflow: hidden;
}

.detail_menu_icom .accmmodation {
    display: none;
}

.icom_box {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 14px;
    cursor: pointer;
    z-index: 9999;
}



.icom_box span {
    position: absolute;
    left: 0px;
    display: block;
    width: 30px;
    height: 1px;
    background-color: #fff;
    transition: all .4s ease-out;
}

.icom_box span:nth-child(1) {
    top: 0px;
    transition: all 1s ease;
}

.icom_box span:nth-child(2) {
    top: 50%;
}

.icom_box span:nth-child(3) {
    bottom: -1px;
    transition: all 1s ease;
}

.icom_box:hover span:nth-child(2) {
    width: 20px;
    transition: all .4s ease-out;
}




/*取自main.css的menu_icon設定*/


/*三條線變X 開始*/

.open .icom_box {
    width: 30px;
    height: 14px;
    /*position: fixed;*/
    animation: top_slidein 0s ease;
    /*初始進場動畫歸零*/
}

.open .icom_box span {
    width: 30px;
    top: 50%;
    background-color: #000;
    /*transition: all 1s ease;*/
}

.open .icom_box:hover span {
    width: 30px;
}



/*浮動nav設定----------*/

.detail_nav.hide {
    position: fixed;
    z-index: 1;
    top: -90px;
    left: 0;
    display: block;
    width: 100vw;
    opacity: 1;
    transition: all 1s ease;
    background-color: rgb(255, 255, 255);
    height: 70px;
}


.close .detail_nav.hide {
    transition: all 1s ease 1.4s;
}

.fixed .detail_nav.hide {
    opacity: 1;
    top: 0;
}



/*顏色更變設定*/

.detail_nav.hide p {
    color: #000;
}

.hide.back ul li:nth-child(1):after {
    background-color: #000;
}

.hide .icom_box span {
    background-color: #000;
}

.hide .back,
.hide .detail_menu_icom {
    top: 25px;
}




/*detail_nav結束--------------------------------*/


/*detail_banner開始--------------------------------*/
.banner_slideup {
    margin-bottom: -10vh;
}
/*detail_banner結束----------------------------*/


/*detail_content開始---------------------------*/

.detail_content {
    margin-top: 170px;
}

.detail_menu_bg {
    overflow: hidden;
    margin: 40px 0;
}

.on .detail_menu,
.load .detail_menu {
    transform: translateY(100%);
}

.detail_menu {
    display: flex;
}

.detail_menu ul {
    margin: auto;
    text-align: center;
    width: 450px;
}


.detail_menu ul li {
    display: inline-block;
    padding: 0 15px;
}

.detail_menu ul li p {
    font-size: 1.125rem;
    color: #ADADAD;
    position: relative;
    padding-bottom: 10px;
    letter-spacing: 1px;
}

.detail_menu ul li:hover p {
    color: #000;
}

.detail_menu ul li p:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 1px;
    background: black;
    transition: .5s ease;
}

.detail_menu ul li:hover p:after {
    left: 0%;
    width: 100%;
}





/*detail_slick開始-----------------------------*/

.detail_slick_bg {
    overflow: hidden;
}

.detail_slick {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    position: relative;
}

.on .detail_slick,
.load .detail_slick {
    transform: translateY(100%);
}

.detail_slick ul li {
    margin: 0 5px;
}

.detail_slick_img {
    position: relative;
    max-height: 465px;
    overflow-y: hidden;
}

.detail_room_hover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    left: 0;
    top: 0;
    opacity: 0;
    display: flex;
    align-items: center;
    transition: all .8s ease;
}

.detail_room_hover:hover {
    opacity: 1;
    transition: all .8s ease;
}

.detail_room_inf {
    margin: auto;
}

.detail_room_inf p {
    color: #fff;
    font-family: MyriadPro-Regular, 微軟正黑體;
}

.revervation {
    width: 220px;
    height: 50px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
}

.revervation p {
    font-size: .75rem;
    text-align: center;
    margin-top: 20px;
}





/*slick箭頭------*/

.slick_prev,
.slick_next {
    position: absolute;
    top: 50%;
    color: #fff;
    cursor: pointer;
}

.slick_prev {
    left: 30px;
}

.slick_next {
    right: 30px;
}



/*detail_slick結束-----------------------------*/

.room_text {
    max-width: 770px;
    margin: auto;
    margin-top: 35px;
    text-align: center;
}

.room_text div {
    overflow: hidden;
}

._text p {
    font-family: MyriadPro-Regular, 微軟正黑體;
    font-size: .875rem;
    letter-spacing: 1px;
    line-height: 1.5;
}

.on ._text p {
    transform: translateY(100%);
}

.room_text span {
    margin: 60px auto;
    display: block;
    width: 0%;
    max-width: 300px;
    height: 1px;
    background-color: #cecece;
}

.make_a_reservation {
    width: 150px;
    margin: auto;
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.make_a_reservation p {
    font-size: .875rem;
    transform: translateY(100%);
}

.on .make_a_reservation p {
    transform: translateY(100%);
}

.make_a_reservation p:before {
    content: "";
    display: block;
    height: 1px;
    width: 50%;
    background-color: #000;
    margin-bottom: 25px;
    margin-left: 25%;
}




/*detail_content結束---------------------------*/


/*detail_ft開始--------------------------------*/

.detail_ft {
    width: 100%;
    background-color: #f7f7f7;
    margin-top: 170px;
    position: relative;
}

.ft_slideup {
    position: absolute;
    width: 150px;
    left: calc(50% - 75px);
    top: 0;
    text-align: center;
    opacity: 0;
    margin-top: -30px;
}

.on .ft_slideup {
    margin-bottom: -10vh;
}

.ft_slideup p {
    font-size: .75rem;
    position: relative;
    cursor: pointer;
    letter-spacing: 1px;
}

.ft_slideup p:before {
    content: "";
    display: block;
    width: 1px;
    height: 0px;
    background-color: #000;
    margin-left: calc(50% - 1px);
    margin-bottom: 20px;
}

.ft_rule_bg {
    padding-top: 165px;
}

.ft_rule {
    margin: auto;
    max-width: 1000px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.on .ft_rule {
    background-image: url(../../assset/img/line_bg.png);
    background-position: 50% 20%;
    background-repeat: repeat-y;
}

.ft_rule p {
    font-family: MyriadPro-Regular, 微軟正黑體;
    font-size: .875rem;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1px;
    display: inline;
}

.rule_left,
.rule_right {
    width: 50%;
    max-width: 433px;
    overflow: hidden;
}

.rule_left ul,
.rule_right ul {
    list-style-type: disc;
    list-style-position: inside;
}

.on .rule_left ul,
.on .rule_right ul {
    transform: translateY(120%);
}

.rule_left ul li,
.rule_right ul li {
    margin-bottom: 40px;
    text-align: center;
}


.ft_precautions {
    position: relative;
    max-width: 900px;
    margin: auto;
    margin-top: 55px;

    text-align: center;
}

.on .ft_precautions {
    border: 1px solid #dedede;
}

.precautions_top {
    width: 170px;
    background-color: #f7f7f7;
    position: absolute;
    top: -8px;
    left: calc(50% - 85px);
    overflow: hidden;
}

.precautions_top p {
    font-size: .875rem;
}

.on .precautions_top p {
    transform: translateY(100%);
}

.precautions_text {
    padding: 55px 20px;
    overflow: hidden;
}

.precautions_text p {
    font-family: MyriadPro-Regular, 微軟正黑體;
    font-size: .875rem;
    line-height: 2;
    letter-spacing: 1px;
    max-width: 550px;
    margin: auto;
}

.on .precautions_text p {
    transform: translateY(150%);
}

.ft_room {
    margin-top: 100px;
    display: flex;
    overflow: hidden;
}

.ft_room_prev,
.ft_room_next {
    width: 50%;
    position: relative;
    overflow: hidden;
}

.on .ft_room_prev,
.on .ft_room_next {
    transform: translateY(100%);
}

.ft_hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .8s ease;
}

.ft_hover:hover {
    opacity: 1;
    transition: all .8s ease
}

.ft_hover p {
    color: #fff;
    font-size: 1.5rem;
    position: relative;
}

.ft_hover p:before {
    content: "";
    display: block;
    height: 1px;
    width: 10vw;
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
    top: 50%;
    left: -16vw;
}

.ft_hover p:after {
    content: "";
    display: block;
    height: 1px;
    width: 10vw;
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
    top: 50%;
    right: -16vw;
}




/*detail_ft結束--------------------------------*/


/*detail初進場動畫*/

.load .detail {
    width: 100vw;
    height: 100%;
    opacity: 1;
    transition: all .8s;
}

.on .detail {
    width: 100vw;
    height: 100%;
    opacity: 1;
}


.on .detail_nav {
    animation: top_slidein 1s both;
}


/*waypoint動畫---------------------*/


/*detail_content--------*/


/*.detail_menu */

.on .show .detail_menu {
    animation: allin0 .8s both;
}





/*.detail_slick*/

.on .show .detail_slick {
    animation: allin0 1.2s both .4s;
}





/*room_text文字內容*/

.on .show ._text p {
    animation: allin0 .8s both .8s;
}

.on .room_text.show span {
    animation: width 2s both .5s ease;
}

@keyframes width {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

.on .show .make_a_reservation p {
    animation: allin0 .8s both .8s;
}






/*.detail_ft-----------*/

.on .ft_slideup.show {
    animation: bottom_slidein 1.5s both;
}

.on .ft_slideup.show p:before {
    animation: line1 1.8s forwards;
}





/*.rule_left*/

.on .show .rule_left ul {
    animation: allin0 1.8s both;
}



/*.rule_right*/

.on .show .rule_right ul {
    animation: allin0 1.8s both .5s;
}

.on .show .precautions_top p {
    animation: allin0 .8s forwards;
}

.on .show .precautions_text p {
    animation: allin0 1.2s both .4s;
}

.on .show .ft_room_prev {
    animation: allin0 1s forwards;
}

.on .show .ft_room_next {
    animation: allin0 1s both .4s;
}






/*detail離場動畫*/

.off .back {
    animation: zoomOut .4s forwards;
}

.off .detail_menu_icom {
    animation: zoomOut .4s forwards;
}

.off .detail {
    height: 0%;
    opacity: 0;
    transition: all 1.2s ease .8s;
}


/*content部分*/

.off .detail_menu_bg {

    animation: zoomOut .4s both .2s;
}

.off .make_a_reservation {
    animation: zoomOut .5s both .2s;
}

.off .room_text span {
    animation: width0 .8s both .2s;
}

@keyframes width0 {
    0% {
        width: 80%;
    }
    100% {
        width: 0%;
    }
}

.off ._text {
    animation: zoomOut 1s both .6s;
}

.off .detail_slick {
    animation: zoomOut 1s both .8s;
}



/*detail_ft部分-----*/

.off .ft_slideup {
    animation: bottom_slideout 1s both .4s;
}

.off .ft_slideup p:before {
    animation: line1-back 1s both .4s;
}

.off .rule_left,
.off .rule_right {
    animation: zoomOut .8s both .2s;
}

.off .ft_precautions {
    animation: zoomOut .8s both .4s;
}

.off .ft_room_prev,
.off .ft_room_next {
    animation: zoomOut 1s both .6s;
}



/*---------max-width: 1024px--------------------------------------------------------*/

@media only screen and (max-width: 1024px) {
    /*back按鈕設定*/
    .back {
        top: 35px;
        left: 20px;
    }
    .back ul li:nth-child(1) {
        display: none;
    }

    /*banner三條線選單設定*/
    .detail_menu_icom {
        display: flex;
        align-items: center;
        left: auto;
        right: 20px;
        top: 35px;
    }

    .icom_box {
        width: 20px;
        height: 10px;
    }

    .icom_box span {
        width: 20px;
    }
    .open .icom_box {
        width: 20px;
        height: 10px;
    }
    .open .icom_box span {
        width: 20px;
        top: 50%;
    }

    .open .icom_box:hover span {
        width: 20px;
    }

    .open .icom_box:hover span:nth-child(1) {
        width: 20px;
    }

    .open .icom_box:hover span:nth-child(2) {
        width: 20px;
    }


    /*三條線旁的accmmodation*/
    .detail_menu_icom .accmmodation {
        display: inline-block;
        color: #fff;
        font-family: 'TrajanPro-Regular';
        font-size: .75rem;
    }


    .accmmodation p {
        font-size: .75rem;
        transform: scale(.9);
    }

    /*浮動選單設定-----------*/
    .detail_nav.hide {
        height: 50px;
    }

    .hide .back,
    .hide .detail_menu_icom {
        top: 17px;
    }

    .detail_content {
        padding: 0 20px;
        margin-top: 100px;
    }


    .detail_slick_img {
        max-height: 100%;
    }
    .detail_slick_img img {
        max-height: 40vw;
    }
    /*slick圖片間的空白間距大小*/
    .detail_slick ul li {
        margin: 0 1px;
    }
    
    /*在手機板將slick的hover取消*/
    .detail_room_hover {
        position: relative;
        width: 100%;
        height: auto;
        background-color: transparent;
        opacity: 1;
        display: flex;
        margin-top: 10px;
    }

    .detail_room_hover:hover {
        opacity: 1;
    }

    .detail_room_inf {
        margin: auto;
    }

    .detail_room_inf p {
        padding: 0 20px;
        color: #000;
        font-size: .875rem;
        text-align: center;
        letter-spacing: .5px
    }





    /*slick箭頭在手機板消失*/
    .slick_prev,
    .slick_next {
        display: none;
    }
    /*male a reservation 方框大小設定*/
    .revervation {
        display: none;
    }

    .make_a_reservation {
        margin-top: 0px;
    }
    /*detail_foote設定--------*/
    .detail_ft {
        margin-top: 100px;
    }
    /*訂房規則設定*/
    .ft_rule_bg {
        padding-top: 120px;
    }

    .on .ft_rule {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .on .ft_rule {
        background-image: none;
    }
    .ft_rule p {
        text-align: left;
    }

    .ft_rule span {
        display: block;
        width: 100%;
        height: 1px;
        background-color: #dedede;
        margin: 20px 0 30px 0;
    }


    .rule_left,
    .rule_right {
        width: 100%;
        max-width: 100%;
    }
    .rule_left ul,
    .rule_right ul {
        list-style-position: outside;
        margin-left: 20px;
    }

    .rule_left ul li,
    .rule_right ul li {
        margin-bottom: 2vh;
        text-align: left;
    }

    .on .ft_precautions {
        max-width: 100%;
        margin: 0 20px;
        margin-top: 55px;
    }
    .precautions_text {
        padding: 30px 10px 20px 10px;
    }
    .precautions_text p {
        letter-spacing: .5px;
    }
    .ft_room {
        margin-top: 70px;
    }

    .ft_room img {
        height: 100%;
        width: auto;
        margin-left: -50%;
    }

    .ft_room_prev,
    .ft_room_next {
        height: 50vw;
    }

    .ft_hover {
        display: none;
    }
}