<!DOCTYPE HTML>

<html>



<head>

    <title>TECO</title>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="網站描敘">

    <meta name="keywords" content="網站關鍵字">

    <!--<link href="../../assets/img/favicon.ico" rel="icon" type="image/x-icon">-->

    <!--slick-->

    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/slick/slick-theme.css" />

    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/slick/slick.css" />

    <!--fons-->

    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/fontAwesome/font-awesome.css" />

    <!--noUiSlider-->

    <link rel="stylesheet" type="text/css" href="../../assets//js/vedor/nouislider/nouislider.min.css" />

    <!--style.css-->

    <link rel="stylesheet" type="text/css" href="../..//assets/js/vedor/semanticwp/jquery.semanticwp-modal.min.css" />

    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css" />

    <link rel="stylesheet" type="text/css" href="../../assets/css/product.css" />

</head>



<body class="fontM" id="top">

    <header class="menuBar menuFix">
        <div class="inner">
            <div class="logo">
                <a href="../home"><img src="../../assets/img/logo.png"></a>
                <h1 title="TECO東元" class="disNone">TECO東元</h1>
            </div>
            <div class="left">
                <div class="menuBtn">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <a href="javascript:void(0)" class="use_search"><i class="fa fa-search"></i></a>
                <a href="javascript:void(0)">產品專區</a>
                <a href="javascript:void(0)">液晶顯示器</a>
            </div>
            <div class="right">
                <a href="../contact/index.html"><span>客服專線</span></a>
                <a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="../location/index.html"><i class="icon-map" aria-hidden="true"></i></a>
                <a href="../member/index.html"><i class="icon-user" aria-hidden="true"></i></a>
                <a href="../shop/index.html"><i class="icon-cart" aria-hidden="true"></i>

                    <div class="smallcircle" style="display: none"><span>1</span></div>
                </a>
                <!-- 購物車買的數量 -->
            </div>
        </div>
    </header>
    <nav class="navbox">
        <ul>
            <li><a href="../product/detail01.html" title="家用空調">家用空調</a></li>
            <li><a href="../product/detail01.html" title="液晶顯示器">液晶顯示器</a></li>
            <li><a href="#" title="冰箱">冰箱</a></li>
            <li><a href="javascript:void(0)" title="洗衣機">洗衣機</a></li>
            <li><a href="javascript:void(0)" title="精緻廚電">精緻廚電</a></li>
            <li><a href="javascript:void(0)" title="空氣與水">空氣與水</a></li>
            <li><a href="javascript:void(0)" title="除濕乾衣機">除濕乾衣機</a></li>
            <li><a href="../new/index.html" title="產品新知">產品新知</a></li>
            <li><a href="../contact/index.html" title="服務資訊">服務資訊</a></li>
            <div class="inner inner1">
                <div class="list">
                    <div class="txt">
                        <a href="../product/detail01.html">
                            <h3>LCD Monitor</h3>
                            <h4>液晶顯示器</h4>
                        </a>
                    </div>
                    <ul>
                        <li><a href="../product/detail01.html">真4k smart系列</a></li>
                        <li><a href="../product/detail01.html">真4k smart系列</a></li>
                        <li><a href="../product/detail01.html">水燦光影音系列</a></li>
                        <li><a href="../product/detail01.html">水燦光影音 IPS+DTS 系列</a></li>
                        <li><a href="../product/detail01.html">絕色再生廣色域系列</a></li>
                        <li><a href="../product/detail01.html">絕色再生廣色域系列</a></li>
                        <li><a href="../product/detail01.html">晶鑽LED系列</a></li>
                        <li><a href="../product/detail01.html">晶鑽LED系列</a></li>
                        <span><a href="../product/detail01.html"><img src="../../assets/img/icon.png">所有系列</a></span>
                    </ul>
                </div>
                <div class="bg" style=" background-image: url(../../upload/nav01.jpg)">
                    <a href="../product/detail01.html">
                        <div>
                            <p>畫面驚艷 前所未見</p>
                            <h4>絕色再生廣色域 55型</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="inner inner2">
                <div class="list">
                    <div class="txt">
                        <a href="../product/detail01.html">
                            <h3>LCD Monitor</h3>
                            <h4>液晶顯示器</h4>
                        </a>
                    </div>
                    <ul>
                        <li><a href="../product/detail01.html">真4k smart系列</a></li>
                        <li><a href="../product/detail01.html">真4k smart系列</a></li>
                        <li><a href="../product/detail01.html">水燦光影音系列</a></li>
                        <li><a href="../product/detail01.html">水燦光影音 IPS+DTS 系列</a></li>
                        <li><a href="../product/detail01.html">絕色再生廣色域系列</a></li>
                        <li><a href="../product/detail01.html">絕色再生廣色域系列</a></li>
                        <li><a href="../product/detail01.html">晶鑽LED系列</a></li>
                        <li><a href="../product/detail01.html">晶鑽LED系列</a></li>
                        <span><a href="../product/detail01.html"><img src="../../assets/img/icon.png">所有系列</a></span>
                    </ul>
                </div>
                <div class="bg" style=" background-image: url(../../upload/nav01.jpg)">
                    <a href="../product/detail01.html">
                        <div>
                            <p>前所未見 畫面驚艷 </p>
                            <h4>55型 絕色再生廣色域 </h4>
                        </div>
                    </a>
                </div>
            </div>
        </ul>
    </nav>
    <nav class="navmenu">
        <div class="nav-primary">
            <div class="nav-top">
                <div class="nav-close"><span></span><span></span></div>
                <span class="use_search"><i class="fa fa-search"></i></span>
            </div>
            <ul>
                <li>
                    <a href="../product/index.html">
                        <p>product</p>
                        <h4>產品專區</h4>
                    </a>
                </li>
                <li>
                    <a href="../about/index.html">
                        <p>ABOUT</p>
                        <h4>關於東元</h4>
                    </a>
                </li>
                <li>
                    <a href="../new/index.html">
                        <p>what’s news</p>
                        <h4>最新消息</h4>
                    </a>
                </li>
                <li>
                    <a href="../location/index.html">
                        <p>find teco</p>
                        <h4>經銷據點</h4>
                    </a>
                </li>
                <li>
                    <a href="../member/index.html">
                        <p>member</p>
                        <h4>會員中心</h4>
                    </a>
                </li>
                <li>
                    <a href="../shop/index.html">
                        <p>service</p>
                        <h4>購物服務</h4>
                    </a>
                </li>
                <li>
                    <a href="../contact/index.html">
                        <p>contact us</p>
                        <h4>聯絡我們</h4>
                    </a>
                </li>
                <li>
                    <a href="../catalogue/index.html">
                        <p>Catalog</p>
                        <h4>電子型錄</h4>
                    </a>
                </li>
                <li>
                    <a href="../faq/index.html">
                        <p>faq</p>
                        <h4>常見問題</h4>
                    </a>
                </li>
            </ul>
        </div>
        <div class="nav-accent">
            <a href="../product/index.html">
                <h3>product</h3>
                <h4>產品專區</h4>
            </a>
            <div>
                <ul>
                    <li>
                        <div>
                            <a href="../product/detail01.html">
                                <h4>家用空調系列</h4>
                            </a>
                        </div>
                        <ul>
                            <li>
                                <a href="../product/detail01.html">
                                    <p><span>+</span>變頻1對1豪華LV </p>
                                </a>
                            </li>
                            <li>
                                <a href="../product/detail01.html">
                                    <p><span>+</span>定頻1對1GS</p>
                                </a>
                            </li>
                            <li>
                                <a href="../product/detail01.html">
                                    <p><span>+</span>變頻1對1雅適BV</p>
                                </a>
                            </li>
                            <li>
                                <a href="../product/detail01.html">
                                    <p><span>+</span>定頻1對1吊隱冷專</p>
                                </a>
                            </li>
                            <li>
                                <a href="../product/detail01.html">
                                    <p><span>+</span>變頻1對1雅適ZR </p>
                                </a>
                            </li>
                            <li>
                                <a href="../product/detail01.html">
                                    <p><span>+</span>定頻1對多雙胞胎</p>
                                </a>
                            </li>
                            <li>
                                <a href="../product/detail01.html">
                                    <p><span>+</span>變頻1對多</p>
                                </a>
                            </li>
                            <li>
                                <a href="../product/detail01.html">
                                    <p><span>+</span>窗型定頻</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div>
                            <a href="javascript:void(0)">
                                <h4>液晶顯示器系列</h4>
                            </a>
                        </div>
                        <ul>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>水燦光影音 IPS+DTS</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>絕色再生廣色域</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>真4k smart</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>晶鑽LED</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div>
                            <a href="javascript:void(0)">
                                <h4>冰箱系列</h4>
                            </a>
                        </div>
                        <ul>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>節能變頻三門冰箱</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>小鮮綠</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>節能變頻兩門冰箱</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>臥式冷凍櫃</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>經典定頻三門冰箱</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>直立式冷凍櫃</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>經典定頻兩門冰箱</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div>
                            <a href="javascript:void(0)">
                                <h4>空氣與水</h4>
                            </a>
                        </div>
                        <ul>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>掃地機器人</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>清淨機</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>變頻風扇</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>熱水瓶</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>吸塵器</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>開飲機</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>電暖器</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div>
                            <a href="javascript:void(0)">
                                <h4>洗衣機系列</h4>
                            </a>
                        </div>
                        <ul>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>變頻洗衣機</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>滾筒洗衣機</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>定頻洗衣機</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div>
                            <a href="javascript:void(0)">
                                <h4>精緻廚電</h4>
                            </a>
                        </div>
                        <ul>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>烘碗機</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>烤箱</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>和風點心機</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>微風爐</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>變頻電磁爐</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>咖啡機</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>電陶爐</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>隨行杯</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div>
                            <a href="javascript:void(0)">
                                <h4>除濕亁衣機</h4>
                            </a>
                        </div>
                        <ul>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>除濕機</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>亁衣機</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--main-->

    <main>

        <article>

            <section class="location_topnav">

                <div class="theheadertxt">

                    <h4>What's News</h4>

                    <p>最新消息</p>

                </div>

                <div class="new_nav thenav">

                    <ul>

                        <span><a href="javascript:;">最新消息</a><span></span></span>

                        <li class="pick"><a href="javascript:;">最新消息</a><span></span></li>

                        <li><a href="javascript:;">產品新知</a><span></span></li>

                        <li><a href="javascript:;">東元活動</a><span></span></li>

                        <li><a href="javascript:;">東元公告</a><span></span></li>

                    </ul>

                </div>

            </section>

            <!-- 內部的排列 -->

            <section>

                <div class="new">

                    <div class="new_grid">

                        <div class="grid-sizer"></div>

                        <div class="grid-item grid-item--width2">

                            <div class="new_img">

                                <img class="b-lazy" src="../../upload/loading.svg" data-src="../../upload/new01.jpg">

                            </div>

                            <div class="new_txt">

                                <p>2017 / 02 / 01 東元活動</p>

                                <h4>【金雞報喜】家用空調，好禮4選1！</h4>

                                <h4></h4>

                                <hr>

                                <div>

                                    <div><i class="fa fa-tag"></i></div>

                                    <div>

                                        <span><a href="javascript:;">東元14吋DC遙控立扇</a></span>

                                        <span><a href="javascript:;">東元微電腦飛梭觸控電陶爐</a></span>

                                        <span><a href="javascript:;">東元20L烤箱</a></span>

                                        <span><a href="javascript:;">東元真空碎冰果汁機</a></span>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="grid-item">

                            <div class="new_img">

                                <img class="b-lazy" src="../../upload/loading.svg" data-src="../../upload/new02.jpg">

                            </div>

                            <div class="new_txt">

                                <p>2017 / 01 / 25 產品新知</p>

                                <h4>東元家電DC扇，線上登錄享馬達保固六年！</h4>

                                <h4></h4>

                                <hr>

                                <div>

                                    <div><i class="fa fa-tag"></i></div>

                                    <div>

                                        <span><a href="javascript:;">東元DC立扇</a></span>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="grid-item">

                            <div class="new_img">

                                <img class="b-lazy" src="../../upload/loading.svg" data-src="../../upload/new03.jpg">

                            </div>

                            <div class="new_txt">

                                <p>2017 / 01 / 28 東元活動</p>

                                <h4>年終【美好生活】冰箱 / 洗衣機好禮贈送！</h4>

                                <h4></h4>

                                <hr>

                                <div>

                                    <div><i class="fa fa-tag"></i></div>

                                    <div>

                                        <span><a href="javascript:;">東元變頻冰箱</a></span>

                                        <span><a href="javascript:;">東元400公升定頻冰箱</a></span>

                                        <span><a href="javascript:;">東元變頻洗衣機</a></span>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="grid-item">

                            <div class="new_txt">

                                <p>2017 / 01 / 12 東元公告</p>

                                <h4>2017台北數位電器大展</h4>

                                <h4>東元100%雲端'聯網空調LV、BV系列精品吸睛上市</h4>

                                <hr>

                                <div>

                                    <div><i class="fa fa-tag"></i></div>

                                    <div>

                                        <span><a href="javascript:;">東元雲端空調LV系列</a></span>

                                        <span><a href="javascript:;">東元雲端空調LV系列</a></span>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="grid-item">

                            <div class="new_txt">

                                <p>2017 / 01 / 12 東元公告</p>

                                <h4>2017台北數位電器大展</h4>

                                <h4>首款智慧連網 i-Fans 愛風散，搭配東元智慧家電，1元起標樂瘋天</h4>

                                <hr>

                                <div>

                                    <div><i class="fa fa-tag"></i></div>

                                    <div>

                                        <span><a href="javascript:;">東元i-Fans</a></span>

                                        <span><a href="javascript:;">東元DC立扇系列</a></span>

                                        <span><a href="javascript:;">東元Bright View Pro 4K液晶顯示器</a></span>

                                        <span><a href="javascript:;">東元雲端變頻LV冷暖空調豪華組</a></span>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="grid-item">

                            <div class="new_img">

                                <img class="b-lazy" src="../../upload/loading.svg" data-src="../../upload/new04.jpg">

                                <div class="blackbg"></div>

                                <div class="circle"><span class="icon-play"></span></div>

                            </div>

                            <div class="new_txt">

                                <p>2017 / 01 / 12 東元公告</p>

                                <h4>2016東元全領域空調 全智慧家電新產品發表會影片</h4>

                                <h4></h4>

                                <hr>

                                <div>

                                    <div><i class="fa fa-tag"></i></div>

                                    <div>

                                        <span><a href="javascript:;">東元雲端空調</a></span>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </section>

            <section>

                <div class="new_more">

                    <div class="product_more_bottom">

                        <div>more +</div>

                    </div>

                </div>

            </section>

        </article>

    </main>

    <footer class="footer">
        <div class="inner">
            <div class="left">
                <a href="#top" class="aaGoTop"><i class="fa fa-chevron-circle-up" aria-hidden="true"></i> TOP</a>
            </div>
            <nav class="footernav">
                <ul>
                    <li><a href="../../views/about/index.html" title="關於東元">關於東元</a></li>
                    <li><a href="../../views/product/index.html" title="產品專區">產品專區</a></li>
                    <li><a href="../faq/index.html" title="常見問題">常見問題</a></li>
                    <li><a href="../shop/index.html" title="購物服務">購物服務</a></li>
                    <li><a href="../member/index.html" title="會員中心">會員中心</a></li>
                    <!-- <li><a href="../catalogue/index.html" title="電子型錄">電子型錄</a></li>。 -->
                    <li><a href="../contact/index.html" title="聯絡我們">聯絡我們</a></li>
                    <li><a href="javascript:void(0)" title="人才招募">人才招募</a></li>
                    <li><a href="javascript:void(0)" title="隱私權政策">隱私權政策</a></li>
                </ul>
            </nav>
            <div class="right">
                <a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="javascript:void(0)"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            </div>
        </div>
        <hr class="footer_hr">
        <div class="footercontent">
            <div class="thenew">
                <h4>What's News</h4>
                <p>最新消息</p>
                <ul class="small_slick">
                    <li>
                        <a href="javascript:void(0)">
                            <p>12th,Mar.2017 好康特區</p>
                            <p>年終【美好生活】冰箱 / 洗衣機好禮贈送</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <p>12th,Mar.2017 好康特區</p>
                            <p>年終【美好生活】冰箱 / 洗衣機好禮贈送</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="address">
                <h4>Find TECO</h4>
                <p>經銷據點</p>
                <ul class="footer-dropdown">
                    <span class="for-change" data-info="Subject">請選擇您所在的縣市</span>
                    <input type="hidden" name="Subject">
                    <div class="dropdown-detail-out">
                        <li class="dropdown-detail" name="" style="display: none;"><a href="../location/index.html">台北</a></li>
                        <li class="dropdown-detail" name="" style="display: none;"><a href="javascript:void(0)">台中</a></li>
                        <li class="dropdown-detail" name="" style="display: none;"><a href="javascript:void(0)">高雄</a></li>
                    </div>
                </ul>
            </div>
            <div class="catalog">
                <h4>Catalog</h4>
                <p>電子型錄</p>
                <ul class="footer-dropdown">
                    <span class="for-change" data-info="Subject">請選擇年分</span>
                    <input type="hidden" name="Subject">
                    <div class="dropdown-detail-out">
                        <li class="dropdown-detail" name="" style="display: none;">
                            <a href="javascript:void(0)">2018</a>
                        </li>
                        <li class="dropdown-detail" name="" style="display: none;">
                            <a href="javascript:void(0)">2017</a>
                        </li>
                        <li class="dropdown-detail" name="" style="display: none;">
                            <a href="javascript:void(0)">2016</a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="footerfooter">
            <span>© 2016 TECO. ALL RIGHTS RESERVED.</span>
            <a href="http://www.wddgroup.com" title="網頁設計-威德網頁設計公司">DESIGNED BY WDD</a>
        </div>
    </footer>

    <!--主要juery-->

    <script src="../../assets/js/vedor/jquery-1.11.3.min.js"></script>

    <!--共用-->

    <script src="../../assets/js/vedor/bLazy/bLazy.js"></script>

    <script src="../../assets/js/vedor/slick/slick.js"></script>

    <script src="../../assets/js/vedor/nouislider/nouislider.min.js"></script>

    <script src="../../assets/js/vedor/waypoints.min.js"></script>

    <script src="../../assets/js/vedor/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>

    <script src="../../assets/js/vedor/jquery.easings.min.js"></script>

    <script src="../../assets/js/vedor/imagesloaded.pkgd.min.js"></script>

    <script src="../../assets/js/vedor/prefixfree.min.js"></script>

    <script src="../../assets/js/vedor/picturefill.min.js"></script>

    <script src="../../assets/js/vedor/semanticwp/jquery.semanticwp-modal.min.js"></script>

    <script src="../../assets/js/vedor/masonry.pkgd.min.js"></script>

    <!--非共用-->

    <!--main js-->

    <script src="../../assets/js/main.js"></script>

</body>



</html>