<div class="ft_slideup"><span class="icon-arrow-up"></span></div>
<div class="ft_inf">
    <div class="ft_left">
        <h3><p>WHERE TO BUY  </p><p>經銷商據點查詢</p></h3>
        <div class="ft_dropdown">
            <div class="dropdown">
                <a href="javascript:void(0)" class="selectClick">選擇您所在區域的經銷商</a>
                <ul>
                    <li>
                        <a href="../where/index.html">
                            <p>台北</p>
                        </a>
                    </li>
                    <li>
                        <a href="../where/index.html">
                            <p>台中</p>
                        </a>
                    </li>
                    <li>
                        <a href="../where/index.html">
                            <p>台南</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ft_right">
        <h3><p>FLLOW US  </p><p>追蹤柏拉圖</p></h3>
        <div class="social_media">
            <a href="javascript:void(0);"><span class="icon-facebook"><p>柏拉圖官方粉絲團</p></span></a>
            <a href="javascript:void(0);"><span class="icon-youtube"><p>YOUTUBE </p><p>線上觀看</p></span></a>
        </div>
    </div>
</div>
<div class="ft_down">
    <ul>
        <li>
            <a href="javascript:void(0);">
                <p>黃山石磁磚</p>
            </a>
        </li>
        <li>
            <a href="../contact/">
                <p>聯絡我們</p>
            </a>
        </li>
        <li>
            <a href="../wishlist/index.html">
                <p>我的最愛</p>
            </a>
        </li>
    </ul>
</div>
<div class="copyright">
    <ul>
        <li>
            <a href="../product/index.html">
                <p>我們的產品</p>
            </a>
        </li>
        <li>
            <a href="../style/index.html">
                <p>柏拉圖藝廊</p>
            </a>
        </li>
        <li>
            <a href="../about/index.html">
                <p>品牌故事</p>
            </a>
        </li>
        <li>
            <a href="../news/index.html">
                <p>最新消息</p>
            </a>
        </li>
        <li>
            <a href="../question/index.html">
                <p>常見FAQ</p>
            </a>
        </li>
        <li>
            <p class="privacy_bt">隱私權政策</p>
        </li>
    </ul>
    <p>© HILAND CO., LTD. All RIGHTS RESERVED. DESIGNED BY WDD.</p>
</div>
<div class="privacy">
    <div class="privacy_close">
        <div>
            <span></span>
            <span></span>
        </div>
        <p>CLOSE </p>
    </div>
    <div class="privacy_content">
        <div class="privacy_title">
            <div>
                <h2>Legal Policy</h2>
                <p>隱私權政策</p>
            </div>
        </div>
        <div class="rules">
            <!-- rule1 -->
            <div class="rule_bg">
                <div class="rule">
                    <div class="rule_title">
                        <h2>1. </h2>
                        <h3>使用須知</h3>
                    </div>
                    <div class="rule_text">
                        <p>注意：在訪問本網站同時，請先仔細閱讀這些條款。使用此網站表示您接受這些條款。
                            <br>如果您不接受這些條款 (以下稱為「條款」)，請勿使用本網站。</p>
                    </div>
                </div>
            </div>
            <!-- rule2 -->
            <div class="rule_bg">
                <div class="rule">
                    <div class="rule_title">
                        <h2>2. </h2>
                        <h3>使用條款與法律限制</h3>
                    </div>
                    <div class="rule_text">
                        <p>柏拉圖品牌網站授權允許您查看和使用本網站的資料供您個人而非商業性使用，但是您必須在這些資料的任何複本上保留原始資料中包含的所有著作權和其他專利聲明。不得以任何方式修改本網站之資料，或複製或公開展示、執行、散發，或以商業用途為目的之其他方式。
                            <br>
                            <br>禁止在任何其他網站或網路電腦環境，以任何方式使用本網站資料作為任何用途。本網站上的資料均擁有著作權，未經授權使用本站台的資料可能觸犯著作權法、商標法及其他法律。
                            <br>
                            <br>本網站群上之資料、程式說明、創意、文件及服務與下載之任何軟體均為sofa REPUBLIC網站及(或) 其供應商擁有著作權之產品，除了相關「授權合約」中已載明之外，禁止複製或轉散發軟體。</p>
                    </div>
                </div>
            </div>
            <!-- rule3 -->
            <div class="rule_bg">
                <div class="rule">
                    <div class="rule_title">
                        <h2>3.</h2>
                        <h3>連結本網站</h3>
                    </div>
                    <div class="rule_text">
                        <p>經柏拉圖品牌網站授權可以連結本網站，但不得複製柏拉圖品牌網站之內容。不得以有關柏拉圖品牌網站的內容建立瀏覽器或邊框環境。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>