<article>
    <nav>
        <div class="nav_left">
            <div class="navmenu_bg hiden_open">
                <div class="navmenu">
                    <div>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <p>MENU</p>
                </div>
            </div>
            <div class="navlogo">
                <a href="../home/index.html">
            <img src="../../assset/img/logo.svg">
            <img src="../../assset/img/logo3.svg">
            </a>
            </div>
        </div>
        <div class="nav_right">
            <ul>
                <li>
                    <a href="../product/index.html">
                        <p>我們的產品</p>
                    </a>
                </li>
                <li>
                    <a href="../style/index.html">
                        <p>柏拉圖藝廊</p>
                    </a>
                </li>
                <li>
                    <a href="../about/index.html">
                        <p>品牌故事</p>
                    </a>
                </li>
                <li>
                    <a href="../news/index.html">
                        <p>最新消息</p>
                    </a>
                </li>
                <li>
                    <a href="../question/index.html">
                        <p>常見 FAQ</p>
                    </a>
                </li>
                <li>
                    <a href="../where/index.html">
                        <p>銷售據點</p>
                    </a>
                </li>
            </ul>
            <div class="nav_favorite">
                <p>我的最愛</p><span class="icon-heart"></span></div>
        </div>
    </nav>
</article>
<!-- 隱藏選單開始 -->
<article class="hiden_menu">
    <div class="bar_bg">
        <div class="bar">
            <div class="bar_close_bg">
                <div class="bar_close">
                    <div>
                        <span></span>
                        <span></span>
                    </div>
                    <p>CLOSE</p>
                </div>
            </div>
            <div class="bar_logo">
                <a href="../home/index.html">
                    <img src="../../assset/img/logo2.svg">
                </a>
            </div>
            <div class="bar_list">
                <ul>
                    <li>
                        <a href="../product/index.html">
                            <p>我們的產品</p>
                            <h2>Collection</h2>
                        </a>
                    </li>
                    <li>
                        <a href="../style/index.html">
                            <p>柏拉圖風格</p>
                            <h2>Placudo style</h2>
                        </a>
                    </li>
                    <li>
                        <a href="../wishlist/index.html">
                            <p>我的最愛</p>
                            <h2>Wishlist</h2>
                        </a>
                    </li>
                    <li>
                        <a href="../where/index.html">
                            <p>哪裡購買</p>
                            <h2>Store locator</h2>
                        </a>
                    </li>
                    <li>
                        <a href="../about/index.html">
                            <p>品牌故事</p>
                            <h2>Placudo story</h2>
                        </a>
                    </li>
                    <li>
                        <a href="../news/index.html">
                            <p>最新消息</p>
                            <h2>News</h2>
                        </a>
                    </li>
                    <li>
                        <a href="../contact/">
                            <p>聯絡我們</p>
                            <h2>Contact us</h2>
                        </a>
                    </li>
                    <li>
                        <a href="../question/index.html">
                            <p>常見 FAQ</p>
                            <h2>FAQ</h2>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bar_media">
                <div>
                    <a href="javascript:void(0);">
                <span class="icon-facebook"></span>
            </a>
                    <a href="javascript:void(0);">
                <span class="icon-youtube"></span>
            </a>
                </div>
            </div>
            <div class="bar_ft">
                <ul>
                    <li>
                            <p class="privacy_bt">隱私權政策</p>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <p>黃山石磁磚</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</article>
<!-- 隱藏選單結束 -->
<!-- 浮動式nav -->
<article class="navfloat">
    <div class="menu_bg hiden_open">
        <div class="menu">
            <div>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <p>MENU</p>
        </div>
    </div>
    <div class="menulogo">
        <a href="../home/index.html">
        <img src="../../assset/img/logo2.svg">
        <img src="../../assset/img/logo3.svg">
    </a>
    </div>
    </div>
</article>