
<footer>
  <article class="goTop">
    <p>TOP</p>
  </article>
  <article class="ft_top">
    <section class="companyInf">
      <div class="tel">
        <p>T+ 03-4903111</p>
      </div>
      <div class="fax">
        <p>F+ 03-4909051</p>
      </div>
      <div class="address">
        <p>No.5 , Dianyan Rd. , Yangmei Dist.,Taoyuan City 326,Taiwan</p>
      </div>
    </section>
    <section class="mainLink">
      <!-- 企業版本的連結-->
      <div class="normal"><a href="../about/index.html">ABOUT</a><a href="../news/index.html">NEWS</a><a class="branchToHome" href="../home/index.html">BRANDS</a><a href="../storeHold/index.html">SHOWROOM</a></div>
      <!-- 分館版本的連結-->
      <div class="branch"><a href="../branch/about.html">ABOUT</a><a href="../product/index.html">PRODUCTS</a><a href="../branch/locationDetail.html">LOCATION</a></div>
    </section>
    <section class="sideLink">
      <ul class="normal">
        <li><a href="../QA/index.html">FAQ</a></li>
        <li><a href="../join/index.html">Join us</a></li>
        <li><a href="../contact/index.html">Contact</a></li>
        <li class="openStaff"> <a href="javascript:void(0)">Staff area</a></li>
      </ul>
      <ul class="branch">
        <li><a href="../contact/branchContact.html">Contact</a></li>
        <li><a href="../catalogue/index.html">Catalogue</a></li>
        <li class="openStaff"> <a href="javascript:void(0)">Staff area</a></li>
      </ul>
      <div class="socialMedia"><a class="icon-facebook" href="javascript:void(0)"></a><a class="icon-youtube" href="javascript:void(0)"></a><a class="icon-mail" href="javascript:void(0)"></a></div>
    </section>
  </article>
  <article class="ft_bottom">
    <section class="copyright">
      <p>whitehorse©All right reserved.Designed by<a href="https://www.wddgroup.com/"> WDD</a></p>
      <p>Browser Recommendation: Chrome 52 / IE11 and 1920x1080 or above.</p>
    </section>
    <section class="ft_brands">
      <div class="normal"><a href="../branch/index.html"><img src="../../assets/img/whitehorseLogo_70_60.png" alt=""/></a><a href="../branch/index.html"><img src="../../assets/img/devannoLogo_60_60.png" alt=""/></a></div>
      <div class="branch"><a href="../branch/index.html"><img src="../../assets/img/devannoLogo_60_60.png" alt=""/></a></div>
    </section>
    <!--後端請注意: 請在下方data-src填入隱私權的ajax資料位置-->
    <section class="openPrivicy" data-src="../layout/privacy.html">
      <p>privicy policy</p>
    </section>
  </article>
  <article class="staffLibox"> 
    <section>
      <figure><img src="../../assets/img/staffImg_650_800.jpg" alt=""/></figure>
      <div class="content" style="background-image:url('../../assets/img/staffBg_650_800.jpg')">
        <div class="login">
          <h6>Staff account login</h6>
          <form>
            <input type="text" placeholder="Enter your account number"/>
            <input type="text" placeholder="Enter your password"/>
            <ul>
              <li> 
                <p>Only White Horse employees can log in.</p>
              </li>
              <li> 
                <p>If you have forgotten password , please contact management staff.</p>
              </li>
            </ul>
            <div class="buttons">
              <!-- 後端請注意:下方的onclick事件僅展示用 記得要改-->
              <button class="leanbutton" type="button" onclick="location.href='../staff/index.html'"> 
                <p>Login</p>
              </button>
              <button class="leanbutton" type="button"> 
                <p>Logout</p>
              </button>
            </div>
          </form>
        </div><span></span>
        <div class="systemLink">
          <h6>Enter employee system</h6>
          <p>Only White Horse employees can log in.</p>
          <div class="buttons"><a class="leanbutton" target="_blank"> 
              <p>Enter</p></a></div>
        </div>
      </div>
      <div class="liboxClose"><span></span></div>
    </section>
  </article>
  <article class="mobileAlert">
    <section> 
      <h2>請旋轉您的螢幕</h2>
      <p> 為確保功能正常，且讓您有最好的使用體驗，請將您的螢幕旋轉為直向，謝謝！</p>
    </section>
  </article>
  <article class="commercial">
    <section>
      <!-- 廣告連結--><a href="https://tw.yahoo.com/"></a>
      <!-- 關閉按鈕-->
      <div class="liboxClose"><span></span>
        <p>BACK</p>
      </div>
      <!-- 背景圖片-->
      <div class="bigImg">
        <picture>
          <!-- [if IE 9]><video style="display: none;"><![endif]-->
          <!-- 後端請注意:手機圖片大小-->
          <source srcset="../../upload/fa2/commercialBgRWD.jpg" media="(max-width:1024px)"/>
          <!-- 後端請注意:電腦圖片大小--><img src="../../upload/fa2/commercialBg.jpg" alt=""/>
        </picture>
      </div>
      <!-- 後端請注意: 如果下方div沒有內容的話 請移除-->
      <div class="content">
        <div class="smallImg">
          <figure><img src="../../upload/fa2/whitehorsebaby/bannertitleImg1_325_100.png" alt=""/></figure>
        </div>
        <div class="smallImg">
          <figure><img src="../../upload/fa2/whitehorsebaby/bannertitleImg1_325_100.png" alt=""/></figure>
        </div>
        <!--後端請注意: 此處的文字顏色要讓客戶選擇-->
        <div class="_text" style="color:#000">
          <h6>The cutest white horse baby,waiting for you to explore !</h6>
          <p>The cutest white horse baby,waiting for you to explore !</p>
        </div>
        <div class="_text" style="color:#000">
          <h6>The cutest white horse baby,waiting for you to explore !</h6>
          <p>The cutest white horse baby,waiting for you to explore !</p>
        </div>
        <div class="_text" style="color:#000">
          <h6>The cutest white horse baby,waiting for you to explore !</h6>
          <p>The cutest white horse baby,waiting for you to explore !</p>
        </div>
      </div>
    </section>
  </article>
</footer>