
<header>
  <article class="content bgColor" style="background-color:#000">
    <section class="logo"><a class="normalLogo" href="../home/index.html"><img src="../../assets/img/hd_logo_140_15.png" alt=""/></a>
      <!-- 後端請注意: 分館圖片放置區--><a class="branchLogo" href="../branch/index.html">
        <!--後端請注意: 請下方填入分館的logo圖片--><img src="../../assets/img/devannoLogo.png" alt=""/></a>
    </section>
    <section class="openMenu">
      <div> <span> </span><span> </span><span> </span></div>
      <p>MENU</p>
    </section>
    <section class="buttons">
      <ul>
        <li class="search">
          <div class="openSearch"><span class="icon-magnifier"></span>
            <p>SEARCH</p>
          </div>
        </li>
        <li class="language">
          <div><span class="icon-internet"></span>
            <p>LANGUAGE</p>
            <ul>
              <li><a>中文</a></li>
              <li><a>English</a></li>
            </ul>
          </div>
        </li>
        <li class="login"><a href="../favorite/index.html"><span class="icon-heart"></span>
            <p>FAVORITE LIST</p></a></li>
        <li class="backHome"><a class="branchToHome" href="../home/index.html"><span class="icon-backArrow"></span>
            <p>BACK <span>BRANDS</span></p></a></li>
      </ul>
    </section>
  </article>
  <article class="hd_menu">
    <section>
      <div class="left" style="background-image: url('../../assets/img/menuBg_1310_580.jpg')">
        <div class="logos"><a class="active" href="javascript:void(0)">
            <figure><img src="../../upload/fa2/sitemap/[WhiteHorse]-Logo.png" alt=""/><img src="../../upload/fa2/sitemap/[WhiteHorse]-Logo2.png" alt=""/></figure></a><a href="javascript:void(0)">
            <figure><img src="../../upload/fa2/sitemap/devannoLogo.png" alt=""/><img src="../../upload/fa2/sitemap/devannoLogo2.png" alt=""/></figure></a></div>
        <div class="productLink"> 
          <!-- 後端請注意: 如果要開啟下方的box 就加上class "active"-->
          <div class="box active">
            <div class="productIndex"><a href="../product/index.html">
                <p>Product</p></a></div>
            <nav itemscope="itemscope" itemtype="https://schema.org/Product">
              <div class="classify">
                <div class="index">
                  <p itemprop="category">Collection<a href="../product/collection.html" itemprop="url"></a>
                  </p>
                </div>
                <ul> 
                  <li><a href="../product/collection.html">OVERVIEWS</a></li>
                  <li itemprop="name"><a href="../product/sort.html" itemprop="url">Porcelain tile</a></li>
                  <li itemprop="name"><a href="../product/sort.html" itemprop="url">Exterior wall tile</a></li>
                  <li itemprop="name"><a href="../product/sort.html" itemprop="url">Glazed wall tile</a></li>
                  <li itemprop="name"><a href="../product/sort.html" itemprop="url">Fittings</a></li>
                  <li itemprop="name"><a href="../product/sort.html" itemprop="url">Outdoor tile</a></li>
                </ul>
              </div>
              <div class="classify">
                <div class="index">
                  <p itemprop="category">Space aspect<a href="../space/index.html" itemprop="url"></a>
                  </p>
                </div>
                <ul> 
                  <li><a href="../space/index.html">OVERVIEWS</a></li>
                  <li itemprop="name"><a href="../space/detail.html" itemprop="url">Living room</a></li>
                  <li itemprop="name"><a href="../space/detail.html" itemprop="url">Bedroom</a></li>
                  <li itemprop="name"><a href="../space/detail.html" itemprop="url">Bathroom</a></li>
                  <li itemprop="name"><a href="../space/detail.html" itemprop="url">Kitchen</a></li>
                </ul>
              </div>
              <div class="classify">
                <div class="index">
                  <p itemprop="category">Style aspect<a href="../style/index.html" itemprop="url"></a>
                  </p>
                </div>
                <ul> 
                  <li><a href="../style/index.html">OVERVIEWS</a></li>
                  <li itemprop="name"><a href="../style/detail.html" itemprop="url">Japanese</a></li>
                  <li itemprop="name"><a href="../style/detail.html" itemprop="url">French</a></li>
                  <li itemprop="name"><a href="../style/detail.html" itemprop="url">Nordic life</a></li>
                  <li itemprop="name"><a href="../style/detail.html" itemprop="url">Industry</a></li>
                  <li itemprop="name"><a href="../style/detail.html" itemprop="url">Industry </a></li>
                </ul>
              </div>
              <div class="classify">
                <div class="index">
                  <p itemprop="category">Size type<a href="javascript:void(0)" itemprop="url"></a><b>(cm)</b>
                  </p>
                </div>
                <ul> 
                  <li><a href="javascript:void(0)">OVERVIEWS</a></li>
                  <li itemprop="name"><a href="../search/index.html" itemprop="url">30 x 30</a></li>
                  <li itemprop="name"><a href="../search/index.html" itemprop="url">60 x 60</a></li>
                  <li itemprop="name"><a href="../search/index.html" itemprop="url">90 x 25</a></li>
                  <li itemprop="name"><a href="../search/index.html" itemprop="url">120 x 60</a></li>
                  <li itemprop="name"><a href="../search/index.html" itemprop="url">120 x 30</a></li>
                  <li itemprop="name"><a href="../search/index.html" itemprop="url">200 x 60</a></li>
                </ul>
              </div>
            </nav>
          </div>
          <div class="box">
            <div class="productIndex"><a href="../product/index.html">
                <p>Product</p></a></div>
            <nav itemscope="itemscope" itemtype="https://schema.org/Product">
              <div class="classify">
                <div class="index">
                  <p itemprop="category">Collection<a href="../product/collection.html" itemprop="url"></a>
                  </p>
                </div>
                <ul> 
                  <li><a href="../product/collection.html">OVERVIEWS</a></li>
                  <li itemprop="name"><a href="../product/sort.html" itemprop="url">Porcelain tile</a></li>
                  <li itemprop="name"><a href="../product/sort.html" itemprop="url">Exterior wall tile</a></li>
                </ul>
              </div>
              <div class="classify">
                <div class="index">
                  <p itemprop="category">Space aspect<a href="../space/index.html" itemprop="url"></a>
                  </p>
                </div>
                <ul> 
                  <li><a href="../space/index.html">OVERVIEWS</a></li>
                  <li itemprop="name"><a href="../space/detail.html" itemprop="url">Living room</a></li>
                  <li itemprop="name"><a href="../space/detail.html" itemprop="url">Bedroom</a></li>
                  <li itemprop="name"><a href="../space/detail.html" itemprop="url">Bathroom</a></li>
                </ul>
              </div>
              <div class="classify">
                <div class="index">
                  <p itemprop="category">Style aspect<a href="../style/index.html" itemprop="url"></a>
                  </p>
                </div>
                <ul> 
                  <li><a href="../style/index.html">OVERVIEWS</a></li>
                  <li itemprop="name"><a href="../style/detail.html" itemprop="url">Japanese</a></li>
                  <li itemprop="name"><a href="../style/detail.html" itemprop="url">French</a></li>
                  <li itemprop="name"><a href="../style/detail.html" itemprop="url">Nordic life</a></li>
                </ul>
              </div>
              <div class="classify">
                <div class="index">
                  <p itemprop="category">Size type<a href="javascript:void(0)" itemprop="url"></a><b>(cm)</b>
                  </p>
                </div>
                <ul> 
                  <li><a href="javascript:void(0)">OVERVIEWS</a></li>
                  <li itemprop="name"><a href="../search/index.html" itemprop="url">30 x 30</a></li>
                  <li itemprop="name"><a href="../search/index.html" itemprop="url">60 x 60</a></li>
                  <li itemprop="name"><a href="../search/index.html" itemprop="url">90 x 25</a></li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="logos" itemscope="itemscope" itemtype="http://schema.org/LocalBusiness"> <a class="active" href="../home/index.html" itemprop="url">
            <figure><img src="../../upload/fa2/sitemap/[WhiteHorse]-Logo.png" alt="" itemprop="image"/></figure></a></div>
        <nav itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement"><a href="../contact/index.html" itemprop="url">
            <p itemprop="name">Contact</p></a><a href="../storeHold/index.html" itemprop="url">
            <p itemprop="name">Location</p></a><a href="../QA/index.html" itemprop="url">
            <p itemprop="name">FAQ</p></a><a href="../sitemap/index.html" itemprop="url">
            <p itemprop="name">Site map</p></a><a href="../favorite/index.html" itemprop="url">
            <p itemprop="name">Favorite list</p></a></nav>
        <div class="buttons">
          <button class="openSearch" type="button"><span class="icon-magnifier"></span>
            <p>Search </p>
          </button>
          <button type="button"><span class="icon-internet"></span>
            <p>Language</p>
            <ul>
              <li><a href="https://tw.yahoo.com/">中文</a></li>
              <li><a>English</a></li>
            </ul>
          </button>
        </div>
      </div>
      <div class="liboxClose"><span></span>
        <p>BACK</p>
      </div>
    </section>
  </article>
  <article class="searchLibox"> 
    <section>
      <div class="liboxClose"><span></span>
        <p>BACK</p>
      </div>
      <div class="_title">Select filter or enter keyword to search -</div>
      <form>
        <div class="dropDowns">
          <div class="dropDown">
            <div class="selectMenu">
              <p>choose a size</p>
            </div>
            <ul>
              <li>30*30</li>
              <li>90*90</li>
              <li>100*100</li>
              <li>60*90</li>
            </ul>
          </div>
          <div class="dropDown">
            <div class="selectMenu">
              <p>choose a brand</p>
            </div>
            <ul>
              <li>whitehorse</li>
              <li>devanno</li>
            </ul>
          </div>
          <div class="dropDown">
            <div class="selectMenu">
              <p>choose a category</p>
            </div>
            <ul>
              <div class="box">
                <h6>Whitehorse</h6>
                <li>Collection series</li>
                <li>Constancy series</li>
                <li>Collection series</li>
                <li>Constancy series</li>
                <li>Collection series</li>
                <li>Constancy series</li>
                <li>Collection series</li>
                <li>Constancy series</li>
                <li>Collection series</li>
                <li>Constancy series</li>
                <li>Collection series</li>
                <li>Constancy series</li>
                <li>Collection series</li>
                <li>Constancy series</li>
                <li>Collection series</li>
                <li>Constancy series</li>
                <li>Collection series</li>
                <li>Constancy series</li>
              </div>
              <div class="box">
                <h6>Devanno</h6>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
              </div>
              <div class="box">
                <h6>NewOne</h6>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
              </div>
            </ul>
          </div>
          <div class="dropDown">
            <div class="selectMenu">
              <p>choose a series</p>
            </div>
            <ul>
              <div class="box">
                <h6>Whitehorse</h6>
                <li>Collection series</li>
                <li>Constancy series</li>
                <li>Collection series</li>
                <li>Constancy series</li>
                <li>Collection series</li>
                <li>Constancy series</li>
                <li>Collection series</li>
                <li>Constancy series</li>
                <li>Collection series</li>
                <li>Constancy series</li>
                <li>Collection series</li>
                <li>Constancy series</li>
                <li>Collection series</li>
                <li>Constancy series</li>
                <li>Collection series</li>
                <li>Constancy series</li>
                <li>Collection series</li>
                <li>Constancy series</li>
              </div>
              <div class="box">
                <h6>Devanno</h6>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
              </div>
              <div class="box">
                <h6>NewOne</h6>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
                <li>Alexanderseries</li>
              </div>
            </ul>
          </div>
        </div>
        <p>*If multiple keywords, separate them with commas.</p>
        <div class="input">
          <input type="text" placeholder="Please key in the keyword .ex : textA, textB" data-RWDPlaceholder="Keyword .ex : textA, textB"/>
          <button type="reset"><span class="icon-reset"></span></button>
        </div>
        <div class="keyword">
          <p>Keyword :</p>
          <ul>
            <li>30x30</li>
            <li>Japanese style</li>
            <li>0C1504</li>
            <li>0C15022</li>
            <li>0B7504</li>
          </ul>
        </div>
        <!-- 後端請注意: 下方onclick僅示意用 記得要移除-->
        <button type="button" onclick="location.href='../search/index.html'"><span class="icon-magnifier"></span>
          <p>Search</p>
        </button>
      </form>
    </section>
  </article>
</header>