<div class="detail">
    <div class="detail_nav">
        <div>
            <div class="back">
                <ul>
                    <li>
                        <p>MEETING</p>
                    </li>
                    <li>
                        <p class="back_button" style="cursor: pointer;">BACK</p>
                    </li>
                </ul>
            </div>
            <div class="detail_menu_icom">
                <div class="cuisine">
                    <p>MEETING</p>
                </div>
                <div class="icom_box">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="detail_banner">
        <div class="detail_banner_img"><img src="../../upload/meeting/detail_other/banner.jpg"></div>
        <div class="detail_slogan">
            <p>Other</p>
        </div>
        <div class="banner_slideup">
            <p>SERVICE</p>
        </div>
    </div>
    <div class="detail_content">
        <div class="detail_title_bg">
            <div class="detail_title">
                <h4>Other Service</h4>
                <p>Do you want to have an unforgettable outdoor wedding?Villa32 is your first choice. </p>
            </div>
        </div>
        <!-- row1 -->
        <div class="detail_row">
            <div class="detail_row_img"><img src="../../upload/meeting/detail_other/img1.jpg"></div>
            <div class="detail_row_text">
                <div>
                    <h5>Package Field</h5>
                    <p>The restaurant has 20 to 50 dining seats (including 2 10-seat boxes) and an outdoor garden, prepare a complete banquet plan according to your budget, including invitations, on-site layout, performance, companion, etc.</p>
                    <ul>
                        <li>
                            <p>SEASON :</p>
                            <p>12:00 ~ 15:00 18:00 ~ 22:00</p>
                        </li>
                        <li>
                            <p>FIELD RENT : </p>
                            <p>April ~ September NT $ 150,000 whole</p>
                            <p>October ~ March NT $ 250,000 whole</p>
                        </li>
                        <li>
                            <p>MINIMUM CONSUMPTION : </p>
                            <p>Lunch NT $ 120,000，Dinner NT $ 180,000</p>
                            <p>PS : The above prices need to add a service fee, drink another count</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- row2 -->
        <div class="detail_row">
            <div class="detail_row_img"><img src="../../upload/meeting/detail_other/img2.jpg"></div>
            <div class="detail_row_text">
                <div>
                    <h5>Other A</h5>
                    <p>The restaurant has 20 to 50 dining seats (including 2 10-seat boxes) and an outdoor garden, prepare a complete banquet plan according to your budget, including invitations, on-site layout, performance, companion, etc.</p>
                    <ul>
                        <li>
                            <p>SEASON :</p>
                            <p>12:00 ~ 15:00 18:00 ~ 22:00</p>
                        </li>
                        <li>
                            <p>FIELD RENT :</p>
                            <p>April ~ September NT $ 150,000 whole</p>
                            <p>October ~ March NT $ 250,000 whole</p>
                        </li>
                        <li>
                            <p>MINIMUM CONSUMPTION :</p>
                            <p>Lunch NT $ 120,000，Dinner NT $ 180,000</p>
                            <p>PS : The above prices need to add a service fee, drink another count</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- row3 -->
        <div class="detail_row">
            <div class="detail_row_img"><img src="../../upload/meeting/detail_other/img3.jpg"></div>
            <div class="detail_row_text">
                <div>
                    <h5>Other B</h5>
                    <p>The restaurant has 20 to 50 dining seats (including 2 10-seat boxes) and an outdoor garden, prepare a complete banquet plan according to your budget, including invitations, on-site layout, performance, companion, etc.</p>
                    <ul>
                        <li>
                            <p>SEASON :</p>
                            <p>12:00 ~ 15:00 18:00 ~ 22:00</p>
                        </li>
                        <li>
                            <p>FIELD RENT :</p>
                            <p>April ~ September NT $ 150,000 whole</p>
                            <p>October ~ March NT $ 250,000 whole</p>
                        </li>
                        <li>
                            <p>MINIMUM CONSUMPTION :</p>
                            <p>Lunch NT $ 120,000，Dinner NT $ 180,000</p>
                            <p>PS : The above prices need to add a service fee, drink another count</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="precautions">
            <div class="precautions_top">
                <p>PRECAUTIONS</p>
            </div>
            <div class="precautions_text">
                <div>
                    <p>Rent can not provide food and beverage costs of the discount, the cost of another meal.
                        <br>According to your needs custom menu content.</p>
                    <p>Large package of activities recommended the maximum number of 60 people, the whole house only received more than 16 years old VIP.</p>
                    <p>If the venue is not arranged in the charter period, the cost of another.
                        <br>All building materials in the museum can not be arranged in a destructive way.
                        <br>Private VIP box a total of two, for their own independent space and out, entrance, no link between the box.</p>
                </div>
            </div>
        </div>
        <div class="make_a_reservation">
            <span></span>
            <a href="javascript:void(0);">
                <p class="_contact">MAKE A RESERVATION</p>
            </a>
        </div>
    </div>
</div>