<div class="detail">
    <div class="detail_nav">
        <div>
            <div class="back">
                <ul>
                    <li>
                        <p>MEETING</p>
                    </li>
                    <li>
                        <p class="back_button" style="cursor: pointer;">BACK</p>
                    </li>
                </ul>
            </div>
            <div class="detail_menu_icom">
                <div class="cuisine">
                    <p>MEETING</p>
                </div>
                <div class="icom_box">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="detail_banner">
        <div class="detail_banner_img"><img src="../../upload/meeting/detail_meeting/banner.jpg"></div>
        <div class="detail_slogan">
            <p>Business Meeting</p>
        </div>
        <div class="banner_slideup">
            <p>SERVICE</p>
        </div>
    </div>
    <div class="detail_content">
        <div class="detail_title_bg">
            <div class="detail_title">
                <h4>Pepper Room</h4>
                <p>About 20 flat space, Can accommodate up to 20 guests</p>
            </div>
        </div>
        <div class="precautions">
            <div class="precautions_top">
                <p>THE CONFERENCE PROJECT CONTAINS</p>
            </div>
            <div class="precautions_text">
                <p>Independent audio / wireless network / wireless microphone / built-in 120-inch projection screen / conference paper / pen / mineral water / custom menu / table card production</p>
            </div>
        </div>
        <!-- row1 -->
        <div class="detail_row">
            <div class="detail_row_img"><img src="../../upload/meeting/detail_meeting/img1.jpg"></div>
            <div class="detail_row_text_bg">
                <div class="detail_row_text">
                    <div>
                        <p>Full Day Meeting Project</p>
                        <ul>
                            <li>
                                <p><strong>PRICE PER</strong> : NT$ 3,400 + 10%</p>
                            </li>
                            <li>
                                <p><strong>FIELD HOURS</strong> : 09:00 - 17:00</p>
                            </li>
                            <li>
                                <p><strong>LUNCH</strong> : Italian Package B</p>
                            </li>
                            <li>
                                <p><strong>PS</strong> : Breakfast and Afternoon Tea are Available</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- row2 -->
        <div class="detail_row">
            <div class="detail_row_img"><img src="../../upload/meeting/detail_meeting/img2.jpg"></div>
            <div class="detail_row_text_bg">
                <div class="detail_row_text">
                    <div>
                        <p>Half Day Meeting + Lunch</p>
                        <ul>
                            <li>
                                <p><strong>PRICE PER</strong> : NT$ 2,400 + 10%</p>
                            </li>
                            <li>
                                <p><strong>FIELD HOURS</strong> : 09:00 - 14:00 12:00 - 17:00</p>
                            </li>
                            <li>
                                <p><strong>LUNCH</strong> : Italian Package B</p>
                            </li>
                            <li>
                                <p><strong>PS</strong> : Breakfast Available</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- row3 -->
        <div class="detail_row">
            <div class="detail_row_img"><img src="../../upload/meeting/detail_meeting/img3.jpg"></div>
            <div class="detail_row_text_bg">
                <div class="detail_row_text">
                    <div>
                        <p>Half Day Meeting + Dinner</p>
                        <ul>
                            <li>
                                <p><strong>PRICE PER</strong> : 3,000 + 10%</p>
                            </li>
                            <li>
                                <p><strong>FIELD HOURS</strong> : 15:30 - 21:00</p>
                            </li>
                            <li>
                                <p><strong>DINNER</strong> : Italian Package B</p>
                            </li>
                            <li>
                                <p><strong>PS</strong> : Provide Afternoon Tea</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="make_a_reservation">
            <span></span>
            <a href="javascript:void(0);">
                <p class="_contact">MAKE A RESERVATION</p>
            </a>
        </div>
    </div>
</div>