<div class="photo_libox">
    <div class="libox_close">
        <span></span>
        <span></span>
    </div>
    <div class="room_slick_bg">
        <div class="room_slick">
            <ul>
                <li>
                    <div class="_img">
                        <img src="../../upload/meeting/detail_events/img1.jpg">
                    </div>
                </li>
                <li>
                    <div class="_img">
                        <img src="../../upload/meeting/detail_events/img1.jpg">
                    </div>
                </li>
                <li>
                    <div class="_img">
                        <img src="../../upload/meeting/detail_events/img1.jpg">
                    </div>
                </li>
            </ul>
            <span class="icon-arrow-left01 slick_prev"></span>
            <span class="icon-arrow-right01 slick_next"></span>
        </div>
    </div>
    <div class="_text">
        <div class="textBox">
            <h5>Pepper Hall VIP Room</h5>
            <p>The aroma therapists in the 32nd and 2nd halls are determined to take care of the elites of the society, like the sun, air and water, providing the care and nutrients needed by the big tree of society. When the tree is happy and healthy, he will be able to shade all of his attachments. Earth is everything.</p>
            <span></span>
            <div class="price">
                <div>
                    <p class="time">Lunch</p>
                    <p class="numb">NT$30,000</p>
                </div>
                <div>
                    <p class="time">Dinner</p>
                    <p class="numb">NT$60,000</p>
                </div>
            </div>
            <div class="ps">
                <p>10 % Service Charge & 5% Government Tax</p>
            </div>
        </div>
    </div>
</div>