<!DOCTYPE HTML>
<html>

<head>
    <title>TECO</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <!--<link href="../../assets/img/favicon.ico" rel="icon" type="image/x-icon">-->
    <!--slick-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/slick/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/slick/slick.css" />
    <!--fons-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/fontAwesome/font-awesome.css" />
    <!--noUiSlider-->
    <link rel="stylesheet" type="text/css" href="../../assets//js/vedor/nouislider/nouislider.min.css" />
    <!--semanticwp-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/semanticwp/jquery.semanticwp-modal.min.css" />
    <!--style.css-->
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/product.css" />
</head>

<body class="fontM" id="top">
    <header class="menuBar menuFix">
        <div class="inner">
            <div class="logo">
                <a href="../home"><img src="../../assets/img/logo.png"></a>
                <h1 title="TECO東元" class="disNone">TECO東元</h1>
            </div>
            <div class="left">
                <div class="menuBtn">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <a href="javascript:void(0)" class="use_search"><i class="fa fa-search"></i></a>
                <a href="javascript:void(0)">產品專區</a>
                <a href="javascript:void(0)">液晶顯示器</a>
            </div>
            <div class="right">
                <a href="../contact/index.html"><span>客服專線</span></a>
                <a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="../location/index.html"><i class="icon-map" aria-hidden="true"></i></a>
                <a href="../member/index.html"><i class="icon-user" aria-hidden="true"></i></a>
                <a href="../shop/index.html"><i class="icon-cart" aria-hidden="true"></i>

                    <div class="smallcircle" style="display: none"><span>1</span></div>
                </a>
                <!-- 購物車買的數量 -->
            </div>
        </div>
    </header>
    <nav class="navbox">
        <ul>
            <li><a href="../product/detail01.html" title="家用空調">家用空調</a></li>
            <li><a href="../product/detail01.html" title="液晶顯示器">液晶顯示器</a></li>
            <li><a href="#" title="冰箱">冰箱</a></li>
            <li><a href="javascript:void(0)" title="洗衣機">洗衣機</a></li>
            <li><a href="javascript:void(0)" title="精緻廚電">精緻廚電</a></li>
            <li><a href="javascript:void(0)" title="空氣與水">空氣與水</a></li>
            <li><a href="javascript:void(0)" title="除濕乾衣機">除濕乾衣機</a></li>
            <li><a href="../new/index.html" title="產品新知">產品新知</a></li>
            <li><a href="../contact/index.html" title="服務資訊">服務資訊</a></li>
            <div class="inner inner1">
                <div class="list">
                    <div class="txt">
                        <a href="../product/detail01.html">
                            <h3>LCD Monitor</h3>
                            <h4>液晶顯示器</h4>
                        </a>
                    </div>
                    <ul>
                        <li><a href="../product/detail01.html">真4k smart系列</a></li>
                        <li><a href="../product/detail01.html">真4k smart系列</a></li>
                        <li><a href="../product/detail01.html">水燦光影音系列</a></li>
                        <li><a href="../product/detail01.html">水燦光影音 IPS+DTS 系列</a></li>
                        <li><a href="../product/detail01.html">絕色再生廣色域系列</a></li>
                        <li><a href="../product/detail01.html">絕色再生廣色域系列</a></li>
                        <li><a href="../product/detail01.html">晶鑽LED系列</a></li>
                        <li><a href="../product/detail01.html">晶鑽LED系列</a></li>
                        <span><a href="../product/detail01.html"><img src="../../assets/img/icon.png">所有系列</a></span>
                    </ul>
                </div>
                <div class="bg" style=" background-image: url(../../upload/nav01.jpg)">
                    <a href="../product/detail01.html">
                        <div>
                            <p>畫面驚艷 前所未見</p>
                            <h4>絕色再生廣色域 55型</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="inner inner2">
                <div class="list">
                    <div class="txt">
                        <a href="../product/detail01.html">
                            <h3>LCD Monitor</h3>
                            <h4>液晶顯示器</h4>
                        </a>
                    </div>
                    <ul>
                        <li><a href="../product/detail01.html">真4k smart系列</a></li>
                        <li><a href="../product/detail01.html">真4k smart系列</a></li>
                        <li><a href="../product/detail01.html">水燦光影音系列</a></li>
                        <li><a href="../product/detail01.html">水燦光影音 IPS+DTS 系列</a></li>
                        <li><a href="../product/detail01.html">絕色再生廣色域系列</a></li>
                        <li><a href="../product/detail01.html">絕色再生廣色域系列</a></li>
                        <li><a href="../product/detail01.html">晶鑽LED系列</a></li>
                        <li><a href="../product/detail01.html">晶鑽LED系列</a></li>
                        <span><a href="../product/detail01.html"><img src="../../assets/img/icon.png">所有系列</a></span>
                    </ul>
                </div>
                <div class="bg" style=" background-image: url(../../upload/nav01.jpg)">
                    <a href="../product/detail01.html">
                        <div>
                            <p>前所未見 畫面驚艷 </p>
                            <h4>55型 絕色再生廣色域 </h4>
                        </div>
                    </a>
                </div>
            </div>
        </ul>
    </nav>
    <nav class="navmenu">
        <div class="nav-primary">
            <div class="nav-top">
                <div class="nav-close"><span></span><span></span></div>
                <span class="use_search"><i class="fa fa-search"></i></span>
            </div>
            <ul>
                <li>
                    <a href="../product/index.html">
                        <p>product</p>
                        <h4>產品專區</h4>
                    </a>
                </li>
                <li>
                    <a href="../about/index.html">
                        <p>ABOUT</p>
                        <h4>關於東元</h4>
                    </a>
                </li>
                <li>
                    <a href="../new/index.html">
                        <p>what’s news</p>
                        <h4>最新消息</h4>
                    </a>
                </li>
                <li>
                    <a href="../location/index.html">
                        <p>find teco</p>
                        <h4>經銷據點</h4>
                    </a>
                </li>
                <li>
                    <a href="../member/index.html">
                        <p>member</p>
                        <h4>會員中心</h4>
                    </a>
                </li>
                <li>
                    <a href="../shop/index.html">
                        <p>service</p>
                        <h4>購物服務</h4>
                    </a>
                </li>
                <li>
                    <a href="../contact/index.html">
                        <p>contact us</p>
                        <h4>聯絡我們</h4>
                    </a>
                </li>
                <li>
                    <a href="../catalogue/index.html">
                        <p>Catalog</p>
                        <h4>電子型錄</h4>
                    </a>
                </li>
                <li>
                    <a href="../faq/index.html">
                        <p>faq</p>
                        <h4>常見問題</h4>
                    </a>
                </li>
            </ul>
        </div>
        <div class="nav-accent">
            <a href="../product/index.html">
                <h3>product</h3>
                <h4>產品專區</h4>
            </a>
            <div>
                <ul>
                    <li>
                        <div>
                            <a href="../product/detail01.html">
                                <h4>家用空調系列</h4>
                            </a>
                        </div>
                        <ul>
                            <li>
                                <a href="../product/detail01.html">
                                    <p><span>+</span>變頻1對1豪華LV </p>
                                </a>
                            </li>
                            <li>
                                <a href="../product/detail01.html">
                                    <p><span>+</span>定頻1對1GS</p>
                                </a>
                            </li>
                            <li>
                                <a href="../product/detail01.html">
                                    <p><span>+</span>變頻1對1雅適BV</p>
                                </a>
                            </li>
                            <li>
                                <a href="../product/detail01.html">
                                    <p><span>+</span>定頻1對1吊隱冷專</p>
                                </a>
                            </li>
                            <li>
                                <a href="../product/detail01.html">
                                    <p><span>+</span>變頻1對1雅適ZR </p>
                                </a>
                            </li>
                            <li>
                                <a href="../product/detail01.html">
                                    <p><span>+</span>定頻1對多雙胞胎</p>
                                </a>
                            </li>
                            <li>
                                <a href="../product/detail01.html">
                                    <p><span>+</span>變頻1對多</p>
                                </a>
                            </li>
                            <li>
                                <a href="../product/detail01.html">
                                    <p><span>+</span>窗型定頻</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div>
                            <a href="javascript:void(0)">
                                <h4>液晶顯示器系列</h4>
                            </a>
                        </div>
                        <ul>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>水燦光影音 IPS+DTS</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>絕色再生廣色域</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>真4k smart</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>晶鑽LED</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div>
                            <a href="javascript:void(0)">
                                <h4>冰箱系列</h4>
                            </a>
                        </div>
                        <ul>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>節能變頻三門冰箱</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>小鮮綠</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>節能變頻兩門冰箱</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>臥式冷凍櫃</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>經典定頻三門冰箱</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>直立式冷凍櫃</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>經典定頻兩門冰箱</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div>
                            <a href="javascript:void(0)">
                                <h4>空氣與水</h4>
                            </a>
                        </div>
                        <ul>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>掃地機器人</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>清淨機</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>變頻風扇</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>熱水瓶</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>吸塵器</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>開飲機</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>電暖器</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div>
                            <a href="javascript:void(0)">
                                <h4>洗衣機系列</h4>
                            </a>
                        </div>
                        <ul>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>變頻洗衣機</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>滾筒洗衣機</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>定頻洗衣機</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div>
                            <a href="javascript:void(0)">
                                <h4>精緻廚電</h4>
                            </a>
                        </div>
                        <ul>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>烘碗機</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>烤箱</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>和風點心機</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>微風爐</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>變頻電磁爐</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>咖啡機</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>電陶爐</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>隨行杯</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div>
                            <a href="javascript:void(0)">
                                <h4>除濕亁衣機</h4>
                            </a>
                        </div>
                        <ul>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>除濕機</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>亁衣機</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--main-->
    <main>
        <article>
            <section>
                <div class="product_info">
                    <div class="product_info_pic">
                        <ul class="product_small_slick">
                            <li><img class="b-lazy" src="../../upload/loading.svg" data-src="../../upload/600x600.jpg"></li>
                            <li><img class="b-lazy" src="../../upload/loading.svg" data-src="../../upload/600x600.jpg"></li>
                            <li><img class="b-lazy" src="../../upload/loading.svg" data-src="../../upload/600x600.jpg"></li>
                            <li><img class="b-lazy" src="../../upload/loading.svg" data-src="../../upload/600x600.jpg"></li>
                            <li><img class="b-lazy" src="../../upload/loading.svg" data-src="../../upload/600x600.jpg"></li>
                            <li><img class="b-lazy" src="../../upload/loading.svg" data-src="../../upload/600x600.jpg"></li>
                            <li><img class="b-lazy" src="../../upload/loading.svg" data-src="../../upload/600x600.jpg"></li>
                        </ul>
                        <div class="favorite" onclick="this.classList.toggle('active')">
                                <span></span>
                                <p>收藏</p>
                            </div>
                        <div class="product_info_icon">
                            <ul>
                                <li><img src="../../upload/tvicon01.png"></li>
                                <li><img src="../../upload/tvicon02.png"></li>
                                <li><img src="../../upload/tvicon03.png"></li>
                                <li><img src="../../upload/tvicon04.png"></li>
                                <li><img src="../../upload/tvicon05.png"></li>
                                <li><img src="../../upload/tvicon06.png"></li>
                                <li><img src="../../upload/tvicon07.png"></li>
                                <li><img src="../../upload/tvicon08.png"></li>
                                <li><img src="../../upload/tvicon09.png"></li>
                                <li><img src="../../upload/tvicon10.png"></li>
                                <li><img src="../../upload/tvicon11.png"></li>
                                <li><img src="../../upload/tvicon12.png"></li>
                                <li><img src="../../upload/tvicon01.png"></li>
                                <li><img src="../../upload/tvicon02.png"></li>
                                <li><img src="../../upload/tvicon03.png"></li>
                                <li><img src="../../upload/tvicon04.png"></li>
                                <li><img src="../../upload/tvicon05.png"></li>
                                <li><img src="../../upload/tvicon06.png"></li>
                                <li><img src="../../upload/tvicon07.png"></li>
                                <li><img src="../../upload/tvicon08.png"></li>
                                <li><img src="../../upload/tvicon09.png"></li>
                                <li><img src="../../upload/tvicon10.png"></li>
                                <li><img src="../../upload/tvicon11.png"></li>
                                <li><img src="../../upload/tvicon12.png"></li>
                                <li><img src="../../upload/tvicon01.png"></li>
                                <li><img src="../../upload/tvicon02.png"></li>
                                <li><img src="../../upload/tvicon03.png"></li>
                                <li><img src="../../upload/tvicon04.png"></li>
                                <li><img src="../../upload/tvicon05.png"></li>
                                <li><img src="../../upload/tvicon06.png"></li>
                                <li><img src="../../upload/tvicon07.png"></li>
                                <li><img src="../../upload/tvicon08.png"></li>
                            </ul>
                        </div>
                        <div class="product_info_godown">
                            <a href="javascript:;">

                                <i class="icon-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="product_info_txt">
                        <h4>變頻系列 豪華變頻雲端 JP冷暖 系列 (日本製壓縮機)</h4>
                    </div>
                </div>
            </section>
            <!-- 型號輪播欄位 -->
            <section>
                <div class="product_info_other" id="product_info">
                    <ul class="product_info_slick">
                        <li><a href="javascript:;">TL43U1TRE1</a></li>
                        <li><a href="javascript:;">TL43U1TRE1</a></li>
                        <li><a href="javascript:;">TL43U1TRE1</a></li>
                        <li><a href="javascript:;">TL43U1TRE1</a></li>
                    </ul>
                </div>
            </section>
            <!-- 價錢庫存欄位 -->
            <section>
                <div class="product_info_buy">
                    <div class="product_info_buy_left">
                        <div><span>優惠價</span>
                            <p>$32,320</p>
                        </div>
                        <div><span>標準價</span>
                            <p>
                                <s>$35,320</s>
                            </p>
                        </div>
                        <p class="ps">本商品適用 0 / 3 / 6 / 12 / 24 / 30 期分期付款</p>
                    </div>
                    <div class="product_info_buy_right">
                        <div>
                            <div>
                                <p>選擇規格</p>
                                <ul>
                                    <span><span class="color" style="background-color: #333"></span>沉穩黑</span>
                                    <li><span class="color" style="background-color: #333"></span>沉穩黑</li>
                                    <li><span class="color" style="background-color: blue"></span>憂鬱藍</li>
                                    <li><span class="color" style="background-color: green"></span>平穩綠</li>
                                </ul>
                            </div>
                            <div>
                                <p>選擇數量</p>
                                <span><span class="sub"><a href="javascript:void(0);">-</a></span><span class="num">1</span><span
                                        class="add"><a href="javascript:void(0);">+</a></span></span>
                            </div>
                        </div>
                        <a href="../shop/index.html">
                            <b></b>
                            <i class="icon-cart"></i>
                            <p>購買</p>
                        </a>
                        <a href="../customize/customized.html">
                            <b></b>
                            <i class="icon-table"></i>
                            <p>客製化</p>
                        </a>
                    </div>
                </div>
            </section>
            <section>
                <div class="product_spec">
                    <div class="product_title">
                        <h4>SPECIFICATION</h4>
                        <p>產品規格</p>
                    </div>
                    <div class="product_spec_box">
                        <div class="search_spec_left">
                            <h4>基本規格</h4>
                        </div>
                        <div class="search_spec_right">
                            <ul>
                                <li>
                                    <div>消耗功率 ( W ) </div>
                                    <div>160W</div>
                                </li>
                                <li>
                                    <div>主機尺寸</div>
                                    <div>寬1239高761深241(mm)含腳架</div>
                                </li>
                                <li>
                                    <div>主機尺寸</div>
                                    <div>寬1239高761深80(mm)不含腳架</div>
                                </li>
                                <li>
                                    <div>視訊盒型號</div>
                                    <div>TS1317TRA</div>
                                </li>
                                <li>
                                    <div>機體壁掛孔距</div>
                                    <div>寬40X高20(cm)</div>
                                </li>
                                <li>
                                    <div>解析度</div>
                                    <div>3840X2160</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product_spec_box">
                        <div class="search_spec_left">
                            <h4>面板&畫面</h4>
                        </div>
                        <div class="search_spec_right">
                            <ul>
                                <li>
                                    <div>解析度 H x V</div>
                                    <div>3840x2160</div>
                                </li>
                                <li>
                                    <div>Bright Vuew 超明亮面板</div>
                                    <div>高明亮 4K</div>
                                </li>
                                <li>
                                    <div>廣視角面板顯像技術</div>
                                    <div>○</div>
                                </li>
                                <li>
                                    <div>對比</div>
                                    <div>4000:1</div>
                                </li>
                                <li>
                                    <div>色彩處理 Bit(色階)</div>
                                    <div>10Bit(10億7千萬色)</div>
                                </li>
                                <li>
                                    <div>DVB-T + HiHD高畫質數位接收</div>
                                    <div>○</div>
                                </li>
                                <li>
                                    <div>24p電影環圓技術(3:2/2:2 Pull Down)</div>
                                    <div>○</div>
                                </li>
                                <li>
                                    <div>低藍光模式</div>
                                    <div>○</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="product_explore">
                    <div class="product_title">
                        <h4>EXPLORE</h4>
                        <p>產品介紹</p>
                    </div>
                    <div class="product_explore_txt">
                        <h4>Imaging Technology</h4>
                        <p>水燦光影像技術</p>
                        <p>對於類比、數位雜訊抑制處理、黑灰階與對比表現、銳利度最佳定義與設定、背光與面板系統搭配、解析度畫質調整最初最佳影像呈像調教。</p>
                    </div>
                    <img class="b-lazy" src="../../upload/loading.svg" data-src="../../upload/product_detail_03.png">
                    <div class="product_explore_box">
                        <div>
                            <h4>Computing Processor</h4>
                            <p>64K位元4核心4K運算處理器</p>
                            <p>東元４Ｋ液晶，搭載64位元4核心高效運算處理器，優異影像處理 核心驅動分析比對各類影像訊號源，更能完美成現真實4K畫面。
                            </p>
                        </div>
                        <div><img class="b-lazy" src="../../upload/loading.svg" data-src="../../upload/product_detail_04.png"></div>
                    </div>
                    <div class="product_explore_box product_explore_box_rtl">
                        <!-- product_explore_box_rtl 反轉加 -->
                        <div>
                            <h4>Low Blue Light</h4>
                            <p>低藍光</p>
                            <p>東元４Ｋ液晶，搭載64位元4核心高效運算處理器，優異影像處理 核心驅動分析比對各類影像訊號源，更能完美成現真實4K畫面。
                            </p>
                        </div>
                        <div><img class="b-lazy" src="../../upload/loading.svg" data-src="../../upload/product_detail_05.png"></div>
                    </div>
                    <div class="product_explore_img">
                        <img class="b-lazy" src="../../upload/loading.svg" data-src="../../upload/product_detail_06.png">
                        <div class="blackbg"></div>
                        <a class="_youtube" href="https://www.youtube.com/embed/pNamvucGmlE">

                            <div class="product_explore_img_txt">

                                <h4>SMART 無疆界娛樂</h4>

                                <p>東元U1系列，搭載64位元4核心高效能運用處理CPU，在上四核心GPU圓型處理器</p>

                                <div class="circle"><span class="icon-play"></span></div>

                            </div>

                        </a>
                    </div>
                </div>
            </section>
            <section>
                <div class="product_featured">
                    <div class="product_title">
                        <h4>FEATURED PRODUCTS</h4>
                        <p>推薦商品</p>
                    </div>
                    <div class="product_featured_slick_out">
                        <ul class="product_featured_slick">
                            <li><img class="b-lazy" src="../../upload/loading.svg" data-src="../../upload/product_detail_07.png">
                                <a href="javascript:;">

                                    <div class="product_featured_txt">

                                        <h4>TECO東元 10kg洗脫<br>滾筒洗衣機</h4>

                                        <span class="money">$7,390</span>

                                    </div>

                                </a>
                            </li>
                            <li><img class="b-lazy" src="../../upload/loading.svg" data-src="../../upload/product_detail_08.png">
                                <a href="javascript:;">

                                    <div class="product_featured_txt">

                                        <h4>TECO東元 10kg洗脫<br>滾筒洗衣機</h4>

                                        <span class="money">$7,390</span>

                                    </div>

                                </a>
                            </li>
                            <li><img class="b-lazy" src="../../upload/loading.svg" data-src="../../upload/product_detail_09.png">
                                <a href="javascript:;">

                                    <div class="product_featured_txt">

                                        <h4>TECO東元 10kg洗脫<br>滾筒洗衣機</h4>

                                        <span class="money">$7,390</span>

                                    </div>

                                </a>
                            </li>
                            <li><img class="b-lazy" src="../../upload/loading.svg" data-src="../../upload/product_detail_07.png">
                                <a href="javascript:;">

                                    <div class="product_featured_txt">

                                        <h4>TECO東元 10kg洗脫<br>滾筒洗衣機</h4>

                                        <span class="money">$7,390</span>

                                    </div>

                                </a>
                            </li>
                            <li><img class="b-lazy" src="../../upload/loading.svg" data-src="../../upload/product_detail_08.png">
                                <a href="javascript:;">

                                    <div class="product_featured_txt">

                                        <h4>TECO東元 10kg洗脫<br>滾筒洗衣機</h4>

                                        <span class="money">$7,390</span>

                                    </div>

                                </a>
                            </li>
                            <li><img class="b-lazy" src="../../upload/loading.svg" data-src="../../upload/product_detail_09.png">
                                <a href="javascript:;">

                                    <div class="product_featured_txt">

                                        <h4>TECO東元 10kg洗脫<br>滾筒洗衣機</h4>

                                        <span class="money">$7,390</span>

                                    </div>

                                </a>
                            </li>
                            <li><img class="b-lazy" src="../../upload/loading.svg" data-src="../../upload/product_detail_07.png">
                                <a href="javascript:;">

                                    <div class="product_featured_txt">

                                        <h4>TECO東元 10kg洗脫<br>滾筒洗衣機</h4>

                                        <span class="money">$7,390</span>

                                    </div>

                                </a>
                            </li>
                            <li><img class="b-lazy" src="../../upload/loading.svg" data-src="../../upload/product_detail_08.png">
                                <a href="javascript:;">

                                    <div class="product_featured_txt">

                                        <h4>TECO東元 10kg洗脫<br>滾筒洗衣機</h4>

                                        <span class="money">$7,390</span>

                                    </div>

                                </a>
                            </li>
                            <li><img class="b-lazy" src="../../upload/loading.svg" data-src="../../upload/product_detail_09.png">
                                <a href="javascript:;">

                                    <div class="product_featured_txt">

                                        <h4>TECO東元 10kg洗脫<br>滾筒洗衣機</h4>

                                        <span class="money">$7,390</span>

                                    </div>

                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <div class="gotopfixed">
                <a href="#top" class="aaGoTop"><i class="fa fa-chevron-circle-up" aria-hidden="true"></i> TOP</a>
            </div>
        </article>
    </main>
    <footer class="footer">
        <div class="inner">
            <div class="left">
                <a href="#top" class="aaGoTop"><i class="fa fa-chevron-circle-up" aria-hidden="true"></i> TOP</a>
            </div>
            <nav class="footernav">
                <ul>
                    <li><a href="../../views/about/index.html" title="關於東元">關於東元</a></li>
                    <li><a href="../../views/product/index.html" title="產品專區">產品專區</a></li>
                    <li><a href="../faq/index.html" title="常見問題">常見問題</a></li>
                    <li><a href="../shop/index.html" title="購物服務">購物服務</a></li>
                    <li><a href="../member/index.html" title="會員中心">會員中心</a></li>
                    <!-- <li><a href="../catalogue/index.html" title="電子型錄">電子型錄</a></li>。 -->
                    <li><a href="../contact/index.html" title="聯絡我們">聯絡我們</a></li>
                    <li><a href="javascript:void(0)" title="人才招募">人才招募</a></li>
                    <li><a href="javascript:void(0)" title="隱私權政策">隱私權政策</a></li>
                </ul>
            </nav>
            <div class="right">
                <a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="javascript:void(0)"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            </div>
        </div>
        <hr class="footer_hr">
        <div class="footercontent">
            <div class="thenew">
                <h4>What's News</h4>
                <p>最新消息</p>
                <ul class="small_slick">
                    <li>
                        <a href="javascript:void(0)">
                            <p>12th,Mar.2017 好康特區</p>
                            <p>年終【美好生活】冰箱 / 洗衣機好禮贈送</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <p>12th,Mar.2017 好康特區</p>
                            <p>年終【美好生活】冰箱 / 洗衣機好禮贈送</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="address">
                <h4>Find TECO</h4>
                <p>經銷據點</p>
                <ul class="footer-dropdown">
                    <span class="for-change" data-info="Subject">請選擇您所在的縣市</span>
                    <input type="hidden" name="Subject">
                    <div class="dropdown-detail-out">
                        <li class="dropdown-detail" name="" style="display: none;"><a href="../location/index.html">台北</a></li>
                        <li class="dropdown-detail" name="" style="display: none;"><a href="javascript:void(0)">台中</a></li>
                        <li class="dropdown-detail" name="" style="display: none;"><a href="javascript:void(0)">高雄</a></li>
                    </div>
                </ul>
            </div>
            <div class="catalog">
                <h4>Catalog</h4>
                <p>電子型錄</p>
                <ul class="footer-dropdown">
                    <span class="for-change" data-info="Subject">請選擇年分</span>
                    <input type="hidden" name="Subject">
                    <div class="dropdown-detail-out">
                        <li class="dropdown-detail" name="" style="display: none;">
                            <a href="javascript:void(0)">2018</a>
                        </li>
                        <li class="dropdown-detail" name="" style="display: none;">
                            <a href="javascript:void(0)">2017</a>
                        </li>
                        <li class="dropdown-detail" name="" style="display: none;">
                            <a href="javascript:void(0)">2016</a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="footerfooter">
            <span>© 2016 TECO. ALL RIGHTS RESERVED.</span>
            <a href="http://www.wddgroup.com" title="網頁設計-威德網頁設計公司">DESIGNED BY WDD</a>
        </div>
    </footer>
    <!--主要jQuery-->
    <script src="../../assets/js/vedor/jquery-1.11.3.min.js"></script>
    <!--共用-->
    <script src="../../assets/js/vedor/bLazy/bLazy.js"></script>
    <script src="../../assets/js/vedor/slick/slick.js"></script>
    <script src="../../assets/js/vedor/nouislider/nouislider.min.js"></script>
    <script src="../../assets/js/vedor/waypoints.min.js"></script>
    <script src="../../assets/js/vedor/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../../assets/js/vedor/jquery.easings.min.js"></script>
    <script src="../../assets/js/vedor/semanticwp/jquery.semanticwp-modal.min.js"></script>
    <script src="../../assets/js/vedor/prefixfree.min.js"></script>
    <script src="../../assets/js/vedor/picturefill.min.js"></script>
    <!--非共用-->
    <!--main js-->
    <script src="../../assets/js/main.js"></script>
</body>

</html>