<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
</head>

<body id="about">
    <header id="header"></header>
    <main class="about">
        <article class="banner_wrap">
            <div class="banner_noImg">
                <div class="banner_noImg__title">
                    <h4>About</h4>
                    <h5>關於AURO</h5>
                </div>
            </div>
        </article>
        <article class="nav_wrap">
            <div class="navbit">
                <ul>
                    <li>
                        <a href="javascript:void(0);">
                            <h4>認識AURO</h4>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <h4>REPLEBIN</h4>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <h4>親和化學</h4>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <h4>專業認證</h4>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <h4>台灣總代理</h4>
                        </a>
                    </li>
                </ul>
            </div>
        </article>
        <article class="content_wrap">
            <div class="about__content">
                <div class="about__inner">
                    <div class="about_box about_box__01">
                        <div class="txt_wrap">
                            <div class="txt">
                                <h3>MY WORLD... NATURELLY</h3>
                                <h4>Auro相信，地球是家，塗料是愛</h4>
                                <hr>
                                <p>Auro每種塗料，都從大自然提煉擷取花朵、果實、礦物的色彩能量，帶來健康純淨的生活空間</p>
                                <div>
                                    <a href="javascript:void(0);" class="lboxBtn" data-lbox="../about/about_detail.html">
                                        <div class="circle circle--40 circle--about_bit">
                                            <span></span>
                                        </div>
                                        <h6>認識AURO</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="img_wrap">
                            <div class="img">
                                <img src="../../upload/f2e/about/about_01.jpg">
                            </div>
                        </div>
                        <div class="thebg">
                            <img src="../../upload/f2e/about/about_y.png">
                        </div>
                    </div>
                    <div class="about_box about_box__02">
                        <div class="img">
                            <img src="../../upload/f2e/about/about_02.jpg">
                        </div>
                        <div class="txt">
                            <img src="../../upload/f2e/about/about_logo.png">
                            <h4>遠見，轉動了時代的巨輪</h4>
                            <hr>
                            <h5>AURO 發展領先全球的綠能科技 獲得德國政府、市議會與歐盟壓倒性的支持
                            </h5>
                            <p>Replebin®　是一種全新的有機黏著劑，取代天然樹脂在油漆裡扮演的功能，並減少自然資源的消耗。該成分由植物醇酯及有機酸製成， AURO 已為此天然黏著劑申請專利保護，全世界僅有 AURO
                                獨家生產使用。
                            </p>
                            <div>
                                <a href="javascript:void(0);" class="lboxBtn" data-lbox="../about/about_replebin.html">
                                    <div class="circle circle--40 circle--about_bit">
                                        <span></span>
                                    </div>
                                    <h6>了解 REPLEBIN®</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="about_box about_box__03 txtW">
                        <div class="img">
                            <img src="../../upload/f2e/about/about_03.jpg" alt="">
                        </div>
                        <div class="txt">
                            <h3>GENTLE CHEMISTRY</h3>
                            <h4>溫柔科學，輕撫大地</h4>
                            <hr>
                            <p>大自然就是 AURO 的農場與工廠 所有原料的萃取、製造與回收，都成為生生不息的綠色循環
                            </p>
                            <div>
                                <a href="javascript:void(0);" class="lboxBtn" data-lbox="../about/about_histochemistry.html">
                                    <div class="circle circle--40 circle--about_bit circle--about_bit2">
                                        <span></span>
                                    </div>
                                    <h6>探索溫柔科學</h6>
                                </a>
                            </div>
                        </div>
                        <div class="thebg">
                            <img src="../../upload/f2e/about/about_g.png">
                        </div>
                    </div>
                    <div class="about_box about_box__04 txtW">
                        <div class="img">
                            <img src="../../upload/f2e/about/about_bg.jpg">
                        </div>
                        <div class="txt">
                            <h3>CERTIFICATION</h3>
                            <h4>世界最高規格，多張綠色認證</h4>
                            <hr>
                            <p>天然純淨是 AURO 丈量希望的尺度，健康安心是 AURO 評估幸福的標準。 每一張國際證書，都通過最嚴格的審核，都是一雙理想之翼，守住了AURO對環境與 人們的承諾，航向返璞歸真的生活。
                            </p>
                            <div>
                                <a href="javascript:void(0);" class="lboxBtn" data-lbox="../about/about_certification.html">
                                    <div class="circle circle--40  circle--about_bit circle--about_bit2">
                                        <span></span>
                                    </div>
                                    <h6>更多品質認證</h6>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="about_box about_box__05">
                        <div class="img_wrap">
                            <div class="img">
                                <img src="../../upload/f2e/about/about_04.jpg">
                            </div>
                            <div class="txt">
                                <h5>用天然塗料，守護油漆師傅與家庭成員</h5>
                                <p>為了這群默默為空間塗上青春的油漆職人們，為了未來每個會在房子裡大口呼吸的 家庭成員們，塗料領域的專家——喬和工程，憑藉豐富的專業知識與實務經驗，經過 嚴格篩選，找到了全球有機塗料先驅品牌AURO，在雙方理念的契合下，2012 年引進
                                    AURO 產品，2013年正式取得台灣總代理權。
                                    <br>
                                    <br> AURO從源頭製研到廢棄回收，整條綠色供應鏈取自天然素材，堅持環保製程，不 添加任何對人體與環境的有害成分，配方全面透明公開，讓消費者主動掌握真正的 安全。對我們來說，推廣最多國際綠色認證的塗料品牌AURO，照顧第一線的油漆
                                    職人，與長久居住的客戶，不僅是顛覆傳統油漆的使用認知、樹立塗料產業的最高 標準，更是改善生活與保護環境的重要力量。
                                    <br>
                                    <br> 我們相信，把夢做大，就是把愛放大。
                                </p>
                                <img class="name" src="../../upload/f2e/about/about_name.jpg">
                            </div>
                        </div>
                        <div class="txt_wrap">
                            <div class="txt">
                                <h3>TAIWAN GENERAL
                                    <br>DISTRIBUTOR</h3>
                                <h4>台灣總代理</h4>
                                <hr>
                                <h5>把夢做大，就是把愛放大</h5>
                                <p>人是企業最重要的資產，健康更是要堅守的防線，喬和工程有限公司投 入油漆工程產業，已有40年以上的經驗，經營各大品牌塗料販售與大型 建案塗裝工程，油漆師傅對我們來說，不只是員工，更如同家人，我們
                                    比誰都深切了解，化學溶劑不但會損害第一線長期接觸的油漆師傅的健 康，也會間接影響入住者生活的環境品質。
                                </p>
                                <img src="../../upload/f2e/about/about_05.jpg">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </article>
    </main>
    <footer id="footer"></footer>
    <!--主要jQuery-->
    <script src="../../assets/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="../../assets/js/vendor/slick/slick.js"></script>
    <script src="../../assets/js/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="../../assets/js/vendor/waypoints/inview.min.js"></script>
    <script src="../../assets/js/vendor/blazy.js"></script>
    <script src="../../assets/js/vendor/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="../../assets/js/vendor/masonry/masonry.pkgd.min.js"></script>
    <script src="../../assets/js/vendor/masonry/imagesloaded.pkgd.min.js"></script>
    <script src="../../assets/js/vendor/cgpagechange.js"></script>
    <script src="../../assets/js/vendor/lbox.js"></script>
    <!-- 主要 -->
    <script src="../../assets/js/main.js"></script>
    <!-- 個別 -->
    <script src="../../assets/js/about.js"></script>
</body>

</html>