<article class="footer">

  <!--頁角所有資訊-->
  <section class="footer_information">

    <div>
      <!--重點訊息-->
      <ul class="important_link">
        <li>
          <div class="board">
            <h2 class="title">store location</h2>
            <p class="vice_title">尋找法蝶</p>
          </div>
          <div>
            <a href="../storehold/index.html">
              <p>尋找據點</p>
            </a>
          </div>
        </li>
        <li>
          <div class="board">
            <h2 class="title">join members</h2>
            <p class="vice_title">加入會員</p>
          </div>
          <div>
            <a href="../member/index.html">
              <p>立即申請</p>
            </a>
          </div>
        </li>
        <li>
          <div class="board">
            <h2 class="title">gift shop</h2>
            <p class="vice_title">購物車</p>
          </div>
          <div>
            <a href="../shopping_qa/index.html">
              <p>詳細流程</p>
            </a>
          </div>
        </li>
      </ul>
    </div>

    <span class="line"></span>

    <div>
      <!--產品連結-->
      <ul class="product_link">
        <li>
          <a href="../product/index.html">
            <p>婚戒</p>
          </a>
        </li>
        <li>
          <a href="../product/index.html">
            <p>對戒</p>
          </a>
        </li>
        <li>
          <a href="../product/index.html">
            <p>高級珠寶</p>
          </a>
        </li>
        <li>
          <a href="../product/index.html">
            <p>項鍊吊墜</p>
          </a>
        </li>
        <li>
          <a href="../product/index.html">
            <p>耳環手環</p>
          </a>
        </li>
      </ul>

      <!--單元連結-->
      <ul class="unit_link">
        <li>
          <a href="../about/index.html">
            <p>品牌故事</p>
          </a>
        </li>
        <li>
          <a href="../news/index.html">
            <p>最新訊息</p>
          </a>
        </li>
        <li>
          <a href="../witness/index.html">
            <p>幸福好評</p>
          </a>
        </li>
        <li>
          <a href="../contact/index.html">
            <p>聯絡我們</p>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <p>人才招募</p>
          </a>
        </li>
      </ul>

      <!--社群按鈕-->
      <ul class="community_link">
        <li>
          <a href="javascript:void(0)">
            <span class="icon-facebook"></span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <span class="icon-instagram"></span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
              <span class="icon-twitter"></span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
              <span class="icon-youtube"></span>
          </a>
        </li>
      </ul>
    </div>

  </section>

  <!--隱私權 + who disign-->
  <section class="design_block">

    <a class="privacy lbox_switch" href="javascript:void(0)" data-lbox="privacy">
      <p>隱私權政策</p>
    </a>

    <p class="design">
      <span>© papillon jewelry ALL RIGHTS RESERVED.. DESIGNED BY </span>
      <a href="http://www.wddgroup.com/">WDD</a>
    </p>

  </section>

</article>

<!--預約紅標籤-->
<article class="reservation">
  <ul>
    <li class="goTop">
      <p>GO TOP</p>
    </li>
    <!-- 連結到預約鑑賞內頁 -->
    <li>
      <a href="../reservation/index.html">
          <p>預約鑑賞</p>
      </a>
    </li>
    <!-- 連結到line  -->
    <!-- 請後端填入連結 -->
    <li>
      <a href="javascript:void(0)"></a>
    </li>
  </ul>
</article>