<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="language" content="tw" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="title" content="網站標題名稱" />
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <meta name="copyright" content="作者名子">
    <title>franzaward</title>
    <!-- 共用CSS -->
    <link rel="stylesheet" href="../../assets/js/vendor/cgpagechange/cgpagechange.css">
    <link rel="stylesheet" href="../../assets/js/vendor/jquery.mCustomScrollbar.min.js/jquery.mCustomScrollbar.min.css">
    <!-- 共用CSS end-->
    <!-- 非共用CSS -->
    <!-- 非共用CSS end-->
    <!-- 自訂的css -->
    <link rel="stylesheet" href="../../assets/css/contact/contact.css">
</head>

<body id="contact" class="index">
    <header data-nobanner="true"></header>
    <main>
        <article class="topTitle">
            <div class="h2">Say HELLO!</div>
            <p>聯繫我們</p>
            <div class="_title">
                <div class="slogan">
                    <h3>We are the Supporters of Your Porcelain Design Dreams.</h3>
                    <h4>我們是您陶瓷夢想的應援者</h4>
                </div>
                <div class="_text">
                    <p>如您有任何需求與建議，或是在參與活動途中遇到疑問，都可以透過下方的管道與我們聯繫，法藍瓷將在收到訊息後盡速回復。</p>
                </div>
            </div>
        </article>
        <!-- 後端請注意:下方的背景圖片要由客戶上 大小限定1920*540 -->
        <article class="teamInf" style="background-image: url('../../upload/fa2/contact/contactbg_1920_540.jpg');color: #fff">
            <section>
                <div class="team">
                    <div class="implementer">
                        <div class="h2">IMPLEMENTER</div>
                        <h2>法藍瓷股份有限公司｜光點計畫專案小組</h2>
                    </div>
                    <div class="members">
                        <ul>
                            <li class="manager">
                                <div class="h2">PROJECT MANAGER</div>
                                <p>黃圭加 ext. 1271</p>
                                <p>林修怡 ext. 1282</p>
                            </li>
                            <li class="teamembers">
                                <div class="h2">TEAMEMBERS</div>
                                <p>鍾雅竹</p>
                                <p>張竣庭</p>
                                <p>謝璿</p>
                                <p>謝家萍</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <span class="hr"></span>
                <div class="inf">
                    <div class="email">
                        <div class="h2">EMAIL & TEL</div>
                        <p>info@franzproject.com</p>
                        <p>+886-2-2767-0117</p>
                        <p>平日週一至週五上午 9：30 至下午 6：00</p>
                    </div>
                    <div class="address">
                        <div class="h2">ADDRESS</div>
                        <p>10F., No.167, Sec. 5, Minsheng E. Rd., Songshan Dist., Taipei City 105, Taiwan (R.O.C.)</p>
                    </div>
                    <div class="fb">
                        <a href="https://www.facebook.com/RisingStarProject/">
                            <div class="h2">FOLLOW FRANZ RSP</div>
                        </a>
                    </div>
                </div>
            </section>
        </article>
        <article class="tableContent">
            <form>
                <div class="_title">
                    <div class="h2">
                        Please fill in advise & demand <span>填寫您的建議與需求</span>
                    </div>
                    <p>請於下方填寫您真實的聯繫資訊與詳細的相關內容，法藍瓷歡迎您的來信。</p>
                </div>
                <!-- 姓名 -->
                <div class="name">
                    <div class="whiteBox">
                        <input type="text" placeholder="Family Name   姓">
                    </div>
                    <div class="whiteBox">
                        <input type="text" placeholder="First Name   名">
                    </div>
                </div>
                <!-- 稱謂 -->
                <div class="whiteBox hasDropList">
                    <h5>Salutation   稱　謂</h5>
                    <div class="dropList">
                        <span class="selectMenu">
                            <p>Select   請選擇您的稱謂</p>
                        </span>
                        <ul>
                            <li>先生</li>
                            <li>女士</li>
                        </ul>
                    </div>
                </div>
                <!-- email -->
                <div class="whiteBox email">
                    <h5>E-mail   常用聯繫信箱</h5>
                    <input type="text" placeholder="example@franzaward.com">
                </div>
                <!-- mobile -->
                <div class="moblie">
                    <div class="whiteBox hasDropList">
                        <h5>Mobile / TEL   聯繫號碼</h5>
                        <div class="dropList">
                            <span class="selectMenu">
                                <p>ISO 國際碼</p>
                            </span>
                            <ul>
                                <li>Taiwan</li>
                                <li>Taiwan</li>
                                <li>Taiwan</li>
                                <li>Taiwan</li>
                                <li>Taiwan</li>
                                <li>Taiwan</li>
                                <li>Taiwan</li>
                                <li>Taiwan</li>
                                <li>Taiwan</li>
                                <li>Taiwan</li>
                            </ul>
                        </div>
                    </div>
                    <div class="whiteBox">
                        <input type="number" placeholder="fill in yout contact number here 在此填入電話" data-rwdPlaceholder="在此填入電話">
                    </div>
                </div>
                <!-- 主旨 -->
                <div class="subject whiteBox hasDropList">
                    <h5>Subject   主　旨</h5>
                    <div class="dropList">
                        <span class="selectMenu">
                            <p>Select   請選擇您的主旨</p>
                        </span>
                        <ul>
                            <li>無法報名</li>
                            <li>無法報名</li>
                            <li>無法報名</li>
                            <li>無法報名</li>
                            <li>無法報名</li>
                        </ul>
                    </div>
                </div>
                <!-- 內容 -->
                <div class="whiteBox textarea">
                    <h5>Content   內　容</h5>
                    <textarea placeholder="Please write your advise & demad here..."></textarea>
                </div>
                <!-- 驗證碼 -->
                <div class="whiteBox code">
                    <h5>Verification Code   驗證碼</h5>
                    <input type="text" placeholder="Click on word to refresh the code  點擊驗證碼可再次刷新" data-rwdPlaceholder="點擊驗證碼可再次刷新">
                    <div class="_img">
                        <img src="../../assets/img/contactBg/code.png">
                    </div>
                </div>
                <div class="button">
                    <ul>
                        <li class="reset">
                            <button type="reset">
                                <span></span>
                                <p>Rewrite</p>
                                <p>重新填寫</p>
                            </button>
                        </li>
                        <li class="send">
                            <button type="button">
                                <span></span>
                                <p>Send</p>
                                <p>確認送出</p>
                            </button>
                        </li>
                    </ul>
                </div>
            </form>
        </article>
    </main>
    <footer></footer>
    <script src="../../assets/js/style.js"></script>
</body>

</html>