@charset "utf-8";

body {
    font-family: "微軟正黑體";
    width: 100vw;
    position: absolute;
}



.banner {
    margin-top: 85px;
}

@media only screen and (max-width: 1024px) {
    .banner {
        margin-top: 60px;
    }
}

.favorite div,
.scrolldown div {
    -moz-display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    flex-direction: column;
}


.favorite p,
.scrolldown p {
    -ms-writing-mode: tb-lr;
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    font-family: '微軟正黑體';
    letter-spacing: 1.5px;
    font-size: 1rem;
    font-weight: bold;
}

.favorite span {
    font-size: 1rem;
}

.scrolldown span {
    font-size: 2.75rem;
    color: #95338b;
}


.icon-arrow-left,
.icon-arrow-right {
    cursor: pointer;
}

.b-lazy.b-loaded {
    padding: 0;
}

.b-lazy {
    padding: calc(50% - 16px);
}

















/*---------------keyframes動畫專區開始-----------------------*/

@keyframes allin0 {
    0% {}
    100% {
        transform: translate(0);
    }
}















/*由上滑入*/

@keyframes top_slidein {
    0% {
        transform: translateY(-110%);
    }
    100% {
        transform: translateY(0);
    }
}







/*由上滑入加淡入*/

@keyframes top_slidein_op {
    0% {
        transform: translateY(-105%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}








/*由下滑入*/

@keyframes bottom_slidein {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}









/*由下滑入加淡入*/

@keyframes bt_slidein_op {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}








/*由左滑入*/

@keyframes left_slidein {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}










/*由右滑入*/

@keyframes right_slidein {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}











/*向上滑出*/

@keyframes slideTopOut {
    0% {}
    100% {
        transform: translateY(-101%);
    }
}











/*向右滑出*/

@keyframes slideRightOut {
    0% {}
    100% {
        transform: translateX(100%);
    }
}












/*向左滑出*/

@keyframes slideLeftOut {
    0% {}
    100% {
        transform: translateX(-100%);
    }
}
















/*寬度縮為0*/

@keyframes width0 {
    0% {}
    100% {
        width: 0%;
    }
}
















/*---------------keyframes動畫專區結束-----------------------*/


/*---------------動畫keyframe-----------------------------------------------------*/


/*---------------header開始----------------------------------------------------------*/

header {
    position: relative;
    width: 100vw;
}

nav {
    width: 100%;
    height: 85px;
    background-color: #fff;
    position: relative;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
}

.nav_left,
.nav_right {
    animation: top_slidein 1.2s ease both .5s;
}

.nav_left {
    display: flex;
    position: absolute;
    left: 3vw;
    top: 0;
}

.navmenu_bg {
    width: 130px;
    height: 130px;
    background-color: #6f0064;
    cursor: pointer;
}

.navmenu {
    margin-top: 50px;
}

.navmenu div {
    width: 35px;
    height: 15px;
    margin: auto;
    position: relative;
}

.navmenu div span {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #aed0ee;
    transition: all .5s ease;
}

.navmenu div span:nth-child(1) {
    top: 0
}

.navmenu div span:nth-child(2) {
    top: calc(50% - 1px);
}

.navmenu div:hover span:nth-child(2) {
    width: 60%;
    transition: all .5s ease;
}

.navmenu div span:nth-child(3) {
    bottom: 0px;
}

.navmenu p {
    margin-top: 12px;
    text-align: center;
    color: #fff;
    font-family: 'JosefinSans-Bold';
    font-size: .75rem;
    letter-spacing: .5px;
}



.navlogo {
    width: 180px;
    height: 85px;
    position: relative;
}

.navlogo img {
    margin-top: 12px;
    margin-left: 20px;
    width: 140px;
}

.navlogo img:nth-child(2) {
    display: none;
}



























/*.nav_right*/

.nav_right {
    display: inline-flex;
    position: absolute;
    top: 0;
    right: 3vw;
}

.nav_right ul {
    margin-top: 40px;
}

.nav_right ul li {
    display: inline-block;
    margin-left: 25px;
}

.nav_right p {
    color: #000;
    font-family: '微軟正黑體';
    font-size: .875rem;
    letter-spacing: 1px;
}

.nav_right p:after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #6f0064;
    margin-top: 5px;
    margin-left: 50%;
    transition: all .5s ease;
}

.nav_right p:hover:after {
    width: 100%;
    margin-left: 0;
    transition: all .5s ease;
}

.nav_favorite {
    display: none;
}


.navfloat {
    display: flex;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    transition: all .8s ease;
}

.navfloat.fixed {
    transform: translateY(0);
    transition: all 1s ease;
}

.menu_bg {
    width: 90px;
    height: 90px;
    background-color: #6f0064;
    padding-top: 25px;
    cursor: pointer;
}



.menu div {
    width: 35px;
    height: 15px;
    margin: auto;
    position: relative;
}

.menu div span {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #aed0ee;
    transition: all .5s ease;
}

.menu div span:nth-child(1) {
    top: 0
}

.menu div span:nth-child(2) {
    top: calc(50% - 1px);
}

.menu div:hover span:nth-child(2) {
    width: 60%;
    transition: all .5s ease;
}

.menu div span:nth-child(3) {
    bottom: 0px;
}

.menu p {
    margin-top: 12px;
    text-align: center;
    color: #fff;
    font-family: 'JosefinSans-Bold';
    font-size: .75rem;
    letter-spacing: .5px;
}

.menulogo {
    width: 90px;
    height: 90px;
    background-color: #fff;
    text-align: center;
    padding: 5px;
}

.menulogo img {
    width: auto;
    height: 100%;
}

.menulogo img:nth-child(2) {
    display: none;
}





























/*---------------header結束----------------------------------------------------------*/


/*---------------footer開始--------------------------------------------------------*/

footer,.footer {
    position: relative;
    padding-top: 220px;
    height: auto !important;
}


.ft_slideup {
    position: absolute;
    width: 50px;
    top: 110px;
    left: calc(50% - 25px);
    font-size: 2.75rem;
    color: #95338b;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

































/*.ft_inf-----------*/

.ft_inf {
    display: flex;
    justify-content: space-between;
    max-width: 1340px;
    margin: auto;
}

.ft_inf h3 {
    color: #62195b;
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    font-weight: bold;
}

.ft_inf h3 p:nth-child(1) {
    font-size: 1.125rem;
    font-family: 'JosefinSans-Bold';
    letter-spacing: 1px;
    margin-right: 5px;
}

.ft_inf h3 p:nth-child(2) {
    font-size: 1.125rem;
    font-family: '微軟正黑體';
    letter-spacing: 1px;
}

.ft_left,
.ft_right {
    width: calc(50% - 1px);
    padding-left: 80PX;
    background-color: #f0f0f0;
}
































/*經銷商下拉式表格 開始------------------------*/

.ft_dropdown {
    width: 86%;
    height: 50px;
    background-color: #fff;
    margin-top: 30px;
}

.dropdown {
    width: 100%;
    display: block;
    position: relative;
    text-align: center;
    z-index: 1;
}


.selectClick,
.dropdown ul li {
    display: block;
    width: 100%;
    text-align: left;
    padding: 0 20px;
    font-size: .875rem;
    letter-spacing: 1px;
}

.selectClick {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.selectClick:after {
    font-family: 'icomoon';
    content: "\e904";
    font-size: .75rem;
    color: #000;
    transition: all .4s ease;
}

.selectClick.open:after {
    transform: rotateX(180deg);
    color: #fff;
    transition: all .4s ease;
}



.selectClick.open {
    background-color: #333333;
    color: #fff;
    border-radius: 3px;
}

.dropdown ul {
    display: none;
    width: 100%;
    margin-top: 1px;
    height: 200px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .1);
}

.dropdown ul li {
    width: 100%;
    height: 50px;
    margin-right: 0;
}

.dropdown ul li:not(:first-child) {
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.dropdown ul li:hover {
    background-color: #666666;
    color: #fff;
}

.dropdown ul li.active:after {
    display: none;
}

.dropdown ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all 0s;
}

.dropdown .mCSB_inside>.mCSB_container {
    margin-right: 0;
}

.dropdown .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    /*background-color: #a5a4a4;*/
}


























/*
.dropdown .selected,
.dropdown li {
    font-family: "微軟正黑體";
    font-size: .875rem;
    padding: 18px 20px;
}

.dropdown li.focus {
    background-color: rgba(111, 0, 100, .8);
}

.dropdown .carat {
    transition: all .3s ease;
    border-bottom: none;
}

.dropdown.open .carat {
    margin-top: -4px;
    border-top: 8px solid #000;
    border-bottom: none;
    transform: rotate(180deg);
    transition: all .3s ease;
}
*/


/*經銷商下拉式表格 結束------------------------*/


/*追蹤社群媒體*/

.ft_right {}

.social_media {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 25px 0 35px 0;
}

.ft_right .icon-facebook:before,
.ft_right .icon-youtube:before {
    display: inline-block;
    background-color: #fff;
    text-align: center;
    padding: 17px;
    border-radius: 50%;
}

.icon-facebook p,
.icon-youtube p {
    display: inline-block;
    font-family: '微軟正黑體';
    font-size: .875rem;
    margin-left: 12px;
    letter-spacing: .5px;
}

.icon-youtube p:nth-child(1) {
    font-family: 'MyriadPro-Regular';
}
































/*.ft_down-------------------------*/

.ft_down {
    text-align: center;
    margin-top: 60px;
}

.ft_down ul li {
    display: inline-flex;
    padding-right: 15px
}

.ft_down ul li:last-child {
    padding-right: 0
}

.ft_down ul li:after {
    content: "";
    display: block;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #000;
    margin-left: 15px;
    margin-top: 8px;
}

.ft_down ul li:last-child:after {
    display: none;
}

.ft_down ul li p {
    font-family: '微軟正黑體';
    font-size: 1rem;
    letter-spacing: 1px;
    transition: all .5s ease;
}

.ft_down ul li:hover p {
    color: #7a006e;
}

.ft_down ul li p:after {
    content: "";
    display: block;
    width: 0%;
    height: 3px;
    background-color: #7a006e;
    margin-top: 5px;
    margin-left: 50%;
    transition: all .5s ease;
}

.ft_down ul li:hover p:after {
    margin-left: 0;
    width: 100%;
    transition: all .5s ease;
}
































/*.copyright----------*/

.copyright {
    text-align: center;
    padding: 50px 0;
}

.copyright ul li {
    display: inline-block;
    margin: 0 13px;
    cursor: pointer;
}

.copyright ul li p {
    font-family: '微軟正黑體';
    font-size: .875rem;
}

.copyright>p {
    color: #999999;
    font-family: 'MyriadPro-Regular';
    font-size: .75rem;
    letter-spacing: .5px;
    margin-top: 12px;
}
































/*---------------footer結束--------------------------------------------------------*/


/*---------max-width: 1024px--------------------------------------------------------*/

@media only screen and (max-width: 1024px) {
    /*-----------header開始---------------------*/
    nav {
        height: 60px;
    }

    .nav_left {
        left: 0;
    }

    .navmenu_bg {
        width: 80px;
        height: 80px;
    }

    .navmenu {
        margin-top: calc(50% - 20px);
    }

    .navmenu div {
        width: 25px;
        height: 15px;
    }

    .navlogo img {
        width: 40px;
        margin: 10px;
    }

    .navlogo img:nth-child(1) {
        display: none;
    }

    .navlogo img:nth-child(2) {
        display: block;
    }

    .nav_right ul {
        display: none;
    }

    .nav_favorite {
        display: block;
        margin-top: 22.5px;
        font-size: .75rem;
    }

    .nav_favorite p {
        display: inline-block;
        margin-right: 10px;
        letter-spacing: 1px;
    }

    /*浮動nav設定*/
    .menu_bg {
        width: 60px;
        height: 60px;
        padding-top: 13px;
    }

    .menu div {
        width: 25px;
        height: 15px;
    }

    .menu p {
        margin-top: 10px;
    }

    .menulogo {
        width: 60px;
        height: 60px;
    }

    .menulogo img:nth-child(1) {
        display: none;
    }

    .menulogo img:nth-child(2) {
        display: block;
    }

    /*-----------header結束---------------------*/
    /*-----------footer開始---------------------*/
    footer,.footer {
        background-color: #f0f0f0;
        padding-top: 70px;
    }

    .ft_slideup {
        top: -20px;
    }

    .ft_inf {
        padding-top: 80px;
    }

    .ft_inf h3 {
        display: none;
    }

    .ft_left,
    .ft_right {
        width: 50%;
        padding-left: 0;
    }
    /*.ft_left*/
    .ft_left {
        padding-left: 40px;
    }

    .ft_dropdown {
        margin-top: 0;
        height: 40px;
        width: 100%;
    }
    /*下拉式選單開始--------*/
    .dropdown {
        width: 100%;
        /*將原本的值歸零*/
        margin-top: 0;
    }

    .selectClick,
    .dropdown ul li {
        text-align: center;
        height: 40px;
    }

    .dropdown ul {
        max-height: 120px;
    }

    .dropdown ul li a {
        justify-content: center;
    }

    .selectClick {
        width: 100%;
        text-align: center;
        letter-spacing: 1px;
        color: #7a006e;
        font-weight: bold;
        display: block;
        padding: 12px 5px;
    }

    .ft_dropdown .selectClick:after {
        display: none;
    }

    /*下拉式選單結束--------*/
    /*.ft_right*/
    .social_media {
        /*將原本的值歸零*/
        width: 100%;
        justify-content: flex-end;
        margin: 0;
        padding-right: 40px;
    }

    .ft_right .icon-facebook:before,
    .ft_right .icon-youtube:before {
        padding: 15px;
    }

    .ft_right .icon-facebook:before {
        margin-right: 10px;
    }

    .ft_right .social_media p {
        display: none;
    }

    .ft_down {
        margin-top: 35px;
    }

    .copyright ul {
        display: none;
    }

    .copyright {
        padding: 30px 10px;
    }

    .copyright>p {
        line-height: 1.5;
    }
    /*-----------footer結束---------------------*/
}






















/*隱私權政策內頁開始--------------------------------------------------------------*/

.privacy {
    opacity: 0;
    width: 0%;
    height: 100%;
    position: fixed;
    z-index: 99999999;
    top: 0;
    right: 0;
    overflow: hidden;
    background-color: #fff;
}

.privacy_close {
    display: none;
    width: 100px;
    height: 100px;
    background-color: #6f0064;
    position: fixed;
    padding-top: 35px;
    z-index: 2;
    cursor: pointer;
}


.privacy_close div {
    width: 20px;
    height: 20px;
    margin: auto;
    position: relative;
    transform: rotate(45deg);
}

.privacy_close div span {
    display: block;
    background-color: #fff;
    position: absolute;
}

.privacy_close div span:nth-child(1) {
    width: 1px;
    height: 100%;
    left: calc(50% - 1px);
    top: 0;
}

.privacy_close div span:nth-child(2) {
    width: 100%;
    height: 1px;
    left: 0;
    top: calc(50% - 1px);
}

.privacy_close p {
    font-size: .75rem;
    color: #fff;
    font-family: 'JosefinSans-Bold';
    letter-spacing: .5px;
    margin-top: 5px;
    text-align: center;
}

.privacy_content {
    margin: 60px 4vw 65px 4vw;
    padding: 190px 18vw 180px 18vw;
    background-color: #f9f9f9;
}


.privacy_title {
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.5;
    overflow: hidden;
}

.privacy_title h2 {
    font-size: 3rem;
    font-family: 'JosefinSans-Bold';
}

.privacy_title p {
    font-size: 1.25rem;
}

.rules {
    margin-top: 75px;
}

.rule_bg {
    position: relative;
    overflow: hidden;
}

.rule_bg:not(:last-child):after {
    content: "";
    display: block;
    height: 1px;
    width: 0%;
    background-color: #e2e2e2;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .5s ease .3s
}

.rule {
    padding: 45px 0;
    transform: translateX(-100%);
}


.rule_title {
    letter-spacing: 1px;
    line-height: 1.5;
}

.rule_title h2 {
    font-family: 'MyriadPro-Regular';
    color: #6f0064;
    display: inline-block;
    font-size: 1.5rem;
}

.rule_title h3 {
    display: inline-block;
    font-size: 1.5rem;
}

.rule_text {
    margin-top: 45px;
}

.rule_text p {
    font-size: .875rem;
    letter-spacing: 1px;
    line-height: 2;
}





















/*進場動畫*/

.privacy.open {
    opacity: 1;
    width: 100%;
    transition: all .8s ease;
}

.open .privacy_close {
    animation: top_slidein .8s both .8s;
    right: 1rem;
    display: block;
}

.open .privacy_title div {
    animation: top_slidein .8s both 1.3s;
}

.open .rule {
    transform: translate(0%);
    transition: all .8s ease;
    transition-delay: 1s;
    /*animation: left_slidein .8s both 1s;*/
}

.open .rule_bg:not(:last-child):after {
    width: 100%;
    transition: all .8s ease .8s;
}
















/*退場動畫*/

.privacy.close {
    opacity: 0;
    width: 0%;
    transition: all .8s ease 1s;
}

.close .privacy_close {
    animation: slideTopOut .5s both;
    right: 0;
    display: block;
}

.close .privacy_title div {
    animation: slideTopOut .5s both;
}

.close .rule {
    transform: translate(-100%);
    transition: all .5s ease .5s;
    /*animation: slideLeftOut .5s both .5s;*/
}

.close .rule_bg:not(:last-child):after {
    animation: width0 .5s both .3s;
}




@media only screen and (max-width: 1024px) {

    .privacy {
        width: 100%;
        height: 0%;
    }



    .privacy.close {
        height: 0%;
        width: 100%;
        transition: all .8s ease .8s;
    }

    .privacy_close {
        width: 70px;
        height: 70px;
        padding-top: 20px;
    }

    .privacy_content {
        padding: 0 20px;
        padding-top: 12vh;
        margin: 30px 0 45px 0;
    }

    .rules {
        margin-top: 5vh;
    }

    .rule_bg:not(:last-child):after {
        content: "";
        display: block;
        height: 1px;
        width: 0%;
        background-color: #e2e2e2;
        position: absolute;
        bottom: 0;
        left: 50%;
    }

    .open .rule {
        transform: translateY(-100%);
    }

    .rule_text {
        margin-top: 5vh;
    }

    .rule_title h2 {
        font-size: 1.25rem;
    }

    .rule_title h3 {
        font-size: 1.25rem;
    }



    /*進場動畫*/
    .open .rule_bg:not(:last-child):after {
        width: 100%;
        left: 0;
        transition: all .8s ease .8s;
    }

    .open .privacy_close {
        right: 0;
    }


    /*退場動畫*/
    .privacy.open {
        height: 100%;
        width: 100%;
        transition: all .8s ease;
    }

    .close .rule {
        animation: slideTopOut .5s both .5s;
    }

    .close .rule_bg:not(:last-child):after {
        animation: width0 .5s both .3s;
    }
}















/*隱私權政策內頁結束--------------------------------------------------------------*/


/*隱藏選單設定開始--------------------------------------------------------------*/

.hiden_menu {
    display: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .45);
    z-index: 3;
}


.bar_bg {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
}


.bar {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 8vh;
}

.bar_close_bg {
    position: absolute;
    left: 100%;
    top: 0;
    overflow: hidden;
}

.bar_close {
    width: 100px;
    height: 100px;
    background-color: #6f0064;
    padding-top: 35px;
    cursor: pointer;
}

.open .bar_close {
    transform: translateX(-100%);
}

.bar_close div {
    width: 20px;
    height: 20px;
    margin: auto;
    position: relative;
    transform: rotate(45deg);
}


.bar_close div span {
    display: block;
    background-color: #fff;
    position: absolute;
}

.bar_close div span:nth-child(1) {
    width: 1px;
    height: 100%;
    left: calc(50% - 1px);
    top: 0;
}

.bar_close div span:nth-child(2) {
    width: 100%;
    height: 1px;
    left: 0;
    top: calc(50% - 1px);
}

.bar_close p {
    text-align: center;
    font-family: 'JosefinSans-Bold';
    font-size: .75rem;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 8px;
}

.bar_logo {
    text-align: center;
    overflow: hidden;
}

.bar_logo img {
    width: 74px;
    height: 90px;
}

.open .bar_logo img {
    opacity: 0;
    transform: scale(0);
}

.bar_list {
    /*margin-top: 14vh;*/
    margin-top: 14%;
}


.bar_list ul li {
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    padding-top: 10px;
}

.open .bar_list ul li {
    opacity: 0;
}

.bar_list ul li:not(:last-child) {
    margin-bottom: 5px;
}

.bar_list ul li:not(:first-child) {
    margin-top: 5px;
}

.bar_list ul li p {
    text-align: center;
    font-size: .875rem;
    letter-spacing: 1px;
    line-height: 1.5;
    transition: all .4s ease .4s;
}

.bar_list ul li:hover p {
    transform: translateY(120%);
    transition: all .4s ease;
}

.bar_list ul li h2 {
    margin-top: -25px;
    font-family: 'MyriadPro-Regular';
    font-size: 1.875rem;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    transform: translateY(-120%);
    transition: all .4s ease
}

.bar_list ul li:hover h2 {
    transform: translateY(0%);
    transition: all .4s ease .4s
}

.bar_media {
    margin-top: 5vh;
    color: #6f0064;
    font-size: 1rem;
    overflow: hidden;
}

.bar_media div {
    display: flex;
    justify-content: center;
}

.bar_media span {
    display: block;
    border: 1px solid #cccccc;
    padding: 7px;
    /*margin: -0.5px;*/
    transition: all .5s ease;
}

.bar_media span:hover {
    border: 1px solid #6f0064;
    transition: all .5s ease;
}

.bar_ft {
    /*margin-top: 12vh;*/
    margin-top: 8vh;
    display: flex;
    overflow: hidden;
}

.bar_ft ul {
    margin: auto;
}

.open .bar_ft ul {
    transform: translateY(100%);
}

.bar_ft ul li {
    display: inline-flex;
    margin: 0 10px;
    cursor: pointer;
}

.bar_ft ul li p {
    font-weight: bold;
    font-size: .875rem;
    letter-spacing: 1px;
    transition: all .5s ease;
}

.bar_ft ul li:hover p {
    color: #61205b;
    transition: all .5s ease;
}

.bar_ft ul li p:after {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #61205b;
    margin-top: 10px;
    margin-left: 50%;
    transition: all .5s ease;
}

.bar_ft ul li:hover p:after {
    width: 100%;
    margin-left: 0;
    transition: all .5s ease;
}






















/*進場動畫*/

.hiden_menu.open {
    display: block;
    animation: opacity1 .2s forwards;
}

.open .bar_bg {
    animation: bar_bgIn .8s both;
}

.open .bar_close {
    animation: allin0 .5s both .6s
}

.open .bar_logo img {
    animation: zoomIn .8s both .8s;
}













/*.bar_list ul li    ↓↓↓↓↓*/

.open .bar_list ul li:nth-child(1) {
    animation: fadeIn 1s both 1s;
}

.open .bar_list ul li:nth-child(2) {
    animation: fadeIn 1s both 1.1s;
}

.open .bar_list ul li:nth-child(3) {
    animation: fadeIn 1s both 1.2s;
}

.open .bar_list ul li:nth-child(4) {
    animation: fadeIn 1s both 1.3s;
}

.open .bar_list ul li:nth-child(5) {
    animation: fadeIn 1s both 1.4s;
}

.open .bar_list ul li:nth-child(6) {
    animation: fadeIn 1s both 1.5s;
}

.open .bar_list ul li:nth-child(7) {
    animation: fadeIn 1s both 1.6s;
}

.open .bar_list ul li:nth-child(8) {
    animation: fadeIn 1s both 1.7s;
}











/*.bar_list ul li    ↑↑↑↑↑*/

.open .bar_media div {
    animation: bottom_slidein .8s both 1.8s
}

.open .bar_ft ul {
    animation: top_slidein .8s both 1.8s
}

@keyframes opacity1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes bar_bgIn {
    0% {
        opacity: 0;
        width: 0;
    }
    100% {
        opacity: 1;
        width: 260px;
    }
}














/*退場動畫*/

.hiden_menu.close {
    display: block;
    animation: opacity0 .2s both 1s;
}



.close .bar_bg {
    animation: bar_bgOut .5s both .4s;
}

.close .bar_close {
    animation: slideLeftOut .5s forwards;
}

.close .bar_logo img {
    animation: slideTopOut .5s forwards;
}

.close .bar_list ul li p {
    animation: slideTopOut150 .5s forwards;
}

.close .bar_media div {
    animation: slideTopOut .5s forwards;
}

.close .bar_ft ul {
    animation: slideTopOut .5s forwards;
}

@keyframes opacity0 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes bar_bgOut {
    0% {
        opacity: 1;
        width: 260px;
    }
    100% {
        opacity: 0;
        width: 0px;
    }
}


@keyframes slideTopOut150 {
    0% {}
    100% {
        transform: translateY(-150%);
    }
}


@media only screen and (max-width: 1024px) {
    .hiden_menu {
        background-color: rgba(0, 0, 0, 0);
    }

    .bar {
        overflow: scroll;
    }

    .bar_bg {
        width: 100%;
        height: 0;
    }

    .bar_close_bg {
        left: 0;
    }

    .bar_close {
        width: 80px;
        height: 80px;
        padding-top: 25px;
    }

    .bar_logo img {
        width: 58px;
        height: 70px;
    }

    .bar_list {
        margin-top: 9vh;
    }

    .bar_list ul li:not(.wish) p:after {
        display: none;
    }

    .bar_media {
        margin-top: 3vh;
    }

    .bar_ft {
        margin-top: 10.5vh;
    }

    /*進場動畫*/
    @keyframes bar_bgIn {
        0% {
            opacity: 0;
            height: 0;
        }
        100% {
            opacity: 1;
            height: 100%;
        }
    }

    /*退場動畫*/
    @keyframes bar_bgOut {
        0% {
            opacity: 1;
            height: 100%;
        }
        100% {
            opacity: 0;
            height: 0px;
        }
    }
}










/*隱藏選單設定結束--------------------------------------------------------------*/


/*轉場動畫*/
/* 
.cgbg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 9999999;
}

.cgbox {
    width: 25%;
    height: 33.33333%;
    background-color: #fff;
    animation: cgboxRotate .6s both;
    transform: rotate3d(1, 1, 0, -90deg);
}



.cgbox:nth-child(3n) {
    animation-delay: 0s;
}

.cgbox:nth-child(3n+1) {
    animation-delay: .2s;
}

.cgbox:nth-child(3n+2) {
    animation-delay: .4s;
}


@keyframes cgboxRotate {
    0% {
        transform: rotate3d(1, 1, 0, -90deg);
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        transform: rotate3d(1, 1, 0, 0deg);
    }
}

@media only screen and (max-aspect-ratio: 5 / 5) {
    .cgbox {
        width: 33.33333%;
        height: 25%;
    }
    .cgbox:nth-child(4n) {
        animation-delay: 0s;
    }

    .cgbox:nth-child(4n+1) {
        animation-delay: .2s;
    }

    .cgbox:nth-child(4n+2) {
        animation-delay: .4s;
    }
    .cgbox:nth-child(4n+3) {
        animation-delay: .6s;
    }
} */




/*轉場動畫*/

#cgbg1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: #6f0064;
    opacity: 0;
}

#cgbg2 {
    position: absolute;
    top: -2px;
    left:-1px;
    width: 101%;
    height:101%;
    z-index: 99999;
    background-color: #fff;
    transform: translateY(100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10vh 0;
    box-shadow: 0 0 10px 10px #fff;
}

#cgbg2 img{
    transform: translateY(100%);
    width: 200px;   
}

html {
    transition: all .6s;
}

body {
    transition: all .4s;
}

body.cgstart_rotate {
    transform: rotateY(90deg);
}

html.cgstart {
    transform: scale(.6);
}

.up #cgbg1{
    animation: fadeOut .2s ease both .2s;
}

.up #cgbg2{
    animation: cgbg2_up .4s ease both;
}

.up #cgbg2 img{
    animation: cgbg2_img_up 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}


@keyframes cgbg2_up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes cgbg2_img_up {
        0% {
        transform: translateY(200%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}