<div class="ft_top">
    <p>TOP</p>
</div>
<div class="ft_inf">
    <div class="ft_left">
        <p>Get Newsletter</p>
        <p>Be the first to receive the latest Villa32 news.</p>
        <input type="button" value="subscription" class="footer_button">
    </div>
    <div class="ft_right">
        <p>Find 32</p>
        <ul>
            <li>32, Zhongshan Road, Taipei 112, Taiwan</li>
            <li><strong>T</strong> +886 2 6611 8888</li>
            <li><strong>F</strong> +886 2 6611 8888</li>
            <li><strong>M</strong> service@villa32.com</li>
        </ul>
    </div>
</div>
<div class="ft_logo"><span class="icon-LOGO1"></span><span class="icon-LOGO2"></span></div>
<div class="ft_bottom">
    <ul>
        <li>
            <a href="javascript:void(0);">
                <p>RESERVATION 32</p>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                <p class="_contact">CONATCT 32</p>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                <p>PRIVACY POLICY</p>
            </a>
        </li>
         <li>
            <a href="javascript:void(0);">
                <p>CAREER</p>
            </a>
        </li>
         <li>
            <a href="javascript:void(0);">
                <p>ABOUT 32</p>
            </a>
        </li>
    </ul>
</div>
<div class="copyright">
    <p>THE WHOLE HALL ONLY ENTERTAIN GUESTS OVER 16 YEARS OLD
        <br>© VILLA 32 ALL RIGHTS RESERVED. DESIGHED BY WDD. </p>
</div>
<div class="subscription_bg">
    <div class="subscription">
        <div class="subscription_close">
            <span></span>
            <span></span>
        </div>
        <div class="subscription_box">
            <div class="subscription_title">
                <p>Subscription Villa32</p>
                <p>Be the first to receive the latest Villa 32 news, events and product updates. demo here, find gorgeous flamboyant signs, nor the magnificent decorative furnishings, each as building materials...</p>
            </div>
            <div class="_input">
                <input type="text" placeholder="enter your name">
                <span></span>
                <input type="text" placeholder="enter email account">
            </div>
            <div class="subscription_text">
                <div class="subscription_text_img">
                    <img src="../../assset/img/v.png">
                </div>
                <p>I agree to receive information and information about Villa32 marketing communications.</p>
            </div>
            <div class="subscription_button">
                <p>You have already subscripted</p>
                <input type="button" value="Subscription" class="sb_button">
            </div>
        </div>
    </div>
    <div class="thank">
        <div>
            <h5>Thank you!</h5>
            <p>You'll receive periodic updates from Villa 32 through the email you've provided. We will also send you news and invites to local events.</p>
            <input type="button" value="close">
        </div>
    </div>
</div>