<div class="ft_top">
    <p>TOP</p>
</div>
<div class="ft_inf">
    <div class="ft_left">
        <ul>
            <li>32, Zhongshan Road, Taipei 112, Taiwan</li>
            <li><strong>T</strong> +886 2 6611 8888</li>
            <li><strong>F</strong> +886 2 6611 8888</li>
            <li><strong>M</strong> service@villa32.com</li>
            <li>COPYRIGHT c villa 32 ALL RIGHTS RESERVED. designed by wdd.</li>
        </ul>
    </div>
    <div class="ft_right">
        <span class="icon-LOGO1"></span><span class="icon-LOGO2"></span>
    </div>
</div>