<article>
<div class="logo"><a href="../home/index.html"><h1>VILLA 32</h1><span class="icon-LOGO2"></span></a></div>
</article>
<article>
<nav>
    <!-- 隱藏選單開始///////////// -->
    <div class="navopen">
        <div class="navbox">
            <div class="navlogo"><a href="../home/index.html"><span class="icon-LOGO2"></span></a></div>
            <div class="navbox_list">
                <ul>
                    <li>
                        <a href="../hot_spring/index.html">
                            <p>Hot Spring</p>
                        </a>
                    </li>
                    <li>
                        <a href="../stay/index.html">
                            <p>Stay</p>
                        </a>
                    </li>
                    <li>
                        <a href="../cuisine/index.html">
                            <p>Cuisine</p>
                        </a>
                    </li>
                    <li>
                        <a href="../spa/index.html">
                            <p>SPA</p>
                        </a>
                    </li>
                    <li>
                        <a href="../meeting/index.html">
                            <p>Meeting</p>
                        </a>
                    </li>
                    <li>
                        <a href="../promotion/index.html">
                            <p>Promotions</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <p>Booking</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="navabout">
                <ul>
                    <li>
                        <a href="../about/index.html">
                            <p>ABOUT 32</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <p id="contact">CONTACT</p>
                        </a>
                    </li>
                </ul>
                <p>LANGUAGE</p>
            </div>
        </div>
    </div>
    <!-- 隱藏選單結束///////////// -->
    <div class="navopen_icon">
        <div>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="navleft">
        <ul>
            <li>
                <a href="../hot_spring/index.html">
                    <p>HOT SPRING</p>
                </a>
            </li>
            <li>
                <a href="../stay/index.html">
                    <p>STAY</p>
                </a>
            </li>
            <li>
                <a href="../cuisine/index.html">
                    <p>CUISINE</p>
                </a>
            </li>
            <li>
                <a href="../spa/index.html">
                    <p>SPA</p>
                </a>
            </li>
            <li>
                <a href="../meeting/index.html">
                    <p>MEETING</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="navright">
        <div>
            <a href="../promotion/index.html">
                <p>PROMOTIONS</p>
            </a>
        </div>
        <div>
            <a href="javascript:void(0);">
                <p>BOOKING</p>
            </a>
        </div>
        <div>
            <a href="javascript:void(0);">
                <p>LANGUAG</p>
            </a>
        </div>
    </div>
</nav>
</article>
<article>
<div class="hd_fixed">
    <div class="logo32"><a href="../home/index.html"><img src="../../assset/img/LOGO32.png"></a></div>
    <div class="navopen_icon">
        <div>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="navleft">
        <ul>
            <li>
                <a href="../hot_spring/index.html">
                    <p>HOT SPRING</p>
                </a>
            </li>
            <li>
                <a href="../stay/index.html">
                    <p>STAY</p>
                </a>
            </li>
            <li>
                <a href="../cuisine/index.html">
                    <p>CUISINE</p>
                </a>
            </li>
            <li>
                <a href="../spa/index.html">
                    <p>SPA</p>
                </a>
            </li>
            <li>
                <a href="../meeting/index.html">
                    <p>MEETING</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="navright">
        <div>
            <a href="../promotion/index.html">
                <p>PROMOTIONS</p>
            </a>
        </div>
        <div>
            <a href="javascript:void(0);">
                <p>BOOKING</p>
            </a>
        </div>
        <div>
            <a href="javascript:void(0);">
                <p>LANGUAG</p>
            </a>
        </div>
    </div>
</div>
</article>
<article>
<div class="contact">
    <div class="contact_img"><img src="../../assset/img/contact_img.jpg"></div>
    <div class="contact_text">
        <div class="contact_close">
            <span></span>
            <span></span>
        </div>
        <div class="text_box">
            <div class="box1_bg" style="overflow: hidden;">
                <div class="box1">
                    <h5>Contact</h5>
                    <p>If you have any inquiries and suggestions, </p>
                </div>
            </div>
            <div class="spliter">
                <span></span>
            </div>
            <div class="box2_bg" style="overflow: hidden;">
            <div class="box2">
                <p>LOCATION</p>
                <div>
                    <ul>
                        <li>
                            <p><strong>VILLA32</strong> 32, Zhongshan Road, Taipei 112, Taiwan </p>
                        </li>
                        <li>
                            <p><strong>t</strong> +886 2 6611 8888 </p>
                        </li>
                        <li>
                            <p><strong>F</strong> +886 2 6611 8888 </p>
                        </li>
                        <li>
                            <p><strong>M</strong> service@villa32.com</p>
                        </li>
                    </ul>
                    <img src="../../assset/img/landmark.jpg">
                </div>
            </div></div>
            <div class="spliter">
                <span></span>
            </div>
            <div class="box3_bg" style="overflow: hidden;">
            <div class="box3">
                <p>REQUEST</p>
                <ul>
                    <li>
                        <p>Name</p>
                        <input type="text">
                        <span></span>
                    </li>
                    <li>
                        <p>PHONE</p>
                        <input type="text">
                        <span></span>
                    </li>
                    <li>
                        <p>SUBJECT</p>
                        <input type="text">
                        <span></span>
                    </li>
                    <li>
                        <p>CONTENT</p>
                        <textarea></textarea>
                        <span></span>
                    </li>
                </ul>
            </div></div>
            <input type="button" value="send">
        </div>
    </div>
</div>
</article>