
<!-- 電子商品券-->
<div class="typeBox">
  <div class="dropDown topHeader">
    <div class="selectMenu">
      <p>108年 漢神百貨春季禮賓會</p>
    </div>
    <ul>
      <li>108年 漢神百貨春季禮賓會</li>
      <li>108年 精品Grand Opening</li>
      <li>109年 App會員獨享禮</li>
    </ul>
  </div>
  <div class="_title"> 
    <p class="red" data-before="電子商品券餘額 :" data-after="元">2,500</p>
    <p class="px16">(108/03/13 ~ 108/04/16 逾期作廢)</p>
  </div>
  <div class="box">
    <div class="select">
      <p class="active">兌換紀錄 </p>
      <p>使用紀錄</p>
      <p>使用簡則</p>
    </div>
    <div class="table">
      <!--兌換紀錄 -->
      <div class="listTable active">
        <div class="listhead">
          <div class="w245">
            <p>兌換日期</p>
          </div>
          <div class="w245">
            <p>商品券金額</p>
          </div>
          <div class="w150">
            <p>兌換明細</p>
          </div>
        </div>
        <div class="listbody">
          <div class="list">
            <div class="w245">
              <p>108/03/13</p>
            </div>
            <div class="w245">
              <p>1,000元</p>
            </div>
            <div class="w150">
              <button class="openIntro" type="button"><span></span></button>
            </div>
            <div class="intro">
              <!-- 活動名稱-->
              <div class="name">
                <h6>活動名稱</h6>
                <p>3/15~3/18 精品加碼送 刷同一卡滿5萬送2,500元電子商品券</p>
              </div>
              <!-- 發票內容-->
              <ul class="invoice">
                <li>
                  <div class="numb">
                    <h6>發票號碼</h6>
                    <p>NH51109059</p>
                  </div>
                  <div class="price">
                    <h6>活動兌換金額</h6>
                    <p>40,001元</p>
                  </div>
                </li>
              </ul>
              <!-- 小計-->
              <div class="subtotal">
                <h6>活動兌換金額小計</h6>
                <p>40,001元</p>
              </div>
            </div>
          </div>
          <div class="list">
            <div class="w245">
              <p>108/03/13</p>
            </div>
            <div class="w245">
              <p>1,000元</p>
            </div>
            <div class="w150">
              <button class="openIntro" type="button"><span></span></button>
            </div>
            <div class="intro">
              <!-- 活動名稱-->
              <div class="name">
                <h6>活動名稱</h6>
                <p>3/15~3/18 精品加碼送 刷同一卡滿5萬送2,500元電子商品券</p>
              </div>
              <!-- 發票內容-->
              <ul class="invoice">
                <li>
                  <div class="numb">
                    <h6>發票號碼</h6>
                    <p>NH51109059</p>
                  </div>
                  <div class="price">
                    <h6>活動兌換金額</h6>
                    <p>40,001元</p>
                  </div>
                </li>
              </ul>
              <!-- 小計-->
              <div class="subtotal">
                <h6>活動兌換金額小計</h6>
                <p>40,001元</p>
              </div>
            </div>
          </div>
          <div class="list">
            <div class="w245">
              <p>108/03/13</p>
            </div>
            <div class="w245">
              <p>1,000元</p>
            </div>
            <div class="w150">
              <button class="openIntro" type="button"><span></span></button>
            </div>
            <div class="intro">
              <!-- 活動名稱-->
              <div class="name">
                <h6>活動名稱</h6>
                <p>3/15~3/18 精品加碼送 刷同一卡滿5萬送2,500元電子商品券</p>
              </div>
              <!-- 發票內容-->
              <ul class="invoice">
                <li>
                  <div class="numb">
                    <h6>發票號碼</h6>
                    <p>NH51109059</p>
                  </div>
                  <div class="price">
                    <h6>活動兌換金額</h6>
                    <p>40,001元</p>
                  </div>
                </li>
              </ul>
              <!-- 小計-->
              <div class="subtotal">
                <h6>活動兌換金額小計</h6>
                <p>40,001元</p>
              </div>
            </div>
          </div>
          <div class="list">
            <div class="w245">
              <p>108/03/13</p>
            </div>
            <div class="w245">
              <p>1,000元</p>
            </div>
            <div class="w150">
              <button class="openIntro" type="button"><span></span></button>
            </div>
            <div class="intro">
              <!-- 活動名稱-->
              <div class="name">
                <h6>活動名稱</h6>
                <p>3/15~3/18 精品加碼送 刷同一卡滿5萬送2,500元電子商品券</p>
              </div>
              <!-- 發票內容-->
              <ul class="invoice">
                <li>
                  <div class="numb">
                    <h6>發票號碼</h6>
                    <p>NH51109059</p>
                  </div>
                  <div class="price">
                    <h6>活動兌換金額</h6>
                    <p>40,001元</p>
                  </div>
                </li>
              </ul>
              <!-- 小計-->
              <div class="subtotal">
                <h6>活動兌換金額小計</h6>
                <p>40,001元</p>
              </div>
            </div>
          </div>
          <div class="list">
            <div class="w245">
              <p>108/03/13</p>
            </div>
            <div class="w245">
              <p>1,000元</p>
            </div>
            <div class="w150">
              <button class="openIntro" type="button"><span></span></button>
            </div>
            <div class="intro">
              <!-- 活動名稱-->
              <div class="name">
                <h6>活動名稱</h6>
                <p>3/15~3/18 精品加碼送 刷同一卡滿5萬送2,500元電子商品券</p>
              </div>
              <!-- 發票內容-->
              <ul class="invoice">
                <li>
                  <div class="numb">
                    <h6>發票號碼</h6>
                    <p>NH51109059</p>
                  </div>
                  <div class="price">
                    <h6>活動兌換金額</h6>
                    <p>40,001元</p>
                  </div>
                </li>
              </ul>
              <!-- 小計-->
              <div class="subtotal">
                <h6>活動兌換金額小計</h6>
                <p>40,001元</p>
              </div>
            </div>
          </div>
        </div>
        <!-- 總計-->
        <div class="total">
          <div class="w245">
            <p>合計</p>
          </div>
          <div class="w245">
            <p>1,500元</p>
          </div>
          <div class="w150">
            <!--空值 佔位置用的-->
          </div>
        </div>
      </div>
      <!-- 使用紀錄-->
      <div class="listTable">
        <div class="listhead">
          <div class="w245">
            <p>使用日期</p>
          </div>
          <div class="w245">
            <p>發票號碼</p>
          </div>
          <div class="w150">
            <p>電子商品卷</p>
          </div>
        </div>
        <div class="listbody">
          <div class="list">
            <div class="w245">
              <p>108/04/07</p>
            </div>
            <div class="w245">
              <p>NH51206536</p>
            </div>
            <div class="w150">
              <p>1,000元</p>
            </div>
          </div>
          <div class="list">
            <div class="w245">
              <p>108/04/15</p>
            </div>
            <div class="w245">
              <p>NS54706627</p>
            </div>
            <div class="w150">
              <p>230元</p>
            </div>
          </div>
        </div>
        <!-- 總計-->
        <div class="total">
          <div class="w245">
            <p>合計</p>
          </div>
          <div class="w245">
            <!--空值 佔位置用的-->
          </div>
          <div class="w150">
            <p>1,230元</p>
          </div>
        </div>
      </div>
      <!-- 使用簡則-->
      <div class="rule">
        <div>
          <p>本券為無償取得商品券，可換同等金額商品，但不找零、兌換現金及抵付欠款。本券兌換商品不需開立發票，不計入消費停車券，亦不參加集點。</p>
        </div>
        <div>
          <p>本券遺失、被竊、滅失恕不掛失或補發。本券逾期、塗改均無效，偽造本券依法追究。 </p>
        </div>
        <div>
          <p>本券於漢神百貨不得兌換下列專櫃商品：精品店、點睛品、超市、丸龜製麵、星巴克儲值。</p>
        </div>
        <div>
          <p>以上不得兌換之專櫃如有變動，以現場標示或官網公告為準。</p>
        </div>
        <div>
          <p>若有疑問請洽本公司服務台及卡友服務中心。</p>
        </div>
      </div>
      <div class="noActivity"><span class="icon-alert"></span>
        <p>抱歉，目前無紀錄可供查詢</p>
      </div>
    </div>
  </div>
</div>
<div class="noActivity"><span class="icon-alert"></span>
  <p>抱歉，目前無檔期活動可供查詢</p>
</div>