.slick-dotted.slick-slider
    margin-bottom: 0px

.slick_dot_style
    position: absolute
    top: 0
    right: 0
    display: block
    width: 100%
    padding: 0
    margin: 0
    list-style: none
    text-align: center
    li
        position: relative
        display: inline-block
        width: 20px
        height: 20px
        margin: 0 5px
        padding: 0
        cursor: pointer
        button
            font-size: 0
            line-height: 0
            display: block
            width: 20px
            height: 20px
            padding: 5px
            cursor: pointer
            color: transparent
            border: 0
            outline: none
            background: transparent
            &:hover,&:focus
                outline: none
                &:before,
                    opacity: 1
            &:before
                font-family: 'slick'
                font-size: 1px
                line-height: 20px
                position: absolute
                top: 0
                left: 0
                width: 4px
                height: 4px
                content: ''
                background: #000
                border-radius: 50%
                text-align: center
                opacity: .25
                color: black
                -webkit-font-smoothing: antialiased
                -moz-osx-font-smoothing: grayscale

.slick_dot_style li.slick-active button:before
    opacity: .75
    color: black


.slick_dot_style_banner
    display: block
    width: 100%
    padding: 0
    margin: 0
    list-style: none
    text-align: center
    li
        position: relative
        display: block
        width: 20px
        height: 20px
        margin: 0 5px
        padding: 0
        cursor: pointer
        button
            font-size: 0
            line-height: 0
            display: block
            width: 20px
            height: 20px
            padding: 5px
            margin: 10px
            cursor: pointer
            color: transparent
            border: 0
            outline: none
            background: transparent
            &:hover,&:focus
                outline: none
                &:before,
                    opacity: 1
            &:before
                font-family: 'slick'
                font-size: 1px
                line-height: 20px
                position: absolute
                top: calc(50% - 2px)
                left: calc(50% - 2px)
                width: 4px
                height: 4px
                content: ''
                background: #ccc
                border-radius: 50%
                text-align: center
                opacity: .75
                color: black
                -webkit-font-smoothing: antialiased
                -moz-osx-font-smoothing: grayscale

.slick_dot_style_banner li.slick-active button:before
    opacity: 1
    color: black
    background: #000
    