<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <meta name="format-detection" content="telephone=no">
    <title>TECOEP</title>
    <link rel="stylesheet" href="../../assets/js/vendor/cgpagechange/cgpagechange.css">
    <link rel="stylesheet" href="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="../../assets/js/vendor/slick/slick.css">
    <link rel="stylesheet" href="../../assets/js/vendor/slick/slick-theme.css">
    <!-- 共用CSS end-->
    <!-- 非共用CSS -->
    <!-- 非共用CSS end-->
    <link rel="stylesheet" href="../../assets/css/employee/index.css">
</head>

<body id="employee" class="index">
    <main>
        <article class="_text">
            <div class="logo">
                <img src="../../upload/f2e/employee/index/logo_210_50.png" alt="">
            </div>
            <h2>東元電機   EIP系統</h2>
            <h3>使用須知</h3>
            <ul>
                <li>
                    <span>1.</span>
                    <p>僅東元員工可註冊會議室</p>
                </li>
                <li>
                    <span>2.</span>
                    <p>東元員工已預約會議室，若臨時不使用，請借用 人上線至會議室預約系統刪除。</p>
                </li>
                <li>
                    <span>3.</span>
                    <p>東元員工如已預約會議室，想要更改時間，須刪 除該筆資料再重新預約。</p>
                </li>
                <li>
                    <span>4.</span>
                    <p>會議室預約以一個月為期限，超過一個月後則無法預約。</p>
                </li>
            </ul>
        </article>
        <article class="form">
            <form action="">
                <h2>Sign In  員工登入</h2>
                <h3>請登入您的帳號和密碼，若忘記密碼請聯絡管理人員！</h3>
                <ul>
                    <li class="account">
                        <p>ACCOUNT</p>
                        <input type="text" placeholder="請輸入您的帳號">
                    </li>
                    <li class="password">
                        <p>PASSWORD</p>
                        <input id="password" type="password" placeholder="請輸入您的密碼">
                        <label class="showPassWord" title="顯示或隱藏密碼">
                            <input type="checkbox">
                        </label>
                    </li>
                </ul>
                <button type="button">
                    登入
                </button>
            </form>
        </article>
    </main>
    <script src="../../assets/js/style.js"></script>
</body>


</html>