<div class="liboxBg">
    <div class="liboxClose">
        <span></span>
    </div>
    <div class="libox_title">
        <h2>Reservation<span>Record</span></h2>
        <h3>會議室預約紀錄</h3>
    </div>
    <div class="_table">
        <div class="table_title">
            <p class="date">日期</p>
            <p class="time">時間</p>
            <p class="room">會議室</p>
            <p class="department">部門</p>
            <p class="name">姓名</p>
            <p class="tel">分機</p>
        </div>
        <ul class="table_content">
            <li>
            	<!-- 後端請注意:日期及時間文字內容一定要照下面排 特別是空格及標點符號 因為js會用到-->
                <div class="date"><p>2018-02-28</p></div>
                <div class="time"><p>12 : 00 - 13 : 00</p></div>
                <div class="room">
                    <p>南港<span>Room b</span></p>
                </div>
                <p class="department">工控產品企劃課</p>
                <p class="name">王東元</p>
                <p class="tel">1111</p>
                <div class="cancel">取消預約</div>
            </li>
            <li>
                <div class="date"><p>2018-02-25</p></div>
                <div class="time"><p>08 : 00 - 09 : 00</p></div>
                <div class="room">
                    <p>南港<span>Room b</span></p>
                </div>
                <p class="department">工控產品企劃課</p>
                <p class="name">王東元</p>
                <p class="tel">1111</p>
                <div class="cancel">取消預約</div>
            </li>
            <li>
                <div class="date"><p>2018-02-24</p></div>
                <div class="time"><p>12 : 00 - 13 : 00</p></div>
                <div class="room">
                    <p>南港<span>Room b</span></p>
                </div>
                <p class="department">工控產品企劃課</p>
                <p class="name">王東元</p>
                <p class="tel">1111</p>
                <div class="cancel">取消預約</div>
            </li>
            <li>
                <div class="date"><p>2018-02-22</p></div>
                <div class="time"><p>12 : 00 - 13 : 00</p></div>
                <div class="room">
                    <p>南港<span>Room b</span></p>
                </div>
                <p class="department">工控產品企劃課</p>
                <p class="name">王東元</p>
                <p class="tel">1111</p>
                <div class="cancel">取消預約</div>
            </li>
            <li>
                <div class="date"><p>2018-01-15</p></div>
                <div class="time"><p>16 : 00 - 17 : 00</p></div>
                <div class="room">
                    <p>南港<span>Room b</span></p>
                </div>
                <p class="department">工控產品企劃課</p>
                <p class="name">王東元</p>
                <p class="tel">1111</p>
                <div class="cancel">取消預約</div>
            </li>
            <li>
                <div class="date"><p>2018-01-15</p></div>
                <div class="time"><p>16 : 00 - 17 : 00</p></div>
                <div class="room">
                    <p>南港<span>Room b</span></p>
                </div>
                <p class="department">工控產品企劃課</p>
                <p class="name">王東元</p>
                <p class="tel">1111</p>
                <div class="cancel">取消預約</div>
            </li>
            <li>
                <div class="date"><p>2018-01-15</p></div>
                <div class="time"><p>16 : 00 - 17 : 00</p></div>
                <div class="room">
                    <p>南港<span>Room b</span></p>
                </div>
                <p class="department">工控產品企劃課</p>
                <p class="name">王東元</p>
                <p class="tel">1111</p>
                <div class="cancel">取消預約</div>
            </li>
            <li>
                <div class="date"><p>2018-01-15</p></div>
                <div class="time"><p>16 : 00 - 17 : 00</p></div>
                <div class="room">
                    <p>南港<span>Room b</span></p>
                </div>
                <p class="department">工控產品企劃課</p>
                <p class="name">王東元</p>
                <p class="tel">1111</p>
                <div class="cancel">取消預約</div>
            </li>
            <li>
                <div class="date"><p>2018-01-15</p></div>
                <div class="time"><p>16 : 00 - 17 : 00</p></div>
                <div class="room">
                    <p>南港<span>Room b</span></p>
                </div>
                <p class="department">工控產品企劃課</p>
                <p class="name">王東元</p>
                <p class="tel">1111</p>
                <div class="cancel">取消預約</div>
            </li>
            <li>
                <div class="date"><p>2018-01-15</p></div>
                <div class="time"><p>16 : 00 - 17 : 00</p></div>
                <div class="room">
                    <p>南港<span>Room b</span></p>
                </div>
                <p class="department">工控產品企劃課</p>
                <p class="name">王東元</p>
                <p class="tel">1111</p>
                <div class="cancel">取消預約</div>
            </li>
            <li>
                <div class="date"><p>2018-01-15</p></div>
                <div class="time"><p>16 : 00 - 17 : 00</p></div>
                <div class="room">
                    <p>南港<span>Room b</span></p>
                </div>
                <p class="department">工控產品企劃課</p>
                <p class="name">王東元</p>
                <p class="tel">1111</p>
                <div class="cancel">取消預約</div>
            </li>
            <li>
                <div class="date"><p>2018-01-15</p></div>
                <div class="time"><p>16 : 00 - 17 : 00</p></div>
                <div class="room">
                    <p>南港<span>Room b</span></p>
                </div>
                <p class="department">工控產品企劃課</p>
                <p class="name">王東元</p>
                <p class="tel">1111</p>
                <div class="cancel">取消預約</div>
            </li>
            <li>
                <div class="date"><p>2018-01-15</p></div>
                <div class="time"><p>16 : 00 - 17 : 00</p></div>
                <div class="room">
                    <p>南港<span>Room b</span></p>
                </div>
                <p class="department">工控產品企劃課</p>
                <p class="name">王東元</p>
                <p class="tel">1111</p>
                <div class="cancel">取消預約</div>
            </li>
            <li>
                <div class="date"><p>2018-01-15</p></div>
                <div class="time"><p>16 : 00 - 17 : 00</p></div>
                <div class="room">
                    <p>南港<span>Room b</span></p>
                </div>
                <p class="department">工控產品企劃課</p>
                <p class="name">王東元</p>
                <p class="tel">1111</p>
                <div class="cancel">取消預約</div>
            </li>
        </ul>
    </div>
</div>



<div class="cancelLibox_bg">
	<div class="cancelLibox">
		<div class="liboxClose">
			<span></span>
		</div>
		<div class="libox_title">
			<h2>Cancel<span>Reservation</span></h2>
			<h3>取消預約</h3>
		</div>
		<div class="_text">
			<p>親愛的東元電機同事們  您好，您確定取消</p>
			<p class="cancelTime">
				<span>2018 - 01 - 25</span>
				<span>08 : 00 - 09 : 00</span>
			</p>
		</div>
		<div class="_btn">
			<button>確認</button>
			<button>我再想想</button>
		</div>
	</div>
</div>