<div class="detail">
    <div class="detail_nav">
        <div class="detail_close">
            <div>
                <span></span>
                <span></span>
            </div>
            <p>CLOSE</p>
        </div>
        <div class="fixed_menu_bg">
            <div class="fixed_menu">
                <a href="javascript:void(0)" class="selectNav">全部</a>
                <ul>
                    <li>
                        <a href="javascript:void(0);">
                            <p>核心理念</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <p>品牌故事</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <p>歷程事蹟</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <p>品質認證</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="detail_banner">
        <div class="detail_banner_img">
            <picture>
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source srcset="" media="(max-width: 1024px)">
                <img src="../../upload/about/hiland/banner.jpg">
            </picture>
        </div>
        <div class="detail_slogan">
           <div>
                <h2>About Hiland</h2>
                <p>昌達陶瓷美學新典範</p>
                <div class="detail_menu_bg">
                    <div class="detail_menu">
                        <a href="javascript:void(0)" class="selectClick">全部</a>
                        <ul>
                            <li>
                                <a href="javascript:void(0);">
                                    <p>核心理念</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <p>品牌故事</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <p>歷程事蹟</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <p>品質認證</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
           </div>
        </div>
    </div>
    <div class="detail_content">
        <div class="_hiland">
            <div class="hiland_slide">
                <span></span>
            </div>
            <div class="hiland_title">
            	<div>
                <h2>ABOUT HILAND</h2>
                <p>核心理念</p>
                </div>
            </div>
            <div class="hiland_row">
                <div class="hiland_row_img">
                    <img src="../../upload/about/hiland/hiland_img1.jpg"></div>
                <div class="hiland_row_text">
                	<div>
                    <h2>自創品牌行銷國內外市場</h2>
                    <p>昌達陶瓷自2000年成立至今，堅持「專注本業經營、專業石英磚廠、 專精研發生產」，以自創品牌「柏拉圖瓷磚」品牌行銷國內外市場。</p>
                    </div>
                </div>
            </div>
            <div class="hiland_text">
            	<div>
                <h2>天然石 X 原生木</h2>
                <p>產品研發則以「天然石」和「原生木」兩大親人性主題規劃產品，透過科技建材取代大量耗用天然礦石及原木，具體實踐環境永續發展理念。</p>
                </div>
            </div>
        </div>
        <div class="story">
            <div class="story_slide">
                <span></span>
            </div>
            <div class="story_title">
            	<div>
                <h2>BRAND STORY</h2>
                <p>品牌故事</p>
                </div>
            </div>
            <div class="story_rows">
                <!-- row1 -->
                <div class="story_row">
                    <div class="story_row_text">
                    	<div>
                        <h2>來自歐洲的美學磁磚</h2>
                        <p>致力於歐洲磁磚國產化的昌達陶瓷，在董事長王峰銘巧手雕琢下， 百分百採用歐洲進口設備及原料，創造自有品牌「柏拉圖磁磚」， 讓國內消費者以合理價格取得最高規格產品，創造建築美學新典範，成為業界標竿。
                            <br>
                            <br>董事長王峰銘從磁土買賣起家，在1990年進而跨入磁土貿易與煉製，成立潮輝陶磁原料加工買賣， 累積數十年的陶瓷原料技術，於2000年再往下佈局將厚實的原料技術延伸結合中後段磁磚燒製， 創立昌達陶瓷。而熱愛大自然的他，經常深入山林與旅遊，然而從休閒活動中發覺，政府實施周休二日後， 隨著人民的所得收入提高，休閒活動也跟著變多，因此休閒產業將大量興起，所以具有休閒風格的磁磚產品需求將會提升。</p>
                            </div>
                    </div>
                    <div class="story_row_img">
                        <img src="../../upload/about/hiland/history_img1.jpg">
                    </div>
                </div>
                <!-- row2 -->
                <div class="story_row">
                    <div class="story_row_text">
                    	<div>
                        <h2>創新的開始</h2>
                        <p>昌達於2010年引進數位噴墨印刷設備，該設備是電腦科技與磁磚的創新結合應用，它把設計透過電腦數位化後， 以影像輸出方式將微米級釉料噴塗於磁磚表面上，透過精緻生動的紋理漸層完整呈現原有實物風貌， 此印刷技術將帶領磁磚由傳統的網印低解析度時代跨入未來高解析度世代，已與歐洲技術、設備同步，掌握國際趨勢， 透過仿真的木化石系列產品，減少樹木的砍伐，並與聯合大學合作開發綠建材，不斷導入環境改善，減少污染，提升環保概念。
                            <br>
                            <br>昌達於2011年起陸續推出峽谷、洞石、天都、文化石、萊茵河、天際、天梯等電腦數位噴墨印刷磁磚系列產品， 材質採用低吸水率高抗折之石英磚，設計融合親人性之天然石與原生木，並可搭配歐式圖騰花組。 萊茵河系列更獲得新北市立鶯歌陶瓷博物館，所舉辦2011年第6屆創意生活陶瓷新品評鑑展的「美感創意獎」， 同時受邀參加「台灣陶瓷品牌」百年經典特展。</p>
                            </div>
                    </div>
                    <div class="story_row_img">
                        <img src="../../upload/about/hiland/history_img2.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="history">
            <div class="history_slide">
                <span></span>
            </div>
            <div class="history_title">
            	<div>
                <h2>HISTORY X DEEDS</h2>
                <p>歷史事蹟</p>
                </div>
            </div>
            <div class="_year">
                <p>2013</p>
                <span></span></div>
            <div class="history_slick">
                <div class="history_slick_nav">
                    <ul>
                        <li>
                            <p>2013</p>
                        </li>
                        <li>
                            <p>2012</p>
                        </li>
                        <li>
                            <p>2011</p>
                        </li>
                        <li>
                            <p>2010</p>
                        </li>
                        <li>
                            <p>2009</p>
                        </li>
                        <li>
                            <p>2008</p>
                        </li>
                        <li>
                            <p>2007</p>
                        </li>
                    </ul>
                </div>
                <ul>
                    <li>
                        <p>昌達陶瓷更新雙品牌形象識別體系BIS，將品牌定位透過設計由傳統〝磁磚〞進化為科技〝瓷磚〞。 領先國內同業再引進歐洲TECNOFERRARI電腦數位噴墨6色印刷設備製程技術。</p>
                    </li>
                    <li>
                        <p>昌達陶瓷更新雙品牌形象識別體系BIS，將品牌定位透過設計由傳統〝磁磚〞進化為科技〝瓷磚〞。 領先國內同業再引進歐洲TECNOFERRARI電腦數位噴墨6色印刷設備製程技術。</p>
                    </li>
                    <li>
                        <p>昌達陶瓷更新雙品牌形象識別體系BIS，將品牌定位透過設計由傳統〝磁磚〞進化為科技〝瓷磚〞。 領先國內同業再引進歐洲TECNOFERRARI電腦數位噴墨6色印刷設備製程技術。</p>
                    </li>
                    <li>
                        <p>昌達陶瓷更新雙品牌形象識別體系BIS，將品牌定位透過設計由傳統〝磁磚〞進化為科技〝瓷磚〞。 領先國內同業再引進歐洲TECNOFERRARI電腦數位噴墨6色印刷設備製程技術。</p>
                    </li>
                    <li>
                        <p>昌達陶瓷更新雙品牌形象識別體系BIS，將品牌定位透過設計由傳統〝磁磚〞進化為科技〝瓷磚〞。 領先國內同業再引進歐洲TECNOFERRARI電腦數位噴墨6色印刷設備製程技術。</p>
                    </li>
                    <li>
                        <p>昌達陶瓷更新雙品牌形象識別體系BIS，將品牌定位透過設計由傳統〝磁磚〞進化為科技〝瓷磚〞。 領先國內同業再引進歐洲TECNOFERRARI電腦數位噴墨6色印刷設備製程技術。</p>
                    </li>
                    <li>
                        <p>昌達陶瓷更新雙品牌形象識別體系BIS，將品牌定位透過設計由傳統〝磁磚〞進化為科技〝瓷磚〞。 領先國內同業再引進歐洲TECNOFERRARI電腦數位噴墨6色印刷設備製程技術。</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="certification">
            <div class="certification_slide">
                <span></span>
            </div>
            <div class="certification_title">
            	<div>
                <h2>CERTIFICATION</h2>
                <p>品質認證</p>
                </div>
            </div>
            <div class="license">
                <ul>
                    <li>
                        <div class="license_img">
                            <img src="../../upload/about/hiland/certification_img1.jpg">
                        </div>
                        <p>經濟部標準檢驗局正字標記證書</p>
                    </li>
                    <li>
                        <div class="license_img">
                            <img src="../../upload/about/hiland/certification_img2.jpg">
                        </div>
                        <p>經濟部標準檢驗局正字標記證書</p>
                    </li>
                    <li>
                        <div class="license_img">
                            <img src="../../upload/about/hiland/certification_img3.jpg"></div>
                        <p>經濟部標準檢驗局正字標記證書</p>
                    </li>
                    <li>
                        <div class="license_img">
                            <img src="../../upload/about/hiland/certification_img4.jpg"></div>
                        <p>經濟部標準檢驗局 品質系統管理驗證證書</p>
                    </li>
                    <li>
                        <div class="license_img">
                            <img src="../../upload/about/hiland/certification_img5.jpg"></div>
                        <p>Certificate of Registration</p>
                    </li>
                    <li>
                        <div class="license_img">
                            <img src="../../upload/about/hiland/certification_img6.jpg"></div>
                        <p>環保標章使用證書</p>
                    </li>
                    <li>
                        <div class="license_img horizontal">
                            <img src="../../upload/about/hiland/certification_img7.jpg"></div>
                        <p>台灣製MIT微笑產品驗證書</p>
                    </li>
                    <li>
                        <div class="license_img">
                            <img src="../../upload/about/hiland/certification_img8.jpg"></div>
                        <p>綠建材標章證書</p>
                    </li>
                </ul>
                <div class="arrow">
                    <span class="icon-arrow-left"></span>
                    <span class="icon-arrow-right"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="detail_slideup">
        <span class="icon-arrow-up"></span>
        <p>BACK</p>
    </div>
    <div class="license_slick_bg">
        <div class="license_slick_close">
            <div>
                <span></span>
                <span></span>
            </div>
            <p>BACK</p>
        </div>
        <div class="license_slick">
            <ul>
                <li>
                    <p>環保標章使用證書</p>
                    <img src="../../upload/about/hiland/certification_img1.jpg">
                </li>
                <li>
                    <p>環保標章使用證書</p>
                    <img src="../../upload/about/hiland/certification_img2.jpg">
                </li>
                <li>
                    <p>環保標章使用證書</p>
                    <img src="../../upload/about/hiland/certification_img3.jpg">
                </li>
                <li>
                    <p>環保標章使用證書</p>
                    <img src="../../upload/about/hiland/certification_img4.jpg">
                </li>
                <li>
                    <p>環保標章使用證書</p>
                    <img src="../../upload/about/hiland/certification_img5.jpg">
                </li>
                <li>
                    <p>環保標章使用證書</p>
                    <img src="../../upload/about/hiland/certification_img6.jpg">
                </li>
                <li>
                    <p>環保標章使用證書</p>
                    <img class="horizontal" src="../../upload/about/hiland/certification_img7.jpg">
                </li>
                <li>
                    <p>環保標章使用證書</p>
                    <img src="../../upload/about/hiland/certification_img8.jpg">
                </li>
            </ul>
            <div class="arrow">
                <span class="icon-arrow-left"></span>
                <span class="icon-arrow-right"></span>
            </div>
        </div>
    </div>
</div>