<div class="detail">
    <div class="detail_nav">
        <div class="detail_close">
            <div>
                <span></span>
                <span></span>
            </div>
            <p>CLOSE</p>
        </div>
    </div>
    <!-- detail_banner開始 -->
    <div class="detail_banner">
        <div class="detail_banner_img">
            <picture>
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source srcset="" media="(max-width: 1024px)">
                <img src="../../upload/about/manufacturing/banner.jpg">
            </picture>
        </div>
        <div class="detail_slogan">
            <div>
                <h2>Manufacturing</h2>
                <p>從廠房到空間歷程</p>
            </div>
        </div>
    </div>
    <!-- detail_banner結束 -->
    <!-- detail_content開始 -->
    <div class="detail_content">
        <div class="process">
            <div class="process_slide">
                <span></span>
            </div>
            <div class="process_title">
                <div>
                    <h2>Production process</h2>
                    <h3>製作流程</h3>
                </div>
            </div>
            <div class="process_text">
                <p>製作流程迎合數位時代，科技結合應用把產品設計透過電腦數位化後，以影像輸出方式將微米級釉料噴塗於瓷磚表面上，以精緻生動的紋理漸層完整呈現原有實物風貌。</p>
            </div>
            <div class="process_start">
                <img src="../../upload/about/manufacturing/start.jpg">
                <div>
                    <h2>START</h2>
                </div>
                <div>
                    <p>進料 / 檢測</p>
                </div>
            </div>
            <div class="process_boxs">
                <!-- box1 -->
                <div class="process_box_bg">
                    <div class="process_box">
                        <div class="process_box_img">
                            <img src="../../upload/about/manufacturing/img1.jpg">
                        </div>
                        <div class="process_box_text">
                            <h2>2</h2>
                            <p>原料過磅</p>
                        </div>
                    </div>
                </div>
                <!-- box2 -->
                <div class="process_box_bg straight">
                    <div class="process_box">
                        <div class="process_box_img">
                            <img src="../../upload/about/manufacturing/img2.jpg">
                        </div>
                        <div class="process_box_text">
                            <h2>3</h2>
                            <p>球磨粉碎</p>
                        </div>
                    </div>
                </div>
                <!-- box3 -->
                <div class="process_box_bg straight">
                    <div class="process_box">
                        <div class="process_box_img">
                            <img src="../../upload/about/manufacturing/img3.jpg">
                        </div>
                        <div class="process_box_text">
                            <h2>4</h2>
                            <p>噴霧乾燥</p>
                        </div>
                    </div>
                </div>
                <!-- box4 -->
                <div class="process_box_bg">
                    <div class="process_box">
                        <div class="process_box_img">
                            <img src="../../upload/about/manufacturing/img4.jpg">
                        </div>
                        <div class="process_box_text">
                            <h2>5</h2>
                            <p>高壓成型</p>
                        </div>
                    </div>
                </div>
                <!-- box5 -->
                <div class="process_box_bg">
                    <div class="process_box">
                        <div class="process_box_img">
                            <img src="../../upload/about/manufacturing/img5.jpg">
                        </div>
                        <div class="process_box_text">
                            <h2>6</h2>
                            <p>生坯乾燥</p>
                        </div>
                    </div>
                </div>
                <!-- box6 -->
                <div class="process_box_bg straight">
                    <div class="process_box">
                        <div class="process_box_img">
                            <img src="../../upload/about/manufacturing/img6.jpg">
                        </div>
                        <div class="process_box_text">
                            <h2>7</h2>
                            <p>施釉及印刷</p>
                        </div>
                    </div>
                </div>
                <!-- box7 -->
                <div class="process_box_bg straight">
                    <div class="process_box">
                        <div class="process_box_img">
                            <img src="../../upload/about/manufacturing/img7.jpg">
                        </div>
                        <div class="process_box_text">
                            <h2>8</h2>
                            <p>電腦窯燒</p>
                        </div>
                    </div>
                </div>
                <!-- box8 -->
                <div class="process_box_bg">
                    <div class="process_box">
                        <div class="process_box_img">
                            <img src="../../upload/about/manufacturing/img8.jpg">
                        </div>
                        <div class="process_box_text">
                            <h2>9</h2>
                            <p>拋磨與修邊</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="process_package">
                <img src="../../upload/about/manufacturing/package.jpg">
                <div>
                    <h2>PACKAGE</h2>
                </div>
                <div>
                    <p>品質檢驗 / 包裝</p>
                </div>
            </div>
        </div>
    </div>
    <div class="space">
        <div class="space_slide">
            <span></span>
        </div>
        <div class="space_title">
            <div>
                <h2>YOUR SPACE</h2>
                <p>屬於你的空間</p>
            </div>
        </div>
        <div class="space_img">
            <img src="../../upload/about/manufacturing/space.jpg">
        </div>
    </div>
    <div class="detail_slideup">
        <span class="icon-arrow-up"></span>
        <p>BACK</p>
    </div>
</div>