<div class="detail">
    <div class="detail_nav">
        <div class="detail_close">
            <div>
                <span></span>
                <span></span>
            </div>
            <p>CLOSE</p>
        </div>
        <div class="fixed_menu_bg">
            <div class="fixed_menu">
                <a href="javascript:void(0)" class="selectNav">全部</a>
                <ul>
                    <li>
                        <a href="javascript:void(0);">
                            <p>核心理念</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <p>品牌文化</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- detail_banner開始 -->
    <div class="detail_banner">
        <div class="detail_banner_img">
            <picture>
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source srcset="" media="(max-width: 1024px)">
                <img src="../../upload/about/placido/banner.jpg">
            </picture>
        </div>
        <div class="detail_slogan">
            <div>
                <h2>About Placido</h2>
                <p>柏拉圖生活美學</p>
                <div class="detail_menu_bg">
                    <div class="detail_menu">
                        <a href="javascript:void(0)" class="selectClick">全部</a>
                        <ul>
                            <li>
                                <a href="javascript:void(0);">
                                    <p>核心理念</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <p>品牌文化</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- detail_banner結束 -->
    <!-- detail_content開始 -->
    <div class="detail_content">
        <!-- placido開始 -->
        <div class="_placido">
            <div class="placido_slide">
                <span></span>
            </div>
            <div class="placido_title">
                <div>
                    <h2>About Placido</h2>
                    <p>核心理念</p>
                </div>
            </div>
            <div class="placido_boxs">
                <!-- <div class="placido_logo">
                    <img src="../../upload/about/placido/placido_logo.jpg">
                </div> -->
                <!-- box1 -->
                <!--  <div class="placido_box">
                    <div class="placido_box_img">
                        <img src="../../upload/about/placido/placido_img1.jpg">
                        <h2> Innovation</h2>
                    </div>
                    <div class="placido_box_text">
                        <div>
                        <h2>創新突破</h2>
                        <p>品牌本身除了內涵之外，在這個瞬息萬變的社會之下，企業本身也要有非常高的創新能力，與時俱進，能夠幫助我們貫徹理念，也是對消費者的一種承諾。</p>
                        </div>
                    </div>
                </div> -->
                <!-- box2 -->
                <!-- <div class="placido_box">
                    <div class="placido_box_img">
                        <img src="../../upload/about/placido/placido_img2.jpg">
                        <h2>Aesthetics</h2>
                    </div>
                    <div class="placido_box_text">
                        <div>
                        <h2>生活美學</h2>
                        <p>我們掌握當代美學涵養的尖端眼光，開創新的視覺態度， 我們希望在此產業中，是一個專注於時尚美學敏銳的領導品牌。</p>
                        </div>
                    </div>
                </div> -->
                <!-- box3 -->
                <!--   <div class="placido_box">
                    <div class="placido_box_img">
                        <img src="../../upload/about/placido/placido_img3.jpg">
                        <h2>Art</h2>
                    </div>
                    <div class="placido_box_text">
                        <div>
                        <h2>人文藝術</h2>
                        <p>藝術並不是曲高和寡的知識，它是相當具體的存在， 我們將它融入在我們的生活之中，讓大家能被藝術的能量所擁抱。</p>
                        </div>
                    </div>
                </div> -->
                <div class="_img">
                    <picture>
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="../../upload/about/placido/placido_img4_small.jpg" media="(max-width: 1024px)">
                        <img src="../../upload/about/placido/placido_img4.jpg">
                    </picture>
                </div>
                <ul>
                    <li>
                        <h2>生活美學</h2>
                        <p>我們掌握當代美學涵養的尖端眼光，開創新的視覺態度， 我們希望在此產業中，是一個專注於時尚美學敏銳的領導品牌。</p>
                    </li>
                    <li>
                        <h2>創新突破</h2>
                        <p>品牌本身除了內涵之外，在這個瞬息萬變的社會之下，企業本身也要有非常高的創新能力，與時俱進，能夠幫助我們貫徹理念，也是對消費者的一種承諾。</p>
                    </li>
                    <li>
                        <h2>人文藝術</h2>
                        <p>藝術並不是曲高和寡的知識，它是相當具體的存在， 我們將它融入在我們的生活之中，讓大家能被藝術的能量所擁抱。</p>
                    </li>
                </ul>
            </div>
        </div>
        <!-- placido結束 -->
        <!-- culture開始 -->
        <div class="culture">
            <div class="culture_slide">
                <span></span>
            </div>
            <div class="culture_title">
                <div>
                    <h2>Brand Culture</h2>
                    <p>品牌文化</p>
                </div>
            </div>
            <div class="culture_row">
                <div class="culture_row_text">
                    <div>
                        <h2>感受心靈的空間</h2>
                        <p>我們認為，真正具有美學的空間感受要能與你的心靈對話，而從古至今，建築型式的發展根源，都是對大自然不完美的模仿，尤古至今，所有的建築形式都避不開對大自然，對造物主懷抱著無比崇高的敬畏與感念。</p>
                        <h2>古典美學與自然融合</h2>
                        <p>而柏拉圖致力於將古典美學與自然融合，用大眾化且簡單的方式融入我們所居住的空間中，而在時間的洗禮之中，期盼我們的心靈上或是感官上，都能與空間對話。</p>
                    </div>
                </div>
                <div class="culture_row_img">
                    <img src="../../upload/about/placido/culture_img1.jpg">
                </div>
            </div>
        </div>
        <!-- culturer結束 -->
    </div>
    <!-- detail_content結束 -->
    <div class="detail_ft">
        <picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source srcset="../../upload/about/placido/ft_mobile_img1.jpg" media="(max-width: 1024px)">
            <img src="../../upload/about/placido/ft_img1.jpg">
        </picture>
        <div class="detail_ft_slogan">
            <div>
                <h2>The protagonist in space</h2>
                <h3>人是空間裡的主角</h3>
                <p>要做出能讓消費者與空間對話感受的產品，在產品品質上， 我們必須期勉自己在產品品質上做到最高標準，我們置入最高的製造技術與製程，對每一塊瓷磚的色澤、紋理、強度、顏色上，我們都要求至近善盡美，在材質以及品項上，我們不斷的追求以及創新，因為在空間裡人才是主角。</p>
            </div>
        </div>
    </div>
    <div class="detail_slideup">
        <span class="icon-arrow-up"></span>
        <p>BACK</p>
    </div>
</div>