<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="language" content="tw" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="title" content="網站標題名稱" />
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <meta name="copyright" content="作者名子">
    <title>bite2eat</title>
    <!-- icon -->
    <!--    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/img/ico/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/ico/favicon.png">
    <link rel="icon" type="image/x-icon" href="../../assets/img/ico/favicon.png"> -->
    <!-- 共用CSS -->
    <link rel="stylesheet" href="../../assets/js/vendor/cgpagechange/cgpagechange.css">
    <link rel="stylesheet" href="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.css">
    <!-- 共用CSS end-->
    <!-- 非共用CSS -->
    <link rel="stylesheet" href="../../assets/js/vendor/perfect-scrollbar/perfect-scrollbar.min.css">
    <!-- 非共用CSS end-->
    <link rel="stylesheet" href="../../assets/css/news/news.css">
</head>

<body id="news" class="index">
    <header class="whiteBg"></header>
    <main>
        <!-- 假的空白header -->
        <article class="header"></article>
        <!-- 新聞內容 -->
        <article class="content">
            <section class="BG"></section>
            <!-- 小圖放置區 -->
            <div class="smallImg first">
                <img src="../../upload/fa2/news/index/smallImg/smallImg1_540_690.png" alt="">
            </div>
            <section class="topNav">
                <div class="left">
                    <div class="_img">
                        <img src="../../upload/fa2/news/index/topNavImg1_350_160.png" alt="">
                    </div>
                </div>
                <div class="_title">
                    <h3>最新消息</h3>
                    <h2>Latest News</h2>
                    <h4>即時獲取薄多義的第一手資訊，別錯過我們的最新優惠以及各式體驗活動，活動可能因地區與分店而有所不同，請隨時利用分店選擇，掌握距離最近的薄多義快訊！</h4>
                    <ul>
                        <li class="active">
                            <p>訊息總覽</p>
                        </li>
                        <li>
                            <p>餐飲優惠</p>
                        </li>
                        <li>
                            <p>體驗活動</p>
                        </li>
                        <li>
                            <p>品牌報導</p>
                        </li>
                    </ul>
                </div>
                <!-- 下拉式選單 -->
                <div class="dropDown">
                    <div class="list area">
                        <span class="selectList"><p>ALL 全台地區</p></span>
                        <ul>
                            <li>ALL 全台地區</li>
                            <li>台北市</li>
                            <li>新北市</li>
                            <li>桃園市</li>
                            <li>新竹市</li>
                            <li>台中市</li>
                            <li>彰化市</li>
                            <li>台南市</li>
                            <li>高雄市</li>
                        </ul>
                        <select name="" id="">
                            <option>ALL 全台地區 </option>
                            <option value="">台北市</option>
                            <option value="">新北市</option>
                            <option value="">桃園市</option>
                            <option value="">新竹市</option>
                            <option value="">台中市</option>
                            <option value="">彰化市</option>
                            <option value="">台南市</option>
                            <option value="">高雄市</option>
                        </select>
                        <span class="icon-▼"></span>
                    </div>
                    <div class="list store">
                        <span class="selectList"><p>ALL 所有分店</p></span>
                        <ul>
                            <li>ALL 所有分店</li>
                            <li>中山店</li>
                            <li>中正店</li>
                            <li>逢甲店</li>
                            <li>東海店</li>
                            <li>一中店</li>
                            <li>中港店</li>
                        </ul>
                        <select name="" id="">
                            <option>ALL 所有分店</option>
                            <option value="">中山店</option>
                            <option value="">中正店</option>
                            <option value="">逢甲店</option>
                            <option value="">東海店</option>
                            <option value="">一中店</option>
                            <option value="">中港店</option>
                        </select>
                        <span class="icon-▼"></span>
                    </div>
                </div>
            </section>
            <section class="newsBoxs_bg">
                <div class="newsBoxs">
                    <!-- boxType1:圖片只有一半 圖片建議大小:900*670 -->
                    <div class="boxType1">
                        <a href="../news/detail.html">
                            <div class="_img">
                                <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/index/newsImg1_900_670.jpg" alt="">
                                <!-- 十字 -->
                                <span></span>
                            </div>
                            <div class="_text">
                                <h3>復南店限定 │ 薄多義自家製手工RASA麵</h3>
                                <!-- 後端請注意:速數限制50字 -->
                                <p>從羅馬時代流傳下來的Rasa Pasta，雖然在義大利不常見，卻是德國、匈牙利的家庭料理...</p>
                            </div>
                            <div class="date">
                                <h4>15th</h4>
                                <p>jan. 2018</p>
                            </div>
                        </a>
                    </div>
                    <!-- boxType1:圖片只有一半 圖片建議大小:900*670 -->
                    <div class="boxType1">
                        <a href="../news/detail.html">
                            <div class="_img">
                                <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/index/newsImg2_900_670.jpg" alt="">
                                <!-- 十字 -->
                                <span></span>
                            </div>
                            <div class="_text">
                                <h3>復南店限定菜色 │ 薄多義自家製手工吉他麵，現正供應中</h3>
                                <!-- 後端請注意:速數限制50字 -->
                                <p>發源於義大利中部阿布魯佐的吉他麵，長得不像吉他，而是使用吉他弦製作而成，和一般的圓...</p>
                            </div>
                            <div class="date">
                                <h4>12th</h4>
                                <p>jan. 2018</p>
                            </div>
                        </a>
                    </div>
                    <!-- boxType1:圖片只有一半 圖片建議大小:900*670 -->
                    <div class="boxType1">
                        <a href="../news/detail.html">
                            <div class="_img">
                                <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/detail/newsImg3_900_520.jpg" alt="">
                                <!-- 十字 -->
                                <span></span>
                            </div>
                            <div class="_text">
                                <h3>薄多義小小 Pizza 師傅，第二期重新招生，請洽最近的薄多義分店！</h3>
                                <!-- 後端請注意:速數限制50字 -->
                                <p>這次的場次都在禮拜六，爸爸媽媽假日不知道帶小朋友去哪裡，就來參加薄多義小小Pizza...</p>
                            </div>
                            <div class="date">
                                <h4>08th</h4>
                                <p>jan. 2018</p>
                            </div>
                        </a>
                    </div>
                    <!-- boxType2:圖片是滿格的 圖片建議大小540*700 -->
                    <div class="boxType2">
                        <a href="../news/detail.html">
                            <div class="_img">
                                <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/index/newsImg4_540_700.jpg" alt="">
                                <!-- 十字 -->
                                <span></span>
                            </div>
                            <!-- 後端請注意:如果不放字請div直接移除 -->
                            <!-- 後端請注意:boxType2的文字顏色要讓客戶決定 預設為白色#fff -->
                            <div class="_text" style="color: #fff">
                                <h3>復南店 2.0 需要新血一起加入我們</h3>
                                <!-- 後端請注意:速數限制50字 -->
                                <p>歡迎擁有滿腔熱血，覺得服務客人就是我的使命，害羞的人可以到 104人力銀行網站...</p>
                            </div>
                            <div class="date">
                                <h4>24th</h4>
                                <p>dec. 2017</p>
                            </div>
                        </a>
                    </div>
                    <!-- boxType1:圖片只有一半 圖片建議大小900*670 -->
                    <div class="boxType1">
                        <a href="../news/detail.html">
                            <div class="_img">
                                <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/index/newsImg5_900_670.jpg" alt="">
                                <!-- 十字 -->
                                <span></span>
                            </div>
                            <div class="_text">
                                <h3>火雞快閃，就在今晚！</h3>
                                <!-- 後端請注意:速數限制50字 -->
                                <p>今天晚上只要到薄多義用餐，就有機會吃到聖誕火雞喔！廚師們已經把火雞準備好了...</p>
                            </div>
                            <div class="date">
                                <h4>20th</h4>
                                <p>dec. 2017</p>
                            </div>
                        </a>
                    </div>
                    <!-- boxType2:圖片是滿格的 圖片建議大小540*700 -->
                    <div class="boxType2">
                        <a href="../news/detail.html">
                            <div class="_img">
                                <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/index/newsImg6_540_700.jpg" alt="">
                                <!-- 十字 -->
                                <span></span>
                            </div>
                            <!-- 後端請注意:如果不放字請div直接移除 -->
                            <!-- 後端請注意:boxType2的文字顏色要讓客戶決定 預設為白色#fff -->
                            <div class="_text" style="color: #fff">
                                <h3>台北復南店開幕打卡優惠！</h3>
                                <!-- 後端請注意:速數限制50字 -->
                                <p>在開幕期間到薄多義復南店用餐，拍照打卡上傳臉書或ig就可以免服務費！</p>
                            </div>
                            <div class="date">
                                <h4>10th</h4>
                                <p>dec. 2017</p>
                            </div>
                        </a>
                    </div>
                    <!-- boxType1:圖片只有一半 圖片建議大小900*670 -->
                    <div class="boxType1">
                        <a href="../news/detail.html">
                            <div class="_img">
                                <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/index/newsImg7_900_670.jpg" alt="">
                                <!-- 十字 -->
                                <span></span>
                            </div>
                            <div class="_text">
                                <h3>新菜介紹，帕芙洛娃</h3>
                                <!-- 後端請注意:速數限制50字 -->
                                <p>浪漫的甜點也存在浪漫的故事，據說俄國知名舞蹈家帕芙洛娃在巡迴演出時，一名蛋糕師遇見美麗...</p>
                            </div>
                            <div class="date">
                                <h4>10th</h4>
                                <p>dec. 2017</p>
                            </div>
                        </a>
                    </div>
                    <!-- boxType2:圖片是滿格的 圖片建議大小540*700-->
                    <div class="boxType2">
                        <a href="../news/detail.html">
                            <div class="_img">
                                <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/index/newsImg8_540_700.jpg" alt="">
                                <!-- 十字 -->
                                <span></span>
                            </div>
                            <!-- 後端請注意:如果不放字請div直接移除 -->
                            <!-- 後端請注意:boxType2的文字顏色要讓客戶決定 預設為白色#fff -->
                            <div class="_text" style="color: #fff">
                                <h3></h3>
                                <!-- 後端請注意:速數限制50字 -->
                                <p></p>
                            </div>
                            <div class="date">
                                <h4>08th</h4>
                                <p>dec. 2017</p>
                            </div>
                        </a>
                    </div>
                    <!-- boxType1:圖片只有一半 圖片建議大小900*670-->
                    <div class="boxType1">
                        <a href="../news/detail.html">
                            <div class="_img">
                                <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/index/newsImg9_900_670.jpg" alt="">
                                <!-- 十字 -->
                                <span></span>
                            </div>
                            <div class="_text">
                                <h3>新菜介紹，百里香漬鮭魚</h3>
                                <!-- 後端請注意:速數限制50字 -->
                                <p>在微涼的季節想來點溫暖的開胃前菜，就選擇百里香漬鮭魚吧！用百里香、橄欖油醃製鮭魚四小時...</p>
                            </div>
                            <div class="date">
                                <h4>01th</h4>
                                <p>dec. 2017</p>
                            </div>
                        </a>
                    </div>
                    <!-- boxType1:圖片只有一半 圖片建議大小900*670-->
                    <div class="boxType1">
                        <a href="../news/detail.html">
                            <div class="_img">
                                <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/index/newsImg9_900_670.jpg" alt="">
                                <!-- 十字 -->
                                <span></span>
                            </div>
                            <div class="_text">
                                <h3>新菜介紹，百里香漬鮭魚</h3>
                                <!-- 後端請注意:速數限制50字 -->
                                <p>在微涼的季節想來點溫暖的開胃前菜，就選擇百里香漬鮭魚吧！用百里香、橄欖油醃製鮭魚四小時...</p>
                            </div>
                            <div class="date">
                                <h4>01th</h4>
                                <p>dec. 2017</p>
                            </div>
                        </a>
                    </div>
                    <!-- boxType1:圖片只有一半 圖片建議大小900*670-->
                    <div class="boxType1">
                        <a href="../news/detail.html">
                            <div class="_img">
                                <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/index/newsImg9_900_670.jpg" alt="">
                                <!-- 十字 -->
                                <span></span>
                            </div>
                            <div class="_text">
                                <h3>新菜介紹，百里香漬鮭魚</h3>
                                <!-- 後端請注意:速數限制50字 -->
                                <p>在微涼的季節想來點溫暖的開胃前菜，就選擇百里香漬鮭魚吧！用百里香、橄欖油醃製鮭魚四小時...</p>
                            </div>
                            <div class="date">
                                <h4>01th</h4>
                                <p>dec. 2017</p>
                            </div>
                        </a>
                    </div>
                    <!-- boxType1:圖片只有一半 圖片建議大小900*670-->
                    <div class="boxType1">
                        <a href="../news/detail.html">
                            <div class="_img">
                                <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/news/index/newsImg9_900_670.jpg" alt="">
                                <!-- 十字 -->
                                <span></span>
                            </div>
                            <div class="_text">
                                <h3>新菜介紹，百里香漬鮭魚</h3>
                                <!-- 後端請注意:速數限制50字 -->
                                <p>在微涼的季節想來點溫暖的開胃前菜，就選擇百里香漬鮭魚吧！用百里香、橄欖油醃製鮭魚四小時...</p>
                            </div>
                            <div class="date">
                                <h4>01th</h4>
                                <p>dec. 2017</p>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- 小圖放置區 -->
                <div class="smallImg_area">
                    <div class="smallImg">
                        <img src="../../upload/fa2/news/index/smallImg/smallImg2_80_450.png" alt="">
                    </div>
                    <div class="smallImg">
                        <img src="../../upload/fa2/news/index/smallImg/smallImg3_425_470.png" alt="">
                    </div>
                    <div class="smallImg">
                        <img src="../../upload/fa2/news/index/smallImg/smallImg4_370_510.png" alt="">
                    </div>
                    <div class="smallImg">
                        <img src="../../upload/fa2/news/index/smallImg/smallImg4_561_540.png" alt="">
                    </div>
                </div>
            </section>
            <!-- 藍色框十字 -->
            <section class="cross">
                <span></span>
            </section>
        </article>
        <!-- 裝飾圖案 -->
        <article class="cover">
            <section class="cover2">
            </section>
        </article>
    </main>
    <footer></footer>
    <script src="../../assets/js/style.js"></script>
</body>

</html>