<div class="detail">
    <div class="detail_nav">
        <div>
            <div class="back">
                <ul>
                    <li>
                        <p>ABOUT 32</p>
                    </li>
                    <li>
                        <p class="back1" style="cursor: pointer;">BACK</p>
                    </li>
                </ul>
            </div>
            <div class="detail_menu_icom">
                <div class="hotspring">
                    <p>ABOUT 32</p>
                </div>
                <div class="icom_box">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="detail_banner">
        <div class="detail_banner_img">
            <picture>
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source srcset="../../upload/about/spirit/bannerImgRWD_1024_1366.jpg" media="(max-width: 1024px)">
                <img src="../../upload/about/spirit/bannerImg_1440_760.jpg">
            </picture>
        </div>
        <div class="detail_slogan">
            <p>32 Sririt</p>
        </div>
        <div class="banner_slideup">
            <p>EXPERIENCE</p>
        </div>
    </div>
    <div class="detail_content">
        <div class="_title">
            <h5>Only the best, not the second</h5>
            <h6>~Since 2004~</h6>
            <p>Since its opening in 2004, the San 2 Building, located in Beitou, where the Fengpei Hot Springs are
                located, does not live in a hotel. Instead, it operates as a “private guest house”. Regardless of
                whether it is hardware or software, it is based on the principle of "only the best, not the second
                best", and it is expected to provide customers with the "top class, more honor" enjoyment.</p>
            <p>Invisible in the greenery of the mountains, the deep and wide Sanshui pavilion retains nearly two-thirds
                of the natural landscape of the space, and after the receding of the geothermal valley, the beautiful
                scenery is natural.</p>
        </div>
        <div class="rows">
            <div class="row">
                <div class="_img">
                    <img class="b-lazy" src="../../assset/img/blazy_blank.svg" data-src="../../upload/about/spirit/rowImg1_500_550.jpg" alt="">
                </div>
                <div class="_text">
                    <div>
                        <h6>Spring, Wood, Tree, and Stone</h6>
                        <p>Under the plan of the founder Mr. Qiu Minghong, the 32nd and the 2nd halls are composed of
                            four
                            elements: “spring, wood, tree, and stone”, presenting an exquisite design fusion, from
                            design,
                            construction to completion, and insisting on the perfection of creating art products. It
                            took
                            four and a half years to complete. Different from other hotels, the ping effect of the 32nd
                            and
                            2nd halls is based on “How much pressure can be released from customers per ping”, because
                            we
                            always aim to provide exquisite services and hope to bring unique VIP customer experience.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="_img">
                    <img class="b-lazy" src="../../assset/img/blazy_blank.svg" data-src="../../upload/about/spirit/rowImg2_500_550.jpg" alt="">
                </div>
                <div class="_text">
                    <div>
                        <h6>Most exquisite and honorable service</h6>
                        <p>The entrances of the 32nd and 2nd halls are very low-key and enjoy the natural beauty of
                            spring
                            waterfalls, bird's-swims and lush greenery, which preserves the leisure and tranquility of
                            the
                            city’s secret garden. All the museums have adopted an appointment system. The planning of
                            only
                            5 rooms is to provide every customer with the most exquisite and honorable service. </p>
                        <p>Each room is decorated in a unique style. The European style room uses the Bang & Olufsen
                            top-grade audio in Denmark and the world's top class. The maintenance of the brand name
                            Salvatore Ferragamo as a spare table, Puiforcat tableware, Italian designer Boffi's
                            sanitary
                            ware, etc., illustrates the distinguished brand personality of Sanyinhangguan.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="_img">
                    <img class="b-lazy" src="../../assset/img/blazy_blank.svg" data-src="../../upload/about/spirit/rowImg3_500_550.jpg" alt="">
                </div>
                <div class="_text">
                    <div>
                        <h6>Life experience</h6>
                        <p>In 1896, the Japanese native Hiroshi Hirotita set up the first hot spring hotel in Taiwan to
                            open the Taiwanese bathing history; 108 years later, Villa 32 of the 32nd and the second
                            row
                            houses rewritten his life experience.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="detail_ft">
        <div class="ft_room">
            <a class="ft_room_prev" href="javascript:void(0)">
                <div class="ft_hover">
                    <p>RELAIS & CHATEAUX</p>
                </div>
                <img class="b-lazy" src="../../assset/img/blazy_blank.svg" data-src="../../upload/about/spirit/ftImg1_720_360.jpg">
            </a>
            <a class="ft_room_next" href="javascript:void(0)">
                <div class="ft_hover">
                    <p>Location</p>
                </div>
                <img class="b-lazy" src="../../assset/img/blazy_blank.svg" data-src="../../upload/about/spirit/ftImg2_720_360.jpg">
            </a>
        </div>
    </div>
</div>