<section class="top">
    <div class="X liboxClose">
        <span></span>
    </div>
    <div class="_title">
        <h2>Select Your Categories</h2>
        <p>選擇報名組別</p>
    </div>
    <div class="hdlogo">
        <a href="../home/index.html">
        	<img src="../../assets/img/hdLogo_white.png" alt="">
        </a>
    </div>
</section>
<section>
    <div class="word">
        <p>本年度共舉辦<span class="numb"></span>大組別</p>
        <p>請選擇您欲參加的類型進行報名</p>
    </div>
</section>

<section class="category">
	<ul>
		<li>
			<span></span>
			<h3>Porcelain＆Ceramic</h3>
			<h2>PRODUCT</h2>
			<p>陶瓷設計組</p>
		</li>
		<li>
			<span></span>
			<h3>Porcelain＆Ceramic</h3>
			<h2>CONCEPT</h2>
			<p>概念設計組</p>
		</li>
		<li>
			<span></span>
			<h3>Project of</h3>
			<h2>Rising Star</h2>
			<p>法藍瓷光點計畫</p>
		</li>
		<li>
			<span></span>
			<h3>Porcelain＆Ceramic</h3>
			<h2>CONCEPT</h2>
			<p>概念設計組</p>
		</li>
	</ul>
</section>
<section class="liboxToTop">
    <span></span>
    <p>TOP</p>
</section>