<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="language" content="tw" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="title" content="網站標題名稱" />
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <meta name="copyright" content="作者名子">
    <title>franzaward</title>
    <!-- 共用CSS -->
    <link rel="stylesheet" href="../../assets/js/vendor/cgpagechange/cgpagechange.css">
    <link rel="stylesheet" href="../../assets/js/vendor/jquery.mCustomScrollbar.min.js/jquery.mCustomScrollbar.min.css">
    <!-- 共用CSS end-->
    <!-- 非共用CSS -->
    <link rel="stylesheet" href="../../assets/js/vendor/perfect-scrollbar/perfect-scrollbar.min.css">
    <link rel="stylesheet" href="../../assets/js/vendor/slick/slick-theme.css">
    <link rel="stylesheet" href="../../assets/js/vendor/slick/slick.css">
    <!-- 非共用CSS end-->
    <!-- 自訂的css -->
    <link rel="stylesheet" href="../../assets/css/service/signup.css">
</head>

<body id="service" class="signup">
    <main>
        <article class="header">
            <div class="X">
                <span></span>
            </div>
            <div class="_title">
                <h2>Sign up Rising Star Project</h2>
                <p>申請 2018 法藍瓷光點計畫</p>
            </div>
            <div class="hdlogo">
                <a href="../home/index.html">
                    <img src="../../assets/img/hdLogo.png" alt="">
                    <h1>franzaward</h1>
                </a>
            </div>
        </article>
        <article class="content">
            <section class="stepNav">
                <ul>
                    <span class="blueLine"></span>
                    <!-- 後端請注意:第一個li 一定要有active checked 這兩個class -->
                    <li class="active checked">
                        <h5>Step1</h5>
                        <p>填寫學籍資訊</p>
                    </li>
                    <li>
                        <h5>Step2</h5>
                        <p>上傳參加作品</p>
                    </li>
                    <li>
                        <h5>Step3</h5>
                        <p>共同設計師資訊</p>
                    </li>
                </ul>
                <span class="scrollBar"></span>
            </section>
            <section class="tableContent">
                <form class="step1 active">
                    <div class="hr"></div>
                    <div class="_title">
                        <h6>Please fill in your artork information<span>請上傳申請作品</span></h6>
                        <p>請填寫您的作品相關資訊，並配合光點計畫所需的擋案規格建立您的作品資訊，若規格不符將有可能損及您的權益，感謝您！</p>
                    </div>
                    <div class="type uploadPhoto">
                        <h3 class="required">Compression photos of artwork (for Website View)  上傳作品實體照片，網頁瀏覽使用
                        </h3>
                        <div class="workbox worksImg">
                            <h5>Upload 5 pieces of your artwork, including: front view+ back view + left view + right view+ top view</h5>
                            <h5>五張作品實體照片，建議包含：正視＋背視＋左側視＋右側視＋俯視</h5>
                            <h5>需為原創作品，且不接受草稿圖、3D繪圖、非實際使用陶瓷製作之打樣品照片</h5>
                            <h5><b>FORMAT 檔案規格 : JPG 檔案格式，1100 X 825 px，容量限制 5MB 以內，解析度為 dpi 72</b></h5>
                            <div class="_slick">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)" class="checked">
                                            <div class="remove"><b></b></div>
                                            <span></span>
                                            <!-- 後端請注意:下方img為src放上傳的img位置 -->
                                            <img src="../../upload/fa2/service/signup/picture1_160_120.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="checked">
                                            <div class="remove"><b></b></div>
                                            <span></span>
                                            <!-- 後端請注意:下方img為src放上傳的img位置 -->
                                            <img src="../../upload/fa2/service/signup/picture2_160_120.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="">
                                            <div class="remove"><b></b></div>
                                            <span></span>
                                            <!-- 後端請注意:下方img為src放上傳的img位置 -->
                                            <img src="" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="">
                                            <div class="remove"><b></b></div>
                                            <span></span>
                                            <!-- 後端請注意:下方img為src放上傳的img位置 -->
                                            <img src="" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="">
                                            <div class="remove"><b></b></div>
                                            <span></span>
                                            <!-- 後端請注意:下方img為src放上傳的img位置 -->
                                            <img src="" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="">
                                            <div class="remove"><b></b></div>
                                            <span></span>
                                            <!-- 後端請注意:下方請放上傳成功的圖片 -->
                                            <img src="" alt="">
                                        </a>
                                    </li>
                                </ul>
                                <div class="arrow">
                                    <span class="icon-left"></span>
                                    <span class="icon-right"></span>
                                </div>
                            </div>
                        </div>
                        <!-- 後端請注意:如果上傳的格式符合且正確 就在下方div加上class checked 勾勾就會變藍色-->
                        <div class="workbox upload2 coverImg checked">
                            <h5>Cover Page 作品封面</h5>
                            <h5><b>FORMAT 檔案規格 : JPG 檔案格式，最大寬高 960 X 600 px，容量限制 5MB 以內，解析度為 dpi 72</b></h5>
                            <a href="javascript:void(0)" class="checked">
                                <div class="remove"><b></b></div>
                                <span></span>
                                <!-- 後端請注意:下方請放上傳成功的圖片 -->
                                <img src="../../upload/fa2/service/signup/picture1_160_120.jpg" alt="">
                            </a>
                            <span class="hook"></span>
                        </div>
                        <!-- 後端請注意:如果上傳的格式符合且正確 就在下方div加上class checked 勾勾就會變藍色-->
                        <div class="workbox upload2 worksThumbnail">
                            <h5>Cover Page 作品縮圖</h5>
                            <h5><b>FORMAT 檔案規格 : JPG 檔案格式，550 X 550 px，容量限制 5MB 以內，解析度為 dpi 72</b></h5>
                            <a href="javascript:void(0)">
                                <div class="remove"><b></b></div>
                                <span></span>
                                <!-- 後端請注意:下方請放上傳成功的圖片 -->
                                <img src="" alt="">
                            </a>
                            <span class="hook"></span>
                        </div>
                    </div>
                    <div class="type icloud">
                        <h3 class="required">Original photos of artwork  上傳原始作品實體照片</h3>
                        <h4 class="ps"><p>請填寫您的作品雲端連結，並設定與法藍瓷共享，我們的官方email為：Franzaward@gmail.com，若您的資料夾有進行加密，請於備註欄位填寫您的檔案密碼。</p></h4>
                        <div class="workbox icloudAddress">
                            <h5>Share your cloud space   共享作品雲端資料夾</h5>
                            <h5><b>FORMAT 檔案規格 : JPG 檔案格式，容量限制 16MB 以內，解析度 dpi 100 以上至 dpi 300</b></h5>
                            <input type="text" placeholder="Please fill share link 請填寫您的共享連結" data-rwdPlaceholder="share link 共享連結網址">
                        </div>
                        <div class="workbox shareCode">
                            <h5>Note   檔案備註</h5>
                            <input type="password" placeholder="If the file is encrypted, please fill in the shared password 若檔案有加密，請填寫共享密碼" data-rwdPlaceholder="若檔案有加密，請填寫共享密碼">
                        </div>
                    </div>
                    <div class="type videoId">
                        <h3 class="required">Video of artwork  填寫作品影片代碼</h3>
                        <!-- 備註 -->
                        <h4 class="ps">
                            <p>請於下方填寫您的作品影片代碼，無需輸入整段嵌入碼</p>
                        </h4>
                        <div class="workbox">
                            <h5>Code and Video platform    影片代碼與平台</h5>
                            <h5><b>FORMAT 檔案規格 : 5分鐘內短片，解析度 720 以上至 1080</b></h5>
                            <div>
                                <input type="text" placeholder="Please fill video code 請填寫您的影片代碼" data-rwdPlaceholder="fill video code 填入影片代碼">
                                <div class="dropList">
                                    <span class="selectMenu">
                                        <p>請選擇媒體</p> 
                                    </span>
                                    <ul>
                                        <li>Youtube</li>
                                        <li>Vimeo</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="type concept">
                        <h3>Name & Concept of Artwork  作品名稱與設計理念</h3>
                        <div class="workbox category dropDown">
                            <h5 class="required">Category   作品屬性</h5>
                            <div class="dropList">
                                <span class="selectMenu">
                                    <p>Please select the category   <br>請選擇您的作品屬性</p>
                                </span>
                                <ul>
                                    <li>藝術</li>
                                    <li>狂野</li>
                                </ul>
                            </div>
                        </div>
                        <div class="workbox enName">
                            <h5 class="required">English Name   作品英文名稱</h5>
                            <input type="text" placeholder="The number of characters is limited to 50">
                        </div>
                        <div class="workbox chName">
                            <h5>Chinese Name   作品中文名稱</h5>
                            <input type="text" placeholder="請輸入 50 字內的作品名稱">
                        </div>
                        <div class="workbox textarea">
                            <h5 class="required">Concept of artwork   設計理念</h5>
                            <div class="wordCount">
                                <p>0</p>
                                <span>/</span>
                                <p></p>
                            </div>
                            <!-- 後端請注意:data-maxWords為此textarea的字數限制 需讓客戶決定 -->
                            <!-- 後端請注意:下方textarea 的placeholder 內容有關字數限制 需可讓客戶修改-->
                            <textarea placeholder="The number of characters is limited to 100；若以中文輸入，需增加英文介紹，字數限制 100 以內" data-maxWords="100"></textarea>
                        </div>
                        <div class="note">
                            <p>NOTICE : 設計理念超過 100 字</p>
                        </div>
                    </div>
                    <div class="type worksDetail">
                        <h3>Detail of artwork  設計細節</h3>
                        <div class="workbox ceramicProportion dropDown">
                            <h5 class="required">Ceramic proportions occupy   作品材質，陶瓷比例佔</h5>
                            <div class="dropList">
                                <span class="selectMenu">
                                <p>選擇百分比</p>
                            </span>
                                <ul>
                                    <li>50%</li>
                                    <li>60%</li>
                                </ul>
                            </div>
                        </div>
                        <div class="workbox otherMaterial">
                            <h5>Including Other Material   作品包含其他材質</h5>
                            <input type="text" data-rwdPlaceholder="example：icon 如：鐵">
                        </div>
                        <div class="workbox">
                            <h5 class="required">
                                Length   作品長度 (cm)
                            </h5>
                            <input type="text" data-rwdPlaceholder="XX cm">
                        </div>
                        <div class="workbox">
                            <h5 class="required">Width   作品寬度 (cm)</h5>
                            <input type="text" data-rwdPlaceholder="XX cm">
                        </div>
                        <div class="workbox">
                            <h5 class="required">Height   作品高度 (cm)</h5>
                            <input type="text" data-rwdPlaceholder="XX cm">
                        </div>
                        <div class="workbox">
                            <h5 class="required">Weight   作品淨重 (g)</h5>
                            <input type="text" data-rwdPlaceholder="XX g">
                        </div>
                        <div class="workbox textarea">
                            <h5>Other Introduction   其他作品說明</h5>
                            <div class="wordCount">
                                <p>0</p>
                                <span>/</span>
                                <p></p>
                            </div>
                            <!-- 後端請注意:data-maxWords為此textarea的字數限制 需讓客戶決定 -->
                            <!-- 後端請注意:下方textarea 的placeholder 內容有關字數限制 需可讓客戶修改-->
                            <textarea placeholder="The number of characters is limited to 100；若以中文輸入，需增加英文介紹，字數限制 100 以內" data-maxWords="100"></textarea>
                        </div>
                    </div>
                    <div class="type">
                        <h3 class="required">Originality Statement  作品原創聲明書</h3>
                        <h4 class="ps">
                            <p>請自資料下載專區下載，未使用官方表格視為資格不符</p>
                        </h4>
                        <div class="download workbox">
                            <a href="../competition/detail.html" data-toDownload="yes" target="_blank">
                                <h5>Open statement download page   前往資料下載專區</h5>
                                <span class="icon-arrowRT"></span>
                            </a>
                        </div>
                        <div class=" upload workbox">
                            <a href="javascript:void(0)" class="">
                                <div class="remove"><b></b></div>
                                <div>
                                    <span></span>
                                </div>
                            </a>
                            <h5>請點擊按鈕進行檔案上傳</h5>
                            <h5><b>FORMAT 檔案規格 : JPG 檔案格式，容量限制 1MB 以內，解析度為 dpi 72</b></h5>
                            <span class="hook"></span>
                        </div>
                    </div>
                    <div class="button">
                        <div class="next toStep3">
                            <!-- 後端請注意:請在此頁尋找activeStep 有說明可看-->
                            <a href="javascript:void(0)">
                                <p>Next <span>下一步：共同設計師資訊</span></p>
                            </a>
                        </div>
                        <div class="prev">
                            <a href="javascript:void(0)">
                                <p>Prev<span>：上一步填寫學籍資料</span></p>
                            </a>
                        </div>
                    </div>
                </form>
                <form class="step2 ">
                    <div class="_title">
                        <h6>Please fill in your academic information<span>請輸入學籍資訊</span></h6>
                        <p>光點計畫僅限學生身分可以參與，請確實填寫並上傳清晰的學籍證明資訊，主辦單位將會以本資料為基準，進行參賽資格的核對與審查。</p>
                        <ul>
                            <li>
                                <input type="checkbox">
                                <label for=""></label>
                                <p>Same as Previous Information 與先前填寫的學籍資訊相同</p>
                            </li>
                            <li>
                                <input type="checkbox">
                                <label for=""></label>
                                <p>First sing up or update Your Enrollment 首次填寫或更新學籍資訊</p>
                            </li>
                        </ul>
                    </div>
                    <div class="school type">
                        <h3>Location of current university or type the corporate code</h3>
                        <h3>就讀學校位置或輸入合作代碼</h3>
                        <div class="schollCountry workbox dropdown">
                            <h5 class="required">Country of Your School  學校所在地區</h5>
                            <div class="dropList">
                                <span class="selectMenu">
                                        <p>Select  選擇地區</p>
                                    </span>
                                <ul>
                                    <li>台灣</li>
                                    <li>大陸</li>
                                    <li>美國</li>
                                    <li>越南</li>
                                    <li>瓦甘達</li>
                                    <li>沙烏地阿拉伯</li>
                                </ul>
                            </div>
                        </div>
                        <div class="schoolCode workbox">
                            <h5>Corporate Code   合作代碼</h5>
                            <input type="text" data-rwdPlaceholder="000000000">
                        </div>
                    </div>
                    <div class="studyInf type">
                        <h3 class="required">Study Information  就讀相關資訊</h3>
                        <div class="university  workbox">
                            <h5>University   就讀學校名稱</h5>
                            <input type="text" data-rwdPlaceholder="XX大學">
                        </div>
                        <div class="department workbox">
                            <h5>Department   系所全名</h5>
                            <input type="text" data-rwdPlaceholder="XX系">
                        </div>
                        <div class="grade workbox">
                            <h5>Grade   就讀年級</h5>
                            <input type="text" data-rwdPlaceholder="XX年級">
                        </div>
                        <div class="advisor workbox">
                            <h5>Advisor   指導教授姓名</h5>
                            <input type="text" data-rwdPlaceholder="XX教授">
                        </div>
                    </div>
                    <div class="evidence type">
                        <h3 class="required">Upload Your Certificate of Enrollment  在學佐證資料上傳</h3>
                        <!-- 備註 -->
                        <h4 class="ps">
                            <p>請上傳相關佐證資料：</p>
                            <p>(1) 2018年 1-8 月申請之在學證明書　(2) 已蓋 2018 註冊章之學生證</p>
                            <p>(3) 2018 年應屆畢業證書　(4) 2018 年學期成績單</p>
                            <p>(1).(2).(3).(4) 四項資料擇一即可</p>
                        </h4>
                        <!-- 後端請注意:如果傳輸成功的話 在下方加上class success  如果上傳失敗的話 加上 class failure  就會出現相對應的icon-->
                        <div class="upload workbox success">
                            <a href="javascript:void(0)" class="checked">
                                <div class="remove"><b></b></div>
                                <div>
                                    <span></span>
                                </div>
                            </a>
                            <h5>請點擊按鈕進行檔案上傳</h5>
                            <h5><b>FORMAT 檔案規格 : JPG 檔案格式，容量限制 1MB 以內，解析度為 dpi 72</b></h5>
                            <span class="hook"></span>
                        </div>
                        <div class="addbox upload workbox">
                            <a href="javascript:void(0)">
                                <div>
                                    <span></span>
                                </div>
                            </a>
                            <h5>請點擊按鈕進行檔案上傳</h5>
                            <h5><b>FORMAT 檔案規格 : JPG 檔案格式，容量限制 1MB 以內，解析度為 dpi 72</b></h5>
                        </div>
                    </div>
                    <div class="button">
                        <div class="next toStep2">
                            <!-- 後端請注意:請在此頁尋找activeStep 有說明可看-->
                            <a href="javascript:void(0)">
                                <p>Next <span>下一步：上傳參加作品</span></p>
                            </a>
                        </div>
                    </div>
                </form>
                <form class="step3">
                    <div class="hr"></div>
                    <div class="_title">
                        <h6>Co-designer Information<span>共同設計師資訊</span></h6>
                        <p>每件設計作品的共同設計師至多為4位，請於下方確實填寫設計師資訊</p>
                    </div>
                    <div class="type member">
                        <!-- 後端請注意:如果傳輸成功的話 在下方加上class success  如果上傳失敗的話 加上 class failure  就會出現相對應的icon-->
                        <div class=" upload workbox success">
                            <a href="javascript:void(0)" class="">
                                <div class="remove"><b></b></div>
                                <div>
                                    <span></span>
                                    <!-- 後端請注意:下方img放上傳的圖片 -->
                                    <img src="../../upload/fa2/service/signup/picture1_160_120.jpg" alt="">
                                </div>
                            </a>
                            <h5>Upload Picture 上傳大頭貼：請點擊按鈕進行檔案上傳</h5>
                            <h5><b>FORMAT 檔案規格 : JPG 檔案格式，500 X 500 px，容量限制 1MB 以內，解析度為 dpi 72</b></h5>
                            <span class="hook"></span>
                        </div>
                        <div class="workbox name">
                            <input type="text" placeholder="Family Name   姓">
                            <span></span>
                            <input type="text" placeholder="First Name   名">
                        </div>
                        <div class="workbox name">
                            <input type="text" placeholder="Family Name Same as Passport   拼音姓（同護照）">
                            <span></span>
                            <input type="text" placeholder="First Name Same as Passport   拼音名（同護照）">
                        </div>
                        <div class="country workbox dropDown">
                            <h5>Nationality   選擇國籍</h5>
                            <div class="dropList">
                                <span class="selectMenu">
                                        <p>選擇國籍</p>
                                    </span>
                                <ul>
                                    <li>台灣</li>
                                    <li>大陸</li>
                                    <li>美國</li>
                                    <li>越南</li>
                                    <li>瓦甘達</li>
                                    <li>沙烏地阿拉伯</li>
                                </ul>
                            </div>
                        </div>
                        <div class="workbox tel">
                            <h5>Mobile / Tel   聯繫電話</h5>
                            <input type="text">
                        </div>
                        <div class="workbox email">
                            <h5>E-mail   聯繫信箱</h5>
                            <input type="text">
                        </div>
                        <div class="workbox birthday">
                            <h5>Birthday   出生日期</h5>
                            <div class="dropList year">
                                <span class="selectMenu">
                                        <p>Year   年</p>
                                    </span>
                                <ul>
                                    <li>1992</li>
                                    <li>1993</li>
                                    <li>1994</li>
                                    <li>1995</li>
                                    <li>1996</li>
                                    <li>1997</li>
                                </ul>
                            </div>
                            <div class="dropList month">
                                <span class="selectMenu">
                                        <p>Month   月</p>
                                    </span>
                                <ul>
                                    <li>1</li>
                                    <li>2</li>
                                    <li>3</li>
                                    <li>4</li>
                                    <li>5</li>
                                    <li>6</li>
                                </ul>
                            </div>
                            <div class="dropList date">
                                <span class="selectMenu">
                                        <p>Date   日</p>
                                    </span>
                                <ul>
                                    <li>1</li>
                                    <li>2</li>
                                    <li>3</li>
                                    <li>4</li>
                                    <li>5</li>
                                    <li>6</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="type member">
                        <!-- 後端請注意:如果傳輸成功的話 在下方加上class success  如果上傳失敗的話 加上 class failure  就會出現相對應的icon-->
                        <div class=" upload workbox">
                            <a href="javascript:void(0)" class="">
                                <div>
                                    <span></span>
                                    <!-- 後端請注意:下方img放上傳的圖片 -->
                                    <img src="" alt="">
                                </div>
                            </a>
                            <h5>Upload Picture 上傳大頭貼：請點擊按鈕進行檔案上傳</h5>
                            <h5><b>FORMAT 檔案規格 : JPG 檔案格式，500 X 500 px，容量限制 1MB 以內，解析度為 dpi 72</b></h5>
                            <span class="hook"></span>
                        </div>
                        <div class="workbox name">
                            <input type="text" placeholder="Family Name   姓">
                            <span></span>
                            <input type="text" placeholder="First Name   名">
                        </div>
                        <div class="workbox name">
                            <input type="text" placeholder="Family Name Same as Passport   拼音姓（同護照）">
                            <span></span>
                            <input type="text" placeholder="First Name Same as Passport   拼音名（同護照）">
                        </div>
                        <div class="country workbox dropDown">
                            <h5>Nationality   選擇國籍</h5>
                            <div class="dropList">
                                <span class="selectMenu">
                                        <p>選擇國籍</p>
                                    </span>
                                <ul>
                                    <li>台灣</li>
                                    <li>大陸</li>
                                    <li>美國</li>
                                    <li>越南</li>
                                    <li>瓦甘達</li>
                                    <li>沙烏地阿拉伯</li>
                                </ul>
                            </div>
                        </div>
                        <div class="workbox tel">
                            <h5>Mobile / Tel   聯繫電話</h5>
                            <input type="text">
                        </div>
                        <div class="workbox email">
                            <h5>E-mail   聯繫信箱</h5>
                            <input type="text">
                        </div>
                        <div class="workbox birthday">
                            <h5>Birthday   出生日期</h5>
                            <div class="dropList year">
                                <span class="selectMenu">
                                        <p>Year   年</p>
                                    </span>
                                <ul>
                                    <li>1992</li>
                                    <li>1993</li>
                                    <li>1994</li>
                                    <li>1995</li>
                                    <li>1996</li>
                                    <li>1997</li>
                                </ul>
                            </div>
                            <div class="dropList month">
                                <span class="selectMenu">
                                        <p>Month   月</p>
                                    </span>
                                <ul>
                                    <li>1</li>
                                    <li>2</li>
                                    <li>3</li>
                                    <li>4</li>
                                    <li>5</li>
                                    <li>6</li>
                                </ul>
                            </div>
                            <div class="dropList date">
                                <span class="selectMenu">
                                        <p>Date   日</p>
                                    </span>
                                <ul>
                                    <li>1</li>
                                    <li>2</li>
                                    <li>3</li>
                                    <li>4</li>
                                    <li>5</li>
                                    <li>6</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="type addMember">
                        <a href="javascript:void(0)"></a>
                        <h5>請點擊按鈕新增成員</h5>
                    </div>
                    <div class="button">
                        <div class="finish">
                            <a href="javascript:void(0)" onclick="ajaxUploadLibox()">
                                <p>Next <span>下一步：確認送出</span></p>
                            </a>
                        </div>
                        <div class="prev">
                            <a href="javascript:void(0)">
                                <p>Prev <span>上一步：上傳參加作品</span></p>
                            </a>
                        </div>
                    </div>
                </form>
            </section>
        </article>
        <article class="goTop">
            <span></span>
            <p>TOP</p>
        </article>
    </main>
    <script src="../../assets/js/style.js"></script>
</body>

<script>
//////////////////////////
//       slick          //
//////////////////////////
var worksImgSlick = (function() {
    $(".worksImg ._slick ul").slick({
        slidesToShow: 5,
        slidesToScroll: 5,
        speed: 800,
        infinite: false,
        swipe: false,
        prevArrow: ".worksImg ._slick .icon-left",
        nextArrow: ".worksImg ._slick .icon-right",
        responsive: [{
                breakpoint: 900,
                settings: {
                    slidesToShow: 4,
                    slidesToScroll: 4,
                }
            },
            {
                breakpoint: 700,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3,
                }
            },
            {
                breakpoint: 500,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2,
                }
            }
        ]
    });
})();
// slick重制 後端請注意:如果要重啟slick 就啟動這個function
function reset() {
    $(".worksImg ._slick ul").slick('unslick');
    worksImgSlick();
}
</script>
<script>
//////////////////////////
//      activeStep      //
//////////////////////////  

// 後端請注意:下方的function只為click而生 可移除 另找方式啟動activeStep(e)即可 但括弧裡的e必須存在
activeStepClick();

function activeStepClick() {
    $(".next").click(function(e) {
        activeStep(e);
    });
}


// 啟動開啟下一個step
function activeStep(e) {
    var form = document.querySelectorAll(".tableContent form")
    var current = $(e.target).closest("form").index()
    var next = $(e.target).closest("form").index() + 1

    $(form[current]).slideUp(800);

    $(form[next]).slideDown(800);
    $(form[next]).addClass("active");
    $(form[next]).siblings().removeClass("active");
    reset();

    var navLi = document.querySelectorAll(".content .stepNav ul li")

    $(navLi[next]).addClass("checked");
    $(navLi[next]).addClass("active");
    $(navLi[next]).siblings().removeClass("active");
    var top = 100 * next + "px"
    $(".stepNav ul .blueLine").css("top", top);

    // 滾動到上方
    $("html,body").animate({
        scrollTop: $(".content").offset().top
    }, 800, 'easeOutCubic');

    // 重新啟動的function
    // service.clickStepNav();
}

// 後端請注意:下方的function只為click而生 可移除 另找方式啟動activeStep(e)即可 但括弧裡的e必須存在
backStepClick()

function backStepClick() {
    $(".prev").click(function(e) {
        backStep(e);
    });
}
// 啟動開啟上一個step
function backStep(e) {
    var form = document.querySelectorAll(".tableContent form")
    var current = $(e.target).closest("form").index()
    var prev = $(e.target).closest("form").index() - 1

    $(form[current]).slideUp(800);

    $(form[prev]).slideDown(800);
    $(form[prev]).addClass("active");
    $(form[prev]).siblings().removeClass("active");
    reset();

    var navLi = document.querySelectorAll(".content .stepNav ul li")

    $(navLi[prev]).addClass("checked");
    $(navLi[prev]).addClass("active");
    $(navLi[prev]).siblings().removeClass("active");
    var top = 100 * prev + "px"
    $(".stepNav ul .blueLine").css("top", top);

    // 滾動到上方
    $("html,body").animate({
        scrollTop: $(".content").offset().top
    }, 800, 'easeOutCubic');
}
</script>

</html>