<section class="left">
    <!-- 後端請注意:全部上傳好之後啟動uploadSuccess() -->
    <div class="top">
        <div class="circle">
            <div class="graphic">
                <canvas id="myCanvas" width="100" height="100"> </canvas>
            </div>
            <div class="words">
                <p>0</p>
                <span>/</span>
                <p></p>
            </div>
        </div>
        <div class="en">
            <p class="ing">Uploading...</p>
            <p class="finish">Success!</p>
        </div>
        <div class="ch">
            <p class="ing">檔案上傳中，請勿關閉視窗</p>
            <p class="finish">成功上傳所有檔案</p>
        </div>
    </div>
    <div class="uploadList">
        <ul>
            <!-- 後端請注意:下列每個項目完成後 在li上加上class success 勾勾變藍色-->
            <li class="success">
                <div class="_img">
                    <span></span>
                    <img src="" alt="">
                </div>
                <p>2018年1-8 月申請之在學證明書.jpg</p>
                <span class="hook"></span>
                <span class="uploadLine"></span>
            </li>
            <li  class="success">
                <div class="_img">
                    <span></span>
                    <img src="" alt="">
                </div>
                <p>銀行領款文件證明.jpg</p>
                <span class="hook"></span>
                <span class="uploadLine"></span>
            </li>
            <li>
                <div class="_img">
                    <span></span>
                    <img src="" alt="">
                </div>
                <p>銀行領款文件證明.jpg</p>
                <span class="hook"></span>
                <span class="uploadLine"></span>
            </li>
            <li>
                <div class="_img">
                    <span></span>
                    <img src="../../upload/fa2/service/signup/picture1_160_120.jpg" alt="">
                </div>
                <p>design_work_cover.jpg</p>
                <span class="hook"></span>
                <span class="uploadLine"></span>
            </li>
            <li>
                <div class="_img">
                    <span></span>
                    <img src="../../upload/fa2/service/signup/picture2_160_120.jpg" alt="">
                </div>
                <p>design_work_cover.jpg</p>
                <span class="hook"></span>
                <span class="uploadLine"></span>
            </li>
        </ul>
    </div>
</section>
<section class="right">
    <div class="contentBox">
        <div class="_title">
            <p class="en">Entry rules and the related participation rights </p>
            <p class="ch">參賽規範與相關權益</p>
        </div>
        <div class="rules">
            <div class="rule">
                <p>本參賽同意書列明將如何處理本單位所蒐集到的個人與作品資料以及您同意配合之事項。當您勾選本同意書內容（是或否）、並簽署本同意書時，表示您已閱讀、瞭解並同意接受本參賽同意書之所有內容及其後修改變更規定。</p>
            </div>
            <div class="rule">
                <h6>個人基本資料之蒐集、更新及保管</h6>
                <p>1. 本人（本團隊）同意主辦單位及執行單位，基於參賽者管理、報名管理、活動期間身分確認、活動聯繫、寄送獎品、競賽活動相關訊息聯繫及相關行政作業之目的，得蒐集、處理及利報名管</p>
                <p>本參賽同意書列明將如何處理本單位所蒐集到的個人與作品資料以及您同意配合之事項。當您勾選本同意書內容（是或否）、並簽署本同意書時，表示您已閱讀、瞭解並同意接受本參賽同意書之所有內容及其後修改變更規定。</p>
            </div>
            <div class="rule">
                <h6>個人基本資料之蒐集、更新及保管</h6>
                <p>本參賽同意書列明將如何處理本單位所蒐集到的個人與作品資料以及您同意配合之事項。當您勾選本同意書內容（是或否）、並簽署本同意書時，表示您已閱讀、瞭解並同意接受本參賽同意書之所有內容及其後修改變更規定。</p>
            </div>
            <div class="rule">
                <h6>個人基本資料之蒐集、更新及保管</h6>
                <p>本參賽同意書列明將如何處理本單位所蒐集到的個人與作品資料以及您同意配合之事項。當您勾選本同意書內容（是或否）、並簽署本同意書時，表示您已閱讀、瞭解並同意接受本參賽同意書之所有內容及其後修改變更規定。</p>
            </div>
            <div class="rule">
                <h6>個人基本資料之蒐集、更新及保管</h6>
                <p>本參賽同意書列明將如何處理本單位所蒐集到的個人與作品資料以及您同意配合之事項。當您勾選本同意書內容（是或否）、並簽署本同意書時，表示您已閱讀、瞭解並同意接受本參賽同意書之所有內容及其後修改變更規定。</p>
            </div>
            <div class="rule">
                <h6>個人基本資料之蒐集、更新及保管</h6>
                <p>本參賽同意書列明將如何處理本單位所蒐集到的個人與作品資料以及您同意配合之事項。當您勾選本同意書內容（是或否）、並簽署本同意書時，表示您已閱讀、瞭解並同意接受本參賽同意書之所有內容及其後修改變更規定。</p>
            </div>
            <div class="rule">
                <h6>個人基本資料之蒐集、更新及保管</h6>
                <p>本參賽同意書列明將如何處理本單位所蒐集到的個人與作品資料以及您同意配合之事項。當您勾選本同意書內容（是或否）、並簽署本同意書時，表示您已閱讀、瞭解並同意接受本參賽同意書之所有內容及其後修改變更規定。</p>
            </div>
            <div class="rule">
                <h6>個人基本資料之蒐集、更新及保管</h6>
                <p>本參賽同意書列明將如何處理本單位所蒐集到的個人與作品資料以及您同意配合之事項。當您勾選本同意書內容（是或否）、並簽署本同意書時，表示您已閱讀、瞭解並同意接受本參賽同意書之所有內容及其後修改變更規定。</p>
            </div>
            <div class="rule">
                <h6>個人基本資料之蒐集、更新及保管</h6>
                <p>本參賽同意書列明將如何處理本單位所蒐集到的個人與作品資料以及您同意配合之事項。當您勾選本同意書內容（是或否）、並簽署本同意書時，表示您已閱讀、瞭解並同意接受本參賽同意書之所有內容及其後修改變更規定。</p>
            </div>
        </div>
        <span class="hr"></span>
        <div class="agree">
            <input type="checkbox">
            <label></label>
            <div>
                <h6>我已詳細了解計畫規範及相關權益與核對領款資訊</h6>
                <p>NOTICE：送出後即開始進行檔案上傳，不可回頭修改，請慎重核對！</p>
            </div>
        </div>
        <div class="button">
            <ul>
                <li class="liboxClose">
                    <p>Previous 上一步：報名參賽作品</p>
                </li>
                <li class="startUpload" onclick="uploadLibox.startfunction()">
                    <p>Next 下一步：開始上傳</p>
                </li>
            </ul>
        </div>
    </div>
</section>