<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <meta name="format-detection" content="telephone=no">
    <title>PAPILLON</title>
    <!--[if lt IE 9]><script src="../../assets/js/vendor/html5shiv-master/html5shiv.js"></script><![endif]-->
    <!--讓ie9以下看懂html5標籤-->
    <!-- icon -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/img/ico/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/ico/favicon.png">
    <link rel="icon" type="image/x-icon" href="../../assets/img/ico/favicon.png">
    <!-- 共用CSS -->
    <!-- <link rel="stylesheet" href="../../assets/css/icon-style.css"> -->
    <link rel="stylesheet" href="../../assets/js/vendor/cgpagechange/cgpagechange.css">
    <link rel="stylesheet" href="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.css">
          <link rel="stylesheet" href="../../assets/js/vendor/slick/slick.css">
    <link rel="stylesheet" href="../../assets/js/vendor/slick/slick-theme.css">
    <!-- 共用CSS end-->
    <!-- 非共用CSS -->
    <!-- 非共用CSS end-->
    <link rel="stylesheet" href="../../assets/css/witness_detail.css">
</head>

<body id="witness" class="detail">
    <main>
        <article class="_banner">
            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/witness/detail/img1_960_1080.jpg" alt="">
        </article>
        <article class="_inf">
            <div class="_close" onclick="history.back()">
                <p>CLOSE</p>
            </div>
            <div class="_title">
                <h2>HAPPINESS WITNESS</h2>
                <!-- 新人名子 -->
                <h3>重積 & 慧喬</h3>
                <!-- 產品分類 -->
                <p>婚戒</p>
                <div class="socialMedia">
                    <p>SHARE</p>
                    <!-- facebook連結 -->
                    <a href="">
                        <span class="icon-facebook"></span>
                    </a>
                    <!-- twitter連結 -->
                    <a href="">
                   <span class="icon-twitter"></span>
               </a>
                </div>
            </div>
            <div class="_text">
                <p>當我們決定了，也就開始起找尋屬於我們的戒指；看了幾家茫茫然的沒下文，直到萬能臉書分享文，就這樣決定去法蝶實際挑選。
                    <br>
                    <br> 服務人員 Fiona 的服務非常親切，不厭其煩的介紹說明合適我們的戒指，並讓我們試戴，讓我跟老婆都感覺很窩心。
                    <br>
                    <br> 老婆也在那一次與 Fiona 開啟了話夾子，像熟識的朋友開心的討論除了戒指以外的大小事務，老婆喜歡簡單一點的設計款式，幾經挑選，終於在這兒找到了。直的讚賞的部份是法蝶可以依各人喜好更改設計款式，這點讓我覺得很貼心，也謝謝服務人員的建議。
                </p>
            </div>
            <div class="location">
                <ul>
                    <li>
                        <!-- 服務人員名稱 -->
                        <p>HAPPY ANGEL : <span>茄羚  Fiona</span></p>
                    </li>
                    <!-- 服務據點名稱 -->
                    <li>
                        <!-- 連結到服務據點內頁 -->
                        <a href="javascript:void(0);">
                            <p>
                                LOCATION : <span>遠東SOGO忠孝館4F</span>
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="product">
                <div class="_img">
                    <a href="../product/product_inf.html">
                        <img src="../../upload/f2e/witness/detail/product_img1.jpg" alt="">
                    </a>
                </div>
                <div class="_intro">
                    <h2>LOVE BARCELONA</h2>
                    <h3>愛在巴塞隆納系列</h3>
                    <div class="more">
                        <a href="../product/product_inf.html">
                        <span></span>
                        <p>READ MORE</p>
                        </a>
                    </div>
                </div>
            </div>
        </article>
        <article class="_reservation">
            <ul>
                <li class="_goTop">
                    <p>GO TOP</p>
                </li>
                <!-- 連結到預約鑑賞內頁 -->
                <li>
                    <a href="../reservation/index.html">
                        <p>預約鑑賞</p>
                    </a>
                </li>
                <!-- 連結到line  -->
                <!-- 請後端填入連結 -->
                <li>
                    <a href="javascript:void(0);"></a>
                </li>
            </ul>
        </article>
    </main>
    <!-- 共用 -->
    <script src="../../assets/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="../../assets/js/vendor/jquery.easings.min.js"></script>
    <script src="../../assets/js/vendor/cgpagechange/cgpagechange.js"></script>
    <script src="../../assets/js/vendor/waypoints/waypoints.min.js"></script>
    <script src="../../assets/js/vendor/blazy/blazy.min.js"></script>
    <script src="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.js"></script>
    <script src="../../assets/js/vendor/slick/slick.min.js"></script>
    <!-- 共用end -->
    <!-- 非共用 -->
    <!-- 非共用end-->
    <script src="../../assets/js/main.js"></script>
</body>

</html>