<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <meta name="format-detection" content="telephone=no">
    <title>PAPILLON</title>
    <!--[if lt IE 9]><script src="../../assets/js/vendor/html5shiv-master/html5shiv.js"></script><![endif]-->
    <!--讓ie9以下看懂html5標籤-->
    <!-- icon -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/img/ico/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/ico/favicon.png">
    <link rel="icon" type="image/x-icon" href="../../assets/img/ico/favicon.png">
    <!-- 共用CSS -->
    <!-- <link rel="stylesheet" href="../../assets/css/icon-style.css"> -->
    <link rel="stylesheet" href="../../assets/js/vendor/cgpagechange/cgpagechange.css">
    <link rel="stylesheet" href="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.css">
            <link rel="stylesheet" href="../../assets/js/vendor/slick/slick.css">
    <link rel="stylesheet" href="../../assets/js/vendor/slick/slick-theme.css">
    <!-- 共用CSS end-->
    <!-- 非共用CSS -->
    <!-- 非共用CSS end-->
    <link rel="stylesheet" href="../../assets/css/witness.css">
</head>

<body id="witness" class="index">
    <header>
    </header>
    <main>
        <article class="_title">
            <h2>HAPPINESS WITNESS</h2>
            <h3>幸福見證</h3>
            <div class="countup">
                <p>法蝶珠寶見證<span class="counter" id="counter"></span>對幸福的新人</p>
            </div>
            <div class="select">
                <div class="All">
                    <p>全部列表</p>
                </div>
                <div class="menulist">
                    <span class="selectMenu"><p>選擇分類</p></span>
                    <ul>
                        <li><p>部落客推薦</p></li>
                        <li><p>幸福返購</p></li>
                        <li><p>深情告白</p></li>
                        <li><p>媒婆介紹&父母安排</p></li>
                    </ul>
                </div>
            </div>            
        </article>
        <article class="couples">
            <ul>
                <li>
                    <a href="detail.html">
                        <div class="_img">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/witness/img1_280_280.jpg" alt="">
                            <span></span>
                        </div>
                        <!-- 商品名稱 -->
                        <h2>對戒</h2>
                        <!-- 新人名子 -->
                        <p>重積 & 慧喬</p>
                    </a>
                </li>
                <li>
                      <a href="detail.html">
                        <div class="_img">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/witness/img2_280_280.jpg" alt="">
                            <span></span>
                        </div>
                        <!-- 商品名稱 -->
                        <h2>婚戒</h2>
                        <!-- 新人名子 -->
                        <p>堡建 & Irene</p>
                    </a>
                </li>
                <li>
                      <a href="detail.html">
                        <div class="_img">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/witness/img3_280_280.jpg" alt="">
                            <span></span>
                        </div>
                        <!-- 商品名稱 -->
                        <h2>對戒</h2>
                        <!-- 新人名子 -->
                        <p>Jay & Hannah</p>
                    </a>
                </li>
                <li>
                      <a href="detail.html">
                        <div class="_img">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/witness/img4_280_280.jpg" alt="">
                            <span></span>
                        </div>
                        <!-- 商品名稱 -->
                        <h2>項鍊吊墜</h2>
                        <!-- 新人名子 -->
                        <p>節淪 & 崑靈</p>
                    </a>
                </li>
                <li>
                      <a href="detail.html">
                        <div class="_img">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/witness/img5_280_280.jpg" alt="">
                            <span></span>
                        </div>
                        <!-- 商品名稱 -->
                        <h2>高級珠寶</h2>
                        <!-- 新人名子 -->
                        <p>Rain & 泰熙</p>
                    </a>
                </li>
                <li>
                     <a href="detail.html">
                        <div class="_img">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/witness/img6_280_280.jpg" alt="">
                            <span></span>
                        </div>
                        <!-- 商品名稱 -->
                        <h2>對戒</h2>
                        <!-- 新人名子 -->
                        <p>重積 & 慧喬</p>
                    </a>
                </li>
                <li>
                      <a href="detail.html">
                        <div class="_img">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/witness/img7_280_280.jpg" alt="">
                            <span></span>
                        </div>
                        <!-- 商品名稱 -->
                        <h2>婚戒</h2>
                        <!-- 新人名子 -->
                        <p>堡建 & Irene</p>
                    </a>
                </li>
                <li>
                      <a href="detail.html">
                        <div class="_img">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/witness/img8_280_280.jpg" alt="">
                            <span></span>
                        </div>
                        <!-- 商品名稱 -->
                        <h2>對戒</h2>
                        <!-- 新人名子 -->
                        <p>Jay & Hannah</p>
                    </a>
                </li>
                <li>
                      <a href="detail.html">
                        <div class="_img">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/witness/img9_280_280.jpg" alt="">
                            <span></span>
                        </div>
                        <!-- 商品名稱 -->
                        <h2>項鍊吊墜</h2>
                        <!-- 新人名子 -->
                        <p>節淪 & 崑靈</p>
                    </a>
                </li>
                <li>
                      <a href="detail.html">
                        <div class="_img">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/witness/img10_280_280.jpg" alt="">
                            <span></span>
                        </div>
                        <!-- 商品名稱 -->
                        <h2>高級珠寶</h2>
                        <!-- 新人名子 -->
                        <p>Rain & 泰熙</p>
                    </a>
                </li>
                <li>
                     <a href="detail.html">
                        <div class="_img">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/witness/img11_280_280.jpg" alt="">
                            <span></span>
                        </div>
                        <!-- 商品名稱 -->
                        <h2>對戒</h2>
                        <!-- 新人名子 -->
                        <p>重積 & 慧喬</p>
                    </a>
                </li>
                <li>
                      <a href="detail.html">
                        <div class="_img">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/witness/img12_280_280.jpg" alt="">
                            <span></span>
                        </div>
                        <!-- 商品名稱 -->
                        <h2>婚戒</h2>
                        <!-- 新人名子 -->
                        <p>堡建 & Irene</p>
                    </a>
                </li>
                <li>
                      <a href="detail.html">
                        <div class="_img">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/witness/img13_280_280.jpg" alt="">
                            <span></span>
                        </div>
                        <!-- 商品名稱 -->
                        <h2>對戒</h2>
                        <!-- 新人名子 -->
                        <p>Jay & Hannah</p>
                    </a>
                </li>
                <li>
                      <a href="detail.html">
                        <div class="_img">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/witness/img14_280_280.jpg" alt="">
                            <span></span>
                        </div>
                        <!-- 商品名稱 -->
                        <h2>項鍊吊墜</h2>
                        <!-- 新人名子 -->
                        <p>節淪 & 崑靈</p>
                    </a>
                </li>
                <li>
                      <a href="detail.html">
                        <div class="_img">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/witness/img15_280_280.jpg" alt="">
                            <span></span>
                        </div>
                        <!-- 商品名稱 -->
                        <h2>高級珠寶</h2>
                        <!-- 新人名子 -->
                        <p>Rain & 泰熙</p>
                    </a>
                </li>
            </ul>
        </article>
    </main>
    <footer>
    </footer>
    <!-- 共用 -->
    <script src="../../assets/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="../../assets/js/vendor/jquery.easings.min.js"></script>
    <script src="../../assets/js/vendor/cgpagechange/cgpagechange.js"></script>
    <script src="../../assets/js/vendor/waypoints/waypoints.min.js"></script>
    <script src="../../assets/js/vendor/blazy/blazy.min.js"></script>
    <script src="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.js"></script>
      <script src="../../assets/js/vendor/slick/slick.min.js"></script>
    <!-- 共用end -->
    <!-- 非共用 -->
    <script src="../../assets/js/vendor/countup/countUp.js"></script>
    <!-- 非共用end-->
    <script src="../../assets/js/main.js"></script>
</body>

</html>