<!DOCTYPE html>
<html>

<head>
    <title>TECO</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <link href="../../assets/img/favicon-20170414044912706.ico" rel="icon" type="image/x-icon">
    <!--slick-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/slick/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/slick/slick.css" />
    <!--fons-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/fontAwesome/font-awesome.css" />
    <!--semanticwp-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/semanticwp/jquery.semanticwp-modal.min.css" />
    <!--mCustomScrollbar-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/mCustomScrollbar/jquery.mCustomScrollbar.css" />
    <!-- 非共用的套件css -->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/perfect-scrollbar/perfect-scrollbar.min.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/datedropper/datedropper.min.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/datedropper/my-style.css" />
    <!--style.css-->
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/member/favorite.css" />
</head>

<body class="fontM" id="top">
    <header class="menuBar menuFix">
        <div class="inner">
            <div class="logo">
                <a href="../home"><img src="../../assets/img/logo.png"></a>
                <h1 title="TECO東元" class="disNone">TECO東元</h1>
            </div>
            <div class="left">
                <div class="menuBtn">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <a href="javascript:void(0)" class="use_search"><i class="fa fa-search"></i></a>
                <a href="javascript:void(0)">產品專區</a>
                <a href="javascript:void(0)">液晶顯示器</a>
            </div>
            <div class="right">
                <a href="../contact/index.html"><span>客服專線</span></a>
                <a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="../location/index.html"><i class="icon-map" aria-hidden="true"></i></a>
                <a href="../member/index.html"><i class="icon-user" aria-hidden="true"></i></a>
                <a href="../shop/index.html"><i class="icon-cart" aria-hidden="true"></i>

                    <div class="smallcircle" style="display: none"><span>1</span></div>
                </a>
                <!-- 購物車買的數量 -->
            </div>
        </div>
    </header>
    <nav class="navbox">
        <ul>
            <li><a href="../product/detail01.html" title="家用空調">家用空調</a></li>
            <li><a href="../product/detail01.html" title="液晶顯示器">液晶顯示器</a></li>
            <li><a href="#" title="冰箱">冰箱</a></li>
            <li><a href="javascript:void(0)" title="洗衣機">洗衣機</a></li>
            <li><a href="javascript:void(0)" title="精緻廚電">精緻廚電</a></li>
            <li><a href="javascript:void(0)" title="空氣與水">空氣與水</a></li>
            <li><a href="javascript:void(0)" title="除濕乾衣機">除濕乾衣機</a></li>
            <li><a href="../new/index.html" title="產品新知">產品新知</a></li>
            <li><a href="../contact/index.html" title="服務資訊">服務資訊</a></li>
            <div class="inner inner1">
                <div class="list">
                    <div class="txt">
                        <a href="../product/detail01.html">
                            <h3>LCD Monitor</h3>
                            <h4>液晶顯示器</h4>
                        </a>
                    </div>
                    <ul>
                        <li><a href="../product/detail01.html">真4k smart系列</a></li>
                        <li><a href="../product/detail01.html">真4k smart系列</a></li>
                        <li><a href="../product/detail01.html">水燦光影音系列</a></li>
                        <li><a href="../product/detail01.html">水燦光影音 IPS+DTS 系列</a></li>
                        <li><a href="../product/detail01.html">絕色再生廣色域系列</a></li>
                        <li><a href="../product/detail01.html">絕色再生廣色域系列</a></li>
                        <li><a href="../product/detail01.html">晶鑽LED系列</a></li>
                        <li><a href="../product/detail01.html">晶鑽LED系列</a></li>
                        <span><a href="../product/detail01.html"><img src="../../assets/img/icon.png">所有系列</a></span>
                    </ul>
                </div>
                <div class="bg" style=" background-image: url(../../upload/nav01.jpg)">
                    <a href="../product/detail01.html">
                        <div>
                            <p>畫面驚艷 前所未見</p>
                            <h4>絕色再生廣色域 55型</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="inner inner2">
                <div class="list">
                    <div class="txt">
                        <a href="../product/detail01.html">
                            <h3>LCD Monitor</h3>
                            <h4>液晶顯示器</h4>
                        </a>
                    </div>
                    <ul>
                        <li><a href="../product/detail01.html">真4k smart系列</a></li>
                        <li><a href="../product/detail01.html">真4k smart系列</a></li>
                        <li><a href="../product/detail01.html">水燦光影音系列</a></li>
                        <li><a href="../product/detail01.html">水燦光影音 IPS+DTS 系列</a></li>
                        <li><a href="../product/detail01.html">絕色再生廣色域系列</a></li>
                        <li><a href="../product/detail01.html">絕色再生廣色域系列</a></li>
                        <li><a href="../product/detail01.html">晶鑽LED系列</a></li>
                        <li><a href="../product/detail01.html">晶鑽LED系列</a></li>
                        <span><a href="../product/detail01.html"><img src="../../assets/img/icon.png">所有系列</a></span>
                    </ul>
                </div>
                <div class="bg" style=" background-image: url(../../upload/nav01.jpg)">
                    <a href="../product/detail01.html">
                        <div>
                            <p>前所未見 畫面驚艷 </p>
                            <h4>55型 絕色再生廣色域 </h4>
                        </div>
                    </a>
                </div>
            </div>
        </ul>
    </nav>
    <nav class="navmenu">
        <div class="nav-primary">
            <div class="nav-top">
                <div class="nav-close"><span></span><span></span></div>
                <span class="use_search"><i class="fa fa-search"></i></span>
            </div>
            <ul>
                <li>
                    <a href="../product/index.html">
                        <p>product</p>
                        <h4>產品專區</h4>
                    </a>
                </li>
                <li>
                    <a href="../about/index.html">
                        <p>ABOUT</p>
                        <h4>關於東元</h4>
                    </a>
                </li>
                <li>
                    <a href="../new/index.html">
                        <p>what’s news</p>
                        <h4>最新消息</h4>
                    </a>
                </li>
                <li>
                    <a href="../location/index.html">
                        <p>find teco</p>
                        <h4>經銷據點</h4>
                    </a>
                </li>
                <li>
                    <a href="../member/index.html">
                        <p>member</p>
                        <h4>會員中心</h4>
                    </a>
                </li>
                <li>
                    <a href="../shop/index.html">
                        <p>service</p>
                        <h4>購物服務</h4>
                    </a>
                </li>
                <li>
                    <a href="../contact/index.html">
                        <p>contact us</p>
                        <h4>聯絡我們</h4>
                    </a>
                </li>
                <li>
                    <a href="../catalogue/index.html">
                        <p>Catalog</p>
                        <h4>電子型錄</h4>
                    </a>
                </li>
                <li>
                    <a href="../faq/index.html">
                        <p>faq</p>
                        <h4>常見問題</h4>
                    </a>
                </li>
            </ul>
        </div>
        <div class="nav-accent">
            <a href="../product/index.html">
                <h3>product</h3>
                <h4>產品專區</h4>
            </a>
            <div>
                <ul>
                    <li>
                        <div>
                            <a href="../product/detail01.html">
                                <h4>家用空調系列</h4>
                            </a>
                        </div>
                        <ul>
                            <li>
                                <a href="../product/detail01.html">
                                    <p><span>+</span>變頻1對1豪華LV </p>
                                </a>
                            </li>
                            <li>
                                <a href="../product/detail01.html">
                                    <p><span>+</span>定頻1對1GS</p>
                                </a>
                            </li>
                            <li>
                                <a href="../product/detail01.html">
                                    <p><span>+</span>變頻1對1雅適BV</p>
                                </a>
                            </li>
                            <li>
                                <a href="../product/detail01.html">
                                    <p><span>+</span>定頻1對1吊隱冷專</p>
                                </a>
                            </li>
                            <li>
                                <a href="../product/detail01.html">
                                    <p><span>+</span>變頻1對1雅適ZR </p>
                                </a>
                            </li>
                            <li>
                                <a href="../product/detail01.html">
                                    <p><span>+</span>定頻1對多雙胞胎</p>
                                </a>
                            </li>
                            <li>
                                <a href="../product/detail01.html">
                                    <p><span>+</span>變頻1對多</p>
                                </a>
                            </li>
                            <li>
                                <a href="../product/detail01.html">
                                    <p><span>+</span>窗型定頻</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div>
                            <a href="javascript:void(0)">
                                <h4>液晶顯示器系列</h4>
                            </a>
                        </div>
                        <ul>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>水燦光影音 IPS+DTS</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>絕色再生廣色域</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>真4k smart</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>晶鑽LED</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div>
                            <a href="javascript:void(0)">
                                <h4>冰箱系列</h4>
                            </a>
                        </div>
                        <ul>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>節能變頻三門冰箱</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>小鮮綠</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>節能變頻兩門冰箱</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>臥式冷凍櫃</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>經典定頻三門冰箱</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>直立式冷凍櫃</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>經典定頻兩門冰箱</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div>
                            <a href="javascript:void(0)">
                                <h4>空氣與水</h4>
                            </a>
                        </div>
                        <ul>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>掃地機器人</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>清淨機</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>變頻風扇</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>熱水瓶</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>吸塵器</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>開飲機</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>電暖器</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div>
                            <a href="javascript:void(0)">
                                <h4>洗衣機系列</h4>
                            </a>
                        </div>
                        <ul>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>變頻洗衣機</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>滾筒洗衣機</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>定頻洗衣機</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div>
                            <a href="javascript:void(0)">
                                <h4>精緻廚電</h4>
                            </a>
                        </div>
                        <ul>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>烘碗機</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>烤箱</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>和風點心機</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>微風爐</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>變頻電磁爐</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>咖啡機</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>電陶爐</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>隨行杯</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div>
                            <a href="javascript:void(0)">
                                <h4>除濕亁衣機</h4>
                            </a>
                        </div>
                        <ul>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>除濕機</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p><span>+</span>亁衣機</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--main-->
    <main id="member" class="favorite">
        <article class="topTitle">
            <p class="en">Member Center</p>
            <p class="ch">會員中心</p>
            <div>
                <ul>
                    <li>
                        <a href="center.html">ALL</a>
                    </li>
                    <li>
                        <a href="infManage.html">會員資料管理</a>
                    </li>
                    <li>
                        <a href="dividend.html">紅利點數</a>
                    </li>
                    <li>
                        <a href="billList.html">我的訂單</a>
                    </li>
                    <li class="active">
                        <a href="favorite.html">我的收藏清單</a>
                    </li>
                    <li>
                        <a href="message.html">我的訊息</a>
                    </li>
                    <li>
                        <a href="return.html">退換貨紀錄</a>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.tecoaok.com.tw/AokWebSite/Promise.aspx">保固申請</a>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.tecoaok.com.tw/AokWebSite/Report_form1.aspx">線上報修</a>
                    </li>
                    <!-- <li>
                        <a href="javascript:void(0)">我的地址簿</a>
                    </li> -->
                </ul>
            </div>
        </article>
        <article class="list">
            <section class="nothing" style="display:none">
                <h6>您目前尚未收藏任何商品</h6>
                <a href="javascript:void(0)" class="withLine">
                    <span class="icon-cart"></span>
                    <p>產品專區</p>
                </a>
            </section>
            <ul>
                <li>
                    <div class="_img">
                        <span></span>
                        <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/product_detail_02.png"
                            alt="">
                        <span></span>
                    </div>
                    <div class="name">
                        <p class="modelNumb">MS63IH-ZR MA63IH-ZR</p>
                        <p class="productName">雅適變頻ZR冷暖/11-13坪冷專系列</p>
                        <p class="price">32,900</p>
                    </div>
                    <div class="buttons">
                        <button class="withLine remove" type="button">
                            <span class="iconN-trashcan"></span>
                            <p>移除收藏</p>
                        </button>
                        <a class="withLine" href="javascript:void(0)">
                            <span class="icon-cart"></span>
                            <p>瀏覽商品</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="_img">
                        <span></span>
                        <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/home08.png"
                            alt="">
                        <span></span>
                    </div>
                    <div class="name">
                        <p class="modelNumb">MS63IH-ZR MA63IH-ZR</p>
                        <p class="productName">雅適變頻ZR冷暖/11-13坪冷專系列</p>
                        <p class="price">32,900</p>
                    </div>
                    <div class="buttons">
                        <button class="withLine remove" type="button">
                            <span class="iconN-trashcan"></span>
                            <p>移除收藏</p>
                        </button>
                        <a class="withLine" href="javascript:void(0)">
                            <span class="icon-cart"></span>
                            <p>瀏覽商品</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="_img">
                        <span></span>
                        <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/product_tv01.png"
                            alt="">
                        <span></span>
                    </div>
                    <div class="name">
                        <p class="modelNumb">MS63IH-ZR MA63IH-ZR</p>
                        <p class="productName">雅適變頻ZR冷暖/11-13坪冷專系列</p>
                        <p class="price">32,900</p>
                    </div>
                    <div class="buttons">
                        <button class="withLine remove" type="button">
                            <span class="iconN-trashcan"></span>
                            <p>移除收藏</p>
                        </button>
                        <a class="withLine" href="javascript:void(0)">
                            <span class="icon-cart"></span>
                            <p>瀏覽商品</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="_img">
                        <span></span>
                        <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/product_detail_02.png"
                            alt="">
                        <span></span>
                    </div>
                    <div class="name">
                        <p class="modelNumb">MS63IH-ZR MA63IH-ZR</p>
                        <p class="productName">雅適變頻ZR冷暖/11-13坪冷專系列</p>
                        <p class="price">32,900</p>
                    </div>
                    <div class="buttons">
                        <button class="withLine remove" type="button">
                            <span class="iconN-trashcan"></span>
                            <p>移除收藏</p>
                        </button>
                        <a class="withLine" href="javascript:void(0)">
                            <span class="icon-cart"></span>
                            <p>瀏覽商品</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="_img">
                        <span></span>
                        <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/home08.png"
                            alt="">
                        <span></span>
                    </div>
                    <div class="name">
                        <p class="modelNumb">MS63IH-ZR MA63IH-ZR</p>
                        <p class="productName">雅適變頻ZR冷暖/11-13坪冷專系列</p>
                        <p class="price">32,900</p>
                    </div>
                    <div class="buttons">
                        <button class="withLine remove" type="button">
                            <span class="iconN-trashcan"></span>
                            <p>移除收藏</p>
                        </button>
                        <a class="withLine" href="javascript:void(0)">
                            <span class="icon-cart"></span>
                            <p>瀏覽商品</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="_img">
                        <span></span>
                        <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/product_tv01.png"
                            alt="">
                        <span></span>
                    </div>
                    <div class="name">
                        <p class="modelNumb">MS63IH-ZR MA63IH-ZR</p>
                        <p class="productName">雅適變頻ZR冷暖/11-13坪冷專系列</p>
                        <p class="price">32,900</p>
                    </div>
                    <div class="buttons">
                        <button class="withLine remove" type="button">
                            <span class="iconN-trashcan"></span>
                            <p>移除收藏</p>
                        </button>
                        <a class="withLine" href="javascript:void(0)">
                            <span class="icon-cart"></span>
                            <p>瀏覽商品</p>
                        </a>
                    </div>
                </li>
            </ul>

        </article>
        <article class="removeLibox">
            <section>
                <div class="topNav">
                    <div class="back"><span></span>
                        <p>CLOSE</p>
                    </div>
                </div>
                <div class="_title">
                    <p class="en">Remove</p>
                    <p class="ch">移除收藏清單</p>
                </div>
                <div class="_img">
                    <img src="" alt="">
                </div>
                <div class="name">
                    <p class="modelNumb"></p>
                    <p class="productName"></p>
                    <p class="price"></p>
                </div>
                <div class="buttons">
                    <!-- 後端請注意:資料庫那邊要記得跟著刪除 我這邊只是視覺上刪除而已 重新整理之後還是會跑出來 -->
                    <button class="withLine sureRemove" type="button">
                        <span class="iconN-trashcan"></span>
                        <p>確認刪除</p>
                    </button>
                    <button class="withLine" type="button">
                        <span class="icon-cart"></span>
                        <p>我在想想</p>
                    </button>
                </div>
            </section>
        </article>
    </main>
    <footer class="footer">
        <div class="inner">
            <div class="left">
                <a href="#top" class="aaGoTop"><i class="fa fa-chevron-circle-up" aria-hidden="true"></i> TOP</a>
            </div>
            <nav class="footernav">
                <ul>
                    <li><a href="../../views/about/index.html" title="關於東元">關於東元</a></li>
                    <li><a href="../../views/product/index.html" title="產品專區">產品專區</a></li>
                    <li><a href="../faq/index.html" title="常見問題">常見問題</a></li>
                    <li><a href="../shop/index.html" title="購物服務">購物服務</a></li>
                    <li><a href="../member/index.html" title="會員中心">會員中心</a></li>
                    <!-- <li><a href="../catalogue/index.html" title="電子型錄">電子型錄</a></li>。 -->
                    <li><a href="../contact/index.html" title="聯絡我們">聯絡我們</a></li>
                    <li><a href="javascript:void(0)" title="人才招募">人才招募</a></li>
                    <li><a href="javascript:void(0)" title="隱私權政策">隱私權政策</a></li>
                </ul>
            </nav>
            <div class="right">
                <a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="javascript:void(0)"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            </div>
        </div>
        <hr class="footer_hr">
        <div class="footercontent">
            <div class="thenew">
                <h4>What's News</h4>
                <p>最新消息</p>
                <ul class="small_slick">
                    <li>
                        <a href="javascript:void(0)">
                            <p>12th,Mar.2017 好康特區</p>
                            <p>年終【美好生活】冰箱 / 洗衣機好禮贈送</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <p>12th,Mar.2017 好康特區</p>
                            <p>年終【美好生活】冰箱 / 洗衣機好禮贈送</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="address">
                <h4>Find TECO</h4>
                <p>經銷據點</p>
                <ul class="footer-dropdown">
                    <span class="for-change" data-info="Subject">請選擇您所在的縣市</span>
                    <input type="hidden" name="Subject">
                    <div class="dropdown-detail-out">
                        <li class="dropdown-detail" name="" style="display: none;"><a href="../location/index.html">台北</a></li>
                        <li class="dropdown-detail" name="" style="display: none;"><a href="javascript:void(0)">台中</a></li>
                        <li class="dropdown-detail" name="" style="display: none;"><a href="javascript:void(0)">高雄</a></li>
                    </div>
                </ul>
            </div>
            <div class="catalog">
                <h4>Catalog</h4>
                <p>電子型錄</p>
                <ul class="footer-dropdown">
                    <span class="for-change" data-info="Subject">請選擇年分</span>
                    <input type="hidden" name="Subject">
                    <div class="dropdown-detail-out">
                        <li class="dropdown-detail" name="" style="display: none;">
                            <a href="javascript:void(0)">2018</a>
                        </li>
                        <li class="dropdown-detail" name="" style="display: none;">
                            <a href="javascript:void(0)">2017</a>
                        </li>
                        <li class="dropdown-detail" name="" style="display: none;">
                            <a href="javascript:void(0)">2016</a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="footerfooter">
            <span>© 2016 TECO. ALL RIGHTS RESERVED.</span>
            <a href="http://www.wddgroup.com" title="網頁設計-威德網頁設計公司">DESIGNED BY WDD</a>
        </div>
    </footer>
    <!--主要jQuery-->
    <script src="../../assets/js/vedor/jquery-1.11.3.min.js"></script>
    <!--共用-->
    <script src="../../assets/js/vedor/slick/slick.js"></script>
    <script src="../../assets/js/vedor/bLazy/bLazy.js"></script>
    <script src="../../assets/js/vedor/waypoints.min.js"></script>
    <script src="../../assets/js/vedor/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../../assets/js/vedor/jquery.easings.min.js"></script>
    <script src="../../assets/js/vedor/semanticwp/jquery.semanticwp-modal.min.js"></script>
    <script src="../../assets/js/vedor/prefixfree.min.js"></script>
    <script src="../../assets/js/vedor/picturefill.min.js"></script>
    <script>
        document.createElement("picture");
    </script>
    <!--非共用-->
    <script src="../../assets/js/vedor/jquery.nicescroll/jquery.nicescroll.min.js"></script>
    <script src="../../assets/js/vedor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!--main js-->
    <script src="../../assets/js/main.js"></script>
    <script src="../../assets/js/nick.js"></script>
    <script>
        $(document).ready(function () {
            $(".remove").off().click(function () {
                removeLibox.all();

                // 目標物件
                $element = $(this).closest("li")

                // 圖片路徑
                var img = $element.find("._img img").attr("src")
                // 產品編號
                var modelNumb = $element.find(".modelNumb").text()
                // 產品名稱
                var productName = $element.find(".productName").text()
                // 產品價格
                var price = $element.find(".price").text()

                // 填入
                $(".removeLibox ._img img").attr("src", img)
                $(".removeLibox .modelNumb").text(modelNumb)
                $(".removeLibox .productName").text(productName)
                $(".removeLibox .price").text(price)

                // 刪除目標物件
                $(".removeLibox section .buttons .sureRemove").click(function () {

                    $element.delay().remove();
                    member.hasCollection();
                });
            });
        });

        var removeLibox = {
            open: function () {
                $(".removeLibox").addClass("open");
                if (!mobile()) {
                    $("body").css({
                        "overflow-y": "hidden",
                        "padding-right": "1rem"
                    });
                } else {
                    $("body").css("overflow-y", "hidden");
                }
            },

            close_click: function () {
                $(".removeLibox .back,.removeLibox button").click(function () {
                    removeLibox.close();
                });

                $(".removeLibox").click(function (e) {
                    if ($(e.target).hasClass("removeLibox")) {
                        removeLibox.close();
                    }
                });
            },

            close: function (ele) {
                $(".removeLibox").removeClass("open").addClass("close");
                if (!mobile()) {
                    $("body").css({
                        "overflow-y": "visible",
                        "padding-right": "0rem"
                    });
                } else {
                    $("body").css("overflow-y", "visible");
                }
                setTimeout(function () {
                    $(".removeLibox").removeClass("close");
                }, 800);
            },

            all: function () {
                removeLibox.open();
                removeLibox.close_click();
            }
        }
    </script>
</body>

</html>