
<section class="liboxBanner">
  <figure>
    <!-- 後端請注意:電腦圖片大小--><img src="../../upload/fa2/branch/about/detailBanner_1590_600.jpg" alt=""/>
  </figure>
  <div class="liboxClose"><span></span></div>
  <div class="nav">
    <div class="share">
      <button><span class="icon-share2 textColor"></span>
        <p>SHARE</p>
      </button>
      <ul>
        <li><a href="javascript:void(0)"><span class="icon-facebook" style="color:#3b5998"></span></a></li>
        <li><a href="javascript:void(0)"><span class="icon-line" style="color:#00c300"></span></a></li>
        <li><a href="javascript:void(0)"><span class="icon-twitter" style="color:#00aced"></span></a></li>
      </ul>
    </div>
    <div class="breadcrumb">
      <ul itemscope="itemscope" itemtype="https://schema.org/Product">
        <li itemprop="name"><a href="../branch/about.html" itemprop="url">About Devanno</a><span class="bgColor"></span>
        </li>
        <li itemprop="name">
          <h1><a href="javascript:void(0)" itemprop="url">Award events</a></h1>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="content">
  <div class="_title">
    <h6> Award events</h6>
    <p>We lever our strengths in competencies of production and innovation in product design in order to provide customers with best ceramic.</p>
  </div>
  <div class="boxs">
    <!-- 後端請注意: 下方background-image須讓客戶選擇要不要上-->
    <div class="box" style="background-image: url('../../upload/fa2/branch/about/detailContentBg1_500_200.jpg')">
      <div class="_text">
        <p class="year">2016</p>
        <p class="name">Mood series</p>
        <p class="words">Taiwan Excellence Award</p>
      </div>
      <!-- 後端請注意: 下方img須讓客戶選擇要不要上-->
      <figure><img src="../../upload/fa2/product/series/awardImg1.png" alt=""/></figure>
    </div>
    <!-- 後端請注意: 下方background-image須讓客戶選擇要不要上-->
    <div class="box" style="background-image: url('')">
      <div class="_text">
        <p class="year">2013</p>
        <p class="name">Morbido series</p>
        <p class="words">Taiwan Excellence Award</p>
      </div>
      <!-- 後端請注意: 下方img須讓客戶選擇要不要上-->
      <figure><img src="" alt=""/></figure>
    </div>
    <!-- 後端請注意: 下方background-image須讓客戶選擇要不要上-->
    <div class="box" style="background-image: url('')">
      <div class="_text">
        <p class="year">2011</p>
        <p class="name">Mood series</p>
        <p class="words">Taiwan Excellence Award</p>
      </div>
      <!-- 後端請注意: 下方img須讓客戶選擇要不要上-->
      <figure><img src="../../upload/fa2/product/series/awardImg1.png" alt=""/></figure>
    </div>
    <!-- 後端請注意: 下方background-image須讓客戶選擇要不要上-->
    <div class="box" style="background-image: url('')">
      <div class="_text">
        <p class="year">2010</p>
        <p class="name">Mood series</p>
        <p class="words">Yingge Ceramics Museum New Product Evaluation Best Creative Award</p>
      </div>
      <!-- 後端請注意: 下方img須讓客戶選擇要不要上-->
      <figure><img src="../../upload/fa2/product/series/awardImg2.png" alt=""/></figure>
    </div>
    <!-- 後端請注意: 下方background-image須讓客戶選擇要不要上-->
    <div class="box" style="background-image: url('')">
      <div class="_text">
        <p class="year">2009</p>
        <p class="name">Mood series</p>
        <p class="words">New evaluation of Yingge Ceramics Museum</p>
      </div>
      <!-- 後端請注意: 下方img須讓客戶選擇要不要上-->
      <figure><img src="" alt=""/></figure>
    </div>
    <!-- 後端請注意: 下方background-image須讓客戶選擇要不要上-->
    <div class="box" style="background-image: url('../../upload/fa2/branch/about/detailContentBg2_500_200.jpg')">
      <div class="_text">
        <p class="year">2008</p>
        <p class="name">Seatle series</p>
        <p class="words">Taiwan Excellence Award</p>
      </div>
      <!-- 後端請注意: 下方img須讓客戶選擇要不要上-->
      <figure><img src="../../upload/fa2/product/series/awardImg1.png" alt=""/></figure>
    </div>
    <!-- 後端請注意: 下方background-image須讓客戶選擇要不要上-->
    <div class="box" style="background-image: url('')">
      <div class="_text">
        <p class="year">2006</p>
        <p class="name">Mood series</p>
        <p class="words">Taiwan Excellence Award</p>
      </div>
      <!-- 後端請注意: 下方img須讓客戶選擇要不要上-->
      <figure><img src="../../upload/fa2/branch/about/detailImg1_150_200.jpg" alt=""/></figure>
    </div>
  </div>
</section>