
<footer>
  <article class="topNav">
    <section>
      <div class="_title">
        <p class="en">Need any helps?</p>
        <p class="ch">您需要什麼幫助呢?</p>
      </div>
      <ul>
        <li><a href="javascript:void(0)">
            <p class="en">Tax Refund Service</p>
            <p class="ch">退稅服務</p></a></li>
        <li><a href="javascript:void(0)">
            <p class="en">About Voucher</p>
            <p class="ch">禮卷專區</p></a></li>
        <li><a href="javascript:void(0)">
            <p class="en">Become our Member</p>
            <p class="ch">我想申辦超集卡</p></a></li>
        <li><a href="javascript:void(0)">
            <p class="en">About Parking</p>
            <p class="ch">停車優惠</p></a></li>
        <li><a href="javascript:void(0)">
            <p class="en">Lost &amp; Found</p>
            <p class="ch">失物招領</p></a></li>
      </ul>
    </section>
  </article>
  <article class="ftContent" style="background-image:url('../../assets/img/ftBg_1670_520.jpg')">
    <section class="webMap">
      <div class="type">
        <div class="typeName">
          <p>ABOUT</p>
        </div>
        <div class="typeLink">
          <ul>
            <li><a href="javascript:void(0)">關於漢神百貨</a></li>
            <li><a href="javascript:void(0)">交通資訊</a></li>
            <li><a href="javascript:void(0)">最新消息</a></li>
          </ul>
        </div>
      </div>
      <div class="type">
        <div class="typeName">
          <p>SERVICE</p>
        </div>
        <div class="typeLink">
          <ul>
            <li><a href="javascript:void(0)">服務中心</a></li>
            <li><a href="javascript:void(0)">聯繫我們</a></li>
            <li><a href="javascript:void(0)">電子型錄</a></li>
            <li><a href="javascript:void(0)">服務之星</a></li>
          </ul>
        </div>
      </div>
      <div class="type">
        <div class="typeName">
          <p>EXPLORE</p>
        </div>
        <div class="typeLink">
          <ul>
            <li><a href="javascript:void(0)">樓層導覽</a></li>
            <li><a href="javascript:void(0)">品牌導覽</a></li>
            <li><a href="javascript:void(0)">美食導覽</a></li>
          </ul>
        </div>
      </div>
      <div class="type">
        <div class="typeName">
          <p>COOPERATE</p>
        </div>
        <div class="typeLink">
          <ul>
            <li><a href="javascript:void(0)">廠商專區</a></li>
            <li><a href="javascript:void(0)">相關企業</a></li>
            <li><a href="javascript:void(0)">商業合作</a></li>
          </ul>
        </div>
      </div>
      <div class="type">
        <div class="typeName">
          <p>JOIN US</p>
        </div>
        <div class="typeLink">
          <ul>
            <li><a href="javascript:void(0)">會員專區</a></li>
            <li><a href="javascript:void(0)">超集卡專區</a></li>
            <li><a href="javascript:void(0)">人才招募</a></li>
          </ul>
        </div>
      </div>
      <div class="type">
        <div class="typeName">
          <p>Online shopping</p>
        </div>
        <div class="typeLink">
          <ul>
            <li><a href="javascript:void(0)">漢神百貨網路購物</a></li>
          </ul>
        </div>
      </div>
    </section>
    <section class="infomation">
      <div class="address">
        <h6>ADDRESS</h6>
        <p>高雄市前金區成功一路266-1號</p>
        <div class="number">
          <p data-name="電話">07-215-7266</p>
          <p data-name="服務專線">0800-018-980</p>
        </div>
      </div>
      <div class="businessHours">
        <h6>BUSINESS HOURS</h6>
        <ul>
          <li>
            <p>週一至週四 11:00 - 22:00</p>
          </li>
          <li>
            <p>週六/例假日 10:30 - 22:30</p>
          </li>
          <li>
            <p>週五/假日前一天 11:00 - 22:30</p>
          </li>
          <li>
            <p>例假最終日 10:30 - 22:00</p>
          </li>
        </ul>
      </div>
    </section>
    <section class="ftBottom">
      <div class="copyRight"><img src="../../assets/img/ftLogo_160_40.png" alt=""/>
        <p>© Hanshin department store co.ltd all right reserve. Design by <a href="https://www.wddgroup.com">WDD</a></p>
      </div>
      <div class="follow">
        <h6>FOLLOW US</h6>
        <ul>
          <li><a href="javascript:void(0)"><span class="icon-facebook"></span></a></li>
          <li><a href="javascript:void(0)"><span class="icon-instagram"></span></a></li>
          <li><a href="javascript:void(0)"><span class="icon-twitter"></span></a></li>
          <li><a href="javascript:void(0)"><span class="icon-youtube"></span></a></li>
        </ul>
      </div>
    </section>
  </article>
  <!-- 廣告-->
  <article class="commercial">
    <section style="background-image: url('../../upload/fa2/commercialBg_1090_535.jpg')">
      <div class="liboxClose"><span></span></div>
      <div class="_slick">
        <ul class="single-item">
          <li class="item" data-value="img"><a href="javascript:void(0)">
              <!-- 後端請注意:如果是圖片請照這個格式 可以放gif圖片-->
              <picture>
                <!-- [if IE 9]><video style="display: none;"><![endif]-->
                <!-- 後端請注意:手機圖片大小-->
                <source srcset="../../upload/fa2/commercialImg_1060_400.jpg" media="(max-width:1024px)"/>
                <!-- 後端請注意:電腦圖片大小 1050*590--><img data-lazy="../../upload/fa2/commercialImg_1060_400.jpg" alt=""/>
              </picture></a></li>
          <li class="item video-item" data-value="video">
            <!-- 後端請注意:影片尺寸規定 560*315 不照規定上影片 壞掉前端不負責任-->
            <!-- 後端請注意:data-videoid 請填入 youtube 影片的id-->
            <div class="videoBox" data-videoId="kCU3ht6rMMg"></div>
            <div class="open-box" data-videoid="kCU3ht6rMMg"></div>
          </li>
          <li class="item video-item" data-value="video">
            <!-- 後端請注意:影片尺寸規定 560*315 不照規定上影片 壞掉前端不負責任-->
            <!-- 後端請注意:data-videoid 請填入 youtube 影片的id-->
            <div class="videoBox" data-videoId="VhCr88-MFfM"></div>
            <div class="open-box" data-videoid="VhCr88-MFfM"></div>
          </li>
          <li class="item video-item" data-value="video">
            <!-- 後端請注意:影片尺寸規定 560*315 不照規定上影片 壞掉前端不負責任-->
            <!-- 後端請注意:data-videoid 請填入 youtube 影片的id-->
            <div class="videoBox" data-videoId="dpfsUCOq75s"></div>
            <div class="open-box" data-videoid="dpfsUCOq75s"></div>
          </li>
        </ul>
      </div>
    </section>
  </article>
  <artilce class="guideFooter">
    <ul>
      <li><a href="javascript:void(0)">
          <figure><img data-lazy="../../upload/fa2/guide/footerImg_1080_480.jpg" alt=""/></figure></a></li>
      <li><a href="javascript:void(0)">
          <figure><img data-lazy="../../upload/fa2/guide/footerImg_1080_480.jpg" alt=""/></figure></a></li>
    </ul>
  </artilce>
</footer>