//- 常用參數
include ../layout/_var.pug


.libox
    section
        .box
            .liboxClose
                span
            ._title
                span.icon-key
                p.ch 修改密碼
                p.en Change password
                p.words 請填寫您的舊密碼及新密碼，儲存後將以新密碼作為登入依據，如有疑問可填寫聯絡我們表單或洽詢 : 07-215-7266。
            form
                // 端請注意: 如果要顯示輸入錯誤的項目 請在下方<div class="type"> 加上class "wrong" 如下方所示
                .item.wrong
                    .name
                        p.ch 舊密碼
                        p.en old
                    .inputArea
                        input(type="password" placeholder="")
                .item
                    .name
                        p.ch 新密碼
                        p.en new
                    .inputArea
                        input(type="password" placeholder="限英數字混合6~10碼")
                .item
                    .name
                        p.ch 確認密碼
                        p.en check
                    .inputArea
                        input(type="password" placeholder="再次輸入密碼")
                .item.code
                    .name
                        p.ch 驗證碼
                        p.en code
                    .inputArea
                        input(type="text" placeholder="點擊圖片即可更換")
                        div
                            img(src="../../upload/fa2/supplier/index/codeImg.png", alt="")
                .buttons
                    // 後端請注意: onclick事件本身並不重要 重要的是裡面的 function
                    button(type="reset")
                        span.icon-reset
                        p 重新填寫
                    button(type="button" onclick="liboxs.close(this,false);liboxs.open(1)")
                        span.icon-hook
                        p 儲存修改
.libox
    section
        .box
            .liboxClose
                span
            ._title
                span.icon-hook2
                p.ch 修改密碼成功
                p.en Successful save
                p.words 恭喜您輸入的新密碼已成功儲存，依新密碼重新登入，如有問題洽詢 : 07-215-7266，謝謝您。
            .buttons 
                // 後端請注意: onclick事件本身並不重要 重要的是裡面的 function
                button(type="button" onclick="liboxs.close(this);")
                    span.icon-hook
                    p 確認離開