<article class="header">
    <section class="hd_logo">
        <a href="../home/index.html">
        <img class="test" src="../../assets/img/hd_logo.png" data-test="123" alt="">
        </a>
    </section>
    <section class="hdLinkList">
        <ul>
            <li>
                <a href="../product/index.html">
                    <p>機電產品</p>
                </a>
            </li>
            <li>
                <a href="../applications/index.html">
                    <p>產業應用</p>
                </a>
            </li>
            <li>
                <a href="../service/index.html">
                    <p>客戶服務</p>
                </a>
            </li>
            <li>
                <a href="../news/index.html">
                    <p>新聞中心</p>
                </a>
            </li>
            <li>
                <a href="../about/index.html">
                    <p>關於東元</p>
                </a>
            </li>
        </ul>
    </section>
    <section class="menu">
        <ul>
            <li class="openSearch"><span class="icon-magnifier" title="產品搜尋"></span>
                <p>產品搜尋</p>
            </li>
            <li class="language"><span class="icon-earth"></span>
                <p>語言選擇</p>
            </li>
            <li class="openMenu">
                <div>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </li>
        </ul>
    </section>
    <section class="hover_content">
        <div class="product_hover">
            <div class="productList_bg">
                <div class="productList">
                    <div class="productType">
                        <div class="typeName">
                            <a href="http://test-demo.teco.com.tw/tw/Products/馬達產品">馬達產品</a>
                        </div>
                        <ul>
                            <li>
                                <a href="http://test-demo.teco.com.tw/tw/Products/馬達產品/中高壓馬達">
                                            中高壓馬達
                                        </a>
                            </li>
                            <li>
                                <a href="http://test-demo.teco.com.tw/tw/Products/馬達產品/低壓馬達">
                                            低壓馬達
                                        </a>
                            </li>
                        </ul>
                    </div>
                    <div class="productType">
                        <div class="typeName">
                            <a href="http://test-demo.teco.com.tw/tw/Products/變頻器產品">變頻器產品</a>
                        </div>
                        <ul>
                            <li>
                                <a href="http://test-demo.teco.com.tw/tw/Products/變頻器產品/低壓變頻器系列">
                                            低壓變頻器系列
                                        </a>
                            </li>
                            <li>
                                <a href="http://test-demo.teco.com.tw/tw/Products/變頻器產品/中高壓變頻器系列">
                                            中高壓變頻器系列
                                        </a>
                            </li>
                        </ul>
                    </div>
                    <div class="productType">
                        <div class="typeName">
                            <a href="http://test-demo.teco.com.tw/tw/Products/低壓器具元件">低壓器具元件</a>
                        </div>
                        <ul>
                            <li>
                                <a href="http://test-demo.teco.com.tw/tw/Products/低壓器具元件/交流電磁接觸器/電磁開關">
                                            交流電磁接觸器/電磁開關
                                        </a>
                            </li>
                            <li>
                                <a href="http://test-demo.teco.com.tw/tw/Products/低壓器具元件/空氣斷路器">
                                            空氣斷路器
                                        </a>
                            </li>
                            <li>
                                <a href="http://test-demo.teco.com.tw/tw/Products/低壓器具元件/無熔線斷路器">
                                            無熔線斷路器
                                        </a>
                            </li>
                            <li>
                                <a href="http://test-demo.teco.com.tw/tw/Products/低壓器具元件/手動馬達啟動器">
                                            手動馬達啟動器
                                        </a>
                            </li>
                            <li>
                                <a href="http://test-demo.teco.com.tw/tw/Products/低壓器具元件/電子式保護電驛">
                                            電子式保護電驛
                                        </a>
                            </li>
                            <li>
                                <a href="http://test-demo.teco.com.tw/tw/Products/低壓器具元件/多功能電表">
                                            多功能電表
                                        </a>
                            </li>
                        </ul>
                    </div>
                    <div class="productType">
                        <div class="typeName">
                            <a href="http://test-demo.teco.com.tw/tw/Products/減速機產品">減速機產品</a>
                        </div>
                        <ul>
                            <li>
                                <a href="http://test-demo.teco.com.tw/tw/Products/減速機產品/變速馬達-VAR系列">變速馬達-VAR系列</a>
                            </li>
                            <li>
                                <a href="http://test-demo.teco.com.tw/tw/Products/減速機產品/平行軸與交軸齒輪減速箱-PBH系列">平行軸與交軸齒輪減速箱-PBH系列</a>
                            </li>
                            <li>
                                <a href="http://test-demo.teco.com.tw/tw/Products/減速機產品/平行軸-斜齒輪減速機-S系列">平行軸-斜齒輪減速機-S系列</a>
                            </li>
                            <li>
                                <a href="http://test-demo.teco.com.tw/tw/Products/減速機產品/交軸-斜傘齒輪減速機-B系列">交軸-斜傘齒輪減速機-B系列</a>
                            </li>
                            <li>
                                <a href="http://test-demo.teco.com.tw/tw/Products/減速機產品/同軸-斜齒輪減速機-H系列">同軸-斜齒輪減速機-H系列</a>
                            </li>
                            <li>
                                <a href="http://test-demo.teco.com.tw/tw/Products/減速機產品/蝸輪蝸桿減速機-VSF系列">蝸輪蝸桿減速機-VSF系列</a>
                            </li>
                        </ul>
                    </div>
                    <div class="productType">
                        <div class="typeName">
                            <a href="http://test-demo.teco.com.tw/tw/Products/電控產品">電控產品</a>
                        </div>
                        <ul>
                            <li>
                                <a href="http://test-demo.teco.com.tw/tw/Products/電控產品/伺服馬達">伺服馬達</a>
                            </li>
                            <li>
                                <a href="http://test-demo.teco.com.tw/tw/Products/電控產品/伺服驅動器">伺服驅動器</a>
                            </li>
                        </ul>
                    </div>
                    <div class="productType">
                        <div class="typeName">
                            <a href="http://test-demo.teco.com.tw/tw/Products/安川產品">安川產品</a>
                        </div>
                        <ul>
                            <li>
                                <a href="http://test-demo.teco.com.tw/tw/Products/安川產品/安川 變頻器">
                                            安川 變頻器
                                </a>
                            </li>
                            <li>
                                <a href="http://test-demo.teco.com.tw/tw/Products/安川產品/安川 交流伺服驅動器&amp;馬達">
                                            安川 交流伺服驅動器&amp;馬達
                                        </a>
                            </li>
                            <li>
                                <a href="http://test-demo.teco.com.tw/tw/Products/安川產品/安川 運動控制器">
                                            安川 運動控制器
                                        </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="latestProduct">
                <a href="../product/detail.html">
                    <h2>最新產品</h2>
                    <div class="_img">
                        <!-- 產品圖片 -->
                        <img src="../../upload/f2e/latestProduct1_300_180.jpg" alt="">
                    </div>
                    <!-- 產品編號 -->
                    <span>A510</span>
                    <!-- 產品介紹:字數限制40字  -->
                    <p>透過最新Auto-tune技術可大幅減少調機時間，輕鬆安裝，雙額定設計+六種馬...</p>
                </a>
            </div>
        </div>
        <!-- 產業應用 -->
        <div class="hover_box">
            <ul>
                <!-- 端請注意:此處為暫時網址 -->
                <li><a href="../applications/index.html">工業控制</a></li>
                <li><a href="javascript:void(0)">機械工具</a></li>
                <li><a href="javascript:void(0)">物料搬運設備</a></li>
                <li><a href="javascript:void(0)">泵。壓縮機和風扇</a></li>
                <li><a href="javascript:void(0)">紡織機械</a></li>
                <li><a href="javascript:void(0)">塑料和強盜機械</a></li>
                <li><a href="javascript:void(0)">製作和裝配</a></li>
            </ul>
        </div>
        <!-- 客戶服務 -->
        <div class="hover_box ">
            <ul>
                <li><a href="../service/QA.html">產品相關QA</a></li>
                <li><a href="../service/download.html">擋案下載</a></li>
                <li><a href="../service/contact.html">聯絡我們</a></li>
                <li><a href="../storehold/index.html">全球聚點</a></li>
            </ul>
        </div>
        <!-- 新聞中心 -->
        <div class="hover_box">
            <ul>
                <!-- 端請注意:此處為暫時網址 -->
                <li><a href="../news/index.html">參展訊息</a></li>
                <li><a href="javascript:void(0)">新聞媒體</a></li>
                <li><a href="javascript:void(0)">公益活動</a></li>
                <li><a href="javascript:void(0)">其他</a></li>
            </ul>
        </div>
        <!-- 關於東元 -->
        <div class="hover_box">
            <ul>
                <!-- 端請注意:此處為暫時網址 -->
                <li><a href="../about/index.html">東元機電介紹</a></li>
                <li><a href="javascript:void(0)">東元機電世紀</a></li>
                <li><a href="javascript:void(0)">我們的榮耀</a></li>
            </ul>
        </div>
    </section>
</article>
<article class="menu_box">
    <section class="menuClose">
        <p>CLOSE</p>
        <span></span>
    </section>
    <section class="menu_units">
        <div class="menu_unit">
            <div class="unit_title">
                <a href="../product/index.html">
                    <h2>product</h2>
                    <p>機電產品</p>
                </a>
            </div>
            <ul>
                <!-- 端請注意:此處為暫時網址 -->
                <li>
                    <a href="../product/type.html">
                        <p>馬達產品</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <p>變頻器產品</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <p>開關產品</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <p>減速機產品</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="menu_unit">
            <div class="unit_title">
                <a href="../applications/index.html">
                    <h2>Applications</h2>
                    <p>產業應用</p>
                </a>
            </div>
            <ul>
                <!-- 端請注意:此處為暫時網址 -->
                <li>
                    <a href="../applications/index.html">
                        <p>工業控制</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <p>機械工具</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <p>物料搬運設備</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <p>泵，壓縮機和風扇</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <p>紡織機械</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <p>塑料和機械</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <p>製造和裝配</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="menu_unit">
            <div class="unit_title">
                <a href="../storehold/index.html">
                    <h2>location</h2>
                    <p>全球聚點</p>
                </a>
            </div>
            <ul>
                <!-- 端請注意:此處為暫時網址 -->
                <li>
                    <a href="../storehold/index.html">
                        <p>亞洲</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <p>非洲</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <p>美洲</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <p>歐洲</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <p>大洋洲</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="menu_unit">
            <div class="unit_title">
                <a href="../news/index.html">
                    <h2>News&Events</h2>
                    <p>新聞中心</p>
                </a>
            </div>
            <ul>
                <!-- 端請注意:此處為暫時網址 -->
                <li>
                    <a href="../news/index.html">
                        <p>參展訊息</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <p>新聞媒體</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <p>公益活動</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <p>其他</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="menu_unit">
            <div class="unit_title">
                <a href="../service/index.html">
                    <h2>Service</h2>
                    <p>客戶服務</p>
                </a>
            </div>
            <ul>
                <!-- 端請注意:此處為暫時網址 -->
                <li>
                    <a href="../service/QA.html">
                        <p>產品相關QA</p>
                    </a>
                </li>
                <li>
                    <a href="../service/download.html">
                        <p>擋案下載</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="menu_unit">
            <div class="unit_title">
                <a href="../about/index.html">
                    <h2>about</h2>
                    <p>關於我們</p>
                </a>
            </div>
            <ul>
                <!-- 端請注意:此處為暫時網址 -->
                <li>
                    <a href="../about/index.html">
                        <p>東元機電介紹</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <p>東元機電世紀</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <p>我們的榮耀</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="menu_unit">
            <div class="unit_title">
                <a href="../employee/index.html">
                    <h2>member</h2>
                    <p>員工專區</p>
                </a>
            </div>
        </div>
        <div class="menu_unit">
            <div class="unit_title">
                <a href="../employee/index.html">
                    <h2>Capability</h2>
                    <p>核心能力</p>
                </a>
            </div>
        </div>
        <div class="menu_unit">
            <div class="unit_title">
                <a href="../service/contact.html">
                    <h2>contact us</h2>
                    <p>聯絡我們</p>
                </a>
            </div>
        </div>
    </section>
</article>