<div class="liboxClose">
    <span></span>
</div>
<div class="privacy_title">
    <h2>隱私權政策</h2>
    <h3>請仔細閱讀以下使用條款，其中包含與您權利義務有關且非常重要的資訊，包括可能適用於您的限制。</h3>
    <p>注意：在訪問本網站同時，請先仔細閱讀這些條款。使用此網站表示您接受這些條款。如果您不接受這些條款(以下稱為「條款」)，請勿使用本網站。</p>
</div>
<div class="privacy_content">
    <div class="box">
        <h2>使用本網站</h2>
        <p>東元電機授權允許您查看和使用本網站的資料供您個人而非商業性使用，但是您必須在這些資料的任何復本上保留原始資料中包含的所有著作權和其他專利聲明。不得以任何方式修改本網站之資料，或複製或公開展示、執行、散發，或以商業用途為目的之其他方式。 </p>
        <p>禁止在任何其他網站或網路電腦環境，以任何方式使用本網站資料作為任何用途。本網站上的資料均擁有著作權，未經授權使用本站台的資料可能觸犯著作權法、商標法及其他法律。 </p>
        <p>本網站群上之資料、程式說明、創意、文件及服務與下載之任何軟體均為東元電機及(或) 其供應商擁有著作權之產品，除了相關「授權合約」中已載明之外，禁止複製或轉散發軟體。</p>
    </div>
    <div class="box">
        <h2>連結本網站</h2>
        <ul>
            <li>
                經東元電機授權可以連結本網站，但不得複製東元電機網站之內容。
            </li>
            <li>
                不得以有關東元電機網站的內容建立瀏覽器或邊框環境。
            </li>
            <li>
                不得暗示東元電機認可該網站或其產品與服務。
            </li>
            <li>
                不得歪曲該網站與東元電機的關係。
            </li>
            <li>
                未經東元電機許可不得擅自使用東元電機相關標誌。
            </li>
        </ul>
    </div>
    <div class="box">
        <h2>協力廠商的網站連結</h2>
        <p>本網站已取得業務相關網站之連結與顯名權，但東元電機並未審核所有協力廠商的站台，而且不控制、也不對任何這些站台或其內容負責，因此，對於這些網站或其中的任何資訊、軟體或其他產品或資料，或使用後可能產生的任何結果，東元電機不負擔任何責任。</p>
        <p>如果您決定存取任何連結到本網站之相關業務廠商網站，請自行承擔一切風險。</p>
        <p>站部份產品圖為示意圖，並無意侵犯圖片中相關建築與商品著作權，如有問題請與我們聯繫，我們將立即更換。</p>
    </div>
    <div class="box">
        <h2>商標</h2>
        <p>東元電機為在台灣合法註冊之公司。</p>
    </div>
</div>
<div class="privacyGoTop">
    <span></span>
</div>