@font-face {
  font-family: 'icoChris';
  src:  url('fonts/icoChris.eot?ixfhyq');
  src:  url('fonts/icoChris.eot?ixfhyq#iefix') format('embedded-opentype'),
    url('fonts/icoChris.ttf?ixfhyq') format('truetype'),
    url('fonts/icoChris.woff?ixfhyq') format('woff'),
    url('fonts/icoChris.svg?ixfhyq#icoChris') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-chris"], [class*=" icon-chris"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icoChris' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chrisline:before {
  content: "\ee868";
}
.icon-chrisshare:before {
  content: "\ee899";
}
.icon-chrismail:before {
  content: "\ee877";
}
.icon-chrisheart:before {
  content: "\ee878";
}
.icon-chrisvideo:before {
  content: "\ee883";
}
.icon-chrisaudio:before {
  content: "\ee884";
}
.icon-chrisintro:before {
  content: "\ee885";
}
.icon-chrisarrow-right:before {
  content: "\ee886";
}
.icon-chrisarrow-left:before {
  content: "\ee887";
}
.icon-chrisarrow-down:before {
  content: "\ee888";
}
.icon-chrisarrow-up:before {
  content: "\ee889";
}
.icon-chriscloseUp:before {
  content: "\ee896";
}
.icon-chriscross:before {
  content: "\ee897";
}
.icon-chrisagree:before {
  content: "\ee898";
}
.icon-chriskeyboard_arrow_up:before {
  content: "\ee900";
}
.icon-chriskeyboard_arrow_right:before {
  content: "\ee901";
}
.icon-chriskeyboard_arrow_left:before {
  content: "\ee902";
}
.icon-chriskeyboard_arrow_down:before {
  content: "\ee903";
}
.icon-chrismacRight:before {
  content: "\ee890";
}
.icon-chrismacLeft:before {
  content: "\ee891";
}
.icon-christriangle-up:before {
  content: "\ee892";
}
.icon-christriangle-right:before {
  content: "\ee893";
}
.icon-christriangle-left:before {
  content: "\ee894";
}
.icon-christriangle-down:before {
  content: "\ee895";
}
.icon-chrisbook_information:before {
  content: "\ee869";
  /* color: #595757; */
}
.icon-chrisminimize:before {
  content: "\ee870";
  color: #fff;
}
.icon-chrissound2:before {
  content: "\ee871";
  color: #fff;
}
.icon-chrissound1:before {
  content: "\ee872";
  color: #fff;
}
.icon-chrisdownload:before {
  content: "\ee873";
}
.icon-chrispeople:before {
  content: "\ee874";
}
.icon-chrissphere:before {
  content: "\ee875";
}
.icon-christwitter:before {
  content: "\ee876";
}
.icon-chrisvideo_white:before {
  content: "\ee879";
  color: #fff;
}
.icon-chrisaudio_white:before {
  content: "\ee880";
  color: #fff;
}
.icon-chrispause:before {
  content: "\ee881";
}
.icon-chrisplay:before {
  content: "\ee882";
}
