<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
</head>

<body id="certification">
    <header id="header"></header>
    <main class="certification">
        <article class="banner_wrap">
            <!-- 1920X600 -->
            <div class="banner">
                <div class="banner__img">
                    <picture>
                        <!-- <source media="(max-width: 600px)" data-srcset="../../upload/f2e/course01_rwd.jpg" /> -->
                        <img class="b-lazy" src="../../assets/img/load_16x5.svg" data-src="../../upload/f2e/service/service_certicication_01.jpg"
                        />
                    </picture>
                </div>
                <div class="banner__title" style="color: #fff;">
                    <h4>Certification</h4>
                    <h5>產品法規認證</h5>
                </div>
            </div>
        </article>
        <article class="content_wrap">
            <div class="certification__content">
                <div class="certification__txt">
                    <h5>AURO各產品在成分、特性上皆有相關認證，確保客戶使用無虞， 根據產品法規認證提供一段簡短的說明描述文字</h5>
                </div>
                <div class="certification__inner" style="background: url('../../assets/img/certification_bg1.jpg')">
                    <ul>
                        <li>
                            <div>
                                <h6>01</h6>
                            </div>
                            <div>
                                <div class="certification_q">
                                    <h5>DIN 52615 "dry-wet-cup" 水蒸氣可透性</h5>
                                </div>
                                <div class="certification_a">
                                    <h5>歐洲玩具安全標準，為強制性化學測試標準，檢測 19 種重金屬，檢測報告由台灣 SGS 發行， AURO 商品檢測結果皆為 N.D. 未檢出。
                                    </h5>
                                    <!-- 寬不要超過600就能 -->
                                    <img src="../../upload/f2e/service/service_certicication_02.jpg" alt="">
                                </div>
                            </div>
                            <span></span>
                        </li>
                        <li>
                            <div>
                                <h6>02</h6>
                            </div>
                            <div>
                                <div class="certification_q">
                                    <h5>EN 71-3 Toy safety</h5>
                                </div>
                                <div class="certification_a">
                                    <h5>歐洲玩具安全標準，為強制性化學測試標準，檢測 19 種重金屬，檢測報告由台灣 SGS 發行， AURO 商品檢測結果皆為 N.D. 未檢出。
                                    </h5>
                                </div>
                            </div>
                            <span></span>
                        </li>
                        <li>
                            <div>
                                <h6>03</h6>
                            </div>
                            <div>
                                <div class="certification_q">
                                    <h5>CNS 15503 兒童用品安全一般要求</h5>
                                </div>
                                <div class="certification_a">
                                    <h5>歐洲玩具安全標準，為強制性化學測試標準，檢測 19 種重金屬，檢測報告由台灣 SGS 發行， AURO 商品檢測結果皆為 N.D. 未檢出。
                                    </h5>
                                </div>
                            </div>
                            <span></span>
                        </li>
                        <li>
                            <div>
                                <h6>04</h6>
                            </div>
                            <div>
                                <div class="certification_q">
                                    <h5>DIN 53160 "Determination of the colour fastness"</h5>
                                </div>
                                <div class="certification_a">
                                    <h5>歐洲玩具安全標準，為強制性化學測試標準，檢測 19 種重金屬，檢測報告由台灣 SGS 發行， AURO 商品檢測結果皆為 N.D. 未檢出。
                                    </h5>
                                </div>
                            </div>
                            <span></span>
                        </li>
                    </ul>
                </div>
        </article>
    </main>
    <footer id="footer"></footer>
    <!--主要jQuery-->
    <script src="../../assets/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="../../assets/js/vendor/slick/slick.js"></script>
    <script src="../../assets/js/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="../../assets/js/vendor/blazy.js"></script>
    <script src="../../assets/js/vendor/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="../../assets/js/vendor/masonry/masonry.pkgd.min.js"></script>
    <script src="../../assets/js/vendor/masonry/imagesloaded.pkgd.min.js"></script>
    <script src="../../assets/js/vendor/cgpagechange.js"></script>
    <script src="../../assets/js/vendor/lbox.js"></script>
    <!-- 主要 -->
    <script src="../../assets/js/main.js"></script>
    <!-- 個別 -->
    <script src="../../assets/js/service.js"></script>
</body>

</html>