<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
</head>

<body id="commodities">
    <header id="header"></header>
    <main class="commodities">
        <article class="banner_wrap">
            <!-- 1920X600 -->
            <div class="banner">
                <div class="banner__img">
                    <picture>
                        <!-- <source media="(max-width: 600px)" data-srcset="../../upload/f2e/course01_rwd.jpg" /> -->
                        <img class="b-lazy" src="../../assets/img/load_16x5.svg" data-src="../../upload/f2e/service/service_ori_01.jpg" />
                    </picture>
                </div>
                <div class="banner__title" style="color: #fff;">
                    <h4>Commodities</h4>
                    <h5>原物料表</h5>
                </div>
            </div>
        </article>
        <article class="content_wrap">
            <div class="commodities__content">
                <div class="commodities__txt">
                    <h5>AURO 將原物料分為四大種類，您可以清楚了解產品中所使用的 成分、來源、產地以及應用範疇
                    </h5>
                </div>
                <div class="commodities__search">
                    <div class="search-btn">
                        直接搜尋
                        <span>
                            <svg x="0px" y="0px" width="12px" height="12px" viewBox="0 0 14 14.008">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.809,10.103c-3.328,2.045-6.333,0.606-7.684-1.188
                            C-0.509,6.744-0.353,3.71,1.528,1.728c1.874-1.975,4.913-2.297,7.156-0.76c2.516,1.724,3.039,4.49,1.441,7.885
                            c1.099,1.089,2.214,2.201,3.34,3.305c0.47,0.46,0.792,0.941,0.257,1.545c-0.417,0.472-0.929,0.396-1.542-0.214
                            C11.063,12.376,9.955,11.254,8.809,10.103z M5.554,1.311c-2.347,0-4.255,1.916-4.247,4.265C1.315,7.886,3.202,9.783,5.51,9.803
                            c2.347,0.021,4.28-1.884,4.289-4.225C9.809,3.23,7.899,1.312,5.554,1.311z"></path>
                            </svg>
                        </span>
                    </div>
                    <div class="nav-search">
                        <input type="text" placeholder="請輸入您欲搜尋的關鍵字">
                        <div class="nav-search__btn">
                            <ul>
                                <li class="nav-search__btn-ok">
                                    <a href="javascript:void(0);">
                                        <h4>OK</h4>
                                    </a>
                                </li>
                                <li class="nav-search__btn-cancel">
                                    <a href="javascript:void(0);">
                                        <h4>Cancel</h4>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="commodities__inner">
                    <ul>
                        <li>
                            <div class="commodities_box" style="background: #8ad387;">
                                <div class="title">
                                    <h3>TYPE 01</h3>
                                    <h4>可再生自然原料</h4>
                                </div>
                                <div class="list">
                                    <ul>
                                        <li>
                                            <div class="title">
                                                <h4 class="en">ALUMINIUM SILICATE</h4>
                                                <h4>矽酸鋁</h4>
                                            </div>
                                            <div class="info">
                                                <ul>
                                                    <li>
                                                        <p>產地
                                                            <span class="info_l"></span>亞洲</p>
                                                    </li>
                                                    <li>
                                                        <p>應用
                                                            <span class="info_l"></span>礦物顏料</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="txt">
                                                <p>水系氧化鋁是由富含鋁的礦物經由風化作用自然形成，利用沉澱技術製造出含有色素的礦物 填料。
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="title">
                                                <h4 class="en">ALUMINIUM SILICATE</h4>
                                                <h4>矽酸鋁</h4>
                                            </div>
                                            <div class="info">
                                                <ul>
                                                    <li>
                                                        <p>產地
                                                            <span class="info_l"></span>亞洲</p>
                                                    </li>
                                                    <li>
                                                        <p>應用
                                                            <span class="info_l"></span>礦物顏料</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="txt">
                                                <p>水系氧化鋁是由富含鋁的礦物經由風化作用自然形成，利用沉澱技術製造出含有色素的礦物 填料。
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="title">
                                                <h4 class="en">ALUMINIUM SILICATE</h4>
                                                <h4>矽酸鋁</h4>
                                            </div>
                                            <div class="info">
                                                <ul>
                                                    <li>
                                                        <p>產地
                                                            <span class="info_l"></span>亞洲</p>
                                                    </li>
                                                    <li>
                                                        <p>應用
                                                            <span class="info_l"></span>礦物顏料</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="txt">
                                                <p>水系氧化鋁是由富含鋁的礦物經由風化作用自然形成，利用沉澱技術製造出含有色素的礦物 填料。
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="title">
                                                <h4 class="en">ALUMINIUM SILICATE</h4>
                                                <h4>矽酸鋁</h4>
                                            </div>
                                            <div class="info">
                                                <ul>
                                                    <li>
                                                        <p>產地
                                                            <span class="info_l"></span>亞洲</p>
                                                    </li>
                                                    <li>
                                                        <p>應用
                                                            <span class="info_l"></span>礦物顏料</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="txt">
                                                <p>水系氧化鋁是由富含鋁的礦物經由風化作用自然形成，利用沉澱技術製造出含有色素的礦物 填料。
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="title">
                                                <h4 class="en">ALUMINIUM SILICATE</h4>
                                                <h4>矽酸鋁</h4>
                                            </div>
                                            <div class="info">
                                                <ul>
                                                    <li>
                                                        <p>產地
                                                            <span class="info_l"></span>亞洲</p>
                                                    </li>
                                                    <li>
                                                        <p>應用
                                                            <span class="info_l"></span>礦物顏料</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="txt">
                                                <p>水系氧化鋁是由富含鋁的礦物經由風化作用自然形成，利用沉澱技術製造出含有色素的礦物 填料。
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="openvtn">
                                    <h6 class="on">EXPLORE</h6>
                                    <h6 class="off">CLOSE</h6>
                                    <div class="circle circle--40 circle--ori"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="commodities_box" style="background: #63bad7;">
                                <div class="title">
                                    <h3>TYPE 02</h3>
                                    <h4>自然加工原料</h4>
                                </div>
                                <div class="list">
                                    <ul>
                                        <li>
                                            <div class="title">
                                                <h4 class="en">ALUMINIUM SILICATE</h4>
                                                <h4>矽酸鋁</h4>
                                            </div>
                                            <div class="info">
                                                <ul>
                                                    <li>
                                                        <p>產地
                                                            <span class="info_l"></span>亞洲</p>
                                                    </li>
                                                    <li>
                                                        <p>應用
                                                            <span class="info_l"></span>礦物顏料</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="txt">
                                                <p>水系氧化鋁是由富含鋁的礦物經由風化作用自然形成，利用沉澱技術製造出含有色素的礦物 填料。
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="title">
                                                <h4 class="en">ALUMINIUM SILICATE</h4>
                                                <h4>矽酸鋁</h4>
                                            </div>
                                            <div class="info">
                                                <ul>
                                                    <li>
                                                        <p>產地
                                                            <span class="info_l"></span>亞洲</p>
                                                    </li>
                                                    <li>
                                                        <p>應用
                                                            <span class="info_l"></span>礦物顏料</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="txt">
                                                <p>水系氧化鋁是由富含鋁的礦物經由風化作用自然形成，利用沉澱技術製造出含有色素的礦物 填料。
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="title">
                                                <h4 class="en">ALUMINIUM SILICATE</h4>
                                                <h4>矽酸鋁</h4>
                                            </div>
                                            <div class="info">
                                                <ul>
                                                    <li>
                                                        <p>產地
                                                            <span class="info_l"></span>亞洲</p>
                                                    </li>
                                                    <li>
                                                        <p>應用
                                                            <span class="info_l"></span>礦物顏料</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="txt">
                                                <p>水系氧化鋁是由富含鋁的礦物經由風化作用自然形成，利用沉澱技術製造出含有色素的礦物 填料。
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="title">
                                                <h4 class="en">ALUMINIUM SILICATE</h4>
                                                <h4>矽酸鋁</h4>
                                            </div>
                                            <div class="info">
                                                <ul>
                                                    <li>
                                                        <p>產地
                                                            <span class="info_l"></span>亞洲</p>
                                                    </li>
                                                    <li>
                                                        <p>應用
                                                            <span class="info_l"></span>礦物顏料</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="txt">
                                                <p>水系氧化鋁是由富含鋁的礦物經由風化作用自然形成，利用沉澱技術製造出含有色素的礦物 填料。
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="title">
                                                <h4 class="en">ALUMINIUM SILICATE</h4>
                                                <h4>矽酸鋁</h4>
                                            </div>
                                            <div class="info">
                                                <ul>
                                                    <li>
                                                        <p>產地
                                                            <span class="info_l"></span>亞洲</p>
                                                    </li>
                                                    <li>
                                                        <p>應用
                                                            <span class="info_l"></span>礦物顏料</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="txt">
                                                <p>水系氧化鋁是由富含鋁的礦物經由風化作用自然形成，利用沉澱技術製造出含有色素的礦物 填料。
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="openvtn">
                                    <h6 class="on">EXPLORE</h6>
                                    <h6 class="off">CLOSE</h6>
                                    <div class="circle circle--40 circle--ori"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="commodities_box" style="background: #e4bd55;">
                                <div class="title">
                                    <h3>TYPE 03</h3>
                                    <h4>礦物原料</h4>
                                </div>
                                <div class="list">
                                    <ul>
                                        <li>
                                            <div class="title">
                                                <h4 class="en">ALUMINIUM SILICATE</h4>
                                                <h4>矽酸鋁</h4>
                                            </div>
                                            <div class="info">
                                                <ul>
                                                    <li>
                                                        <p>產地
                                                            <span class="info_l"></span>亞洲</p>
                                                    </li>
                                                    <li>
                                                        <p>應用
                                                            <span class="info_l"></span>礦物顏料</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="txt">
                                                <p>水系氧化鋁是由富含鋁的礦物經由風化作用自然形成，利用沉澱技術製造出含有色素的礦物 填料。
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="title">
                                                <h4 class="en">ALUMINIUM SILICATE</h4>
                                                <h4>矽酸鋁</h4>
                                            </div>
                                            <div class="info">
                                                <ul>
                                                    <li>
                                                        <p>產地
                                                            <span class="info_l"></span>亞洲</p>
                                                    </li>
                                                    <li>
                                                        <p>應用
                                                            <span class="info_l"></span>礦物顏料</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="txt">
                                                <p>水系氧化鋁是由富含鋁的礦物經由風化作用自然形成，利用沉澱技術製造出含有色素的礦物 填料。
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="title">
                                                <h4 class="en">ALUMINIUM SILICATE</h4>
                                                <h4>矽酸鋁</h4>
                                            </div>
                                            <div class="info">
                                                <ul>
                                                    <li>
                                                        <p>產地
                                                            <span class="info_l"></span>亞洲</p>
                                                    </li>
                                                    <li>
                                                        <p>應用
                                                            <span class="info_l"></span>礦物顏料</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="txt">
                                                <p>水系氧化鋁是由富含鋁的礦物經由風化作用自然形成，利用沉澱技術製造出含有色素的礦物 填料。
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="title">
                                                <h4 class="en">ALUMINIUM SILICATE</h4>
                                                <h4>矽酸鋁</h4>
                                            </div>
                                            <div class="info">
                                                <ul>
                                                    <li>
                                                        <p>產地
                                                            <span class="info_l"></span>亞洲</p>
                                                    </li>
                                                    <li>
                                                        <p>應用
                                                            <span class="info_l"></span>礦物顏料</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="txt">
                                                <p>水系氧化鋁是由富含鋁的礦物經由風化作用自然形成，利用沉澱技術製造出含有色素的礦物 填料。
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="title">
                                                <h4 class="en">ALUMINIUM SILICATE</h4>
                                                <h4>矽酸鋁</h4>
                                            </div>
                                            <div class="info">
                                                <ul>
                                                    <li>
                                                        <p>產地
                                                            <span class="info_l"></span>亞洲</p>
                                                    </li>
                                                    <li>
                                                        <p>應用
                                                            <span class="info_l"></span>礦物顏料</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="txt">
                                                <p>水系氧化鋁是由富含鋁的礦物經由風化作用自然形成，利用沉澱技術製造出含有色素的礦物 填料。
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="openvtn">
                                    <h6 class="on">EXPLORE</h6>
                                    <h6 class="off">CLOSE</h6>
                                    <div class="circle circle--40 circle--ori"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="commodities_box" style="background: #ef94a7;">
                                <div class="title">
                                    <h3>TYPE 04</h3>
                                    <h4>人造原料</h4>
                                </div>
                                <div class="list">
                                    <ul>
                                        <li>
                                            <div class="title">
                                                <h4 class="en">ALUMINIUM SILICATE</h4>
                                                <h4>矽酸鋁</h4>
                                            </div>
                                            <div class="info">
                                                <ul>
                                                    <li>
                                                        <p>產地
                                                            <span class="info_l"></span>亞洲</p>
                                                    </li>
                                                    <li>
                                                        <p>應用
                                                            <span class="info_l"></span>礦物顏料</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="txt">
                                                <p>水系氧化鋁是由富含鋁的礦物經由風化作用自然形成，利用沉澱技術製造出含有色素的礦物 填料。
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="title">
                                                <h4 class="en">ALUMINIUM SILICATE</h4>
                                                <h4>矽酸鋁</h4>
                                            </div>
                                            <div class="info">
                                                <ul>
                                                    <li>
                                                        <p>產地
                                                            <span class="info_l"></span>亞洲</p>
                                                    </li>
                                                    <li>
                                                        <p>應用
                                                            <span class="info_l"></span>礦物顏料</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="txt">
                                                <p>水系氧化鋁是由富含鋁的礦物經由風化作用自然形成，利用沉澱技術製造出含有色素的礦物 填料。
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="title">
                                                <h4 class="en">ALUMINIUM SILICATE</h4>
                                                <h4>矽酸鋁</h4>
                                            </div>
                                            <div class="info">
                                                <ul>
                                                    <li>
                                                        <p>產地
                                                            <span class="info_l"></span>亞洲</p>
                                                    </li>
                                                    <li>
                                                        <p>應用
                                                            <span class="info_l"></span>礦物顏料</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="txt">
                                                <p>水系氧化鋁是由富含鋁的礦物經由風化作用自然形成，利用沉澱技術製造出含有色素的礦物 填料。
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="title">
                                                <h4 class="en">ALUMINIUM SILICATE</h4>
                                                <h4>矽酸鋁</h4>
                                            </div>
                                            <div class="info">
                                                <ul>
                                                    <li>
                                                        <p>產地
                                                            <span class="info_l"></span>亞洲</p>
                                                    </li>
                                                    <li>
                                                        <p>應用
                                                            <span class="info_l"></span>礦物顏料</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="txt">
                                                <p>水系氧化鋁是由富含鋁的礦物經由風化作用自然形成，利用沉澱技術製造出含有色素的礦物 填料。
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="title">
                                                <h4 class="en">ALUMINIUM SILICATE</h4>
                                                <h4>矽酸鋁</h4>
                                            </div>
                                            <div class="info">
                                                <ul>
                                                    <li>
                                                        <p>產地
                                                            <span class="info_l"></span>亞洲</p>
                                                    </li>
                                                    <li>
                                                        <p>應用
                                                            <span class="info_l"></span>礦物顏料</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="txt">
                                                <p>水系氧化鋁是由富含鋁的礦物經由風化作用自然形成，利用沉澱技術製造出含有色素的礦物 填料。
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="openvtn">
                                    <h6 class="on">EXPLORE</h6>
                                    <h6 class="off">CLOSE</h6>
                                    <div class="circle circle--40 circle--ori"></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </article>
    </main>
    <footer id="footer"></footer>
    <!--主要jQuery-->
    <script src="../../assets/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="../../assets/js/vendor/slick/slick.js"></script>
    <script src="../../assets/js/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="../../assets/js/vendor/blazy.js"></script>
    <script src="../../assets/js/vendor/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="../../assets/js/vendor/masonry/masonry.pkgd.min.js"></script>
    <script src="../../assets/js/vendor/masonry/imagesloaded.pkgd.min.js"></script>
    <script src="../../assets/js/vendor/cgpagechange.js"></script>
    <script src="../../assets/js/vendor/lbox.js"></script>
    <!-- 主要 -->
    <script src="../../assets/js/main.js"></script>
    <!-- 個別 -->
    <script src="../../assets/js/service.js"></script>
</body>

</html>