<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
</head>

<body id="commodities">
    <header id="header"></header>
    <main class="commodities">
        <article class="banner_wrap">
            <!-- 1920X600 -->
            <div class="banner">
                <div class="banner__img">
                    <picture>
                        <!-- <source media="(max-width: 600px)" data-srcset="../../upload/f2e/course01_rwd.jpg" /> -->
                        <img class="b-lazy" src="../../assets/img/load_16x5.svg" data-src="../../upload/f2e/service/service_certicication_01.jpg" />
                    </picture>
                </div>
                <div class="banner__title" style="color: #000;">
                    <h4>Commodities</h4>
                    <h5>產品法規認證</h5>
                </div>
            </div>
        </article>
        <article class="content_wrap">
            <!-- 
                    照片 大張 1100 X 700 寬固定高隨意 別差太多就好
                    照片 小張 470  X 500 寬固定高隨意 別差太多就好 
                -->
            <div class="commodities__content">
                <div class="commodities__inner">
                    <ul>
                        <li>
                            <div class="commodities_box">
                            </div>
                        </li>
                    </ul>

                </div>
        </article>
    </main>
    <footer id="footer"></footer>
    <!--主要jQuery-->
    <script src="../../assets/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="../../assets/js/vendor/slick/slick.js"></script>
    <script src="../../assets/js/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="../../assets/js/vendor/blazy.js"></script>
    <script src="../../assets/js/vendor/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="../../assets/js/vendor/masonry/masonry.pkgd.min.js"></script>
    <script src="../../assets/js/vendor/masonry/imagesloaded.pkgd.min.js"></script>
    <script src="../../assets/js/vendor/cgpagechange.js"></script>
    <script src="../../assets/js/vendor/lbox.js"></script>
    <!-- 主要 -->
    <script src="../../assets/js/main.js"></script>
    <!-- 個別 -->
    <script src="../../assets/js/service.js"></script>
</body>

</html>