<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
</head>

<body id="service_center">
    <header id="header"></header>
    <main class="service_center">
        <article class="banner_wrap">
            <div class="banner_noImg">
                <div class="banner_noImg__title">
                    <h4>Service Center</h4>
                    <h5>服務中心</h5>
                </div>
            </div>
        </article>

        <article class="content_wrap">
            <!-- 照片 大張 900 X 600 寬固定高隨意 別差太多就好 -->
            <div class="service_center__content">
                <div class="service_center__inner">
                    <ul>
                        <li>
                            <div class="service_center_box service_center_box__left">
                                <div>
                                    <h4>FAQ</h4>
                                    <h5>常見問題</h5>
                                    <ul>
                                        <li>
                                            <a class="cg" href="../service/qanda.html">
                                                <div class="circle circle--40 circle--service_bit"></div>
                                                <h6>前往了解</h6>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div style="background-image: url('../../upload/f2e/service/service_center_03.jpg')">
                                    <h4>CERTIFICATION</h4>
                                    <h5>產品法規認證</h5>
                                    <ul>
                                        <li>
                                            <a href="../service/certification.html">
                                                <div class="circle circle--40 circle--service_bit"></div>
                                                <h6>前往了解</h6>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="service_center_box service_center_box__center">
                                <!-- 600X830 跟型錄的尺寸一樣 -->
                                <div style=" background-image: url('../../upload/f2e/service/service_center_01.jpg')">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="service_center_box service_center_box__right">
                                <div>

                                    <h4>CATALOG</h4>
                                    <h5>AURO 型錄</h5>
                                    <hr>
                                    <p>提供您完整 AURO 介紹，深入了解品牌精神，以及 天然原料來源，帶領您探索 AURO 的塗料世界...</p>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="circle circle--40 circle--service_down">
                                                    <svg x="0px" y="0px" width="8px" height="13.588px" viewBox="0 0 8 13.588" enable-background="new 0 0 8 13.588">
                                                        <g>
                                                            <path d="M4,10.865c-0.246,0-0.444-0.199-0.444-0.444V0.444C3.556,0.198,3.754,0,4,0s0.444,0.198,0.444,0.444v9.977
                                                        C4.444,10.666,4.246,10.865,4,10.865z"></path>
                                                            <g>
                                                                <path d="M4,11.494l-3.87-3.87c-0.174-0.174-0.174-0.455,0-0.629c0.173-0.173,0.455-0.173,0.628,0L4,10.236l3.241-3.241
                                                        c0.174-0.173,0.455-0.173,0.628,0c0.174,0.174,0.174,0.455,0,0.629L4,11.494z"></path>
                                                            </g>
                                                            <rect y="12.698" width="8" height="0.89"></rect>
                                                        </g>
                                                    </svg>
                                                </div>
                                                <h6>最新型錄</h6>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="cg" href="../service/catalog.html">
                                                <div class="circle circle--40  circle--service_add">
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                                <h6>全部瀏覽</h6>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    <h4>COMMODITIES LIST</h4>
                                    <h5>原物料表</h5>
                                    <ul>
                                        <li>
                                            <a class="cg" href="../service/commodities.html">
                                                <div class="circle circle--40 circle--service_bit"></div>
                                                <h6>前往了解</h6>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="service_center__video" id="video">
                    <div class="txt">
                        <h4>VIDEO</h4>
                        <h5>AURO 視頻</h5>
                        <hr>
                        <p>介紹 AURO 視頻的相關導覽文字，建議以簡短的描 述為主即可，帶領使用者進入視頻瀏覽單元
                        </p>
                        <ul>
                            <li>
                                <a class="cg" href="../service/video.html">
                                    <div class="circle circle--40 circle--service_bit"></div>
                                    <h6>更多視頻</h6>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="img">
                        <div class="video_img">
                            <!-- 600X1000 跟video裡面一樣 -->
                            <img src="../../upload/f2e/service/service_center_02.jpg">
                            <a class="lboxBtnVideo" data-lbox="../layout/video.html" data-video="https://www.youtube.com/embed/9zZVPr0NOnM" href="javascript:void(0);">
                                <div class="circle circle--50 circle--video_play"> </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </main>
    <footer id="footer"></footer>
    <!--主要jQuery-->
    <script src="../../assets/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="../../assets/js/vendor/slick/slick.js"></script>
    <script src="../../assets/js/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="../../assets/js/vendor/blazy.js"></script>
    <script src="../../assets/js/vendor/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="../../assets/js/vendor/masonry/masonry.pkgd.min.js"></script>
    <script src="../../assets/js/vendor/masonry/imagesloaded.pkgd.min.js"></script>
    <script src="../../assets/js/vendor/lbox.js"></script>
    <script src="../../assets/js/vendor/cgpagechange.js"></script>
    <!-- 主要 -->
    <script src="../../assets/js/main.js"></script>
    <!-- 個別 -->
    <script src="../../assets/js/service.js"></script>
</body>

</html>