<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
</head>

<body id="qanda">
    <header id="header"></header>
    <main class="qanda">
        <article class="banner_wrap">
            <!-- 1920X600 -->
            <div class="banner">
                <div class="banner__img">
                    <picture>
                        <!-- <source media="(max-width: 600px)" data-srcset="../../upload/f2e/course01_rwd.jpg" /> -->
                        <img class="b-lazy" src="../../assets/img/load_16x5.svg" data-src="../../upload/f2e/service/service_faq.jpg" />
                    </picture>
                </div>
                <div class="banner__title" style="color: #000;">
                    <h4>FAQ</h4>
                    <h5>常見問答</h5>
                </div>
            </div>
        </article>
        <article class="nav_wrap">
            <div class="navbit">
                <ul>
                    <li>
                        <a href="javascript:void(0);">
                            <h4>產品相關 </h4>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <h4>購物相關</h4>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <h4>會員相關</h4>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <h4>企業社會責任</h4>
                        </a>
                    </li>
                </ul>
            </div>
        </article>
        <article class="content_wrap">
            <!-- 
                    照片 大張 1100 X 700 寬固定高隨意 別差太多就好
                    照片 小張 470  X 500 寬固定高隨意 別差太多就好 
                -->
            <div class="qanda__content">
                <div class="qanda__inner">
                    <ul>
                        <li>
                            <div class="qanda_box">
                                <div class="img">
                                    <!-- 60X60 -->
                                    <img src="../../upload/f2e/service/icon/service_center_faq_01.png">
                                    <h4>一般產品問題</h4>
                                </div>
                                <div class="txt">
                                    <ul>
                                        <li>
                                            <div class="qanda_q">
                                                <h5>AURO 與其他天然塗料有什麼差別？</h5>
                                            </div>
                                            <div class="qanda_a">
                                                <h5>Q : AURO 產品的品質如何?</h5>
                                                <h5>A : AURO 壁漆運用尖端科技技術製成。無論是操作便利性或是持久度都跟絕大部的合成塗料一樣優異，並經 由多家獨立機構認證產品的高科技品質。（詳情請見證書）
                                                </h5>
                                                <div class="qanda_btn">
                                                    <a href="javascript:void(0);">
                                                        <h5>前往瀏覽產品證書</h5>
                                                    </a>
                                                </div>
                                            </div>
                                            <span></span>
                                        </li>
                                        <li>
                                            <div class="qanda_q">
                                                <h5>AURO 產品的品質如何?</h5>
                                            </div>
                                            <div class="qanda_a">
                                                <h5>Q : AURO 產品的品質如何?</h5>
                                                <h5>A : AURO 壁漆運用尖端科技技術製成。無論是操作便利性或是持久度都跟絕大部的合成塗料一樣優異，並經 由多家獨立機構認證產品的高科技品質。（詳情請見證書）
                                                </h5>
                                                <div class="qanda_btn">
                                                    <a href="javascript:void(0);">
                                                        <h5>前往瀏覽產品證書</h5>
                                                    </a>
                                                </div>
                                            </div>
                                            <span></span>
                                        </li>
                                        <li>
                                            <div class="qanda_q">
                                                <h5>AURO 產品的價位落在哪裡？</h5>
                                            </div>
                                            <div class="qanda_a">
                                                <h5>Q : AURO 產品的品質如何?</h5>
                                                <h5>A : AURO 壁漆運用尖端科技技術製成。無論是操作便利性或是持久度都跟絕大部的合成塗料一樣優異，並經 由多家獨立機構認證產品的高科技品質。（詳情請見證書）
                                                </h5>
                                                <div class="qanda_btn">
                                                    <a href="javascript:void(0);">
                                                        <h5>前往瀏覽產品證書</h5>
                                                    </a>
                                                </div>
                                            </div>
                                            <span></span>
                                        </li>
                                        <li>
                                            <div class="qanda_q">
                                                <h5>AURO 塗料是否無任何臭味？</h5>
                                            </div>
                                            <div class="qanda_a">
                                                <h5>Q : AURO 產品的品質如何?</h5>
                                                <h5>A : AURO 壁漆運用尖端科技技術製成。無論是操作便利性或是持久度都跟絕大部的合成塗料一樣優異，並經 由多家獨立機構認證產品的高科技品質。（詳情請見證書）
                                                </h5>
                                                <div class="qanda_btn">
                                                    <a href="javascript:void(0);">
                                                        <h5>前往瀏覽產品證書</h5>
                                                    </a>
                                                </div>
                                            </div>
                                            <span></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="qanda_box">
                                <div class="img">
                                     <!-- 60X60 -->
                                    <img src="../../upload/f2e/service/icon/service_center_faq_01.png">
                                    <h4>一般產品問題</h4>
                                </div>
                                <div class="txt">
                                    <ul>
                                        <li>
                                            <div class="qanda_q">
                                                <h5>AURO 與其他天然塗料有什麼差別？</h5>
                                            </div>
                                            <div class="qanda_a">
                                                <h5>Q : AURO 產品的品質如何?</h5>
                                                <h5>A : AURO 壁漆運用尖端科技技術製成。無論是操作便利性或是持久度都跟絕大部的合成塗料一樣優異，並經 由多家獨立機構認證產品的高科技品質。（詳情請見證書）
                                                </h5>
                                                <div class="qanda_btn">
                                                    <a href="javascript:void(0);">
                                                        <h5>前往瀏覽產品證書</h5>
                                                    </a>
                                                </div>
                                            </div>
                                            <span></span>
                                        </li>
                                        <li>
                                            <div class="qanda_q">
                                                <h5>AURO 產品的品質如何?</h5>
                                            </div>
                                            <div class="qanda_a">
                                                <h5>Q : AURO 產品的品質如何?</h5>
                                                <h5>A : AURO 壁漆運用尖端科技技術製成。無論是操作便利性或是持久度都跟絕大部的合成塗料一樣優異，並經 由多家獨立機構認證產品的高科技品質。（詳情請見證書）
                                                </h5>
                                                <div class="qanda_btn">
                                                    <a href="javascript:void(0);">
                                                        <h5>前往瀏覽產品證書</h5>
                                                    </a>
                                                </div>
                                            </div>
                                            <span></span>
                                        </li>
                                        <li>
                                            <div class="qanda_q">
                                                <h5>AURO 產品的價位落在哪裡？</h5>
                                            </div>
                                            <div class="qanda_a">
                                                <h5>Q : AURO 產品的品質如何?</h5>
                                                <h5>A : AURO 壁漆運用尖端科技技術製成。無論是操作便利性或是持久度都跟絕大部的合成塗料一樣優異，並經 由多家獨立機構認證產品的高科技品質。（詳情請見證書）
                                                </h5>
                                                <div class="qanda_btn">
                                                    <a href="javascript:void(0);">
                                                        <h5>前往瀏覽產品證書</h5>
                                                    </a>
                                                </div>
                                            </div>
                                            <span></span>
                                        </li>
                                        <li>
                                            <div class="qanda_q">
                                                <h5>AURO 塗料是否無任何臭味？</h5>
                                            </div>
                                            <div class="qanda_a">
                                                <h5>Q : AURO 產品的品質如何?</h5>
                                                <h5>A : AURO 壁漆運用尖端科技技術製成。無論是操作便利性或是持久度都跟絕大部的合成塗料一樣優異，並經 由多家獨立機構認證產品的高科技品質。（詳情請見證書）
                                                </h5>
                                                <div class="qanda_btn">
                                                    <a href="javascript:void(0);">
                                                        <h5>前往瀏覽產品證書</h5>
                                                    </a>
                                                </div>
                                            </div>
                                            <span></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
        </article>
    </main>
    <footer id="footer"></footer>
    <!--主要jQuery-->
    <script src="../../assets/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="../../assets/js/vendor/slick/slick.js"></script>
    <script src="../../assets/js/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="../../assets/js/vendor/blazy.js"></script>
    <script src="../../assets/js/vendor/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="../../assets/js/vendor/masonry/masonry.pkgd.min.js"></script>
    <script src="../../assets/js/vendor/masonry/imagesloaded.pkgd.min.js"></script>
    <script src="../../assets/js/vendor/cgpagechange.js"></script>
    <script src="../../assets/js/vendor/lbox.js"></script>
    <!-- 主要 -->
    <script src="../../assets/js/main.js"></script>
    <!-- 個別 -->
    <script src="../../assets/js/service.js"></script>
</body>

</html>