//$c
//$f
//p
//s
$CblueM: #dfebff;
$CblueL: #075fd8;
$Cblue: #1c42a3;
$CblueD: #242b3e;

$Cgray: #F2F2F2;




@font-face 
    font-family: 'jaguarjc_book'
    src: url('../font/JaguarJC_Book/jaguarjc_book.eot')
    src: url('../font/JaguarJC_Book/jaguarjc_book.eot?#iefix') format('embedded-opentype'),
    url('../font/JaguarJC_Book/jaguarjc_book.woff2') format('woff2'),
    url('../font/JaguarJC_Book/jaguarjc_book.woff') format('woff'),
    url('../font/JaguarJC_Book/jaguarjc_book.ttf')
    font-weight: normal
    font-style: normal

@font-face 
    font-family: 'jaguarjc_bold'
    src: url('../font/JaguarJC_Bold/jaguarjc_bold.eot')
    src: url('../font/JaguarJC_Bold/jaguarjc_bold.eot?#iefix') format('embedded-opentype'),
    url('../font/JaguarJC_Bold/jaguarjc_bold.woff2') format('woff2'),
    url('../font/JaguarJC_Bold/jaguarjc_bold.woff') format('woff'),
    url('../font/JaguarJC_Bold/jaguarjc_bold.ttf')
    font-weight: normal
    font-style: normal


@font-face 
    font-family: LemonTuesday
    src: url('../font/LemonTuesday/LemonTuesday.otf')
.handwriting
    font-family: LemonTuesday





// animation: ajax 1.5s forwards
@keyframes ajax
    0%
        transform: translateX(-100px)
        opacity: 0
    100%
        transform: translateX(0)
        opacity: 1

@keyframes op
    0%
        opacity: 0
    100%
        opacity: 1

@keyframes enter
    0%
        width: 100%
    100%
        width: 0


@keyframes Ispace
    0%
        transform: scale(1)
    70%
        transform: scale(1.3)
    100%
        transform: scale(1)

@keyframes Icolor
    0%
        transform: translate(0,0)
    75%
        transform: translate(-2px,-2px)
    100%
        transform: translate(0px,0px)
@keyframes Icases
    0%
        transform: translate(0,0)
    50%
        transform: translate(-5px,0px)
    100%
        transform: translate(0px,0px)

@keyframes Icategory
    0%
        transform: translate(0,0)
    75%
        transform: translate(0,3px)
    100%
        transform: translate(0,0)


@keyframes w100
    0%
        width: 0
    100%
        width: 100%

@keyframes h100
    0%
        height: 0
    100%
        height: 100%

@keyframes w60
    0%
        width: 0
    100%
        width: 60px

@keyframes fadeIn
    0%
        opacity: 0
    100%
        opacity: 1

@keyframes fadeOut
    0%
        opacity: 1
    100%
        opacity: 0


@keyframes fadeOutUp
    0%
        opacity: 1
        transfomr: translateY(0%)
    100%
        opacity: 0
        transfomr: translateY(-50%)

@keyframes fadeOutLeft
    0%
        opacity: 1
        transfomr: translateX(0%)
    100%
        opacity: 0
        transform: translateX(-50%)

@keyframes fadeOutRight
    0%
        opacity: 1
        transfomr: translateX(0%)
    100%
        opacity: 0
        transform: translateX(50%)

@keyframes fadeInUp
    0%
        opacity: 0
        transform: translateY(50%)
    100%
        opacity: 1
        transform: translateY(0)

@keyframes fadeInDown
    0%
        opacity: 0
        transform: translateY(-50%)
    100%
        opacity: 1
        transform: translateY(0)

@keyframes fadeInRight
    0%
        opacity: 0
        transform: translateX(50%)
    100%
        opacity: 1
        transform: translateX(0)

@keyframes fadeInLeft
    0%
        opacity: 0
        transform: translateX(-50%)
    100%
        opacity: 1
        transform: translateX(0)

@keyframes slideInUp
    0%
        transform: translateY(100%)
    100%
        transform: translateY(0)

@keyframes slideInDown
    0%
        transform: translateY(-100%)
    100%
        transform: translateY(0)

@keyframes slideOutUp
    0%
        transform: translateY(0)
    100%
        transform: translateY(-100%)

@keyframes slideOutDown
    0%
        transform: translateY(0)
    100%
        transform: translateY(100%)