<section class="topNav">
    <div class="socialMedia">
        <ul>
            <!-- facebook -->
            <li class="facebook"><a href="javascript:void(0)"></a></li>
            <!-- 推特 -->
            <li class="twitter"><a href="javascript:void(0)"></a></li>
            <!-- line -->
            <li class="line"><a href="javascript:void(0)"></a></li>
            <!-- 微信 -->
            <li class="wechat"><a href="javascript:void(0)"></a></li>
        </ul>
    </div>
    <div class="liboxClose">
        <span></span>
    </div>
    <div class="logo">
        <a href="../home/index.html">
                <img src="../../upload/fa2/hdLogo3_100_55.png" alt="">
            </a>
    </div>
</section>
<section class="liboxContent">
    <div class="box">
        <div class="_title">
            <div class="date">
                <h6>15th</h6>
                <p>2018 JUN.</p>
            </div>
            <span></span>
            <div class="slogan">新潮與工藝，探索亞洲新生代的陶瓷靈感脈絡（上）</div>
        </div>
        <div class="paragraphs">
            <!-- section1 -->
            <div class="paragraph_sec">
                <div class="text_block">
                    <p>在今日，如果要設計與製作陶瓷，新生代設計師們往往面臨各種競爭和困難，比如在學習過程中燒製技術失傳和學校教育資源匱乏，出社會創業後面對量產低成本的產品、品牌高度競爭等問題，但即使如此，仍然有部分的新生代設計師願意繼續選擇以陶瓷創作，實踐他們腦海中夢想藍圖的規劃。
                        <br>
                        <br>法藍瓷光點計畫首次邀請來自台灣五所大專院校相關設計科系的學生，參與本計畫的台灣起跑記者會，在當日他們也將作品與在場貴賓和媒體介紹。現在，我們也與您一同分享，並邀請您探索亞洲新生代設計師的靈感脈絡。（本文將分為上下篇介紹）</p>
                </div>
            </div>
            <!-- section2 -->
            <div class="paragraph_sec">
                <div class="text_block">
                    <h2>作品一《 重嚐中國文人的悠悠情懷 》</h2>
                    <p>作品名稱｜寄茗 Ji Ming —— 寄之以茗，供之以禮
                        <br>設計師姓名｜楊超、劉伊宸
                        <br>學校系所｜國立高雄師範大學工業設計系
                        <br>學校地區｜台灣・高雄</p>
                </div>
            </div>
            <!-- section3 -->
            <div class="paragraph_sec flex_col">
                <div class="paragraph_objblock_frame wrap">
                    <div class="paragraph_objblock_list w_50">
                        <img src="../../upload/fa2/news/detail/contentImg11_450_360.jpg" alt="">
                        <b>圖1｜楊超</b>
                    </div>
                    <div class="paragraph_objblock_list w_50">
                        <img src="../../upload/fa2/news/detail/contentImg12_450_360.jpg" alt="">
                        <b>圖2｜劉伊宸</b>
                    </div>
                </div>
            </div>
            <!-- section4 -->
            <div class="paragraph_sec">
                <div class="text_block">
                    <p>詩，是壓縮的文字，是最精煉卻深遠的情感傳遞。詩人崔顥在唐朝以《黃鶴樓》一詩藉仙人的離去，徒留下的黃鶴樓與景色感嘆惆悵迷離的鄉愁；而現在的我們，在同一片景色中，要如何才能窺探當年詩人對浩瀚景致的情感呢？
                        <br>
                        <br>一如《晉書‧天文志》所述：「天圓如張蓋，地方如棋局」。古人將圓比喻為天，方解釋為地，那麼介於這方圓之間的，即為人們生活的所在。我們在方圓之中，打造了品茶的杯器，就像是身處於天地之間，寄之以茗，供之以禮，即便活在不同的世代，也能淺嚐古人的悠悠情懷。</p>
                </div>
            </div>
            <!-- section5 -->
            <div class="paragraph_sec flex_col">
                <div class="paragraph_objblock_frame wrap">
                    <div class="paragraph_objblock_list w_50">
                        <img src="../../upload/fa2/news/detail/contentImg13_450_330.jpg" alt="">
                    </div>
                    <div class="paragraph_objblock_list w_50">
                        <img src="../../upload/fa2/news/detail/contentImg14_450_330.jpg" alt="">
                    </div>
                </div>
            </div>
            <!-- section6 -->
            <div class="paragraph_sec">
                <div class="text_block">
                    <h2>作品二《 將程式參數，化為藝術的形體 》</h2>
                    <p>作品名稱｜參數陶瓷 Parametric Ceramics
                        <br>設計師姓名｜簡禎廷、劉兆偉＋潘冠穎
                        <br>學校系所｜國立臺灣科技大學設計系、創意設計學士班＋國立臺灣藝術大學工藝設計系
                        <br>學校地區｜台灣・台北</p>
                </div>
            </div>
            <!-- section7 -->
            <div class="paragraph_sec flex_col">
                <div class="paragraph_objblock_frame wrap">
                    <div class="paragraph_objblock_list w_33">
                        <img src="../../upload/fa2/news/detail/contentImg15_300_240.jpg" alt="">
                        <b>圖3｜簡禎廷</b>
                    </div>
                    <div class="paragraph_objblock_list w_33">
                        <img src="../../upload/fa2/news/detail/contentImg16_300_240.jpg" alt="">
                        <b>圖4｜劉兆偉</b>
                    </div>
                    <div class="paragraph_objblock_list w_33">
                        <img src="../../upload/fa2/news/detail/contentImg17_300_240.jpg" alt="">
                        <b>圖5｜簡禎廷、劉兆偉＋潘冠穎</b>
                    </div>
                </div>
            </div>
            <!-- section8 -->
            <div class="paragraph_sec">
                <div class="text_block">
                    <p>參數式陶瓷系列作品藉由結合程式與注漿翻模技的技法，探索陶瓷設計上的更多可能性。注漿翻模為大量生產瓷器的技法之一，這個技法非常適合生產型態複雜、薄壁的容器。
                        <br>
                        <br>藉由導入參數式設計至傳統陶瓷製成，我們能在短時間內衍生出大量具備數理美感的造型，並且藉由系統運算分模線來減少翻模上的失誤，最終做出手工難以雕刻，卻仍然能量產的瓷器。
                    </p>
                </div>
            </div>
            <!-- section9 -->
            <div class="paragraph_sec flex_col">
                <div class="paragraph_objblock_frame wrap">
                    <div class="paragraph_objblock_list w_50">
                        <img src="../../upload/fa2/news/detail/contentImg18_450_300.jpg" alt="">
                    </div>
                    <div class="paragraph_objblock_list w_50">
                        <img src="../../upload/fa2/news/detail/contentImg20_450_300.jpg" alt="">
                    </div>
                </div>
            </div>
            <!-- section10 -->
            <div class="paragraph_sec">
                <div class="text_block">
                    <h2>作品三《 以手做的溫度，傳達華人好客的熱情 》</h2>
                    <p>作品名稱｜好事多磨 擂茶茶具組
                        <br> 設計師姓名｜黃雯琪、趙彥維
                        <br> 學校系所｜銘傳大學商品設計學系
                        <br> 學校地區｜台灣・桃園
                    </p>
                </div>
            </div>
            <!-- section11 -->
            <div class="paragraph_sec">
                <div class="paragraph_objblock_frame">
                    <div class="paragraph_objblock_list">
                        <img src="../../upload/fa2/news/detail/contentImg19_900_490.jpg" alt="">
                        <b>圖6｜左-趙彥維｜右-黃雯琪</b>
                    </div>
                </div>
            </div>
            <!-- section12 -->
            <div class="paragraph_sec">
                <div class="text_block">
                    <p>以華人客家族群的特有文化出發，陶瓷結合竹藝，並將藍染藝術融入擂茶*器具，整套產品包含擂缽、茶壺、收納罐、茶杯、茶巾與外包裝。
                        <br>
                        <br>陶瓷外身以白色為底，藍色釉料猶如藍染交織在上；收納罐的上蓋與外包裝的竹籃為向老師傅學習後，耗費120小時親手編織，將傳統工藝應用在新設計，呈現典雅、獨特之風格。
                        <br>
                        <br>好事多磨擂茶茶具組讓人們可以在家或是社交場合體驗擂茶，朋友來「作客」抑或自己來「做客」。
                        <br>
                        <br>*擂茶是款將茶葉、芝麻和穀物等原料混合並研磨成粉後，再加入熱水沖泡享用的東方茶飲。
                    </p>
                </div>
            </div>
            <!-- section13 -->
            <div class="paragraph_sec flex_col">
                <div class="paragraph_objblock_frame wrap">
                    <div class="paragraph_objblock_list w_50">
                        <img src="../../upload/fa2/news/detail/contentImg20_450_300.jpg" alt="">
                    </div>
                    <div class="paragraph_objblock_list w_50">
                        <img src="../../upload/fa2/news/detail/contentImg21_450_300.jpg" alt="">
                    </div>
                </div>
            </div>
            <!-- section14 -->
            <div class="paragraph_sec">
                <div class="text_block">
                    <h2>作品四《 凝萃都市街景，存載文化滋味 》</h2>
                    <p>作品名稱｜棲生
                        <br> 設計師姓名｜吳姿瑩、陳薪丞
                        <br> 學校系所｜中華大學工業產品設計學系
                        <br> 學校地區｜台灣・新竹
                    </p>
                </div>
            </div>
            <!-- section15 -->
            <div class="paragraph_sec flex_col">
                <div class="paragraph_objblock_frame wrap">
                    <div class="paragraph_objblock_list w_50">
                        <img src="../../upload/fa2/news/detail/contentImg22_450_360.jpg" alt="">
                        <b>圖7｜吳姿瑩</b>
                    </div>
                    <div class="paragraph_objblock_list w_50">
                        <img src="../../upload/fa2/news/detail/contentImg23_450_360.jpg" alt="">
                        <b>圖8｜陳薪丞</b>
                    </div>
                </div>
            </div>
            <!-- section16 -->
            <div class="paragraph_sec">
                <div class="text_block">
                    <p>台灣都市夾縫中常見廟宇與建築共存景象，稱為街廟。我們試圖呈現微型宗教空間的「棲生」現象，擷取獨特鮮明的特徵重新轉化為器皿與包裝，藉由對話，比擬這有趣的都市奇景。
                        <br>
                        <br>共有三個品項，茶海、茶杯、小盤與Eva泡綿作為包裝材料可以作為瓷器的保護，以堆疊的方式表現都市建築的層次感，利用兩者的關係記錄台灣有趣的街廟文化。
                    </p>
                </div>
            </div>
            <!-- section17 -->
            <div class="paragraph_sec flex_col">
                <div class="paragraph_objblock_frame wrap">
                    <div class="paragraph_objblock_list w_50">
                        <img src="../../upload/fa2/news/detail/contentImg24_450_300.jpg" alt="">
                    </div>
                    <div class="paragraph_objblock_list w_50">
                        <img src="../../upload/fa2/news/detail/contentImg25_450_300.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="relatedLink">
            <h2>Related Link <span>相關檔案或連結</span></h2>
            <ul class="links">
                <li class="link">
                    <a href="javascript:void(0)">
                        <span></span>
                        <p>法藍瓷光點計畫 facebook</p>
                    </a>
                </li>
                <li class="download">
                    <a href="javascript:void(0)">
                        <span></span>
                        <p>報名簡章</p>
                    </a>
                </li>
                <li class="link">
                    <a href="javascript:void(0)">
                        <span></span>
                        <p>探索光點計畫</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="shareButton">
            <ul>
                <!-- 微信 -->
                <li class="wechat"><a href="javascript:void(0)"></a></li>
                <!-- facebook -->
                <li class="facebook"><a href="javascript:void(0)"></a></li>
                <!-- 推特 -->
                <li class="twitter"><a href="javascript:void(0)"></a></li>
                <!-- line -->
                <li class="line"><a href="javascript:void(0)"></a></li>
            </ul>
        </div>
    </div>
</section>
<!-- 下一則新聞 -->
<section class="nextNews">
    <div class="dateCircle">
        <p>next</p>
        <div class="day">01th</div>
        <div class="month">2018 JAN.</div>
    </div>
    <h2>2016 初賽落幕 31 國 1414 組隊伍參賽</h2>
    <h3>從 2007 年到現在 FRANZ AWARD 從東方立足，展望世界我們不斷希望藉由瓷器，來探索改美好未來...</h3>
</section>
<section class="liboxToTop">
    <span></span>
    <p>TOP</p>
</section>