<section class="topNav">
    <div class="socialMedia">
        <ul>
            <!-- facebook -->
            <li class="facebook"><a href="javascript:void(0)"></a></li>
            <!-- 推特 -->
            <li class="twitter"><a href="javascript:void(0)"></a></li>
            <!-- line -->
            <li class="line"><a href="javascript:void(0)"></a></li>
            <!-- 微信 -->
            <li class="wechat"><a href="javascript:void(0)"></a></li>
        </ul>
    </div>
    <div class="liboxClose">
        <span></span>
    </div>
    <div class="logo">
        <a href="../home/index.html">
        		<img src="../../upload/fa2/hdLogo3_100_55.png" alt="">
        	</a>
    </div>
</section>
<section class="liboxContent">
    <div class="box">
        <div class="_title">
            <div class="date">
                <h6>01th</h6>
                <p>2018 JAN.</p>
            </div>
            <span></span>
            <div class="slogan">法藍瓷光點計畫 北京起跑記者會</div>
        </div>
        <div class="paragraphs">
            <!-- section1 -->
            <div class="paragraph_sec">
                <div class="paragraph_txtblock">
                    <div class="paragraph_objblock_frame wrap">
                        <div class="paragraph_objblock_list">
                            <img src="../../upload/fa2/home/newsImg3_1240_690.jpg" alt="">
                            <b>（左到右）今日美术馆馆长高鹏、法蓝瓷总裁陈立恒、北京大学文化产业研究院副院长向勇、法蓝瓷设计大赛金奖得主、湖州职业技术学院助教王武共同祝福光点计划顺利成功</b>
                        </div>
                    </div>
                </div>
            </div>
            <!-- section2 -->
            <div class="paragraph_sec line_left">
                <div class="text_block">
                    <h2>十年大賽華麗轉身，法藍瓷嘉惠學子再加碼</h2>
                    <p>法藍瓷在十年的陶瓷設計大賽（Franz Award）間，激蕩了來自全球上萬名的設計新秀，為了嘉惠更多設計人才，大賽從2018年起轉型為「法藍瓷光點計劃」獎學金，每屆以高達60萬人民幣的總獎金，規劃提供百位學生人民幣6000元獎學金，為更多勇於追夢的設計新銳注入滿滿勇氣，更將聯合世界頂尖陶瓷聯盟院校，盼匯聚設計能量打造閃亮未來。</p>
                </div>
            </div>
            <!-- section3 -->
            <div class="paragraph_sec line_left ">
                <div class="text_block">
                    <h2>轉一個信念，築百個夢想</h2>
                    <p>自2007年開辦以來，法藍瓷陶瓷設計大賽從台灣，兩岸逐步走向國際，共吸引來自全球超過30國，近萬名的設計新銳報名參賽。在這個全球陶瓷設計的最高競賽殿堂，每年皆邀請重量級國際評審傳承豐富經驗，十年來點亮了許多全球設計新秀們的未來。
                        <br>在十年的大賽中，我們見證了上萬件陶瓷設計夢想的誕生，但放眼望向現行的設計競賽，發現大多數的比賽資源只挹注在少數得獎者，對廣泛的學生難有實質幫助。因此，經過一年的規劃，大賽轉型為「法藍瓷光點計劃Franz Rising Star」 - 準備了 100個名額，每位人民幣6000元的獎學金，相較過去每年約20萬總金額的獎金，光點計劃將提供高達60萬人民幣的總獎金，以鼓勵更多設計學子完成陶瓷夢想。</p>
                </div>
            </div>
            <!-- section4 -->
            <div class="paragraph_sec">
                <div class="paragraph_objblock_frame w_50 imgHasB">
                    <div class="paragraph_objblock_list line_left">
                        <img src="../../upload/fa2/news/detail/contentImg1_450_520.jpg" alt="">
                        <b>法蓝瓷总裁暨亚太文化创意产业协会会长 陈立恒先生</b>
                    </div>
                </div>
                <div class="text_block  w_50 imgHasB">
                    <h2>法藍瓷再創新，「光點計劃」解決陶瓷教學難點</h2>
                    <p>5月23日在京舉行的光點計劃餐敘中，過往獲得2013年，2014年的金獎得主王武也到了現場，他分享過往在景德鎮做陶瓷創作，現在更成為老師實際教導同創作。他發覺同學在經費上有不小的缺口，「以一套茶具的創作來說，光是打樣可能就要個五千人民幣左右，遑論其他學雜費與生活開銷。而光點計劃的轉型是完全針對同學痛點給予支持，而且名額大大提高，期待看到百花齊放的大鳴大放」。
                        <br>法藍瓷總裁陳立恆先生表示，過往十年大賽所培育的設計新銳現在成為成功品牌的並不多，追根究柢後，發現「原來新銳設計師在受教育時，就缺乏對產業，對市場的認識，希望光點計劃能回到源頭，給同實質的支持與鼓勵，之後再帶同學到國際上去認識市場與產業」。
                        <br>
                        <br>北京大學文化產研究院副院長向勇教授也蒞臨現場，他表示：「現在轉型光點計劃正是時候，彌補了多數藝術家，設計人才缺乏對產業了解，看得出對品牌對人才培養深度與厚度的用心。」向勇副院長更提到「聚是一團火，散是滿天星」，期待光點計劃，培養諸多的明日之星。</p>
                </div>
            </div>
            <!-- section5 -->
            <div class="paragraph_sec line_left ">
                <div class="text_block">
                    <p>另一位蒞臨嘉賓是北京今日美術館館長高鵬，高館長與法藍瓷合作多年，他認為法藍瓷是一個懂得創新的品牌，透過創新的方式，諸如參加競賽，參訪企業，國際秀展等方式，讓青年藝術家與設計師以了解產業的現況。未來新的光點計劃，更有機會把同學作品帶到法國大皇宮展覽，這對創作者來說絕對是至高無上的榮耀。</p>
                </div>
            </div>
            <!-- section6 -->
            <div class="paragraph_sec line_left ">
                <div class="text_block">
                    <h2>“法藍瓷光點計劃小百科”</h2>
                    <p>一，資格：國內外大專院校在校生（含2018年度應屆畢業生），只要設計成品中，含50％以上陶瓷媒材，皆可提出申請，且每件作品限申請乙次。
                        <br> 二，名額與獎勵：審核通過之100名，將給予人民幣6000元獎學金（或等值外幣）。
                        <br> 三，申請期間：自2018年6月1日中午12時起至8月31日中午12時止（以主辦單位所在地時區為主）。
                        <br> 四，光點新秀獎：將從審核通過之100名作品中，遴選出十件頒發光點新秀獎。
                        <br> 五，審核條件：將於6月於官網正式公佈。
                        <br> 六，光點新秀獎獎勵：頒發獎狀乙只，並規劃國際合作參展（詳細信息將於官網上正式公佈）。
                    </p>
                </div>
            </div>
        </div>
        <div class="relatedLink">
            <h2>Related Link <span>相關檔案或連結</span></h2>
            <ul class="links">
                <li class="link">
                    <a href="javascript:void(0)">
                    	<span></span>
        				<p>法藍瓷光點計畫 facebook</p>
        			</a>
                </li>
                <li class="download">
                    <a href="javascript:void(0)">
                    	<span></span>
        				<p>報名簡章</p>
        			</a>
                </li>
                <li class="link">
                    <a href="javascript:void(0)">
                    	<span></span>
        				<p>探索光點計畫</p>
        			</a>
                </li>
            </ul>
        </div>
        <div class="shareButton">
            <ul>
                <!-- 微信 -->
                <li class="wechat"><a href="javascript:void(0)"></a></li>
                <!-- facebook -->
                <li class="facebook"><a href="javascript:void(0)"></a></li>
                <!-- 推特 -->
                <li class="twitter"><a href="javascript:void(0)"></a></li>
                <!-- line -->
                <li class="line"><a href="javascript:void(0)"></a></li>
            </ul>
        </div>
    </div>
</section>
<!-- 下一則新聞 -->
<section class="nextNews">
    <div class="dateCircle">
        <p>next</p>
        <div class="day">01th</div>
        <div class="month">2018 JAN.</div>
    </div>
    <h2>2016 初賽落幕 31 國 1414 組隊伍參賽</h2>
    <h3>從 2007 年到現在 FRANZ AWARD 從東方立足，展望世界我們不斷希望藉由瓷器，來探索改美好未來...</h3>
</section>
<section class="liboxToTop">
    <span></span>
    <p>TOP</p>
</section>