<section class="topNav">
    <div class="socialMedia">
        <ul>
            <!-- facebook -->
            <li class="facebook"><a href="javascript:void(0)"></a></li>
            <!-- 推特 -->
            <li class="twitter"><a href="javascript:void(0)"></a></li>
            <!-- line -->
            <li class="line"><a href="javascript:void(0)"></a></li>
            <!-- 微信 -->
            <li class="wechat"><a href="javascript:void(0)"></a></li>
        </ul>
    </div>
    <div class="liboxClose">
        <span></span>
    </div>
    <div class="logo">
        <a href="../home/index.html">
                <img src="../../upload/fa2/hdLogo3_100_55.png" alt="">
            </a>
    </div>
</section>
<section class="liboxContent">
    <div class="box">
        <div class="_title">
            <div class="date">
                <h6>31th</h6>
                <p>018 May.</p>
            </div>
            <span></span>
            <div class="slogan">十年大賽創意轉型，法藍瓷嘉惠學子再加碼</div>
        </div>
        <div class="paragraphs">
            <!-- section1 -->
            <div class="paragraph_sec">
                <div class="paragraph_txtblock">
                    <div class="paragraph_objblock_frame wrap">
                        <div class="paragraph_objblock_list">
                            <img src="../../upload/fa2/news/detail/contentImg2_900_540.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- section2 -->
            <div class="paragraph_sec">
                <div class="text_block">
                    <p>法藍瓷在十年的陶瓷設計大賽(Franz Award)間，激蕩了來自全球上萬名的設計新秀，為了嘉惠更多設計人才，大賽從2018年起轉型為「法藍瓷光點計畫」獎學金，每屆以高達300萬新台幣的總獎金，規劃提供百位學生新台幣30,000元獎學金，為更多勇於追夢的設計新銳注入滿滿勇氣，更將聯合世界頂尖陶瓷聯盟院校，盼彙聚設計能量打造閃亮未來。</p>
                </div>
            </div>
            <!-- section3 -->
            <div class="paragraph_sec flex_col">
                <div class="paragraph_objblock_frame wrap">
                    <div class="paragraph_objblock_list w_50">
                        <img src="../../upload/fa2/news/detail/contentImg3_450_290.jpg" alt="">
                    </div>
                    <div class="paragraph_objblock_list w_50">
                        <img src="../../upload/fa2/news/detail/contentImg4_450_290.jpg" alt="">
                    </div>
                </div>
            </div>
            <!-- section4 -->
            <div class="paragraph_sec">
                <div class="text_block">
                    <p>自2007年開辦以來，法藍瓷陶瓷設計大賽從臺灣、兩岸逐步走向國際，共吸引來自全球超過30國、近萬名的設計新銳報名參賽。在這個全球陶瓷設計的最高競賽殿堂，每年皆邀請重量級國際評審傳承豐富經驗，十年來點亮了許多全球設計新秀們的未來。在十年的大賽中，我們見證了上萬件陶瓷設計夢想的誕生，但放眼望向現行的設計競賽，發現大多數的比賽資源只挹注在少數得獎者，對廣泛的學生難有實質幫助。因此，經過一年的規劃，大賽轉型為「法藍瓷光點計畫 Franz Rising Star」—— 準備了100個名額，每位新台幣30,000元的獎學金，相較過去每年約100萬總金額的獎金，光點計畫將提供高達300萬新台幣的總獎學金，以鼓勵更多設計學子完成陶瓷夢想。</p>
                </div>
            </div>
            <!-- section5 -->
            <div class="paragraph_sec flex_col">
                <div class="paragraph_objblock_frame wrap">
                    <div class="paragraph_objblock_list w_33">
                        <img src="../../upload/fa2/news/detail/contentImg5_300_210.jpg" alt="">
                    </div>
                    <div class="paragraph_objblock_list w_33">
                        <img src="../../upload/fa2/news/detail/contentImg6_300_210.jpg" alt="">
                    </div>
                    <div class="paragraph_objblock_list w_33">
                        <img src="../../upload/fa2/news/detail/contentImg7_300_210.jpg" alt="">
                    </div>
                </div>
            </div>
            <!-- section6 -->
            <div class="paragraph_sec">
                <div class="text_block">
                    <h2>法藍瓷創意轉型，深耕教育一呼百應</h2>
                    <p>「法藍瓷光點計劃」五月三十日在台北「孫運璿科技人文紀念館」起跑，除了非常榮幸邀請到了六所台灣設計藝術院校的超優秀設計新銳（他們來自國立臺灣科技大學、國立臺灣藝術大學、中華大學、國立高雄師範大學、國立清華大學、銘傳大學），他們帶來了共八組作品於記者會現場和貴賓與媒體分享，並透過作品展現了台灣工藝的傳承、科技應用的結合、材質結合的創新與文化精神的呈現。</p>
                </div>
            </div>
            <!-- section7 -->
            <div class="paragraph_sec">
                <div class="paragraph_objblock_frame">
                    <div class="paragraph_objblock_list">
                        <img src="../../upload/fa2/news/detail/contentImg8_900_460.jpg" alt="">
                    </div>
                </div>
            </div>
            <!-- section8 -->
            <div class="paragraph_sec">
                <div class="text_block">
                    <p>記者會當日，現場多位國內外貴賓也蒞臨現場。法藍瓷總裁陳立恆先生表示時代在變，品牌也轉型可以製作自己的3D印表機，更嘗試往醫療瓷牙領域邁進，而舉辦十年的大賽當然也要創意轉型。過去每年大賽都耗資一千萬執行，現在獲獎同學有些有了自己的品牌、成立設計工作室、甚至成為老師，但卻還沒見到在產業界大放異彩。他認為應該是從教育根本出發，所以有了這次獎學金的規劃，讓更多同學有機會了解產業、市場。</p>
                </div>
            </div>
            <!-- section9 -->
            <div class="paragraph_sec">
                <div class="text_block  w_50">
                    <p>而旺旺中時的胡志強副董事長說「法藍瓷是外交禮品的首選，但最佩服陳立恆總裁除了作法藍瓷，更鼓勵台灣新一代設計學子發揮創意，非常期待看到沒有極限的好創意」。中華民國工業設計協會秘書長郭介誠提到，非常敬重法藍瓷以企業理念、長遠的目光來支持設計學子，因此「自己非常願意成為推廣光點計劃的一員」。
                        <br>
                        <br>清大教授施富錡也認同光點計劃的轉型，過去法藍瓷的大賽就是同學矚目焦點，今年擴大名額，可以給予同學更實質幫助。
                        <br>
                        <br>到場的貴賓也同樣為計劃祝福，包含尼加拉瓜共和國大使館大使H.E. Ambassador William Tapia Aleman、西班牙商務辦事處代表Ms. Andrea Rodrigo Perez、旺旺中時媒體集團副董事長胡志強、台灣創意設計中心總顧問總顧問張光民、宇智顧問股份有限公司董事長賢伉儷徐小波與曹平霞、台新銀行文化藝術基金會董事長鄭家鐘、中華民國工業設計協會秘書長郭介誠、頑石文創開發顧問股份有限公司創辦人程湘如，還有清大教授施富錡、台藝大教授范成浩、華梵大學教授林正仁等人響應，期盼光點計畫圓滿順利。
                    </p>
                </div>
                <div class="paragraph_objblock_frame w_50">
                    <div class="paragraph_objblock_list">
                        <img src="../../upload/fa2/news/detail/contentImg9_440_475.jpg" alt="">
                    </div>
                </div>
            </div>
            <!-- section10 -->
            <div class="paragraph_sec wrap">
                <div class="text_block">
                    <h2>點點微光，傳承陶瓷千年光輝</h2>
                </div>
                <div class="paragraph_objblock_frame w_100">
                    <div class="paragraph_objblock_list line_left">
                        <img src="../../upload/fa2/news/detail/contentImg10_900_510.jpg" alt="">
                    </div>
                </div>
            </div>
            <!-- section11 -->
            <div class="paragraph_sec">
                <div class="text_block">
                    <p>陶瓷是文明的結晶，其質千年不變、其色長久不褪，更顛覆世界的飲食文化，直至今日，傳承了永恆的人文價值。 透過十年的大賽，我們欣喜發現全球許多設計學子，都著迷于陶瓷的雋永之美，他們無畏於技術的挑戰，用現代的設計語彙，不斷地進行陶瓷的創作和再造。2018 年啟動首屆「光點計畫」後，期許串連更多國內外設計機構及院校，諸如歐洲最大陶瓷博物館Porzellanikon Selb、北京今日美術館、英國陶瓷雙年展(British Ceramics Biennial)、英國聖馬丁學院陶瓷系(Central Saint Martins)、韓國弘益大學、景德鎮陶瓷大學、中國美院陶瓷系等國際內外組織，鼓勵更多具天賦的學生接觸陶瓷設計。藉由「法藍瓷光點計畫」獎學金的申請，將降低高額打樣費用的門檻，盼能彙聚世界各地學子對陶瓷的熱情，讓陶瓷動人的光輝傳承到下個世代，照亮人類的未來。</p>
                </div>
            </div>
            <!-- section12 -->
            <div class="paragraph_sec">
                <div class="text_block">
                    <h2>六月「光點計畫」啟動，世界級評審專屬指導</h2>
                    <p>從今年6月1日到8月31日止，「光點計畫」將開啟網路報名，擬提供百位設計學子新台幣30,000元的獎學金，凡以陶瓷為媒材的作品皆可申請，沒有科系與年級的限制。同時，「法藍瓷光點計畫」也將延攬「法藍瓷陶瓷設計大賽」全方位產學界的國際評審，除了給予獲獎的100 件作品專屬指導外，並將從申請作品遴選出十件，頒發「光點新秀獎」給予鼓舞。</p>
                </div>
            </div>
            <!-- section13 -->
            <div class="paragraph_sec">
                <div class="text_block">
                    <h2>“法藍瓷光點計劃小百科”</h2>
                    <p>一，資格：國內外大專院校在校生（含2018年度應屆畢業生），只要設計成品中，含50％以上陶瓷媒材，皆可提出申請，且每件作品限申請乙次。
                        <br> 二，名額與獎勵：審核通過之100名，將給予人民幣6000元獎學金（或等值外幣）。
                        <br> 三，申請期間：自2018年6月1日中午12時起至8月31日中午12時止（以主辦單位所在地時區為主）。
                        <br> 四，光點新秀獎：將從審核通過之100名作品中，遴選出十件頒發光點新秀獎。
                        <br> 五，審核條件：將於6月於官網正式公佈。
                        <br> 六，光點新秀獎獎勵：頒發獎狀乙只，並規劃國際合作參展（詳細信息將於官網上正式公佈）。
                    </p>
                </div>
            </div>
        </div>
        <div class="relatedLink">
            <h2>Related Link <span>相關檔案或連結</span></h2>
            <ul class="links">
                <li class="link">
                    <a href="javascript:void(0)">
                        <span></span>
                        <p>法藍瓷光點計畫 facebook</p>
                    </a>
                </li>
                <li class="download">
                    <a href="javascript:void(0)">
                        <span></span>
                        <p>報名簡章</p>
                    </a>
                </li>
                <li class="link">
                    <a href="javascript:void(0)">
                        <span></span>
                        <p>探索光點計畫</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="shareButton">
            <ul>
                <!-- 微信 -->
                <li class="wechat"><a href="javascript:void(0)"></a></li>
                <!-- facebook -->
                <li class="facebook"><a href="javascript:void(0)"></a></li>
                <!-- 推特 -->
                <li class="twitter"><a href="javascript:void(0)"></a></li>
                <!-- line -->
                <li class="line"><a href="javascript:void(0)"></a></li>
            </ul>
        </div>
    </div>
</section>
<!-- 下一則新聞 -->
<section class="nextNews">
    <div class="dateCircle">
        <p>next</p>
        <div class="day">01th</div>
        <div class="month">2018 JAN.</div>
    </div>
    <h2>2016 初賽落幕 31 國 1414 組隊伍參賽</h2>
    <h3>從 2007 年到現在 FRANZ AWARD 從東方立足，展望世界我們不斷希望藉由瓷器，來探索改美好未來...</h3>
</section>
<section class="liboxToTop">
    <span></span>
    <p>TOP</p>
</section>