<section class="topNav">
    <div class="socialMedia">
        <ul>
            <!-- facebook -->
            <li class="facebook"><a href="javascript:void(0)"></a></li>
            <!-- 推特 -->
            <li class="twitter"><a href="javascript:void(0)"></a></li>
            <!-- line -->
            <li class="line"><a href="javascript:void(0)"></a></li>
            <!-- 微信 -->
            <li class="wechat"><a href="javascript:void(0)"></a></li>
        </ul>
    </div>
    <div class="liboxClose">
        <span></span>
    </div>
    <div class="logo">
        <a href="../home/index.html">
            <img src="../../upload/fa2/hdLogo3_100_55.png" alt="">
        </a>
    </div>
</section>
<section class="liboxContent">
    <div class="box">
        <div class="_title">
            <div class="date">
                <h6>31th</h6>
                <p>2018 May.</p>
            </div>
            <span></span>
            <div class="slogan">Splendidly Transformation! Franz Raising the Price in its New Project for Students.</div>
        </div>
        <div class="paragraphs">
            <!-- section1 -->
            <div class="paragraph_sec">
                <div class="paragraph_txtblock">
                    <div class="paragraph_objblock_frame wrap">
                        <div class="paragraph_objblock_list">
                            <img src="../../upload/fa2/news/detail/contentImg2_900_540.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- section2 -->
             <div class="paragraph_sec">
                <div class="text_block">
                    <p>
                        During the ten years of FRANZ AWARD, FRANZ AWARD has raised thousands of design talents from all over the world. In order to help more young talents, FRANZ AWARD transformed itself into Rising Star Project since 2018, an international  scholarship which provides 1000 USD compensation each for hundred students. With total 100,000 USD scholarship, we empower more young designers who are willing to pursue their dreams. Furthermore, Franz is going to  build an alliance with  global ceramics design universities in order to gather design talents to build a bright future.
                    </p>
                </div>
            </div>
            <!-- section3 -->
            <div class="paragraph_sec">
                <div class="text_block">
                    <h2>Change one Mind,  Build  Hundred of Dreams</h2>
                    <p>
                        Since 2007, FRANZ AWARD started from Taiwan, China, and gradually be on international stage. FRANZ AWARD has  attracted  thousands of design talents from 60 different countries to participate in the Award. Every year in this  global porcelain  design competition, we would  invite well-known juries to pass down their precious experience to help young talents explore their future  .
                    </p>
                </div>
            </div>
            <!-- section4 -->
           <div class="paragraph_sec">
                <div class="text_block">
                    <p>During the past ten years of FRANZ AWARD competition, we had witnessed thousands of  great porcelain  design  dreams to sprout. However, we also found that almost all  the design competitions only put their resources on few competition winners, rather than helping most of the students who study in design. Therefore, after planning for one year, we transformed FRANZ AWARD into Franz Rising Star Project-- an international scholarship which provides one hundred students,  each for one thousand USD compensations. Compare with the past, this year we provide total 100,000 USD, to encourage more and more students fulfill their porcelain design dreams.</p>
                </div>
            </div>
            <!-- section5 -->
            <div class="paragraph_sec">
                <div class="text_block">
                    <h2>Twinkling lights, Pass Down the Millennium Glory of Porcelain.</h2>
                    <p>Porcelain is the crystallization of culture. The materials remain the same for thousands of years, and the color will never fade. Until today, porcelain still takes the role to pass down the spirit of the civilization, and even subverts the diet culture.</p>
                </div>
            </div>
            <!-- section6 -->
             <div class="paragraph_sec">
                <div class="text_block">
                    <p>Through the ten years competition of FRANZ AWARD, we were pleased to discover  that there are many talented design students who are fascinated with the beauty of porcelain. They are not afraid of the challenge of technique, and they use the modern style to keep moving on developing and reconstructing the art of porcelain.</p>
                </div>
            </div>
            <!-- section7 -->
             <div class="paragraph_sec">
                <div class="text_block">
                    <p>In 2018, after holding  Franz Rising Star Project for the first time, we hope to connect more national and international design institutions and organizations, such as the biggest porcelain museum in Europe “Porzellanikon Selb”, “Today Art Museum” in Beijing, British Ceramics Biennial, UAL Central Saint Martins, Jingdezhen Ceramic Institute, and China Academy of Art. We want to encourage more and more students with great talents to have access to porcelain design.</p>
                </div>
            </div>
            <!-- section8 --> 
             <div class="paragraph_sec">
                <div class="text_block">
                    <p>Through applying for Franz Rising Star Project, we try to cut down on  the burden of prototyping fee. We hope to gather students from all over the world, with great passion toward porcelain design, to pass down the glow of porcelain to the next generation, and lighten up the future of all human being.</p>
                </div>
            </div>       
            <!-- section9 -->
             <div class="paragraph_sec">
                <div class="text_block">
                    <h2>Franz Rising Star Project will Start from June, and our World-Class Judges are Going to be Exclusive Guide</h2>
                    <p>
                        The online registration of Franz Rising Star Project will start from June 1 to Agusut 31. We plan to provide USD$1000 each for hundred of porcelain design major students. There is no limit to the major or grade, only the artwork should be made of porcelain. <br>At the same time, Franz Rising Star Project is going to invite the world class judges from all domains to exclusively guide the 100 pieces of artworks, and will also select 10 pieces of artworks to award Franz Rising Star Award.
                    </p>
                </div>
            </div>
        </div>
        <div class="relatedLink">
            <h2>Related Link</h2>
            <ul class="links">
                <li class="link">
                    <a href="javascript:void(0)">
                    	<span></span>
        				<p>FRANZ RSP facebook facebook</p>
        			</a>
                </li>
                <li class="download">
                    <a href="javascript:void(0)">
                    	<span></span>
        				<p>FRANZ RSP Pamphlet</p>
        			</a>
                </li>
                <li class="link">
                    <a href="javascript:void(0)">
                    	<span></span>
        				<p>FRANZ RSP Introduction</p>
        			</a>
                </li>
            </ul>
        </div>
        <div class="shareButton">
            <ul>
                <!-- 微信 -->
                <li class="wechat"><a href="javascript:void(0)"></a></li>
                <!-- facebook -->
                <li class="facebook"><a href="javascript:void(0)"></a></li>
                <!-- 推特 -->
                <li class="twitter"><a href="javascript:void(0)"></a></li>
                <!-- line -->
                <li class="line"><a href="javascript:void(0)"></a></li>
            </ul>
        </div>
    </div>
</section>
<!-- 下一則新聞 -->
<section class="nextNews">
    <div class="dateCircle">
        <p>next</p>
        <div class="day">01th</div>
        <div class="month">2018 JAN.</div>
    </div>
    <h2>2016 初賽落幕 31 國 1414 組隊伍參賽</h2>
    <h3>從 2007 年到現在 FRANZ AWARD 從東方立足，展望世界我們不斷希望藉由瓷器，來探索改美好未來...</h3>
</section>
<section class="liboxToTop">
    <span></span>
    <p>TOP</p>
</section>