<!DOCTYPE html>
<html>

<head>
    <title>TECO</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <link href="../../assets/img/favicon-20170414044912706.ico" rel="icon" type="image/x-icon">
    <!--slick-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/slick/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/slick/slick.css" />
    <!--fons-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/fontAwesome/font-awesome.css" />
    <!--semanticwp-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/semanticwp/jquery.semanticwp-modal.min.css" />
    <!--mCustomScrollbar-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/mCustomScrollbar/jquery.mCustomScrollbar.css" />
    <!--style.css-->
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css" />
    <!-- 自訂的css -->
    <link rel="stylesheet" type="text/css" href="../../assets/css/customize/accessoriesInf.css" />
</head>

<body class="fontM" id="top">
    <main id="customize" class="accessoriesInf">
        <article class="topNav">
            <section class="back" onclick="window.close();">
                <span></span>
                <p>CLOSE</p>
            </section>
        </article>
        <article class="space">
            <section class="topTitle">
                <p class="en">Choose Your Space</p>
                <p class="ch">日本製壓縮機選配介紹</p>
            </section>
            <section class="_img">
                <!-- 後端請注意:這邊要可以放圖片或影片 -->
                <img src="../../upload/customize/customized/spaceImg_1100_610.jpg" alt="">
                <!--  <iframe src="https://www.youtube.com/embed/-PpUZj-ErBQ" frameborder="0" allowfullscreen></iframe> -->
            </section>
            <section class="_text">
                <p>壓縮機是空調系統的核心部件，因此空調的好壞，壓縮機格外重要。在日本製造的壓縮機品牌中，又以三菱壓縮機等級最好，三菱擁有高超的製冷壓縮機技術，在迴轉式壓縮機的生產方面積累了數十年的經驗，因此三菱壓縮機品質領先全世界，能夠面對日益嚴格的市場需求挑戰。</p>
            </section>
        </article>
        <article class="feature">
            <section class="topTitle">
                <p class="en">Features</p>
                <p class="ch">產品特色</p>
            </section>
            <section class="area">
                <div class="areaLeft" data-needFixed="true">
                    <span class="numb"></span>
                    <div>
                        <p class="en">Computing Processor</p>
                        <p class="ch">高效率.高輸出範圍</p>
                    </div>
                </div>
                <div class="areaRight">
                    <div class="box">
                        <div class="_img">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/customize/customized/areaImg_490_210.jpg" alt="">
                            <!-- 圖片註解文字 -->
                            <!-- 後端請注意:如果沒註解的話把<b>拿掉 -->
                            <b>圖片註解文字:巴拉巴拉巴拉</b>
                        </div>
                        <div class="_text">
                            <h6>電磁噪音低減</h6>
                            <p>磁通密度減低,降低電磁噪音</p>
                            <p>6極壓縮機 → 磁通密度減低 → 電磁噪音降低</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="_img">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/customize/customized/areaImg2_400_280.jpg" alt="">
                            <!-- 圖片註解文字 -->
                            <!-- 後端請注意:如果沒註解的話把<b>拿掉 -->
                            <b>圖片註解文字:巴拉巴拉巴拉</b>
                        </div>
                        <div class="_text">
                            <h6>電磁噪音低減</h6>
                            <p>減少功率耗損,更快達到最大轉速示意圖</p>
                            <p><span style="background-color: red"></span>日本製6極壓縮機</p>
                            <p><span style="background-color: green"></span>他牌4極壓縮機</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="_img">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/customize/customized/areaImg3_540_290.jpg" alt="">
                            <!-- 圖片註解文字 -->
                            <!-- 後端請注意:如果沒註解的話把<b>拿掉 -->
                            <b>圖片註解文字:巴拉巴拉巴拉</b>
                        </div>
                        <div class="_text">
                            <h6>他牌VS日本製壓縮機 噪音音量差異</h6>
                            <p><span style="background-color: red"></span>日本製雙缸迴轉式壓縮機</p>
                            <p><span style="background-color: green"></span>他牌雙缸迴轉式壓縮機</p>
                            <p><span style="background-color:blue"></span>三菱單缸旋轉式KHB104F(R22)</p>
                        </div>
                        <div class="_text">
                            <h6>測定條件</h6>
                            <p>CT/ET=52/5‧C　　　　SC/SH=5/10.C</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="area">
                <div class="areaLeft" data-needFixed="true">
                    <span class="numb"></span>
                    <div>
                        <p class="en">Computing Processor</p>
                        <p class="ch">低噪音.振動水平</p>
                    </div>
                </div>
                <div class="areaRight">
                    <div class="box">
                        <div class="_img">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/customize/customized/areaImg4_510_275.jpg" alt="">
                            <!-- 圖片註解文字 -->
                            <!-- 後端請注意:如果沒註解的話把<b>拿掉 -->
                            <b>雙轉子迴轉壓縮機力矩互補示意圖</b>
                        </div>
                        <div class="_text">
                            <h6>雙迴旋噪音低減</h6>
                            <p>由於雙轉子力矩互補</p>
                            <p>因此振動以及噪音非常小，約常規空調的二分之一</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="area">
                <div class="areaLeft" data-needFixed="true">
                    <span class="numb"></span>
                    <div>
                        <p class="en">Computing Processor</p>
                        <p class="ch">特殊的低吸濕性壓縮機油 (三菱壓縮機專利)</p>
                    </div>
                </div>
                <div class="areaRight">
                    <div class="box">
                        <div class="_text">
                            <p>若是冷凍油吸濕性太差，導致水分超標，會造成系統效率下降及壓縮機被腐蝕。因為水分在蒸發器中結冰會影響制冷效率，並且一旦與冷媒接觸產生化學反應生成鹽酸和氫氟酸，就會開始腐蝕設備，因此讓壓縮機的壽命大大縮減，甚至造成報廢。故使用低吸濕性冷凍油的壓縮機，將能有更長的壽命且確保效率不會變差。</p>
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </main>
    <!--主要jQuery-->
    <script src="../../assets/js/vedor/jquery-1.11.3.min.js"></script>
    <!--共用-->
    <script src="../../assets/js/vedor/slick/slick.js"></script>
    <script src="../../assets/js/vedor/bLazy/bLazy.js"></script>
    <script src="../../assets/js/vedor/waypoints.min.js"></script>
    <script src="../../assets/js/vedor/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../../assets/js/vedor/jquery.easings.min.js"></script>
    <script src="../../assets/js/vedor/semanticwp/jquery.semanticwp-modal.min.js"></script>
    <script src="../../assets/js/vedor/prefixfree.min.js"></script>
    <script src="../../assets/js/vedor/picturefill.min.js"></script>
    <!--main js-->
    <script src="../../assets/js/main.js"></script>
    <!--自訂的js-->
    <script src="../../assets/js/nick.js"></script>
</body>

</html>