
<!DOCTYPE html>
<html>

<head>
    <title>TECO</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <link href="../../assets/img/favicon-20170414044912706.ico" rel="icon" type="image/x-icon">
    <!--slick-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/slick/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/slick/slick.css" />
    <!--fons-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/fontAwesome/font-awesome.css" />
    <!--semanticwp-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/semanticwp/jquery.semanticwp-modal.min.css" />
    <!--mCustomScrollbar-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/mCustomScrollbar/jquery.mCustomScrollbar.css" />
    <!--style.css-->
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css" />
    <!-- 自訂的css -->
    <link rel="stylesheet" type="text/css" href="../../assets/css/customize/contact.css" />
</head>

<body class="fontM" id="top">
    <main id="customize" class="contact">
        <article class="topNav">
            <section class="back" onclick="history.back()">
                <span></span>
                <p>CLOSE</p>
            </section>
        </article>
        <article class="banner">
            <section>
                <div class="_text">
                    <p class="en">Contact Information</p>
                    <p class="ch">客製化訂單聯繫資訊</p>
                    <p class="words">請確實填寫您的聯繫資訊，在按下送出鍵後，本客製化訂單便會立即寄出，東元家電將在收到訂單後交由專人處理，盡速與您聯繫。</p>
                </div>
                <form>
                    <div class="W50 workbox">
                        <p>姓　　名</p>
                        <input type="text" placeholder="王東元" data-rwdPlaceholder="">
                    </div>
                    <div class="W50 workbox">
                        <p>身分證字號</p>
                        <input type="text" placeholder="A123456789" data-rwdPlaceholder="">
                    </div>
                    <div class="W50 workbox">
                        <p>聯絡電話</p>
                        <input type="number" placeholder="04 12345678#123" data-rwdPlaceholder="">
                    </div>
                    <div class="W50 workbox">
                        <p>手機號碼</p>
                        <input type="number" placeholder="0912 345 678" data-rwdPlaceholder="">
                    </div>
                    <div class="W100 workbox">
                        <p>聯絡信箱</p>
                        <input type="text" placeholder="請確實填寫正確信箱，以利收到訂單明細" data-rwdPlaceholder="請確實填寫正確，以利收到訂單明細">
                    </div>
                    <div class="W50 workbox">
                        <p>寄送地址</p>
                        <div class="dropDowns">
                            <span class="dropDown county">
                                <span class="selectMenu">
                                    <p>選擇縣市 +</p>
                                </span>
                                <input type="hidden" value="">
                                <ul>
                                    <li>台北</li>
                                    <li>台中</li>
                                    <li>高雄</li>
                                    <li>台北</li>
                                    <li>台中</li>
                                    <li>高雄</li>
                                    <li>台北</li>
                                    <li>台中</li>
                                    <li>高雄</li>
                                    <li>台北</li>
                                    <li>台中</li>
                                    <li>高雄</li>
                                </ul>
                            </span>
                            <span class="dropDown towns">
                                <span class="selectMenu">
                                    <p>選擇鄉鎮市區 +</p>
                                </span>
                                <input type="hidden" value="">
                                <ul>
                                    <li>潭子區</li>
                                    <li>太平區</li>
                                    <li>南區</li>
                                    <li>潭子區</li>
                                    <li>太平區</li>
                                    <li>南區</li>
                                    <li>潭子區</li>
                                    <li>太平區</li>
                                    <li>南區</li>
                                    <li>潭子區</li>
                                    <li>太平區</li>
                                    <li>南區</li>
                                    <li>潭子區</li>
                                    <li>太平區</li>
                                    <li>南區</li>
                                </ul>
                            </span>
                        </div>
                    </div>
                    <div class="W50 workbox">
                        <input type="text" placeholder="請輸入您的詳細地址(請勿填寫郵政信箱)" data-rwdPlaceholder="請輸入詳細地址(勿填郵政信箱)">
                    </div>
                    <div class="W100 time workbox nobg">
                        <p>期望收貨時間</p>
                        <div class="itemContent">
                            <div class="checkBoxs">
                                <div>
                                    <input type="radio" name="deliveryTime">
                                    <label>
                                        <span class="iconN-hook"></span>
                                        <p>上午(9:00-12:00)</p>
                                    </label>
                                </div>
                                <div>
                                    <input type="radio" name="deliveryTime">
                                    <label>
                                        <span class="iconN-hook"></span>
                                        <p>下午(13:00-17:00)</p>
                                    </label>
                                </div>
                                <div>
                                    <input type="radio" name="deliveryTime">
                                    <label>
                                        <span class="iconN-hook"></span>
                                        <p>晚上(19:00-22:00)</p>
                                    </label>
                                </div>
                            </div>
                            <div class="words">
                                <p>針對大型商品，我們將於完成收款確認後，一天內(不包含例假日)將會有專人與您確認相關配送細節等的聯繫</p>
                            </div>
                        </div>
                    </div>
                    <div class="W100 workbox">
                        <p>備　　註</p>
                        <textarea placeholder="請於此留下您的特殊需求或其他相關說明..."></textarea>
                    </div>
                    <div class="buttons nobg">
                        <!-- 後端請注意: 下方 onclick 只是為了連結並不重要-->
                        <button class="withLine" type="button" onclick="history.back()">
                            <span class="iconN-return"></span>
                            <p>back</p>
                        </button>
                        <!-- 後端請注意: 下方 onclick 只是為了連結並不重要-->
                        <button class="withLine" type="button"  onclick="location.href='../shop/index.html'">
                            <span class="iconN-hook"></span>
                            <p>send</p>
                        </button>
                    </div>
                </form>
            </section>
        </article>
    </main>
    <!--主要jQuery-->
    <script src="../../assets/js/vedor/jquery-1.11.3.min.js"></script>
    <!--共用-->
    <script src="../../assets/js/vedor/slick/slick.js"></script>
    <script src="../../assets/js/vedor/bLazy/bLazy.js"></script>
    <script src="../../assets/js/vedor/waypoints.min.js"></script>
    <script src="../../assets/js/vedor/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../../assets/js/vedor/jquery.easings.min.js"></script>
    <script src="../../assets/js/vedor/semanticwp/jquery.semanticwp-modal.min.js"></script>
    <script src="../../assets/js/vedor/prefixfree.min.js"></script>
    <script src="../../assets/js/vedor/picturefill.min.js"></script>
    <!--main js-->
    <script src="../../assets/js/main.js"></script>
    <!-- 非共用的套件js -->
    <script src="../../assets/js/vedor/jquery.nicescroll/jquery.nicescroll.min.js"></script>
    <!--自訂的js-->
    <script src="../../assets/js/nick.js"></script>
</body>

</html>