<!DOCTYPE html>
<html>

<head>
    <title>TECO</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <link href="../../assets/img/favicon-20170414044912706.ico" rel="icon" type="image/x-icon">
    <!--slick-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/slick/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/slick/slick.css" />
    <!--fons-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/fontAwesome/font-awesome.css" />
    <!--semanticwp-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/semanticwp/jquery.semanticwp-modal.min.css" />
    <!--mCustomScrollbar-->
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/mCustomScrollbar/jquery.mCustomScrollbar.css" />
    <!--style.css-->
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css" />
    <!-- 自訂的css -->
    <link rel="stylesheet" type="text/css" href="../../assets/css/customize/specification.css" />
</head>

<body class="fontM" id="top">
    <main id="customize" class="specification">
        <article class="topNav">
            <section class="back" onclick="window.close();">
                <span></span>
                <p>CLOSE</p>
            </section>
        </article>
        <article class="product_spec">
            <section class="product_title">
                <h4>SPECIFICATION</h4>
                <p>產品規格</p>
            </section>
            <!-- 基本規格 -->
            <section class="product_spec_box">
                <div class="search_spec_left">
                    <h4>基本規格</h4>
                </div>
                <div class="search_spec_right">
                    <ul>
                        <li>
                            <div>消耗功率 ( W ) </div>
                            <div>160W</div>
                        </li>
                        <li>
                            <div>主機尺寸</div>
                            <div>寬1239高761深241(mm)含腳架</div>
                        </li>
                        <li>
                            <div>主機尺寸</div>
                            <div>寬1239高761深80(mm)不含腳架</div>
                        </li>
                        <li>
                            <div>視訊盒型號</div>
                            <div>TS1317TRA</div>
                        </li>
                        <li>
                            <div>機體壁掛孔距</div>
                            <div>寬40X高20(cm)</div>
                        </li>
                        <li>
                            <div>解析度</div>
                            <div>3840X2160</div>
                        </li>
                    </ul>
                </div>
            </section>
            <!-- 冷氣 -->
            <section class="product_spec_box">
                <div class="search_spec_left">
                    <h4>冷氣</h4>
                </div>
                <div class="search_spec_right">
                    <ul>
                        <li>
                            <div>解析度 H x V</div>
                            <div>3840x2160</div>
                        </li>
                        <li>
                            <div>Bright Vuew 超明亮面板</div>
                            <div>高明亮 4K</div>
                        </li>
                        <li>
                            <div>廣視角面板顯像技術</div>
                            <div>○</div>
                        </li>
                        <li>
                            <div>對比</div>
                            <div>4000:1</div>
                        </li>
                        <li>
                            <div>色彩處理 Bit(色階)</div>
                            <div>10Bit(10億7千萬色)</div>
                        </li>
                        <li>
                            <div>DVB-T + HiHD高畫質數位接收</div>
                            <div>○</div>
                        </li>
                        <li>
                            <div>24p電影環圓技術(3:2/2:2 Pull Down)</div>
                            <div>○</div>
                        </li>
                        <li>
                            <div>低藍光模式</div>
                            <div>○</div>
                        </li>
                    </ul>
                </div>
            </section>
        </article>
    </main>
    <!--主要jQuery-->
    <script src="../../assets/js/vedor/jquery-1.11.3.min.js"></script>
    <!--共用-->
    <script src="../../assets/js/vedor/slick/slick.js"></script>
    <script src="../../assets/js/vedor/bLazy/bLazy.js"></script>
    <script src="../../assets/js/vedor/waypoints.min.js"></script>
    <script src="../../assets/js/vedor/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../../assets/js/vedor/jquery.easings.min.js"></script>
    <script src="../../assets/js/vedor/semanticwp/jquery.semanticwp-modal.min.js"></script>
    <script src="../../assets/js/vedor/prefixfree.min.js"></script>
    <script src="../../assets/js/vedor/picturefill.min.js"></script>
    <!--main js-->
    <script src="../../assets/js/main.js"></script>
    <!--自訂的js-->
    <script src="../../assets/js/nick.js"></script>
</body>

</html>