<section class='topNav'>
    <div class='back'><span></span>
        <p>CLOSE</p>
    </div>
</section>
<section class="_text">
    <h6>TECO Statement</h6>
    <p class="th">
        東元之客製化免責聲明
    </p>
    <p class="list">1.<strong>特別提醒：對於定制產品，我公司不支持7天內無理由退換貨及正品退換貨，</strong>如定制方遇到品質問題，請聯繫我公司客服處理。</p>
    <p class="list">2.<strong>定制方提供的圖片不得侵犯圖片正當權利人的權利，且圖片內容符合台灣法規。</strong></p>
    <p class="list">3.定制方應對其提供的圖片負責，<strong>若由於定制方提供的圖片導致侵犯他人合法權利</strong>（包括但不限 於知識產權、名譽權、肖像權、姓名權等）糾紛的，<strong>由定制方承擔全部直接或間接（連帶）的 法律責任。</strong>
    </p>
    <p class="list">4.定制方上傳的相關項目信息（包含但不限於文字、圖片、視頻等）應為定制方原創或經過權利 人的授權。<strong>如果定制方上傳相關項目是非原創的，該用戶應獲得相關權利人的授權或許可。</strong>
    </p>
    <p class="list">5.<strong>定制方上傳的圖片屬於其個人行為，</strong>我公司不對其作任何形式的審查及保證。如其他媒體、網 絡或個人從我公司定制平台下載使用須自負版權等法律責任。
    </p>
    <p class="list">6.如果定制方在我公司上傳的圖片侵犯他人知識產權或其他合法權益，<strong>由該定制方承擔全部法律 責任，我公司不承擔任何法律責任。</strong>
    </p>
</section>