<section>
    <div class="liboxClose">
        <span></span>
    </div>
    <div class="_title">
        <p class="en">Question & Answer</p>
        <p class="ch">常見問題</p>
        <p class="_text">如您有計畫相關問題，請從下方分類進行篩選，找到您需要的官方說明。
            <br>若您的問題並無在列表中，歡迎透過聯繫我們進行詢問。</p>
        <ul>
            <li class="active">
                <p>報名相關</p>
            </li>
            <li>
                <p>作品相關</p>
            </li>
            <li>
                <p>初選相關</p>
            </li>
            <li>
                <p>決選相關</p>
            </li>
        </ul>
    </div>
    <div class="QAcontent">
        <div class="QAunit">
            <!-- 問題一 -->
            <div class="QAbox">
                <div class="question">
                    <p>我還是學生，可以跟指導教授或業界人士一起組隊參賽嗎？</p>
                </div>
                <div class="answer">
                    <p>可以，您可以與老師或已經在工作的設計師組隊報名，惟不得與法藍瓷有限公司、法藍瓷陶瓷設計大賽的所屬員工、2016 年大賽評審，或前述人員的家屬組隊參賽。</p>
                </div>
                <span></span>
            </div>
            <!-- 問題二 -->
            <div class="QAbox">
                <div class="question">
                    <p>我還是學生，可以跟指導教授或業界人士一起組隊參賽嗎？</p>
                </div>
                <div class="answer">
                    <p>可以，您可以與老師或已經在工作的設計師組隊報名，惟不得與法藍瓷有限公司、法藍瓷陶瓷設計大賽的所屬員工、2016 年大賽評審，或前述人員的家屬組隊參賽。</p>
                </div>
                <span></span>
            </div>
            <!-- 問題三 -->
            <div class="QAbox">
                <div class="question">
                    <p>我還是學生，可以跟指導教授或業界人士一起組隊參賽嗎？</p>
                </div>
                <div class="answer">
                    <p>可以，您可以與老師或已經在工作的設計師組隊報名，惟不得與法藍瓷有限公司、法藍瓷陶瓷設計大賽的所屬員工、2016 年大賽評審，或前述人員的家屬組隊參賽。</p>
                </div>
                <span></span>
            </div>
            <!-- 問題四 -->
            <div class="QAbox">
                <div class="question">
                    <p>我還是學生，可以跟指導教授或業界人士一起組隊參賽嗎？</p>
                </div>
                <div class="answer">
                    <p>可以，您可以與老師或已經在工作的設計師組隊報名，惟不得與法藍瓷有限公司、法藍瓷陶瓷設計大賽的所屬員工、2016 年大賽評審，或前述人員的家屬組隊參賽。</p>
                </div>
                <span></span>
            </div>
            <!-- 問題五 -->
            <div class="QAbox">
                <div class="question">
                    <p>我還是學生，可以跟指導教授或業界人士一起組隊參賽嗎？</p>
                </div>
                <div class="answer">
                    <p>可以，您可以與老師或已經在工作的設計師組隊報名，惟不得與法藍瓷有限公司、法藍瓷陶瓷設計大賽的所屬員工、2016 年大賽評審，或前述人員的家屬組隊參賽。</p>
                </div>
                <span></span>
            </div>
            <!-- 問題六 -->
            <div class="QAbox">
                <div class="question">
                    <p>我還是學生，可以跟指導教授或業界人士一起組隊參賽嗎？</p>
                </div>
                <div class="answer">
                    <p>可以，您可以與老師或已經在工作的設計師組隊報名，惟不得與法藍瓷有限公司、法藍瓷陶瓷設計大賽的所屬員工、2016 年大賽評審，或前述人員的家屬組隊參賽。</p>
                </div>
                <span></span>
            </div>
        </div>
    </div>
    <div class="back">
    	<div>
        <p>Back 上一頁</p>
        </div>
    </div>
</section>