<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="language" content="tw" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="title" content="網站標題名稱" />
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <meta name="copyright" content="作者名子">
    <title>franzaward</title>
    <!-- 共用CSS -->
    <link rel="stylesheet" href="../../assets/js/vendor/cgpagechange/cgpagechange.css">
    <link rel="stylesheet" href="../../assets/js/vendor/jquery.mCustomScrollbar.min.js/jquery.mCustomScrollbar.min.css">
    <!-- 共用CSS end-->
    <!-- 非共用CSS -->
    <link rel="stylesheet" href="../../assets/js/vendor/slick/slick-theme.css">
    <link rel="stylesheet" href="../../assets/js/vendor/slick/slick.css">
    <!-- 非共用CSS end-->
    <!-- 自訂的css -->
    <link rel="stylesheet" href="../../assets/css/competition/competition.css">
</head>

<body id="competition" class="index">
    <header data-nobanner="true"></header>
    <main>
        <article class="topTitle">
            <h2>Category Information</h2>
            <p>計畫組別介紹</p>
            <section class="infWords">
                <ul>
                    <li class="discover">
                        <p>Discover</p>
                    </li>
                    <li class="QA">
                        <p>Q&A</p>
                    </li>
                </ul>
                <div class="_text">
                    <p>法蘭瓷陶瓷比賽今年開辦四個參賽組別，包含：產品組、概念組、影片組以及光點組，請選擇您欲參與的組別，了解詳細競賽辦法。</p>
                </div>
            </section>
        </article>
        <article class="_slick ">
            <ul>
                <li>
                    <a href="../competition/detail.html" data-isCompetition="true">
                        <div class="_img">
                            <!-- 後端請注意:圖片最大寬:1400 高度統一950 -->
                            <!-- 後端請注意:此處的圖片與內頁的banner圖吃同一張 -->
                            <picture>
                                <!--[if IE 9]><video style="display: none;"><![endif]-->
                                <source srcset="">
                                <img data-color="" src="../../upload/fa2/competition/bannerImg2_660_950.jpg" alt="">
                            </picture>
                        </div>
                        <div class="inf">
                            <h3>Porcelain & Ceramic</h3>
                            <h2>PRODUCT</h2>
                            <h4>陶瓷設計組</h4>
                            <div class="hoverBox">法藍瓷光點計畫前身為2007至2016年間「 法藍瓷陶瓷設計大賽 FRANZ AWARD 」。在近年來...</div>
                        </div>
                    </a>
                    <span class="numb">01</span>
                </li>
                <li>
                    <a href="../competition/detail.html" data-isCompetition="true">
                        <div class="_img">
                            <!-- 後端請注意:圖片最大寬:1400 高度統一950 -->
                            <!-- 後端請注意:此處的圖片與內頁的banner圖吃同一張 -->
                            <picture>
                                <!--[if IE 9]><video style="display: none;"><![endif]-->
                                <source srcset="">
                                <img data-color="" src="../../upload/fa2/competition/bannerImg1_660_950.jpg" alt="">
                            </picture>
                        </div>
                        <div class="inf">
                            <h3>Porcelain & Ceramic</h3>
                            <h2>MEDIA</h2>
                            <h4>影片媒體組</h4>
                            <div class="hoverBox">法藍瓷光點計畫前身為2007至2016年間「 法藍瓷陶瓷設計大賽 FRANZ AWARD 」。在近年來...</div>
                        </div>
                    </a>
                    <span class="numb"></span>
                </li>
                <li>
                    <a href="../competition/detail.html" data-isCompetition="true">
                        <div class="_img">
                            <!-- 後端請注意:圖片最大寬:1400 高度統一950 -->
                            <!-- 後端請注意:此處的圖片與內頁的banner圖吃同一張 -->
                            <picture>
                                <!--[if IE 9]><video style="display: none;"><![endif]-->
                                <source srcset="">
                                <img data-color="" src="../../upload/fa2/competition/bannerImg1_660_950.jpg" alt="">
                            </picture>
                        </div>
                        <div class="inf">
                            <h3>Project of</h3>
                            <h2>Rising Star</h2>
                            <h4>法藍瓷光點計畫</h4>
                            <div class="hoverBox">法藍瓷光點計畫前身為2007至2016年間「 法藍瓷陶瓷設計大賽 FRANZ AWARD 」。在近年來...</div>
                        </div>
                    </a>
                    <span class="numb"></span>
                </li>
                <li>
                    <a href="../competition/detail.html" data-isCompetition="true">
                        <div class="_img">
                            <!-- 後端請注意:圖片最大寬:1400 高度統一950 -->
                            <!-- 後端請注意:此處的圖片與內頁的banner圖吃同一張 -->
                            <picture>
                                <!--[if IE 9]><video style="display: none;"><![endif]-->
                                <source srcset="">
                                <img data-color="" src="../../upload/fa2/competition/bannerImg1_660_950.jpg" alt="">
                            </picture>
                        </div>
                        <div class="inf">
                            <h3>法藍瓷光點計畫</h3>
                            <h2>CONCEPT</h2>
                            <h4>概念設計組</h4>
                            <div class="hoverBox">法藍瓷光點計畫前身為2007至2016年間「 法藍瓷陶瓷設計大賽 FRANZ AWARD 」。在近年來...</div>
                        </div>
                    </a>
                    <span class="numb"></span>
                </li>
                <li>
                    <a href="../competition/detail.html" data-isCompetition="true">
                        <div class="_img">
                            <!-- 後端請注意:圖片最大寬:1400 高度統一950 -->
                            <!-- 後端請注意:此處的圖片與內頁的banner圖吃同一張 -->
                            <picture>
                                <!--[if IE 9]><video style="display: none;"><![endif]-->
                                <source srcset="">
                                <img data-color="" src="../../upload/fa2/competition/bannerImg1_660_950.jpg" alt="">
                            </picture>
                        </div>
                        <div class="inf">
                            <h3>法藍瓷光點計畫</h3>
                            <h2>CONCEPT</h2>
                            <h4>概念設計組</h4>
                            <div class="hoverBox">法藍瓷光點計畫前身為2007至2016年間「法藍瓷陶瓷設計大賽 FRANZ AWARD」。在近年來...</div>
                        </div>
                    </a>
                    <span class="numb"></span>
                </li>
            </ul>
            <div class="arrow">
                <span class="icon-slickLeft"></span>
                <i></i>
                <span class="icon-slickRight"></span>
            </div>
        </article>
    </main>
    <footer></footer>
    <script src="../../assets/js/style.js"></script>
</body>

</html>