<section class="inf">
    <div class="back">
        <a href="javascript:void(0)"></a>
    </div>
    <div class="worksInf">
        <!-- 作品名 -->
        <h2>
                    <p class="en">Symbiosome</p>
                    <p class="ch">棲生</p>
                </h2>
        <!-- 比賽名稱 -->
        <div class="project">
            <h1>2018 FRANZ RISING STAR PROJECT</h1>
            <p>DAILY USE</p>
        </div>
        <!-- 作者 -->
        <div class="designer">
            <h6>DESIGNER</h6>
            <p>Hevroni Eden</p>
            <p>Kunikazu Hamanishi</p>
        </div>
    </div>
    <!-- 獎項 -->
    <!-- 後端請注意下方的背景圖片和文字顏色要讓客戶可以自己上 -->
    <div class="awards" style="background-image: url('../../upload/fa2/competition/detail/winner/goldBg_90_90.png');color: #000">
        <p>GOLD</p>
        <span>award</span>
    </div>
</section>
<section class="anchors">
    <h6>DISCOVER MORE</h6>
    <ul>
        <li class="active">
            <p class="en">Photo / Video</p>
            <p class="ch">作品照片或影片</p>
        </li>
        <li>
            <p class="en">Behind the art work</p>
            <p class="ch">作品介紹</p>
        </li>
        <li>
            <p class="en">Comment</p>
            <p class="ch">評審評語</p>
        </li>
        <li>
            <p class="en">Acceptance Speech</p>
            <p class="ch">得獎感言</p>
        </li>
    </ul>
</section>
<section class="content">
    <!-- 後端請注意:此處有兩種格式:1.影片(youtube or vimeo) 2.圖片 -->
    <div class="photoAndVideo">
        <!-- 影片youtube -->
        <!-- 後端請注意:如果是youtube影片就在data-youtubeId填入youtube的id-->
        <div class="box video" data-youtubeId="EZ9n2SY36A4" data-vimeoId="">
            <iframe frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <!-- 影片vimeo -->
        <!-- 後端請注意:如果是vimeo影片就在data-vimeoId填入vimeo的id -->
        <div class="box video" data-youtubeId="" data-vimeoId="122316307">
            <iframe frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <!-- 圖片 -->
        <div class="box" onmouseover="winnerLibox.mouseOver(this)" onmouseout="winnerLibox.mouseOut(this)">
            <img src="../../upload/fa2/competition/detail/winner/worksImg1.jpg" alt="">
        </div>
        <!-- 圖片 -->
        <div class="box" onmouseover="winnerLibox.mouseOver(this)" onmouseout="winnerLibox.mouseOut(this)">
            <img src="../../upload/fa2/competition/detail/winner/worksImg2.jpg" alt="">
        </div>
        <!-- 圖片 -->
        <div class="box" onmouseover="winnerLibox.mouseOver(this)" onmouseout="winnerLibox.mouseOut(this)">
            <img src="../../upload/fa2/competition/detail/winner/worksImg3.jpg" alt="">
        </div>
        <!-- 圖片 -->
        <div class="box" onmouseover="winnerLibox.mouseOver(this)" onmouseout="winnerLibox.mouseOut(this)">
            <img src="../../upload/fa2/competition/detail/winner/worksImg4.jpg" alt="">
        </div>
    </div>
    <div class="tableContent">
        <div class="type concept">
            <h3>Name & Concept of Artwork  作品名稱與設計理念</h3>
            <div class="workbox category">
                <h5>Category   作品屬性:</h5>
                <p>驚天動地</p>
            </div>
            <div class="workbox textarea">
                <h5>Concept of artwork   設計理念:</h5>
                <p>設計理念設計理念設計理念設計理念設計理念設計理念設計理念設計理念設計理念設計理念設計理念設計理念設計理念</p>
            </div>
        </div>
        <div class="type worksDetail">
            <h3>Detail of artwork  設計細節</h3>
            <div class="workbox">
                <h5>Ceramic proportions occupy   作品材質，陶瓷比例佔:</h5>
                <p>90%</p>
            </div>
            <div class="workbox">
                <h5>Including Other Material   作品包含其他材質:</h5>
                <p>鋼鐵,黃金</p>
            </div>
            <div class="workbox">
                <h5>
                                Length   作品長度 (cm):
                            </h5>
                <p>100cm</p>
            </div>
            <div class="workbox">
                <h5>Width   作品寬度 (cm):</h5>
                <p>100cm</p>
            </div>
            <div class="workbox">
                <h5>Height   作品高度 (cm):</h5>
                <p>100cm</p>
            </div>
            <div class="workbox">
                <h5>Weight   作品淨重 (g):</h5>
                <p>100g</p>
            </div>
            <div class="workbox textarea">
                <h5>Other Introduction   其他作品說明:</h5>
                <p>其他作品說明其他作品說明其他作品說明其他作品說明v其他作品說明其他作品說明其他作品說明其他作品說明其他作品說明其他作品說明其他作品說明其他作品說明其他作品說明其他作品說明</p>
            </div>
        </div>
    </div>
    <div class="juryWords">
        <div class="box">
            <div class="_img">
                <img src="../../upload/fa2/competition/detail/jury/juryImg1_580_745.jpg" alt="">
            </div>
            <div class="_text">
                <!-- 評語 -->
                <div class="comment">
                    <p>Reading different styles and moods at different ages, presenting the reading process and experience, the words are true, the emotions are sincere, and the fun of reading with a smile, silence, and hope is also very appropriate.</p>
                </div>
                <!-- 評審資料 -->
                <div class="jury">
                    <!-- 名子 -->
                    <p class="name">Anthony Quinn</p>
                    <!-- 職稱 -->
                    <p class="job">U.K., Director of Ceramic Design Department,Saint Martin College of Art</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="_img">
                <img src="../../upload/fa2/competition/detail/jury/juryImg2_580_745.jpg" alt="">
            </div>
            <div class="_text">
                <!-- 評語 -->
                <div class="comment">
                    <p>From reading to the discussion of the existence of self-ontology, but unfortunately can not explain how reading can help the process of self-seeking, the relevance of the three paragraphs can be strengthened.</p>
                </div>
                <!-- 評審資料 -->
                <div class="jury">
                    <!-- 名子 -->
                    <p class="name">高鵬</p>
                    <!-- 職稱 -->
                    <p class="job">China Mainland, 北京今日美術館館長</p>
                </div>
            </div>
        </div>
    </div>
    <div class="speech">
        <div class="_title">
            <p>Acceptance Speech 得獎感言</p>
        </div>
        <div class="_imgs">
            <div class="_img">
                <img src="../../upload/fa2/competition/detail/winner/designer1_500_500.jpg" alt="">
                <b>Hevroni Eden</b>
            </div>
            <div class="_img">
                <img src="../../upload/fa2/competition/detail/winner/designer2_500_500.jpg" alt="">
                <b>Kunikazu Hamanishi</b>
            </div>
            <div class="_img">
                <img src="../../upload/fa2/competition/detail/winner/designer2_500_500.jpg" alt="">
                <b>Kunikazu Hamanishi</b>
            </div>
        </div>
        <div class="_text">
            <p>Oh, Benton, what you did for me! You changed my life, truly. This means so much more to me this time. I don’t know why, I think the first time I hardly felt it because it was all so new. I owe a lot to my cast and players, to Lindsay and John and Danny and Ed and Amy and my little friends Gennie and Yankton. I owe a lot to my family for holding me together and loving me and having patience with this obsession of me. But I want to say thank you to you. I haven’t had an orthodox career and I want more than anything to have your respect. The first time I didn’t feel it, but this time I feel it, and I can’t deny the fact that you like me right now! You like me! Thank you!</p>
            <p>啊！你們對我太好了，你們改變了我的生活，這次，真的對我太有意義了。不知道為什麼我第一次沒感覺，是因為太新鮮了。我要感謝同片演員、成全我的家人，他們對我的愛，我對影藝的癡迷，他們非常有耐心。我要謝謝你們，我的演藝生涯和別人不一樣，我最想要的就是你們的尊敬。第一次我沒有感覺，但是這次我感覺到了，我不能否認，你們喜歡我，就是現在，你們喜歡我！</p>
        </div>
    </div>
    <div class="goTop">
        <span class="icon-slickLeft"></span>
        <p>TOP</p>
    </div>
</section>
<!-- 進場動畫方塊 -->
<section class="animateBlock">
    <div class="blockLeft"></div>
    <div class="blockCenter"></div>
    <div class="blockRight"></div>
</section>