<div class="liboxClose">
    <span></span>
</div>
<div class="liboxSlick">
    <ul>
        <li>
            <div class="slick_img">
                <img src="../../upload/f2e/product/seriesLibox/slick_img1.jpg" alt="">
            </div>
        </li>
        <li>
            <div class="slick_img">
                <img src="../../upload/f2e/product/index/banner_img1_1920_1080.jpg" alt="">
            </div>
        </li>
    </ul>
    <div class="arrow">
        <span class="icon-slick-arrow-left"></span>
        <span class="icon-slick-arrow-right"></span>
    </div>
</div>
<!-- 後端請注意:此處文字有三種模式:單段文字、搭配ul的文字、備註文字 -->
<div class="liboxContent">
    <!-- 單段文字 -->
    <div class="single_paragraph">
        <p>東元變頻器，具有最新Auto-tuning技術，符合各式張力、位置、速度、轉矩輕重載控制之全方面應用，提供客戶一般機種與專用控制模式之選擇(0.2至600kW)，IP20、IP21、IP55及IP66防護等級之機種選購與支援多種通訊模組如Profibus-DP、DeviceNet、Ethernet，亦給予客戶多重方便性，達到高效節能最高原則，符合CE、UL國際安規認證。</p>
    </div>
    <!-- 搭配ul的文字 -->
    <div class="with_ul">
        <h2>變頻器應用之優點:</h2>
        <ul>
            <li>
                <span></span>
                <p>控制馬達轉速以節能: 導入變頻器後，設備控制在變速控制下，可使得馬達不需保持全速運行和使用最大功率，僅產生在工作循環的每個階段所需的功率即可，藉此控制馬達轉速以達到節能效果。
                </p>
            </li>
            <li>
                <span></span>
                <p>變頻器可協助減少馬達電流之峰值，達到節能效果。</p>
            </li>
            <li>
                <span></span>
                <p>改善功率因數:著整流輸入，變頻器可以改善功率因數，進而避免電源供應之限制，減少無功能源之需求，降低能源費用。
                </p>
            </li>
        </ul>
    </div>
    <!-- 備註文字 -->
    <div class="ps_word">
        <p>※ 註：如果台灣之工商及民生用馬達能適度加裝變頻器，估計每年將能省下175億度電，相當於省下一座核電廠的年發電量，並創造23,438座大安森林公園的減碳效果。</p>
        <p>(依據台灣電力公司與經濟部能源局數據顯示，a. 台灣平均年用電量約為2000億度電。b. 台電運轉中的核一、核二及核三廠，目前每年平均約可以供應400億度左右的核能電力。c. 1度電平均產生0.521公斤二氧化碳。d.大安森林公園每年二氧化碳吸收量=389公噸。)</p>
    </div>
</div>