<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <meta name="format-detection" content="telephone=no">
    <title>TECOEP</title>
    <link rel="stylesheet" href="../../assets/js/vendor/cgpagechange/cgpagechange.css">
    <link rel="stylesheet" href="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="../../assets/js/vendor/slick/slick.css">
    <link rel="stylesheet" href="../../assets/js/vendor/slick/slick-theme.css">
    <!-- 共用CSS end-->
    <!-- 非共用CSS -->
    <!-- 非共用CSS end-->
    <link rel="stylesheet" href="../../assets/css/product/series.css">
</head>

<body id="product" class="series">
    <header>
    </header>
    <main>
        <article class="banner">
            <div class="banner_img">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="" media="(max-width:900px)">
                    <img data-color="darkBg" src="../../upload/f2e/product/series/banner_img1.jpg">
                </picture>
            </div>
            <!-- 後端請注意:此處的文字需可讓客戶自行填入color -->
            <div class="banner_text">
                <!-- 後端請注意:此處的結構如果沒有填入內容的話請移除 -->
                <!-- 產品英文名 -->
                <h2>Low-Voltage Series</h2>
                <!-- 產品中文名 -->
                <h3>低壓變頻器系列</h3>
                <ul>
                    <li class="seriesLiboxOpen">
                        <p>系列介紹</p>
                    </li>
                    <li class="seeProduct">
                        <p>產品總覽 </p>
                    </li>
                    <li>
                        <p>系列搜尋</p>
                    </li>
                </ul>
            </div>
        </article>
        <article class="content">
            <div class="top_nav">
                <div class="_series">
                    <span>
                        <a href="../product/index.html">機電產品</a>
                    </span>
                    <span><a href="../product/type.html">變頻器</a></span>
                    <span>低壓系列</span>
                </div>
                <div class="_back" onclick="history.back()">
                    <span></span>
                    <p>BACK</p>
                </div>
            </div>
            <div class="product_boxs">
                <div class="product_box">

                    <a href="../product/detail.html">
                        <!-- 圓形十字 -->
                        <span><i></i></span>
                        <div class="_img">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/product/series/img1.png" alt="">
                        </div>
                        <div class="_text">
                            <!-- 序號 -->
                            <h2>A510S</h2>
                            <!-- 介紹 -->
                            <!-- 字數限制:35個字 -->
                            <p>種馬達控制模式符合各式張力、位置、速度、轉矩輕重載的全方面應用...</p>
                        </div>
                    </a>
                </div>
                <div class="product_box">
                    <a href="../product/detail.html">
                        <!-- 圓形十字 -->
                        <span><i></i></span>
                        <div class="_img">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/product/series/img2.png" alt=""></div>
                        <div class="_text">
                            <!-- 序號 -->
                            <h2>F510</h2>
                            <!-- 介紹 -->
                            <!-- 字數限制:35個字 -->
                            <p>F510系列為風水力專用變頻器，傳承東元第五代馬達控制核心技術，搭配精確的馬...</p>
                        </div>
                    </a>
                </div>
                <div class="product_box">
                    <a href="../product/detail.html">
                        <!-- 圓形十字 -->
                        <span><i></i></span>
                        <div class="_img">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/product/series/img3.png" alt="">
                        </div>
                        <div class="_text">
                            <!-- 序號 -->
                            <h2>A510</h2>
                            <!-- 介紹 -->
                            <!-- 字數限制:35個字 -->
                            <p>透過最新Auto-tune技術可大幅減少調機時間，輕鬆安裝，雙額定設計+六種...</p>
                        </div>
                    </a>
                </div>
                <div class="product_box">
                    <a href="../product/detail.html">
                        <!-- 圓形十字 -->
                        <span><i></i></span>
                        <div class="_img">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/product/series/img1.png" alt="">
                        </div>
                        <div class="_text">
                            <!-- 序號 -->
                            <h2>F510 IP55</h2>
                            <!-- 介紹 -->
                            <!-- 字數限制:35個字 -->
                            <p>七種馬達控制模式符合各式張力、位置、速度、轉矩輕重載的全方面應用...</p>
                        </div>
                    </a>
                </div>
                <div class="product_box">
                    <a href="../product/detail.html">
                        <!-- 圓形十字 -->
                        <span><i></i></span>
                        <div class="_img">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/product/series/img2.png" alt="">
                        </div>
                        <div class="_text">
                            <!-- 序號 -->
                            <h2>E510</h2>
                            <!-- 介紹 -->
                            <!-- 字數限制:35個字 -->
                            <p>F510系列為風水力專用變頻器，傳承東元第五代馬達控制核心技術，搭配精確的馬...</p>
                        </div>
                    </a>
                </div>
                <div class="product_box">
                    <a href="../product/detail.html">
                        <!-- 圓形十字 -->
                        <span><i></i></span>
                        <div class="_img">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/product/series/img3.png" alt="">
                        </div>
                        <div class="_text">
                            <!-- 序號 -->
                            <h2>E510 IP66</h2>
                            <!-- 介紹 -->
                            <!-- 字數限制:35個字 -->
                            <p>透過最新Auto-tune技術可大幅減少調機時間，輕鬆安裝，雙額定設計+六種...</p>
                        </div>
                    </a>
                </div>
            </div>
        </article>
    </main>
    <footer>
    </footer>
    <script src="../../assets/js/style.js"></script>
</body>

</html>