<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <meta name="format-detection" content="telephone=no">
    <title>TECOEP</title>
    <link rel="stylesheet" href="../../assets/js/vendor/cgpagechange/cgpagechange.css">
    <link rel="stylesheet" href="../../assets/js/vendor/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="../../assets/js/vendor/slick/slick.css">
    <link rel="stylesheet" href="../../assets/js/vendor/slick/slick-theme.css">
    <!-- 共用CSS end-->
    <!-- 非共用CSS -->
    <!-- 非共用CSS end-->
    <link rel="stylesheet" href="../../assets/css/product/type.css">
</head>

<body id="product" class="type">
    <header>
    </header>
    <main>
        <article class="banner full">
            <div class="banner_img">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="" media="(max-width:900px)">
                    <img data-color="darkBg" src="../../upload/f2e/product/type/banner_img1_1920_1080.jpg">
                </picture>
            </div>
            <!-- 後端請注意:此處的文字需可讓客戶自行填入color -->
            <!-- 後端請注意:slogan的位置有兩種right和left需可讓客戶自行選擇 -->
            <div class="banner_slogan right">
                <!-- 後端請注意:此處的結構如果沒有填入內容的話請移除 -->
                <h2>AC Motor Drive</h2>
                <h4>The Latest Auto Technology</h4>
                <h3>變頻系列</h3>
            </div>
             <div class="banner_scrollDown">
                   <p>SCROLL DOWN</p>
                </div>
        </article>
        <article class="content">
            <div class="top_nav">
                <div class="_series">
                    <span>
                        <a href="../product/index.html">機電產品</a>
                    </span>
                    <span>變頻器</span>
                </div>
                <div class="_back" onclick="history.back()">
                    <span></span>
                    <p>BACK</p>
                </div>
            </div>
            <div class="_title">
                <h2>Product<span>Series</span></h2>
                <h3>變頻器系列</h3>
                <p>東元變頻器，具有最新Auto-tuning技術，符合各式張力、位置、速度、轉矩輕重載控制之全方面應用，提供客戶一般機種與專用控制模式之選擇(0.2 至600kW)，IP20、IP21、IP55及IP66防護等級之機種選購與支援多種通訊模組如Profibus-DP、DeviceNet、Ethernet，亦給予客戶多重方便性，達到高效節能最高原則，符合CE、UL國際安規認證。</p>
            </div>
            <div class="product_boxs">
                <div class="product_box_bg">
                    <!-- 進場方塊 -->
                    <span class="interBg"></span>
                    <div class="product_box">
                        <!-- 圖片內容 -->
                        <div class="_img">
                            <!-- 後端請注意:圖片最寬的長寬比為560*260 超過會被切掉  建議大小260*260px-->
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/product/type/img1_150_260.jpg" alt="">
                        </div>
                        <!-- hover的黑色背景 -->
                        <span class="hoverBg"></span>
                        <!-- 文字內容 -->
                        <div class="_text">
                            <h2>Low-Voltage Series</h2>
                            <h3>低壓變頻器系列</h3>
                            <ul>
                                <li class="seriesLiboxOpen"><p>系列介紹</p></li>
                                <li><a href="../product/series.html"><p>產品總覽</p></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="product_box_bg">
                    <!-- 進場方塊 -->
                    <span class="interBg"></span>
                    <div class="product_box">
                        <!-- 圖片內容 -->
                        <div class="_img">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/product/type/img2_250_250.jpg" alt="">
                        </div>
                        <!-- hover的黑色背景 -->
                        <span class="hoverBg"></span>
                        <!-- 文字內容 -->
                        <div class="_text">
                            <h2>High-Pressure Series</h2>
                            <h3>中高壓變頻器系列</h3>
                            <ul>
                                <li class="seriesLiboxOpen"><p>系列介紹</p></li>
                                <li><a href="../product/series.html"><p>產品總覽</p></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="product_box_bg">
                    <!-- 進場方塊 -->
                    <span class="interBg"></span>
                    <div class="product_box">
                        <!-- 圖片內容 -->
                        <div class="_img">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/product/type/img3_150_260.jpg" alt="">
                        </div>
                        <!-- hover的黑色背景 -->
                        <span class="hoverBg"></span>
                        <!-- 文字內容 -->
                        <div class="_text">
                            <h2>Low-Voltage Series</h2>
                            <h3>低壓變頻器系列</h3>
                            <ul>
                                <li class="seriesLiboxOpen"><p>系列介紹</p></li>
                                <li><a href="../product/series.html"><p>產品總覽</p></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="product_box_bg">
                    <!-- 進場方塊 -->
                    <span class="interBg"></span>
                    <div class="product_box">
                        <!-- 圖片內容 -->
                        <div class="_img">
                            <img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/f2e/product/type/img4_130_250.jpg" alt="">
                        </div>
                        <!-- hover的黑色背景 -->
                        <span class="hoverBg"></span>
                        <!-- 文字內容 -->
                        <div class="_text">
                            <h2>High-Pressure Series</h2>
                            <h3>中高壓變頻器系列</h3>
                            <ul>
                                <li class="seriesLiboxOpen"><p>系列介紹</p></li>
                                <li><a href="../product/series.html"><p>產品總覽</p></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </main>
    <footer>
    </footer>
    <!-- 共用 -->
    <script src="../../assets/js/style.js"></script>
</body>

</html>