<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
</head>

<body id="product_category">
    <header id="header"></header>
    <main class="product_category">
        <article class="banner_wrap">
            <div class="banner_noImg">
                <div class="banner_noImg__title">
                    <h4 class="txtin">Ceiling & Wall</h4>
                    <h5 class="txtin2">天花板與牆壁商品</h5>
                </div>
            </div>
        </article>
        <article class="nav_wrap">
            <div class="navbit">
                <ul>
                    <li>
                        <a href="javascript:void(0);">
                            <h4>分類總覽</h4>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <h4>底漆</h4>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <h4>壁漆或面漆</h4>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <h4>壁漆色漿</h4>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <h4>牆面效果</h4>
                        </a>
                    </li>
                </ul>
            </div>
        </article>
        <article class="content_wrap">
            <!-- 照片 大張 900 X 600 寬固定高隨意 別差太多就好 -->
            <div class="product_category__content">
                <div class="product_category__inner">
                    <ul>
                        <li>
                            <div class="product_category_box">
                                <div class="product_category_box__img">
                                    <picture>
                                        <img class="b-lazy" src="../../upload/f2e/product_category/product_category_01.jpg" data-src="../../upload/f2e/product_category/product_category_01.jpg"
                                        />
                                    </picture>
                                </div>
                                <div class="product_category_box__txt">
                                    <div>
                                        <h6></h6>
                                        <h4>Primer</h4>
                                        <h5>底漆</h5>
                                        <hr>
                                        <p>取自達瑪樹脂，改善吸水率不均及增加附著力，像是石膏板或室內石膏牆面。以利於之後使用 AURO 牆面漆。</p>
                                        <div class="btns">
                                            <ul>
                                                <li class="focus">
                                                    <a href="../product/product_list.html">
                                                        <h4>瀏覽產品</h4>
                                                        <span style="background:#8e59bb;"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="product_category_box">
                                <div class="product_category_box__img">
                                    <picture>
                                        <img class="b-lazy" src="../../upload/f2e/product_category/product_category_02.jpg" data-src="../../upload/f2e/product_category/product_category_02.jpg"
                                        />
                                    </picture>
                                </div>
                                <div class="product_category_box__txt">
                                    <div>
                                        <h6>壁漆或面漆</h6>
                                        <h4>Wall Paint</h4>
                                        <h5>植物漆</h5>
                                        <hr>
                                        <p>經典中的經典，全天然植物性成分，質地細緻，氣味自然不刺鼻，出色的覆蓋力，色彩豐富，調配出專屬於您空間品味。
                                        </p>
                                        <div class="btns">
                                            <ul>
                                                <li>
                                                    <a href="../product/product_feature.html">
                                                        <h4>特色介紹</h4>
                                                        <span style="background:#20af30;"></span>
                                                    </a>
                                                </li>
                                                <li class="focus">
                                                    <a href="../product/color.html">
                                                        <h4>購買顏色</h4>
                                                        <span style="background:#20af30;"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="product_category_box">
                                <div class="product_category_box__img">
                                    <picture>
                                        <img class="b-lazy" src="../../upload/f2e/product_category/product_category_03.jpg" data-src="../../upload/f2e/product_category/product_category_03.jpg"
                                        />
                                    </picture>
                                </div>
                                <div class="product_category_box__txt">
                                    <div>
                                        <h6>壁漆或面漆</h6>
                                        <h4>High-grade Lime Paint</h4>
                                        <h5>石灰漆</h5>
                                        <hr>
                                        <p>石灰在建築上的使用有著千年的歷史，他是古老的智慧與經驗的結晶，AURO運用生態技術，將石灰與壁漆結合，天然又不失質感，打造獨一無二的石灰漆。
                                        </p>
                                        <div class="btns">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <h4>特色介紹</h4>
                                                        <span style="background:#353ebd;"></span>
                                                    </a>
                                                </li>
                                                <li class="focus">
                                                    <a href="javascript:void(0);">
                                                        <h4>購買顏色</h4>
                                                        <span style="background:#353ebd;"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="product_category_box">
                                <div class="product_category_box__img">
                                    <picture>
                                        <img class="b-lazy" src="../../upload/f2e/product_category/product_category_04.jpg" data-src="../../upload/f2e/product_category/product_category_04.jpg"
                                        />
                                    </picture>
                                </div>
                                <div class="product_category_box__txt">
                                    <div>
                                        <h6>壁漆或面漆</h6>
                                        <h4>Airfresh Wall Paint</h4>
                                        <h5>光觸媒漆</h5>
                                        <hr>
                                        <p>具有光觸媒功能，能有效分解空氣中的汙染物質，給家人健康清新的居家環境，堪稱劃時代的健康牆面漆。
                                        </p>
                                        <div class="btns">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <h4>特色介紹</h4>
                                                        <span style="background:#e8af15;"></span>
                                                    </a>
                                                </li>
                                                <li class="focus">
                                                    <a href="javascript:void(0);">
                                                        <h4>購買顏色</h4>
                                                        <span style="background:#e8af15;"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="product_category_box">
                                <div class="product_category_box__img">
                                    <picture>
                                        <img class="b-lazy" src="../../upload/f2e/product_category/product_category_05.jpg" data-src="../../upload/f2e/product_category/product_category_05.jpg"
                                        />
                                    </picture>
                                </div>
                                <div class="product_category_box__txt">
                                    <div>
                                        <h6>壁漆色漿</h6>
                                        <h4>Full-shade Tinting Colour</h4>
                                        <h5>天然顏料</h5>
                                        <hr>
                                        <p>天然礦物顏料，搭配AURO No.321天然植物漆，調色各種鮮豔變化顏色，輕鬆營造屬於您的居家氛圍。
                                        </p>
                                        <div class="btns">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <h4>特色介紹</h4>
                                                        <span style="background:#ff5b5b;"></span>
                                                    </a>
                                                </li>
                                                <li class="focus">
                                                    <a href="javascript:void(0);">
                                                        <h4>購買顏色</h4>
                                                        <span style="background:#ff5b5b;"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="product_category_box">
                                <div class="product_category_box__img">
                                    <picture>
                                        <img class="b-lazy" src="../../upload/f2e/product_category/product_category_06.jpg" data-src="../../upload/f2e/product_category/product_category_06.jpg"
                                        />
                                    </picture>
                                </div>
                                <div class="product_category_box__txt">
                                    <div>
                                        <h6>壁漆色漿</h6>
                                        <h4>Lime Tinting Base</h4>
                                        <h5>石灰顏料</h5>
                                        <hr>
                                        <p>天然石灰顏料，搭配AURO No.344天然石灰漆調色，色彩飽和鮮豔，可單獨使用或搭配混色，為家裡添上亮麗色彩。
                                        </p>
                                        <div class="btns">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <h4>特色介紹</h4>
                                                        <span style="background:#80b7a1;"></span>
                                                    </a>
                                                </li>
                                                <li class="focus">
                                                    <a href="javascript:void(0);">
                                                        <h4>購買顏色</h4>
                                                        <span style="background:#80b7a1;"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="product_category_box">
                                <div class="product_category_box__img">
                                    <picture>
                                        <img class="b-lazy" src="../../upload/f2e/product_category/product_category_07.jpg" data-src="../../upload/f2e/product_category/product_category_07.jpg"
                                        />
                                    </picture>
                                </div>
                                <div class="product_category_box__txt">
                                    <div>
                                        <h6>牆面效果</h6>
                                        <h4>Wall Glaze Wax</h4>
                                        <h5>天然牆面植物蠟</h5>
                                        <hr>
                                        <p>天然手工絢麗釉色，為牆壁上妝，豐富您的居家氛圍，並提供牆面多一層的保護。
                                        </p>
                                        <div class="btns">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <h4>特色介紹</h4>
                                                        <span style="background:#daad7a;"></span>
                                                    </a>
                                                </li>
                                                <li class="focus">
                                                    <a href="javascript:void(0);">
                                                        <h4>購買顏色</h4>
                                                        <span style="background:#daad7a;"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </article>
    </main>
    <footer id="footer"></footer>
    <!--主要jQuery-->
    <script src="../../assets/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="../../assets/js/vendor/slick/slick.js"></script>
    <script src="../../assets/js/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="../../assets/js/vendor/blazy.js"></script>
    <script src="../../assets/js/vendor/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="../../assets/js/vendor/masonry/masonry.pkgd.min.js"></script>
    <script src="../../assets/js/vendor/masonry/imagesloaded.pkgd.min.js"></script>
    <script src="../../assets/js/vendor/cgpagechange.js"></script>
    <!-- 主要 -->
    <script src="../../assets/js/main.js"></script>
    <!-- 個別 -->
    <script src="../../assets/js/product.js"></script>
</body>

</html>