<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="../../assets/js/vendor/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
</head>

<body id="product_feature">
    <header id="header"></header>
    <main class="product_detail product_feature">
        <article class="banner_wrap">
            <!-- 900X600 -->
            <div class="banner_feature">

                <div class="banner_feature__title">
                    <h4>天然植物漆</h4>
                    <h5>Wall Paint No.321</h5>
                </div>

                <div class="banner_feature__img">
                    <ul>
                        <li>
                            <img data-lazy="../../upload/f2e/product_detail/product_detail_feature_01.jpg" />
                        </li>
                        <li>
                            <img data-lazy="../../upload/f2e/product_detail/product_detail_feature_01_01.jpg" />
                        </li>
      
                    </ul>
                    <div class="feature_dot"></div>
                </div>

            </div>
            <div class="banner_introduction">
                <div class="banner_introduction__wrap">
                    <div class="banner_introduction__icon">
                        <ul>
                            <li>
                                <img class="b-lazy" src="../../assets/img/load_1x1.svg" data-src="../../upload/f2e/product_detail/introduction/introduction_01.png">
                                <div class="more">
                                    <p>Aqua</p>
                                </div>
                            </li>
                            <li>
                                <img class="b-lazy" src="../../assets/img/load_1x1.svg" data-src="../../upload/f2e/product_detail/introduction/introduction_02.png">
                                <div class="more">
                                    <p>Aqua</p>
                                </div>
                            </li>
                            <li>
                                <img class="b-lazy" src="../../assets/img/load_1x1.svg" data-src="../../upload/f2e/product_detail/introduction/introduction_03.png">
                                <div class="more">
                                    <p>Aqua</p>
                                </div>
                            </li>
                            <li>
                                <img class="b-lazy" src="../../assets/img/load_1x1.svg" data-src="../../upload/f2e/product_detail/introduction/introduction_04.png">
                                <div class="more">
                                    <p>Aqua</p>
                                </div>
                            </li>
                            <li>
                                <img class="b-lazy" src="../../assets/img/load_1x1.svg" data-src="../../upload/f2e/product_detail/introduction/introduction_05.png">
                                <div class="more">
                                    <p>Aqua</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="banner_introduction__txt">
                        <h4>INTRODUCTION</h4>
                        <h5>產品簡介</h5>
                        <p>經典中的經典，全天然植物性成分，質地細緻，氣味自然不刺鼻，出色的覆蓋力， 色彩豐富，調配出專屬於您的空間品味。
                            <br>
                            <br> 使用位置：室內
                        </p>
                        <div class="gotobuycolor">
                            <a href="javascript:void(0);">
                                <p>選擇顏色購買</p>
                                <span>
                                    <svg x="0px" y="0px" width="14.998px" height="16px" viewBox="0 0 14.998 14.998">
                                        <g>
                                            <rect id="color_first" x="2" y="2.021" fill="#FF2E47" width="2.991" height="2.991" />
                                            <rect x="7.004" y="2.021" fill="#FF6C00" width="2.991" height="2.991" />
                                            <rect x="12.007" y="2.021" fill="#A7CDF7" width="2.991" height="2.991" />
                                            <rect x="7.004" y="7.014" fill="#3EC527" width="2.991" height="2.991" />
                                            <rect x="12.007" y="7.014" fill="#FFD101" width="2.991" height="2.991" />
                                            <rect x="7.004" y="12.007" fill="#EB9EEC" width="2.991" height="2.991" />
                                            <rect x="2" y="7" fill="#EFB07F" width="2.991" height="2.991" />
                                            <rect x="2" y="12.007" fill="#CBB0F8" width="2.991" height="2.991" />
                                            <rect x="12.007" y="12.007" fill="#9CDFE4" width="2.991" height="2.991" />
                                        </g>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <article class="nav_wrap">
            <div class="productnav">
                <ul>
                    <li>
                        <a href="javascript:void(0);">
                            <h4>購買產品</h4>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <h4>顏色故事</h4>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <h4>推薦商品</h4>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <h4>相關案例</h4>
                        </a>
                    </li>
                </ul>
            </div>
        </article>
        <article class="content_wrap">
            <div class="product_detail__content">
                <div class="product_detail__inner">
                    <div class="product_detail__box feature">
                        <div class="title">
                            <h4>FEATURE</h4>
                            <h5>產品特色</h5>
                        </div>
                        <div class="img product_rwd_hide">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/9zZVPr0NOnM?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                            <div class="video_img">
                                <img src="../../upload/f2e/product_detail/product_detail_normal_02.jpg">
                                <div class="circle circle--50 circle--video_play"></div>
                            </div>
                        </div>
                        <div class="txt product_rwd_hide">
                            <p>
                                1. 適用於各種未上漆的木材，自然蜂蜜色，呈現木材的溫暖色調。
                                <br> 2. 可搭配AURO色漿No.150調色使用(最多可用至10%)。
                                <br> 3. 防潑水、耐熱、耐磨性持久，有效保護木材，延長壽命。
                                <br> 4. 水與髒污不易進入，但不阻擋空氣分子保持透氣性。
                            </p>
                        </div>
                        <div class="product_rwd">
                            <div class="circle circle--40 circle--product_rwd">
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="product_detail__box ingredient">
                        <div class="title">
                            <h4>INGREDIENT & CERTIFICATION</h4>
                            <h5>成分與認證</h5>
                        </div>


                        <div class="pie_wrap product_rwd_hide">
                            <div class="pie" style="position: relative;  width:300px;">
                                <canvas id="pie"></canvas>
                            </div>
                        </div>
                        <div class="pie_list product_rwd_hide">
                            <ul>
                                <li>
                                    <span class="circle circle--20" style="background: #47ba49;"></span>
                                    <h5>Renewable Natural Materials</h5>
                                </li>
                                <li>
                                    <span class="circle circle--20" style="background: #adc82f;"></span>
                                    <h5>Mineral Materials</h5>
                                </li>
                                <li>
                                    <span class="circle circle--20" style="background: #67a7e3;"></span>
                                    <h5>Processed Natural Materials</h5>
                                </li>
                            </ul>
                        </div>

                        <div class="list1 product_rwd_hide">
                            <ul>
                                <li class="name more">
                                    <div class="list_left">
                                        <h4>NAME</h4>
                                        <h5>中英文成分</h5>
                                    </div>
                                    <div class="list_center">
                                        <ul>
                                            <li>
                                                <p>礦物填料 mineral fillers
                                                    <span class="circle circle--15 circle--product_q"></span>
                                                </p>
                                            </li>
                                            <li>
                                                <p>表面活性劑（提煉自油菜籽油 , 篦蔴油 ) surfactants made of rapeseed - castor oil, ammonia
                                                    <span class="circle circle--15 circle--product_q"></span>
                                                </p>
                                            </li>
                                            <li>
                                                <p>水 water</p>
                                            </li>
                                            <li>
                                                <p>REPLEBIN®</p>
                                            </li>
                                            <li>
                                                <p>二氧化鈦 titanium dioxide</p>
                                            </li>
                                            <li>
                                                <p>纖維素 cellulose</p>
                                            </li>
                                            <li>
                                                <p>氨水 benzisothiazolinone</p>
                                            </li>
                                            <li>
                                                <p>噻唑 methylisothiazolinone</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list_right">
                                        <a href="javascript:void(0);">
                                            <p>原物料表</p>
                                            <div class="circle circle--30 circle--product_detail_add_b">
                                                <span></span>
                                                <span></span>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li class="voc">
                                    <div class="list_left">
                                        <h4>VOC值</h4>
                                        <h5></h5>
                                    </div>
                                    <div class="list_center">
                                        <h4>VOC
                                            < 1 g/l</h4>
                                                <p>台灣規定：水性水泥漆第一種室內用平光之VOC 最大限量值為200g/L</p>
                                    </div>
                                </li>
                                <li class="certification more">
                                    <div class="list_left">
                                        <h4>CERTIFICATION</h4>
                                        <h5>產品認證</h5>
                                    </div>
                                    <div class="list_center">
                                        <ul>
                                            <li>
                                                <div>
                                                    <h4>醫學推薦適用於居住空間</h4>
                                                    <p>德國環境公共衛生科學協會(Gesellschaft für Hygiene, Umweltmedizin und Präventivmedizin;
                                                        GHUP) 頒授 ”醫學推薦適用於居住空間” 認證，並於於 2009年至2013年於協會期刊推薦本產品
                                                    </p>
                                                </div>
                                                <div>
                                                    <a href="javascript:void(0);">
                                                        <div class="circle circle--30 circle--product_detail_add_w">
                                                            <span></span>
                                                            <span></span>
                                                        </div>
                                                    </a>
                                                    <a href="javascript:void(0);">
                                                        <div class="circle circle--30 circle--product_detail_download">
                                                            <svg x="0px" y="0px" width="8px" height="13.588px" viewBox="0 0 8 13.588" enable-background="new 0 0 8 13.588">
                                                                <g>
                                                                    <path d="M4,10.865c-0.246,0-0.444-0.199-0.444-0.444V0.444C3.556,0.198,3.754,0,4,0s0.444,0.198,0.444,0.444v9.977
                                                                                    C4.444,10.666,4.246,10.865,4,10.865z"
                                                                    />
                                                                    <g>
                                                                        <path d="M4,11.494l-3.87-3.87c-0.174-0.174-0.174-0.455,0-0.629c0.173-0.173,0.455-0.173,0.628,0L4,10.236l3.241-3.241
                                                                                    c0.174-0.173,0.455-0.173,0.628,0c0.174,0.174,0.174,0.455,0,0.629L4,11.494z"
                                                                        />
                                                                    </g>
                                                                    <rect y="12.698" width="8" height="0.89" />
                                                                </g>
                                                            </svg>
                                                        </div>
                                                    </a>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h4>VOC Class A+最高等級檢測報告</h4>
                                                    <p>符合德國建材健康審核委員會 (AgBB) 發揮性有機化合物 VOC的規定與法國國 家發揮性有機化合物 VOC Class A+ 最高等級
                                                        VOC 檢測報告
                                                    </p>
                                                </div>
                                                <div>
                                                    <a href="javascript:void(0);">
                                                        <div class="circle circle--30 circle--product_detail_add_w">
                                                            <span></span>
                                                            <span></span>
                                                        </div>
                                                    </a>
                                                    <a href="javascript:void(0);">
                                                        <div class="circle circle--30 circle--product_detail_download">
                                                            <svg x="0px" y="0px" width="8px" height="13.588px" viewBox="0 0 8 13.588" enable-background="new 0 0 8 13.588">
                                                                <g>
                                                                    <path d="M4,10.865c-0.246,0-0.444-0.199-0.444-0.444V0.444C3.556,0.198,3.754,0,4,0s0.444,0.198,0.444,0.444v9.977
                                                                                    C4.444,10.666,4.246,10.865,4,10.865z"
                                                                    />
                                                                    <g>
                                                                        <path d="M4,11.494l-3.87-3.87c-0.174-0.174-0.174-0.455,0-0.629c0.173-0.173,0.455-0.173,0.628,0L4,10.236l3.241-3.241
                                                                                    c0.174-0.173,0.455-0.173,0.628,0c0.174,0.174,0.174,0.455,0,0.629L4,11.494z"
                                                                        />
                                                                    </g>
                                                                    <rect y="12.698" width="8" height="0.89" />
                                                                </g>
                                                            </svg>
                                                        </div>
                                                    </a>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h4>Ethical Consumer 優異評鑑</h4>
                                                    <p>Ethical Consumer英國良知消費者雜誌 2006年同類商品評鑑優異</p>
                                                </div>
                                                <div>
                                                    <a href="javascript:void(0);">
                                                        <div class="circle circle--30 circle--product_detail_add_w">
                                                            <span></span>
                                                            <span></span>
                                                        </div>
                                                    </a>
                                                    <a href="javascript:void(0);">
                                                        <div class="circle circle--30 circle--product_detail_download">
                                                            <svg x="0px" y="0px" width="8px" height="13.588px" viewBox="0 0 8 13.588" enable-background="new 0 0 8 13.588">
                                                                <g>
                                                                    <path d="M4,10.865c-0.246,0-0.444-0.199-0.444-0.444V0.444C3.556,0.198,3.754,0,4,0s0.444,0.198,0.444,0.444v9.977
                                                                                    C4.444,10.666,4.246,10.865,4,10.865z"
                                                                    />
                                                                    <g>
                                                                        <path d="M4,11.494l-3.87-3.87c-0.174-0.174-0.174-0.455,0-0.629c0.173-0.173,0.455-0.173,0.628,0L4,10.236l3.241-3.241
                                                                                    c0.174-0.173,0.455-0.173,0.628,0c0.174,0.174,0.174,0.455,0,0.629L4,11.494z"
                                                                        />
                                                                    </g>
                                                                    <rect y="12.698" width="8" height="0.89" />
                                                                </g>
                                                            </svg>
                                                        </div>
                                                    </a>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h4>通過抗洗刷能力測試</h4>
                                                    <p>根據德國DIN53778及歐盟EN13300標準</p>
                                                </div>
                                                <div>
                                                    <a href="javascript:void(0);">
                                                        <div class="circle circle--30 circle--product_detail_add_w">
                                                            <span></span>
                                                            <span></span>
                                                        </div>
                                                    </a>
                                                    <a href="javascript:void(0);">
                                                        <div class="circle circle--30 circle--product_detail_download">
                                                            <svg x="0px" y="0px" width="8px" height="13.588px" viewBox="0 0 8 13.588" enable-background="new 0 0 8 13.588">
                                                                <g>
                                                                    <path d="M4,10.865c-0.246,0-0.444-0.199-0.444-0.444V0.444C3.556,0.198,3.754,0,4,0s0.444,0.198,0.444,0.444v9.977
                                                                                    C4.444,10.666,4.246,10.865,4,10.865z"
                                                                    />
                                                                    <g>
                                                                        <path d="M4,11.494l-3.87-3.87c-0.174-0.174-0.174-0.455,0-0.629c0.173-0.173,0.455-0.173,0.628,0L4,10.236l3.241-3.241
                                                                                    c0.174-0.173,0.455-0.173,0.628,0c0.174,0.174,0.174,0.455,0,0.629L4,11.494z"
                                                                        />
                                                                    </g>
                                                                    <rect y="12.698" width="8" height="0.89" />
                                                                </g>
                                                            </svg>
                                                        </div>
                                                    </a>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <h4>ÖKOTEST 優異評鑑</h4>
                                                    <p>德國ÖKOTEST 2001年&2007年評鑑為，gut，優質商品</p>
                                                </div>
                                                <div>
                                                    <a href="javascript:void(0);">
                                                        <div class="circle circle--30 circle--product_detail_add_w">
                                                            <span></span>
                                                            <span></span>
                                                        </div>
                                                    </a>
                                                    <a href="javascript:void(0);">
                                                        <div class="circle circle--30 circle--product_detail_download">
                                                            <svg x="0px" y="0px" width="8px" height="13.588px" viewBox="0 0 8 13.588" enable-background="new 0 0 8 13.588">
                                                                <g>
                                                                    <path d="M4,10.865c-0.246,0-0.444-0.199-0.444-0.444V0.444C3.556,0.198,3.754,0,4,0s0.444,0.198,0.444,0.444v9.977
                                                                                    C4.444,10.666,4.246,10.865,4,10.865z"
                                                                    />
                                                                    <g>
                                                                        <path d="M4,11.494l-3.87-3.87c-0.174-0.174-0.174-0.455,0-0.629c0.173-0.173,0.455-0.173,0.628,0L4,10.236l3.241-3.241
                                                                                    c0.174-0.173,0.455-0.173,0.628,0c0.174,0.174,0.174,0.455,0,0.629L4,11.494z"
                                                                        />
                                                                    </g>
                                                                    <rect y="12.698" width="8" height="0.89" />
                                                                </g>
                                                            </svg>
                                                        </div>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="specifications more">
                                    <div class="list_left">
                                        <h4>SPECIFICATIONS</h4>
                                        <h5>技術規範</h5>
                                    </div>
                                    <div class="list_center">
                                        <ul>
                                            <li>
                                                <div>
                                                    <h4>植物漆技術規範文件</h4>
                                                </div>
                                                <div>
                                                    <a href="javascript:void(0);">
                                                        <div class="circle circle--30 circle--product_detail_add_w">
                                                            <span></span>
                                                            <span></span>
                                                        </div>
                                                    </a>
                                                    <a href="javascript:void(0);">
                                                        <div class="circle circle--30 circle--product_detail_download">
                                                            <svg x="0px" y="0px" width="8px" height="13.588px" viewBox="0 0 8 13.588" enable-background="new 0 0 8 13.588">
                                                                <g>
                                                                    <path d="M4,10.865c-0.246,0-0.444-0.199-0.444-0.444V0.444C3.556,0.198,3.754,0,4,0s0.444,0.198,0.444,0.444v9.977
                                                                                    C4.444,10.666,4.246,10.865,4,10.865z"
                                                                    />
                                                                    <g>
                                                                        <path d="M4,11.494l-3.87-3.87c-0.174-0.174-0.174-0.455,0-0.629c0.173-0.173,0.455-0.173,0.628,0L4,10.236l3.241-3.241
                                                                                    c0.174-0.173,0.455-0.173,0.628,0c0.174,0.174,0.174,0.455,0,0.629L4,11.494z"
                                                                        />
                                                                    </g>
                                                                    <rect y="12.698" width="8" height="0.89" />
                                                                </g>
                                                            </svg>
                                                        </div>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="product_rwd">
                            <div class="circle circle--40 circle--product_rwd">
                                <span></span>
                                <span></span>
                            </div>
                        </div>

                        <div class="info_list">
                            <div class="name_info__wrap">
                                <div class="name_info">
                                    <div class="name_info__title">
                                        <h5>礦物原料</h5>
                                        <h4>TITANIUM DIOXIDE</h4>
                                        <h4>二氧化鈦</h4>
                                    </div>
                                    <div class="name_info__info">
                                        <ul>
                                            <li>
                                                <p>產地
                                                    <span class="name_info__info_l"></span>歐洲，亞洲</p>
                                            </li>
                                            <li>
                                                <p>應用
                                                    <span class="name_info__info_l"></span>礦物顏料</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="name_info__txt">
                                        <p>用於塗料及亮光漆，為高度不透明且無毒性的白色顏料，由天然礦物製成 （例如，金紅石），也做於催化反應的顏料，擁有特殊的分散結構可分解 有害物質。
                                        </p>
                                    </div>
                                    <div class="name_info__close">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="product_detail__box userguide">
                        <div class="title">
                            <h4>USER GUIDE</h4>
                            <h5>使用說明</h5>
                        </div>
                        <div class="list1 product_rwd_hide">
                            <ul>
                                <li>
                                    <div class="list_left">
                                        <h4>METHOD</h4>
                                        <h5>使用方法</h5>
                                    </div>
                                    <div class="list_center">
                                        <div class="img">
                                            <img src="../../upload/f2e/product_detail/product_detail_normal_03.jpg" alt="">
                                        </div>
                                        <div class="txt">
                                            <p>
                                                使用工具：噴槍、滾輪、刷子
                                                <br> 施工方式：噴塗、滾塗、刷塗
                                                <br>
                                                <br> 施工方式：產品不須加水即可施作，若要加水請依照建議比例
                                                <br> (1) 第一道: 加水不超過10%
                                                <br> (2) 重塗間隔4~6小時（視環境而定）
                                                <br> (3) 第二道: 加水不超過 10%
                                                <br> (4) 等待完全乾燥12~24小時。
                                                <br>
                                                <br> 詳細說明請參閱技術規範表。
                                                <br>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list_left">
                                        <h4>COATING AREA</h4>
                                        <h5>塗佈面積</h5>
                                    </div>
                                    <div class="list_center">
                                        <div class="txt">
                                            <p>
                                                1L: 9平方公尺
                                                <br> 5L: 45平方公尺
                                                <br> 塗佈面積會因現場環境與施工方式及工具而有所增減。
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list_left">
                                        <h4>DRYING TIME</h4>
                                        <h5>乾燥時間</h5>
                                    </div>
                                    <div class="list_center">
                                        <div class="txt">
                                            <p>
                                                重塗間隔4 - 6小時（視環境而定）
                                                <br> 完全乾燥12 - 24小時
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list_left">
                                        <h4>TOOLS</h4>
                                        <h5>施作工具與細緻程度</h5>
                                    </div>
                                    <div class="list_center">
                                        <div class="tools">
                                            <ul>
                                                <li>
                                                    <div>
                                                        <img src="../../upload/f2e/product_detail/userguide/userguide_01.png">
                                                    </div>
                                                    <p>噴槍</p>
                                                </li>
                                                <li>
                                                    <img src="../../upload/f2e/product_detail/userguide/userguide_00.jpg">
                                                </li>
                                                <li>
                                                    <div>
                                                        <img src="../../upload/f2e/product_detail/userguide/userguide_02.png">
                                                    </div>
                                                    <p>滾輪</p>
                                                </li>
                                                <li>
                                                    <img src="../../upload/f2e/product_detail/userguide/userguide_00.jpg">
                                                </li>
                                                <li>
                                                    <div>
                                                        <img src="../../upload/f2e/product_detail/userguide/userguide_03.png">
                                                    </div>
                                                    <p>刷子</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list_left">
                                        <h4>MAINTAIN</h4>
                                        <h5>後續維護</h5>
                                    </div>
                                    <div class="list_center">
                                        <div class="txt">
                                            <p>
                                                後續清潔保養可搭配(約一周依次) 清潔修護羊毛巾 no.680
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list_left">
                                        <h4>PRECAUTIONS</h4>
                                        <h5>注意事項</h5>
                                    </div>
                                    <div class="list_center">
                                        <div class="precautions">
                                            <ul>
                                                <li>
                                                    <span>1.</span>
                                                    <p>建議工具使用噴槍或滾輪，若要使用刷子可以選擇羊毛刷避免刷痕</p>
                                                </li>
                                                <li>
                                                    <span>2.</span>
                                                    <p>使用產品前，請完全攪拌均勻。施作時請保持環境通風。
                                                        <br>若要稀釋，請依照技術規範的加水比例，水量過多將造成壁面乾燥成膜不成功，產生粉塵，施作失敗。</p>
                                                </li>
                                                <li>
                                                    <span>3.</span>
                                                    <p>使用產品之前，檢查產品適用性及相容性的基礎特性。</p>
                                                </li>
                                                <li>
                                                    <span>4.</span>
                                                    <p>當塗層乾燥期間，避免暴露於陽光、濕氣影響及灰塵。</p>
                                                </li>
                                                <li>
                                                    <span>5.</span>
                                                    <p>使用產品之前，混合不同產品批次號碼，注意批號引起的差異。</p>
                                                </li>
                                                <li>
                                                    <span>6.</span>
                                                    <p>施工溫度為：至少攝氏10度，最高攝氏30度，最大相對濕度85％。最適合溫度攝氏20~30度，最適合相對</p>
                                                </li>
                                                <li>
                                                    <span>7.</span>
                                                    <p>濕度為40~65％，不可超過已經設定的一般溫濕度標準。
                                                        <br> 污漬及噴濺痕跡必須立即以清水及肥皂鹼液清洗。 依照既定物體狀況（例如：暴露於強光下大範圍的表面），形成輕微霧狀表面，因此，避免部份乾燥的情
                                                        況，並加速處理濕潤狀態。
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="product_rwd">
                            <div class="circle circle--40 circle--product_rwd">
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>


    </main>
    <footer id="footer"></footer>
    <!--主要jQuery-->
    <script src="../../assets/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="../../assets/js/vendor/slick/slick.js"></script>
    <script src="../../assets/js/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="../../assets/js/vendor/blazy.js"></script>
    <script src="../../assets/js/vendor/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="../../assets/js/vendor/masonry/masonry.pkgd.min.js"></script>
    <script src="../../assets/js/vendor/masonry/imagesloaded.pkgd.min.js"></script>
    <script src="../../assets/js/vendor/cgpagechange.js"></script>
    <script src="../../assets/js/vendor/lbox.js"></script>
    <!-- 主要 -->
    <script src="../../assets/js/main.js"></script>
    <!-- 個別 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
    <script src="../../assets/js/product.js"></script>
    <script>

        var ctx = $("#pie");
        var data = {
            datasets: [
                {
                    data: [35, 20, 40],
                    backgroundColor: [
                        '#47ba49',
                        '#adc82f',
                        '#67a7e3'
                    ],

                }
            ],
            labels: [
                'Mineral Materials',
                'Processed Natural Materials',
                'Renewable Natural Materials'
            ],
            borderWidth: 1,

        };

        var options = {
            legend: {
                display: false
            },
        };

        var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: data,
            options: options
        });

    </script>


</body>

</html>