<div class="ft_logo">
    <img src="../../assets/img/ft_logo.png" alt="">
</div>
<div class="ft_nav">
    <div class="ft_nav_bg">
        <div class="_img">
            <img src="../../assets/img/ft_nav_bg1_330_80.png" alt="">
        </div>
        <div class="_img">
            <img src="../../assets/img/ft_nav_bg2_330_80.png" alt="">
        </div>
    </div>
    <div class="ft_nav_box">
        <div class="ft_socialMedia">
            <ul>
                <li class="fb">
                    <a href="javascript:void(0)"></a>
                </li>
                <li class="ig">
                    <a href="javascript:void(0)"></a>
                </li>
                <li class="line">
                    <a href="javascript:void(0)"></a>
                </li>
            </ul>
        </div>
        <div class="ft_inf">
            info@bite2eatpizza.com
        </div>
        <div class="booking">
            <a href="javascript:void(0)">
                <p>RESERVE
                    <br>立即訂位
                </p>
            </a>
        </div>
        <div class="ft_scrollTop"></div>
    </div>
</div>
<div class="copyright">
    <div>
    <p>© 2017 Bite 2 Eat. ALL RIGHTS RESERVED.</p>
    <!-- 後端請注意:此處的a連結請幫我填上公司官網 -->
    <p>DESIGNED BY <a href="javascript:void(0)">WDD.</a></p>
    </div>
    <ul>
        <li class="openPrivacy">隱私權政策</li>
        <li><a href="javascript:void(0)">人才招募</a></li>
    </ul>
</div>