<div class="tel">
    <h5>contact 聯繫電話</h5>
    <p>02-7737-8837</p>
</div>
<div class="address">
    <h5>address 分店地址</h5>
    <p>台北市中山區復興南路一段 22.24 號</p>
</div>
<div class="openTime">
    <h5>business hour 營業時間</h5>
    <div class="weekdays">
        <h5>周一至周五</h5>
        <p>中午 11:00-16:45 ( Last order 15:45</p>
        <p>晚上 17:30-21:45 ( Last order 20:45</p>
    </div>
</div>
<div class="numbLimit">
    <h5>limited 大組預約限制</h5>
    <p>超過<span class="limit">10</span>人為大組訂位，需酌收訂金，請電洽本店</p>
</div>