<!DOCTYPE html>
<html lang="en">

<head itemscope="itemscope" itemtype="http://schema.org/WebSite">
  <meta charset="UTF-8"/>
  <meta name="language" content="tw"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <meta name="title" content="網站標題名稱"/>
  <meta name="description" content="網站描敘"/>
  <meta name="keywords" content="網站關鍵字"/>
  <meta name="copyright" content="作者名子"/>
  <title itemprop="name">hanshin</title>
  <link rel="canonical" href="網址" itemprop="url"/>
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/img/favicon/favicon.png"/>
  <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/favicon/favicon.png"/>
  <link rel="icon" type="image/x-icon" href="../../assets/img/favicon/favicon.png"/>
  <link rel="stylesheet" href="../../assets/css/style.css"/>
</head>

<body class="index" id="home" data-delaySecond="10" data-indexHerf="../home/index.html">
  <header>
    <!--左邊選單-->
    <article class="hdContent" style="background-image: url('../../assets/img/hdBg_250_1080.jpg')">
      <section class="top">
        <div class="logo"><a href="../home/index.html"><img src="../../assets/img/hdLogo.png" alt=""><img src="../../assets/img/hdLogoRWD.png" alt=""></a></div>
        <div class="openMenu"><span class="icon-square"></span>
          <p>FIND MORE</p>
        </div>
        <div class="socialMedia">
          <ul>
            <li><a href="javascript:void(0)"><span class="icon-facebook"></span></a></li>
            <li><a href="javascript:void(0)"><span class="icon-instagram"></span></a></li>
            <li><a href="javascript:void(0)"><span class="icon-line"></span></a></li>
          </ul>
        </div>
      </section>
      <section class="list">
        <ul itemscope itemtype="http://schema.org/SiteNavigationElement">
          <li itemprop="name"><a href="../news/index.html" itemprop="url">
              <p>最新消息</p></a></li>
          <li itemprop="name"><a href="../brand/index.html" itemprop="url">
              <p>品牌導覽</p></a></li>
          <li itemprop="name"><a href="../floor/index.html" itemprop="url">
              <p>樓層導覽</p></a></li>
          <li itemprop="name"><a href="javascript:void(0)" itemprop="url">
              <p>會員專區</p></a></li>
          <li itemprop="name"><a href="../service/index.html" itemprop="url">
              <p>服務中心</p></a></li>
          <li itemprop="name"><a href="../about/index.html" itemprop="url">
              <p>交通資訊</p></a></li>
        </ul>
      </section>
      <section class="bottom">
        <div class="buttons"><a class="openSearch" href="javascript:void(0)"><span class="icon-magnifier"></span>
            <p>搜尋</p></a><a href="javascript:void(0)"><span class="icon-person"></span>
            <p>會員</p></a></div>
        <div class="openSelectStore"><a href="javascript:void(0)">
            <p>SELECT STORE</p></a></div>
        <div class="openTime"><span>Business Hours Today</span>
          <p>10:30 - 22:00</p>
        </div>
      </section>
    </article>
    <!--右下按鈕-->
    <article class="sideButton">
      <section class="socialMedia"> 
        <div class="link"><a href="javascript:void(0)"><span class="icon-youtube"></span></a><a href="javascript:void(0)"><span class="icon-twitter"></span></a><a href="javascript:void(0)"><span class="icon-instagram"></span></a><a href="javascript:void(0)"><span class="icon-facebook"></span></a></div>
        <button><span class="icon-share"></span></button>
      </section>
      <section class="openSearch"><span class="icon-magnifier"></span></section>
      <section class="DM"><a href="../dm/index.html">DM</a></section>
      <section class="goTop">TOP</section>
      <!-- 後端請注意: 這邊有導覽機新增的東西 因為很重要所以要說三次-->
      <!-- 後端請注意: 這邊有導覽機新增的東西 因為很重要所以要說三次-->
      <!-- 後端請注意: 這邊有導覽機新增的東西 因為很重要所以要說三次-->
      <!-- 導覽機新增的按鈕 ------------>
      <section class="back" onclick="back()">返回</section>
      <section class="toHome"><a class="icon-house" href="../guide/index.html"></a></section>
      <section class="arrows">
        <button class="up" onclick="scrollUp();"></button>
        <button class="down" onclick="scrollDown();"></button>
      </section>
    </article>
    <!--選擇分店-->
    <article class="selectStore">
      <section class="buttons">
        <div class="liboxClose"><span></span></div><a href="../index/index.html">
          <p>返回品牌入口頁 </p></a>
      </section>
      <section class="content">
        <div class="_title">
          <p class="ch">選擇分站</p>
          <p class="en">Select substation</p>
          <ul>
            <li class="active">全台分站  </li>
            <li>南部地區</li>
            <li>中部地區</li>
            <li>北部地區</li>
          </ul>
        </div>
        <div class="_slick">
          <ul>
            <li>
              <div class="box"><a href="javascript:void(0)">
                  <figure><img src="../../upload/fa2/storeImg1_370_500.jpg" alt="">
                    <p> <span>ENTER</span></p>
                  </figure>
                  <div class="_text">
                    <p class="ch">漢神百貨</p>
                    <p class="en">Hanshin Department Store</p>
                  </div></a>
                <div class="socailMedia"> <a href="javascript:void(0)"><span class="icon-facebook"></span></a><a href="javascript:void(0)"><span class="icon-instagram"></span></a><a href="javascript:void(0)"><span class="icon-line"></span></a></div>
              </div>
            </li>
            <li>
              <div class="box"><a href="javascript:void(0)">
                  <figure><img src="../../upload/fa2/storeImg2_370_500.jpg" alt="">
                    <p> <span>ENTER</span></p>
                  </figure>
                  <div class="_text">
                    <p class="ch">漢神巨蛋購物廣場</p>
                    <p class="en">Hanshin Arena Shopping Plaza</p>
                  </div></a>
                <div class="socailMedia"> <a href="javascript:void(0)"><span class="icon-facebook"></span></a><a href="javascript:void(0)"><span class="icon-instagram"></span></a><a href="javascript:void(0)"><span class="icon-line"></span></a></div>
              </div>
            </li>
            <li>
              <div class="box"><a href="https://tw.mall.yahoo.com/store/hanshin">
                  <figure><img src="../../upload/fa2/storeImg3_370_500.jpg" alt="">
                    <p> <span>ENTER</span></p>
                  </figure>
                  <div class="_text">
                    <p class="ch">漢神百貨網路購物</p>
                    <p class="en">Hanshin Online Shopping</p>
                  </div></a>
                <div class="socailMedia"> <a href="javascript:void(0)"><span class="icon-facebook"></span></a><a href="javascript:void(0)"><span class="icon-instagram"></span></a><a href="javascript:void(0)"><span class="icon-line"></span></a></div>
              </div>
            </li>
            <li>
              <div class="box"><a href="javascript:void(0)">
                  <figure><img src="../../upload/fa2/storeImg1_370_500.jpg" alt="">
                    <p> <span>ENTER</span></p>
                  </figure>
                  <div class="_text">
                    <p class="ch">漢神百貨</p>
                    <p class="en">Hanshin Department Store</p>
                  </div></a>
                <div class="socailMedia"> <a href="javascript:void(0)"><span class="icon-facebook"></span></a><a href="javascript:void(0)"><span class="icon-instagram"></span></a><a href="javascript:void(0)"><span class="icon-line"></span></a></div>
              </div>
            </li>
          </ul>
          <div class="arrows"><span class="icon-arrowLeft"></span><span class="icon-arrowRight"></span></div>
        </div>
      </section>
    </article>
    <!-- 主選單-->
    <article class="hdMenu">
      <section class="topButton">
        <div class="liboxClose"><span></span></div><a href="../index/index.html">
          <p>返回品牌入口頁 </p></a>
      </section>
      <section class="content">
        <!--後端請注意: 未登入狀態請在下方<div class="login"> 加上class "active"-->
        <div class="login active">
          <p>LOGIN</p>
          <div class="buttons"><a href="javascript:void(0)">登入</a><a href="javascript:void(0)">註冊</a></div>
        </div>
        <!--後端請注意: 未登入狀態請在下方<div class="logout"> 加上class "active"-->
        <div class="logout">
          <p>LOGOUT</p>
          <div class="buttons">
            <p class="name">我的名子</p><a href="javascript:void(0)">登出</a>
          </div>
        </div>
        <div class="mainLink">
          <ul itemscope itemtype="http://schema.org/SiteNavigationElement">
            <li itemprop="name"><a href="../news/index.html" itemprop="url">
                <p class="ch">最新消息</p>
                <p class="en">NEWS</p></a></li>
            <li itemprop="name"><a href="javascript:void(0)" itemprop="url">
                <p class="ch">會員專區</p>
                <p class="en">MEMBER</p></a></li>
            <li itemprop="name"><a href="../floor/index.html" itemprop="url">
                <p class="ch">樓層導覽</p>
                <p class="en">FLOOR</p></a></li>
            <li itemprop="name"><a href="../service/index.html" itemprop="url">
                <p class="ch">顧客服務</p>
                <p class="en">SERVICE</p></a></li>
            <li itemprop="name"><a href="../about/index.html" itemprop="url">
                <p class="ch">關於漢神</p>
                <p class="en">ABOUT</p></a></li>
            <li itemprop="name"><a href="../dm/index.html" itemprop="url">
                <p class="ch">電子型錄</p>
                <p class="en">DM</p></a></li>
            <li itemprop="name"><a href="../other/join.html" itemprop="url">
                <p class="ch">加入我們</p>
                <p class="en">JOIN US</p></a></li>
            <li itemprop="name"><a href="../card/index.html" itemprop="url">
                <p class="ch">超集卡/聯名卡</p>
                <p class="en">CARD</p></a></li>
            <li itemprop="name"><a href="../other/cooperation.html" itemprop="url">
                <p class="ch">合作找我</p>
                <p class="en">COOPERATE</p></a></li>
          </ul>
        </div>
        <div class="bottom">
          <div class="about">
            <ul itemscope itemtype="http://schema.org/SiteNavigationElement">
              <li itemprop="name"><a href="javascript:void(0)" onclick="subscribe.open()">訂閱電子報</a></li>
              <li itemprop="name"><a href="../supplier/index.html" itemprop="url">廠商專區  </a></li>
              <li itemprop="name"><a href="../other/related.html" itemprop="url">相關企業</a></li>
              <li itemprop="name"><a href="../other/privacy.html" itemprop="url">隱私權政策</a></li>
            </ul>
          </div>
          <div class="socialMedia">
            <p>FOLLOW US</p>
            <ul>
              <li><a href="javascript:void(0)"><span class="icon-facebook"></span></a></li>
              <li><a href="javascript:void(0)"><span class="icon-instagram"></span></a></li>
              <li><a href="javascript:void(0)"><span class="icon-line"></span></a></li>
              <li><a href="javascript:void(0)"><span class="icon-youtube"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="floorIntro">
          <div class="_title">
            <p>Floor</p><span>introduction</span>
          </div>
          <ul itemscope itemtype="http://schema.org/SiteNavigationElement">
            <li itemprop="name"><a href="../floor/index.html" itemprop="url">
                <p class="floor">1F</p>
                <p class="name">精品美妍</p></a></li>
            <li itemprop="name"><a href="../floor/index.html" itemprop="url">
                <p class="floor">2F</p>
                <p class="name">世界精品</p></a></li>
            <li itemprop="name"><a href="../floor/index.html" itemprop="url">
                <p class="floor">3F</p>
                <p class="name">世界精品</p></a></li>
            <li itemprop="name"><a href="../floor/index.html" itemprop="url">
                <p class="floor">4F</p>
                <p class="name">國際名品</p></a></li>
            <li itemprop="name"><a href="../floor/index.html" itemprop="url">
                <p class="floor">5F</p>
                <p class="name">都會名媛</p></a></li>
            <li itemprop="name"><a href="../floor/index.html" itemprop="url">
                <p class="floor">6F</p>
                <p class="name">品味質男</p></a></li>
            <li itemprop="name"><a href="../floor/index.html" itemprop="url">
                <p class="floor">7F</p>
                <p class="name">生活逸品</p></a></li>
            <li itemprop="name"><a href="../floor/index.html" itemprop="url">
                <p class="floor">8F</p>
                <p class="name">活力休閒</p></a></li>
            <li itemprop="name"><a href="../floor/index.html" itemprop="url">
                <p class="floor">B1F</p>
                <p class="name">名品鞋履</p></a></li>
            <li itemprop="name"><a href="../floor/index.html" itemprop="url">
                <p class="floor">B2F</p>
                <p class="name">潮流風尚</p></a></li>
            <li itemprop="name"><a href="../floor/index.html" itemprop="url">
                <p class="floor">B3F</p>
                <p class="name">雅緻食尚</p></a></li>
          </ul>
        </div>
      </section>
    </article>
    <!--搜尋燈箱-->
    <article class="searchLibox">
      <section>
        <div class="liboxClose"><span></span></div>
        <div class="_title">
          <p class="ch">搜尋</p>
          <p class="en">Search</p>
          <p class="words">歡迎搜尋您想找尋的商品或是新訊，漢神提供最佳優質商品及貼心服務機能。</p>
          <div class="buttons">
            <button class="active" type="button">
              <p>尋找品牌</p>
            </button>
            <button type="button">
              <p>尋找訊息</p>
            </button>
          </div>
        </div>
        <div class="forms">
          <!-- 尋找品牌表格-->
          <form class="active">
            <div class="box type">
              <div class="dropDown"> <span class="selectMenu">
                  <p>下拉選擇類別</p></span>
                <ul>
                  <li>類別一</li>
                  <li>類別二</li>
                </ul>
              </div>
            </div>
            <div class="box floor">
              <div class="dropDown"> <span class="selectMenu">
                  <p>下拉選擇樓層</p></span>
                <ul>
                  <li>樓層一</li>
                  <li>樓層二</li>
                </ul>
              </div>
            </div>
            <div class="box keywords">
              <div class="inputArea"><span class="icon-magnifier"></span>
                <input type="text" placeholder="輸入關鍵字搜尋 ">
              </div>
            </div>
            <div class="buttons">
              <!-- 後端請注意: 下方的onclick只是展示用的 記得要刪掉-->
              <button type="button" onclick="location.href='../search/brand.html'">
                <p>ENTER</p>
              </button>
            </div>
          </form>
          <!-- 尋找訊息表格-->
          <form style="display:none">
            <div class="box type">
              <div class="dropDown"> <span class="selectMenu">
                  <p>下拉選擇類別</p></span>
                <ul>
                  <li>類別一</li>
                  <li>類別二</li>
                </ul>
              </div>
            </div>
            <div class="box keywords">
              <div class="inputArea"><span class="icon-magnifier"></span>
                <input type="text" placeholder="輸入關鍵字搜尋 ">
              </div>
            </div>
            <div class="buttons">
              <!-- 後端請注意: 下方的onclick只是展示用的 記得要刪掉-->
              <button type="button" onclick="location.href='../search/brand.html'">
                <p>ENTER</p>
              </button>
            </div>
          </form>
        </div>
      </section>
    </article>
    <!-- 後端請注意: 這邊有導覽機新增的東西 因為很重要所以要說三次-->
    <!-- 後端請注意: 這邊有導覽機新增的東西 因為很重要所以要說三次-->
    <!-- 後端請注意: 這邊有導覽機新增的東西 因為很重要所以要說三次-->
    <article class="guideLogo"><img src="../../assets/img/guideLogo.png" alt=""></article>
    <!-- 後端請注意: 這邊有新增的東西 因為很重要所以要說三次-->
    <!-- 後端請注意: 這邊有新增的東西 因為很重要所以要說三次-->
    <!-- 後端請注意: 這邊有新增的東西 因為很重要所以要說三次-->
    <article class="subscribe">
      <section>
        <div class="box">
          <div class="liboxClose"><span></span></div>
          <div class="_title"><span class="icon-book"></span>
            <p class="ch">訂閱電子報</p>
            <p class="en">Subscribe newsletters</p>
            <p class="words">如果你想訂閱電子報，請選擇想要收到的店別，並填寫e-mail，確認送出後，請至您所填寫的e-mail收取確認信件，回覆連結後即訂閱成功。</p>
          </div>
          <form>
            <div class="item">
              <div class="name">
                <p class="ch">信箱</p>
                <p class="en">E-mail</p>
              </div>
              <div class="inputArea">
                <input type="text" placeholder="">
              </div>
            </div>
            <div class="item">
              <div class="name">
                <p class="ch">選擇店別</p>
                <p class="en">store</p>
              </div>
              <div class="inputArea">
                <div class="dropDown"><span class="selectMenu">
                    <p>請下拉選擇店別</p></span>
                  <ul>
                    <li>漢神店</li>
                    <li>巨蛋店</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="buttons">
              <!-- 後端請注意: onclick事件本身並不重要 重要的是裡面的 function-->
              <button type="button" onclick="subscribe.close()"><span class="icon-hook"></span>
                <p>確認送出</p>
              </button>
            </div>
          </form>
        </div>
      </section>
    </article>
  </header>
  <main>
    <article class="banner">
      <section class="_slick">
        <ul> 
          <li>
            <!-- 後端請注意: 圖片如果是深色圖的話  請在下方 data-imgColor 填入 dark 文字顏色就會變白色 (因為很重要所以要說三次)-->
            <!-- 後端請注意: 圖片如果是深色圖的話  請在下方 data-imgColor 填入 dark 文字顏色就會變白色 (因為很重要所以要說三次)-->
            <!-- 後端請注意: 圖片如果是深色圖的話  請在下方 data-imgColor 填入 dark 文字顏色就會變白色 (因為很重要所以要說三次)-->
            <picture data-imgColor="dark">
              <!-- [if IE 9]><video style="display: none;"><![endif]-->
              <!-- 後端請注意:手機圖片大小-->
              <source srcset="../../upload/fa2/home/bannerImgRWD_1030_1320.jpg" media="(max-width:1024px)">
              <!-- 後端請注意:電腦圖片大小--><img src="../../upload/fa2/home/bannerImg_1670_1080.jpg" alt="">
            </picture>
            <div class="slogan">
              <div class="type"> 
                <h6>SPECIAL SALE</h6><span></span>
              </div>
              <h5>Lovely Women Anniversary</h5>
              <p>寵愛女人周年慶  瘋狂回饋大折扣</p>
            </div>
          </li>
          <li>
            <picture data-imgColor="">
              <!-- [if IE 9]><video style="display: none;"><![endif]-->
              <!-- 後端請注意:手機圖片大小-->
              <source srcset="../../upload/fa2/home/bannerImgRWD2_1030_1320.jpg" media="(max-width:1024px)">
              <!-- 後端請注意:電腦圖片大小--><img src="../../upload/fa2/home/bannerImg2_1670_1080.jpg" alt="">
            </picture>
            <!-- 後端請注意: 如果客戶他想要讓文字靠右的話 就在下方填上 class "right"-->
            <div class="slogan right">
              <div class="type"> 
                <h6>SPECIAL SALE</h6><span></span>
              </div>
              <h5>Lovely Women Anniversary</h5>
              <p>寵愛女人周年慶  瘋狂回饋大折扣</p>
            </div>
          </li>
        </ul>
      </section>
      <section class="bannerScrollDown">
        <p>SCROLL</p><span class="icon-scrollDown"></span>
      </section>
    </article>
    <!-- 後端請注意: 下方背景圖片data-src要可更換-->
    <!-- 後端請注意:如需重整slick 請使用resetSlick() 這個function-->
    <article class="news b-lazy" data-src="../../upload/fa2/home/newsBg_1670_1080.jpg">
      <section class="_title">
        <p class="ch">最新消息</p>
        <p class="en">News & Events</p>
        <ul>
          <li class="active">全館特別活動</li>
          <li>全館抽獎/滿額贈</li>
          <li>卡友限定專寵禮</li>
          <li>銀行特別活動</li>
        </ul>
      </section>
      <section class="_slick">
        <ul>
          <!-- 後端請注意: 如要更新內容 請不要刪除ul 刪它裡面的東西-->
          <li><a href="javascript:void(0)">
              <!-- 後端請注意: 如果未填入文字的話 把下方div移除-->
              <!-- 後端請注意: 下方背景顏色要讓客戶可以換-->
              <div class="slogan" style="background-color:#a13838">HOT !</div>
              <figure><img data-lazy="../../upload/fa2/home/newsImg_420_390.jpg" alt=""></figure>
              <div class="_text">
                <!--類型-->
                <p class="type">BRANDS
                  <!--日期--><span>2019-02-30</span>
                </p>
                <p class="title">MaxMara 時尚冬裝新上市</p>
                <!-- 字數限制 55字-->
                <p class="words">購買新品滿3000折300元，再送高級質感圍巾</p>
              </div></a></li>
          <li><a href="javascript:void(0)">
              <figure><img data-lazy="../../upload/fa2/home/newsImg2_420_390.jpg" alt=""></figure>
              <div class="_text">
                <!--類型-->
                <p class="type">EVENTS
                  <!--日期--><span>2019-02-30</span>
                </p>
                <p class="title">聖誕優惠開跑囉！</p>
                <!-- 字數限制 55字-->
                <p class="words">眾多品牌推出限量禮盒，加碼商品大放送</p>
              </div></a></li>
          <li><a href="javascript:void(0)">
              <!-- 後端請注意: 如果未填入文字的話 把下方div移除-->
              <!-- 後端請注意: 下方背景顏色要讓客戶可以換-->
              <div class="slogan" style="background-color:#3c3b52">SALE !</div>
              <figure><img data-lazy="../../upload/fa2/home/newsImg3_420_390.jpg" alt=""></figure>
              <div class="_text">
                <!--類型-->
                <p class="type">Member
                  <!--日期--><span>2019-02-30</span>
                </p>
                <p class="title">周年慶全館八折起 卡友享專屬加碼優惠</p>
                <!-- 字數限制 55字-->
                <p class="words">活動自11/10到11/23，全館八折起，再享瘋狂回饋</p>
              </div></a></li>
          <li><a href="javascript:void(0)">
              <figure><img data-lazy="../../upload/fa2/home/newsImg2_420_390.jpg" alt=""></figure>
              <div class="_text">
                <!--類型-->
                <p class="type">EVENTS
                  <!--日期--><span>2019-02-30</span>
                </p>
                <p class="title">聖誕優惠開跑囉！</p>
                <!-- 字數限制 55字-->
                <p class="words">眾多品牌推出限量禮盒，加碼商品大放送</p>
              </div></a></li>
        </ul>
      </section>
    </article>
    <!-- 後端請注意: 下方背景圖片data-src要可更換-->
    <article class="living b-lazy" data-src="../../upload/fa2/home/livingBg_1670_1080.jpg">
      <section class="_title">
        <p class="ch">社群動態</p>
        <p class="en">Living with us</p>
        <p class="words">創造新新生活 讓夢想在這裡發光為中心理念，國際級都會型百貨，強調One Stop Shopping</p>
      </section>
      <section class="content">
        <ul>
          <!--後端請注意: li 有兩種模式 請在下方li依序填入相對應的class
          1.fb
          2.ig
          -->
          <!--後端請注意: 連結有可能是影片 設計師希望影片hover過去時要有撥放圖示 所以請在下方li加上 class "hasVideo"-->
          <li class="fb"><a href="javascript:void(0)" target="_blank">
              <figure><img data-lazy="../../upload/fa2/home/livingImg_300_290.jpg" alt=""></figure>
              <p>一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十</p></a></li>
          <li class="ig"><a href="javascript:void(0)" target="_blank">
              <figure><img data-lazy="../../upload/fa2/home/livingImg2_300_290.jpg" alt=""></figure>
              <p>一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十</p></a></li>
          <li class="fb"><a href="javascript:void(0)" target="_blank">
              <figure><img data-lazy="../../upload/fa2/home/livingImg3_300_290.jpg" alt=""></figure>
              <p>一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十</p></a></li>
          <li class="ig"><a href="javascript:void(0)" target="_blank">
              <figure><img data-lazy="../../upload/fa2/home/livingImg4_300_290.jpg" alt=""></figure>
              <p>一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十</p></a></li>
          <li class="ig hasVideo"><a href="javascript:void(0)" target="_blank">
              <figure><img data-lazy="../../upload/fa2/home/livingImg5_300_290.jpg" alt=""></figure>
              <p>一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十</p></a></li>
          <li class="fb"><a href="javascript:void(0)" target="_blank">
              <figure><img data-lazy="../../upload/fa2/home/livingImg6_300_290.jpg" alt=""></figure>
              <p>一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十</p></a></li>
          <li class="ig"><a href="javascript:void(0)" target="_blank">
              <figure><img data-lazy="../../upload/fa2/home/livingImg7_300_290.jpg" alt=""></figure>
              <p>一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十</p></a></li>
          <li class="fb"><a href="javascript:void(0)" target="_blank">
              <figure><img data-lazy="../../upload/fa2/home/livingImg8_300_290.jpg" alt=""></figure>
              <p>一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十</p></a></li>
        </ul>
      </section>
    </article>
    <article class="dishes">
      <!-- 後端請注意: 下方section 有兩種模式 需要讓客戶可以選擇要哪種模式
      1. type1 兩張圖
      2. type2 一張圖
      -->
      <section class="type1">
        <!-- 後端請注意: 下方的background-color 要讓客戶可以選擇-->
        <div class="_title" style="background-color:#c19685">
          <div>
            <p class="ch">經典私藏菜</p>
            <p class="en">Home cuisine</p>
            <ul>
              <!-- 後端請注意: 請在後台備註 下方li的數量 建議不要上傳超過4個-->
              <!-- data-src:大圖位置 -->
              <!--圖片建議尺寸: 840*700-->
              <li data-src="../../upload/fa2/home/cuisineImg1_840_700.jpg"><a href="javascript:void(0)">
                  <!--中文 -->
                  <p>下午茶</p>
                  <!-- 英文--><span>Afternoon tea</span></a></li>
              <!-- data-src:大圖位置 -->
              <!--圖片建議尺寸: 840*700-->
              <li data-src="../../upload/fa2/home/cuisineImg2_840_700.jpg"><a href="javascript:void(0)">
                  <!--中文 -->
                  <p>米其林一星</p>
                  <!-- 英文--><span>Michelin</span></a></li>
              <!-- data-src:大圖位置 -->
              <!--圖片建議尺寸: 840*700-->
              <li data-src="../../upload/fa2/home/cuisineImg1_840_700.jpg"><a href="javascript:void(0)">
                  <!--中文 -->
                  <p>北京烤鴨</p>
                  <!-- 英文--><span>Peking duck </span></a></li>
            </ul>
          </div>
        </div>
        <!--大圖-->
        <figure class="big"></figure>
        <!--小圖-->
        <figure class="small">
          <!-- 小圖不必跟著換-->
          <!-- 圖片建議尺寸: 430*700--><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/home/cuisineSmallImg_430_700.jpg" alt="">
        </figure>
      </section>
      <section class="type1">
        <!-- 後端請注意: 下方的background-color 要讓客戶可以選擇-->
        <div class="_title" style="background-color:#c19685">
          <div>
            <p class="ch">經典私藏菜</p>
            <p class="en">Home cuisine</p>
            <ul>
              <!-- 後端請注意: 請在後台備註 下方li的數量 建議不要上傳超過4個-->
              <!-- data-src:大圖位置 -->
              <!--圖片建議尺寸: 840*700-->
              <li data-src="../../upload/fa2/home/cuisineImg1_840_700.jpg"><a href="javascript:void(0)">
                  <!--中文 -->
                  <p>下午茶</p>
                  <!-- 英文--><span>Afternoon tea</span></a></li>
              <!-- data-src:大圖位置 -->
              <!--圖片建議尺寸: 840*700-->
              <li data-src="../../upload/fa2/home/cuisineImg2_840_700.jpg"><a href="javascript:void(0)">
                  <!--中文 -->
                  <p>米其林一星</p>
                  <!-- 英文--><span>Michelin</span></a></li>
              <!-- data-src:大圖位置 -->
              <!--圖片建議尺寸: 840*700-->
              <li data-src="../../upload/fa2/home/cuisineImg1_840_700.jpg"><a href="javascript:void(0)">
                  <!--中文 -->
                  <p>北京烤鴨</p>
                  <!-- 英文--><span>Peking duck </span></a></li>
            </ul>
          </div>
        </div>
        <!--大圖-->
        <figure class="big"></figure>
        <!--小圖-->
        <figure class="small">
          <!-- 小圖不必跟著換-->
          <!-- 圖片建議尺寸: 430*700--><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/home/cuisineSmallImg_430_700.jpg" alt="">
        </figure>
      </section>
      <section class="type2">
        <!-- 後端請注意: 下方的background-color 要讓客戶可以選擇-->
        <div class="_title" style="background-color:#851d27">
          <div>
            <p class="ch">異國料理</p>
            <p class="en">Exotic dishes</p>
            <ul>
              <!-- 後端請注意: 請在後台備註 下方li的數量 建議不要上傳超過4個-->
              <!-- data-src:大圖位置 -->
              <!--圖片建議尺寸: 840*470-->
              <li data-src="../../upload/fa2/home/cuisineImg3_840_470.jpg"><a href="javascript:void(0)">
                  <!--中文 -->
                  <p>義式餐廳</p>
                  <!-- 英文--><span>Italian restaurant</span></a></li>
              <!-- data-src:大圖位置 -->
              <!--圖片建議尺寸: 840*470-->
              <li data-src="../../upload/fa2/home/cuisineImg4_840_470.jpg"><a href="javascript:void(0)">
                  <!--中文 -->
                  <p>港式點心</p>
                  <!-- 英文--><span>Hong Kong style</span></a></li>
            </ul>
          </div>
        </div>
        <!--大圖-->
        <figure class="big"></figure>
      </section>
      <section class="type2">
        <!-- 後端請注意: 下方的background-color 要讓客戶可以選擇-->
        <div class="_title" style="background-color:#851d27">
          <div>
            <p class="ch">異國料理</p>
            <p class="en">Exotic dishes</p>
            <ul>
              <!-- 後端請注意: 請在後台備註 下方li的數量 建議不要上傳超過4個-->
              <!-- data-src:大圖位置 -->
              <!--圖片建議尺寸: 840*470-->
              <li data-src="../../upload/fa2/home/cuisineImg3_840_470.jpg"><a href="javascript:void(0)">
                  <!--中文 -->
                  <p>義式餐廳</p>
                  <!-- 英文--><span>Italian restaurant</span></a></li>
              <!-- data-src:大圖位置 -->
              <!--圖片建議尺寸: 840*470-->
              <li data-src="../../upload/fa2/home/cuisineImg4_840_470.jpg"><a href="javascript:void(0)">
                  <!--中文 -->
                  <p>港式點心</p>
                  <!-- 英文--><span>Hong Kong style</span></a></li>
            </ul>
          </div>
        </div>
        <!--大圖-->
        <figure class="big"></figure>
      </section>
    </article>
    <article class="explore">
      <section class="_title">
        <p class="ch">品牌導覽</p>
        <p class="en">Explore HANSIN</p>
      </section>
      <section class="masonry">
        <div class="grid-sizer"></div>
        <!--後端請注意: 下方區塊有三種模式 請填入相對應的class
        1. big   圖片建議尺寸: 720*670
        2. middle   圖片建議尺寸: 720*330
        3. small   圖片建議尺寸: 380*500
        -->
        <div class="small"><a href="javascript:void(0)">
            <figure>
              <!--圖片建議尺寸: 330*460 --><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/home/exploreSmall1_360_500.jpg" alt="">
            </figure></a></div>
        <div class="big"><a href="javascript:void(0)">
            <figure>
              <!--圖片建議尺寸: 700*630 --><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/home/exploreBig1_720_700.jpg" alt="">
            </figure>
            <!-- 後端請注意: 如果沒有文字的話請把結構移除-->
            <!-- 後端請注意: 文字位置有四個 須讓客戶選擇
            1. 左下 leftDown
            2. 右下 rightDown
            3. 左上 leftUp
            4. 右上 rightUp
            -->
            <!-- 後端請注意: 須讓客戶選擇文字要白色或是黑色  如果要白色的話請在下方div加上class "white"-->
            <div class="_text leftUp">
              <p class="type">國際精品</p>
              <p class="en">Miracle,So Magic!</p>
              <p class="ch">每個人都渴望用擁有的香水品牌</p>
            </div></a></div>
        <div class="small"><a href="javascript:void(0)">
            <figure>
              <!--圖片建議尺寸: 330*460 --><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/home/exploreSmall2_360_500.jpg" alt="">
            </figure>
            <!-- 後端請注意: 如果沒有文字的話請把結構移除-->
            <!-- 後端請注意: 文字位置有四個 須讓客戶選擇
            1. 左下 leftDown
            2. 右下 rightDown
            3. 左上 leftUp
            4. 右上 rightUp
            -->
            <!-- 後端請注意: 須讓客戶選擇文字要白色或是黑色  如果要白色的話請在下方div加上class "white"-->
            <div class="_text leftUp white">
              <p class="type">生活品味</p>
              <p class="en">Men’s Collection</p>
              <p class="ch">休閒品牌穿出男人味</p>
            </div></a></div>
        <div class="small"><a href="javascript:void(0)">
            <figure>
              <!--圖片建議尺寸: 330*460 --><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/home/exploreSmall3_360_500.jpg" alt="">
            </figure>
            <!-- 後端請注意: 如果沒有文字的話請把結構移除-->
            <!-- 後端請注意: 文字位置有四個 須讓客戶選擇
            1. 左下 leftDown
            2. 右下 rightDown
            3. 左上 leftUp
            4. 右上 rightUp
            -->
            <!-- 後端請注意: 須讓客戶選擇文字要白色或是黑色  如果要白色的話請在下方div加上class "white"-->
            <div class="_text leftDown">
              <p class="type">獨家聯名</p>
              <p class="en">Don’t Miss Out!</p>
              <p class="ch">絕不能錯過的藝術聯名托特包</p>
            </div></a></div>
        <div class="small"><a href="javascript:void(0)">
            <figure>
              <!--圖片建議尺寸: 330*460 --><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/home/exploreSmall4_360_500.jpg" alt="">
            </figure></a></div>
        <div class="middle"><a href="javascript:void(0)">
            <figure>
              <!--圖片建議尺寸: 700*290 --><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/home/exploreMiddle1_720_300.jpg" alt="">
            </figure>
            <!-- 後端請注意: 如果沒有文字的話請把結構移除-->
            <!-- 後端請注意: 文字位置有四個 須讓客戶選擇
            1. 左下 leftDown
            2. 右下 rightDown
            3. 左上 leftUp
            4. 右上 rightUp
            -->
            <!-- 後端請注意: 須讓客戶選擇文字要白色或是黑色  如果要白色的話請在下方div加上class "white"-->
            <div class="_text rightDown">
              <p class="type">專櫃活動</p>
              <p class="en">Top5 Cosmetic</p>
              <p class="ch">時尚業界彩妝師給你完美無瑕妝感</p>
            </div></a></div>
        <div class="small"><a href="javascript:void(0)">
            <figure>
              <!--圖片建議尺寸: 330*460 --><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/home/exploreSmall1_360_500.jpg" alt="">
            </figure></a></div>
        <div class="big"><a href="javascript:void(0)">
            <figure>
              <!--圖片建議尺寸: 700*630 --><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/home/exploreBig1_720_700.jpg" alt="">
            </figure>
            <!-- 後端請注意: 如果沒有文字的話請把結構移除-->
            <!-- 後端請注意: 文字位置有四個 須讓客戶選擇
            1. 左下 leftDown
            2. 右下 rightDown
            3. 左上 leftUp
            4. 右上 rightUp
            -->
            <!-- 後端請注意: 須讓客戶選擇文字要白色或是黑色  如果要白色的話請在下方div加上class "white"-->
            <div class="_text leftUp">
              <p class="type">國際精品</p>
              <p class="en">Miracle,So Magic!</p>
              <p class="ch">每個人都渴望用擁有的香水品牌</p>
            </div></a></div>
        <div class="small"><a href="javascript:void(0)">
            <figure>
              <!--圖片建議尺寸: 330*460 --><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/home/exploreSmall2_360_500.jpg" alt="">
            </figure>
            <!-- 後端請注意: 如果沒有文字的話請把結構移除-->
            <!-- 後端請注意: 文字位置有四個 須讓客戶選擇
            1. 左下 leftDown
            2. 右下 rightDown
            3. 左上 leftUp
            4. 右上 rightUp
            -->
            <!-- 後端請注意: 須讓客戶選擇文字要白色或是黑色  如果要白色的話請在下方div加上class "white"-->
            <div class="_text leftUp white">
              <p class="type">生活品味</p>
              <p class="en">Men’s Collection</p>
              <p class="ch">休閒品牌穿出男人味</p>
            </div></a></div>
        <div class="small"><a href="javascript:void(0)">
            <figure>
              <!--圖片建議尺寸: 330*460 --><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/home/exploreSmall3_360_500.jpg" alt="">
            </figure>
            <!-- 後端請注意: 如果沒有文字的話請把結構移除-->
            <!-- 後端請注意: 文字位置有四個 須讓客戶選擇
            1. 左下 leftDown
            2. 右下 rightDown
            3. 左上 leftUp
            4. 右上 rightUp
            -->
            <!-- 後端請注意: 須讓客戶選擇文字要白色或是黑色  如果要白色的話請在下方div加上class "white"-->
            <div class="_text leftDown">
              <p class="type">獨家聯名</p>
              <p class="en">Don’t Miss Out!</p>
              <p class="ch">絕不能錯過的藝術聯名托特包</p>
            </div></a></div>
        <div class="small"><a href="javascript:void(0)">
            <figure>
              <!--圖片建議尺寸: 330*460 --><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/home/exploreSmall4_360_500.jpg" alt="">
            </figure></a></div>
        <div class="middle"><a href="javascript:void(0)">
            <figure>
              <!--圖片建議尺寸: 700*290 --><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/home/exploreMiddle1_720_300.jpg" alt="">
            </figure>
            <!-- 後端請注意: 如果沒有文字的話請把結構移除-->
            <!-- 後端請注意: 文字位置有四個 須讓客戶選擇
            1. 左下 leftDown
            2. 右下 rightDown
            3. 左上 leftUp
            4. 右上 rightUp
            -->
            <!-- 後端請注意: 須讓客戶選擇文字要白色或是黑色  如果要白色的話請在下方div加上class "white"-->
            <div class="_text rightDown">
              <p class="type">專櫃活動</p>
              <p class="en">Top5 Cosmetic</p>
              <p class="ch">時尚業界彩妝師給你完美無瑕妝感</p>
            </div></a></div>
      </section>
    </article>
    <article class="member">
      <!--後端請注意: 下方data-src要可以更換-->
      <section class="_title b-lazy" data-src="../../upload/fa2/home/memberTitleBg_1670_1080.jpg">
        <div class="_text">
          <p class="ch">寵愛漢神</p>
          <p class="en">Only member</p>
          <p class="words">評鑑為全台灣百貨公司服務品質第一名，在百貨業百家爭鳴的高度競爭下，獲此殊榮，令漢神百貨更加堅定</p>
        </div>
      </section>
      <section class="content">
        <div class="row">
          <figure><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/home/memberImg1_900_535.jpg" alt=""></figure>
          <!--後端請注意: 下方background-image要可以更換-->
          <div class="_text b-lazy" data-src="../../upload/fa2/home/memberTextBg_770_500.jpg">
            <div>
              <h6>尊榮服務</h6>
              <p class="ch">Enjoy more benefits </p>
              <p class="en">享受更多優惠及好禮滿額贈 </p>
              <ul>
                <li><a href="javascript:void(0)"><span class="icon-discount"></span>
                    <p>超級卡專區</p>
                    <p>Discount</p></a></li>
                <li><a href="javascript:void(0)"><span class="icon-member"></span>
                    <p>會員專區</p>
                    <p>Member</p></a></li>
                <li><a href="javascript:void(0)"><span class="icon-floor"></span>
                    <p>樓層導覽</p>
                    <p>Floor tour</p></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <figure><img class="b-lazy" src="../../assets/img/blazy_blank.svg" data-src="../../upload/fa2/home/memberImg2_900_535.jpg" alt=""></figure>
          <!--後端請注意: 下方background-image要可以更換-->
          <div class="_text b-lazy" data-src="../../upload/fa2/home/memberTextBg2_770_500.jpg">
            <div>
              <h6>專屬為您</h6>
              <p class="ch">A Day for Special</p>
              <p class="en">打造與眾不同的精緻生活美學</p>
              <ul>
                <li><a href="javascript:void(0)"><span class="../../assets/img/discount_gray_40_40.png ../../assets/img/discount_gold_40_40.png"><img src="../../assets/img/discount_gray_40_40.png" alt=""><img src="../../assets/img/discount_gold_40_40.png" alt=""></span>
                    <p>關於漢神百貨</p>
                    <p>About Hanshin</p></a></li>
                <li><a href="javascript:void(0)"><span><img alt=""><img alt=""></span>
                    <p>交通資訊</p>
                    <p>How to arrive</p></a></li>
                <li><a href="javascript:void(0)"><span><img alt=""><img alt=""></span>
                    <p>商業合作</p>
                    <p>Cooperation</p></a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </article>
  </main>
  <footer>
    <article class="topNav">
      <section>
        <div class="_title">
          <p class="en">Need any helps?</p>
          <p class="ch">您需要什麼幫助呢?</p>
        </div>
        <ul>
          <li><a href="javascript:void(0)">
              <p class="en">Tax Refund Service</p>
              <p class="ch">退稅服務</p></a></li>
          <li><a href="javascript:void(0)">
              <p class="en">About Voucher</p>
              <p class="ch">禮卷專區</p></a></li>
          <li><a href="javascript:void(0)">
              <p class="en">Become our Member</p>
              <p class="ch">我想申辦超集卡</p></a></li>
          <li><a href="javascript:void(0)">
              <p class="en">About Parking</p>
              <p class="ch">停車優惠</p></a></li>
          <li><a href="javascript:void(0)">
              <p class="en">Lost &amp; Found</p>
              <p class="ch">失物招領</p></a></li>
        </ul>
      </section>
    </article>
    <article class="ftContent" style="background-image:url('../../assets/img/ftBg_1670_520.jpg')">
      <section class="webMap">
        <div class="type">
          <div class="typeName">
            <p>ABOUT</p>
          </div>
          <div class="typeLink">
            <ul>
              <li><a href="javascript:void(0)">關於漢神百貨</a></li>
              <li><a href="javascript:void(0)">交通資訊</a></li>
              <li><a href="javascript:void(0)">最新消息</a></li>
            </ul>
          </div>
        </div>
        <div class="type">
          <div class="typeName">
            <p>SERVICE</p>
          </div>
          <div class="typeLink">
            <ul>
              <li><a href="javascript:void(0)">服務中心</a></li>
              <li><a href="javascript:void(0)">聯繫我們</a></li>
              <li><a href="javascript:void(0)">電子型錄</a></li>
              <li><a href="javascript:void(0)">服務之星</a></li>
            </ul>
          </div>
        </div>
        <div class="type">
          <div class="typeName">
            <p>EXPLORE</p>
          </div>
          <div class="typeLink">
            <ul>
              <li><a href="javascript:void(0)">樓層導覽</a></li>
              <li><a href="javascript:void(0)">品牌導覽</a></li>
              <li><a href="javascript:void(0)">美食導覽</a></li>
            </ul>
          </div>
        </div>
        <div class="type">
          <div class="typeName">
            <p>COOPERATE</p>
          </div>
          <div class="typeLink">
            <ul>
              <li><a href="javascript:void(0)">廠商專區</a></li>
              <li><a href="javascript:void(0)">相關企業</a></li>
              <li><a href="javascript:void(0)">商業合作</a></li>
            </ul>
          </div>
        </div>
        <div class="type">
          <div class="typeName">
            <p>JOIN US</p>
          </div>
          <div class="typeLink">
            <ul>
              <li><a href="javascript:void(0)">會員專區</a></li>
              <li><a href="javascript:void(0)">超集卡專區</a></li>
              <li><a href="javascript:void(0)">人才招募</a></li>
            </ul>
          </div>
        </div>
        <div class="type">
          <div class="typeName">
            <p>Online shopping</p>
          </div>
          <div class="typeLink">
            <ul>
              <li><a href="javascript:void(0)">漢神百貨網路購物</a></li>
            </ul>
          </div>
        </div>
      </section>
      <section class="infomation">
        <div class="address">
          <h6>ADDRESS</h6>
          <p>高雄市前金區成功一路266-1號</p>
          <div class="number">
            <p data-name="電話">07-215-7266</p>
            <p data-name="服務專線">0800-018-980</p>
          </div>
        </div>
        <div class="businessHours">
          <h6>BUSINESS HOURS</h6>
          <ul>
            <li>
              <p>週一至週四 11:00 - 22:00</p>
            </li>
            <li>
              <p>週六/例假日 10:30 - 22:30</p>
            </li>
            <li>
              <p>週五/假日前一天 11:00 - 22:30</p>
            </li>
            <li>
              <p>例假最終日 10:30 - 22:00</p>
            </li>
          </ul>
        </div>
      </section>
      <section class="ftBottom">
        <div class="copyRight"><img src="../../assets/img/ftLogo_160_40.png" alt="">
          <p>© Hanshin department store co.ltd all right reserve. Design by <a href="https://www.wddgroup.com">WDD</a></p>
        </div>
        <div class="follow">
          <h6>FOLLOW US</h6>
          <ul>
            <li><a href="javascript:void(0)"><span class="icon-facebook"></span></a></li>
            <li><a href="javascript:void(0)"><span class="icon-instagram"></span></a></li>
            <li><a href="javascript:void(0)"><span class="icon-twitter"></span></a></li>
            <li><a href="javascript:void(0)"><span class="icon-youtube"></span></a></li>
          </ul>
        </div>
      </section>
    </article>
    <!-- 廣告-->
    <article class="commercial">
      <section style="background-image: url('../../upload/fa2/commercialBg_1090_535.jpg')">
        <div class="liboxClose"><span></span></div>
        <div class="_slick">
          <ul class="single-item">
            <li class="item video-item" data-value="video">
              <!-- 後端請注意:影片尺寸規定 560*315 不照規定上影片 壞掉前端不負責任-->
              <!-- 後端請注意:data-videoid 請填入 youtube 影片的id-->
              <div class="videoBox" data-videoId="kCU3ht6rMMg"></div>
              <div class="open-box" data-videoid="kCU3ht6rMMg"></div>
            </li>
            <li class="item" data-value="img"><a href="javascript:void(0)">
                <!-- 後端請注意:如果是圖片請照這個格式 可以放gif圖片-->
                <picture>
                  <!-- [if IE 9]><video style="display: none;"><![endif]-->
                  <!-- 後端請注意:手機圖片大小-->
                  <source srcset="../../upload/fa2/commercialImg_1060_400.jpg" media="(max-width:1024px)">
                  <!-- 後端請注意:電腦圖片大小 1050*590--><img data-lazy="../../upload/fa2/commercialImg_1060_400.jpg" alt="">
                </picture></a></li>
            <li class="item video-item" data-value="video">
              <!-- 後端請注意:影片尺寸規定 560*315 不照規定上影片 壞掉前端不負責任-->
              <!-- 後端請注意:data-videoid 請填入 youtube 影片的id-->
              <div class="videoBox" data-videoId="VhCr88-MFfM"></div>
              <div class="open-box" data-videoid="VhCr88-MFfM"></div>
            </li>
            <li class="item video-item" data-value="video">
              <!-- 後端請注意:影片尺寸規定 560*315 不照規定上影片 壞掉前端不負責任-->
              <!-- 後端請注意:data-videoid 請填入 youtube 影片的id-->
              <div class="videoBox" data-videoId="dpfsUCOq75s"></div>
              <div class="open-box" data-videoid="dpfsUCOq75s"></div>
            </li>
          </ul>
        </div>
      </section>
    </article>
    <artilce class="guideFooter">
      <ul>
        <li><a href="javascript:void(0)">
            <figure><img data-lazy="../../upload/fa2/guide/footerImg_1080_480.jpg" alt=""></figure></a></li>
        <li><a href="javascript:void(0)">
            <figure><img data-lazy="../../upload/fa2/guide/footerImg_1080_480.jpg" alt=""></figure></a></li>
      </ul>
    </artilce>
  </footer>
</body>
  <!-- 套件js:我把它弄成一包-->
  <script src="../../assets/js/nick.js"></script>
  <!-- 自訂的 js-->
  <script src="../../assets/js/main.js"></script>
  <script type="application/ld+json">
    {  
        "@context": "http://www.schema.org",
        "@type": "ProfessionalService",
        //- 網站名子
        "name": "hanshin",   
        //- email
        "email": "mailto:wdd@wddgroup.com",
        //- 本站網址
        "url": "https://www.hanshin.com/",
        //- logo位置
        "image": "https://www.hanshin.com/assets/img/fb-creatop.jpg",
        //- 商品價格區間
        "priceRange":"500,000~3,000,000",
        //- 電話
        "telephone": "+886-4-23223899",
        //- logo位置
        "logo": "https://www.hanshin.com/fb-creatop.jpg",
        //- 地址
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "大容東街90號7樓-1",
            "addressLocality": "西屯區",
            "addressRegion": "台中市",
            "postalCode": "40758",
            "addressCountry": "中華民國 (台灣)"
        },
        //- 銷售據點
        "geo": {
            "@type": "GeoCoordinates",
            "latitude": "24.1577281",
            "longitude": "120.6488368"
        },
        //- 據點地圖
        "hasMap": "https://www.google.com.tw/maps/place/%E5%A8%81%E5%BE%B7%E6%95%B8%E4%BD%8D%E8%A8%AD%E8%A8%88/@24.1577281,120.6488368,15z/data=!4m5!3m4!1s0x0:0x9d235559e0bbc032!8m2!3d24.1577281!4d120.6488368",
        //- 營業時間
        "openingHours": "Mo, Tu, We, Th, Fr 09:00-18:30",
        //- 聯絡方式
        "contactPoint": {
            "@type": "ContactPoint",
            "contactType": "customer service",
            "telephone": "+886-4-23223899",
            "faxNumber": "+886-4-23223898"
        },
        //- 外部相關連結
        "sameAs": ["https://www.facebook.com/wddgroup/"]
    }
  </script>
<script>
  function resetSlick(){
      $(".news ._slick ul").slick('unslick');
  }
</script>
</html>